<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT2004Gemmenマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： LDNS王肖 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.basic.IDbT2004GemmenMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT2004Gemmen">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.basic.IDbT2004GemmenMapper.allColumns_DbT2004Gemmen" />
     FROM
         rgdb."DbT2004Gemmen"
     WHERE
         rgdb."DbT2004Gemmen"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT2004Gemmen">
         "DbT2004Gemmen"."choteiNendo" as "dbT2004Gemmen_choteiNendo",
         "DbT2004Gemmen"."fukaNendo" as "dbT2004Gemmen_fukaNendo",
         "DbT2004Gemmen"."tsuchishoNo" as "dbT2004Gemmen_tsuchishoNo",
         "DbT2004Gemmen"."rirekiNo" as "dbT2004Gemmen_rirekiNo",
         "DbT2004Gemmen"."insertDantaiCd" as "dbT2004Gemmen_insertDantaiCd",
         "DbT2004Gemmen"."insertTimestamp" as "dbT2004Gemmen_insertTimestamp",
         "DbT2004Gemmen"."insertReamsLoginId" as "dbT2004Gemmen_insertReamsLoginId",
         "DbT2004Gemmen"."insertContextId" as "dbT2004Gemmen_insertContextId",
         "DbT2004Gemmen"."isDeleted" as "dbT2004Gemmen_isDeleted",
         "DbT2004Gemmen"."updateCount" as "dbT2004Gemmen_updateCount",
         "DbT2004Gemmen"."lastUpdateTimestamp" as "dbT2004Gemmen_lastUpdateTimestamp",
         "DbT2004Gemmen"."lastUpdateReamsLoginId" as "dbT2004Gemmen_lastUpdateReamsLoginId",
         "DbT2004Gemmen"."shinseiYMD" as "dbT2004Gemmen_shinseiYMD",
         "DbT2004Gemmen"."ketteiYMD" as "dbT2004Gemmen_ketteiYMD",
         "DbT2004Gemmen"."torikeshiYMD" as "dbT2004Gemmen_torikeshiYMD",
         "DbT2004Gemmen"."jotaiKubun" as "dbT2004Gemmen_jotaiKubun",
         "DbT2004Gemmen"."sakuseiKubun" as "dbT2004Gemmen_sakuseiKubun",
         "DbT2004Gemmen"."shinseiJiyu" as "dbT2004Gemmen_shinseiJiyu",
         "DbT2004Gemmen"."gemmenJiyuCode" as "dbT2004Gemmen_gemmenJiyuCode",
         "DbT2004Gemmen"."gemmenJiyu" as "dbT2004Gemmen_gemmenJiyu",
         "DbT2004Gemmen"."gemmenTorikeshiJiyuCode" as "dbT2004Gemmen_gemmenTorikeshiJiyuCode",
         "DbT2004Gemmen"."gemmenTorikeshiJiyu" as "dbT2004Gemmen_gemmenTorikeshiJiyu",
         "DbT2004Gemmen"."shinseiGemmenGaku" as "dbT2004Gemmen_shinseiGemmenGaku",
         "DbT2004Gemmen"."ketteiGemmenGaku" as "dbT2004Gemmen_ketteiGemmenGaku",
         "DbT2004Gemmen"."torikeshiGemmenGaku" as "dbT2004Gemmen_torikeshiGemmenGaku"
    </sql>


    <!--テーブルDbT2004Gemmenの項目をDbT2004GemmenEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT2004GemmenEntity" type="jp.co.ndensan.reams.db.dbb.entity.db.basic.gemmen.DbT2004GemmenEntity" autoMapping="true">
        <id property="choteiNendo" column="dbT2004Gemmen_choteiNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <id property="fukaNendo" column="dbT2004Gemmen_fukaNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <id property="tsuchishoNo" column="dbT2004Gemmen_tsuchishoNo" />
        <id property="rirekiNo" column="dbT2004Gemmen_rirekiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="insertDantaiCd" column="dbT2004Gemmen_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT2004Gemmen_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT2004Gemmen_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT2004Gemmen_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT2004Gemmen_isDeleted" />
        <result property="updateCount" column="dbT2004Gemmen_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT2004Gemmen_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT2004Gemmen_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shinseiYMD" column="dbT2004Gemmen_shinseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ketteiYMD" column="dbT2004Gemmen_ketteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="torikeshiYMD" column="dbT2004Gemmen_torikeshiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="jotaiKubun" column="dbT2004Gemmen_jotaiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="sakuseiKubun" column="dbT2004Gemmen_sakuseiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shinseiJiyu" column="dbT2004Gemmen_shinseiJiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="gemmenJiyuCode" column="dbT2004Gemmen_gemmenJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="gemmenJiyu" column="dbT2004Gemmen_gemmenJiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="gemmenTorikeshiJiyuCode" column="dbT2004Gemmen_gemmenTorikeshiJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="gemmenTorikeshiJiyu" column="dbT2004Gemmen_gemmenTorikeshiJiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shinseiGemmenGaku" column="dbT2004Gemmen_shinseiGemmenGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="ketteiGemmenGaku" column="dbT2004Gemmen_ketteiGemmenGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="torikeshiGemmenGaku" column="dbT2004Gemmen_torikeshiGemmenGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
    </resultMap>

    <select id="getEntity" resultMap="ResultMap_DbT2004GemmenEntity">
        SELECT
        <include refid="allColumns_DbT2004Gemmen" />
        FROM
        rgdb."DbT2004Gemmen"
    </select>
    
</mapper>
