<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT2011RankJohoマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： LDNS王肖 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.basic.IDbT2011RankJohoMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT2011RankJoho">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.basic.IDbT2011RankJohoMapper.allColumns_DbT2011RankJoho" />
     FROM
         rgdb."DbT2011RankJoho"
     WHERE
         rgdb."DbT2011RankJoho"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT2011RankJoho">
         "DbT2011RankJoho"."fukaNendo" as "dbT2011RankJoho_fukaNendo",
         "DbT2011RankJoho"."rankKubun" as "dbT2011RankJoho_rankKubun",
         "DbT2011RankJoho"."insertDantaiCd" as "dbT2011RankJoho_insertDantaiCd",
         "DbT2011RankJoho"."insertTimestamp" as "dbT2011RankJoho_insertTimestamp",
         "DbT2011RankJoho"."insertReamsLoginId" as "dbT2011RankJoho_insertReamsLoginId",
         "DbT2011RankJoho"."insertContextId" as "dbT2011RankJoho_insertContextId",
         "DbT2011RankJoho"."isDeleted" as "dbT2011RankJoho_isDeleted",
         "DbT2011RankJoho"."updateCount" as "dbT2011RankJoho_updateCount",
         "DbT2011RankJoho"."lastUpdateTimestamp" as "dbT2011RankJoho_lastUpdateTimestamp",
         "DbT2011RankJoho"."lastUpdateReamsLoginId" as "dbT2011RankJoho_lastUpdateReamsLoginId",
         "DbT2011RankJoho"."rankName" as "dbT2011RankJoho_rankName"
    </sql>


    <!--テーブルDbT2011RankJohoの項目をDbT2011RankJohoEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT2011RankJohoEntity" type="jp.co.ndensan.reams.db.dbb.entity.db.basic.hokenryorank.DbT2011RankJohoEntity" autoMapping="true">
        <id property="fukaNendo" column="dbT2011RankJoho_fukaNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <id property="rankKubun" column="dbT2011RankJoho_rankKubun" />
        <result property="insertDantaiCd" column="dbT2011RankJoho_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT2011RankJoho_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT2011RankJoho_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT2011RankJoho_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT2011RankJoho_isDeleted" />
        <result property="updateCount" column="dbT2011RankJoho_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT2011RankJoho_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT2011RankJoho_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="rankName" column="dbT2011RankJoho_rankName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
    
    <select id="getEntity" resultMap="ResultMap_DbT2011RankJohoEntity">
        SELECT
        <include refid="allColumns_DbT2011RankJoho" />
        FROM
        rgdb."DbT2011RankJoho"
    </select>

</mapper>
