<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbV2002Fukaマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： LDNS王肖 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.basic.IDbV2002FukaMapper">
    
    <sql id="allColumns_DbV2002Fuka">
         "DbV2002Fuka"."choteiNendo" as "dbV2002Fuka_choteiNendo",
         "DbV2002Fuka"."fukaNendo" as "dbV2002Fuka_fukaNendo",
         "DbV2002Fuka"."tsuchishoNo" as "dbV2002Fuka_tsuchishoNo",
         "DbV2002Fuka"."rirekiNo" as "dbV2002Fuka_rirekiNo",
         "DbV2002Fuka"."insertDantaiCd" as "dbV2002Fuka_insertDantaiCd",
         "DbV2002Fuka"."insertTimestamp" as "dbV2002Fuka_insertTimestamp",
         "DbV2002Fuka"."insertReamsLoginId" as "dbV2002Fuka_insertReamsLoginId",
         "DbV2002Fuka"."insertContextId" as "dbV2002Fuka_insertContextId",
         "DbV2002Fuka"."isDeleted" as "dbV2002Fuka_isDeleted",
         "DbV2002Fuka"."updateCount" as "dbV2002Fuka_updateCount",
         "DbV2002Fuka"."lastUpdateTimestamp" as "dbV2002Fuka_lastUpdateTimestamp",
         "DbV2002Fuka"."lastUpdateReamsLoginId" as "dbV2002Fuka_lastUpdateReamsLoginId",
         "DbV2002Fuka"."hihokenshaNo" as "dbV2002Fuka_hihokenshaNo",
         "DbV2002Fuka"."shikibetsuCode" as "dbV2002Fuka_shikibetsuCode",
         "DbV2002Fuka"."setaiCode" as "dbV2002Fuka_setaiCode",
         "DbV2002Fuka"."setaiInsu" as "dbV2002Fuka_setaiInsu",
         "DbV2002Fuka"."shikakuShutokuYMD" as "dbV2002Fuka_shikakuShutokuYMD",
         "DbV2002Fuka"."shikakuShutokuJiyu" as "dbV2002Fuka_shikakuShutokuJiyu",
         "DbV2002Fuka"."shikakuSoshitsuYMD" as "dbV2002Fuka_shikakuSoshitsuYMD",
         "DbV2002Fuka"."shikakuSoshitsuJiyu" as "dbV2002Fuka_shikakuSoshitsuJiyu",
         "DbV2002Fuka"."seihofujoShurui" as "dbV2002Fuka_seihofujoShurui",
         "DbV2002Fuka"."seihoKaishiYMD" as "dbV2002Fuka_seihoKaishiYMD",
         "DbV2002Fuka"."seihoHaishiYMD" as "dbV2002Fuka_seihoHaishiYMD",
         "DbV2002Fuka"."ronenKaishiYMD" as "dbV2002Fuka_ronenKaishiYMD",
         "DbV2002Fuka"."ronenHaishiYMD" as "dbV2002Fuka_ronenHaishiYMD",
         "DbV2002Fuka"."fukaYMD" as "dbV2002Fuka_fukaYMD",
         "DbV2002Fuka"."kazeiKubun" as "dbV2002Fuka_kazeiKubun",
         "DbV2002Fuka"."setaikazeiKubun" as "dbV2002Fuka_setaikazeiKubun",
         "DbV2002Fuka"."gokeiShotokuGaku" as "dbV2002Fuka_gokeiShotokuGaku",
         "DbV2002Fuka"."nenkinShunyuGaku" as "dbV2002Fuka_nenkinShunyuGaku",
         "DbV2002Fuka"."hokenryoDankai" as "dbV2002Fuka_hokenryoDankai",
         "DbV2002Fuka"."hokenryoDankai1" as "dbV2002Fuka_hokenryoDankai1",
         "DbV2002Fuka"."nengakuHokenryo1" as "dbV2002Fuka_nengakuHokenryo1",
         "DbV2002Fuka"."tsukiwariStartYM1" as "dbV2002Fuka_tsukiwariStartYM1",
         "DbV2002Fuka"."tsukiwariEndYM1" as "dbV2002Fuka_tsukiwariEndYM1",
         "DbV2002Fuka"."hokenryoDankai2" as "dbV2002Fuka_hokenryoDankai2",
         "DbV2002Fuka"."nengakuHokenryo2" as "dbV2002Fuka_nengakuHokenryo2",
         "DbV2002Fuka"."tsukiwariStartYM2" as "dbV2002Fuka_tsukiwariStartYM2",
         "DbV2002Fuka"."tsukiwariEndYM2" as "dbV2002Fuka_tsukiwariEndYM2",
         "DbV2002Fuka"."choteiNichiji" as "dbV2002Fuka_choteiNichiji",
         "DbV2002Fuka"."choteiJiyu1" as "dbV2002Fuka_choteiJiyu1",
         "DbV2002Fuka"."choteiJiyu2" as "dbV2002Fuka_choteiJiyu2",
         "DbV2002Fuka"."choteiJiyu3" as "dbV2002Fuka_choteiJiyu3",
         "DbV2002Fuka"."choteiJiyu4" as "dbV2002Fuka_choteiJiyu4",
         "DbV2002Fuka"."koseiM" as "dbV2002Fuka_koseiM",
         "DbV2002Fuka"."gemmenMaeHokenryo" as "dbV2002Fuka_gemmenMaeHokenryo",
         "DbV2002Fuka"."gemmenGaku" as "dbV2002Fuka_gemmenGaku",
         "DbV2002Fuka"."kakuteiHokenryo" as "dbV2002Fuka_kakuteiHokenryo",
         "DbV2002Fuka"."hokenryoDankaiKarisanntei" as "dbV2002Fuka_hokenryoDankaiKarisanntei",
         "DbV2002Fuka"."choshuHohoRirekiNo" as "dbV2002Fuka_choshuHohoRirekiNo",
         "DbV2002Fuka"."idoKijunNichiji" as "dbV2002Fuka_idoKijunNichiji",
         "DbV2002Fuka"."kozaKubun" as "dbV2002Fuka_kozaKubun",
         "DbV2002Fuka"."kyokaisoKubun" as "dbV2002Fuka_kyokaisoKubun",
         "DbV2002Fuka"."shokkenKubun" as "dbV2002Fuka_shokkenKubun",
         "DbV2002Fuka"."fukaShichosonCode" as "dbV2002Fuka_fukaShichosonCode",
         "DbV2002Fuka"."tkSaishutsuKampuGaku" as "dbV2002Fuka_tkSaishutsuKampuGaku",
         "DbV2002Fuka"."fuSaishutsuKampuGaku" as "dbV2002Fuka_fuSaishutsuKampuGaku"
    </sql>


    <!--テーブルDbV2002Fukaの項目をDbV2002FukaEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbV2002FukaEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbV2002FukaEntity" autoMapping="true">
        <result property="choteiNendo" column="dbV2002Fuka_choteiNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <result property="fukaNendo" column="dbV2002Fuka_fukaNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <result property="tsuchishoNo" column="dbV2002Fuka_tsuchishoNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.TsuchishoNoTypeHandler"/>
        <result property="rirekiNo" column="dbV2002Fuka_rirekiNo" />
        <result property="insertDantaiCd" column="dbV2002Fuka_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbV2002Fuka_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbV2002Fuka_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbV2002Fuka_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbV2002Fuka_isDeleted" />
        <result property="updateCount" column="dbV2002Fuka_updateCount" />
        <result property="lastUpdateTimestamp" column="dbV2002Fuka_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbV2002Fuka_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hihokenshaNo" column="dbV2002Fuka_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="shikibetsuCode" column="dbV2002Fuka_shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="setaiCode" column="dbV2002Fuka_setaiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.SetaiCodeTypeHandler"/>
        <result property="setaiInsu" column="dbV2002Fuka_setaiInsu" />
        <result property="shikakuShutokuYMD" column="dbV2002Fuka_shikakuShutokuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shikakuShutokuJiyu" column="dbV2002Fuka_shikakuShutokuJiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shikakuSoshitsuYMD" column="dbV2002Fuka_shikakuSoshitsuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shikakuSoshitsuJiyu" column="dbV2002Fuka_shikakuSoshitsuJiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="seihofujoShurui" column="dbV2002Fuka_seihofujoShurui" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="seihoKaishiYMD" column="dbV2002Fuka_seihoKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="seihoHaishiYMD" column="dbV2002Fuka_seihoHaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ronenKaishiYMD" column="dbV2002Fuka_ronenKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ronenHaishiYMD" column="dbV2002Fuka_ronenHaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="fukaYMD" column="dbV2002Fuka_fukaYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="kazeiKubun" column="dbV2002Fuka_kazeiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="setaikazeiKubun" column="dbV2002Fuka_setaikazeiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="gokeiShotokuGaku" column="dbV2002Fuka_gokeiShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="nenkinShunyuGaku" column="dbV2002Fuka_nenkinShunyuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="hokenryoDankai" column="dbV2002Fuka_hokenryoDankai" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hokenryoDankai1" column="dbV2002Fuka_hokenryoDankai1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="nengakuHokenryo1" column="dbV2002Fuka_nengakuHokenryo1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="tsukiwariStartYM1" column="dbV2002Fuka_tsukiwariStartYM1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="tsukiwariEndYM1" column="dbV2002Fuka_tsukiwariEndYM1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="hokenryoDankai2" column="dbV2002Fuka_hokenryoDankai2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="nengakuHokenryo2" column="dbV2002Fuka_nengakuHokenryo2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="tsukiwariStartYM2" column="dbV2002Fuka_tsukiwariStartYM2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="tsukiwariEndYM2" column="dbV2002Fuka_tsukiwariEndYM2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="choteiNichiji" column="dbV2002Fuka_choteiNichiji" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YMDHMSTypeHandler"/>
        <result property="choteiJiyu1" column="dbV2002Fuka_choteiJiyu1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="choteiJiyu2" column="dbV2002Fuka_choteiJiyu2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="choteiJiyu3" column="dbV2002Fuka_choteiJiyu3" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="choteiJiyu4" column="dbV2002Fuka_choteiJiyu4" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="koseiM" column="dbV2002Fuka_koseiM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="gemmenMaeHokenryo" column="dbV2002Fuka_gemmenMaeHokenryo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="gemmenGaku" column="dbV2002Fuka_gemmenGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="kakuteiHokenryo" column="dbV2002Fuka_kakuteiHokenryo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="hokenryoDankaiKarisanntei" column="dbV2002Fuka_hokenryoDankaiKarisanntei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="choshuHohoRirekiNo" column="dbV2002Fuka_choshuHohoRirekiNo" />
        <result property="idoKijunNichiji" column="dbV2002Fuka_idoKijunNichiji" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YMDHMSTypeHandler"/>
        <result property="kozaKubun" column="dbV2002Fuka_kozaKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kyokaisoKubun" column="dbV2002Fuka_kyokaisoKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shokkenKubun" column="dbV2002Fuka_shokkenKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="fukaShichosonCode" column="dbV2002Fuka_fukaShichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <result property="tkSaishutsuKampuGaku" column="dbV2002Fuka_tkSaishutsuKampuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="fuSaishutsuKampuGaku" column="dbV2002Fuka_fuSaishutsuKampuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
    </resultMap>

    <select id="getEntity" resultMap="ResultMap_DbV2002FukaEntity">
        SELECT
        <include refid="allColumns_DbV2002Fuka" />
        FROM
        rgdb."DbV2002Fuka"
    </select>
       
</mapper>
