<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： 画面設計_DBCMN63001_自己負担証明書作成のマッピング用XMLです。 
@reamsid_L DBC-4810-010 yaoyahui -->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.jikofutangakushomeisho.IJikoFutangakushomeishoMapper">
    <select resultOrdered="true" id="get高額合算情報1" 
            resultMap="resultMap_KogakuGassanJohoEntity1" 
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.jikofutangakushomeisho.JikoFutangakushomeishoParameter"
            fetchSize="500">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3070KogakuGassanJikoFutanGakuMapper.allColumns_DbT3070KogakuGassanJikoFutanGaku" />
        , <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3071KogakuGassanJikoFutanGakuMeisaiMapper.allColumns_DbT3071KogakuGassanJikoFutanGakuMeisai" />
        FROM
        rgdb."DbT3070KogakuGassanJikoFutanGaku" AS "DbT3070KogakuGassanJikoFutanGaku" 
        INNER JOIN rgdb."DbT3071KogakuGassanJikoFutanGakuMeisai" AS "DbT3071KogakuGassanJikoFutanGakuMeisai"
        ON  "DbT3070KogakuGassanJikoFutanGaku"."hihokenshaNo" = "DbT3071KogakuGassanJikoFutanGakuMeisai"."hihokenshaNo"
        AND "DbT3070KogakuGassanJikoFutanGaku"."taishoNendo"="DbT3071KogakuGassanJikoFutanGakuMeisai"."taishoNendo"
        AND "DbT3070KogakuGassanJikoFutanGaku"."hokenshaNo"="DbT3071KogakuGassanJikoFutanGakuMeisai"."hokenshaNo"
        AND "DbT3070KogakuGassanJikoFutanGaku"."shikyuShinseishoSeiriNo"="DbT3071KogakuGassanJikoFutanGakuMeisai"."shikyuShinseishoSeiriNo"
        AND "DbT3070KogakuGassanJikoFutanGaku"."rirekiNo"="DbT3071KogakuGassanJikoFutanGakuMeisai"."rirekiNo"
        WHERE "DbT3070KogakuGassanJikoFutanGaku"."hihokenshaNo" = #{被保険者番号}
        AND "DbT3070KogakuGassanJikoFutanGaku"."taishoNendo" = #{対象年度}
        AND "DbT3070KogakuGassanJikoFutanGaku"."hokenshaNo" =#{保険者番号}
        AND "DbT3070KogakuGassanJikoFutanGaku"."shikyuShinseishoSeiriNo" =#{支給申請書整理番号}
        AND "DbT3070KogakuGassanJikoFutanGaku"."rirekiNo"=#{履歴番号}
    </select>
    <resultMap id="resultMap_KogakuGassanJohoEntity1" autoMapping="true"
               type="jp.co.ndensan.reams.db.dbc.entity.db.relate.jikofutangakushomeisho.KogakuGassanJohoEntity">
        <id column="高額合算自己負担額entity.dbT3070KogakuGassanJikoFutanGaku_hihokenshaNo"/>
        <id column="高額合算自己負担額entity.dbT3070KogakuGassanJikoFutanGaku_taishoNendo"/>
        <id column="高額合算自己負担額entity.dbT3070KogakuGassanJikoFutanGaku_hokenshaNo"/>
        <id column="高額合算自己負担額entity.dbT3070KogakuGassanJikoFutanGaku_shikyuShinseishoSeiriNo"/>
        <id column="高額合算自己負担額entity.dbT3070KogakuGassanJikoFutanGaku_rirekiNo" />
        <association property="高額合算自己負担額entity" resultMap="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3070KogakuGassanJikoFutanGakuMapper.ResultMap_DbT3070KogakuGassanJikoFutanGakuEntity"/>
        <collection property="高額合算自己負担額明細entity"  ofType="jp.co.ndensan.reams.db.dbc.entity.db.basic.DbT3071KogakuGassanJikoFutanGakuMeisaiEntity" resultMap="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3071KogakuGassanJikoFutanGakuMeisaiMapper.ResultMap_DbT3071KogakuGassanJikoFutanGakuMeisaiEntity" />
    </resultMap>
    <select resultOrdered="true" id="get高額合算情報2" 
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.jikofutangakushomeisho.JikoFutangakushomeishoParameter"
            resultMap="resultMap_KogakuGassanJohoEntity2" 
            fetchSize="500">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3170JigyoKogakuGassanJikoFutanGakuMapper.allColumns_DbT3170JigyoKogakuGassanJikoFutanGaku" />
        , <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3171JigyoKogakuGassanJikoFutanGakuMeisaiMapper.allColumns_DbT3171JigyoKogakuGassanJikoFutanGakuMeisai" />
        FROM
        rgdb."DbT3170JigyoKogakuGassanJikoFutanGaku" AS "DbT3170JigyoKogakuGassanJikoFutanGaku" 
        INNER JOIN rgdb."DbT3171JigyoKogakuGassanJikoFutanGakuMeisai" AS "DbT3171JigyoKogakuGassanJikoFutanGakuMeisai"
        ON  "DbT3170JigyoKogakuGassanJikoFutanGaku"."hihokenshaNo" = "DbT3171JigyoKogakuGassanJikoFutanGakuMeisai"."hihokenshaNo"
        AND "DbT3170JigyoKogakuGassanJikoFutanGaku"."taishoNendo"="DbT3171JigyoKogakuGassanJikoFutanGakuMeisai"."taishoNendo"
        AND "DbT3170JigyoKogakuGassanJikoFutanGaku"."hokenshaNo"="DbT3171JigyoKogakuGassanJikoFutanGakuMeisai"."hokenshaNo"
        AND "DbT3170JigyoKogakuGassanJikoFutanGaku"."shikyuShinseishoSeiriNo"="DbT3171JigyoKogakuGassanJikoFutanGakuMeisai"."shikyuShinseishoSeiriNo"
        AND "DbT3170JigyoKogakuGassanJikoFutanGaku"."rirekiNo"="DbT3171JigyoKogakuGassanJikoFutanGakuMeisai"."rirekiNo"
        WHERE "DbT3170JigyoKogakuGassanJikoFutanGaku"."hihokenshaNo" = #{被保険者番号}
        AND "DbT3170JigyoKogakuGassanJikoFutanGaku"."taishoNendo" = #{対象年度}
        AND "DbT3170JigyoKogakuGassanJikoFutanGaku"."hokenshaNo" =#{保険者番号}
        AND "DbT3170JigyoKogakuGassanJikoFutanGaku"."shikyuShinseishoSeiriNo" = #{支給申請書整理番号}
        AND "DbT3170JigyoKogakuGassanJikoFutanGaku"."rirekiNo"=#{履歴番号}       
    </select>
    
    <select resultOrdered="true" id="get高額合算情報更新用" 
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.jikofutangakushomeisho.JikoFutangakushomeishoParameter"
            resultMap="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3170JigyoKogakuGassanJikoFutanGakuMapper.ResultMap_DbT3170JigyoKogakuGassanJikoFutanGakuEntity" 
            fetchSize="500">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3170JigyoKogakuGassanJikoFutanGakuMapper.allColumns_DbT3170JigyoKogakuGassanJikoFutanGaku" />
        FROM
        rgdb."DbT3170JigyoKogakuGassanJikoFutanGaku" AS "DbT3170JigyoKogakuGassanJikoFutanGaku" 
        INNER JOIN rgdb."DbT3171JigyoKogakuGassanJikoFutanGakuMeisai" AS "DbT3171JigyoKogakuGassanJikoFutanGakuMeisai"
        ON  "DbT3170JigyoKogakuGassanJikoFutanGaku"."hihokenshaNo" = "DbT3171JigyoKogakuGassanJikoFutanGakuMeisai"."hihokenshaNo"
        AND "DbT3170JigyoKogakuGassanJikoFutanGaku"."taishoNendo"="DbT3171JigyoKogakuGassanJikoFutanGakuMeisai"."taishoNendo"
        AND "DbT3170JigyoKogakuGassanJikoFutanGaku"."hokenshaNo"="DbT3171JigyoKogakuGassanJikoFutanGakuMeisai"."hokenshaNo"
        AND "DbT3170JigyoKogakuGassanJikoFutanGaku"."shikyuShinseishoSeiriNo"="DbT3171JigyoKogakuGassanJikoFutanGakuMeisai"."shikyuShinseishoSeiriNo"
        AND "DbT3170JigyoKogakuGassanJikoFutanGaku"."rirekiNo"="DbT3171JigyoKogakuGassanJikoFutanGakuMeisai"."rirekiNo"
        WHERE "DbT3170JigyoKogakuGassanJikoFutanGaku"."hihokenshaNo" = #{被保険者番号}
        AND "DbT3170JigyoKogakuGassanJikoFutanGaku"."taishoNendo" = #{対象年度}
        AND "DbT3170JigyoKogakuGassanJikoFutanGaku"."hokenshaNo" =#{保険者番号}
        AND "DbT3170JigyoKogakuGassanJikoFutanGaku"."shikyuShinseishoSeiriNo" = #{支給申請書整理番号}
        AND "DbT3170JigyoKogakuGassanJikoFutanGaku"."rirekiNo"=#{履歴番号}       
    </select>
    
    <resultMap id="resultMap_KogakuGassanJohoEntity2" autoMapping="true"
               type="jp.co.ndensan.reams.db.dbc.entity.db.relate.jikofutangakushomeisho.KogakuGassanJohoEntity">
        <id column="事業高額合算自己負担額entity.dbT3170_hihokenshaNo" />
        <id column="事業高額合算自己負担額entity.dbT3170_taishoNendo" />
        <id column="事業高額合算自己負担額entity.dbT3170_hokenshaNo" />
        <id column="事業高額合算自己負担額entity.dbT3170_shikyuShinseishoSeiriNo" />
        <id column="事業高額合算自己負担額entity.dbT3170_rirekiNo" />
        <association property="事業高額合算自己負担額entity" resultMap="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3170JigyoKogakuGassanJikoFutanGakuMapper.ResultMap_DbT3170JigyoKogakuGassanJikoFutanGakuEntity"/>
        <collection property="事業高額合算自己負担額明細entity" ofType="jp.co.ndensan.reams.db.dbc.entity.db.basic.DbT3171JigyoKogakuGassanJikoFutanGakuMeisaiEntity" resultMap="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3171JigyoKogakuGassanJikoFutanGakuMeisaiMapper.ResultMap_DbT3171JigyoKogakuGassanJikoFutanGakuMeisaiEntity"/>
    </resultMap>
    <select resultOrdered="true" id="get宛名から被保険者の個人情報" 
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.jikofutangakushomeisho.JikoFutangakushomeishoParameter"
            resultMap="resultMap_KogakuGassanJohoEntity3" 
            fetchSize="500">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1001HihokenshaDaichoMapper.allColumns_DbT1001HihokenshaDaicho" />
        ,<include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.columns_ShikibetsuTaisho" />
        FROM
        ( 
        SELECT
        * 
        FROM
        ( 
        SELECT
        *
        , row_number() over ( 
        partition by
        "hihokenshaNo" 
        order by
        "idoYMD" DESC ,"edaNo" DESC
        ) AS rank_number 
        FROM
        rgdb."DbT1001HihokenshaDaicho" AS "DbT1001HihokenshaDaicho"
        ) AS "DbT1001HihokenshaDaicho" 
        WHERE
        rank_number = 1
        ) AS "DbT1001HihokenshaDaicho" 
        INNER JOIN 
        rgua."UaFt200FindShikibetsuTaisho"('','',FALSE,'DB',FALSE,'','','','','','','','','','','',true,
        '','','','','','','',true,'','','','','','','','','','','',true,true,true,true,true,true,true,true,true,true,
        true,'','','','','','','','',true,'','',true,true,true,'','','','','','','','','','','','','','','','','','','{}') 
        AS "ShikibetsuTaisho"  
        ON "DbT1001HihokenshaDaicho"."shikibetsuCode" = "ShikibetsuTaisho"."shikibetsuCode" 
        WHERE
        "DbT1001HihokenshaDaicho"."hihokenshaNo" = #{被保険者番号}
    </select>
    <resultMap id="resultMap_KogakuGassanJohoEntity3" autoMapping="true"
               type="jp.co.ndensan.reams.db.dbc.entity.db.relate.jikofutangakushomeisho.KogakuGassanJohoEntity">
        <association property="被保険者台帳entity" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1001HihokenshaDaichoMapper.ResultMap_DbT1001HihokenshaDaichoEntity"/>
        <association property="uaFt200Entity" resultMap="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.UaFt200FindShikibetsuTaishoEntity"/>
    </resultMap>
    <resultMap id="対象者データTaisyousyaEntity" type="jp.co.ndensan.reams.db.dbc.entity.db.relate.jikofutangakushomeisho.TaisyousyaEntity" autoMapping="true">
        <result property="対象年度" column="taishoNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <result property="保険者番号" column="hokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HokenshaNoTypeHandler"/>
        <result property="支給申請書整理番号" column="shikyuShinseishoSeiriNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="履歴番号" column="rirekiNo" />
        <result property="自己負担額証明書整理番号" column="jikoFutanSeiriNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="自己負担額証明書作成年月日" column="shomeiShoSakuseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
    </resultMap>
    <select resultOrdered="true" id="get対象者データ1" 
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.jikofutangakushomeisho.JikoFutangakushomeishoParameter"
            resultMap="対象者データTaisyousyaEntity"
            fetchSize="500">
        WITH 自己負担額 AS ( 
        SELECT
        * 
        FROM
        rgdb."DbT3070KogakuGassanJikoFutanGaku" AS mst 
        WHERE
        mst."hihokenshaNo" = #{被保険者番号} 
        AND NOT EXISTS ( 
        SELECT
        * 
        FROM
        rgdb."DbT3070KogakuGassanJikoFutanGaku" AS slv 
        WHERE
        mst."hihokenshaNo" = slv."hihokenshaNo" 
        AND mst."taishoNendo" = slv."taishoNendo" 
        AND mst."hokenshaNo" = slv."hokenshaNo" 
        AND mst."shikyuShinseishoSeiriNo" = slv."shikyuShinseishoSeiriNo" 
        AND mst."rirekiNo"<![CDATA[<]]> slv."rirekiNo"
        )
        ) 
        SELECT
       
        "taishoNendo"
        , "hokenshaNo" 
        , "shikyuShinseishoSeiriNo"
        , "rirekiNo"
        , "jikoFutanSeiriNo"
        ,"shomeiShoSakuseiYMD" 
        FROM
        自己負担額 
        WHERE
        自己負担額."isDeleted" = FALSE 
        AND 自己負担額."dataSakuseiKubun" = #{介護合算_データ作成区分_国保連取込情報}
        AND ( 
        自己負担額."shomeisho_UketoriYM" IS NOT NULL 
        OR 自己負担額."shomeisho_UketoriYM" <![CDATA[<>]]> ''
        ) 
        
        UNION 
        
        SELECT
        "taishoNendo"
        , "hokenshaNo"
        , "shikyuShinseishoSeiriNo"
        , "rirekiNo"
        , "jikoFutanSeiriNo"
        ,"shomeiShoSakuseiYMD" 
        FROM
        自己負担額 
        WHERE
        自己負担額."isDeleted" = FALSE 
        AND 自己負担額."dataSakuseiKubun" = #{介護合算_データ作成区分_計算処理時_申請書有}
        AND EXISTS ( 
        SELECT
        'X' 
        FROM
        rgdb."DbT3068KogakuGassanShinseisho" AS mst 
        WHERE
        mst."hihokenshaNo" = 自己負担額."hihokenshaNo" 
        AND mst."shikyuShinseishoSeiriNo" = 自己負担額."shikyuShinseishoSeiriNo" 
        AND NOT EXISTS ( 
        SELECT
        'X' 
        FROM
        rgdb."DbT3068KogakuGassanShinseisho" AS slv 
        WHERE
        mst."hihokenshaNo" = slv."hihokenshaNo" 
        AND mst."taishoNendo" = slv."taishoNendo" 
        AND mst."hokenshaNo" = slv."hokenshaNo" 
        AND mst."seiriNo" = slv."seiriNo" 
        AND mst."rirekiNo" <![CDATA[<]]> slv."rirekiNo"
        ) 
        AND mst."shinseiJokyoKubun" = #{申請状況区分} 
        AND mst."shikyuShinseiKubun" <![CDATA[<>]]>  #{支給申請区分} 
        AND ( 
        mst."jikoFutan_KeisanYM" IS NOT NULL 
        OR mst."jikoFutan_KeisanYM"<![CDATA[<>]]> ''
        ) 
        AND mst."isDeleted" = FALSE
        ) 
        ORDER BY
        "taishoNendo" DESC
        , "shikyuShinseishoSeiriNo" ASC

    </select>
    <select resultOrdered="true" id="get対象者データ2" 
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.jikofutangakushomeisho.JikoFutangakushomeishoParameter"
            resultMap="対象者データTaisyousyaEntity"
            fetchSize="500">
        WITH 自己負担額 AS ( 
        SELECT
        * 
        FROM
        rgdb."DbT3170JigyoKogakuGassanJikoFutanGaku" AS mst 
        WHERE
        mst."hihokenshaNo" = #{被保険者番号} 
        AND NOT EXISTS ( 
        SELECT
        * 
        FROM
        rgdb."DbT3170JigyoKogakuGassanJikoFutanGaku" AS slv 
        WHERE
        mst."hihokenshaNo" = slv."hihokenshaNo" 
        AND mst."taishoNendo" = slv."taishoNendo" 
        AND mst."hokenshaNo" = slv."hokenshaNo" 
        AND mst."shikyuShinseishoSeiriNo" = slv."shikyuShinseishoSeiriNo" 
        AND mst."rirekiNo"<![CDATA[<]]> slv."rirekiNo"
        )
        ) 
        SELECT
       
        "taishoNendo"
        , "hokenshaNo"
        , "shikyuShinseishoSeiriNo"
        , "rirekiNo"
        , "jikoFutanSeiriNo"
        ,"shomeiShoSakuseiYMD" 
        FROM
        自己負担額 
        WHERE
        自己負担額."isDeleted" = FALSE 
        ORDER BY
        "taishoNendo" DESC
        ,"shikyuShinseishoSeiriNo" ASC
    </select>
    <select resultOrdered="true" id="get再計算区分" 
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.jikofutangakushomeisho.JikoFutangakushomeishoParameter"
            resultMap="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3068KogakuGassanShinseishoMapper.ResultMap_DbT3068KogakuGassanShinseishoEntity"
            fetchSize="500">
        SELECT
        DbT3068KogakuGassanShinseisho."saiKeisanKubun" 
        FROM
        rgdb."DbT3068KogakuGassanShinseisho" AS DbT3068KogakuGassanShinseisho 
        WHERE
        DbT3068KogakuGassanShinseisho."hihokenshaNo" =#{被保険者番号}
        AND DbT3068KogakuGassanShinseisho."shikyuShinseishoSeiriNo" = #{支給申請書整理番号}
        ORDER BY
        DbT3068KogakuGassanShinseisho."rirekiNo" 
        LIMIT
        1

    </select>
</mapper>