<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBC-2700-010 wangxingpeng-->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.kogakugassankyufujissekiin.IKogakuGassanKyufuJissekiInMapper">
    <select id="get帳票出力対象データ"
            resultMap="resultMap_KogakuGassanKyufuJissekiInEntity" 
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.kokuhorenkyoutsuu.KokuhorenIchiranhyoMybatisParameter" fetchSize="500" resultOrdered="true">
        SELECT <include refid="allColumns_DbWT38P1KogakuGassanKyufuJisseki" />,
        <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.kokuhorenkyoutsuu.IKokuhorenKyoutsuuTempTableMapper.allColumns_DbWT0001Hihokensha" />
        FROM  "DbWT38P1KogakuGassanKyufuJisseki" AS  DbWT38P1
        inner join
        "DbWT0001Hihokensha" AS TEMP
        on DbWT38P1."renban"= TEMP."meisaiRenban"
        ${出力順}
    </select>
    <select id="get高額合算給付実績一時再処理準備のデータ"
            resultMap="ResultMap_DbT3075KogakuGassanKyufuJissekiEntity" 
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.kogakugassankyufujissekiin.KogakuGassanKyufuJissekiInLoginMybatisParameter" 
            fetchSize="500" resultOrdered="true">
        SELECT <include refid="allColumns_DbT3075KogakuGassanKyufuJisseki" />
        FROM rgdb."DbT3075KogakuGassanKyufuJisseki" AS  DbT3075
        WHERE  DbT3075."uketoriYM" = #{処理年月}
        <if test ="処理区分 == null">
            AND  DbT3075."dataKubun" <![CDATA[<>]]> '1'
        </if> 
        <if test ="処理区分 = 1"> 
            AND DbT3075."dataKubun" NOT IN ('1','3')
        </if> 
        <if test ="処理区分 = 2 "> 
            AND DbT3075."dataKubun" NOT IN ('1','2')
        </if> 
    </select>
    <select id="select高額合算給付実績と一時データ"
            resultMap="resultMap_KogakuGassanKyufuJissekiInDoMasterTorokuEntity"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.kogakugassankyufujissekiin.KogakuGassanKyufuJissekiInLoginMybatisParameter" 
            fetchSize="500" resultOrdered="true">
        SELECT
        <include refid="allColumns_DbWT38P1KogakuGassanKyufuJisseki" />,
        <include refid="allColumns_DbT3075KogakuGassanKyufuJisseki" />
        
        FROM 
        "DbWT38P1KogakuGassanKyufuJisseki" AS  DbWT38P1
        LEFT JOIN
        (SELECT *
        FROM rgdb."DbT3075KogakuGassanKyufuJisseki" AS  DbT3075
        WHERE (DbT3075."shoriYM" IS NULL  OR  DbT3075."shoriYM"='' )
        AND( DbT3075."uketoriYM" ='' OR DbT3075."uketoriYM" IS NULL  OR  DbT3075."uketoriYM" = #{処理年月} )
        AND (DbT3075."kokanJohoShikibetsuNo"  LIKE '38Q%'
        OR(DbT3075."kokanJohoShikibetsuNo"  LIKE'38P%'
        AND DbT3075."dataKubun" = '1'))) AS DbT3075
        ON DbWT38P1."hihokenshaNoIn"=DbT3075."hihokenshaNo"
        AND DbWT38P1."shikyuShinseiSeiriNo"=DbT3075."shikyuShinseiSeiriNo"
        AND DbWT38P1."jikoFutanSeiriNo"=DbT3075."jikoFutanSeiriNo"
        AND DbWT38P1."shikyuGaku"=DbT3075."shikyuGaku"
    </select>
    
    <update id="update高額合算給付実績と一時データ" 
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.kogakugassankyufujissekiin.KogakuGassanKyufuJissekiInLoginMybatisParameter">
        UPDATE
        rgdb. "DbT3075KogakuGassanKyufuJisseki" AS DbT3075
        SET
        "kokanJohoShikibetsuNo" = DbWT38P1."kokanJohoShikibetsuNo"
        ,"hihokenshaNo" = DbWT38P1."hihokenshaNoIn"
        ,"shikyuShinseiSeiriNo" = DbWT38P1."shikyuShinseiSeiriNo"
        ,"jikoFutanSeiriNo" = DbWT38P1."jikoFutanSeiriNo"
        ,"hokenSeidoCode" = DbWT38P1."hokenSeidoCode"
        ,"kyufuJissekiSakuseiKubunCode" = DbWT38P1."kyufuJissekiSakuseiKubunCode"
        ,"shoKisaiHokenshaNo" = DbWT38P1."shoKisaiHokenshaNo"
        ,"kokuho_HihokenshaShoKigo" = DbWT38P1."kokuho_HihokenshaShoKigo"
        ,"shinseiYMD" = DbWT38P1."shinseiYMD"
        ,"ketteiYMD" = DbWT38P1."ketteiYMD"
        ,"jikoFutanSogaku" = DbWT38P1."jikoFutanSogaku"
        ,"shikyuGaku" = DbWT38P1."shikyuGaku"
        ,"shoriYM" = DbWT38P1."shoriYM"
        ,"uketoriYM" = #{処理年月}
        ,"dataKubun" = '1'
        FROM
        "DbWT38P1KogakuGassanKyufuJisseki" AS DbWT38P1
        WHERE
        DbWT38P1."hihokenshaNoIn" = DbT3075."hihokenshaNo"
        AND DbWT38P1."shikyuShinseiSeiriNo" = DbT3075."shikyuShinseiSeiriNo"
        AND DbWT38P1."jikoFutanSeiriNo" = DbT3075."jikoFutanSeiriNo"
        AND DbWT38P1."shikyuGaku" = DbT3075."shikyuGaku"   
    </update>
    <resultMap id="resultMap_KogakuGassanKyufuJissekiInEntity" 
               type="jp.co.ndensan.reams.db.dbc.entity.db.relate.kogakugassankyufujissekiin.KogakuGassanKyufuJissekiInEntity" autoMapping="true">
        <id column="DbWT38P1_renban" />
        <association property="被保険者一時" resultMap="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.kokuhorenkyoutsuu.IKokuhorenKyoutsuuTempTableMapper.resultMap_DbWT0001HihokenshaTempEntity"/>
        <association property="高額合算給付実績一時" resultMap="ResultMap_DbWT38P1KogakuGassanKyufuJissekiTempEntity"/>
    </resultMap>
    <resultMap id="resultMap_KogakuGassanKyufuJissekiInDoMasterTorokuEntity" 
               type="jp.co.ndensan.reams.db.dbc.entity.db.relate.kogakugassankyufujissekiin.KogakuGassanKyufuJissekiInDoMasterTorokuEntity" autoMapping="true">
        <id column="DbWT38P1_kokanJohoShikibetsuNo"/>
        <association property="高額合算給付実績" resultMap="ResultMap_DbT3075KogakuGassanKyufuJissekiEntity"/>
        <association property="高額合算給付実績一時" resultMap="ResultMap_DbWT38P1KogakuGassanKyufuJissekiTempEntity"/>
    </resultMap>

    <resultMap id="ResultMap_DbWT38P1KogakuGassanKyufuJissekiTempEntity" type="jp.co.ndensan.reams.db.dbc.entity.db.relate.kogakugassankyufujissekiin.DbWT38P1KogakuGassanKyufuJissekiTempEntity" autoMapping="true">
        <id property="renban" column="DbWT38P1_renban" />
        <result property="kokanJohoShikibetsuNo" column="DbWT38P1_kokanJohoShikibetsuNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.KokanShikibetsuNoTypeHandler"/>
        <result property="hihokenshaNoIn" column="DbWT38P1_hihokenshaNoIn" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="shikyuShinseiSeiriNo" column="DbWT38P1_shikyuShinseiSeiriNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="seiriNo" column="DbWT38P1_seiriNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="jikoFutanSeiriNo" column="DbWT38P1_jikoFutanSeiriNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hokenSeidoCode" column="DbWT38P1_hokenSeidoCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kyufuJissekiSakuseiKubunCode" column="DbWT38P1_kyufuJissekiSakuseiKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shoKisaiHokenshaNo" column="DbWT38P1_shoKisaiHokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HokenshaNoTypeHandler"/>
        <result property="kokuho_HihokenshaShoKigo" column="DbWT38P1_kokuho_HihokenshaShoKigo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shinseiYMD" column="DbWT38P1_shinseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ketteiYMD" column="DbWT38P1_ketteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="jikoFutanSogaku" column="DbWT38P1_jikoFutanSogaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="shikyuGaku" column="DbWT38P1_shikyuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="shoriYM" column="DbWT38P1_shoriYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="uketoriYM" column="DbWT38P1_uketoriYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="sofuYM" column="DbWT38P1_sofuYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="dataKubun" column="DbWT38P1_dataKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>                       
    </resultMap>
    
          
    <sql id="allColumns_DbWT38P1KogakuGassanKyufuJisseki">
        DbWT38P1."renban" AS DbWT38P1_renban,
        DbWT38P1."kokanJohoShikibetsuNo" AS DbWT38P1_kokanJohoShikibetsuNo,
        DbWT38P1."hihokenshaNoIn" AS DbWT38P1_hihokenshaNoIn,
        DbWT38P1."shikyuShinseiSeiriNo" AS DbWT38P1_shikyuShinseiSeiriNo,
        DbWT38P1."seiriNo" AS DbWT38P1_seiriNo,
        DbWT38P1."jikoFutanSeiriNo" AS DbWT38P1_jikoFutanSeiriNo,
        DbWT38P1."hokenSeidoCode" AS DbWT38P1_hokenSeidoCode,
        DbWT38P1."kyufuJissekiSakuseiKubunCode" AS DbWT38P1_kyufuJissekiSakuseiKubunCode,
        DbWT38P1."shoKisaiHokenshaNo" AS DbWT38P1_shoKisaiHokenshaNo,
        DbWT38P1."kokuho_HihokenshaShoKigo" AS DbWT38P1_kokuho_HihokenshaShoKigo,
        DbWT38P1."shinseiYMD" AS DbWT38P1_shinseiYMD,
        DbWT38P1."ketteiYMD" AS DbWT38P1_ketteiYMD,
        DbWT38P1."jikoFutanSogaku" AS DbWT38P1_jikoFutanSogaku,
        DbWT38P1."shikyuGaku" AS DbWT38P1_shikyuGaku,
        DbWT38P1."shoriYM" AS DbWT38P1_shoriYM,
        DbWT38P1."uketoriYM" AS DbWT38P1_uketoriYM,
        DbWT38P1."sofuYM" AS DbWT38P1_sofuYM,
        DbWT38P1."dataKubun" AS DbWT38P1_dataKubun
    </sql>
    
    <resultMap id="ResultMap_DbT3075KogakuGassanKyufuJissekiEntity" type="jp.co.ndensan.reams.db.dbc.entity.db.basic.DbT3075KogakuGassanKyufuJissekiEntity" autoMapping="true">
        <id property="kokanJohoShikibetsuNo" column="DbT3075_kokanJohoShikibetsuNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.KokanShikibetsuNoTypeHandler"/>
        <id property="hihokenshaNo" column="DbT3075_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="shikyuShinseiSeiriNo" column="DbT3075_shikyuShinseiSeiriNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="seiriNo" column="DbT3075_seiriNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="jikoFutanSeiriNo" column="DbT3075_jikoFutanSeiriNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hokenSeidoCode" column="DbT3075_hokenSeidoCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kyufuJissekiSakuseiKubunCode" column="DbT3075_kyufuJissekiSakuseiKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shoKisaiHokenshaNo" column="DbT3075_shoKisaiHokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="kokuho_HihokenshaShoKigo" column="DbT3075_kokuho_HihokenshaShoKigo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shinseiYMD" column="DbT3075_shinseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ketteiYMD" column="DbT3075_ketteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="jikoFutanSogaku" column="DbT3075_jikoFutanSogaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="shikyuGaku" column="DbT3075_shikyuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="shoriYM" column="DbT3075_shoriYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="uketoriYM" column="DbT3075_uketoriYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="sofuYM" column="DbT3075_sofuYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="dataKubun" column="DbT3075_dataKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>                       
    </resultMap>
   
    <sql id="allColumns_DbT3075KogakuGassanKyufuJisseki">
       
        DbT3075."kokanJohoShikibetsuNo" AS DbT3075_kokanJohoShikibetsuNo,
        DbT3075."hihokenshaNo" AS DbT3075_hihokenshaNo,
        DbT3075."shikyuShinseiSeiriNo" AS DbT3075_shikyuShinseiSeiriNo,
        DbT3075."seiriNo" AS DbT3075_seiriNo,
        DbT3075."jikoFutanSeiriNo" AS DbT3075_jikoFutanSeiriNo,
        DbT3075."hokenSeidoCode" AS DbT3075_hokenSeidoCode,
        DbT3075."kyufuJissekiSakuseiKubunCode" AS DbT3075_kyufuJissekiSakuseiKubunCode,
        DbT3075."shoKisaiHokenshaNo" AS DbT3075_shoKisaiHokenshaNo,
        DbT3075."kokuho_HihokenshaShoKigo" AS DbT3075_kokuho_HihokenshaShoKigo,
        DbT3075."shinseiYMD" AS DbT3075_shinseiYMD,
        DbT3075."ketteiYMD" AS DbT3075_ketteiYMD,
        DbT3075."jikoFutanSogaku" AS DbT3075_jikoFutanSogaku,
        DbT3075."shikyuGaku" AS DbT3075_shikyuGaku,
        DbT3075."shoriYM" AS DbT3075_shoriYM,
        DbT3075."uketoriYM" AS DbT3075_uketoriYM,
        DbT3075."sofuYM" AS DbT3075_sofuYM,
        DbT3075."dataKubun" AS DbT3075_dataKubu 
    </sql>
</mapper>