<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBU-0550-020  wanghui -->
<mapper namespace="jp.co.ndensan.reams.db.dbu.persistence.db.mapper.relate.kaigojuminhyotruku.IKaigojuminHyotrukuMapper">
    <select resultOrdered="true" id="get宛名連動介護保険更新"
            resultType="jp.co.ndensan.reams.db.dbx.entity.db.basic.DbT7022ShoriDateKanriEntity"
            parameterType="jp.co.ndensan.reams.db.dbu.definition.mybatisprm.kaigojuminhyotruku.KaigojuminHyotrukuMapperParameter" fetchSize="500">
        SELECT
        *
        FROM
        rgdb."DbT7022ShoriDateKanri" as DbT7022
        WHERE
        DbT7022."subGyomuCode" = 'DBA'
        AND
        DbT7022."shoriName" = '住民異動連携情報登録_他社住基用'
        AND
        DbT7022.nendo = '0000'
        AND
        <foreach
            collection="shichosonCodelist"
            item="item"
            open="("
            separator="OR"
            close=")">
            DbT7022."shichosonCode" = #{item}
        </foreach>
        AND DbT7022."shoriEdaban" =
        (SELECT
        MAX(A."shoriEdaban")
        FROM
        rgdb."DbT7022ShoriDateKanri" as A
        WHERE
        A."shoriName" = DbT7022."shoriName"
        AND
        A.nendo = DbT7022.nendo)
        AND DbT7022."nendoNaiRenban" =
        (SELECT
        MAX(B."nendoNaiRenban")
        FROM
        rgdb."DbT7022ShoriDateKanri" as B
        WHERE
        B."shoriName" = DbT7022."shoriName"
        AND
        B.nendo = DbT7022.nendo)
    </select>
</mapper>