<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBD-3660-030 wangjie2 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.relate.gemmengengaku.shakaifukushihojinkeigen.IShakaiFukushiHojinKeigenMapper">
    <select id="get社会福祉法人等利用者負担軽減の情報List"
            resultMap="resultMap_ShafukuRiyoshaFutanKeigenEntity"
            parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.gemmengengaku.shakaifukushihojinkeigen.ShakaiFukushiHojinKeigenParameter"
            fetchSize="500" resultOrdered="true">
        SELECT
        A.*,
        B.*
        FROM (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4017ShakaiFukushiHojinRiyoshaFutanKeigenMapper.noDeleted_DbT4017ShakaiFukushiHojinRiyoshaFutanKeigen" />) AS A
        LEFT JOIN (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4010GemmenGengakuShinseiMapper.noDeleted_DbT4010GemmenGengakuShinsei" />) AS B
        ON A."dbT4017ShakaiFukushiHojinRiyoshaFutanKeigen_hihokenshaNo" = B."dbT4010GemmenGengakuShinsei_hihokenshaNo"
        AND A."dbT4017ShakaiFukushiHojinRiyoshaFutanKeigen_shoKisaiHokenshaNo" = B."dbT4010GemmenGengakuShinsei_shoKisaiHokenshaNo"
        AND A."dbT4017ShakaiFukushiHojinRiyoshaFutanKeigen_rirekiNo" = B."dbT4010GemmenGengakuShinsei_shinseiRirekiNo"
        AND B."dbT4010GemmenGengakuShinsei_gemmenGengakuShurui" = #{減免減額種類コード}
        WHERE A."dbT4017ShakaiFukushiHojinRiyoshaFutanKeigen_hihokenshaNo" = #{被保険者番号}
        ORDER BY A."dbT4017ShakaiFukushiHojinRiyoshaFutanKeigen_tekiyoKaishiYMD" DESC, A."dbT4017ShakaiFukushiHojinRiyoshaFutanKeigen_ketteiKubun"
    </select>
    <resultMap id="resultMap_ShafukuRiyoshaFutanKeigenEntity" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.gemmengengaku.shafukukeigen.ShafukuRiyoshaFutanKeigenEntity" autoMapping="true">
        <id property="社会福祉法人等利用者負担軽減Entity.shoKisaiHokenshaNo" column="dbT4017ShakaiFukushiHojinRiyoshaFutanKeigen_shoKisaiHokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShoKisaiHokenshaNoTypeHandler"/>
        <id property="社会福祉法人等利用者負担軽減Entity.hihokenshaNo" column="dbT4017ShakaiFukushiHojinRiyoshaFutanKeigen_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="社会福祉法人等利用者負担軽減Entity.rirekiNo" column="dbT4017ShakaiFukushiHojinRiyoshaFutanKeigen_rirekiNo" />
        <association property="社会福祉法人等利用者負担軽減Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4017ShakaiFukushiHojinRiyoshaFutanKeigenMapper.ResultMap_DbT4017ShakaiFukushiHojinRiyoshaFutanKeigenEntity"/>
        <collection property="減免減額申請Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4010GemmenGengakuShinseiMapper.ResultMap_DbT4010GemmenGengakuShinseiEntity"/>
    </resultMap>
</mapper>