<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!-- 概要：ビジネス設計医療費控除確認申請用XMLです-->

<!-- @reamsid_L CA-0040-020 x_zhaowen -->

<mapper namespace="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.relate.iryohikojyokakuninshinsei.IIryoHiKojoKakuninSinseiMapper">
<!--    <select resultOrdered="true" id="受給者台帳抽出" parameterType="jp.co.ndensan.reams.ca.cab.definition.mybatisprm.kobaiyokokushohakko.ZaisanJohoMapperParameter"
            resultMap="resultMap_ZaisanJohoEntity" fetchSize="500">
        SELECT
            COUNT()
        FROM
            
        WHERE
        
    </select>-->
</mapper>