<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBC-3097-020 qinzhen -->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.dbc710050.IHanyoListKyodoJukyushaMapper">
    <select resultOrdered="true" id="select共同処理用受給者情報"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.dbc710050.HanyoListKyodoJukyushaMybatisParameter"
            resultMap="resultMap_HanyoListKyodoJukyusha" fetchSize="500">
        <include refid="selectHanyoListKyodoJukyusha" />
    </select>
    <sql id="selectHanyoListKyodoJukyusha">
        WITH "KyodoJukyushaNewest" AS       
        (SELECT *
        FROM 
            rgdb."DbT3002KyodoShoriyoJukyushaIdoKihonSofu" 
        WHERE
            1=1
            AND "DbT3002KyodoShoriyoJukyushaIdoKihonSofu"."idoKubunCode" IN
            <foreach item="異動区分" index="index" collection="異動区分S" open="(" separator="," close=")">
                #{異動区分}
            </foreach>
            <if test="!削除含める" >
            AND "DbT3002KyodoShoriyoJukyushaIdoKihonSofu"."logicalDeletedFlag" = FALSE
            </if>
            <if test="日付抽出区分 == 範囲指定 and 処理対象年月FROM !=null and 処理対象年月FROM.toString()!=''" >
            AND  #{処理対象年月FROM}  <![CDATA[<=]]> "DbT3002KyodoShoriyoJukyushaIdoKihonSofu"."sofuYM"
            </if>
            <if test="日付抽出区分 == 範囲指定 and 処理対象年月TO !=null and 処理対象年月TO.toString()!=''" >
            AND  "DbT3002KyodoShoriyoJukyushaIdoKihonSofu"."sofuYM"  <![CDATA[<=]]> #{処理対象年月TO}
            </if>
            <if test="日付抽出区分 == 範囲指定 and 異動年月From !=null and 異動年月From.toString()!=''" >
            AND  #{異動年月From}  <![CDATA[<=]]> SUBSTR("DbT3002KyodoShoriyoJukyushaIdoKihonSofu"."idoYMD",1,6)
            </if>
            <if test="日付抽出区分 == 範囲指定 and 異動年月To !=null and 異動年月To.toString()!=''" >
            AND  SUBSTR("DbT3002KyodoShoriyoJukyushaIdoKihonSofu"."idoYMD",1,6)  <![CDATA[<=]]> #{異動年月To}
            </if>
         )   
        SELECT
            <include refid="allColumns_DbT1001HihokenshaDaicho" />,
            <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3002KyodoShoriyoJukyushaIdoKihonSofuMapper.allColumns_DbT3002KyodoShoriyoJukyushaIdoKihonSofu" />,
            <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.columns_ShikibetsuTaisho"/>                
        FROM
            "KyodoJukyushaNewest"  AS "DbT3002KyodoShoriyoJukyushaIdoKihonSofu"
        INNER JOIN 
            rgdb."DbV1001HihokenshaDaicho"  AS "DbT1001HihokenshaDaicho"
        ON 
            "DbT3002KyodoShoriyoJukyushaIdoKihonSofu"."hiHokenshaNo" = "DbT1001HihokenshaDaicho"."hihokenshaNo"
        INNER JOIN
            <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.tableName_PsmParamClassShikibetsuTaisho" /> AS "ShikibetsuTaisho"
        ON
            "DbT1001HihokenshaDaicho"."shikibetsuCode"= "ShikibetsuTaisho"."shikibetsuCode" 
        WHERE 1=1
            <if test="日付抽出区分 == 直近のみ " >
            AND  NOT EXISTS (
                SELECT 1
                FROM "KyodoJukyushaNewest"  AS KyodoJukyushaNewest2
                WHERE
                "DbT3002KyodoShoriyoJukyushaIdoKihonSofu"."hiHokenshaNo" = KyodoJukyushaNewest2."hiHokenshaNo"
                AND "DbT3002KyodoShoriyoJukyushaIdoKihonSofu"."idoYMD" <![CDATA[<]]> KyodoJukyushaNewest2."idoYMD"
                )
            </if> 
            <if test="日付抽出区分 == 範囲指定 and 各異動月の最新のみ == true" >  
            AND  NOT EXISTS (
                SELECT 1  
                FROM "KyodoJukyushaNewest"  AS KyodoJukyushaNewest2
                WHERE
                "DbT3002KyodoShoriyoJukyushaIdoKihonSofu"."hiHokenshaNo" = KyodoJukyushaNewest2."hiHokenshaNo"
                 AND "DbT3002KyodoShoriyoJukyushaIdoKihonSofu"."sofuYM" = KyodoJukyushaNewest2."sofuYM"
                 AND "DbT3002KyodoShoriyoJukyushaIdoKihonSofu"."idoYMD" <![CDATA[<]]> KyodoJukyushaNewest2."idoYMD" 
                 )
            </if>
    </sql>
    
    
    
    <resultMap id="resultMap_HanyoListKyodoJukyusha" autoMapping="true"
               type="jp.co.ndensan.reams.db.dbc.entity.db.relate.dbc710050.KyodoJukyushaKihonEntity">
        <id column="dbT3002KyodoShoriyoJukyushaIdoKihonSofu_hiHokenshaNo" />
        <id column="dbT3002KyodoShoriyoJukyushaIdoKihonSofu_idoYMD" />
        <id column="dbT3002KyodoShoriyoJukyushaIdoKihonSofu_rirekiNo" />
        <association property="共同処理用受給者異動基本送付" resultMap="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3002KyodoShoriyoJukyushaIdoKihonSofuMapper.ResultMap_DbT3002KyodoShoriyoJukyushaIdoKihonSofuEntity"/>
        <association property="被保険者台帳管理" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1001HihokenshaDaichoMapper.ResultMap_DbT1001HihokenshaDaichoEntity"/>
        <association property="宛名" resultMap = "jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.UaFt200FindShikibetsuTaishoEntity"/>
    </resultMap> 
    
        <sql id="allColumns_DbT1001HihokenshaDaicho">
         "DbT1001HihokenshaDaicho"."hihokenshaNo" as "dbT1001HihokenshaDaicho_hihokenshaNo",
         "DbT1001HihokenshaDaicho"."idoYMD" as "dbT1001HihokenshaDaicho_idoYMD",
         "DbT1001HihokenshaDaicho"."edaNo" as "dbT1001HihokenshaDaicho_edaNo",
         "DbT1001HihokenshaDaicho"."idoJiyuCode" as "dbT1001HihokenshaDaicho_idoJiyuCode",
         "DbT1001HihokenshaDaicho"."shichosonCode" as "dbT1001HihokenshaDaicho_shichosonCode",
         "DbT1001HihokenshaDaicho"."shikibetsuCode" as "dbT1001HihokenshaDaicho_shikibetsuCode",
         "DbT1001HihokenshaDaicho"."shikakuShutokuJiyuCode" as "dbT1001HihokenshaDaicho_shikakuShutokuJiyuCode",
         "DbT1001HihokenshaDaicho"."shikakuShutokuYMD" as "dbT1001HihokenshaDaicho_shikakuShutokuYMD",
         "DbT1001HihokenshaDaicho"."shikakuShutokuTodokedeYMD" as "dbT1001HihokenshaDaicho_shikakuShutokuTodokedeYMD",
         "DbT1001HihokenshaDaicho"."ichigoShikakuShutokuYMD" as "dbT1001HihokenshaDaicho_ichigoShikakuShutokuYMD",
         "DbT1001HihokenshaDaicho"."hihokennshaKubunCode" as "dbT1001HihokenshaDaicho_hihokennshaKubunCode",
         "DbT1001HihokenshaDaicho"."shikakuSoshitsuJiyuCode" as "dbT1001HihokenshaDaicho_shikakuSoshitsuJiyuCode",
         "DbT1001HihokenshaDaicho"."shikakuSoshitsuYMD" as "dbT1001HihokenshaDaicho_shikakuSoshitsuYMD",
         "DbT1001HihokenshaDaicho"."shikakuSoshitsuTodokedeYMD" as "dbT1001HihokenshaDaicho_shikakuSoshitsuTodokedeYMD",
         "DbT1001HihokenshaDaicho"."shikakuHenkoJiyuCode" as "dbT1001HihokenshaDaicho_shikakuHenkoJiyuCode",
         "DbT1001HihokenshaDaicho"."shikakuHenkoYMD" as "dbT1001HihokenshaDaicho_shikakuHenkoYMD",
         "DbT1001HihokenshaDaicho"."shikakuHenkoTodokedeYMD" as "dbT1001HihokenshaDaicho_shikakuHenkoTodokedeYMD",
         "DbT1001HihokenshaDaicho"."jushochitokureiTekiyoJiyuCode" as "dbT1001HihokenshaDaicho_jushochitokureiTekiyoJiyuCode",
         "DbT1001HihokenshaDaicho"."jushochitokureiTekiyoYMD" as "dbT1001HihokenshaDaicho_jushochitokureiTekiyoYMD",
         "DbT1001HihokenshaDaicho"."jushochitokureiTekiyoTodokedeYMD" as "dbT1001HihokenshaDaicho_jushochitokureiTekiyoTodokedeYMD",
         "DbT1001HihokenshaDaicho"."jushochitokureiKaijoJiyuCode" as "dbT1001HihokenshaDaicho_jushochitokureiKaijoJiyuCode",
         "DbT1001HihokenshaDaicho"."jushochitokureiKaijoYMD" as "dbT1001HihokenshaDaicho_jushochitokureiKaijoYMD",
         "DbT1001HihokenshaDaicho"."jushochitokureiKaijoTodokedeYMD" as "dbT1001HihokenshaDaicho_jushochitokureiKaijoTodokedeYMD",
         "DbT1001HihokenshaDaicho"."jushochiTokureiFlag" as "dbT1001HihokenshaDaicho_jushochiTokureiFlag",
         "DbT1001HihokenshaDaicho"."koikinaiJushochiTokureiFlag" as "dbT1001HihokenshaDaicho_koikinaiJushochiTokureiFlag",
         "DbT1001HihokenshaDaicho"."koikinaiTokureiSochimotoShichosonCode" as "dbT1001HihokenshaDaicho_koikinaiTokureiSochimotoShichosonCode",
         "DbT1001HihokenshaDaicho"."kyuShichosonCode" as "dbT1001HihokenshaDaicho_kyuShichosonCode",
         "DbT1001HihokenshaDaicho"."logicalDeletedFlag" as "dbT1001HihokenshaDaicho_logicalDeletedFlag"
    </sql>
         
</mapper>
