<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- @reamsid_L DBC-3100-020 jiangxiaolong -->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.hanyolistkogakugassan.IHanyoListKogakuGassanMapper">
    <select resultOrdered="true" id="getCSVData"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.hanyolistkogakugassan.HanyoListKogakuGassanKeisanMybatisParameter"
            resultMap="resultMap_HanyoListKogakuGassanKeisanEntity" fetchSize="500">
        WITH  CSV対象  AS (
        SELECT 
        <include refid="allColumns_DbT1001HihokenshaDaicho" />,
        <include refid="columns_DbT4001JukyushaDaicho"/>,
        <include refid="allColumns_DbT3072KogakuGassanShikyuGakuKeisanKekka"/> 
        FROM
        rgdb."DbT3072KogakuGassanShikyuGakuKeisanKekka" AS "DbT3072KogakuGassanShikyuGakuKeisanKekka"
        INNER  JOIN
        rgdb."DbV1001HihokenshaDaicho" AS "DbT1001HihokenshaDaicho"
        ON "DbT1001HihokenshaDaicho"."hihokenshaNo" = "DbT3072KogakuGassanShikyuGakuKeisanKekka"."hihokenshaNo"
        LEFT JOIN
        rgdb."DbV4001JukyushaDaicho" AS "DbT4001JukyushaDaicho"
        ON "DbT4001JukyushaDaicho"."hihokenshaNo" = "DbT3072KogakuGassanShikyuGakuKeisanKekka"."hihokenshaNo"
        <if test="抽出区分!=null and !抽出区分.isEmpty()">
        INNER JOIN
          (SELECT 
            DbT3072KogakuGassanShikyuGakuKei."hihokenshaNo",
            DbT3072KogakuGassanShikyuGakuKei."taishoNendo",
            DbT3072KogakuGassanShikyuGakuKei."shoKisaiHokenshaNo",
            DbT3072KogakuGassanShikyuGakuKei."shikyuShinseishoSeiriNo",
            DbT3072KogakuGassanShikyuGakuKei."rirekiNo"
           FROM (SELECT *,
                    ROW_NUMBER() OVER 
                        (PARTITION BY "DbT3072KogakuGassanShikyuGakuKeisanKekka"."hihokenshaNo", 
                        "DbT3072KogakuGassanShikyuGakuKeisanKekka"."taishoNendo",
                        "DbT3072KogakuGassanShikyuGakuKeisanKekka"."shoKisaiHokenshaNo",
                        "DbT3072KogakuGassanShikyuGakuKeisanKekka"."shikyuShinseishoSeiriNo"
                        ORDER BY "DbT3072KogakuGassanShikyuGakuKeisanKekka"."rirekiNo" DESC)
                        AS DbT3072KogakuGassanShikyuGakuKeisanKekka_番号
                 FROM rgdb."DbT3072KogakuGassanShikyuGakuKeisanKekka"
                 WHERE "DbT3072KogakuGassanShikyuGakuKeisanKekka"."isDeleted" = false
                ) AS DbT3072KogakuGassanShikyuGakuKei
           WHERE DbT3072KogakuGassanShikyuGakuKeisanKekka_番号 = '1') AS DbT3072KogakuGassanShikyuGakuKeisanKekka2
           ON DbT3072KogakuGassanShikyuGakuKeisanKekka2."hihokenshaNo" = "DbT3072KogakuGassanShikyuGakuKeisanKekka"."hihokenshaNo"
        AND DbT3072KogakuGassanShikyuGakuKeisanKekka2."taishoNendo" = "DbT3072KogakuGassanShikyuGakuKeisanKekka"."taishoNendo" 
        AND DbT3072KogakuGassanShikyuGakuKeisanKekka2."shoKisaiHokenshaNo" = "DbT3072KogakuGassanShikyuGakuKeisanKekka"."shoKisaiHokenshaNo"
        AND DbT3072KogakuGassanShikyuGakuKeisanKekka2."shikyuShinseishoSeiriNo" = "DbT3072KogakuGassanShikyuGakuKeisanKekka"."shikyuShinseishoSeiriNo"
        AND DbT3072KogakuGassanShikyuGakuKeisanKekka2."rirekiNo" = "DbT3072KogakuGassanShikyuGakuKeisanKekka"."rirekiNo"
        <!-- QA#1353 -->
        </if>
        WHERE "DbT3072KogakuGassanShikyuGakuKeisanKekka"."isDeleted" = false
        <if test="データ区分!=null and データ区分.toString()!=''.toString()">
        AND "DbT3072KogakuGassanShikyuGakuKeisanKekka"."dataKubun" = #{データ区分}   
        </if>
        <if test="データ種類!=null and データ種類.toString()!=''.toString()">
            <if test="データ種類 == 1">
            AND "DbT3072KogakuGassanShikyuGakuKeisanKekka"."kekkaRenrakusakiYubinNo" <![CDATA[<>]]> #{介護合算_仮算定データ}
            </if>
            <if test="データ種類 == 2">
            AND "DbT3072KogakuGassanShikyuGakuKeisanKekka"."kekkaRenrakusakiYubinNo" = #{介護合算_仮算定データ}
            </if>
        </if>
        <if test="対象年度!=null and !対象年度.isEmpty()">
        AND "DbT3072KogakuGassanShikyuGakuKeisanKekka"."taishoNendo" = #{対象年度}
        </if>
        <if test="受取年月From!=null and !受取年月From.isEmpty()">
        AND "DbT3072KogakuGassanShikyuGakuKeisanKekka"."uketoriYM"<![CDATA[>=]]>#{受取年月From}    
        </if>
        <if test="受取年月To!=null and !受取年月To.isEmpty()">
        AND "DbT3072KogakuGassanShikyuGakuKeisanKekka"."uketoriYM"<![CDATA[<=]]>#{受取年月To}
        </if>
        <if test="送付年月From!=null and !送付年月From.isEmpty()">
        AND "DbT3072KogakuGassanShikyuGakuKeisanKekka"."sofuYM"<![CDATA[>=]]>#{送付年月From}
        </if>
        <if test="送付年月To!=null and !送付年月To.isEmpty()">
        AND "DbT3072KogakuGassanShikyuGakuKeisanKekka"."sofuYM"<![CDATA[<=]]>#{送付年月To}
        </if>
        <if test="保険者コード!=null and !保険者コード.isEmpty() and  保険者コード.getColumnValue() != '1' ">
         AND "DbT1001HihokenshaDaicho"."shichosonCode" = #{保険者コード}
        </if>
        )
        SELECT
        "dbT1001HihokenshaDaicho_hihokenshaNo",
        "dbT1001HihokenshaDaicho_idoYMD",
        "dbT1001HihokenshaDaicho_edaNo",
        "dbT1001HihokenshaDaicho_shichosonCode",
        "dbT1001HihokenshaDaicho_shikibetsuCode",
        "dbT1001HihokenshaDaicho_shikakuShutokuJiyuCode",
        "dbT1001HihokenshaDaicho_shikakuShutokuYMD",
        "dbT1001HihokenshaDaicho_shikakuShutokuTodokedeYMD",
        "dbT1001HihokenshaDaicho_ichigoShikakuShutokuYMD",
        "dbT1001HihokenshaDaicho_hihokennshaKubunCode",
        "dbT1001HihokenshaDaicho_shikakuSoshitsuJiyuCode",
        "dbT1001HihokenshaDaicho_shikakuSoshitsuYMD",
        "dbT1001HihokenshaDaicho_shikakuSoshitsuTodokedeYMD",
        "dbT1001HihokenshaDaicho_shikakuHenkoJiyuCode",
        "dbT1001HihokenshaDaicho_shikakuHenkoYMD",
        "dbT1001HihokenshaDaicho_shikakuHenkoTodokedeYMD",
        "dbT1001HihokenshaDaicho_jushochitokureiTekiyoJiyuCode",
        "dbT1001HihokenshaDaicho_jushochitokureiTekiyoYMD",
        "dbT1001HihokenshaDaicho_jushochitokureiTekiyoTodokedeYMD",
        "dbT1001HihokenshaDaicho_jushochitokureiKaijoJiyuCode",
        "dbT1001HihokenshaDaicho_jushochitokureiKaijoYMD",
        "dbT1001HihokenshaDaicho_jushochitokureiKaijoTodokedeYMD",
        "dbT1001HihokenshaDaicho_jushochiTokureiFlag",
        "dbT1001HihokenshaDaicho_koikinaiJushochiTokureiFlag",
        "dbT1001HihokenshaDaicho_kyuShichosonCode",
        "dbT4001JukyushaDaicho_shichosonCode",
        "dbT4001JukyushaDaicho_hihokenshaNo",
        "dbT4001JukyushaDaicho_rirekiNo",
        "dbT4001JukyushaDaicho_edaban",
        "dbT4001JukyushaDaicho_jukyuShinseiJiyu",
        "dbT4001JukyushaDaicho_jukyuShinseiYMD",
        "dbT4001JukyushaDaicho_yokaigoJotaiKubunCode",
        "dbT4001JukyushaDaicho_ninteiYukoKikanKaishiYMD",
        "dbT4001JukyushaDaicho_ninteiYukoKikanShuryoYMD",
        "dbT4001JukyushaDaicho_ninteiYMD",
        "dbT4001JukyushaDaicho_chokkinIdoJiyuCode",
        "dbT4001JukyushaDaicho_yoshienshaNinteiShinseiFlag",
        "dbT4001JukyushaDaicho_kyuSochishaFlag",
        <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.columns_ShikibetsuTaisho" />,
        <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt250FindAtesakiMapper.columns_Atesaki"/>,
        "dbT3072_hihokenshaNo",
        "dbT3072_taishoNendo",
        "dbT3072_shoKisaiHokenshaNo",
        "dbT3072_shikyuShinseishoSeiriNo",
        "dbT3072_rirekiNo",
        "dbT3072_insertDantaiCd",
        "dbT3072_insertTimestamp",
        "dbT3072_insertReamsLoginId",
        "dbT3072_insertContextId",
        "dbT3072_isDeleted",
        "dbT3072_updateCount",
        "dbT3072_lastUpdateTimestamp",
        "dbT3072_lastUpdateReamsLoginId",
        "dbT3072_hokenSeidoCode",
        "dbT3072_jikoFutanSeiriNo",
        "dbT3072_taishoKeisanKaishiYMD",
        "dbT3072_taishoKeisanShuryoYMD",
        "dbT3072_setaiFutanSogaku",
        "dbT3072_setaiGassanGaku",
        "dbT3072_over70_SetaiGassanGaku",
        "dbT3072_shotokuKubun",
        "dbT3072_over70_ShotokuKubun",
        "dbT3072_santeiKijunGaku",
        "dbT3072_over70_SanteiKijyunGaku",
        "dbT3072_setaiShikyuSogaku",
        "dbT3072_over70_SetaiShikyuSogaku",
        "dbT3072_honninShikyugaku",
        "dbT3072_over70_honninShikyugaku",
        "dbT3072_teiShotoku_1_SaiKeisanUmu",
        "dbT3072_biko",
        "dbT3072_kekkaRenrakusakiYubinNo",
        "dbT3072_kekkaRenrakusakiJusho",
        "dbT3072_ketteRenrakusakiMeisho1",
        "dbT3072_kekkaRenrakusakiMeisho2",
        "dbT3072_tsuchiYMD",
        "dbT3072_renrakuhyoHakkoshaMei",
        "dbT3072_renrakuhyoHakkoshaYubinNo",
        "dbT3072_renrakuhyoHakkoshaJusho",
        "dbT3072_toiawasesakiYobinNo",
        "dbT3072_toiawasesakiJusho",
        "dbT3072_toiawasesakiMeisho1",
        "dbT3072_toiawasesakiMeisho2",
        "dbT3072_toiawasesakiTelNo",
        "dbT3072_over70_FutangakuGokei",
        "dbT3072_over70_ShikyugakuGokei",
        "dbT3072_under70_FutangakuGokei",
        "dbT3072_futangakuGokei",
        "dbT3072_under70_ShikyugakuGokei",
        "dbT3072_shikyugakuGokei",
        "dbT3072_dataKubun",
        "dbT3072_uketoriYM",
        "dbT3072_sofuYM",
        "dbT3072_saisoFG",
        "dbT3072_sikyugakuKeisanKekkaRenrakuhyoSakuseiYMD"
        FROM CSV対象
        INNER JOIN
        <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.tableName_PsmParamClassShikibetsuTaisho" /> AS "ShikibetsuTaisho"
        ON "ShikibetsuTaisho"."shikibetsuCode" = "dbT1001HihokenshaDaicho_shikibetsuCode"
        INNER JOIN rgua."UaFt250FindAtesaki"('DB','DBC','',FALSE,'','',TRUE ,TRUE ,TRUE ,TRUE ,'') AS "Atesaki"
        ON "Atesaki"."shikibetsuCode" = "dbT1001HihokenshaDaicho_shikibetsuCode"
        <if test="出力項目!=null">
         ${出力項目}
        </if>
    </select>

    <resultMap id="resultMap_HanyoListKogakuGassanKeisanEntity" type="jp.co.ndensan.reams.db.dbc.entity.db.relate.hanyolistkogakugassan.HanyoListKogakuGassanKeisanEntity" autoMapping="true">
        <id property="高額合算支給額計算結果.hihokenshaNo" column="dbT3072KogakuGassanShikyuGakuKeisanKekka_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="高額合算支給額計算結果.taishoNendo" column="dbT3072KogakuGassanShikyuGakuKeisanKekka_taishoNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <id property="高額合算支給額計算結果.shoKisaiHokenshaNo" column="dbT3072KogakuGassanShikyuGakuKeisanKekka_shoKisaiHokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HokenshaNoTypeHandler"/>
        <id property="高額合算支給額計算結果.shikyuShinseishoSeiriNo" column="dbT3072KogakuGassanShikyuGakuKeisanKekka_shikyuShinseishoSeiriNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="高額合算支給額計算結果.rirekiNo" column="dbT3072KogakuGassanShikyuGakuKeisanKekka_rirekiNo" />
        <id property="宛名.shikibetsuCode" column="ShikibetsuTaisho_shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler" />
        <id property="宛名.rirekiNo" column="ShikibetsuTaisho_rirekiNo" />
        <id property="最新被保台帳.hihokenshaNo" column="dbT1001HihokenshaDaicho_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="最新被保台帳.idoYMD" column="dbT1001HihokenshaDaicho_idoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <id property="最新被保台帳.edaNo" column="dbT1001HihokenshaDaicho_edaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="宛先.shikibetsuCode" column="Atesaki_shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler" />
        <id property="宛先.atesakiShubetsu" column="Atesaki_atesakiShubetsu" typeHandler="RStringTypeHandler" />
        <id property="宛先.gyomubetsuPrimaryKey" column="Atesaki_gyomubetsuPrimaryKey" typeHandler="RStringTypeHandler" />
        <id property="宛先.gyomuKoyuKey" column="Atesaki_gyomuKoyuKey" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <id property="宛先.gyomuCode" column="Atesaki_gyomuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.GyomuCodeTypeHandler" />
        <id property="宛先.subGyomuCode" column="Atesaki_subGyomuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.SubGyomuCodeTypeHandler" />
        <id property="宛先.gyomuGroupCode" column="Atesaki_gyomuGroupCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <id property="宛先.subGyomuGroupCode" column="Atesaki_subGyomuGroupCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <id property="宛先.kamokuCode" column="Atesaki_kamokuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.KamokuCodeTypeHandler" />
        <id property="受給者台帳.shichosonCode" column="dbT4001JukyushaDaicho_shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <id property="受給者台帳.hihokenshaNo" column="dbT4001JukyushaDaicho_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="受給者台帳.rirekiNo" column="dbT4001JukyushaDaicho_rirekiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="受給者台帳.edaban" column="dbT4001JukyushaDaicho_edaban" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="受給者台帳.jukyuShinseiJiyu" column="dbT4001JukyushaDaicho_jukyuShinseiJiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <association property="高額合算支給額計算結果" resultMap="ResultMap_DbT3072KogakuGassanShikyuGakuKeisanKekkaEntity" />
	<association property="宛名" resultMap="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.UaFt200FindShikibetsuTaishoEntity"/>
        <association property="最新被保台帳" resultMap="NewResultMap_DbT1001HihokenshaDaichoEntity"/>
        <association property="宛先" resultMap="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt250FindAtesakiMapper.resultAtesakiEntity"/>
        <association property="受給者台帳" resultMap="ResultMap_DbT4001JukyushaDaichoEntity"/>
    </resultMap>
    
    <sql id="allColumns_DbT1001HihokenshaDaicho">
         "DbT1001HihokenshaDaicho"."hihokenshaNo" as "dbT1001HihokenshaDaicho_hihokenshaNo",
         "DbT1001HihokenshaDaicho"."idoYMD" as "dbT1001HihokenshaDaicho_idoYMD",
         "DbT1001HihokenshaDaicho"."edaNo" as "dbT1001HihokenshaDaicho_edaNo",
         "DbT1001HihokenshaDaicho"."shichosonCode" as "dbT1001HihokenshaDaicho_shichosonCode",
         "DbT1001HihokenshaDaicho"."shikibetsuCode" as "dbT1001HihokenshaDaicho_shikibetsuCode",
         "DbT1001HihokenshaDaicho"."shikakuShutokuJiyuCode" as "dbT1001HihokenshaDaicho_shikakuShutokuJiyuCode",
         "DbT1001HihokenshaDaicho"."shikakuShutokuYMD" as "dbT1001HihokenshaDaicho_shikakuShutokuYMD",
         "DbT1001HihokenshaDaicho"."shikakuShutokuTodokedeYMD" as "dbT1001HihokenshaDaicho_shikakuShutokuTodokedeYMD",
         "DbT1001HihokenshaDaicho"."ichigoShikakuShutokuYMD" as "dbT1001HihokenshaDaicho_ichigoShikakuShutokuYMD",
         "DbT1001HihokenshaDaicho"."hihokennshaKubunCode" as "dbT1001HihokenshaDaicho_hihokennshaKubunCode",
         "DbT1001HihokenshaDaicho"."shikakuSoshitsuJiyuCode" as "dbT1001HihokenshaDaicho_shikakuSoshitsuJiyuCode",
         "DbT1001HihokenshaDaicho"."shikakuSoshitsuYMD" as "dbT1001HihokenshaDaicho_shikakuSoshitsuYMD",
         "DbT1001HihokenshaDaicho"."shikakuSoshitsuTodokedeYMD" as "dbT1001HihokenshaDaicho_shikakuSoshitsuTodokedeYMD",
         "DbT1001HihokenshaDaicho"."shikakuHenkoJiyuCode" as "dbT1001HihokenshaDaicho_shikakuHenkoJiyuCode",
         "DbT1001HihokenshaDaicho"."shikakuHenkoYMD" as "dbT1001HihokenshaDaicho_shikakuHenkoYMD",
         "DbT1001HihokenshaDaicho"."shikakuHenkoTodokedeYMD" as "dbT1001HihokenshaDaicho_shikakuHenkoTodokedeYMD",
         "DbT1001HihokenshaDaicho"."jushochitokureiTekiyoJiyuCode" as "dbT1001HihokenshaDaicho_jushochitokureiTekiyoJiyuCode",
         "DbT1001HihokenshaDaicho"."jushochitokureiTekiyoYMD" as "dbT1001HihokenshaDaicho_jushochitokureiTekiyoYMD",
         "DbT1001HihokenshaDaicho"."jushochitokureiTekiyoTodokedeYMD" as "dbT1001HihokenshaDaicho_jushochitokureiTekiyoTodokedeYMD",
         "DbT1001HihokenshaDaicho"."jushochitokureiKaijoJiyuCode" as "dbT1001HihokenshaDaicho_jushochitokureiKaijoJiyuCode",
         "DbT1001HihokenshaDaicho"."jushochitokureiKaijoYMD" as "dbT1001HihokenshaDaicho_jushochitokureiKaijoYMD",
         "DbT1001HihokenshaDaicho"."jushochitokureiKaijoTodokedeYMD" as "dbT1001HihokenshaDaicho_jushochitokureiKaijoTodokedeYMD",
         "DbT1001HihokenshaDaicho"."jushochiTokureiFlag" as "dbT1001HihokenshaDaicho_jushochiTokureiFlag",
         "DbT1001HihokenshaDaicho"."koikinaiJushochiTokureiFlag" as "dbT1001HihokenshaDaicho_koikinaiJushochiTokureiFlag",
         "DbT1001HihokenshaDaicho"."koikinaiTokureiSochimotoShichosonCode" as "dbT1001HihokenshaDaicho_koikinaiTokureiSochimotoShichosonCode",
         "DbT1001HihokenshaDaicho"."kyuShichosonCode" as "dbT1001HihokenshaDaicho_kyuShichosonCode"
    </sql>
    
    <resultMap id="NewResultMap_DbT1001HihokenshaDaichoEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT1001HihokenshaDaichoEntity" autoMapping="true">
        <id property="hihokenshaNo" column="dbT1001HihokenshaDaicho_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="idoYMD" column="dbT1001HihokenshaDaicho_idoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <id property="edaNo" column="dbT1001HihokenshaDaicho_edaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shichosonCode" column="dbT1001HihokenshaDaicho_shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <result property="shikibetsuCode" column="dbT1001HihokenshaDaicho_shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="shikakuShutokuJiyuCode" column="dbT1001HihokenshaDaicho_shikakuShutokuJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shikakuShutokuYMD" column="dbT1001HihokenshaDaicho_shikakuShutokuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shikakuShutokuTodokedeYMD" column="dbT1001HihokenshaDaicho_shikakuShutokuTodokedeYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ichigoShikakuShutokuYMD" column="dbT1001HihokenshaDaicho_ichigoShikakuShutokuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="hihokennshaKubunCode" column="dbT1001HihokenshaDaicho_hihokennshaKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shikakuSoshitsuJiyuCode" column="dbT1001HihokenshaDaicho_shikakuSoshitsuJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shikakuSoshitsuYMD" column="dbT1001HihokenshaDaicho_shikakuSoshitsuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shikakuSoshitsuTodokedeYMD" column="dbT1001HihokenshaDaicho_shikakuSoshitsuTodokedeYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shikakuHenkoJiyuCode" column="dbT1001HihokenshaDaicho_shikakuHenkoJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shikakuHenkoYMD" column="dbT1001HihokenshaDaicho_shikakuHenkoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shikakuHenkoTodokedeYMD" column="dbT1001HihokenshaDaicho_shikakuHenkoTodokedeYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="jushochitokureiTekiyoJiyuCode" column="dbT1001HihokenshaDaicho_jushochitokureiTekiyoJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="jushochitokureiTekiyoYMD" column="dbT1001HihokenshaDaicho_jushochitokureiTekiyoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="jushochitokureiTekiyoTodokedeYMD" column="dbT1001HihokenshaDaicho_jushochitokureiTekiyoTodokedeYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="jushochitokureiKaijoJiyuCode" column="dbT1001HihokenshaDaicho_jushochitokureiKaijoJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="jushochitokureiKaijoYMD" column="dbT1001HihokenshaDaicho_jushochitokureiKaijoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="jushochitokureiKaijoTodokedeYMD" column="dbT1001HihokenshaDaicho_jushochitokureiKaijoTodokedeYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="jushochiTokureiFlag" column="dbT1001HihokenshaDaicho_jushochiTokureiFlag" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="koikinaiJushochiTokureiFlag" column="dbT1001HihokenshaDaicho_koikinaiJushochiTokureiFlag" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kyuShichosonCode" column="dbT1001HihokenshaDaicho_kyuShichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
    </resultMap>
    
     <sql id="columns_DbT4001JukyushaDaicho">
         "DbT4001JukyushaDaicho"."shichosonCode" as "dbT4001JukyushaDaicho_shichosonCode",
         "DbT4001JukyushaDaicho"."hihokenshaNo" as "dbT4001JukyushaDaicho_hihokenshaNo",
         "DbT4001JukyushaDaicho"."rirekiNo" as "dbT4001JukyushaDaicho_rirekiNo",
         "DbT4001JukyushaDaicho"."edaban" as "dbT4001JukyushaDaicho_edaban",
         "DbT4001JukyushaDaicho"."jukyuShinseiJiyu" as "dbT4001JukyushaDaicho_jukyuShinseiJiyu",
         "DbT4001JukyushaDaicho"."jukyuShinseiYMD" as "dbT4001JukyushaDaicho_jukyuShinseiYMD",
         "DbT4001JukyushaDaicho"."yokaigoJotaiKubunCode" as "dbT4001JukyushaDaicho_yokaigoJotaiKubunCode",
         "DbT4001JukyushaDaicho"."ninteiYukoKikanKaishiYMD" as "dbT4001JukyushaDaicho_ninteiYukoKikanKaishiYMD",
         "DbT4001JukyushaDaicho"."ninteiYukoKikanShuryoYMD" as "dbT4001JukyushaDaicho_ninteiYukoKikanShuryoYMD",
         "DbT4001JukyushaDaicho"."ninteiYMD" as "dbT4001JukyushaDaicho_ninteiYMD",
         "DbT4001JukyushaDaicho"."chokkinIdoJiyuCode" as "dbT4001JukyushaDaicho_chokkinIdoJiyuCode",
         "DbT4001JukyushaDaicho"."yoshienshaNinteiShinseiFlag" as "dbT4001JukyushaDaicho_yoshienshaNinteiShinseiFlag",
         "DbT4001JukyushaDaicho"."kyuSochishaFlag" as "dbT4001JukyushaDaicho_kyuSochishaFlag"
    </sql>
    
    <resultMap id="ResultMap_DbT4001JukyushaDaichoEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT4001JukyushaDaichoEntity" autoMapping="true">
        <id property="shichosonCode" column="dbT4001JukyushaDaicho_shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <id property="hihokenshaNo" column="dbT4001JukyushaDaicho_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="rirekiNo" column="dbT4001JukyushaDaicho_rirekiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="edaban" column="dbT4001JukyushaDaicho_edaban" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="jukyuShinseiJiyu" column="dbT4001JukyushaDaicho_jukyuShinseiJiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="jukyuShinseiYMD" column="dbT4001JukyushaDaicho_jukyuShinseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="yokaigoJotaiKubunCode" column="dbT4001JukyushaDaicho_yokaigoJotaiKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="ninteiYukoKikanKaishiYMD" column="dbT4001JukyushaDaicho_ninteiYukoKikanKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ninteiYukoKikanShuryoYMD" column="dbT4001JukyushaDaicho_ninteiYukoKikanShuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ninteiYMD" column="dbT4001JukyushaDaicho_ninteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="chokkinIdoJiyuCode" column="dbT4001JukyushaDaicho_chokkinIdoJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="yoshienshaNinteiShinseiFlag" column="dbT4001JukyushaDaicho_yoshienshaNinteiShinseiFlag" />
        <result property="kyuSochishaFlag" column="dbT4001JukyushaDaicho_kyuSochishaFlag" />
    </resultMap>
    
    <resultMap id="ResultMap_DbT3072KogakuGassanShikyuGakuKeisanKekkaEntity" type="jp.co.ndensan.reams.db.dbc.entity.db.basic.DbT3072KogakuGassanShikyuGakuKeisanKekkaEntity" autoMapping="true">
        <id property="hihokenshaNo" column="dbT3072_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="taishoNendo" column="dbT3072_taishoNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <id property="shoKisaiHokenshaNo" column="dbT3072_shoKisaiHokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HokenshaNoTypeHandler"/>
        <id property="shikyuShinseishoSeiriNo" column="dbT3072_shikyuShinseishoSeiriNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="rirekiNo" column="dbT3072_rirekiNo" />
        <result property="insertDantaiCd" column="dbT3072_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT3072_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT3072_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT3072_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT3072_isDeleted" />
        <result property="updateCount" column="dbT3072_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT3072_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT3072_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hokenSeidoCode" column="dbT3072_hokenSeidoCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="jikoFutanSeiriNo" column="dbT3072_jikoFutanSeiriNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="taishoKeisanKaishiYMD" column="dbT3072_taishoKeisanKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="taishoKeisanShuryoYMD" column="dbT3072_taishoKeisanShuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="setaiFutanSogaku" column="dbT3072_setaiFutanSogaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="setaiGassanGaku" column="dbT3072_setaiGassanGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="over70_SetaiGassanGaku" column="dbT3072_over70_SetaiGassanGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="shotokuKubun" column="dbT3072_shotokuKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="over70_ShotokuKubun" column="dbT3072_over70_ShotokuKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="santeiKijunGaku" column="dbT3072_santeiKijunGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="over70_SanteiKijyunGaku" column="dbT3072_over70_SanteiKijyunGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="setaiShikyuSogaku" column="dbT3072_setaiShikyuSogaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="over70_SetaiShikyuSogaku" column="dbT3072_over70_SetaiShikyuSogaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="honninShikyugaku" column="dbT3072_honninShikyugaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="over70_honninShikyugaku" column="dbT3072_over70_honninShikyugaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="teiShotoku_1_SaiKeisanUmu" column="dbT3072_teiShotoku_1_SaiKeisanUmu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="biko" column="dbT3072_biko" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kekkaRenrakusakiYubinNo" column="dbT3072_kekkaRenrakusakiYubinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler"/>
        <result property="kekkaRenrakusakiJusho" column="dbT3072_kekkaRenrakusakiJusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="ketteRenrakusakiMeisho1" column="dbT3072_ketteRenrakusakiMeisho1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kekkaRenrakusakiMeisho2" column="dbT3072_kekkaRenrakusakiMeisho2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="tsuchiYMD" column="dbT3072_tsuchiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="renrakuhyoHakkoshaMei" column="dbT3072_renrakuhyoHakkoshaMei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="renrakuhyoHakkoshaYubinNo" column="dbT3072_renrakuhyoHakkoshaYubinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler"/>
        <result property="renrakuhyoHakkoshaJusho" column="dbT3072_renrakuhyoHakkoshaJusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="toiawasesakiYobinNo" column="dbT3072_toiawasesakiYobinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler"/>
        <result property="toiawasesakiJusho" column="dbT3072_toiawasesakiJusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="toiawasesakiMeisho1" column="dbT3072_toiawasesakiMeisho1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="toiawasesakiMeisho2" column="dbT3072_toiawasesakiMeisho2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="toiawasesakiTelNo" column="dbT3072_toiawasesakiTelNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.TelNoTypeHandler"/>
        <result property="over70_FutangakuGokei" column="dbT3072_over70_FutangakuGokei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="over70_ShikyugakuGokei" column="dbT3072_over70_ShikyugakuGokei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="under70_FutangakuGokei" column="dbT3072_under70_FutangakuGokei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="futangakuGokei" column="dbT3072_futangakuGokei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="under70_ShikyugakuGokei" column="dbT3072_under70_ShikyugakuGokei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="shikyugakuGokei" column="dbT3072_shikyugakuGokei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="dataKubun" column="dbT3072_dataKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="uketoriYM" column="dbT3072_uketoriYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="sofuYM" column="dbT3072_sofuYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="saisoFG" column="dbT3072_saisoFG" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="sikyugakuKeisanKekkaRenrakuhyoSakuseiYMD" column="dbT3072_sikyugakuKeisanKekkaRenrakuhyoSakuseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
    </resultMap>
    
    <sql id="allColumns_DbT3072KogakuGassanShikyuGakuKeisanKekka">
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."hihokenshaNo" as "dbT3072_hihokenshaNo",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."taishoNendo" as "dbT3072_taishoNendo",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."shoKisaiHokenshaNo" as "dbT3072_shoKisaiHokenshaNo",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."shikyuShinseishoSeiriNo" as "dbT3072_shikyuShinseishoSeiriNo",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."rirekiNo" as "dbT3072_rirekiNo",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."insertDantaiCd" as "dbT3072_insertDantaiCd",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."insertTimestamp" as "dbT3072_insertTimestamp",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."insertReamsLoginId" as "dbT3072_insertReamsLoginId",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."insertContextId" as "dbT3072_insertContextId",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."isDeleted" as "dbT3072_isDeleted",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."updateCount" as "dbT3072_updateCount",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."lastUpdateTimestamp" as "dbT3072_lastUpdateTimestamp",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."lastUpdateReamsLoginId" as "dbT3072_lastUpdateReamsLoginId",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."hokenSeidoCode" as "dbT3072_hokenSeidoCode",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."jikoFutanSeiriNo" as "dbT3072_jikoFutanSeiriNo",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."taishoKeisanKaishiYMD" as "dbT3072_taishoKeisanKaishiYMD",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."taishoKeisanShuryoYMD" as "dbT3072_taishoKeisanShuryoYMD",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."setaiFutanSogaku" as "dbT3072_setaiFutanSogaku",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."setaiGassanGaku" as "dbT3072_setaiGassanGaku",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."over70_SetaiGassanGaku" as "dbT3072_over70_SetaiGassanGaku",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."shotokuKubun" as "dbT3072_shotokuKubun",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."over70_ShotokuKubun" as "dbT3072_over70_ShotokuKubun",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."santeiKijunGaku" as "dbT3072_santeiKijunGaku",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."over70_SanteiKijyunGaku" as "dbT3072_over70_SanteiKijyunGaku",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."setaiShikyuSogaku" as "dbT3072_setaiShikyuSogaku",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."over70_SetaiShikyuSogaku" as "dbT3072_over70_SetaiShikyuSogaku",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."honninShikyugaku" as "dbT3072_honninShikyugaku",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."over70_honninShikyugaku" as "dbT3072_over70_honninShikyugaku",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."teiShotoku_1_SaiKeisanUmu" as "dbT3072_teiShotoku_1_SaiKeisanUmu",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."biko" as "dbT3072_biko",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."kekkaRenrakusakiYubinNo" as "dbT3072_kekkaRenrakusakiYubinNo",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."kekkaRenrakusakiJusho" as "dbT3072_kekkaRenrakusakiJusho",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."ketteRenrakusakiMeisho1" as "dbT3072_ketteRenrakusakiMeisho1",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."kekkaRenrakusakiMeisho2" as "dbT3072_kekkaRenrakusakiMeisho2",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."tsuchiYMD" as "dbT3072_tsuchiYMD",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."renrakuhyoHakkoshaMei" as "dbT3072_renrakuhyoHakkoshaMei",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."renrakuhyoHakkoshaYubinNo" as "dbT3072_renrakuhyoHakkoshaYubinNo",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."renrakuhyoHakkoshaJusho" as "dbT3072_renrakuhyoHakkoshaJusho",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."toiawasesakiYobinNo" as "dbT3072_toiawasesakiYobinNo",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."toiawasesakiJusho" as "dbT3072_toiawasesakiJusho",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."toiawasesakiMeisho1" as "dbT3072_toiawasesakiMeisho1",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."toiawasesakiMeisho2" as "dbT3072_toiawasesakiMeisho2",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."toiawasesakiTelNo" as "dbT3072_toiawasesakiTelNo",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."over70_FutangakuGokei" as "dbT3072_over70_FutangakuGokei",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."over70_ShikyugakuGokei" as "dbT3072_over70_ShikyugakuGokei",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."under70_FutangakuGokei" as "dbT3072_under70_FutangakuGokei",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."futangakuGokei" as "dbT3072_futangakuGokei",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."under70_ShikyugakuGokei" as "dbT3072_under70_ShikyugakuGokei",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."shikyugakuGokei" as "dbT3072_shikyugakuGokei",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."dataKubun" as "dbT3072_dataKubun",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."uketoriYM" as "dbT3072_uketoriYM",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."sofuYM" as "dbT3072_sofuYM",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."saisoFG" as "dbT3072_saisoFG",
         "DbT3072KogakuGassanShikyuGakuKeisanKekka"."sikyugakuKeisanKekkaRenrakuhyoSakuseiYMD" as "dbT3072_sikyugakuKeisanKekkaRenrakuhyoSakuseiYMD"
    </sql>
	 
</mapper>
