<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.ndensan.reams.db.dbu.persistence.jigyohokokugeppohoseihako.IJigyoHokokuGeppoHoseiHakoMapper">
    <select id="select事業報告集計一覧データ" parameterType="jp.co.ndensan.reams.db.dbu.entity.db.jigyohokokugeppohoseihako.JigyoHokokuGeppoHoseiHakoEntity"
            resultType="jp.co.ndensan.reams.db.dbu.entity.db.basic.DbT7021JigyoHokokuTokeiDataEntity" fetchSize="500">
        SELECT
        dbT7021JigyoHokokuTokeiData."hokokuYSeireki",
        dbT7021JigyoHokokuTokeiData."hokokuM",
        dbT7021JigyoHokokuTokeiData."shukeiTaishoYSeireki",
        dbT7021JigyoHokokuTokeiData."shukeiTaishoM",
        dbT7021JigyoHokokuTokeiData."toukeiTaishoKubun",
        CASE WHEN #{市町村コード} = NULL				
        THEN dbT7021JigyoHokokuTokeiData."shichosonCode"
        ELSE dbT7021JigyoHokokuTokeiData."shichosonCode" END     
        AS "shichosonCode",
        dbT7021JigyoHokokuTokeiData."hyoNo",
        dbT7021JigyoHokokuTokeiData."shukeiNo",
        dbT7021JigyoHokokuTokeiData."shukeiTani",
        dbT7021JigyoHokokuTokeiData."tateNo",
        dbT7021JigyoHokokuTokeiData."yokoNo",
        dbT7021JigyoHokokuTokeiData."lastUpdateTimestamp",
        dbT7021JigyoHokokuTokeiData."insertTimestamp",
        dbT7021JigyoHokokuTokeiData."shukeiKekkaAtai",
        dbT7021JigyoHokokuTokeiData."tateKomokuCode",
        dbT7021JigyoHokokuTokeiData."yokoKomokuCode",
        CASE  WHEN dbT7021JigyoHokokuTokeiData."hyoNo" = '01'														
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0200' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0301' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0302')															
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '01' 														
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '01'	
        AND		dbT7021JigyoHokokuTokeiData."shukeiNo" = '0701'	
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 ||  '02'	
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '01'
        AND		dbT7021JigyoHokokuTokeiData."shukeiNo" = '1010'
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 ||  '03'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '01'
        AND		dbT7021JigyoHokokuTokeiData."shukeiNo" = '0600'
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '04'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '01'
        AND		dbT7021JigyoHokokuTokeiData."shukeiNo" = '0900'
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 ||  '05'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '01'	
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0720' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0702')	
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '06'	
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '01'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '1020' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '1002')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 ||  '07'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '01'
        AND		dbT7021JigyoHokokuTokeiData."shukeiNo" = '1040'
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 ||  '08'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '01'
        AND		dbT7021JigyoHokokuTokeiData."shukeiNo" = '1030'
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '09'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '01'
        AND		dbT7021JigyoHokokuTokeiData."shukeiNo" = '1100'
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 ||  '10'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '01'
        AND		dbT7021JigyoHokokuTokeiData."shukeiNo" = '1200'
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '11'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '03'
        AND		dbT7021JigyoHokokuTokeiData."shukeiNo" = '1200'
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '12'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '05'
        AND		dbT7021JigyoHokokuTokeiData."shukeiNo" = '1200'
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 ||  '13'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '01'
        AND		dbT7021JigyoHokokuTokeiData."shukeiNo" = '1400'
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 ||  '14'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '03'
        AND		dbT7021JigyoHokokuTokeiData."shukeiNo" = '1400'
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 ||  '15'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '05'
        AND		dbT7021JigyoHokokuTokeiData."shukeiNo" = '1400'
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '16'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '01'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '1391' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '1392' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '1393')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '17'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '03'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '1391' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '1392' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '1393')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '18'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '05'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '1391' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '1392' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '1393')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '19'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '01'
        AND		dbT7021JigyoHokokuTokeiData."shukeiNo" = '0100'
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 ||  '20'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '02'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0101' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0102' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0103' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0104')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 ||  '21'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '02'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0201' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0202' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0203' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0204')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 ||  '22'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" ='02'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0301' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0302' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0303' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0304')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '23'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '02'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0401' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0402' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0403' OR dbT7021JigyoHokokuTokeiData."shukeiNo" ='0404')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 ||  '24'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '04'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0101' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0102' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0103' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0104')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 ||'25'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '04'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0201' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0202' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0203' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0204')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '26'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '04'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0301' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0302' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0303' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0304')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 ||  '27'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '04'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0401' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0402' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0403' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0404')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '28'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '06'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0101' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0102' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0103' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0104')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '29'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '06'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0201' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0202' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0203' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0204')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '30'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '06'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0301' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0302' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0303' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0304')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '31'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '06'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0401' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0402' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0403' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0404')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '32'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '02'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0105' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0106')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '33'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '02'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0205' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0206')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '34'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '04'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0105' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0106')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '35'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '04'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0205' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0206')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '36'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '06'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0105' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0106')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '37'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '06'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0205' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0206')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '38'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '06'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0701' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0702' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0703' 
        OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0704' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0705' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0706' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0707')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '39'
        WHEN		dbT7021JigyoHokokuTokeiData."hyoNo" = '07'
        AND		(dbT7021JigyoHokokuTokeiData."shukeiNo" = '0801' OR dbT7021JigyoHokokuTokeiData."shukeiNo" ='0802' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0803' 
        OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0804' OR dbT7021JigyoHokokuTokeiData."shukeiNo" = '0805')
        THEN		TO_NUMBER("toukeiTaishoKubun", '9') -1 || '40'
        ELSE
        NULL
	
        END
        AS "yoshicode"
		
              
        FROM	rgdb."DbT7021JigyoHokokuTokeiData" AS dbT7021JigyoHokokuTokeiData
        WHERE
        dbT7021JigyoHokokuTokeiData."hokokuYSeireki"=#{報告年}
        AND	dbT7021JigyoHokokuTokeiData."hokokuM"=#{報告月}
        <if test="市町村コード">
            <!--            AND dbT7021JigyoHokokuTokeiData."toukeiTaishoKubun"=#{}-->
            AND dbT7021JigyoHokokuTokeiData."shichosonCode"=#{市町村コード}
        </if>
		
        ORDER BY
        dbT7021JigyoHokokuTokeiData."shichosonCode" ASC,
        dbT7021JigyoHokokuTokeiData."hokokuYSeireki" ASC,
        dbT7021JigyoHokokuTokeiData."hokokuM" DESC
    </select>
    
    <select id="select報告年度様式種類" parameterType="jp.co.ndensan.reams.db.dbu.definition.jigyohokokugeppoo.JigyoHokokuGeppoDetalSearchParameter"
            resultType="jp.co.ndensan.reams.db.dbu.entity.db.basic.DbT7021JigyoHokokuTokeiDataEntity" fetchSize="500">
        SELECT 
        dbT7021JigyoHokokuTokeiData."hokokuYSeireki",
        dbT7021JigyoHokokuTokeiData."hokokuM",
        dbT7021JigyoHokokuTokeiData."shukeiTaishoYSeireki",
        dbT7021JigyoHokokuTokeiData."shukeiTaishoM",
        dbT7021JigyoHokokuTokeiData."toukeiTaishoKubun",
        dbT7021JigyoHokokuTokeiData."shichosonCode",
        dbT7021JigyoHokokuTokeiData."hyoNo",
        dbT7021JigyoHokokuTokeiData."shukeiNo",
        dbT7021JigyoHokokuTokeiData."shukeiTani",
        dbT7021JigyoHokokuTokeiData."tateNo",
        dbT7021JigyoHokokuTokeiData."yokoNo",
        dbT7021JigyoHokokuTokeiData."shukeiKekkaAtai",
        dbT7021JigyoHokokuTokeiData."tateKomokuCode",
        dbT7021JigyoHokokuTokeiData."yokoKomokuCode"
        
        FROM	
        rgdb."DbT7021JigyoHokokuTokeiData" AS dbT7021JigyoHokokuTokeiData
        WHERE	
        dbT7021JigyoHokokuTokeiData."hokokuYSeireki"=#{報告年}
        AND dbT7021JigyoHokokuTokeiData."hokokuM"=#{報告月}
        AND dbT7021JigyoHokokuTokeiData."shukeiTaishoYSeireki"=#{集計対象年}
        AND dbT7021JigyoHokokuTokeiData."shukeiTaishoM"=#{集計対象月}
        AND dbT7021JigyoHokokuTokeiData."toukeiTaishoKubun"=#{統計対象区分}
        AND dbT7021JigyoHokokuTokeiData."shichosonCode"=#{市町村コード}
        AND dbT7021JigyoHokokuTokeiData."hyoNo"=#{表番号}
        AND dbT7021JigyoHokokuTokeiData."shukeiNo"=#{集計番号}	       
        ORDER BY												
        dbT7021JigyoHokokuTokeiData."hokokuYSeireki",											
        dbT7021JigyoHokokuTokeiData."hokokuM",										
        dbT7021JigyoHokokuTokeiData."shukeiTaishoYSeireki",											
        dbT7021JigyoHokokuTokeiData."shukeiTaishoM",											
        dbT7021JigyoHokokuTokeiData."toukeiTaishoKubun"	,										
        dbT7021JigyoHokokuTokeiData."shichosonCode",											
        dbT7021JigyoHokokuTokeiData."hyoNo",											
        dbT7021JigyoHokokuTokeiData."shukeiNo"	,										
        dbT7021JigyoHokokuTokeiData."shukeiTani",											
        dbT7021JigyoHokokuTokeiData."tateNo",											
        dbT7021JigyoHokokuTokeiData."yokoNo"
    </select>
    <update id="update事業報告集計一覧データ" parameterType="jp.co.ndensan.reams.db.dbu.definition.jigyohokokugeppoo.JigyoHokokuGeppoSearchParameter">
        UPDATE
        rgdb."DbT7021JigyoHokokuTokeiData"
        SET
        "shukeiKekkaAtai" = #{集計結果値}
        WHERE
        "hokokuYSeireki" =  #{報告年}
        AND
        "hokokuM" =  #{報告月}
        AND
        "shukeiTaishoYSeireki" =  #{集計対象年}
        AND
        "shukeiTaishoM" =  #{集計対象月}
        AND
        "toukeiTaishoKubun" =  #{統計対象区分}
        AND
        "shichosonCode" =  #{市町村コード}
        AND
        "hyoNo" =  #{表番号}
        AND
        "shukeiNo"  =  #{集計番号}
        AND
        "shukeiTani"  =  #{集計単位}
        AND
        "tateNo"  =  #{縦番号}
        AND
        "yokoNo"  =  #{横番号}
        AND
        "tateKomokuCode"  =  #{縦項目コード}
        AND
        "yokoKomokuCode"  =  #{横項目コード}
    </update>
    <delete id="delete事業報告年報" parameterType="jp.co.ndensan.reams.db.dbu.definition.jigyohokokugeppoo.JigyoHokokuGeppoDataDeleteParameter">
        DELETE
        FROM rgdb."DbT7021JigyoHokokuTokeiData"
        WHERE "hokokuYSeireki" =  #{報告年}
        AND
        "hokokuM" =  #{報告月}
        AND
        "shukeiTaishoYSeireki" =  #{集計対象年}
        AND
        "shukeiTaishoM" =  #{集計対象月}
        AND
        "toukeiTaishoKubun" =  #{統計対象区分}
        AND
        "shichosonCode" =  #{市町村コード}
        AND
        "hyoNo" =  #{表番号}
        AND
        "shukeiNo"  =  #{集計番号}
    </delete>
</mapper>
