<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.ndensan.reams.db.dba.persistence.mapper.basic.shichosonsentaku.IShichosonSentakuMapper">
    <resultMap id="shichosonResultMap" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.koseishichoson.DbT7051KoseiShichosonMasterEntity" autoMapping="true">
        <result property="shichosonCode" column="DbT7051Kosei_shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler" />
        <result property="shichosonMeisho" column="DbT7051Kosei_shichosonMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="gappeiKyuShichosonKubun" column="DbT7051Kosei_gappeiKyuShichosonKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
    </resultMap>
        
    <select id="getEntity" parameterType="jp.co.ndensan.reams.uz.uza.lang.FlexibleDate" resultMap = "shichosonResultMap" fetchSize="500">
        (SELECT
        DbT7051Kosei."shichosonCode" AS DbT7051Kosei_shichosonCode,
        DbT7051Kosei."shichosonMeisho" AS DbT7051Kosei_shichosonMeisho, 
        DbT7051Kosei."gappeiKyuShichosonKubun" AS DbT7051Kosei_gappeiKyuShichosonKubun
        FROM
        rgdb."DbT7051KoseiShichosonMaster" AS DbT7051Kosei
        WHERE DbT7051Kosei."gappeiKyuShichosonKubun" = '0'
        AND DbT7051Kosei."kanyuYMD" <![CDATA[<=]]> #{基準日}
        AND #{基準日} <![CDATA[<=]]> DbT7051Kosei."ridatsuYMD"
        ORDER BY					
        DbT7051Kosei."kanyuYMD" DESC,
        DbT7051Kosei."shichosonCode")
        UNION
        (SELECT
        DbT7051Kosei."shichosonCode" AS DbT7051Kosei_shichosonCode,
        DbT7051Kosei."shichosonMeisho" AS DbT7051Kosei_shichosonMeisho, 
        DbT7051Kosei."gappeiKyuShichosonKubun" AS DbT7051Kosei_gappeiKyuShichosonKubun
        FROM
        rgdb."DbT7051KoseiShichosonMaster" AS DbT7051Kosei
        WHERE 
        DbT7051Kosei."gappeiKyuShichosonHyojiUmu" = '1' AND DbT7051Kosei."gappeiKyuShichosonKubun"= '1'
        AND DbT7051Kosei."kanyuYMD" <![CDATA[<=]]> #{基準日}
        AND #{基準日} <![CDATA[<=]]> DbT7051Kosei."ridatsuYMD"
        ORDER BY
        DbT7051Kosei."kanyuYMD" DESC,
        DbT7051Kosei."shichosonCode")			
    </select>
</mapper>
