<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBE-0080-010 duanzhanli -->
<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.relate.iraisho.IIraishoIkkatsuHakkoMapper">
    <sql id="selectNinteiChousaIrai">
        SELECT                    
            "DbT5201NinteichosaIraiJoho"."ninteichosaItakusakiCode" AS "ninteichosaItakusakiCode",                  
            "DbT5910NinteichosaItakusakiJoho"."jigyoshaMeisho" AS "jigyoshaMeisho",                  
            "DbT5201NinteichosaIraiJoho"."ninteiChosainCode" AS "ninteiChosainCode",                  
            "DbT5913ChosainJoho"."chosainShimei" AS "chosainShimei",
            "DbT5101NinteiShinseiJoho"."shoKisaiHokenshaNo"              
        FROM                    
            rgdb."DbT5201NinteichosaIraiJoho",                  
            rgdb."DbT7051KoseiShichosonMaster",                  
            rgdb."DbT5910NinteichosaItakusakiJoho",                  
            rgdb."DbT5913ChosainJoho",                  
            rgdb."DbT5105NinteiKanryoJoho",                  
            rgdb."DbT5101NinteiShinseiJoho"                  
        <where>                    
            AND "DbT5910NinteichosaItakusakiJoho"."shichosonCode" = "DbT7051KoseiShichosonMaster"."shichosonCode"                  
            AND "DbT5910NinteichosaItakusakiJoho"."ninteichosaItakusakiCode" = "DbT5101NinteiShinseiJoho"."ninteiChosaItakusakiCode"                  
            AND "DbT5913ChosainJoho"."shichosonCode" = "DbT7051KoseiShichosonMaster"."shichosonCode"                  
            AND "DbT5913ChosainJoho"."ninteiChosaItakusakiCode" = "DbT5101NinteiShinseiJoho"."ninteiChosaItakusakiCode"                  
            AND "DbT5913ChosainJoho"."ninteiChosainCode" = "DbT5101NinteiShinseiJoho"."ninteiChosainCode"                  
            AND "DbT5201NinteichosaIraiJoho"."shinseishoKanriNo" = "DbT5101NinteiShinseiJoho"."shinseishoKanriNo"                  
            AND "DbT5201NinteichosaIraiJoho"."ninteichosaIraiRirekiNo" = 
            (SELECT 
                MAX("ninteichosaIraiRirekiNo") 
             FROM 
                rgdb."DbT5201NinteichosaIraiJoho"
            WHERE
                "shinseishoKanriNo" = "DbT5105NinteiKanryoJoho"."shinseishoKanriNo"
            )                  
            AND "DbT5201NinteichosaIraiJoho"."logicalDeletedFlag" = false                  
            AND "DbT5101NinteiShinseiJoho"."shinseishoKanriNo" = "DbT5105NinteiKanryoJoho"."shinseishoKanriNo"      
            AND "DbT5101NinteiShinseiJoho"."shoKisaiHokenshaNo" = "DbT7051KoseiShichosonMaster"."shoKisaiHokenshaNo"         
            AND "DbT5101NinteiShinseiJoho"."shoriJotaiKubun" IN (#{通常},#{延期})                 
            AND "DbT5101NinteiShinseiJoho"."logicalDeletedFlag" = false                  
            AND "DbT5105NinteiKanryoJoho"."ninteiShinseiJohoTorokuKanryoYMD" IS NOT NULL                  
            AND "DbT5105NinteiKanryoJoho"."ninteiShinsakaiWariateKanryoYMD" IS NULL                  
            AND "DbT5105NinteiKanryoJoho"."ninteiShinsakaiKanryoYMD" IS NULL                  
            AND "DbT5105NinteiKanryoJoho"."centerSoshinYMD" IS NULL 
            <if test="is依頼日From">
                AND #{依頼日From} <![CDATA[<=]]> "DbT5201NinteichosaIraiJoho"."ninteichosaIraiYMD"
            </if>
            <if test="is依頼日To">
                AND "DbT5201NinteichosaIraiJoho"."ninteichosaIraiYMD" <![CDATA[<=]]> #{依頼日To}
            </if>
            <if test="!is認定調査依頼書未印刷_印刷済">
                <if test="is認定調査依頼書未印刷">
                    AND "DbT5201NinteichosaIraiJoho"."iraishoShutsuryokuYMD" IS NULL
                </if>
                <if test="is認定調査依頼書印刷済">
                    AND "DbT5201NinteichosaIraiJoho"."iraishoShutsuryokuYMD" IS NOT NULL
                </if>
            </if>
            <if test="is保険者">
                AND "DbT7051KoseiShichosonMaster"."shoKisaiHokenshaNo" = #{保険者}
                <!--AND "DbT5101NinteiShinseiJoho"."shishoCode" = #{}-->
            </if>
            <if test="!is認定調査票未印刷_印刷済">
                <if test="is認定調査票未印刷">
                    AND "DbT5201NinteichosaIraiJoho"."chosahyoTouShutsuryokuYMD" IS NULL
                </if>
                <if test="is認定調査票印刷済">
                    AND "DbT5201NinteichosaIraiJoho"."chosahyoTouShutsuryokuYMD" IS NOT NULL
                </if>
            </if>
         </where>
    </sql>
    
    <select resultOrdered="true" id="getNinteiChousaIrai" parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.iraisho.IraishoIkkatsuHakkoParameter" resultMap="resultMap_IraishoIkkatsuHakkoRelateEntity" fetchSize="500">
        SELECT
            MAX(sabuKueri."ninteichosaItakusakiCode") AS "ninteichosaItakusakiCode",							
            MAX(sabuKueri."jigyoshaMeisho") AS "jigyoshaMeisho",							
            MAX(sabuKueri."ninteiChosainCode") AS "ninteiChosainCode",								
            MAX(sabuKueri."chosainShimei") AS "chosainShimei",
            MAX(sabuKueri."shoKisaiHokenshaNo") AS "shoKisaiHokenshaNo",							
            COUNT(0) AS "shinseishaCount"														
        FROM
            (<include refid="selectNinteiChousaIrai" />) AS sabuKueri
        GROUP BY
            sabuKueri."ninteichosaItakusakiCode",
	    sabuKueri."jigyoshaMeisho",	
            sabuKueri."ninteiChosainCode",
	    sabuKueri."chosainShimei"
        ORDER BY
            sabuKueri."ninteichosaItakusakiCode",
            sabuKueri."ninteiChosainCode"
        LIMIT #{最大表示件数}
    </select>
    
    <sql id="selectShuziiIkenshoIrai">
        SELECT											
            "DbT5301ShujiiIkenshoIraiJoho"."shujiiIryokikanCode" AS "shujiiIryokikanCode",										
            "DbT5911ShujiiIryoKikanJoho"."iryoKikanMeisho" AS "iryoKikanMeisho",										
            "DbT5301ShujiiIkenshoIraiJoho"."shujiiCode" AS "shujiiCode",										
            "DbT5912ShujiiJoho"."shujiiName" AS "shujiiName",
            "DbT5101NinteiShinseiJoho"."shoKisaiHokenshaNo"										
        FROM											
            rgdb."DbT5301ShujiiIkenshoIraiJoho",										
            rgdb."DbT7051KoseiShichosonMaster",										
            rgdb."DbT5911ShujiiIryoKikanJoho",										
            rgdb."DbT5912ShujiiJoho",										
            rgdb."DbT5105NinteiKanryoJoho",										
            rgdb."DbT5101NinteiShinseiJoho"										
        <where>											
            AND "DbT5911ShujiiIryoKikanJoho"."shichosonCode" = "DbT7051KoseiShichosonMaster"."shichosonCode"										
            AND "DbT5911ShujiiIryoKikanJoho"."shujiiIryokikanCode" = "DbT5301ShujiiIkenshoIraiJoho"."shujiiIryokikanCode"										
            AND "DbT5912ShujiiJoho"."shichosonCode" = "DbT7051KoseiShichosonMaster"."shichosonCode"										
            AND "DbT5912ShujiiJoho"."shujiiIryokikanCode" = "DbT5301ShujiiIkenshoIraiJoho"."shujiiIryokikanCode"										
            AND "DbT5912ShujiiJoho"."shujiiCode" = "DbT5301ShujiiIkenshoIraiJoho"."shujiiCode"										
            AND "DbT5301ShujiiIkenshoIraiJoho"."shinseishoKanriNo" = "DbT5105NinteiKanryoJoho"."shinseishoKanriNo"										
            AND "DbT5301ShujiiIkenshoIraiJoho"."ikenshoIraiRirekiNo" = 
            (SELECT 
                MAX("ikenshoIraiRirekiNo") 
            FROM 
                rgdb."DbT5301ShujiiIkenshoIraiJoho"
            WHERE
                "shinseishoKanriNo" = "DbT5105NinteiKanryoJoho"."shinseishoKanriNo"
            )										
            AND "DbT5301ShujiiIkenshoIraiJoho"."logicalDeletedFlag"=false										
            AND "DbT5101NinteiShinseiJoho"."shinseishoKanriNo" = "DbT5105NinteiKanryoJoho"."shinseishoKanriNo"
            AND "DbT5101NinteiShinseiJoho"."shoKisaiHokenshaNo" = "DbT7051KoseiShichosonMaster"."shoKisaiHokenshaNo"         										
            AND "DbT5101NinteiShinseiJoho"."shoriJotaiKubun" IN (#{通常},#{延期})										
            AND "DbT5101NinteiShinseiJoho"."logicalDeletedFlag" = false									
            AND "DbT5105NinteiKanryoJoho"."ninteiShinseiJohoTorokuKanryoYMD" IS NOT NULL                  
            AND "DbT5105NinteiKanryoJoho"."ninteiShinsakaiWariateKanryoYMD" IS NULL                  
            AND "DbT5105NinteiKanryoJoho"."ninteiShinsakaiKanryoYMD" IS NULL                  
            AND "DbT5105NinteiKanryoJoho"."centerSoshinYMD" IS NULL 	
            <if test="is依頼日From">
                AND #{依頼日From} <![CDATA[<=]]> "DbT5301ShujiiIkenshoIraiJoho"."ikenshoSakuseiIraiYMD"
            </if>
            <if test="is依頼日To">
                AND "DbT5301ShujiiIkenshoIraiJoho"."ikenshoSakuseiIraiYMD" <![CDATA[<=]]> #{依頼日To}
            </if>
            <if test="!is主治医意見書作成依頼書未印刷_印刷済">
                <if test="is主治医意見書作成依頼書未印刷">
                    AND "DbT5301ShujiiIkenshoIraiJoho"."iraishoShutsuryokuYMD" IS NULL
                </if>
                <if test="is主治医意見書作成依頼書印刷済">
                    AND "DbT5301ShujiiIkenshoIraiJoho"."iraishoShutsuryokuYMD" IS NOT NULL
                </if>
            </if>
            <if test="is保険者">
                AND "DbT7051KoseiShichosonMaster"."shoKisaiHokenshaNo" = #{保険者}
                <!--AND "DbT5101NinteiShinseiJoho"."shishoCode" = #{}-->
            </if>
            <if test="!is主治医意見書未印刷_印刷済">
                <if test="is主治医意見書未印刷">
                    AND "DbT5301ShujiiIkenshoIraiJoho"."ikenshoShutsuryokuYMD" IS NULL
                </if>
                <if test="is主治医意見書印刷済">
                    AND "DbT5301ShujiiIkenshoIraiJoho"."ikenshoShutsuryokuYMD" IS NOT NULL
                </if>
            </if>
         </where>
    </sql>
    
    <select resultOrdered="true" id="getShuziiIkenshoIrai" parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.iraisho.IraishoIkkatsuHakkoParameter" resultMap="resultMap_IraishoIkkatsuHakkoRelateEntity" fetchSize="500">
        SELECT
            MAX(sabuKueri."shujiiIryokikanCode") AS "shujiiIryokikanCode",							
            MAX(sabuKueri."iryoKikanMeisho") AS "iryoKikanMeisho",							
            MAX(sabuKueri."shujiiCode") AS "shujiiCode",								
            MAX(sabuKueri."shujiiName") AS "shujiiName",
            MAX(sabuKueri."shoKisaiHokenshaNo") AS "shoKisaiHokenshaNo",							
            COUNT(0) AS "shinseishaCount"														
        FROM
            (<include refid="selectShuziiIkenshoIrai" />) AS sabuKueri
        GROUP BY
            sabuKueri."shujiiIryokikanCode",
	    sabuKueri."iryoKikanMeisho",	
            sabuKueri."shujiiCode",
	    sabuKueri."shujiiName"
        ORDER BY
            sabuKueri."shujiiIryokikanCode",
            sabuKueri."shujiiCode"
        LIMIT #{最大表示件数}
    </select>

    <resultMap id="resultMap_IraishoIkkatsuHakkoRelateEntity" type="jp.co.ndensan.reams.db.dbe.entity.db.relate.iraisho.IraishoIkkatsuHakkoRelateEntity" autoMapping="true">
        <result property="ninteichosaItakusakiCode" column="ninteichosaItakusakiCode" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.JigyoshaNoTypeHandler"/>
        <result property="jigyoshaMeisho" column="jigyoshaMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="ninteiChosainCode" column="ninteiChosainCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="chosainShimei" column="chosainShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shoKisaiHokenshaNo" column="shoKisaiHokenshaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shujiiIryokikanCode" column="shujiiIryokikanCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="iryoKikanMeisho" column="iryoKikanMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shujiiCode" column="shujiiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shujiiName" column="shujiiName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="shinseishaCount" column="shinseishaCount" />
    </resultMap>
</mapper>
