<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： 総合事業種類情報取得のマッピング用XMLです。 -->
<!-- @reamsid_L DBC-3364-010 xuxin -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.sogojigyoshuruishikyugendogaku.ISogojigyoShuruiMapper">
    
    <select id="get総合事業種類情報"
           resultMap="resultMap_SogojigyoShurui"
           fetchSize="500" resultOrdered="true">
        SELECT
            A."tekiyoKaishiYM",
            A."tekiyoShuryoYM",
        CASE 
            A."yoKaigoJotaiKubun"
        WHEN
            '12'
        THEN
            A."shikyuGendoTaniSu"
        END AS "要支援1",
        CASE 
            A."yoKaigoJotaiKubun"
        WHEN
            '13'
        THEN
            A."shikyuGendoTaniSu"
        END AS "要支援2",
        CASE 
            A."yoKaigoJotaiKubun"
        WHEN
            '01'
        THEN
            A."shikyuGendoTaniSu"
        END AS "二次予防",
            B."serviceShuruiRyakusho" AS "サービス種類略称"
        FROM
            rgdb."DbT7118SogoJigyoShuruiShikyuGendoGaku" AS A
        LEFT JOIN 
            rgdb."DbT7130KaigoServiceShurui" AS B
        ON   
            A."serviceShuruiCode" = B."serviceShuruiCd"
        ORDER BY
            B."serviceShuruiCd" ASC,
            A."tekiyoKaishiYM" DESC
    </select>
    
    <resultMap id="resultMap_SogojigyoShurui"
           type="jp.co.ndensan.reams.db.dbc.entity.db.relate.sogojigyoshuruishikyugendogaku.SogojigyoShuruiEntity"
           autoMapping="true">
        <id property="適用開始年月" column="tekiyoKaishiYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <id property="サービス種類略称" column="サービス種類略称" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="適用終了年月" column="tekiyoShuryoYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="要支援1" column="要支援1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="要支援2" column="要支援2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="二次予防" column="二次予防" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
    </resultMap>
    
</mapper>