<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.mapper.basic.sikakukanrenido.ISikakuKanrenIdoMapper">

    <!--テーブルDbT1001HihokenshaDaichoの項目をDbT1001HihokenshaDaichoEntityの項目にマッピングします。-->
    <resultMap id="resultMap_getSikakuKanrenIdo" type="jp.co.ndensan.reams.db.dbz.entity.db.relate.SikakuKanrenIdoEntity" autoMapping="true">
        <result property="hihokenshaNo" column="DbT1001Hiho_hihokenshaNoD" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler" />
        <result property="idoYMD" column="DbT1001Hiho_idoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="edaNo" column="DbT1001Hiho_edaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="shikakuHenkoYMD" column="DbT1001Hiho_shikakuHenkoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="shikakuHenkoTodokedeYMD" column="DbT1001Hiho_shikakuHenkoTodokedeYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="jushochitokureiTekiyoJiyuCode" column="DbT1001Hiho_jushochitokureiTekiyoJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="shichosonCode" column="DbT7051KoseiShicho_shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler" />
        <result property="shichosonMeisho" column="DbT7051KoseiShicho_shichosonMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="shichosonCode" column="DbT7051Kosei_koikinaiTokureiSochimotoShichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler" />
        <result property="shichosonMeisho" column="DbT7051Kosei_shichosonMeisho2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="kyuShichosonCode" column="DbT7056Gappei_kyuShichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler" />
        <result property="kyuShichosonMeisho" column="DbT7056Gappei_kyuShichosonMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="lastUpdateTimestamp" column="DbT1001Hiho_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler" />
    </resultMap>
    <select id="getSikakuKanrenIdo" resultMap="resultMap_getSikakuKanrenIdo" parameterType="jp.co.ndensan.reams.db.dbz.definition.param.sikakukanrenido.SikakuKanrenIdoParameter" fetchSize="500">
        SELECT
        DbT1001Hiho. "hihokenshaNo" as "DbT1001Hiho_hihokenshaNoD",
        DbT1001Hiho."idoYMD" as "DbT1001Hiho_idoYMD",
        DbT1001Hiho."edaNo" as "DbT1001Hiho_edaNo",
        DbT1001Hiho."shikakuHenkoYMD" as "DbT1001Hiho_shikakuHenkoYMD",
        DbT1001Hiho."shikakuHenkoTodokedeYMD" as "DbT1001Hiho_shikakuHenkoTodokedeYMD",
        DbT1001Hiho."jushochitokureiTekiyoJiyuCode" as "DbT1001Hiho_jushochitokureiTekiyoJiyuCode",
        DbT7051KoseiShicho."shichosonCode" as "DbT7051KoseiShicho_shichosonCode",
        DbT7051KoseiShicho."shichosonMeisho" as "DbT7051KoseiShicho_shichosonMeisho",
        DbT7051Kosei."shichosonCode" as "DbT7051Kosei_koikinaiTokureiSochimotoShichosonCode",
        DbT7051Kosei."shichosonMeisho" as "DbT7051Kosei_shichosonMeisho2",
        DbT7056Gappei."kyuShichosonCode" as "DbT7056Gappei_kyuShichosonCode",
        DbT7056Gappei."kyuShichosonMeisho" as "DbT7056Gappei_kyuShichosonMeisho",
        DbT1001Hiho."lastUpdateTimestamp" as  "DbT1001Hiho_lastUpdateTimestamp"

        FROM
        rgdb."DbT1001HihokenshaDaicho" as DbT1001Hiho
        LEFT JOIN
        rgdb ."DbT7051KoseiShichosonMaster" as DbT7051KoseiShicho
        ON
        DbT1001Hiho."kyuShichosonCode" = DbT7051KoseiShicho."shichosonCode"
        AND
        DbT7051KoseiShicho."gappeiKyuShichosonKubun" = '0'
        LEFT JOIN
        rgdb."DbT7051KoseiShichosonMaster" as DbT7051Kosei
        ON
        DbT1001Hiho. "koikinaiTokureiSochimotoShichosonCode" = DbT7051Kosei."shichosonCode"
        AND
        DbT7051Kosei."gappeiKyuShichosonKubun" = '0'
        LEFT JOIN
        rgdb."DbT7056GappeiShichoson" as  DbT7056Gappei
        ON
        DbT1001Hiho."kyuShichosonCode" = DbT7056Gappei."kyuShichosonCode"

        WHERE
        <if test = "isHihokenshaNo == true">
            DbT1001Hiho."hihokenshaNo" = #{hihokenshaNo}
        </if>
        <if test = "isHihokenshaNo == false">
            DbT1001Hiho."shikibetsuCode"= #{shikibetsuCode}
        </if>
        AND
        DbT1001Hiho."shikakuHenkoYMD" IS NOT NULL
        AND
        DbT1001Hiho."shikakuShutokuYMD" = #{shikakuShutokuYMD}
        AND
        DbT1001Hiho."logicalDeletedFlag"<![CDATA[<>]]> true
        ORDER BY
        DbT1001Hiho."idoYMD"  desc
    </select>

</mapper>
