<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- どのマッパーインターフェースと対応するかを指定する -->
<!-- @reamsid_L DBA-0530-010 chengsanyuan -->

<mapper namespace="jp.co.ndensan.reams.db.dba.persistence.db.mapper.relate.idochecklist.IIdoCheckListMapper">

    <resultMap id="resultMap_getIdoInfoEntity" type="jp.co.ndensan.reams.db.dba.entity.db.relate.idochecklist.IdoInfoEntity" autoMapping="true">
     <result property="世帯コード" column="世帯コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.SetaiCodeTypeHandler"/>
     <result property="被保険者氏名" column="被保険者氏名" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler" />
     <result property="被保険者カナ氏名" column="被保険者カナ氏名" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaKanaMeishoTypeHandler" />
     <result property="対象情報" column="対象情報" />
     <result property="改頁１" column="改頁１" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
     <result property="改頁２" column= "改頁２" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
     <result property="改頁３" column="改頁３" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
     <result property="改頁４" column="改頁４" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
     <result property="改頁５" column="改頁５" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
     <result property="対象情報タイトル" column="対象情報タイトル" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
     <result property="開始タイトル" column="開始タイトル" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
     <result property="終了タイトル" column="終了タイトル" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
     <result property="区分タイトル" column="区分タイトル" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
     <result property="異動情報タイトル1" column="異動情報タイトル1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
     <result property="異動情報タイトル2" column="異動情報タイトル2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
     <result property="異動情報タイトル3" column="異動情報タイトル3" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
     <result property="開始年月日タイトル" column="開始年月日タイトル" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" /> 
     <result property="終了年月日タイトル" column="終了年月日タイトル" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" /> 
     <result property="異動情報タイトル4" column="異動情報タイトル4" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" /> 
     <result property="異動情報タイトル5" column="異動情報タイトル5" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" /> 
     <result property="異動情報タイトル6" column="異動情報タイトル6" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" /> 
     <result property="開始年月日データ_前" column="開始年月日データ_前" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" /> 
     <result property="終了年月日データ_前" column="終了年月日データ_前" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" /> 
     <result property="開始年月日データ_後" column="開始年月日データ_後" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" /> 
     <result property="終了年月日データ_後" column="終了年月日データ_後" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" /> 
     <result property="異動情報データ1" column="異動情報データ1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" /> 
     <result property="異動情報データ2" column="異動情報データ2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" /> 
     <result property="異動情報データ3" column="異動情報データ3" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" /> 
     <result property="異動情報データ4" column="異動情報データ4" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" /> 
     <result property="異動情報データ5" column="異動情報データ5" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" /> 
     <result property="異動情報データ6" column="異動情報データ6" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" /> 
     <result property="被保険者番号" column="被保険者番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" /> 
     <result property="識別コード" column="識別コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler" /> 
     <result property="取得情報_前_事由" column="取得情報_前_事由" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" /> 
     <result property="取得情報_前_異動年月日" column="取得情報_前_異動年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" /> 
     <result property="取得情報_前_届出年月日" column="取得情報_前_届出年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" /> 
     <result property="喪失情報_前_事由" column="喪失情報_前_事由" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" /> 
     <result property="喪失情報_前_異動年月日" column="喪失情報_前_異動年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" /> 
     <result property="喪失情報_前_届出年月日" column="喪失情報_前_届出年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" /> 
     <result property="取得情報_後_事由" column="取得情報_後_事由" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" /> 
     <result property="取得情報_後_異動年月日" column="取得情報_後_異動年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" /> 
     <result property="取得情報_後_届出年月日" column="取得情報_後_届出年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" /> 
     <result property="喪失情報_後_事由" column="喪失情報_後_事由" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" /> 
     <result property="喪失情報_後_異動年月日" column="喪失情報_後_異動年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" /> 
     <result property="喪失情報_後_届出年月日" column="喪失情報_後_届出年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" /> 
     <result property="区分_前_資格" column="区分_前_資格" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" /> 
     <result property="区分_後_資格" column="区分_後_資格" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" /> 
    </resultMap>
    <resultMap id="resultMap_getShisetsuNyutaishoEntity" type="jp.co.ndensan.reams.db.dba.entity.db.relate.idochecklist.ShisetsuNyutaishoEntity" autoMapping="true">
     <result property="識別コード" column="識別コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
     <result property="異動事由コード" column="異動事由コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
     <result property="適用年月日" column="適用年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
     <result property="適用届出年月日" column="適用届出年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
     <result property="解除年月日" column="解除年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
     <result property="解除届出年月日" column= "解除届出年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
     <result property="論理削除フラグ" column="論理削除フラグ"/>
     <result property="更新日時" column="更新日時" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler" />
     <result property="入所施設コード" column="入所施設コード" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.JigyoshaNoTypeHandler" />
     <result property="入所年月日" column="入所年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
     <result property="退所年月日" column="退所年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
    </resultMap>
      <select resultOrdered="true" id="getHihokenshaDaichouList" resultMap="resultMap_getIdoInfoEntity" parameterType="jp.co.ndensan.reams.db.dba.definition.mybatisprm.idochecklist.IdoCheckListGetDataParameter" fetchSize="500">
      SELECT                
            NULL                                 AS "世帯コード",
            NULL                                 AS "被保険者カナ氏名", 
            NULL                                 AS "被保険者氏名", 
            1                                    AS "対象情報",
            NULL                                 AS "改頁１",  
            NULL                                 AS "改頁２",
            NULL                                 AS "改頁３",
            NULL                                 AS "改頁４",
            NULL                                 AS "改頁５", 
            'データ種別：被保険者台帳'            AS "対象情報タイトル", 
            '取得情報'                           AS "開始タイトル", 
            '喪失情報'                           AS "終了タイトル", 
            '資格'                               AS "区分タイトル", 
            NULL                                 AS "異動情報タイトル1",
            NULL                                 AS "異動情報タイトル2",
            NULL                                 AS "異動情報タイトル3",
            NULL                                 AS "開始年月日タイトル",
            NULL                                 AS "終了年月日タイトル",
            '異動情報'                           AS "異動情報タイトル4",
            NULL                                 AS "異動情報タイトル5",
            NULL                                 AS "異動情報タイトル6",
            NULL                                 AS "開始年月日データ_前",
            NULL                                 AS "終了年月日データ_前",
            NULL                                 AS "開始年月日データ_後",
            NULL                                 AS "終了年月日データ_後",
            NULL                                 AS "異動情報データ1",
            NULL                                 AS "異動情報データ2",
            NULL                                 AS "異動情報データ3",
            NULL                                 AS "異動情報データ5",
            NULL                                 AS "異動情報データ6",
            "DbT1001HihokenshaDaicho"."hihokenshaNo"           AS "被保険者番号",
            "DbT1001HihokenshaDaicho"."shikibetsuCode"           AS "識別コード",
      CASE  WHEN "DbT1001HihokenshaDaicho"."logicalDeletedFlag" = TRUE  THEN (         
          CASE  WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0007')             
          THEN 
             (SELECT "codeRyakusho" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0007' AND "UzT0007Code"."code" = "DbT1001HihokenshaDaicho"."shikakuShutokuJiyuCode")   
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0013')  
          THEN 
             (SELECT "codeRyakusho" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0013' AND "UzT0007Code"."code" = "DbT1001HihokenshaDaicho"."shikakuHenkoJiyuCode")
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0014')  
          THEN 
             (SELECT "codeRyakusho" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0014' AND "UzT0007Code"."code" = "DbT1001HihokenshaDaicho"."jushochitokureiTekiyoJiyuCode")
              END )
          ELSE NULL END AS "取得情報_前_事由",
      CASE  WHEN "DbT1001HihokenshaDaicho"."logicalDeletedFlag" = TRUE  THEN (         
          CASE  WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0007')             
          THEN 
             "DbT1001HihokenshaDaicho"."shikakuShutokuYMD"
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0013')  
          THEN 
             "DbT1001HihokenshaDaicho"."shikakuHenkoYMD"
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0014')  
          THEN 
             "DbT1001HihokenshaDaicho"."jushochitokureiTekiyoYMD" END )
          ELSE NULL END AS "取得情報_前_異動年月日",
      CASE  WHEN "DbT1001HihokenshaDaicho"."logicalDeletedFlag" = TRUE  THEN (         
          CASE  WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0007')             
          THEN 
             "DbT1001HihokenshaDaicho"."shikakuShutokuTodokedeYMD"
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0013')  
          THEN 
             "DbT1001HihokenshaDaicho"."shikakuHenkoTodokedeYMD"
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0014')  
          THEN 
             "DbT1001HihokenshaDaicho"."jushochitokureiTekiyoTodokedeYMD" END )
          ELSE NULL END AS "取得情報_前_届出年月日",

     CASE  WHEN "DbT1001HihokenshaDaicho"."logicalDeletedFlag" = TRUE  THEN (         
          CASE  WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0010')             
          THEN 
             (SELECT "codeRyakusho" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0010' AND "UzT0007Code"."code" = "DbT1001HihokenshaDaicho"."shikakuSoshitsuJiyuCode")
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0015')  
          THEN 
             (SELECT "codeRyakusho" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0015' AND "UzT0007Code"."code" = "DbT1001HihokenshaDaicho"."jushochitokureiKaijoJiyuCode")
              END )
          ELSE NULL END AS "喪失情報_前_事由",

      CASE  WHEN "DbT1001HihokenshaDaicho"."logicalDeletedFlag" = TRUE  THEN (         
          CASE  WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0010')             
          THEN 
             "DbT1001HihokenshaDaicho"."shikakuSoshitsuYMD"
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0015')  
          THEN 
             "DbT1001HihokenshaDaicho"."jushochitokureiKaijoYMD" END )
          ELSE NULL END AS "喪失情報_前_異動年月日",

      CASE  WHEN "DbT1001HihokenshaDaicho"."logicalDeletedFlag" = TRUE  THEN (         
          CASE  WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0010')             
          THEN 
             "DbT1001HihokenshaDaicho"."shikakuSoshitsuTodokedeYMD"
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0015')  
          THEN 
             "DbT1001HihokenshaDaicho"."jushochitokureiKaijoTodokedeYMD" END )
          ELSE NULL END AS "喪失情報_前_届出年月日",
      CASE  WHEN "DbT1001HihokenshaDaicho"."logicalDeletedFlag" = FALSE  THEN (         
          CASE  WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0007')             
          THEN 
             (SELECT "codeRyakusho" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0007' AND "UzT0007Code"."code" = "DbT1001HihokenshaDaicho"."shikakuShutokuJiyuCode")
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0013')  
          THEN 
             (SELECT "codeRyakusho" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0013' AND "UzT0007Code"."code" = "DbT1001HihokenshaDaicho"."shikakuHenkoJiyuCode")
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0014')  
          THEN 
             (SELECT "codeRyakusho" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0014' AND "UzT0007Code"."code" = "DbT1001HihokenshaDaicho"."jushochitokureiTekiyoJiyuCode")
              END )
          ELSE NULL END AS "取得情報_後_事由",
      CASE  WHEN "DbT1001HihokenshaDaicho"."logicalDeletedFlag" = FALSE  THEN (         
          CASE  WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0007')             
          THEN 
             "DbT1001HihokenshaDaicho"."shikakuShutokuYMD"
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0013')  
          THEN 
             "DbT1001HihokenshaDaicho"."shikakuHenkoYMD"
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0014')  
          THEN 
             "DbT1001HihokenshaDaicho"."jushochitokureiTekiyoYMD" END )
          ELSE NULL END AS "取得情報_後_異動年月日",
      CASE  WHEN "DbT1001HihokenshaDaicho"."logicalDeletedFlag" = FALSE  THEN (         
          CASE  WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0007')             
          THEN 
             "DbT1001HihokenshaDaicho"."shikakuShutokuTodokedeYMD"
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0013')  
          THEN 
             "DbT1001HihokenshaDaicho"."shikakuHenkoTodokedeYMD"
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0014')  
          THEN 
             "DbT1001HihokenshaDaicho"."jushochitokureiTekiyoTodokedeYMD" END )
          ELSE NULL END AS "取得情報_後_届出年月日",

      CASE  WHEN "DbT1001HihokenshaDaicho"."logicalDeletedFlag" = FALSE  THEN (         
          CASE  WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0010')             
          THEN 
             (SELECT "codeRyakusho" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0010' AND "UzT0007Code"."code" = "DbT1001HihokenshaDaicho"."shikakuSoshitsuJiyuCode")
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0015')  
          THEN 
             (SELECT "codeRyakusho" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0015' AND "UzT0007Code"."code" = "DbT1001HihokenshaDaicho"."jushochitokureiKaijoJiyuCode")
              END )
          ELSE NULL END AS "喪失情報_後_事由",

      CASE  WHEN "DbT1001HihokenshaDaicho"."logicalDeletedFlag" = FALSE  THEN (         
          CASE  WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0010')             
          THEN 
             "DbT1001HihokenshaDaicho"."shikakuSoshitsuYMD"
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0015')  
          THEN 
             "DbT1001HihokenshaDaicho"."jushochitokureiKaijoYMD" END )
          ELSE NULL END AS "喪失情報_後_異動年月日",

      CASE  WHEN "DbT1001HihokenshaDaicho"."logicalDeletedFlag" = FALSE  THEN (         
          CASE  WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0010')             
          THEN 
             "DbT1001HihokenshaDaicho"."shikakuSoshitsuTodokedeYMD"
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0015')  
          THEN 
             "DbT1001HihokenshaDaicho"."jushochitokureiKaijoTodokedeYMD" END )
          ELSE NULL END AS "喪失情報_後_届出年月日",

      CASE  WHEN "DbT1001HihokenshaDaicho"."logicalDeletedFlag" = FALSE  THEN (         
          CASE  WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0007')             
          THEN 
             '取得異動'
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0010')  
          THEN 
             '喪失異動'
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0013')  
          THEN 
             '変更異動'
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0014')  
          THEN 
             '住特適用異動' 
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0015')  
          THEN 
             '住特解除異動' END )
          WHEN "DbT1001HihokenshaDaicho"."logicalDeletedFlag" = TRUE  THEN (         
          CASE  WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0007')             
          THEN 
             '取得削除'
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0010')  
          THEN 
             '喪失削除'
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0013')  
          THEN 
             '変更削除'
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0014')  
          THEN 
             '住特適用削除' 
          WHEN "DbT1001HihokenshaDaicho"."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0015')  
          THEN 
             '住特解除削除' END )
          ELSE NULL END AS "異動情報データ4",
      CASE  WHEN     "DbT1001HihokenshaDaicho"."logicalDeletedFlag" = TRUE            
        THEN                
         "DbT1001HihokenshaDaicho"."hihokennshaKubunCode"
        ELSE                
         NULL      END     AS "区分_前_資格",   
      CASE  WHEN     "DbT1001HihokenshaDaicho"."logicalDeletedFlag" = FALSE            
        THEN                
         "DbT1001HihokenshaDaicho"."hihokennshaKubunCode"
        ELSE                
         NULL       END    AS "区分_後_資格"   
      FROM                
         rgdb."DbT1001HihokenshaDaicho"               
      WHERE                
         #{konkaiKaishi} <![CDATA[<=]]> "DbT1001HihokenshaDaicho"."lastUpdateTimestamp"               
         AND "DbT1001HihokenshaDaicho"."lastUpdateTimestamp" <![CDATA[<=]]> #{konkaiShuryo} 
      ORDER BY  "DbT1001HihokenshaDaicho"."hihokenshaNo" ASC, "DbT1001HihokenshaDaicho"."lastUpdateTimestamp" ASC
      </select>
        
      <select resultOrdered="true" id="getJushochiTokureiListByCode08" resultMap="resultMap_getShisetsuNyutaishoEntity" parameterType="jp.co.ndensan.reams.db.dba.definition.mybatisprm.idochecklist.IdoCheckListGetDataParameter" fetchSize="500" >
        SELECT
            T1."shikibetsuCode"          AS "識別コード",
            T1."idoJiyuCode"             AS "異動事由コード",
            T1."tekiyoYMD"               AS "適用年月日",
            T1."tekiyoTodokedeYMD"       AS "適用届出年月日",
            T1."kaijoYMD"                AS "解除年月日",
            T1."kaijoTodokedeYMD"        AS "解除届出年月日",
            T1."logicalDeletedFlag"      AS "論理削除フラグ",
            T1."lastUpdateTimestamp"     AS "更新日時",
            A."nyushoShisetsuCode"       AS "入所施設コード",
            A."nyushoYMD"                AS "入所年月日",
            A."taishoYMD"                AS "退所年月日"
        FROM              
            rgdb."DbT1003TashichosonJushochiTokurei" AS T1             
        LEFT JOIN rgdb."DbT1004ShisetsuNyutaisho" AS A ON              
            T1."shikibetsuCode" = A."shikibetsuCode"             
        WHERE              
            #{konkaiKaishi} <![CDATA[<=]]> T1."lastUpdateTimestamp"             
            AND T1."lastUpdateTimestamp" <![CDATA[<=]]> #{konkaiShuryo}            
            AND T1."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0008')
            AND T1."insertTimestamp" = A."insertTimestamp"     
            AND A."daichoShubetsu" = '2'        
            ORDER BY              
                T1."shikibetsuCode" DESC
      </select>
        
      <select resultOrdered="true" id="getJushochiTokureiListByCode11" resultMap="resultMap_getShisetsuNyutaishoEntity" parameterType="jp.co.ndensan.reams.db.dba.definition.mybatisprm.idochecklist.IdoCheckListGetDataParameter" fetchSize="500" >
        SELECT              
            T1."shikibetsuCode"          AS "識別コード",
            T1."idoJiyuCode"             AS "異動事由コード",
            T1."tekiyoYMD"               AS "適用年月日",
            T1."tekiyoTodokedeYMD"       AS "適用届出年月日",
            T1."kaijoYMD"                AS "解除年月日",
            T1."kaijoTodokedeYMD"        AS "解除届出年月日",
            T1."logicalDeletedFlag"      AS "論理削除フラグ",
            T1."lastUpdateTimestamp"     AS "更新日時",
            A."nyushoShisetsuCode"       AS "入所施設コード",
            A."nyushoYMD"                AS "入所年月日",
            A."taishoYMD"                AS "退所年月日"  
        FROM              
            rgdb."DbT1003TashichosonJushochiTokurei" T1             
        LEFT JOIN rgdb."DbT1004ShisetsuNyutaisho"  A ON              
            T1."shikibetsuCode" = A."shikibetsuCode"             
        WHERE              
            #{konkaiKaishi} <![CDATA[<=]]> T1."lastUpdateTimestamp"             
            AND T1."lastUpdateTimestamp" <![CDATA[<=]]> #{konkaiShuryo}
            AND T1."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0011')
            AND A."daichoShubetsu" = '2'
        ORDER BY 
            T1."shikibetsuCode" DESC
      </select>
        
      <select resultOrdered="true" id="getShisetsuNyutaishoList" resultMap="resultMap_getShisetsuNyutaishoEntity" parameterType="jp.co.ndensan.reams.db.dba.definition.mybatisprm.idochecklist.IdoCheckListGetDataParameter" fetchSize="500" >
        SELECT              
            B."shikibetsuCode"          AS 識別コード,
            NULL                        AS 異動事由コード,
            NULL                        AS 適用年月日,
            NULL                        AS 適用届出年月日,
            NULL                        AS 解除年月日,
            NULL                        AS 解除届出年月日,
            NULL                        AS 論理削除フラグ,
            B."lastUpdateTimestamp"     AS 更新日時,
            B."nyushoShisetsuCode"      AS 入所施設コード,
            B."nyushoYMD"               AS 入所年月日,
            B."taishoYMD"               AS 退所年月日
        FROM              
            rgdb."DbT1004ShisetsuNyutaisho" B             
        WHERE              
           #{konkaiKaishi} <![CDATA[<=]]> B."lastUpdateTimestamp"             
           AND B."lastUpdateTimestamp" <![CDATA[<=]]> #{konkaiShuryo}             
           AND B."daichoShubetsu" = #{daichoShubetsu}
        ORDER BY              
            B."shikibetsuCode" DESC
      </select>
        
      <select resultOrdered="true" id="getTekiyoJogaishaDaichouListByCode09" resultMap="resultMap_getShisetsuNyutaishoEntity" parameterType="jp.co.ndensan.reams.db.dba.definition.mybatisprm.idochecklist.IdoCheckListGetDataParameter" fetchSize="500" >
        SELECT              
            T1."shikibetsuCode"          AS "識別コード",  
            T1."idoJiyuCode"             AS "異動事由コード",  
            T1."tekiyoYMD"               AS "適用年月日",  
            T1."tekiyoTodokedeYMD"       AS "適用届出年月日",  
            T1."kaijoYMD"                AS "解除年月日",  
            T1."kaijoTodokedeYMD"        AS "解除届出年月日",  
            T1."logicalDeletedFlag"      AS "論理削除フラグ",  
            T1."lastUpdateTimestamp"     AS "更新日時",  
            A."nyushoShisetsuCode"       AS "入所施設コード",  
            A."nyushoYMD"                AS "入所年月日",  
            A."taishoYMD"                AS "退所年月日" 
        FROM              
            rgdb."DbT1002TekiyoJogaisha" T1             
        LEFT JOIN rgdb."DbT1004ShisetsuNyutaisho"  A ON              
            T1."shikibetsuCode" = A."shikibetsuCode"             
        WHERE              
           #{konkaiKaishi} <![CDATA[<=]]> T1."lastUpdateTimestamp"             
           AND T1."lastUpdateTimestamp" <![CDATA[<=]]> #{konkaiShuryo}             
           AND T1."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0009')
           AND T1."insertTimestamp" = A."insertTimestamp"  
           AND A."daichoShubetsu" = '3'           
        ORDER BY              
            T1."shikibetsuCode" DESC
      </select>
        
      <select resultOrdered="true" id="getTekiyoJogaishaDaichouListByCode12" resultMap="resultMap_getShisetsuNyutaishoEntity" parameterType="jp.co.ndensan.reams.db.dba.definition.mybatisprm.idochecklist.IdoCheckListGetDataParameter" fetchSize="500" >
        SELECT              
            T1."shikibetsuCode"          AS "識別コード",  
            T1."idoJiyuCode"             AS "異動事由コード",  
            T1."tekiyoYMD"               AS "適用年月日",  
            T1."tekiyoTodokedeYMD"       AS "適用届出年月日",  
            T1."kaijoYMD"                AS "解除年月日",  
            T1."kaijoTodokedeYMD"        AS "解除届出年月日",  
            T1."logicalDeletedFlag"      AS "論理削除フラグ",  
            T1."lastUpdateTimestamp"     AS "更新日時",  
            A."nyushoShisetsuCode"       AS "入所施設コード",  
            A."nyushoYMD"                AS "入所年月日",  
            A."taishoYMD"                AS "退所年月日" 
        FROM              
            rgdb."DbT1002TekiyoJogaisha" T1             
        LEFT JOIN rgdb."DbT1004ShisetsuNyutaisho"  A ON              
            T1."shikibetsuCode" = A."shikibetsuCode"             
        WHERE              
           #{konkaiKaishi} <![CDATA[<=]]> T1."lastUpdateTimestamp"             
           AND T1."lastUpdateTimestamp" <![CDATA[<=]]> #{konkaiShuryo}             
           AND T1."idoJiyuCode" IN (SELECT "code" FROM rgdb."UzT0007Code" WHERE "UzT0007Code"."subGyomuCode" ='DBA' AND "UzT0007Code"."codeShubetsu"='0012')
           AND A."daichoShubetsu" = '3'
        ORDER BY              
            T1."shikibetsuCode" DESC
      </select>
        
      <select resultOrdered="true" id="getRoreiFukushiNenkinList" resultMap="resultMap_getIdoInfoEntity" parameterType="jp.co.ndensan.reams.db.dba.definition.mybatisprm.idochecklist.IdoCheckListGetDataParameter" fetchSize="500">
      SELECT                
            NULL                                 AS "世帯コード",    
            NULL                                 AS "被保険者カナ氏名",    
            NULL                                 AS "被保険者氏名",    
            5                                    AS "対象情報",    
            NULL                                 AS "改頁１",    
            NULL                                 AS "改頁２",    
            NULL                                 AS "改頁３",    
            NULL                                 AS "改頁４",    
            NULL                                 AS "改頁５",    
            'データ種別：老齢福祉年金情報'         AS "対象情報タイトル",    
            '開始情報'                            AS "開始タイトル",    
            '終了情報'                           AS "終了タイトル",    
            NULL                                 AS "区分タイトル",    
            NULL                                 AS "異動情報タイトル1",    
            NULL                                 AS "異動情報タイトル2",    
            NULL                                 AS "異動情報タイトル3",
            '開始年月日'                         AS "開始年月日タイトル",    
            '終了年月日'                         AS "終了年月日タイトル",    
            '異動情報'                           AS "異動情報タイトル4",    
            NULL                                AS "異動情報タイトル5",    
            NULL                                AS "異動情報タイトル6",    
            NULL                                AS "開始年月日データ_前",    
            NULL                                AS "終了年月日データ_前",    
            NULL                                AS "異動情報データ1",    
            NULL                                AS "異動情報データ2",    
            NULL                                AS "異動情報データ3",    
            NULL                                AS "異動情報データ5",    
            NULL                                AS "異動情報データ6",    
            A."hihokenshaNo"                    AS "被保険者番号",    
            NULL                                AS "区分_前_資格",    
            NULL                                AS "区分_後_資格",    
            A."shikibetsuCode"                  AS "識別コード",    
            NULL                                AS "取得情報_前_事由",    
            NULL                                AS "取得情報_前_異動年月日",    
            NULL                                AS "取得情報_前_届出年月日",    
            NULL                                AS "喪失情報_前_事由",    
            NULL                                AS "喪失情報_前_異動年月日",    
            NULL                                AS "喪失情報_前_届出年月日",    
            NULL                                AS "取得情報_後_事由",    
            NULL                                AS "取得情報_後_異動年月日",    
            NULL                                AS "取得情報_後_届出年月日",    
            NULL                                AS "喪失情報_後_事由",    
            NULL                                AS "喪失情報_後_異動年月日",    
            NULL                                AS "喪失情報_後_届出年月日",    
           CASE  WHEN    A."jukyuKaishiYMD" IS NOT NULL  THEN (
                 CASE  WHEN  A."jukyuHaishiYMD" IS NULL
                 THEN
                     A."jukyuKaishiYMD"
                 WHEN  A."jukyuHaishiYMD" IS NOT NULL  THEN
                     NULL END
               )
           ELSE NULL END  AS 開始年月日データ_後,

           CASE  WHEN    A."jukyuKaishiYMD" IS NOT NULL  THEN (
                 CASE  WHEN  A."jukyuHaishiYMD" IS NULL
                 THEN
                     NULL
                 WHEN  A."jukyuHaishiYMD" IS NOT NULL  THEN
                     A."jukyuHaishiYMD"  END
               )
           ELSE NULL END  AS 終了年月日データ_後,

           CASE  WHEN    A."jukyuKaishiYMD" IS NOT NULL  THEN (
                 CASE  WHEN  A."jukyuHaishiYMD" IS NULL
                 THEN
                     '開始異動'
                 WHEN  A."jukyuHaishiYMD" IS NOT NULL  THEN
                     '終了異動'  END
               )
           ELSE NULL END  AS 異動情報データ4             
           FROM                 
            rgdb."DbT7006RoreiFukushiNenkinJukyusha"  A              
           WHERE                
            #{konkaiKaishi} <![CDATA[<=]]> A."lastUpdateTimestamp"              
           AND A."lastUpdateTimestamp" <![CDATA[<=]]> #{konkaiShuryo}
           ORDER BY A."shikibetsuCode" ASC, A."lastUpdateTimestamp" ASC
      </select>
      
      <select resultOrdered="true" id="getSeikatsuHogoList" resultMap="resultMap_UrT0508SeikatsuHogoJukyushaEntity" parameterType="jp.co.ndensan.reams.db.dba.definition.mybatisprm.idochecklist.IdoCheckListGetDataParameter" fetchSize="500" >
        SELECT       
            "shikibetsuCode",      
            "gyomuCode",      
            "jukyuKaishiYMD",      
            "jukyuHaishiYMD"      
        FROM       
            rgur."UrT0508SeikatsuHogoJukyusha"      
        WHERE       
            #{konkaiKaishi} <![CDATA[<=]]> "lastUpdateTimestamp"      
           AND "lastUpdateTimestamp" <![CDATA[<=]]> #{konkaiShuryo}  
      </select>
      <resultMap id="resultMap_UrT0508SeikatsuHogoJukyushaEntity" type="jp.co.ndensan.reams.ur.urd.entity.db.basic.seikatsuhogo.UrT0508SeikatsuHogoJukyushaEntity" autoMapping="true">
        <result property="shikibetsuCode" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="gyomuCode" column="gyomuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.GyomuCodeTypeHandler" />
        <result property="jukyuKaishiYMD" column="jukyuKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="jukyuHaishiYMD" column="jukyuHaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
      </resultMap>
      
      <select resultOrdered="true" id="getFujoShuruiCodeList" resultType="jp.co.ndensan.reams.uz.uza.lang.RString" parameterType="jp.co.ndensan.reams.db.dba.definition.mybatisprm.idochecklist.IdoCheckListGetDataParameter" fetchSize="500" >
        SELECT       
            "fujoShuruiCode"     
        FROM       
            rgur."UrT0526SeikatsuHogoFujoShurui"      
        WHERE       
            "UrT0526SeikatsuHogoFujoShurui"."shikibetsuCode" = #{shikibetsuCode} 
           AND "UrT0526SeikatsuHogoFujoShurui"."gyomuCode" = #{gyomuCode}   
           AND "UrT0526SeikatsuHogoFujoShurui"."jukyuKaishiYMD" = #{jukyuKaishiYMD}
        ORDER BY 
          "UrT0526SeikatsuHogoFujoShurui"."shikibetsuCode" ASC, "UrT0526SeikatsuHogoFujoShurui"."fujoShuruiCode" ASC
      </select>
      
      <select resultOrdered="true" id="getShikibetsuTaishoPsm" resultMap="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.UaFt200FindShikibetsuTaishoEntity" parameterType="jp.co.ndensan.reams.db.dba.definition.mybatisprm.idochecklist.IdoCheckListGetDataParameter" fetchSize="500" >
        SELECT 
            <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.columns_ShikibetsuTaisho" />
        FROM
            <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.tableName_PsmShikibetsuTaisho" />
            AS <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.as_ShikibetsuTaisho" />
      </select>
      
      <update id="updDbt7022ShoriDateKanri"  parameterType="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT7022ShoriDateKanriEntity">
        UPDATE rgdb."DbT7022ShoriDateKanri"
        SET
            "taishoKaishiYMD" = #{taishoKaishiYMD},
            "taishoShuryoYMD" = #{taishoShuryoYMD}
        WHERE
            "subGyomuCode" = #{subGyomuCode}
        AND "shoriName" = #{shoriName}
      </update>
      
      <select resultOrdered="true" id="getListForProcess" resultType="jp.co.ndensan.reams.uz.uza.lang.RString" fetchSize="1" >
        SELECT       
            '被保険者台帳リスト取得'     
        FROM       
            rgdb."DbT5592ShinsakaiKaisaiBashoJoho"
        LIMIT 1
      </select>
</mapper>
