<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBA-0402-020 wangjie2 -->
<!-- どのマッパーインターフェースと対応するかを指定する -->

<mapper namespace="jp.co.ndensan.reams.db.dba.persistence.db.mapper.relate.otheraddressinformation.IOtherAddressInformationMapper">
    <select id="get他市町村住所地特例者情報の取得処理" resultMap="resultMap_OtherAddressInfFromDBEntity"
            parameterType="jp.co.ndensan.reams.db.dba.definition.mybatisprm.otheraddressledger.OtherAddressInformationParameter"  fetchSize="500" resultOrdered="true">
        SELECT  dbT1003."shikibetsuCode" AS "識別コード",
        dbT1003."idoYMD" AS "異動日",
        dbT1003."edaNo" AS "枝番",
        dbT1003."shichosonCode" AS "市町村コード",
        dbT1003."tekiyoJiyuCode" AS "他市町村住所地特例適用事由コード",
        dbT1003."tekiyoYMD" AS "適用年月日",
        dbT1003."tekiyoTodokedeYMD" AS "適用届出年月日",
        dbT1003."kaijoJiyuCode" AS "他市町村住所地特例解除事由コード",
        dbT1003."kaijoYMD" AS "解除年月日",
        dbT1003."kaijoTodokedeYMD" AS "解除届出年月日",
        dbT1003."sochiHokenshaNo" AS "措置保険者番号",
        dbT1003."sochiHihokenshaNo" AS "措置被保険者番号",
        urT0507."hokenjaName" AS "保険者名称",
        dbT1004."daichoShubetsu" AS "台帳種別",
        dbT1004."nyushoShisetsuCode" AS "入所施設コード",
        dbT1004."nyushoShisetsuShurui" AS "入所施設種類",
        dbT1004."nyushoYMD" AS "入所年月日",
        dbT1004."taishoYMD" AS "退所年月日",
        dbT1005."jigyoshaShubetsu" AS "事業者種別",
        dbT1005."jigyoshaNo" AS "事業者番号",
        dbT1005."jigyoshaMeisho" AS "事業者名称",
        dbT1005."jigyoshaJusho" AS "事業者住所",
        dbT1005."yubinNo" AS "郵便番号",
        dbT1005."telNo" AS "電話番号"
        FROM
        (
        SELECT
        dbT1003Tashichoson."shikibetsuCode"               AS "shikibetsuCode",
        dbT1003Tashichoson."idoYMD"                       AS "idoYMD",
        dbT1003Tashichoson."edaNo"                        AS "edaNo",
        dbT1003Tashichoson."idoJiyuCode"                  AS "idoJiyuCode",
        dbT1003Tashichoson."shichosonCode"                AS "shichosonCode",
        dbT1003Tashichoson."tekiyoJiyuCode"               AS "tekiyoJiyuCode",
        dbT1003Tashichoson."tekiyoYMD"                    AS "tekiyoYMD",
        dbT1003Tashichoson."tekiyoTodokedeYMD"            AS "tekiyoTodokedeYMD",
        dbT1003Tashichoson."tekiyoUketsukeYMD"            AS "tekiyoUketsukeYMD",
        dbT1003Tashichoson."kaijoJiyuCode"                AS "kaijoJiyuCode",
        dbT1003Tashichoson."kaijoYMD"                     AS "kaijoYMD",
        dbT1003Tashichoson."kaijoTodokedeYMD"             AS "kaijoTodokedeYMD",
        dbT1003Tashichoson."kaijoUketsukeYMD"             AS "kaijoUketsukeYMD",
        dbT1003Tashichoson."sochiHokenshaNo"              AS "sochiHokenshaNo",
        dbT1003Tashichoson."sochiHihokenshaNo"            AS "sochiHihokenshaNo",
        dbT1003Tashichoson."tatokuRenrakuhyoHakkoYMD"     AS "tatokuRenrakuhyoHakkoYMD",
        dbT1003Tashichoson."shisetsuTaishoTsuchiHakkoYMD" AS "shisetsuTaishoTsuchiHakkoYMD",
        dbT1003Tashichoson."shisetsuHenkoTsuchiHakkoYMD"  AS "shisetsuHenkoTsuchiHakkoYMD"
        FROM
        (SELECT
        *,
        ROW_NUMBER() OVER (PARTITION BY T1."shikibetsuCode", T1."tekiyoYMD" ORDER BY
        T1."shikibetsuCode" ASC,
        T1."tekiyoYMD" ASC,
        T1."idoYMD" DESC,
        T1."edaNo" DESC) AS rrkno
        FROM
        rgdb."DbT1003TashichosonJushochiTokurei" AS T1
        WHERE
        T1."shikibetsuCode" = #{shikibetsuCode}
        AND T1."logicalDeletedFlag" = FALSE) AS dbT1003Tashichoson
        WHERE
        dbT1003Tashichoson."rrkno" = 1
        ) AS dbT1003
        LEFT JOIN rgdb."DbT1004ShisetsuNyutaisho" AS dbT1004
        ON dbT1004."shikibetsuCode" = dbT1003."shikibetsuCode"
        AND dbT1004."daichoShubetsu" = '2'
        AND
        (( (dbT1003."kaijoYMD" IS NULL OR dbT1003."kaijoYMD" = '')  AND ( (dbT1004."taishoYMD" IS NULL OR dbT1004."taishoYMD" = '') OR dbT1003."tekiyoYMD" <![CDATA[<=]]> dbT1004."taishoYMD"))
        OR (( (dbT1003."kaijoYMD" IS NOT NULL AND dbT1003."kaijoYMD" != '')
        AND (( ( dbT1004."taishoYMD" IS NULL OR dbT1004."taishoYMD" = '' ) AND dbT1004."nyushoYMD" <![CDATA[<]]> dbT1003."kaijoYMD")
        OR (dbT1004."nyushoYMD" <![CDATA[<]]> dbT1003."kaijoYMD" AND dbT1004."taishoYMD" <![CDATA[>]]> dbT1003."tekiyoYMD")))))
        LEFT JOIN rgur."UrT0507Hokenja" AS urT0507
        ON urT0507."hokenjaNo" = dbT1003."sochiHokenshaNo"
        AND urT0507."hokenjaShubetsu" = #{保険者種別}
        LEFT JOIN rgdb."DbT1005KaigoJogaiTokureiTaishoShisetsu" AS dbT1005
        ON dbT1004."nyushoShisetsuCode"=dbT1005."jigyoshaNo"
        ORDER BY
        dbT1003."tekiyoYMD" DESC, dbT1003."idoYMD" DESC,dbT1003."edaNo" DESC, dbT1004."nyushoYMD" DESC, dbT1004."taishoYMD" DESC

    </select>
    <resultMap id="resultMap_OtherAddressInfFromDBEntity"
               type="jp.co.ndensan.reams.db.dba.entity.db.relate.otheraddressledger.OtherAddressInfFromDBEntity" autoMapping="true">
        <result property="識別コード" column="識別コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler" />
        <result property="異動日" column="異動日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="枝番" column="枝番" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="市町村コード" column="市町村コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler" />
        <result property="他市町村住所地特例適用事由コード" column="他市町村住所地特例適用事由コード"
                typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="適用年月日" column="適用年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="適用届出年月日" column="適用届出年月日"
                typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="他市町村住所地特例解除事由コード" column="他市町村住所地特例解除事由コード"
                typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="解除年月日" column="解除年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="解除届出年月日" column="解除届出年月日"
                typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="措置保険者番号" column="措置保険者番号"
                typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShoKisaiHokenshaNoTypeHandler" />
        <result property="措置被保険者番号" column="措置被保険者番号"
                typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler" />
        <result property="保険者名称" column="保険者名称" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="台帳種別" column="台帳種別" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="入所施設コード" column="入所施設コード" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.JigyoshaNoTypeHandler" />
        <result property="入所施設種類" column="入所施設種類" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="入所年月日" column="入所年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="退所年月日" column="退所年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="事業者種別" column="事業者種別" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="事業者番号" column="事業者番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="事業者名称" column="事業者名称" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler" />
        <result property="事業者住所" column="事業者住所" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="郵便番号" column="郵便番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler" />
        <result property="電話番号" column="電話番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.TelNoTypeHandler" />
    </resultMap>
    <select id="get宛名識別対象" resultMap="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.UaFt200FindShikibetsuTaishoEntity"
            parameterType="jp.co.ndensan.reams.db.dba.definition.mybatisprm.atena.OtherAddressInformationRecipientNameMybatisParam"  fetchSize="500" resultOrdered="true">
        SELECT <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.columns_ShikibetsuTaisho" />
        FROM <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.tableName_PsmParamClassShikibetsuTaisho" />
        AS     <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.as_ShikibetsuTaisho" />
    </select>
</mapper>
