<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--@reamsid_L DBD-3530-060 liuyl-->
<mapper namespace="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.relate.kouhoushajoho.IKouhoushaJohoMapper">
    <resultMap id="resultMap_get候補者情報entity" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.kouhoushajoho.KouhoushaJohoEntity" autoMapping="true">
        <result property="把握処理ID" column="把握処理ID" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="更新認定フラグ" column="更新認定フラグ" />
        <result property="被保険者番号" column="被保険者番号" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="識別コード" column="識別コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="世帯課税" column="世帯課税"  typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="市町村コード"  column="市町村コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <result property="老福"  column="老福" />
        <result property="生保"  column="生保"/>
        <result property="旧措置" column="旧措置"/>
        <result property="要介護認定状態区分コード" column="要介護認定状態区分コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="厚労省IF識別コード" column="厚労省IF識別コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="認定開始日" column="認定開始日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="認定終了日" column="認定終了日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="利用者負担段階" column="利用者負担段階"  typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="事業者番号" column="事業者番号" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.JigyoshaNoTypeHandler"/>
        <result property="合計所得金額" column="合計所得金額"  typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="年金収入額" column="年金収入額" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="非課税年金勘案額" column="非課税年金勘案額" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <association property="entity" resultMap="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.UaFt200FindShikibetsuTaishoEntity"/>
    </resultMap>
    <select resultOrdered="true" id="find候補者情報"  
              resultMap="resultMap_get候補者情報entity" 
              parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.kouhoushajoho.KouhoushaJohoParameter"
              fetchSize="500">
        SELECT A."haakuShoriID" AS 把握処理ID, 
               E."willBeRenewed" AS 更新認定フラグ,
               E."hihokenshaNo" AS  被保険者番号, 
               E."shikibetsuCode" AS 識別コード,
               E."setaiKazeiKubun" AS 世帯課税,
               C."shichosonCode" AS 市町村コード,
               E."isRoreiFukushiNenkinJukyusha" AS 老福,
               E."isSeikatsuHogoJukyusha" AS 生保,
               C."kyuSochishaFlag" AS 旧措置,
               C."yokaigoJotaiKubunCode" AS 要介護認定状態区分コード,
               D."koroshoIfShikibetsuCode"  AS 厚労省IF識別コード,
               C."ninteiYukoKikanKaishiYMD" AS 認定開始日,
               C."ninteiYukoKikanShuryoYMD" AS 認定終了日,
               E."riyoshaFutanDankai" AS 利用者負担段階,
               F."nyushoShisetsuCode" AS 事業者番号,
               E."gokeiShotokuKingaku" AS 合計所得金額, 
               E."nenkinShunyuGaku"  AS 年金収入額,
               E."hikazeinenkinKananGaku" AS 非課税年金勘案額,
                <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.columns_ShikibetsuTaisho" />
                FROM rgdb."DbT4030ShinseishoHakkoTaishoshaHaakuBatch" AS A
                INNER  JOIN rgdb."DbT4031ShinseishoHakkoKohoshas" AS E
                ON E."haakuShoriID" =A."haakuShoriID"
                INNER JOIN  rgua."UaFt200FindShikibetsuTaisho"('',#{基準日},FALSE,'DB',FALSE,'','','','','','','','','','','',true,
        '','','','','','','',true,'','','','','','','','','','','',true,true,true,true,true,true,true,true,true,true,
        true,'','','','','','','','',true,'','',true,true,true,'','','','','','','','','','','','','','','','','','','{}') AS "ShikibetsuTaisho"
                ON "ShikibetsuTaisho"."shikibetsuCode" =E."shikibetsuCode"
                LEFT JOIN rgdb."DbV4001JukyushaDaicho" AS C 
                ON C."hihokenshaNo" = E."hihokenshaNo"
                AND C."ninteiYMD" <![CDATA[<=]]> #{基準日}
                AND C."logicalDeletedFlag" = FALSE
                INNER JOIN rgdb."DbT5101NinteiShinseiJoho" AS D 
                ON D."shinseishoKanriNo" =C."shinseishoKanriNo"
                LEFT JOIN rgdb."DbV1004ShisetsuNyutaisho" AS F
                ON F."shikibetsuCode" = E."shikibetsuCode"
                AND F."daichoShubetsu" = '1'
         WHERE
                A."batchExecutedTimestamp"  =#{バッチ処理日時}
         AND    A."gemmenGengakuShurui" =#{減免減額種類}   
    </select>
</mapper>
             