<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： 作成料請求区分取得マッピング用XMLです。 -->

<!-- @reamsid_L DBZ-4520-010 zhangzhiming -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.relate.sakuseiryoseikyuKubun.ISakuseiryoSeikyuKubunMapper">
    <select id="get意見書データ" resultType="int"
                parameterType="jp.co.ndensan.reams.db.dbz.definition.mybatisprm.sakuseiryoSeikyuKubun.SakuseiryoSeikyuKubunParameter" fetchSize="500">
        SELECT
            count(*)
        FROM
            rgdb."DbT5101NinteiShinseiJoho" as DbT5101
        INNER JOIN rgdb."DbT5121ShinseiRirekiJoho" as DbT5121
            ON DbT5101."shinseishoKanriNo" = DbT5121."shinseishoKanriNo"
            AND DbT5121."isDeleted" = FALSE
        INNER JOIN rgdb."DbT5101NinteiShinseiJoho" as DbT5101Zen
            ON DbT5121."zenkaiShinseishoKanriNo" = DbT5101Zen."shinseishoKanriNo"
            AND DbT5101."shujiiIryokikanCode" = DbT5101Zen."shujiiIryokikanCode"
            AND DbT5101."shujiiCode" = DbT5101Zen."shujiiCode"
            AND DbT5101Zen."isDeleted" = FALSE
        WHERE	DbT5101."shinseishoKanriNo" =#{申請書管理番号}
    </select>
    
    <select id="get施設入所有" resultType="int"
                parameterType="jp.co.ndensan.reams.db.dbz.definition.mybatisprm.sakuseiryoSeikyuKubun.SakuseiryoSeikyuKubunParameter" fetchSize="500">
        SELECT
            count(*)
        FROM rgdb."DbT5101NinteiShinseiJoho" AS DbT5101
        WHERE DbT5101."shinseishoKanriNo"  =#{申請書管理番号}
        AND DbT5101."shisetsuNyushoFlag" = true
    </select>
</mapper>