<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBC-3430-010 liuwei2 -->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.dbc2210011.ITokubetsuKyufuJigyoshaSearchMapper">
    <resultMap id="Result_TokubetsuKyufuJigyoshaSearchEntity" type="jp.co.ndensan.reams.db.dbc.entity.db.relate.dbc2210011.TokubetsuKyufuJigyoshaSearchEntity" autoMapping="true">
        <id property="事業者.jigyoshaNo" column="dbT3065_jigyoshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.JigyoshaNoTypeHandler"/>
        <id property="事業者.serviceCode" column="dbT3065_serviceCode" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ServiceCodeTypeHandler"/>
        <id property="事業者.rirekiNo" column="dbT3065_rirekiNo"/>
        <id property="サービス.serviceYukoKikanKaishiYMD" column="serviceYukoKikanKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <id property="サービス.serviceCode" column="serviceCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="サービス.rirekiNo" column="rirekiNo"/>

        <association property="事業者" resultMap="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3065ShichosonTokubetsuKyufuJigyoshaMapper.ResultMap_DbT3065ShichosonTokubetsuKyufuJigyoshaEntity"/>
        <association property="サービス" resultMap="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3066ShichosonTokubetuKyufuServiceMapper.ResultMap_DbT3066ShichosonTokubetuKyufuServiceEntity"/>
    </resultMap>
    <select id="selectサービス内容"
            resultOrdered="true"
            resultMap="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3066ShichosonTokubetuKyufuServiceMapper.ResultMap_DbT3066ShichosonTokubetuKyufuServiceEntity"
            fetchSize="500">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3066ShichosonTokubetuKyufuServiceMapper.allColumns_DbT3066ShichosonTokubetuKyufuService"/>
        FROM
        rgdb."DbT3066ShichosonTokubetuKyufuService"
        WHERE NOT EXISTS (SELECT 'X' FROM rgdb."DbT3066ShichosonTokubetuKyufuService" AS slv
        WHERE "DbT3066ShichosonTokubetuKyufuService"."serviceCode" = slv."serviceCode"
        AND "DbT3066ShichosonTokubetuKyufuService"."serviceYukoKikanKaishiYMD" <![CDATA[<]]>  slv."serviceYukoKikanKaishiYMD")
        AND "DbT3066ShichosonTokubetuKyufuService"."logicalDeletedFlag" is FALSE
        ORDER BY "DbT3066ShichosonTokubetuKyufuService"."serviceCode" ASC
    </select>
    <select id="select事業者情報"
            resultOrdered="true"
            resultMap="Result_TokubetsuKyufuJigyoshaSearchEntity"
            parameterType="jp.co.ndensan.reams.uz.uza.lang.RString"
            fetchSize="500">
        SELECT
        事業者.*,
        サービス.*
        FROM
        (SELECT
        <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3065ShichosonTokubetsuKyufuJigyoshaMapper.allColumns_DbT3065ShichosonTokubetsuKyufuJigyosha" />
        FROM rgdb."DbT3065ShichosonTokubetsuKyufuJigyosha"
        WHERE
        <if test="事業者番号Length == 5">
            substring(rgdb."DbT3065ShichosonTokubetsuKyufuJigyosha"."jigyoshaNo",1,5) = #{事業者番号}
        </if>
        <if test="事業者番号Length == 6">
            rgdb."DbT3065ShichosonTokubetsuKyufuJigyosha"."jigyoshaNo"  like #{事業者番号}||'%'
            and  rgdb."DbT3065ShichosonTokubetsuKyufuJigyosha"."jigyoshaNo" like '%'||#{cD}
        </if>
        <if test="事業者番号Length == 10">
            rgdb."DbT3065ShichosonTokubetsuKyufuJigyosha"."jigyoshaNo" = #{事業者番号}
        </if>
        <if test="事業者番号Length == 9">
            rgdb."DbT3065ShichosonTokubetsuKyufuJigyosha"."jigyoshaNo" like #{事業者番号}||'%'
        </if>
        AND rgdb."DbT3065ShichosonTokubetsuKyufuJigyosha"."logicalDeletedFlag" IS FALSE
        ) AS 事業者
        LEFT JOIN
        (SELECT
        <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3066ShichosonTokubetuKyufuServiceMapper.allColumns_DbT3066ShichosonTokubetuKyufuService"/>
        FROM rgdb."DbT3066ShichosonTokubetuKyufuService"
        WHERE NOT EXISTS (SELECT 'X' FROM rgdb."DbT3066ShichosonTokubetuKyufuService" AS slv
        WHERE rgdb."DbT3066ShichosonTokubetuKyufuService"."serviceCode" = slv."serviceCode"
        AND rgdb."DbT3066ShichosonTokubetuKyufuService"."serviceYukoKikanKaishiYMD" <![CDATA[<]]> slv."serviceYukoKikanKaishiYMD")
        AND rgdb."DbT3066ShichosonTokubetuKyufuService"."logicalDeletedFlag" is FALSE
        ) AS サービス
        ON 事業者."dbT3065_serviceCode" = サービス."dbT3066ShichosonTokubetuKyufuService_serviceCode"
        ORDER BY 事業者."dbT3065_jigyoshaNo" ASC,
        事業者."dbT3065_serviceCode" ASC
    </select>
    <select resultOrdered="true" resultType="int" id="selectCount" fetchSize="500">
        SELECT
        COUNT("DbT3065ShichosonTokubetsuKyufuJigyosha"."jigyoshaNo") AS　件数
        FROM rgdb."DbT3065ShichosonTokubetsuKyufuJigyosha"
        WHERE
        rgdb."DbT3065ShichosonTokubetsuKyufuJigyosha"."jigyoshaNo" = #{入力された事業者コード}
        AND rgdb."DbT3065ShichosonTokubetsuKyufuJigyosha"."logicalDeletedFlag" IS FALSE
    </select>
</mapper>


