<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT1001HihokenshaDaichoEntityのマッピング用XMLです。 -->
<!-- @reamsid_L DBE-1490-020 duanzhanli -->
<!--SelectMethod : getHihokenshaShutokuJyoho-->
<!--ParentResultMap : resultMap_getHihokenshaShutokuJyoho-->
<mapper namespace="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.relate.renkeidatatorikomi.IDbT5911TempMapper">
    
    <sql id="allColumns_DbT5911Temp">
        "シーケンシャル番号",
        "機能コード",
        "識別コード",
        "医療機関コード",
        "医療機関名称",
        "郵便番号",
        "住所",
        "電話番号",
        "状況",
        "医療機関名称カナ"
    </sql> 
    <sql id="allColumns_DbT5911ErrorTemp">
        "シーケンシャル番号",
        "機能コード",
        "識別コード",
        "医療機関コード",
        "医療機関名称",
        "郵便番号",
        "住所",
        "電話番号",
        "状況",
        "医療機関名称カナ",
        "エラー内容"
    </sql> 
    
    <sql id="allColumns_DbT5911KoroshoTemp">
        "シーケンシャル番号",
        "機能コード",
        "識別コード",
        "医療機関コード",
        "医療機関名称",
        "郵便番号",
        "住所",
        "電話番号",
        "状況"
    </sql> 
    <sql id="allColumns_DbT5911KoroshoErrorTemp">
        "シーケンシャル番号",
        "機能コード",
        "識別コード",
        "医療機関コード",
        "医療機関名称",
        "郵便番号",
        "住所",
        "電話番号",
        "状況",
        "エラー内容"
    </sql> 
    
    <resultMap id="ResultMap_DbT5911TempEntity" type="jp.co.ndensan.reams.db.dbe.entity.db.relate.renkeidatatorikomi.DbT5911TempEntity" autoMapping="true">
        <result property="シーケンシャル番号" column="シーケンシャル番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="機能コード" column="機能コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="識別コード" column="識別コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="医療機関コード" column="医療機関コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="医療機関名称" column="医療機関名称" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="郵便番号" column="郵便番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="住所" column="住所" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="電話番号" column="電話番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="状況" column="状況" />
        <result property="医療機関名称カナ" column="医療機関名称カナ" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
     </resultMap>  
     
     <resultMap id="ResultMap_DbT5911ErrorTempEntity" type="jp.co.ndensan.reams.db.dbe.entity.db.relate.renkeidatatorikomi.DbT5911ErrorTempEntity" autoMapping="true">
        <result property="シーケンシャル番号" column="シーケンシャル番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="機能コード" column="機能コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="識別コード" column="識別コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="医療機関コード" column="医療機関コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="医療機関名称" column="医療機関名称" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="郵便番号" column="郵便番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="住所" column="住所" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="電話番号" column="電話番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="状況" column="状況" />
        <result property="医療機関名称カナ" column="医療機関名称カナ" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="エラー内容" column="エラー内容" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
     </resultMap>  
     
     <select resultOrdered="true" id="get医療機関情報_電算" resultMap="ResultMap_DbT5911TempEntity" fetchSize="500">
        SELECT
            <include refid="allColumns_DbT5911Temp" />
        FROM
            "DbT5911Temp"
     </select>
     
     <select resultOrdered="true" id="get医療機関エラー情報_電算" resultMap="ResultMap_DbT5911ErrorTempEntity" fetchSize="500">
        SELECT
            <include refid="allColumns_DbT5911ErrorTemp" />
        FROM
            "DbT5911ErrorTemp"
     </select>
     
     <select resultOrdered="true" id="get医療機関情報_厚労省" resultMap="ResultMap_DbT5911TempEntity" fetchSize="500">
        SELECT
            <include refid="allColumns_DbT5911KoroshoTemp" />
        FROM
            "DbT5911Temp"
     </select>
     
     <select resultOrdered="true" id="get医療機関エラー情報_厚労省" resultMap="ResultMap_DbT5911ErrorTempEntity" fetchSize="500">
        SELECT
            <include refid="allColumns_DbT5911KoroshoErrorTemp" />
        FROM
            "DbT5911ErrorTemp"
     </select>
   
    <resultMap id="ResultMap_DbT5911ChosainJoho" type="jp.co.ndensan.reams.db.dbe.entity.db.relate.renkeidatatorikomi.DbT5911RelateEntity" autoMapping="true">
        <id column="dbT5911ShujiiIryoKikanJoho_shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <id column="dbT5911ShujiiIryoKikanJoho_shujiiIryokikanCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <association property="dbT5911Entity" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5911ShujiiIryoKikanJohoMapper.ResultMap_DbT5911ShujiiIryoKikanJohoEntity"/>
        <association property="dbt5911TempEntity" resultMap="ResultMap_DbT5911TempEntity"/>
    </resultMap>
    
    <select resultOrdered="true" id="get医療機関更新対象情報_電算" resultMap="ResultMap_DbT5911ChosainJoho" 
            parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.renkeidatatorikomi.RenkeiDataTorikomiMybitisParamter" fetchSize="500">
        SELECT
            <include refid="allColumns_DbT5911Temp" />,
            <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5911ShujiiIryoKikanJohoMapper.allColumns_DbT5911ShujiiIryoKikanJoho" />
        FROM
            "DbT5911Temp" AS temp
        LEFT JOIN 
            rgdb."DbT5911ShujiiIryoKikanJoho"
        ON
            "shujiiIryokikanCode" = temp."医療機関コード"
        AND "shichosonCode" = #{市町村コード}
    </select>
    
    <select resultOrdered="true" id="get医療機関更新対象情報_厚労省" resultMap="ResultMap_DbT5911ChosainJoho" 
            parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.renkeidatatorikomi.RenkeiDataTorikomiMybitisParamter" fetchSize="500">
        SELECT
            <include refid="allColumns_DbT5911KoroshoTemp" />,
            <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5911ShujiiIryoKikanJohoMapper.allColumns_DbT5911ShujiiIryoKikanJoho" />
        FROM
            "DbT5911Temp" AS temp
        LEFT JOIN 
            rgdb."DbT5911ShujiiIryoKikanJoho"
        ON
            "shujiiIryokikanCode" = temp."医療機関コード"
        AND "shichosonCode" = #{市町村コード}
    </select>
    
</mapper>