<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要：支給決定情報補正（単）(事業分兼)のマッピング用XMLです。 -->
<!-- @reamsid_L DBC-2290-030 quxiaodong -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.kogakugassanshikyuketteihosei.IKogakuGassanShikyuKetteiHoseiMapper">
    <select resultOrdered="true" id="get高額合算給付実績"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.kogakugassanshikyuketteihosei.ShoriModeHanteiParameter"
            resultType="jp.co.ndensan.reams.db.dbc.entity.db.basic.DbT3075KogakuGassanKyufuJissekiEntity"
            fetchSize="500">
        SELECT "B".*
        FROM
        (
        SELECT
        "C"."kokanJohoShikibetsuNo",
        "C"."hihokenshaNo",
        "C"."shikyuShinseiSeiriNo",
        MAX("C"."seiriNo") AS 整理番号
        FROM
        rgdb."DbT3075KogakuGassanKyufuJisseki" AS "C"
        GROUP BY
        "C"."kokanJohoShikibetsuNo",
        "C"."hihokenshaNo",
        "C"."shikyuShinseiSeiriNo"
        ) AS "A"
        INNER JOIN
        rgdb."DbT3075KogakuGassanKyufuJisseki" AS "B"
        ON
        "A"."kokanJohoShikibetsuNo"="B"."kokanJohoShikibetsuNo"
        AND "A"."hihokenshaNo"="B"."hihokenshaNo"
        AND "A"."shikyuShinseiSeiriNo"="B"."shikyuShinseiSeiriNo"
        WHERE
        "B"."isDeleted"='false'
        AND "B"."hihokenshaNo"=#{被保険者番号}
        AND "B"."shoKisaiHokenshaNo"=#{証記載保険者番号}
        AND "B"."shikyuShinseiSeiriNo"=#{支給申請書整理番号}
        ORDER BY
        "B"."shoriYM" DESC
    </select>

    <select id="logicalDelete高額合算給付実績"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.kogakugassanshikyuketteihosei.KogakuGassanShikyuGakuKeisanKekkaUpdateParameter">
        UPDATE
        rgdb."DbT3075KogakuGassanKyufuJisseki"
        SET
        "isDeleted" ='true',
        "updateCount" = "updateCount" + 1,
        "lastUpdateTimestamp" = now()
        WHERE
        "DbT3075KogakuGassanKyufuJisseki"."kokanJohoShikibetsuNo" = #{交換情報識別番号}
        AND "DbT3075KogakuGassanKyufuJisseki"."hihokenshaNo" = #{被保険者番号}
        AND "DbT3075KogakuGassanKyufuJisseki"."shikyuShinseiSeiriNo" = #{支給申請書整理番号}
        AND "DbT3075KogakuGassanKyufuJisseki"."seiriNo" = #{整理番号}
        AND "DbT3075KogakuGassanKyufuJisseki"."shoKisaiHokenshaNo" = #{証記載保険者番号}
    </select>

    <select id="physicalDelete高額合算給付実績"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.kogakugassanshikyuketteihosei.KogakuGassanShikyuGakuKeisanKekkaUpdateParameter">
        DELETE
        FROM
        rgdb."DbT3075KogakuGassanKyufuJisseki"
        WHERE
        "DbT3075KogakuGassanKyufuJisseki"."kokanJohoShikibetsuNo" = #{交換情報識別番号}
        AND "DbT3075KogakuGassanKyufuJisseki"."hihokenshaNo" = #{被保険者番号}
        AND "DbT3075KogakuGassanKyufuJisseki"."shikyuShinseiSeiriNo" = #{支給申請書整理番号}
        AND "DbT3075KogakuGassanKyufuJisseki"."seiriNo" = #{整理番号}
        AND "DbT3075KogakuGassanKyufuJisseki"."shoKisaiHokenshaNo" = #{証記載保険者番号}
    </select>

    <select id="update高額合算給付実績"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.kogakugassanshikyuketteihosei.KogakuGassanShikyuGakuKeisanKekkaUpdateParameter">
        UPDATE
        rgdb."DbT3075KogakuGassanKyufuJisseki"
        SET
        "jikoFutanSeiriNo" = #{自己負担額証明書整理番号},
        "kyufuJissekiSakuseiKubunCode" ='2',
        "shoKisaiHokenshaNo" = #{証記載保険者番号},
        "shinseiYMD" = #{申請年月日},
        "ketteiYMD" = #{決定年月日},
        "jikoFutanSogaku" = #{自己負担総額},
        "shikyuGaku" = #{支給額},
        "dataKubun" = #{データ区分},
        "updateCount" = "updateCount" + 1,
        "lastUpdateTimestamp" = now()
        WHERE
        "DbT3075KogakuGassanKyufuJisseki"."kokanJohoShikibetsuNo" = #{交換情報識別番号}
        AND "DbT3075KogakuGassanKyufuJisseki"."hihokenshaNo" = #{被保険者番号}
        AND "DbT3075KogakuGassanKyufuJisseki"."shikyuShinseiSeiriNo" = #{支給申請書整理番号}
        AND "DbT3075KogakuGassanKyufuJisseki"."seiriNo" = #{整理番号}
    </select>

    <select resultOrdered="true" id="get高額合算支給額計算結果"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.kogakugassanshikyuketteihosei.KogakuGassanShikyuGakuKeisanKekkaParameter"
            resultType="jp.co.ndensan.reams.db.dbc.entity.db.basic.DbT3072KogakuGassanShikyuGakuKeisanKekkaEntity"
            fetchSize="500">
        SELECT "B".*
        FROM
        (
        SELECT
        "C"."hihokenshaNo",
        "C"."taishoNendo",
        "C"."shoKisaiHokenshaNo",
        "C"."shikyuShinseishoSeiriNo",
        MAX("C"."rirekiNo") AS 履歴番号
        FROM
        rgdb."DbT3072KogakuGassanShikyuGakuKeisanKekka" AS "C"
        GROUP BY
        "C"."hihokenshaNo",
        "C"."taishoNendo",
        "C"."shoKisaiHokenshaNo",
        "C"."shikyuShinseishoSeiriNo"
        ) AS "A"
        INNER JOIN
        rgdb."DbT3072KogakuGassanShikyuGakuKeisanKekka" AS "B"
        ON
        "A"."hihokenshaNo"="B"."hihokenshaNo"
        AND "A"."taishoNendo"="B"."taishoNendo"
        AND "A"."shoKisaiHokenshaNo"="B"."shoKisaiHokenshaNo"
        AND "A"."shikyuShinseishoSeiriNo"="B"."shikyuShinseishoSeiriNo"
        WHERE
        "B"."isDeleted"='false'
        AND "B"."hihokenshaNo"=#{被保険者番号}
        AND "B"."taishoNendo"=#{対象年度}
        AND "B"."shoKisaiHokenshaNo"=#{証記載保険者番号}
        AND "B"."shikyuShinseishoSeiriNo"=#{支給申請書整理番号}
        ORDER BY
        "B"."rirekiNo" DESC
        LIMIT 1
    </select>
</mapper>