<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBD-2100-020 liwul-->
<mapper namespace="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.relate.renekeidatasakuseifourmaster.IRenekeiDataSakuseiFourMasterMapper">
    
    <select id="get認定調査員情報ＩＦのcsv情報" parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.dbd519002.RenekeiDataSakuseiMyBatisParameter"
    resultMap="ResultMap_ChosainEntity" fetchSize="500">
        SELECT
        "DbT5913ChosainJoho"."ninteiChosaItakusakiCode" as "DbT5913ChosainJoho_ninteiChosaItakusakiCode",
        "DbT5913ChosainJoho"."ninteiChosainCode" as "DbT5913ChosainJoho_ninteiChosainCode",
        "DbT5913ChosainJoho"."chosainShimei" as "DbT5913ChosainJoho_chosainShimei_chosainShimei",
        "DbT5913ChosainJoho"."chosainKanaShimei" as "DbT5913ChosainJoho_chosainKanaShimei",
        "DbT5913ChosainJoho"."chosainShikaku" as "DbT5913ChosainJoho_chosainShikaku",
        "DbT5913ChosainJoho"."jokyoFlag" as "DbT5913ChosainJoho_jokyoFlag"
        FROM
        rgdb."DbT5913ChosainJoho"
            INNER JOIN rgdb."DbT7051KoseiShichosonMaster" 
            ON "DbT7051KoseiShichosonMaster"."shichosonCode"="DbT5913ChosainJoho"."shichosonCode"
        WHERE
            "DbT5913ChosainJoho"."jokyoFlag"=true 
        <if test="今回処理日時開始日時の年月日時分秒!=null">
            AND "DbT5913ChosainJoho"."insertTimestamp" <![CDATA[>=]]> #{今回処理日時開始日時の年月日時分秒}
        </if> 
        <if test="今回処理日時終了日時の年月日時分秒!=null">
            AND "DbT5913ChosainJoho"."insertTimestamp" <![CDATA[<]]> #{今回処理日時終了日時の年月日時分秒}
        </if>    
    </select>
    <select id="get調査委託先情報ＩＦのcsv情報" parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.dbd519002.RenekeiDataSakuseiMyBatisParameter"
    resultMap="ResultMap_ChosaitakusakiEntity" fetchSize="500">
        SElECT
        "DbT5910NinteichosaItakusakiJoho"."ninteichosaItakusakiCode" as "DbT5910NinteichosaItakusakiJoho_ninteichosaItakusakiCode",
        "DbT5910NinteichosaItakusakiJoho"."jigyoshaMeisho" as "DbT5910NinteichosaItakusakiJoho_jigyoshaMeisho",
        "DbT5910NinteichosaItakusakiJoho"."jigyoshaMeishoKana" as "DbT5910NinteichosaItakusakiJoho_jigyoshaMeishoKana",
        "DbT5910NinteichosaItakusakiJoho"."yubinNo" as "DbT5910NinteichosaItakusakiJoho_yubinNo",
        "DbT5910NinteichosaItakusakiJoho"."jusho" as "DbT5910NinteichosaItakusakiJoho_jusho",
        "DbT5910NinteichosaItakusakiJoho"."telNo" as "DbT5910NinteichosaItakusakiJoho_telNo",
        "DbT5910NinteichosaItakusakiJoho"."chosaItakuKubun" as "DbT5910NinteichosaItakusakiJoho_chosaItakuKubun",
        "DbT5910NinteichosaItakusakiJoho"."jokyoFlag" as "DbT5910NinteichosaItakusakiJoho_jokyoFlag"
        FROM
            rgdb."DbT5910NinteichosaItakusakiJoho"
            INNER JOIN rgdb."DbT7051KoseiShichosonMaster" 
            ON "DbT7051KoseiShichosonMaster"."shichosonCode"="DbT5910NinteichosaItakusakiJoho"."shichosonCode"
        WHERE
            "DbT5910NinteichosaItakusakiJoho"."jokyoFlag" =true
        <if test="今回処理日時開始日時の年月日時分秒!=null">
            AND "DbT5910NinteichosaItakusakiJoho"."insertTimestamp" <![CDATA[>=]]> #{今回処理日時開始日時の年月日時分秒}
        </if>
        <if test="今回処理日時終了日時の年月日時分秒!=null">
            AND "DbT5910NinteichosaItakusakiJoho"."insertTimestamp" <![CDATA[<]]> #{今回処理日時終了日時の年月日時分秒}
        </if> 
    </select>
    <select id="get主治医医療機関情報ＩＦのcsv情報" parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.dbd519002.RenekeiDataSakuseiMyBatisParameter"
    resultMap="ResultMap_ShujiiIryokikanEntity" fetchSize="500">
        SElECT
        "DbT5911ShujiiIryoKikanJoho"."iryokikanCode" as "DbT5911ShujiiIryoKikanJoho_iryokikanCode",
        "DbT5911ShujiiIryoKikanJoho"."iryoKikanMeisho" as "DbT5911ShujiiIryoKikanJoho_iryoKikanMeisho",
        "DbT5911ShujiiIryoKikanJoho"."iryoKikanMeishoKana" as "DbT5911ShujiiIryoKikanJoho_iryoKikanMeishoKana",
        "DbT5911ShujiiIryoKikanJoho"."yubinNo" as "DbT5911ShujiiIryoKikanJoho_yubinNo",
        "DbT5911ShujiiIryoKikanJoho"."jusho" as "DbT5911ShujiiIryoKikanJoho_jusho",
        "DbT5911ShujiiIryoKikanJoho"."telNo" as "DbT5911ShujiiIryoKikanJoho_telNo",
        "DbT5911ShujiiIryoKikanJoho"."jokyoFlag" as "DbT5911ShujiiIryoKikanJoho_jokyoFlag"
        FROM
            rgdb."DbT5911ShujiiIryoKikanJoho"
            INNER JOIN rgdb."DbT7051KoseiShichosonMaster" 
            ON "DbT7051KoseiShichosonMaster"."shichosonCode"="DbT5911ShujiiIryoKikanJoho"."shichosonCode"
        WHERE
            "DbT5911ShujiiIryoKikanJoho"."jokyoFlag" =true
        <if test="今回処理日時開始日時の年月日時分秒!=null">
            AND "DbT5911ShujiiIryoKikanJoho"."insertTimestamp" <![CDATA[>=]]> #{今回処理日時開始日時の年月日時分秒}
        </if>
        <if test="今回処理日時終了日時の年月日時分秒!=null">
            AND "DbT5911ShujiiIryoKikanJoho"."insertTimestamp" <![CDATA[<]]> #{今回処理日時終了日時の年月日時分秒}
        </if> 
        
    </select>
    <select id="get主治医情報情報ＩＦのcsv情報" parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.dbd519002.RenekeiDataSakuseiMyBatisParameter"
    resultMap="ResultMap_ShujiiEntity" fetchSize="500">
        SElECT
        "DbT5912ShujiiJoho"."shujiiIryokikanCode" as "DbT5912ShujiiJoho_shujiiIryokikanCode",
        "DbT5912ShujiiJoho"."shujiiCode" as "DbT5912ShujiiJoho_shujiiCode",
        "DbT5912ShujiiJoho"."shujiiName" as "DbT5912ShujiiJoho_shujiiName",
        "DbT5912ShujiiJoho"."shujiiKana" as "DbT5912ShujiiJoho_shujiiKana",
        "DbT5912ShujiiJoho"."jokyoFlag" as "DbT5912ShujiiJoho_jokyoFlag"
        FROM
            rgdb."DbT5912ShujiiJoho"
            INNER JOIN rgdb."DbT7051KoseiShichosonMaster" 
            ON "DbT7051KoseiShichosonMaster"."shichosonCode"="DbT5912ShujiiJoho"."shichosonCode"
        WHERE
            "DbT5912ShujiiJoho"."jokyoFlag" =true
        <if test="今回処理日時開始日時の年月日時分秒!=null">
            AND "DbT5912ShujiiJoho"."insertTimestamp" <![CDATA[>=]]> #{今回処理日時開始日時の年月日時分秒}
        </if>
        <if test="今回処理日時終了日時の年月日時分秒!=null">
            AND "DbT5912ShujiiJoho"."insertTimestamp" <![CDATA[<]]> #{今回処理日時終了日時の年月日時分秒}
        </if>   
    </select>
    <select id="get要介護認定外部データ出力履歴" parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.dbd519002.RenekeiDataSakuseiMyBatisParameter"
    resultType="jp.co.ndensan.reams.db.dbd.entity.db.relate.dbd5190001.DbT7204YokaigoNinteiGaibuDataOutputHistoryEntity" fetchSize="500" >
        SELECT * 
        FROM
            rgdb."DbT7204YokaigoNinteiGaibuDataOutputHistory"
        WHERE
            "DbT7204YokaigoNinteiGaibuDataOutputHistory"."dataKubun"=#{外部出力データ区分}   
    </select>
     <resultMap id="ResultMap_ChosaitakusakiEntity" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.dbd519002.ChosaitakusakiEntity" autoMapping="true">
        <result property="認定調査委託先コード" column="DbT5910NinteichosaItakusakiJoho_ninteichosaItakusakiCode" typeHandler="jp.co.ndensan.reams.db.dbz.entity.typehandlers.ChosaItakusakiCodeTypeHandler"/> 
        <result property="事業者名称" column="DbT5910NinteichosaItakusakiJoho_jigyoshaMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/> 
        <result property="事業者名称カナ" column="DbT5910NinteichosaItakusakiJoho_jigyoshaMeishoKana" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/> 
        <result property="郵便番号" column="DbT5910NinteichosaItakusakiJoho_yubinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler"/>       
        <result property="住所" column="DbT5910NinteichosaItakusakiJoho_jusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/> 
        <result property="電話番号" column="DbT5910NinteichosaItakusakiJoho_telNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.TelNoTypeHandler"/> 
        <result property="調査委託区分" column="DbT5910NinteichosaItakusakiJoho_chosaItakuKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>      
        <result property="状況フラグ" column="DbT5910NinteichosaItakusakiJoho_jokyoFlag" typeHandler="org.apache.ibatis.type.BooleanTypeHandler" /> 
    </resultMap>
    <resultMap id="ResultMap_ChosainEntity" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.dbd519002.ChosainEntity" autoMapping="true">
        <result property="認定調査委託先コード" column="DbT5913ChosainJoho_ninteiChosaItakusakiCode" typeHandler="jp.co.ndensan.reams.db.dbz.entity.typehandlers.ChosaItakusakiCodeTypeHandler"/> 
        <result property="認定調査員コード" column="DbT5913ChosainJoho_ninteiChosainCode" typeHandler="jp.co.ndensan.reams.db.dbz.entity.typehandlers.ChosainCodeTypeHandler"/> 
        <result property="調査員氏名" column="DbT5913ChosainJoho_chosainShimei_chosainShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/> 
        <result property="調査員氏名カナ" column="DbT5913ChosainJoho_chosainKanaShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/> 
        <result property="調査員資格" column="DbT5913ChosainJoho_chosainShikaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/> 
        <result property="状況フラグ" column="DbT5913ChosainJoho_jokyoFlag" typeHandler="org.apache.ibatis.type.BooleanTypeHandler" /> 
    </resultMap>
    <resultMap id="ResultMap_ShujiiIryokikanEntity" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.dbd519002.ShujiiIryokikanEntity" autoMapping="true">
        <result property="医療機関コード" column="DbT5911ShujiiIryoKikanJoho_iryokikanCode" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.IryoKikanCodeTypeHandler"/> 
        <result property="医療機関名称" column="DbT5911ShujiiIryoKikanJoho_iryoKikanMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/> 
        <result property="医療機関名称カナ" column="DbT5911ShujiiIryoKikanJoho_iryoKikanMeishoKana" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/> 
        <result property="郵便番号" column="DbT5911ShujiiIryoKikanJoho_yubinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler"/>       
        <result property="住所" column="DbT5911ShujiiIryoKikanJoho_jusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/> 
        <result property="電話番号" column="DbT5911ShujiiIryoKikanJoho_telNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.TelNoTypeHandler"/> 
        <result property="状況フラグ" column="DbT5911ShujiiIryoKikanJoho_jokyoFlag" typeHandler="org.apache.ibatis.type.BooleanTypeHandler" /> 
    </resultMap>
     <resultMap id="ResultMap_ShujiiEntity" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.dbd519002.ShujiiEntity" autoMapping="true">
        <result property="主治医医療機関コード" column="DbT5912ShujiiJoho_shujiiIryokikanCode" typeHandler="jp.co.ndensan.reams.db.dbz.entity.typehandlers.ShujiiIryokikanCodeTypeHandler"/> 
        <result property="主治医コード" column="DbT5912ShujiiJoho_shujiiCode" typeHandler="jp.co.ndensan.reams.db.dbz.entity.typehandlers.ShujiiCodeTypeHandler"/> 
        <result property="主治医氏名" column="DbT5912ShujiiJoho_shujiiName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/> 
        <result property="主治医カナ" column="DbT5912ShujiiJoho_shujiiKana" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>       
        <result property="状況フラグ" column="DbT5912ShujiiJoho_jokyoFlag" typeHandler="org.apache.ibatis.type.BooleanTypeHandler" /> 
    </resultMap>
</mapper>