<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBA-0140-030 houtianpeng -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.relate.jigyosha.IJigyoshaInputGuideMapper">

    <resultMap id="resultMap_serviceJigyoshaInputGuideEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.relate.ServiceJigyoshaInputGuideRelateEntity" autoMapping="true">
        <id property="jigyoshaNo" column="dbT7060Kaigo_jigyoshaNo" typeHandler="jp.co.ndensan.reams.db.dbz.entity.typehandlers.KaigoJigyoshaNoTypeHandler" />
        <id property="yukoKaishiYMD" column="dbT7060Kaigo_yukoKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="yukoShuryoYMD" column="dbT7060Kaigo_yukoShuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="jigyoshaName" column="dbT7060Kaigo_jigyoshaName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler" />
        <result property="jigyoshaNameKana" column="dbT7060Kaigo_jigyoshaNameKana" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaKanaMeishoTypeHandler" />
        <result property="jigyoshaKanaAddress" column="dbT7060Kaigo_jigyoshaKanaAddress" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="jigyoshaAddress" column="dbT7060Kaigo_jigyoshaAddress" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaJushoTypeHandler" />
        <result property="telNo" column="dbT7060Kaigo_telNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.TelNoTypeHandler" />
        <result property="serviceShuruiCode" column="dbT7063Kaigo_serviceShuruiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="serviceShuruiRyakusho" column="dbT7130Kaigo_serviceShuruiRyakusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="yubinNo" column="dbT7060Kaigo_yubinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler"/>
    </resultMap>

    <resultMap id="resultMap_tekiyoJogaiInputGuideEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.relate.ServiceJigyoshaInputGuideRelateEntity" autoMapping="true">
        <id property="jigyoshaNo" column="dbT1005Kaigo_jigyoshaNo" typeHandler="jp.co.ndensan.reams.db.dbz.entity.typehandlers.KaigoJigyoshaNoTypeHandler" />
        <id property="yukoKaishiYMD" column="dbT1005Kaigo_yukoKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="yukoShuryoYMD" column="dbT1005Kaigo_yukoShuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="jigyoshaMeisho" column="dbT1005Kaigo_jigyoshaMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"  />
        <result property="jigyoshaKanaMeisho" column="dbT1005Kaigo_jigyoshaKanaMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaKanaMeishoTypeHandler" />
        <result property="jigyoshaKanaJusho" column="dbT1005Kaigo_jigyoshaKanaJusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="jigyoshaJusho" column="dbT1005Kaigo_jigyoshaJusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="telNo" column="dbT1005Kaigo_telNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.TelNoTypeHandler" />
        <result property="yubinNo" column="dbT1005Kaigo_yubinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler"/>
    </resultMap>

    <resultMap id="resultMap_otherTokureiInputGuideEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.relate.ServiceJigyoshaInputGuideRelateEntity" autoMapping="true">
        <id property="jigyoshaNo" column="dbT1005Kaigo_jigyoshaNo" typeHandler="jp.co.ndensan.reams.db.dbz.entity.typehandlers.KaigoJigyoshaNoTypeHandler" />
        <id property="yukoKaishiYMD" column="dbT1005Kaigo_yukoKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="yukoShuryoYMD" column="dbT1005Kaigo_yukoShuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="jigyoshaJusho" column="dbT1005Kaigo_jigyoshaJusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="jigyoshaMeisho" column="dbT1005Kaigo_jigyoshaMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"  />
        <result property="jigyoshaKanaMeisho" column="dbT1005Kaigo_jigyoshaKanaMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaKanaMeishoTypeHandler" />
        <result property="jigyoshaKanaJusho" column="dbT1005Kaigo_jigyoshaKanaJusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="telNo" column="dbT1005Kaigo_telNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.TelNoTypeHandler" />
        <result property="yubinNo" column="dbT1005Kaigo_yubinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler"/>
    </resultMap>


    <select resultOrdered="true" id="getServiceJigyoshaInputGuide" resultMap="resultMap_serviceJigyoshaInputGuideEntity" parameterType="jp.co.ndensan.reams.db.dbz.definition.mybatisprm.jigyosha.JigyoshaInputGuideParameter" fetchSize="500">
        SELECT * FROM(
        SELECT
        dbT7060Kaigo."jigyoshaNo" AS "dbT7060Kaigo_jigyoshaNo",
        dbT7060Kaigo."yukoKaishiYMD" AS "dbT7060Kaigo_yukoKaishiYMD",
        dbT7060Kaigo."yukoShuryoYMD" AS "dbT7060Kaigo_yukoShuryoYMD",
        dbT7060Kaigo."jigyoshaName" AS "dbT7060Kaigo_jigyoshaName",
        dbT7060Kaigo."jigyoshaNameKana" AS "dbT7060Kaigo_jigyoshaNameKana",
        dbT7060Kaigo."jigyoshaKanaAddress" AS "dbT7060Kaigo_jigyoshaKanaAddress",
        dbT7060Kaigo."jigyoshaAddress" AS "dbT7060Kaigo_jigyoshaAddress",
        dbT7060Kaigo."telNo" AS "dbT7060Kaigo_telNo",
        dbT7060Kaigo."yubinNo" AS "dbT7060Kaigo_yubinNo",
        dbT7063Kaigo."serviceShuruiCode" AS "dbT7063Kaigo_serviceShuruiCode",
        dbT7130Kaigo2."serviceShuruiRyakusho" AS "dbT7130Kaigo_serviceShuruiRyakusho",
        row_number() OVER (PARTITION BY dbT7060Kaigo."jigyoshaNo"
        ORDER BY dbT7060Kaigo."jigyoshaNo" DESC,dbT7060Kaigo."yukoKaishiYMD" DESC,dbT7063Kaigo."yukoKaishiYMD" DESC) AS rank_number
        FROM
        rgdb."DbT7060KaigoJigyosha" AS dbT7060Kaigo
        LEFT JOIN
        rgdb."DbT7063KaigoJigyoshaShiteiService" AS dbT7063Kaigo
        ON
        dbT7060Kaigo."jigyoshaNo" =  dbT7063Kaigo."jigyoshaNo"
        LEFT JOIN
        (SELECT * FROM
        (SELECT
        dbT7130Kaigo."serviceShuruiCd",
        dbT7130Kaigo."teikyoKaishiYM",
        dbT7130Kaigo."serviceShuruiRyakusho",
        dbT7130Kaigo."isDeleted",
        row_number() over(PARTITION by dbT7130Kaigo."serviceShuruiCd" order by  dbT7130Kaigo."teikyoKaishiYM" desc) AS rank_number1
        FROM rgdb."DbT7130KaigoServiceShurui" AS dbT7130Kaigo) AS dbT7130Kaigo1
        WHERE rank_number1 = 1) AS dbT7130Kaigo2
        ON
        dbT7063Kaigo."serviceShuruiCode" = dbT7130Kaigo2."serviceShuruiCd"
        WHERE
        dbT7060Kaigo."isDeleted" <![CDATA[<>]]> TRUE
        <!--2016/10/21 TODO 城間 事業者が存在し、事業者サービスが存在しない場合でも検索に上がってほしい為、ここの記述を削除。問題が発生すれば解除する。-->
        <!--
        AND
        dbT7063Kaigo."isDeleted"  <![CDATA[<>]]> TRUE
        AND
        dbT7130Kaigo2."isDeleted"  <![CDATA[<>]]> TRUE
        -->

        <if test="isJigyoshaNoFlag" >
            AND dbT7060Kaigo."jigyoshaNo" like #{jigyoshaNo} || '%'
        </if>
        <if test = "!isJigyoshaNoFlag">
            <if test = "isYukoKaishiYMDFromFlag and !isYukoKaishiYMDToFlag">
                AND
                dbT7060Kaigo."yukoKaishiYMD"  <![CDATA[>=]]>   #{yukoKaishiYMDFrom}
                AND
                dbT7063Kaigo."yukoKaishiYMD" <![CDATA[>=]]>  #{yukoKaishiYMDFrom}
            </if>
            <if test = "isYukoKaishiYMDFromFlag and isYukoKaishiYMDToFlag">
                AND
                dbT7060Kaigo."yukoKaishiYMD" <![CDATA[>=]]>  #{yukoKaishiYMDFrom}
                AND
                dbT7060Kaigo."yukoKaishiYMD" <![CDATA[<=]]>  #{yukoKaishiYMDTo}
                AND
                dbT7063Kaigo."yukoKaishiYMD" <![CDATA[>=]]>  #{yukoKaishiYMDFrom}
                AND
                dbT7063Kaigo."yukoKaishiYMD" <![CDATA[<=]]>  #{yukoKaishiYMDTo}
            </if>
            <if test = "!isYukoKaishiYMDFromFlag and isYukoKaishiYMDToFlag">
                AND
                dbT7060Kaigo."yukoKaishiYMD" <![CDATA[<=]]> #{yukoKaishiYMDTo}
                AND
                dbT7063Kaigo."yukoKaishiYMD" <![CDATA[<=]]>  #{yukoKaishiYMDTo}
            </if>
            <if test = "isJigyoshaName">
                <if test = "isKanzenitti">
                    AND
                    (dbT7060Kaigo."jigyoshaName" =  #{jigyoshaName}
                    OR
                    dbT7060Kaigo."jigyoshaNameKana" =  #{jigyoshaName})
                </if>
                <if test = "isZennpouitti">
                    AND
                    (dbT7060Kaigo."jigyoshaName" LIKE  #{jigyoshaName} || '%'
                    OR
                    dbT7060Kaigo."jigyoshaNameKana" LIKE   #{jigyoshaName} || '%')
                </if>
                <if test = "isBubunitti">
                    AND
                    (dbT7060Kaigo."jigyoshaName" LIKE '%' || #{jigyoshaName} || '%'
                    OR
                    dbT7060Kaigo."jigyoshaNameKana" LIKE '%' || #{jigyoshaName} || '%')
                </if>
                <if test = "isKouhouitti">
                    AND
                    (dbT7060Kaigo."jigyoshaName" LIKE  '%' || #{jigyoshaName}
                    OR
                    dbT7060Kaigo."jigyoshaNameKana" LIKE   '%' || #{jigyoshaName})
                </if>
            </if>
            <if test = "isYubinNo">
                AND
                dbT7060Kaigo."yubinNo"  = #{yubinNo}
            </if>
            <if test = "isAddress">
                <if test = "isKanzenitti">
                    AND
                    dbT7060Kaigo."jigyoshaAddress"  = #{address}
                </if>
                <if test = "isZennpouitti">
                    AND
                    dbT7060Kaigo."jigyoshaAddress" LIKE  #{address} || '%'
                </if>
                <if test = "isBubunitti">
                    AND
                    dbT7060Kaigo."jigyoshaAddress" LIKE '%' || #{address} || '%'
                </if>
                <if test = "isKouhouitti">
                    AND
                    dbT7060Kaigo."jigyoshaAddress" LIKE  '%' || #{address}
                </if>
            </if>
            <if test = "isServiceShuRui">
                AND
                dbT7063Kaigo."serviceShuruiCode" = #{serviceShuRui}
            </if>
            <if test = "isKenCode">
                AND
                SUBSTRING(dbT7060Kaigo."jigyoshaNo",1,2) = #{kenCode}
            </if>
            <if test = "isJigyoshaKbn">
                AND
                SUBSTRING(dbT7060Kaigo."jigyoshaNo",3,1) = #{jigyoshaKbn}
            </if>
            <if test = "isGunshiCode">
                AND
                SUBSTRING(dbT7060Kaigo."jigyoshaNo",4,2) = #{gunshiCode}
            </if>
        </if>) AS dbT7060Kaigo1
        WHERE rank_number = 1
    </select>

    <select resultOrdered="true" id="getTekiyoJogaiInputGuide" resultMap="resultMap_tekiyoJogaiInputGuideEntity" parameterType="jp.co.ndensan.reams.db.dbz.definition.mybatisprm.jigyosha.JigyoshaInputGuideParameter" fetchSize="500">
        SELECT * FROM(
        SELECT
        dbT1005Kaigo."jigyoshaNo" AS "dbT1005Kaigo_jigyoshaNo",
        dbT1005Kaigo."yukoKaishiYMD" AS "dbT1005Kaigo_yukoKaishiYMD",
        dbT1005Kaigo."yukoShuryoYMD" AS "dbT1005Kaigo_yukoShuryoYMD",
        dbT1005Kaigo."jigyoshaMeisho" AS "dbT1005Kaigo_jigyoshaMeisho",
        dbT1005Kaigo."jigyoshaKanaMeisho" AS "dbT1005Kaigo_jigyoshaKanaMeisho",
        dbT1005Kaigo."jigyoshaJusho" AS "dbT1005Kaigo_jigyoshaJusho",
        dbT1005Kaigo."jigyoshaKanaJusho" AS "dbT1005Kaigo_jigyoshaKanaJusho",
        dbT1005Kaigo."telNo" AS "dbT1005Kaigo_telNo",
        dbT1005Kaigo."yubinNo" AS "dbT1005Kaigo_yubinNo",
        row_number() OVER (PARTITION BY dbT1005Kaigo."jigyoshaNo"
        ORDER BY dbT1005Kaigo."jigyoshaNo" DESC,dbT1005Kaigo."yukoKaishiYMD" DESC) AS rank_number
        FROM
        rgdb."DbT1005KaigoJogaiTokureiTaishoShisetsu" AS dbT1005Kaigo
        WHERE
        dbT1005Kaigo."isDeleted" <![CDATA[<>]]> TRUE
        AND
        dbT1005Kaigo."jigyoshaShubetsu"= #{jigyoshaShubetsu}
        <if test="isJigyoshaNoFlag" >
            AND dbT1005Kaigo."jigyoshaNo"  = #{jigyoshaNo}
        </if>
        <if test = "!isJigyoshaNoFlag">
            <if test = "isYukoKaishiYMDFromFlag and !isYukoKaishiYMDToFlag">
                AND
                dbT1005Kaigo."yukoKaishiYMD" <![CDATA[>=]]>  #{yukoKaishiYMDFrom}
            </if>
            <if test = "isYukoKaishiYMDFromFlag and isYukoKaishiYMDToFlag">
                AND
                dbT1005Kaigo."yukoKaishiYMD" <![CDATA[>=]]>  #{yukoKaishiYMDFrom}
                AND
                dbT1005Kaigo."yukoKaishiYMD" <![CDATA[<=]]>  #{yukoKaishiYMDTo}
            </if>
            <if test = "!isYukoKaishiYMDFromFlag and isYukoKaishiYMDToFlag">
                AND
                dbT1005Kaigo."yukoKaishiYMD" <![CDATA[<=]]> #{yukoKaishiYMDTo}
            </if>
            <if test = "isJigyoshaName">
                <if test = "isKanzenitti">
                    AND
                    (dbT1005Kaigo."jigyoshaMeisho" =  #{jigyoshaName}
                    OR
                    dbT1005Kaigo."jigyoshaKanaMeisho" =  #{jigyoshaName})
                </if>
                <if test = "isZennpouitti">
                    AND
                    (dbT1005Kaigo."jigyoshaMeisho" LIKE  #{jigyoshaName} || '%'
                    OR
                    dbT1005Kaigo."jigyoshaKanaMeisho" LIKE   #{jigyoshaName} || '%')
                </if>
                <if test = "isBubunitti">
                    AND
                    (dbT1005Kaigo."jigyoshaMeisho" LIKE '%' || #{jigyoshaName} || '%'
                    OR
                    dbT1005Kaigo."jigyoshaKanaMeisho" LIKE '%' || #{jigyoshaName} || '%')
                </if>
                <if test = "isKouhouitti">
                    AND
                    (dbT1005Kaigo."jigyoshaMeisho" LIKE  '%' || #{jigyoshaName}
                    OR
                    dbT1005Kaigo."jigyoshaKanaMeisho" LIKE   '%' || #{jigyoshaName})
                </if>
            </if>
            <if test = "isYubinNo">
                AND
                dbT1005Kaigo."yubinNo"  = #{yubinNo}
            </if>
            <if test = "isAddress">
                <if test = "isKanzenitti">
                    AND
                    dbT1005Kaigo."jigyoshaJusho" = #{address}
                </if>
                <if test = "isZennpouitti">
                    AND
                    dbT1005Kaigo."jigyoshaJusho" LIKE  #{address} || '%'
                </if>
                <if test = "isBubunitti">
                    AND
                    dbT1005Kaigo."jigyoshaJusho" LIKE '%' || #{address} || '%'
                </if>
                <if test = "isKouhouitti">
                    AND
                    dbT1005Kaigo."jigyoshaJusho" LIKE  '%' || #{address}
                </if>
            </if>
        </if>) AS dbT1005Kaigo1
        WHERE rank_number = 1
    </select>
    <select resultOrdered="true" id="getOtherTokureiInputGuide" resultMap="resultMap_otherTokureiInputGuideEntity" parameterType="jp.co.ndensan.reams.db.dbz.definition.mybatisprm.jigyosha.JigyoshaInputGuideParameter" fetchSize="500">
        SELECT * FROM(
        SELECT
        dbT1005Kaigo."jigyoshaNo" AS "dbT1005Kaigo_jigyoshaNo",
        dbT1005Kaigo."yukoKaishiYMD" AS "dbT1005Kaigo_yukoKaishiYMD",
        dbT1005Kaigo."yukoShuryoYMD" AS "dbT1005Kaigo_yukoShuryoYMD",
        dbT1005Kaigo."jigyoshaMeisho" AS "dbT1005Kaigo_jigyoshaMeisho",
        dbT1005Kaigo."jigyoshaJusho" AS "dbT1005Kaigo_jigyoshaJusho",
        dbT1005Kaigo."jigyoshaKanaMeisho" AS "dbT1005Kaigo_jigyoshaKanaMeisho",
        dbT1005Kaigo."jigyoshaKanaJusho" AS "dbT1005Kaigo_jigyoshaKanaJusho",
        dbT1005Kaigo."telNo" AS "dbT1005Kaigo_telNo",
        dbT1005Kaigo."yubinNo" AS "dbT1005Kaigo_yubinNo",
        row_number() OVER (PARTITION BY dbT1005Kaigo."jigyoshaNo"
        ORDER BY dbT1005Kaigo."jigyoshaNo" DESC,dbT1005Kaigo."yukoKaishiYMD" DESC) AS rank_number
        FROM
        rgdb."DbT1005KaigoJogaiTokureiTaishoShisetsu" AS dbT1005Kaigo
        WHERE
        dbT1005Kaigo."isDeleted" <![CDATA[<>]]> TRUE
        AND
        <if test = "isKannaiKangaiKubun1Flg">
            dbT1005Kaigo."kannaiKangaiKubun" = #{kannaiKangaiKubun1}
            AND
        </if>
        <if test = "isKannaiKangaiKubun2Flg">
            dbT1005Kaigo."kannaiKangaiKubun" = #{kannaiKangaiKubun2}
            AND
        </if>
        dbT1005Kaigo."jigyoshaShubetsu"= #{jigyoshaShubetsu}
        <if test="isJigyoshaNoFlag" >
            AND dbT1005Kaigo."jigyoshaNo"  = #{jigyoshaNo}
        </if>
        <if test = "!isJigyoshaNoFlag">
            <if test = "isYukoKaishiYMDFromFlag and !isYukoKaishiYMDToFlag">
                AND
                dbT1005Kaigo."yukoKaishiYMD" <![CDATA[>=]]>  #{yukoKaishiYMDFrom}
            </if>
            <if test = "isYukoKaishiYMDFromFlag and isYukoKaishiYMDToFlag">
                AND
                dbT1005Kaigo."yukoKaishiYMD" <![CDATA[>=]]>  #{yukoKaishiYMDFrom}
                AND
                dbT1005Kaigo."yukoKaishiYMD" <![CDATA[<=]]>  #{yukoKaishiYMDTo}
            </if>
            <if test = "!isYukoKaishiYMDFromFlag and isYukoKaishiYMDToFlag">
                AND
                dbT1005Kaigo."yukoKaishiYMD" <![CDATA[<=]]> #{yukoKaishiYMDTo}
            </if>
            <if test = "isJigyoshaName">
                <if test = "isKanzenitti">
                    AND
                    (dbT1005Kaigo."jigyoshaMeisho" =  #{jigyoshaName}
                    OR
                    dbT1005Kaigo."jigyoshaKanaMeisho" =  #{jigyoshaName})
                </if>
                <if test = "isZennpouitti">
                    AND
                    (dbT1005Kaigo."jigyoshaMeisho" LIKE  #{jigyoshaName} || '%'
                    OR
                    dbT1005Kaigo."jigyoshaKanaMeisho" LIKE   #{jigyoshaName} || '%')
                </if>
                <if test = "isBubunitti">
                    AND
                    (dbT1005Kaigo."jigyoshaMeisho" LIKE '%' || #{jigyoshaName} || '%'
                    OR
                    dbT1005Kaigo."jigyoshaKanaMeisho" LIKE '%' || #{jigyoshaName} || '%')
                </if>
                <if test = "isKouhouitti">
                    AND
                    (dbT1005Kaigo."jigyoshaMeisho" LIKE  '%' || #{jigyoshaName}
                    OR
                    dbT1005Kaigo."jigyoshaKanaMeisho" LIKE   '%' || #{jigyoshaName})
                </if>
            </if>
            <if test = "isYubinNo">
                AND
                dbT1005Kaigo."yubinNo"  = #{yubinNo}
            </if>
            <if test = "isAddress">
                <if test = "isKanzenitti">
                    AND
                    dbT1005Kaigo."jigyoshaJusho" = #{address}
                </if>
                <if test = "isZennpouitti">
                    AND
                    dbT1005Kaigo."jigyoshaJusho" LIKE  #{address} || '%'
                </if>
                <if test = "isBubunitti">
                    AND
                    dbT1005Kaigo."jigyoshaJusho" LIKE '%' || #{address} || '%'
                </if>
                <if test = "isKouhouitti">
                    AND
                    dbT1005Kaigo."jigyoshaJusho" LIKE  '%' || #{address}
                </if>
            </if>
        </if>) AS dbT1005Kaigo1
        WHERE rank_number = 1
    </select>
</mapper>