<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBB-1650-030 lijunjun -->

<mapper namespace="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.relate.shotokujohoichiranhyo.IShotokuJohoIchiranhyoMapper">
    
    <!--対象終了日時-->
    <select id="select対象終了日時_広域" parameterType="jp.co.ndensan.reams.db.dbb.definition.core.shotokujohoichiranhyo.ShotokuJohoIchiranhyoParameter"
            resultMap="resultMap_TaishoShuryoYmdEntity" fetchSize="500" resultOrdered="true">
     SELECT 
     "shichosonCode",
     "taishoShuryoTimestamp",
     max("nendoNaiRenban")  AS 年度内連番
     FROM rgdb."DbT7022ShoriDateKanri" 
     WHERE
     "subGyomuCode"='DBB'
     AND "shichosonCode" IN 
     <foreach item="市町村コードリスト" index="index" collection="市町村コードリスト" open="(" separator="," close=")">#{市町村コードリスト}
     </foreach>
     AND "shoriName"='所得情報一覧表作成'
     AND "shoriEdaban" IN
     <foreach item="市町村識別IDリスト" index="index" collection="市町村識別IDリスト" open="(" separator="," close=")">#{市町村識別IDリスト}
     </foreach>
     AND "nendo"=#{処理年度}
     GROUP BY "shichosonCode","taishoShuryoTimestamp"
     ORDER BY "shichosonCode" ASC
    </select>
    
    <!--対象終了日時_広域-->
    <select id="select対象終了日時" parameterType="jp.co.ndensan.reams.db.dbb.definition.core.shotokujohoichiranhyo.ShotokuJohoIchiranhyoKouikiParameter"
            resultMap="resultMap_TaishoShuryoYmdEntity" fetchSize="500" resultOrdered="true">
     SELECT 
     "shichosonCode",
     "taishoShuryoTimestamp",
     max("nendoNaiRenban") AS 年度内連番
     FROM rgdb."DbT7022ShoriDateKanri" 
     WHERE
     "subGyomuCode"='DBB'
     AND "shichosonCode"=#{市町村コード}
     AND "shoriName"='所得情報一覧表作成'
     AND "shoriEdaban"='0001'
     AND "nendo"=#{処理年度}
     GROUP BY "shichosonCode","taishoShuryoTimestamp"
     ORDER BY "shichosonCode" ASC
    </select>
    
    <resultMap id="resultMap_TaishoShuryoYmdEntity" type="jp.co.ndensan.reams.db.dbb.entity.db.relate.shotokujohoichiranhyo.TaishoShuryoYmdEntity" autoMapping="true">
        <result property="市町村コード" column="shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <result property="対象終了日時" column="taishoShuryoTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YMDHMSTypeHandler"/>
        <result property="年度内連番" column="年度内連番" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
</mapper>