<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBE-0210-010 dongyabin -->
<mapper namespace="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.relate.yokaigoninteishinchokujohoshokai.IYokaigoNinteiShinchokuJohoShokaiMapper">
    <resultMap id="resultMap_YokaigoNinteiShinchokuJohoShokaiRelateEntity" type="jp.co.ndensan.reams.db.dbe.entity.db.relate.yokaigoninteishinchokujohoshokai.YokaigoNinteiShinchokuJohoShokaiRelateEntity" autoMapping="true">
        <result property="shichosonMeisho" column="shichosonMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="hihokenshaNo" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler" />
        <result property="hihokenshaName" column="hihokenshaName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="hihokenshaKubunCode" column="hihokenshaKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="ninteiShinShinseijiKubunCode" column="ninteiShinseiShinseijiKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="tokki" column="tokki" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="yubinNo" column="yubinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="jusho" column="jusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="seibetsu" column="seibetsu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="seinengappiYMD" column="seinengappiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="age" column="age" />
        <result property="ninteichosaIraiKanryoYMD" column="ninteichosaIraiKanryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="ninteichosaKanryoYMD" column="ninteichosaKanryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="ikenshoSakuseiIraiKanryoYMD" column="ikenshoSakuseiIraiKanryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="ikenshoTorokuKanryoYMD" column="ikenshoTorokuKanryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="ichijiHanteiKanryoYMD" column="ichijiHanteiKanryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="maskingKanryoYMD" column="maskingKanryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="ninteiShinsaWariateKanryoYMD" column="ninteiShinsakaiWariateKanryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="ninteiShinsakaiKanryoYMD" column="ninteiShinsakaiKanryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="ninteichosaIraiYMD" column="ninteichosaIraiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="ninteichosaJuryoYMD" column="ninteichosaJuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="jigyoshaMeisho" column="jigyoshaMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="chosainShimei" column="chosainShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="ikenshoSakuseiIraiYMD" column="ikenshoSakuseiIraiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="ikenshoJuryoYMD" column="ikenshoJuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="iryoKikanMeisho" column="iryoKikanMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="shujiiName" column="shujiiName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="ichijiHanteiYMD" column="ichijiHanteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="ichijiHanteiKekkaCode" column="ichijiHanteiKekkaCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="shinsakaiKaisaiYoteiYMD" column="shinsakaiKaisaiYoteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="shinsakaiShiryoSakuseiYMD" column="shinsakaiShiryoSakuseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="shinsakaiKaisaiYMD" column="shinsakaiKaisaiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="shinsakaiKaisaiNo" column="shinsakaiKaisaiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="gogitaiNo" column="gogitaiNo" />
        <result property="gogitaiMei" column="gogitaiMei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="nijiHanYokaigoJotaiKubunCode" column="nijiHanteiYokaigoJotaiKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="shinseishoKanriNo" column="shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />

    </resultMap>

    <select resultOrdered="true" id="get申請者一覧内容"
            resultMap="resultMap_YokaigoNinteiShinchokuJohoShokaiRelateEntity"
            parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.yokaigoninteishinchokujohoshokai.YokaigoNinteiParamter" fetchSize="500">
        SELECT
        DbT7051."shichosonMeisho",
        DbT5101."hihokenshaNo",
        DbT5101."hihokenshaName",
        DbT5101."hihokenshaKubunCode",
        DbT5101."ninteiShinseiYMD",
        DbT5101."ninteiShinseiShinseijiKubunCode",
        DbT5105."ninteichosaIraiKanryoYMD",
        DbT5105."ninteichosaKanryoYMD",
        TB.tokki AS "tokki",
        DbT5105."ikenshoSakuseiIraiKanryoYMD",
        DbT5105."ikenshoTorokuKanryoYMD",
        DbT5105."ichijiHanteiKanryoYMD",
        DbT5105."maskingKanryoYMD",
        DbT5105."ninteiShinsakaiWariateKanryoYMD",
        DbT5105."ninteiShinsakaiKanryoYMD",
        DbT5201."ninteichosaIraiYMD",
        DbT4202."ninteichosaJuryoYMD",
        DbT5910."jigyoshaMeisho",
        DbT5913."chosainShimei",
        DbT5301."ikenshoSakuseiIraiYMD",
        DbT5302."ikenshoJuryoYMD",
        DbT5911."iryoKikanMeisho",
        DbT5912."shujiiName",
        DbT5116."ichijiHanteiYMD",
        DbT5116."ichijiHanteiKekkaCode",
        DbT5501."shinsakaiKaisaiYoteiYMD",
        DbT5501."shinsakaiShiryoSakuseiYMD",
        DbT5511."shinsakaiKaisaiYMD",
        DbT5511."shinsakaiKaisaiNo",
        DbT5511."gogitaiNo",
        DbT5591."gogitaiMei",
        DbT5102."nijiHanteiYokaigoJotaiKubunCode",
        DbT5101."yubinNo",
        DbT5101."jusho",
        DbT5101."seibetsu",
        DbT5101."seinengappiYMD",
        DbT5101."age",
        DbT5101."shinseishoKanriNo"
        FROM
        rgdb."DbT5101NinteiShinseiJoho" AS DbT5101
        LEFT JOIN rgdb."DbT5102NinteiKekkaJoho" AS DbT5102
        ON DbT5102."shinseishoKanriNo" = DbT5101."shinseishoKanriNo"
        LEFT JOIN rgdb."DbT5121ShinseiRirekiJoho" AS DbT5121
        ON DbT5121."zenkaiShinseishoKanriNo" = DbT5101."shinseishoKanriNo"
        LEFT JOIN rgdb."DbT5502ShinsakaiWariateJoho" AS DbT5502
        ON DbT5502."shinseishoKanriNo" = DbT5101."shinseishoKanriNo"
        AND (DbT5502."hanteiKekkaCode"='01' OR DbT5502."hanteiKekkaCode" IS NULL)
        LEFT JOIN rgdb."DbT5511ShinsakaiKaisaiKekkaJoho" AS DbT5511
        ON DbT5511."shinsakaiKaisaiNo" = DbT5502."shinsakaiKaisaiNo"
        LEFT JOIN rgdb."DbT5591GogitaiJoho" AS DbT5591
        ON DbT5511."gogitaiNo" = DbT5591."gogitaiNo"
        LEFT JOIN rgdb."DbT5501ShinsakaiKaisaiYoteiJoho" AS DbT5501
        ON DbT5501."shinsakaiKaisaiNo" = DbT5502."shinsakaiKaisaiNo"
        INNER JOIN rgdb."DbT7051KoseiShichosonMaster" AS DbT7051
        ON DbT7051."shoKisaiHokenshaNo" = DbT5101."shoKisaiHokenshaNo"
        LEFT JOIN rgdb."DbT5116IchijiHanteiKekkaJoho" AS DbT5116
        ON DbT5116."shinseishoKanriNo" = DbT5101."shinseishoKanriNo"
        INNER JOIN rgdb."DbT5105NinteiKanryoJoho" AS DbT5105
        ON DbT5105."shinseishoKanriNo" = DbT5101."shinseishoKanriNo"
        INNER JOIN rgdb."DbT5911ShujiiIryoKikanJoho" AS DbT5911
        ON DbT5911."shujiiIryokikanCode"=DbT5101."shujiiIryokikanCode"
        AND DbT5911."shichosonCode" = DbT7051."shichosonCode"
        INNER JOIN rgdb."DbT5912ShujiiJoho" AS DbT5912
        ON DbT5912."shujiiIryokikanCode" = DbT5101."shujiiIryokikanCode"
        AND DbT5912."shujiiCode" = DbT5101."shujiiCode"
        AND DbT5912."shichosonCode" = DbT7051."shichosonCode"
        INNER JOIN rgdb."DbT5910NinteichosaItakusakiJoho" AS DbT5910
        ON DbT5910."ninteichosaItakusakiCode" = DbT5101."ninteiChosaItakusakiCode"
        AND DbT5910."shichosonCode" = DbT7051."shichosonCode"
        INNER JOIN rgdb."DbT5913ChosainJoho" AS DbT5913
        ON DbT5913."ninteiChosaItakusakiCode" = DbT5101."ninteiChosaItakusakiCode"
        AND DbT5913."ninteiChosainCode" = DbT5101."ninteiChosainCode"
        AND DbT5913."shichosonCode" = DbT7051."shichosonCode"
        INNER JOIN rgdb."DbT5201NinteichosaIraiJoho" AS DbT5201
        ON DbT5201."shinseishoKanriNo" = DbT5101."shinseishoKanriNo"
        AND DbT5201."ninteichosaIraiRirekiNo" = (SELECT MAX("ninteichosaIraiRirekiNo") FROM rgdb."DbT5201NinteichosaIraiJoho" WHERE "shinseishoKanriNo" = DbT5101."shinseishoKanriNo")
        INNER JOIN rgdb."DbT5301ShujiiIkenshoIraiJoho" AS DbT5301
        ON DbT5301."shinseishoKanriNo" = DbT5101."shinseishoKanriNo"
        AND DbT5301."ikenshoIraiRirekiNo" = (SELECT MAX("ikenshoIraiRirekiNo") FROM rgdb."DbT5301ShujiiIkenshoIraiJoho" WHERE "shinseishoKanriNo" = DbT5101."shinseishoKanriNo")
        INNER JOIN rgdb."DbT5202NinteichosahyoGaikyoChosa" AS DbT4202
        ON DbT4202."shinseishoKanriNo" = DbT5101."shinseishoKanriNo"
        INNER JOIN rgdb."DbT5302ShujiiIkenshoJoho" AS DbT5302
        ON DbT5302."shinseishoKanriNo" = DbT5101."shinseishoKanriNo"
        AND DbT5302."ikenshoIraiRirekiNo" = DbT5301."ikenshoIraiRirekiNo"
        LEFT JOIN (
        SELECT DISTINCT "shinseishoKanriNo" ,
        '●' AS  tokki
        from rgdb."DbT5205NinteichosahyoTokkijiko"
        ) TB ON TB."shinseishoKanriNo" = DbT5101."shinseishoKanriNo"
        WHERE
        DbT5101."logicalDeletedFlag" = False
        AND DbT5101."shoriJotaiKubun"   IN (#{tuujou}, #{ennki})
        <if test="shichosonCodeFlag">
            AND DbT7051."shichosonCode" = #{shichosonCode}
        </if>
        <!-- TODO 董亜彬 支所情報の取得　QA：88 -->
        <if test="radKensakuHohoKey0">
            <if test="hihokenshaNoFlag">
                AND DbT5101."hihokenshaNo" = #{hihokenshaNo}
            </if>
            <if test="shikibetsuCodeFlag">
                AND DbT5101."shikibetsuCode" = #{shikibetsuCode}
            </if>
            <choose>
                <when test="searchesShimeiByKana">
                    <if test="matchTypekey1">
                        AND DbT5101."hihokenshaKana" LIKE #{shimei}||'%'
                    </if>
                    <if test="matchTypekey2">
                        AND DbT5101."hihokenshaKana" LIKE '%'||#{shimei}
                    </if>
                    <if test="matchTypekey3">
                        AND DbT5101."hihokenshaKana" = #{shimei}
                    </if>
                    <if test="matchTypekey4">
                        AND DbT5101."hihokenshaKana" LIKE '%'||#{shimei}||'%'
                    </if>
                </when>
                <otherwise>
                    <if test="matchTypekey1">
                        AND DbT5101."hihokenshaName" LIKE #{shimei}||'%'
                    </if>
                    <if test="matchTypekey2">
                        AND DbT5101."hihokenshaName" LIKE '%'||#{shimei}
                    </if>
                    <if test="matchTypekey3">
                        AND DbT5101."hihokenshaName" = #{shimei}
                    </if>
                    <if test="matchTypekey4">
                        AND DbT5101."hihokenshaName" LIKE '%'||#{shimei}||'%'
                    </if>
                </otherwise>
            </choose>
        </if>
        <if test="radKensakuHohoKey1">
            <if test="hizukeHaniKey0">
                AND DbT5101."ninteiShinseiYMD"
                BETWEEN #{shiteiHizukeForm}
                AND #{shiteiHizukeTo}
            </if>
            <if test="hizukeHaniKey1">
                AND DbT5201."ninteichosaIraiYMD"
                BETWEEN #{shiteiHizukeForm}
                AND #{shiteiHizukeTo}
            </if>
            <if test="hizukeHaniKey2">
                AND DbT5301."ikenshoSakuseiIraiYMD"
                BETWEEN #{shiteiHizukeForm}
                AND #{shiteiHizukeTo}
            </if>
            <if test="ninteiChosaIraiKey0">
                AND DbT5105."ninteichosaIraiKanryoYMD" IS NOT NULL
            </if>
            <if test="ninteiChosaIraiKey1">
                AND DbT5105."ninteichosaIraiKanryoYMD" IS NULL
            </if>
            <if test="ninteiChosaJisshiKey0">
                AND DbT5105."ninteichosaKanryoYMD" IS NOT NULL
            </if>
            <if test="ninteiChosaJisshiKey1">
                AND DbT5105."ninteichosaKanryoYMD" IS NULL
            </if>
            <if test="ninteiChosaTokkiKey0">
                AND TB."shinseishoKanriNo" IS NOT NULL
            </if>
            <if test="ninteiChosaTokkiKey1">
                AND TB."shinseishoKanriNo" IS NULL
            </if>
            <if test="shujiiIkenshoKey0">
                AND DbT5105."ikenshoSakuseiIraiKanryoYMD" IS NOT NULL
            </if>
            <if test="shujiiIkenshoKey1">
                AND DbT5105."ikenshoSakuseiIraiKanryoYMD" IS NULL
            </if>
            <if test="shujiiIkenshoJuryoKey0">
                AND DbT5105."ikenshoTorokuKanryoYMD" IS NOT NULL
            </if>
            <if test="shujiiIkenshoJuryoKey1">
                AND DbT5105."ikenshoTorokuKanryoYMD" IS NULL
            </if>
            <if test="ichijiHanteiKanryoKey0">
                AND DbT5105."ichijiHanteiKanryoYMD" IS NOT NULL
            </if>
            <if test="ichijiHanteiKanryoKey1">
                AND DbT5105."ichijiHanteiKanryoYMD" IS NULL
            </if>
            <if test="maskingKanryoKey0">
                AND DbT5105."maskingKanryoYMD" IS NOT NULL
            </if>
            <if test="maskingKanryoKey1">
                AND DbT5105."maskingKanryoYMD" IS NULL
            </if>
            <if test="shinsakaiWaritsukeKey0">
                AND DbT5105."ninteiShinsakaiWariateKanryoYMD" IS NOT NULL
            </if>
            <if test="shinsakaiWaritsukeKey1">
                AND DbT5105."ninteiShinsakaiWariateKanryoYMD" IS NULL
            </if>
            <if test="shinsakaiJisshiKey0">
                AND DbT5105."ninteiShinsakaiKanryoYMD" IS NOT NULL
            </if>
            <if test="shinsakaiJisshiKey1">
                AND DbT5105."ninteiShinsakaiKanryoYMD" IS NULL
            </if>
        </if>
        <if test="kensakuOptionKey0">
            AND DbT5102."shinseishoKanriNo" IS NULL
        </if>
        <if test="kensakuOptionKey1">
            AND DbT5121."shinseishoKanriNo" IS NULL
        </if>
        <if test="kensakuOptionKey2">
            AND DbT5101."torisageKubunCode" = #{torisageKubunCode}
        </if>
        AND DbT5591."gogitaiYukoKikanKaishiYMD" &lt;= DbT5511."shinsakaiKaisaiYMD"
        AND DbT5511."shinsakaiKaisaiYMD" &lt;= DbT5591."gogitaiYukoKikanShuryoYMD"
        ORDER BY
        DbT7051."shichosonMeisho",
        DbT5101."hihokenshaNo",
        DbT5101."ninteiShinseiYMD"
        <if test="maximumDisplayNumberFlag">
            limit #{maximumDisplayNumber}
        </if>
    </select>

</mapper>
