<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBD-5810-030 mawy -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.relate.hikazenenkintaishoshadoutei.IJissekiDataIchijiSakuseiMapper">
    <resultMap id="resultMap_JissekiDataIchijiSakuseiJohoEntity" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.dbd8100202.JissekiDataIchijiSakuseiJohoEntity" autoMapping="true">
        <result property="被保険者台帳管理NewestEntity.hihokenshaNo" column="被保険者台帳管理_被保険者番号" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.idoYMD" column="被保険者台帳管理_異動日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.edaNo" column="被保険者台帳管理_枝番" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.idoJiyuCode" column="被保険者台帳管理_異動事由コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.shichosonCode" column="被保険者台帳管理_市町村コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.shikibetsuCode" column="被保険者台帳管理_識別コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.shikakuShutokuJiyuCode" column="被保険者台帳管理_資格取得事由コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.shikakuShutokuYMD" column="被保険者台帳管理_資格取得年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.shikakuShutokuTodokedeYMD" column="被保険者台帳管理_資格取得届出年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.ichigoShikakuShutokuYMD" column="被保険者台帳管理_第1号資格取得年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.hihokennshaKubunCode" column="被保険者台帳管理_被保険者区分コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.shikakuSoshitsuJiyuCode" column="被保険者台帳管理_資格喪失事由コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.shikakuSoshitsuYMD" column="被保険者台帳管理_資格喪失年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.shikakuSoshitsuTodokedeYMD" column="被保険者台帳管理_資格喪失届出年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.shikakuHenkoJiyuCode" column="被保険者台帳管理_資格変更事由コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.shikakuHenkoYMD" column="被保険者台帳管理_資格変更年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.shikakuHenkoTodokedeYMD" column="被保険者台帳管理_資格変更届出年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.jushochitokureiTekiyoJiyuCode" column="被保険者台帳管理_住所地特例適用事由コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.jushochitokureiTekiyoYMD" column="被保険者台帳管理_適用年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.jushochitokureiTekiyoTodokedeYMD" column="被保険者台帳管理_適用届出年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.jushochitokureiKaijoJiyuCode" column="被保険者台帳管理_住所地特例解除事由コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.jushochitokureiKaijoYMD" column="被保険者台帳管理_解除年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.jushochitokureiKaijoTodokedeYMD" column="被保険者台帳管理_解除届出年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.jushochiTokureiFlag" column="被保険者台帳管理_住所地特例フラグ" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.koikinaiJushochiTokureiFlag" column="被保険者台帳管理_広域内住所地特例フラグ" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.koikinaiTokureiSochimotoShichosonCode" column="被保険者台帳管理_広住特措置元市町村コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.kyuShichosonCode" column="被保険者台帳管理_旧市町村コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <result property="被保険者台帳管理NewestEntity.logicalDeletedFlag" column="被保険者台帳管理_論理削除フラグ" />
        <result property="非課税年金対象者Entity.insertDantaiCd" column="団体市町村コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.insertTimestamp" column="行挿入日時" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="非課税年金対象者Entity.insertReamsLoginId" column="行挿入ログインid" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.insertContextId" column="接続コンテキスト" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="非課税年金対象者Entity.isDeleted" column="論理削除行" />
        <result property="非課税年金対象者Entity.updateCount" column="回数" />
        <result property="非課税年金対象者Entity.lastUpdateTimestamp" column="最終更新日時" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="非課税年金対象者Entity.lastUpdateReamsLoginId" column="最終ログインid" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.nendo" column="年度" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <result property="非課税年金対象者Entity.shorikubun" column="処理区分" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.taishom" column="対象月" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.kisonenkinno" column="基礎年金番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.genkisonenkinno" column="現基礎年金番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.nenkincode" column="年金コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.hihokenshano" column="被保険者番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.torokukubun" column="登録区分" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtrecordkubun" column="DTレコード区分" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtcitycode" column="DT市町村コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtnenkinhokenshacode" column="DT年金保険者コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dttsuchinaiyocode" column="DT通知内容コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtyobi1" column="DT予備１" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtseidocode" column="DT制度コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtsakuseiymd" column="DT作成年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtkisonenkinno" column="DT基礎年金番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtnenkincode" column="DT年金コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtyobi2" column="DT予備２" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtbirthday" column="DT生年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtseibetsu" column="DT性別" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtkanashimei" column="DTカナ氏名" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtshiftcode1" column="DTシフトコード１" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtkanjishimei" column="DT漢字氏名" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtshiftcode2" column="DTシフトコード２" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtyubinno" column="DT郵便番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtkanajusho" column="DTカナ住所" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtshiftcode3" column="DTシフトコード３" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtkanjijusho" column="DT漢字住所" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtshiftcode4" column="DTシフトコード４" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dttaishoy" column="DT対象年" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtteiseihyoji" column="DT訂正表示" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtkakushukubun" column="DT各種区分" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtshorikekka" column="DT処理結果" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtyobi3" column="DT予備３" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtyobi4" column="DT予備４" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtkingaku1" column="DT金額１" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtkingakuyobi1" column="DT金額予備１" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtkingakuyobi2" column="DT金額予備２" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtyobi5" column="DT予備５" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="非課税年金対象者Entity.dtkyosainenkinshoshokigono" column="DT共済年金証書記号番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <association property="psmEntity" resultMap="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.UaFt200FindShikibetsuTaishoEntity"/>
    </resultMap>

    <select resultOrdered="true" id="select実績データ一作成"
            resultMap="resultMap_JissekiDataIchijiSakuseiJohoEntity"
            fetchSize="500">
        WITH master AS(
        SELECT
        被保険者台帳."hihokenshaNo"AS 被保険者台帳管理_被保険者番号,
        被保険者台帳."idoYMD"AS 被保険者台帳管理_異動日,
        被保険者台帳."edaNo"AS 被保険者台帳管理_枝番,
        被保険者台帳."idoJiyuCode"AS 被保険者台帳管理_異動事由コード,
        被保険者台帳."shichosonCode"AS 被保険者台帳管理_市町村コード,
        被保険者台帳."shikibetsuCode"AS 被保険者台帳管理_識別コード,
        被保険者台帳."shikakuShutokuJiyuCode"AS 被保険者台帳管理_資格取得事由コード,
        被保険者台帳."shikakuShutokuYMD"AS 被保険者台帳管理_資格取得年月日,
        被保険者台帳."shikakuShutokuTodokedeYMD"AS 被保険者台帳管理_資格取得届出年月日,
        被保険者台帳."ichigoShikakuShutokuYMD"AS 被保険者台帳管理_第1号資格取得年月日,
        被保険者台帳."hihokennshaKubunCode"AS 被保険者台帳管理_被保険者区分コード,
        被保険者台帳."shikakuSoshitsuJiyuCode"AS 被保険者台帳管理_資格喪失事由コード,
        被保険者台帳."shikakuSoshitsuYMD"AS 被保険者台帳管理_資格喪失年月日,
        被保険者台帳."shikakuSoshitsuTodokedeYMD"AS 被保険者台帳管理_資格喪失届出年月日,
        被保険者台帳."shikakuHenkoJiyuCode"AS 被保険者台帳管理_資格変更事由コード,
        被保険者台帳."shikakuHenkoYMD"AS 被保険者台帳管理_資格変更年月日,
        被保険者台帳."shikakuHenkoTodokedeYMD"AS 被保険者台帳管理_資格変更届出年月日,
        被保険者台帳."jushochitokureiTekiyoJiyuCode"AS 被保険者台帳管理_住所地特例適用事由コード,
        被保険者台帳."jushochitokureiTekiyoYMD"AS 被保険者台帳管理_適用年月日,
        被保険者台帳."jushochitokureiTekiyoTodokedeYMD"AS 被保険者台帳管理_適用届出年月日,
        被保険者台帳."jushochitokureiKaijoJiyuCode"AS 被保険者台帳管理_住所地特例解除事由コード,
        被保険者台帳."jushochitokureiKaijoYMD"AS 被保険者台帳管理_解除年月日,
        被保険者台帳."jushochitokureiKaijoTodokedeYMD"AS 被保険者台帳管理_解除届出年月日,
        被保険者台帳."jushochiTokureiFlag"AS 被保険者台帳管理_住所地特例フラグ,
        被保険者台帳."koikinaiJushochiTokureiFlag"AS 被保険者台帳管理_広域内住所地特例フラグ,
        被保険者台帳."koikinaiTokureiSochimotoShichosonCode"AS 被保険者台帳管理_広住特措置元市町村コード,
        被保険者台帳."kyuShichosonCode"AS 被保険者台帳管理_旧市町村コード,
        被保険者台帳."logicalDeletedFlag"AS 被保険者台帳管理_論理削除フラグ,
        非課税年金情報."insertDantaiCd"AS 団体市町村コード,
        非課税年金情報."insertTimestamp"AS 行挿入日時,
        非課税年金情報."insertReamsLoginId"AS 行挿入ログインid,
        非課税年金情報."insertContextId"AS 接続コンテキスト,
        非課税年金情報."isDeleted"AS 論理削除行,
        非課税年金情報."updateCount"AS 回数,
        非課税年金情報."lastUpdateTimestamp"AS 最終更新日時,
        非課税年金情報."lastUpdateReamsLoginId"AS 最終ログインid,
        非課税年金情報."nendo"AS 年度,
        非課税年金情報."shorikubun"AS 処理区分,
        非課税年金情報."taishom"AS 対象月,
        非課税年金情報."kisonenkinno"AS 基礎年金番号,
        非課税年金情報."genkisonenkinno"AS 現基礎年金番号,
        非課税年金情報."nenkincode"AS 年金コード,
        非課税年金情報."hihokenshano"AS 被保険者番号,
        非課税年金情報."torokukubun"AS 登録区分,
        非課税年金情報."dtrecordkubun"AS DTレコード区分,
        非課税年金情報."dtcitycode"AS DT市町村コード,
        非課税年金情報."dtnenkinhokenshacode"AS DT年金保険者コード,
        非課税年金情報."dttsuchinaiyocode"AS DT通知内容コード,
        非課税年金情報."dtyobi1"AS DT予備１,
        非課税年金情報."dtseidocode"AS DT制度コード,
        非課税年金情報."dtsakuseiymd"AS DT作成年月日,
        非課税年金情報."dtkisonenkinno"AS DT基礎年金番号,
        非課税年金情報."dtnenkincode"AS DT年金コード,
        非課税年金情報."dtyobi2"AS DT予備２,
        非課税年金情報."dtbirthday"AS DT生年月日,
        非課税年金情報."dtseibetsu"AS DT性別,
        非課税年金情報."dtkanashimei"AS DTカナ氏名,
        非課税年金情報."dtshiftcode1"AS DTシフトコード１,
        非課税年金情報."dtkanjishimei"AS DT漢字氏名,
        非課税年金情報."dtshiftcode2"AS DTシフトコード２,
        非課税年金情報."dtyubinno"AS DT郵便番号,
        非課税年金情報."dtkanajusho"AS DTカナ住所,
        非課税年金情報."dtshiftcode3"AS DTシフトコード３,
        非課税年金情報."dtkanjijusho"AS DT漢字住所,
        非課税年金情報."dtshiftcode4"AS DTシフトコード４,
        非課税年金情報."dttaishoy"AS DT対象年,
        非課税年金情報."dtteiseihyoji"AS DT訂正表示,
        非課税年金情報."dtkakushukubun"AS DT各種区分,
        非課税年金情報."dtshorikekka"AS DT処理結果,
        非課税年金情報."dtyobi3"AS DT予備３,
        非課税年金情報."dtyobi4"AS DT予備４,
        非課税年金情報."dtkingaku1"AS DT金額１,
        非課税年金情報."dtkingakuyobi1"AS DT金額予備１,
        非課税年金情報."dtkingakuyobi2"AS DT金額予備２,
        非課税年金情報."dtyobi5"AS DT予備５,
        非課税年金情報."dtkyosainenkinshoshokigono"AS DT共済年金証書記号番号
        FROM
        rgdb."DbV1001HihokenshaDaicho" AS 被保険者台帳
        LEFT JOIN
        (SELECT
        *
        FROM (
        SELECT
        非課税年金対象者.*
        ,row_number() OVER (
        PARTITION BY(
        "dtnenkinhokenshacode",
        SUBSTRING("dtnenkincode",1,3),
        "dtkisonenkinno")
        ORDER BY
        "dttaishoy" DESC, "dtsakuseiymd" DESC, "dtnenkincode" DESC
        ) AS 履歴番号
        FROM
        rgdb."DbT4037HikazeNenkinTaishosha" AS 非課税年金対象者
        WHERE
        "hihokenshano" != ''
        ) AS 最大履歴
        WHERE
        最大履歴.履歴番号 = 1
        ) AS 非課税年金情報
        ON 被保険者台帳."hihokenshaNo" = 非課税年金情報."hihokenshano"
        )
        SELECT
        master.*,
        <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.columns_ShikibetsuTaisho" />
        FROM master
        LEFT OUTER JOIN
        <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.multi.IUaFt200FindShikibetsuTaishoFunctionMultiParameterMapper.tableName_PsmParamClassWithoutShikibetsuCodeList_First" />
        (
        SELECT ARRAY_AGG(CAST ("被保険者台帳管理_識別コード" AS TEXT))
        FROM master
        )
        <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.multi.IUaFt200FindShikibetsuTaishoFunctionMultiParameterMapper.tableName_PsmParamClassWithoutShikibetsuCodeList_Second" />
        AS "ShikibetsuTaisho"
        ON 被保険者台帳管理_識別コード = "ShikibetsuTaisho"."shikibetsuCode"
    </select>
</mapper>