<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： 介護期別のマッピング用XMLです。 -->
<!-- @reamsid_L DBB-9999-013 huangh -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.relate.gemmen.IKibetsuMapper">

    <select resultOrdered="true" id="select介護期別ByKey" resultMap="resultMap_KibetsuEntity" fetchSize="500">
        <include refid="selectKibetsuEntity" />
    </select>

    <sql id="selectKibetsuEntity">
        SELECT
        DbT2003Kibetsu.*,
        UrT0705ChoteiKyotsu.*
        FROM
        (<include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2003KibetsuMapper.noDeleted_DbT2003Kibetsu" />) AS DbT2003Kibetsu
        LEFT JOIN
        (
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IUrT0705ChoteiKyotsuMapper.allColumns_UrT0705ChoteiKyotsu" />
        FROM
        rgdb."UrT0705ChoteiKyotsu"
        ) AS UrT0705ChoteiKyotsu
        ON
        DbT2003Kibetsu."dbT2003Kibetsu_choteiId" = UrT0705ChoteiKyotsu."urT0705ChoteiKyotsu_choteiId"
        <where>
            <if test="uses調定ID">
                AND DbT2003Kibetsu."dbT2003Kibetsu_choteiId" = #{調定ID}
            </if>
        </where>
    </sql>

    <resultMap id="resultMap_KibetsuEntity" type="jp.co.ndensan.reams.db.dbb.entity.db.relate.gemmen.KibetsuEntity" autoMapping="true">
        <result property="介護期別Entity.choteiId" column="dbT2003Kibetsu_choteiId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <association property="介護期別Entity" resultMap="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2003KibetsuMapper.ResultMap_DbT2003KibetsuEntity"/>
        <collection property="調定共通EntityList" resultMap="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IUrT0705ChoteiKyotsuMapper.ResultMap_UrT0705ChoteiKyotsuEntity"/>
    </resultMap>

</mapper>