<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： 予防給付計画自己作成明細のマッピング用XMLです。 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.kyotakukeika.yobokeikakujikosakuseimeisai.IYoboKeikakuJikoSakuseiMeisaiMapper">

<!--    <select id="select予防給付計画自己作成明細ByKey" resultMap="resultMap_YoboKeikakuJikoSakuseiMeisaiEntity" fetchSize="500">
        <include refid="selectYoboKeikakuJikoSakuseiMeisaiEntity" />
    </select>

    <sql id="selectYoboKeikakuJikoSakuseiMeisaiEntity">
        SELECT
        FdT1301SeishinTecho.*,
        FdT1309SeishinTechoNini.*
        FROM
        (<include refid="jp.co.ndensan.reams.fd.fdz.persistence.db.mapper.basic.fda.IFdT1301SeishinTechoMapper.selectFdT1301SeishinTechoNotDeleted" />) AS FdT1301SeishinTecho
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.fd.fdz.persistence.db.mapper.basic.fda.IFdT1309SeishinTechoNiniMapper.selectFdT1309SeishinTechoNiniNotDeleted" />) AS FdT1309SeishinTechoNini
        ON
        FdT1301SeishinTecho."fdT1301SeishinTecho_shikibetsuCode" = FdT1309SeishinTechoNini."fdT1309SeishinTechoNini_shikibetsuCode" and
        FdT1301SeishinTecho."fdT1301SeishinTecho_seishinTechoTimestamp" = FdT1309SeishinTechoNini."fdT1309SeishinTechoNini_seishinTechoTimestamp"
        <where>
            <if test="uses識別コード != null">
                AND FdT1301SeishinTecho."fdT1301SeishinTecho_shikibetsuCode" = #{識別コード}
            </if>
            <if test="uses精神手帳履歴日時 != null">
                and FdT1301SeishinTecho."fdT1301SeishinTecho_seishinTechoTimestamp" = #{精神手帳履歴日時}
            </if>
        </where>
    </sql>

    <resultMap id="resultMap_YoboKeikakuJikoSakuseiMeisaiEntity" type="jp.co.ndensan.reams.db.dbc.entity.db.relate.kyotakukeika\yobokeikakujikosakuseimeisai.YoboKeikakuJikoSakuseiMeisaiEntity" autoMapping="true">
        <id property="手帳情報Entity.shikibetsuCode" column="fdT1301SeishinTecho_shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <id property="手帳情報Entity.seishinTechoTimestamp" column="fdT1301SeishinTecho_seishinTechoTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <association property="手帳情報Entity" resultMap="jp.co.ndensan.reams.fd.fdz.persistence.db.mapper.basic.fda.IFdT1301SeishinTechoMapper.resultMap_FdT1301SeishinTechoEntity"/>
        <collection property="任意項目情報Entity" resultMap="jp.co.ndensan.reams.fd.fdz.persistence.db.mapper.basic.fda.IFdT1309SeishinTechoNiniMapper.resultMap_FdT1309SeishinTechoNiniEntity"/>
    </resultMap>-->

</mapper>
