<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： 介護認定審査会開催予定情報のマッピング用XMLです。 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<!-- @reamsid_L DBE-0130-040 yaodongsheng -->
<mapper namespace="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.relate.shinsakaikaisaiyoteijoho.IShinsakaiKaisaiYoteiJohoMapper">

    <select resultOrdered="true" id="getShinsakaiKaisaiYoteiJohoEntity"
            resultMap="resultMap_ShinsakaiKaisaiYoteiJohoEntity"
            parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.shinsakaikaisaiyoteijoho.ShinsakaiKaisaiYoteiJohoMapperParameter" fetchSize="500">
        SELECT
        dbT5501ShinsakaiKaisaiYoteiJoho.*,
        dbT5512ShinsakaiOnseiJoho.*,
        dbT5511ShinsakaiKaisaiKekkaJoho.*,
        dbT5502ShinsakaiWariateJoho.*,
        dbT5503ShinsakaiWariateIinJoho.*,
        dbT5101NinteiShinseiJoho.*,
        dbT5594ShinsakaiIinJoho.*
        FROM
        (
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT5501ShinsakaiKaisaiYoteiJohoMapper.allColumns_DbT5501ShinsakaiKaisaiYoteiJoho"/>
        FROM
        rgdb."DbT5501ShinsakaiKaisaiYoteiJoho"
        WHERE
        "shinsakaiKaisaiNo"=#{shinsakaiKaisaiNo}
        ) AS dbT5501ShinsakaiKaisaiYoteiJoho
        LEFT JOIN
        (
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT5512ShinsakaiOnseiJohoMapper.allColumns_DbT5512ShinsakaiOnseiJoho"/>
        FROM
        rgdb."DbT5512ShinsakaiOnseiJoho"
        ) AS dbT5512ShinsakaiOnseiJoho
        ON
        dbT5501ShinsakaiKaisaiYoteiJoho."dbT5501ShinsakaiKaisaiYoteiJoho_shinsakaiKaisaiNo" = dbT5512ShinsakaiOnseiJoho."dbT5512ShinsakaiOnseiJoho_shinsakaiKaisaiNo"
        LEFT JOIN
        (
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5511ShinsakaiKaisaiKekkaJohoMapper.allColumns_DbT5511ShinsakaiKaisaiKekkaJoho" />
        FROM
        rgdb."DbT5511ShinsakaiKaisaiKekkaJoho"
        ) AS  dbT5511ShinsakaiKaisaiKekkaJoho
        ON
        dbT5501ShinsakaiKaisaiYoteiJoho."dbT5501ShinsakaiKaisaiYoteiJoho_shinsakaiKaisaiNo" = dbT5511ShinsakaiKaisaiKekkaJoho."dbT5511ShinsakaiKaisaiKekkaJoho_shinsakaiKaisaiNo"
        LEFT JOIN
        (
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5502ShinsakaiWariateJohoMapper.allColumns_DbT5502ShinsakaiWariateJoho" />
        FROM
        rgdb."DbT5502ShinsakaiWariateJoho"
        ) AS dbT5502ShinsakaiWariateJoho
        ON
        dbT5501ShinsakaiKaisaiYoteiJoho."dbT5501ShinsakaiKaisaiYoteiJoho_shinsakaiKaisaiNo" = dbT5502ShinsakaiWariateJoho."dbT5502ShinsakaiWariateJoho_shinsakaiKaisaiNo"
        LEFT JOIN
        (
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5503ShinsakaiWariateIinJohoMapper.allColumns_DbT5503ShinsakaiWariateIinJoho"/>
        FROM
        rgdb."DbT5503ShinsakaiWariateIinJoho"
        ) AS dbT5503ShinsakaiWariateIinJoho
        ON
        dbT5501ShinsakaiKaisaiYoteiJoho."dbT5501ShinsakaiKaisaiYoteiJoho_shinsakaiKaisaiNo" = dbT5503ShinsakaiWariateIinJoho."dbT5503ShinsakaiWariateIinJoho_shinsakaiKaisaiNo"
        LEFT OUTER JOIN
        (
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5101NinteiShinseiJohoMapper.allColumns_DbT5101NinteiShinseiJoho"/>
        FROM
        rgdb."DbT5101NinteiShinseiJoho"
        ) AS  dbT5101NinteiShinseiJoho
        ON
        dbT5502ShinsakaiWariateJoho."dbT5502ShinsakaiWariateJoho_shinseishoKanriNo" = dbT5101NinteiShinseiJoho."dbT5101NinteiShinseiJoho_shinseishoKanriNo"
        LEFT JOIN
        (
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5594ShinsakaiIinJohoMapper.allColumns_DbT5594ShinsakaiIinJoho"/>
        FROM
        rgdb."DbT5594ShinsakaiIinJoho"
        ) AS dbT5594ShinsakaiIinJoho
        ON
        dbT5503ShinsakaiWariateIinJoho."dbT5503ShinsakaiWariateIinJoho_shinsakaiIinCode" = dbT5594ShinsakaiIinJoho."dbT5594ShinsakaiIinJoho_shinsakaiIinCode"
        ;
    </select>
<!--    <select resultOrdered="true" id="getShinsakaiKaisaiYoteiJohoEntity"
            resultMap="resultMap_ShinsakaiKaisaiYoteiJohoEntity"
            parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.shinsakaikaisaiyoteijoho.ShinsakaiKaisaiYoteiJohoMapperParameter" fetchSize="500">

        SELECT
        DbT5503ShinsakaiWariateIinJoho."shinsakaiIinCode"
        ,DbT5594ShinsakaiIinJoho."shinsakaiIinShimei"
        ,DbT5594ShinsakaiIinJoho."seibetsu"
        ,DbT5594ShinsakaiIinJoho."shinsakaiIinShikakuCode"
        ,DbT5593GogitaiWariateIinJoho."gogitaichoKubunCode"
        ,DbT5503ShinsakaiWariateIinJoho."kaigoninteiShinsakaiGichoKubunCode"
        ,DbT5503ShinsakaiWariateIinJoho."shussekiFlag"
        ,DbT5503ShinsakaiWariateIinJoho."existChikokuFlag"
        ,DbT5503ShinsakaiWariateIinJoho."shussekiTime"
        ,DbT5503ShinsakaiWariateIinJoho."existSotaiFlag"
        ,DbT5503ShinsakaiWariateIinJoho."taisekiTime"
        FROM
        rgdb."DbT5503ShinsakaiWariateIinJoho"  DbT5503ShinsakaiWariateIinJoho
        INNER JOIN rgdb."DbT5501ShinsakaiKaisaiYoteiJoho" DbT5501ShinsakaiKaisaiYoteiJoho
        ON DbT5501ShinsakaiKaisaiYoteiJoho."shinsakaiKaisaiNo" = DbT5503ShinsakaiWariateIinJoho."shinsakaiKaisaiNo"
        INNER JOIN rgdb."DbT5594ShinsakaiIinJoho"  DbT5594ShinsakaiIinJoho
        ON DbT5594ShinsakaiIinJoho."shinsakaiIinCode" = DbT5503ShinsakaiWariateIinJoho."shinsakaiIinCode"
        INNER JOIN rgdb."DbT5593GogitaiWariateIinJoho" DbT5593GogitaiWariateIinJoho
        ON DbT5593GogitaiWariateIinJoho."shinsakaiIinCode" = DbT5503ShinsakaiWariateIinJoho."shinsakaiIinCode"
        AND DbT5593GogitaiWariateIinJoho."gogitaiNo" = DbT5501ShinsakaiKaisaiYoteiJoho."gogitaiNo"
        WHERE
        DbT5501ShinsakaiKaisaiYoteiJoho."shinsakaiKaisaiNo" ='1'
        ORDER BY DbT5593GogitaiWariateIinJoho."gogitaichoKubunCode" asc, DbT5503ShinsakaiWariateIinJoho."shinsakaiIinCode" desc;

    </select>-->
    <!--    <select resultOrdered="true" id="getShinsakaiKaisaiYoteiJohoEntity"
            resultMap="resultMap_ShinsakaiKaisaiYoteiJohoEntity"
            parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.shinsakaikaisaiyoteijoho.ShinsakaiKaisaiYoteiJohoMapperParameter" fetchSize="500">
        SELECT
        "第" + DbT5501ShinsakaiKaisaiYoteiJoho."shinsakaiKaisaiNo" + "回審査会" AS 審査会名称
        ,DbT5591GogitaiJoho."gogitaiNo"
        ,DbT5591GogitaiJoho."gogitaiMei"
        ,DbT5501ShinsakaiKaisaiYoteiJoho."shinsakaiWariateZumiNinzu"AS shinsakaiWariateZumiNinzu
        ,DbT5511ShinsakaiKaisaiKekkaJoho."shinsakaiJisshiNinzu" AS shinsakaiJisshiNinzu
        ,DbT5592ShinsakaiKaisaiBashoJoho."shinsakaiKaisaiBashoName"
        ,DbT5501ShinsakaiKaisaiYoteiJoho."shinsakaiKaisaiYoteiYMD"
        ,DbT5501ShinsakaiKaisaiYoteiJoho."shinsakaiKaishiYoteiTime"
        ,DbT5501ShinsakaiKaisaiYoteiJoho."shinsakaiShuryoYoteiTime"
        ,DbT5511ShinsakaiKaisaiKekkaJoho."shinsakaiKaisaiYMD"
        ,DbT5511ShinsakaiKaisaiKekkaJoho."shinsakaiKaishiTime" AS shinsakaiKaishiTime
        ,DbT5511ShinsakaiKaisaiKekkaJoho."shinsakaiShuryoTime" AS shinsakaiShuryoTime
        ,DbT5511ShinsakaiKaisaiKekkaJoho."shoyoJikanGokei" AS shoyoJikanGokei
        ,DbT5511ShinsakaiKaisaiKekkaJoho."shinsakaiKaisaiBashoCode" AS shinsakaiKaisaiBasho
        FROM
        rgdb."DbT5501ShinsakaiKaisaiYoteiJoho"  DbT5501ShinsakaiKaisaiYoteiJoho
        LEFT JOIN  rgdb."DbT5511ShinsakaiKaisaiKekkaJoho" DbT5511ShinsakaiKaisaiKekkaJoho
        ON DbT5511ShinsakaiKaisaiKekkaJoho."shinsakaiKaisaiNo" = DbT5501ShinsakaiKaisaiYoteiJoho."shinsakaiKaisaiNo"
        LEFT JOIN rgdb."DbT5591GogitaiJoho" DbT5591GogitaiJoho
        ON DbT5591GogitaiJoho."gogitaiNo" = DbT5501ShinsakaiKaisaiYoteiJoho."gogitaiNo"
        LEFT JOIN rgdb."DbT5592ShinsakaiKaisaiBashoJoho" DbT5592ShinsakaiKaisaiBashoJoho
        ON DbT5592ShinsakaiKaisaiBashoJoho."shinsakaiKaisaiBashoCode" = DbT5501ShinsakaiKaisaiYoteiJoho."shinsakaiKaisaiYoteiBashoCode"
        WHERE
        DbT5501ShinsakaiKaisaiYoteiJoho."shinsakaiKaisaiNo" = 遷移元.開催番号
    </select>-->
    <resultMap id="resultMap_ShinsakaiKaisaiYoteiJohoEntity" type="jp.co.ndensan.reams.db.dbe.entity.db.relate.shinsakai.shinsakaikaisaiyoteijoho.ShinsakaiKaisaiYoteiJohoRelateEntity" autoMapping="true">
        <id  column="dbT5501ShinsakaiKaisaiYoteiJoho_shinsakaiKaisaiNo"/>
        <association property="介護認定審査会開催予定情報Entity" resultMap="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT5501ShinsakaiKaisaiYoteiJohoMapper.ResultMap_DbT5501ShinsakaiKaisaiYoteiJohoEntity"/>
        <collection property="介護認定審査会音声情報Entity" resultMap="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT5512ShinsakaiOnseiJohoMapper.ResultMap_DbT5512ShinsakaiOnseiJohoEntity" />
        <collection property="介護認定審査会開催結果情報Entity" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5511ShinsakaiKaisaiKekkaJohoMapper.ResultMap_DbT5511ShinsakaiKaisaiKekkaJohoEntity" />
        <collection property="介護認定審査会割当情報RelateEntity" resultMap="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.relate.shinsakaiwariatejoho.IShinsakaiWariateJohoMapper.resultMap_ShinsakaiWariateJohoEntity"/>
        <collection property="介護認定審査会割当委員情報RelateEntity" resultMap="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.relate.shinsakaiwariateiinjoho.IShinsakaiWariateIinJohoMapper.resultMap_ShinsakaiWariateIinJohoEntity"/>
    </resultMap>
    <resultMap id="resultMap_ShinsakaiKaisaiYoteiJohoSyutoku" type="jp.co.ndensan.reams.db.dbe.entity.db.relate.shinsakaikaisaikekka.ShinsakaiKaisaiYoteiJohoEntity" autoMapping="true">
        <result property="審査会名称" column="shinsakaiKaisaiMei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="合議体番号" column="gogitaiNo"/>
        <result property="開催予定日" column="shinsakaiKaisaiYoteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="予定開始時間" column="shinsakaiKaishiYoteiTime" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="予定終了時間" column="shinsakaiShuryoYoteiTime" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="開催番号" column="shinsakaiKaisaiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="介護認定審査会進捗状況" column="ShinsakaiShinchokuJokyo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
    <select resultOrdered="true" id="search審査会開催予定情報Of指定月"
            resultMap="resultMap_ShinsakaiKaisaiYoteiJohoSyutoku"
            parameterType="jp.co.ndensan.reams.uz.uza.lang.RString" fetchSize="500">
        SELECT
        '第' || "shinsakaiKaisaiNo" || '回　合' || "gogitaiNo" AS "shinsakaiKaisaiMei"
        ,"shinsakaiKaisaiNo" AS "shinsakaiKaisaiNo"
        ,"shinsakaiKaisaiYoteiYMD"  AS "shinsakaiKaisaiYoteiYMD"
        ,"shinsakaiKaishiYoteiTime" AS "shinsakaiKaishiYoteiTime"
        ,"shinsakaiShuryoYoteiTime"  AS "shinsakaiShuryoYoteiTime"
        ,"ShinsakaiShinchokuJokyo" AS "ShinsakaiShinchokuJokyo"
        ,"gogitaiNo" AS "gogitaiNo"
        FROM
        rgdb."DbT5501ShinsakaiKaisaiYoteiJoho"
        WHERE
        SUBSTRING("shinsakaiKaisaiYoteiYMD", 1, 6) = TRIM(#{表示年月})
        ORDER BY
        "shinsakaiKaisaiYoteiYMD",
        "shinsakaiKaishiYoteiTime",
        "shinsakaiShuryoYoteiTime"
    </select>

    <select resultOrdered="true" id="search審査会開催予定情報Of指定日"
            resultMap="resultMap_ShinsakaiKaisaiYoteiJohoSyutoku"
            parameterType="jp.co.ndensan.reams.uz.uza.lang.RString" fetchSize="500">
        SELECT
        "shinsakaiKaisaiNo" AS "shinsakaiKaisaiNo"
        ,"shinsakaiKaishiYoteiTime" AS "shinsakaiKaishiYoteiTime"
        ,"shinsakaiShuryoYoteiTime"  AS "shinsakaiShuryoYoteiTime"
        ,"ShinsakaiShinchokuJokyo" AS "ShinsakaiShinchokuJokyo"
        ,"gogitaiNo" AS "gogitaiNo"
        FROM
        rgdb."DbT5501ShinsakaiKaisaiYoteiJoho"
        WHERE
        "shinsakaiKaisaiYoteiYMD" = TRIM(#{設定日})
    </select>
    <resultMap id="resultMap_GogitaiJoho" type="jp.co.ndensan.reams.db.dbe.entity.db.relate.gogitaijohoshinsakai.GogitaiJohoShinsaRelateEntity" autoMapping="true">
        <result property="介護認定審査会開催場所コード" column="shinsakaiKaisaiBashoCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="介護認定審査会予定定員" column="shinsakaiYoteiTeiin"/>
        <result property="介護認定審査会自動割当定員" column="shinsakaiJidoWariateTeiin"/>
        <result property="介護認定審査会委員定員" column="shinsakaiIinTeiin"/>
    </resultMap>
    <select resultOrdered="true" id="get合議体情報"
            resultMap="resultMap_GogitaiJoho"
            parameterType="jp.co.ndensan.reams.db.dbz.definition.mybatisprm.gogitaijoho.gogitaijoho.GogitaiJohoMapperParameter" fetchSize="500">
        SELECT
        "shinsakaiKaisaiBashoCode" AS "shinsakaiKaisaiBashoCode"
        ,"shinsakaiYoteiTeiin" AS "shinsakaiYoteiTeiin"
        ,"shinsakaiJidoWariateTeiin" AS "shinsakaiJidoWariateTeiin"
        ,"shinsakaiIinTeiin"  AS "shinsakaiIinTeiin"
        FROM
        rgdb."DbT5591GogitaiJoho"
        WHERE
        "gogitaiNo" = #{gogitaiNo}
        AND
        "gogitaiYukoKikanKaishiYMD" <![CDATA[<=]]>  #{gogitaiYukoKikanKaishiYMD}
        AND
        CASE WHEN
        "gogitaiYukoKikanShuryoYMD" IS NOT NULL
        THEN
        #{gogitaiYukoKikanKaishiYMD} <![CDATA[<=]]> "gogitaiYukoKikanShuryoYMD"
        END
    </select>
</mapper>
