<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT7013ChosainJohoマスタとエンティティのマッピング用XMLです。 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT7013ChosainJohoMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT7013ChosainJoho">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT7013ChosainJohoMapper.allColumns_DbT7013ChosainJoho" />
     FROM
         rgdb."DbT7013ChosainJoho"
     WHERE
         rgdb."DbT7013ChosainJoho"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT7013ChosainJoho">
         "DbT7013ChosainJoho"."shichosonCode" as "dbT7013ChosainJoho_shichosonCode",
         "DbT7013ChosainJoho"."kaigoJigyoshaNo" as "dbT7013ChosainJoho_kaigoJigyoshaNo",
         "DbT7013ChosainJoho"."kaigoChosainNo" as "dbT7013ChosainJoho_kaigoChosainNo",
         "DbT7013ChosainJoho"."insertDantaiCd" as "dbT7013ChosainJoho_insertDantaiCd",
         "DbT7013ChosainJoho"."insertTimestamp" as "dbT7013ChosainJoho_insertTimestamp",
         "DbT7013ChosainJoho"."insertReamsLoginId" as "dbT7013ChosainJoho_insertReamsLoginId",
         "DbT7013ChosainJoho"."insertContextId" as "dbT7013ChosainJoho_insertContextId",
         "DbT7013ChosainJoho"."isDeleted" as "dbT7013ChosainJoho_isDeleted",
         "DbT7013ChosainJoho"."updateCount" as "dbT7013ChosainJoho_updateCount",
         "DbT7013ChosainJoho"."lastUpdateTimestamp" as "dbT7013ChosainJoho_lastUpdateTimestamp",
         "DbT7013ChosainJoho"."lastUpdateReamsLoginId" as "dbT7013ChosainJoho_lastUpdateReamsLoginId",
         "DbT7013ChosainJoho"."jigyoshaNo" as "dbT7013ChosainJoho_jigyoshaNo",
         "DbT7013ChosainJoho"."kaigoChosainJokyo" as "dbT7013ChosainJoho_kaigoChosainJokyo",
         "DbT7013ChosainJoho"."chosainShimei" as "dbT7013ChosainJoho_chosainShimei",
         "DbT7013ChosainJoho"."chosainKanaShimei" as "dbT7013ChosainJoho_chosainKanaShimei",
         "DbT7013ChosainJoho"."seibetsu" as "dbT7013ChosainJoho_seibetsu",
         "DbT7013ChosainJoho"."chosainShikakuCode" as "dbT7013ChosainJoho_chosainShikakuCode",
         "DbT7013ChosainJoho"."chikuCode" as "dbT7013ChosainJoho_chikuCode",
         "DbT7013ChosainJoho"."yubinNo" as "dbT7013ChosainJoho_yubinNo",
         "DbT7013ChosainJoho"."jusho" as "dbT7013ChosainJoho_jusho",
         "DbT7013ChosainJoho"."telNo" as "dbT7013ChosainJoho_telNo"
    </sql>


    <!--テーブルDbT7013ChosainJohoの項目をDbT7013ChosainJohoEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT7013ChosainJohoEntity" type="jp.co.ndensan.reams.db.dbe.entity.db.basic.DbT7013ChosainJohoEntity" autoMapping="true">
        <id property="shichosonCode" column="dbT7013ChosainJoho_shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <id property="kaigoJigyoshaNo" column="dbT7013ChosainJoho_kaigoJigyoshaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="kaigoChosainNo" column="dbT7013ChosainJoho_kaigoChosainNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertDantaiCd" column="dbT7013ChosainJoho_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT7013ChosainJoho_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT7013ChosainJoho_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT7013ChosainJoho_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT7013ChosainJoho_isDeleted" />
        <result property="updateCount" column="dbT7013ChosainJoho_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT7013ChosainJoho_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT7013ChosainJoho_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="jigyoshaNo" column="dbT7013ChosainJoho_jigyoshaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kaigoChosainJokyo" column="dbT7013ChosainJoho_kaigoChosainJokyo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="chosainShimei" column="dbT7013ChosainJoho_chosainShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="chosainKanaShimei" column="dbT7013ChosainJoho_chosainKanaShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaKanaMeishoTypeHandler"/>
        <result property="seibetsu" column="dbT7013ChosainJoho_seibetsu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="chosainShikakuCode" column="dbT7013ChosainJoho_chosainShikakuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="chikuCode" column="dbT7013ChosainJoho_chikuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ChikuCodeTypeHandler"/>
        <result property="yubinNo" column="dbT7013ChosainJoho_yubinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler"/>
        <result property="jusho" column="dbT7013ChosainJoho_jusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaJushoTypeHandler"/>
        <result property="telNo" column="dbT7013ChosainJoho_telNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.TelNoTypeHandler"/>
    </resultMap>
   <select id="getEntity" resultMap="ResultMap_DbT7013ChosainJohoEntity">
        SELECT
        <include refid="allColumns_DbT7013ChosainJoho"/>
        FROM
        rgdb."DbT7013ChosainJoho"
    </select>
</mapper>
