<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT5502ShinsakaiWariateJohoマスタとエンティティのマッピング用XMLです。 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT5502ShinsakaiWariateJohoMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT5502ShinsakaiWariateJoho">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT5502ShinsakaiWariateJohoMapper.allColumns_DbT5502ShinsakaiWariateJoho" />
     FROM
         rgdb."DbT5502ShinsakaiWariateJoho"
     WHERE
         rgdb."DbT5502ShinsakaiWariateJoho"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT5502ShinsakaiWariateJoho">
         "DbT5502ShinsakaiWariateJoho"."shinsakaiKaisaiNo" as "dbT5502ShinsakaiWariateJoho_shinsakaiKaisaiNo",
         "DbT5502ShinsakaiWariateJoho"."shinseishoKanriNo" as "dbT5502ShinsakaiWariateJoho_shinseishoKanriNo",
         "DbT5502ShinsakaiWariateJoho"."insertDantaiCd" as "dbT5502ShinsakaiWariateJoho_insertDantaiCd",
         "DbT5502ShinsakaiWariateJoho"."insertTimestamp" as "dbT5502ShinsakaiWariateJoho_insertTimestamp",
         "DbT5502ShinsakaiWariateJoho"."insertReamsLoginId" as "dbT5502ShinsakaiWariateJoho_insertReamsLoginId",
         "DbT5502ShinsakaiWariateJoho"."insertContextId" as "dbT5502ShinsakaiWariateJoho_insertContextId",
         "DbT5502ShinsakaiWariateJoho"."isDeleted" as "dbT5502ShinsakaiWariateJoho_isDeleted",
         "DbT5502ShinsakaiWariateJoho"."updateCount" as "dbT5502ShinsakaiWariateJoho_updateCount",
         "DbT5502ShinsakaiWariateJoho"."lastUpdateTimestamp" as "dbT5502ShinsakaiWariateJoho_lastUpdateTimestamp",
         "DbT5502ShinsakaiWariateJoho"."lastUpdateReamsLoginId" as "dbT5502ShinsakaiWariateJoho_lastUpdateReamsLoginId",
         "DbT5502ShinsakaiWariateJoho"."shinsakaiKaisaiYMD" as "dbT5502ShinsakaiWariateJoho_shinsakaiKaisaiYMD",
         "DbT5502ShinsakaiWariateJoho"."shinsakaiWariateYMD" as "dbT5502ShinsakaiWariateJoho_shinsakaiWariateYMD",
         "DbT5502ShinsakaiWariateJoho"."shinsakaiOrder" as "dbT5502ShinsakaiWariateJoho_shinsakaiOrder",
         "DbT5502ShinsakaiWariateJoho"."shinsakaiOrderKakuteiFlag" as "dbT5502ShinsakaiWariateJoho_shinsakaiOrderKakuteiFlag",
         "DbT5502ShinsakaiWariateJoho"."shinsakaiJidoWaritsukeFlag" as "dbT5502ShinsakaiWariateJoho_shinsakaiJidoWaritsukeFlag",
         "DbT5502ShinsakaiWariateJoho"."shinsakaiShiryoSakuseiYMD" as "dbT5502ShinsakaiWariateJoho_shinsakaiShiryoSakuseiYMD",
         "DbT5502ShinsakaiWariateJoho"."shinsakaiShiryoSofuYMD" as "dbT5502ShinsakaiWariateJoho_shinsakaiShiryoSofuYMD",
         "DbT5502ShinsakaiWariateJoho"."hanteiKekkaCode" as "dbT5502ShinsakaiWariateJoho_hanteiKekkaCode"
    </sql>


    <!--テーブルDbT5502ShinsakaiWariateJohoの項目をDbT5502ShinsakaiWariateJohoEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT5502ShinsakaiWariateJohoEntity" type="jp.co.ndensan.reams.db.dbe.entity.db.basic.DbT5502ShinsakaiWariateJohoEntity" autoMapping="true">
        <id property="shinsakaiKaisaiNo" column="dbT5502ShinsakaiWariateJoho_shinsakaiKaisaiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="shinseishoKanriNo" column="dbT5502ShinsakaiWariateJoho_shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
        <result property="insertDantaiCd" column="dbT5502ShinsakaiWariateJoho_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT5502ShinsakaiWariateJoho_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT5502ShinsakaiWariateJoho_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT5502ShinsakaiWariateJoho_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT5502ShinsakaiWariateJoho_isDeleted" />
        <result property="updateCount" column="dbT5502ShinsakaiWariateJoho_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT5502ShinsakaiWariateJoho_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT5502ShinsakaiWariateJoho_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shinsakaiKaisaiYMD" column="dbT5502ShinsakaiWariateJoho_shinsakaiKaisaiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shinsakaiWariateYMD" column="dbT5502ShinsakaiWariateJoho_shinsakaiWariateYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shinsakaiOrder" column="dbT5502ShinsakaiWariateJoho_shinsakaiOrder" />
        <result property="shinsakaiOrderKakuteiFlag" column="dbT5502ShinsakaiWariateJoho_shinsakaiOrderKakuteiFlag" />
        <result property="shinsakaiJidoWaritsukeFlag" column="dbT5502ShinsakaiWariateJoho_shinsakaiJidoWaritsukeFlag" />
        <result property="shinsakaiShiryoSakuseiYMD" column="dbT5502ShinsakaiWariateJoho_shinsakaiShiryoSakuseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shinsakaiShiryoSofuYMD" column="dbT5502ShinsakaiWariateJoho_shinsakaiShiryoSofuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="hanteiKekkaCode" column="dbT5502ShinsakaiWariateJoho_hanteiKekkaCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
    </resultMap>
   <select id="getEntity" resultMap="ResultMap_DbT5502ShinsakaiWariateJohoEntity">
        SELECT
        <include refid="allColumns_DbT5502ShinsakaiWariateJoho"/>
        FROM
        rgdb."DbT5502ShinsakaiWariateJoho"
    </select>
</mapper>
