<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT7011ShujiiIryoKikanJohoマスタとエンティティのマッピング用XMLです。 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT7011ShujiiIryoKikanJohoMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT7011ShujiiIryoKikanJoho">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT7011ShujiiIryoKikanJohoMapper.allColumns_DbT7011ShujiiIryoKikanJoho" />
     FROM
         rgdb."DbT7011ShujiiIryoKikanJoho"
     WHERE
         rgdb."DbT7011ShujiiIryoKikanJoho"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT7011ShujiiIryoKikanJoho">
         "DbT7011ShujiiIryoKikanJoho"."shichosonCode" as "dbT7011ShujiiIryoKikanJoho_shichosonCode",
         "DbT7011ShujiiIryoKikanJoho"."kaigoIryokikanCode" as "dbT7011ShujiiIryoKikanJoho_kaigoIryokikanCode",
         "DbT7011ShujiiIryoKikanJoho"."insertDantaiCd" as "dbT7011ShujiiIryoKikanJoho_insertDantaiCd",
         "DbT7011ShujiiIryoKikanJoho"."insertTimestamp" as "dbT7011ShujiiIryoKikanJoho_insertTimestamp",
         "DbT7011ShujiiIryoKikanJoho"."insertReamsLoginId" as "dbT7011ShujiiIryoKikanJoho_insertReamsLoginId",
         "DbT7011ShujiiIryoKikanJoho"."insertContextId" as "dbT7011ShujiiIryoKikanJoho_insertContextId",
         "DbT7011ShujiiIryoKikanJoho"."isDeleted" as "dbT7011ShujiiIryoKikanJoho_isDeleted",
         "DbT7011ShujiiIryoKikanJoho"."updateCount" as "dbT7011ShujiiIryoKikanJoho_updateCount",
         "DbT7011ShujiiIryoKikanJoho"."lastUpdateTimestamp" as "dbT7011ShujiiIryoKikanJoho_lastUpdateTimestamp",
         "DbT7011ShujiiIryoKikanJoho"."lastUpdateReamsLoginId" as "dbT7011ShujiiIryoKikanJoho_lastUpdateReamsLoginId",
         "DbT7011ShujiiIryoKikanJoho"."iryokikanCode" as "dbT7011ShujiiIryoKikanJoho_iryokikanCode",
         "DbT7011ShujiiIryoKikanJoho"."iryokikanJokyo" as "dbT7011ShujiiIryoKikanJoho_iryokikanJokyo",
         "DbT7011ShujiiIryoKikanJoho"."kikanKubunCode" as "dbT7011ShujiiIryoKikanJoho_kikanKubunCode"
    </sql>


    <!--テーブルDbT7011ShujiiIryoKikanJohoの項目をDbT7011ShujiiIryoKikanJohoEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT7011ShujiiIryoKikanJohoEntity" type="jp.co.ndensan.reams.db.dbe.entity.db.basic.DbT7011ShujiiIryoKikanJohoEntity" autoMapping="true">
        <id property="shichosonCode" column="dbT7011ShujiiIryoKikanJoho_shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <id property="kaigoIryokikanCode" column="dbT7011ShujiiIryoKikanJoho_kaigoIryokikanCode" typeHandler="jp.co.ndensan.reams.db.dbe.entity.typehandlers.KaigoIryoKikanCodeTypeHandler"/>
        <result property="insertDantaiCd" column="dbT7011ShujiiIryoKikanJoho_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT7011ShujiiIryoKikanJoho_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT7011ShujiiIryoKikanJoho_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT7011ShujiiIryoKikanJoho_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT7011ShujiiIryoKikanJoho_isDeleted" />
        <result property="updateCount" column="dbT7011ShujiiIryoKikanJoho_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT7011ShujiiIryoKikanJoho_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT7011ShujiiIryoKikanJoho_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="iryokikanCode" column="dbT7011ShujiiIryoKikanJoho_iryokikanCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="iryokikanJokyo" column="dbT7011ShujiiIryoKikanJoho_iryokikanJokyo" />
        <result property="kikanKubunCode" column="dbT7011ShujiiIryoKikanJoho_kikanKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
   <select id="getEntity" resultMap="ResultMap_DbT7011ShujiiIryoKikanJohoEntity">
        SELECT
        <include refid="allColumns_DbT7011ShujiiIryoKikanJoho"/>
        FROM
        rgdb."DbT7011ShujiiIryoKikanJoho"
    </select>
</mapper>
