<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBB-1650-050 lijunjun -->

<mapper namespace="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.relate.shotokujohoichiranhyosakusei.IShotokuJohoIchiranhyoSakuseiMapper">

        <!--KaigoHokenShotokuTempEntityの項目にマッピングします。-->
    <resultMap id="resultMap_KaigoHokenShotokuTempEntity" type="jp.co.ndensan.reams.db.dbb.entity.db.relate.shotokujohoichiranhyosakusei.KaigoHokenShotokuTempEntity" autoMapping="true">
        <result property="識別コード" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="被保険者番号" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="カナ名称" column="kanaMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaKanaMeishoTypeHandler"/>
        <result property="名称" column="meisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="所得年度" column="shotokuNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <result property="生年月日" column="seinengappiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="年齢" column="年齢"/>
        <result property="性別コード" column="seibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="住民種別コード" column="juminShubetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="課税区分減免前" column="kazeiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="課税区分減免後" column="kazeiKubunGemmenGo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="合計所得金額" column="gokeiShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="公的年金収入額" column="nenkiniShunyuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="公的年金所得額" column="nenkiniShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="課税所得額" column="kazeiShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="登録業務" column="torokuGyomu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
    
    <!--介護保険所得情報一覧データ取得-->
    <select id="select介護保険所得情報一覧データ" parameterType="jp.co.ndensan.reams.db.dbb.definition.core.shotokujohoichiranhyosakusei.ShotokuJohoIchiranhyoSakuseiParameter" 
            resultMap="resultMap_KaigoHokenShotokuTempEntity" fetchSize="500">
      SELECT
        A."shikibetsuCode",
        C."hihokenshaNo",
        B."kanaMeisho",
        B."meisho",
        A."shotokuNendo",
        B."seinengappiYMD",
        CASE
        WHEN B."shojoJiyuCode"='22' THEN EXTRACT(YEAR FROM AGE(date B."shojoIdoYMD", B."seinengappiYMD")) AS 年齢
        ELSE EXTRACT(YEAR FROM AGE(date B."seinengappiYMD"))
        END AS 年齢,
        B."seibetsuCode",
        B."juminShubetsuCode",
        A."kazeiKubun",
        A."kazeiKubunGemmenGo",
        A."gokeiShotokuGaku",
        A."nenkiniShunyuGaku",
        A."nenkiniShotokuGaku",
        A."kazeiShotokuGaku",
        A."torokuGyomu"
      FROM
        (
        SELECT
        "shotokuNendo",
        "shikibetsuCode",
        <if test="ラジオボタン == 2">
            max("rirekiNo")
        </if>
        <if test="ラジオボタン == 1">
            "rirekiNo" 
        </if>
        "kazeiKubun",
        "kazeiKubunGemmenGo",
        "gokeiShotokuGaku",
        "nenkiniShunyuGaku",
        "nenkiniShotokuGaku",
        "kazeiShotokuGaku",
        "shoriTimeStamp",
        "torokuGyomu"
        FROM rgdb."DbV2502KaigoShotoku"
        WHERE
        "shotokuNendo"=#{処理年度}
        AND "shoriTimeStamp"<![CDATA[>=]]>#{開始日時}
        AND "shoriTimeStamp"<![CDATA[<=]]>#{終了日時}
        <if test="チックボックス == 1">
            AND ("torokuGyomu"= '1' OR "torokuGyomu"='2')
        </if>
        <if test="チックボックス == 2">
            AND "torokuGyomu"= '1'
        </if>
        <if test="チックボックス == 3">
            AND "torokuGyomu"= '2'
        </if>
        <if test="ラジオボタン == 2">
            GROUP BY "shikibetsuCode"
        </if>
        ORDER BY "shotokuNendo" ASC, "shikibetsuCode" ASC
        )AS A
        LEFT OUTER JOIN
        rgua."UaFt200FindShikibetsuTaisho"('1','','0','DB','0','','','','','','','','','','','0','0','','','','','',
        '','0','0','','','','','','','','','','0','','1','1','1','1','1','1','1','1','1','1','1','','','','','','','',
        '0','0','','','0','0','0','','','','','','','','','','','','','','','','','','', '{  }' ) AS B
        ON A."shikibetsuCode"=B."shikibetsuCode"
        LEFT OUTER JOIN rgdb."DbV1001HihokenshaDaicho" AS C
        ON C."shikibetsuCode"=A."shikibetsuCode"
        AND (C."hihokennshaKubunCode"='1' OR C."hihokennshaKubunCode"='2')
        ORDER BY #{出力順} ASC
    </select>
    
        <!--KaigoHokenShotokuItijiTempEntityの項目にマッピングします。-->
    <resultMap id="resultMap_KaigoHokenShotokuItijiTempEntity" type="jp.co.ndensan.reams.db.dbb.entity.db.relate.shotokujohoichiranhyosakusei.KaigoHokenShotokuItijiTempEntity" autoMapping="true">
        <result property="識別コード" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="履歴番号" column="rirekiNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="カナ名称" column="kanaMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaKanaMeishoTypeHandler"/>
        <result property="名称" column="meisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="所得年度" column="shotokuNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <result property="生年月日" column="seinengappiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="年齢" column="年齢"/>
        <result property="性別コード" column="seibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="住民種別コード" column="juminShubetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="課税区分減免前" column="kazeiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="課税区分減免後" column="kazeiKubunGemmenGo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="合計所得金額" column="gokeiShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="公的年金収入額" column="nenkiniShunyuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="公的年金所得額" column="nenkiniShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="課税所得額" column="kazeiShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="登録業務" column="torokuGyomu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="処理日時" column="shoriTimeStamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YMDHMSTypeHandler"/>
        <result property="全国地方公共団体コード" column="lasdecCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
    </resultMap>
    
    <!--select介護所得一時データ-->
    <select id="select介護所得一時データ" parameterType="jp.co.ndensan.reams.uz.uza.lang.RString" 
            resultMap="resultMap_KaigoHokenShotokuItijiTempEntity" fetchSize="500">
      SELECT
        A."shikibetsuCode",
        A."rirekiNo",
        B."kanaMeisho",
        B."meisho",
        A."shotokuNendo",
        B."seinengappiYMD",
        CASE 
        WHEN B."shojoJiyuCode"='22' THEN EXTRACT(YEAR FROM AGE(date B."shojoIdoYMD", B."seinengappiYMD") AS 年齢
        ELSE EXTRACT(YEAR FROM AGE(date B."seinengappiYMD")
        END AS 年齢
        B."seibetsuCode",
        B."juminShubetsuCode",
        A."kazeiKubun",
        A."kazeiKubunGemmenGo",
        A."gokeiShotokuGaku",
        A."nenkiniShunyuGaku",
        A."nenkiniShotokuGaku",
        A."kazeiShotokuGaku",
        A."torokuGyomu",
        A."shoriTimeStamp",
        A."lasdecCode"
      FROM
        (
        SELECT
        "shotokuNendo",
        "shikibetsuCode",
        <if test="ラジオボタン == 2">
            max("rirekiNo")
        </if>
        <if test="ラジオボタン == 1">
            "rirekiNo" 
        </if>
        "kazeiKubun",
        "kazeiKubunGemmenGo",
        "gokeiShotokuGaku",
        "nenkiniShunyuGaku",
        "nenkiniShotokuGaku",
        "kazeiShotokuGaku",
        "shoriTimeStamp",
        "torokuGyomu"
        FROM rgdb."DbV2502KaigoShotoku"
        WHERE
        "shotokuNendo"=#{処理年度}
        <if test="ラジオボタン == 2">
            GROUP BY "shotokuNendo", "shikibetsuCode"
        </if>
        ORDER BY "shotokuNendo" ASC, "shikibetsuCode" ASC
        )AS A
        LEFT OUTER JOIN
        rgua."UaFt200FindShikibetsuTaisho"('1','','0','DB','0','','','','','','','','','','','0','0','','','','','',
        '','0','0','','','','','','','','','','0','','1','1','1','1','1','1','1','1','1','1','1','','','','','','','',
        '0','0','','','0','0','0','','','','','','','','','','','','','','','','','','', '{  }' ) AS B
        ON A."shikibetsuCode"=B."shikibetsuCode"
    </select>
    
    <!--creat介護保険所得-->
    <insert id="creat介護保険所得">
        CREAT TEMP TABLE "KaigoHokenShotokuTemp"
        (
        "shikibetsuCode" rshare."UDD001ShikibetsuCode",
        "hiHokenshaNo" rgdb."DbUDD002HihokenshaNo",
        "kanaMeisho" rshare."UDD043AtenaKanaMeisho",
        "meisho" rshare."UDD042AtenaMeisho",
        "shotokuNendo" rshare."UDD012YSeireki",
        "seinengappiYMD" rshare."UDD015YMD",
        "age" smallint,
        "seibetsuCode" character varying(1),
        "juminShubetsuCode" character varying(1),
        "kazeiKubun" character varying(1),
        "kazeiKubunGemmenGo" character varying(1),
        "gokeiShotokuGaku" numeric(12,0),
        "nenkiniShunyuGaku" numeric(12,0),
        "nenkiniShotokuGaku" numeric(12,0),
        "kazeiShotokuGaku" numeric(12,0),
        "torokuGyomu" character varying(1)
        )
    </insert>
    
    <!--creat介護所得一時-->
    <insert id="creat介護所得一時">
        CREAT TEMP TABLE "KaigoHokenShotokuItijiTemp"
        (
        "shikibetsuCode" rshare."UDD001ShikibetsuCode",
        "rirekiNo" smallint,
        "kanaMeisho" rshare."UDD043AtenaKanaMeisho",
        "meisho" rshare."UDD042AtenaMeisho",
        "shotokuNendo" rshare."UDD012YSeireki",
        "seinengappiYMD" rshare."UDD015YMD",
        "age" smallint,
        "seibetsuCode" character varying(1),
        "juminShubetsuCode" character varying(1),
        "kazeiKubun" character varying(1),
        "kazeiKubunGemmenGo" character varying(1),
        "gokeiShotokuGaku" numeric(12,0),
        "nenkiniShunyuGaku" numeric(12,0),
        "nenkiniShotokuGaku" numeric(12,0),
        "kazeiShotokuGaku" numeric(12,0),
        "torokuGyomu" character varying(1),
        "shoriTimeStamp" rshare."UDD018YMDHMS",
        "lasdecCode" rshare."UDD023LasdecCode"
        )
    </insert>
    
    <insert id="insert介護保険所得" parameterType="jp.co.ndensan.reams.db.dbb.entity.db.relate.shotokujohoichiranhyosakusei.KaigoHokenShotokuTempEntity">
        INSERT INTO "KaigoHokenShotokuTemp"
        SET(
        "shikibetsuCode",
        "hiHokenshaNo",
        "kanaMeisho",
        "meisho",
        "shotokuNendo",
        "seinengappiYMD",
        "age",
        "seibetsuCode",
        "juminShubetsuCode",
        "kazeiKubun",
        "kazeiKubunGemmenGo",
        "gokeiShotokuGaku",
        "nenkiniShunyuGaku",
        "nenkiniShotokuGaku",
        "kazeiShotokuGaku",
        "torokuGyomu"
        )
        VALUES
        (
        #{識別コード},
        #{被保険者番号},
        #{カナ名称},
        #{名称},
        #{所得年度},
        #{生年月日},
        #{年齢},
        #{性別コード},
        #{住民種別コード},
        #{課税区分減免前},
        #{課税区分減免後},
        #{合計所得金額},
        #{公的年金収入額},
        #{公的年金所得額},
        #{課税所得額},
        #{登録業務}
        )
    </insert>
    
    <select id="select対象データ" parameterType="jp.co.ndensan.reams.db.dbb.definition.core.shotokujohoichiranhyosakusei.KaigoHokenShotokuItijiParameter" 
            resultMap="resultMap_KaigoHokenShotokuTempEntity" fetchSize="500">
      SELECT
        A."shikibetsuCode",
        B."hihokenshaNo",
        A."kanaMeisho",
        A."meisho",
        A."shotokuNendo",
        A."seinengappiYMD",
        A."age",
        B."seibetsuCode",
        B."juminShubetsuCode",
        A."kazeiKubun",
        A."kazeiKubunGemmenGo",
        A."gokeiShotokuGaku",
        A."nenkiniShunyuGaku",
        A."nenkiniShotokuGaku",
        A."kazeiShotokuGaku",
        A."torokuGyomu"
      FROM
        (
        SELECT
        "shikibetsuCode",
        "hihokenshaNo",
        "kanaMeisho",
        "meisho",
        "shotokuNendo",
        "seinengappiYMD",
        "age",
        "seibetsuCode",
        "kazeiKubun",
        "kazeiKubunGemmenGo",
        "gokeiShotokuGaku",
        "nenkiniShunyuGaku",
        "nenkiniShotokuGaku",
        "kazeiShotokuGaku",
        "shoriTimeStamp",
        "torokuGyomu",
        "shoriTimeStamp"
        FROM "KaigoHokenShotokuItijiTemp"
        WHERE
        "shoriTimeStamp"<![CDATA[>=]]>#{開始時刻}
        AND "shoriTimeStamp"<![CDATA[<=]]>#{終了時刻}
        AND "lasdecCode"=#{市町村コード}
        <if test="チックボックス == 1">
            AND ("torokuGyomu"=1 OR "torokuGyomu"=2)
        </if>
        <if test="チックボックス == 2">
            AND "torokuGyomu"=1 
        </if>
        <if test="チックボックス == 3">
            AND "torokuGyomu"=2
        </if>
        ORDER BY "shotokuNendo" ASC, "shikibetsuCode" ASC, "rirekiNo" DESC) AS A
        LEFT OUTER JOIN
        rgdb."DbV1001HihokenshaDaicho" AS B
        ON A."shikibetsuCode"=B."shikibetsuCode"
        AND(B."hihokennshaKubunCode"='1' OR B."hihokennshaKubunCode"='2')
        ORDER BY #{出力順} ASC
    </select>
    
    
    <insert id="insert介護所得一時" parameterType="jp.co.ndensan.reams.db.dbb.entity.db.relate.shotokujohoichiranhyosakusei.KaigoHokenShotokuItijiTempEntity">
        INSERT INTO "KaigoHokenShotokuTemp"
        SET(
        "shikibetsuCode",
        "rirekiNo",
        "kanaMeisho",
        "meisho",
        "shotokuNendo",
        "seinengappiYMD",
        "age",
        "seibetsuCode",
        "juminShubetsuCode",
        "kazeiKubun",
        "kazeiKubunGemmenGo",
        "gokeiShotokuGaku",
        "nenkiniShunyuGaku",
        "nenkiniShotokuGaku",
        "kazeiShotokuGaku",
        "torokuGyomu",
        "shoriTimeStamp",
        "lasdecCode"
        )
        VALUES
        (
        #{識別コード},
        #{被保険者番号},
        #{カナ名称},
        #{名称},
        #{所得年度},
        #{生年月日},
        #{年齢},
        #{性別コード},
        #{住民種別コード},
        #{課税区分減免前},
        #{課税区分減免後},
        #{合計所得金額},
        #{公的年金収入額},
        #{公的年金所得額},
        #{課税所得額},
        #{登録業務},
        #{処理日時},
        #{全国地方公共団体コード},
        )
    </insert>
    
    <!--select所得情報一覧データ-->
    <select id="select所得情報一覧データ" resultMap="resultMap_KaigoHokenShotokuTempEntity" fetchSize="500">
      SELECT *
      FROM "KaigoHokenShotokuTemp"
    </select>
    
</mapper>