<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBB-1650-040 lijunjun -->

<mapper namespace="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.relate.shotokujohoichiranhyosakusei.IShotokuJohoIchiranhyoSakuseiMapper">

        <!--KaigoHokenShotokuTempEntityの項目にマッピングします。-->
    <resultMap id="resultMap_KaigoHokenShotokuTempEntity" type="jp.co.ndensan.reams.db.dbb.entity.db.relate.shotokujohoichiranhyosakusei.KaigoHokenShotokuTempEntity" autoMapping="true">
        <result property="shikibetsuCode" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="hihokenshaNo" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="kanaMeisho" column="kanaMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaKanaMeishoTypeHandler"/>
        <result property="meisho" column="meisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="shotokuNendo" column="shotokuNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <result property="seinengappiYMD" column="seinengappiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shojoIdoYMD" column="shojoIdoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="seinengappiYMD" column="seinengappiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shojoJiyuCode" column="shojoJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="seibetsuCode" column="seibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="juminShubetsuCode" column="juminShubetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kazeiKubun" column="kazeiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kazeiKubunGemmenGo" column="kazeiKubunGemmenGo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="gokeiShotokuGaku" column="gokeiShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="nenkiniShunyuGaku" column="nenkiniShunyuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="nenkiniShotokuGaku" column="nenkiniShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="kazeiShotokuGaku" column="kazeiShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="torokuGyomu" column="torokuGyomu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
    
    <!--介護保険所得情報一覧データ取得-->
    <select resultOrdered="true" id="select介護保険所得情報一覧データ" 
            parameterType="jp.co.ndensan.reams.db.dbb.definition.mybatisprm.shotokujohoichiranhyosakusei.ShotokuJohoIchiranhyoSakuseiParameter" 
            resultMap="resultMap_KaigoHokenShotokuTempEntity" fetchSize="500">
      SELECT
        A."shikibetsuCode",
        C."hihokenshaNo",
        B."kanaMeisho",
        B."meisho",
        A."shotokuNendo",
        B."seinengappiYMD",
        B."shojoJiyuCode",
        B."shojoIdoYMD",
        B."seibetsuCode",
        B."juminShubetsuCode",
        A."kazeiKubun",
        A."kazeiKubunGemmenGo",
        A."gokeiShotokuGaku",
        A."nenkiniShunyuGaku",
        A."nenkiniShotokuGaku",
        A."kazeiShotokuGaku",
        A."torokuGyomu"
      FROM
        (
        SELECT
        F."shotokuNendo",
        F."shikibetsuCode",
        <if test="ラジオボタン == 2">
            F."rirekiNo"
        </if>
        <if test="ラジオボタン == 1">
            F."rirekiNo" ,
        </if>
        F."kazeiKubun",
        F."kazeiKubunGemmenGo",
        F."gokeiShotokuGaku",
        F."nenkiniShunyuGaku",
        F."nenkiniShotokuGaku",
        F."kazeiShotokuGaku",
        F."shoriTimeStamp",
        F."torokuGyomu"
        FROM rgdb."DbV2502KaigoShotoku" AS F
        INNER JOIN 
        (SELECT
        "shotokuNendo",
        "shikibetsuCode",
        <if test="チックボックス == 2">
        max("rirekiNo") AS rirekiNo
        </if>
        FROM rgdb."DbV2502KaigoShotoku" AS X
        <if test="チックボックス == 2">
        GROUP BY X."shotokuNendo", X."shikibetsuCode", X."rirekiNo"
        </if>
        ) AS Y
        ON Y."shotokuNendo"=F."shotokuNendo"
        AND Y."shikibetsuCode"= F."shikibetsuCode"
        WHERE
        F."shotokuNendo"=#{処理年度}
        AND #{開始日時}<![CDATA[<=]]>F."shoriTimeStamp"
        AND F."shoriTimeStamp"<![CDATA[<=]]>#{終了日時}
        <if test="チックボックス == 1">
            AND (cast(F."torokuGyomu" as varchar(1)) = '1' OR cast(F."torokuGyomu" as varchar(1)) = '2')
        </if>
        <if test="チックボックス == 2">
            AND cast(F."torokuGyomu" as varchar(1)) = '1'
        </if>
        <if test="チックボックス == 3">
            AND cast(F."torokuGyomu" as varchar(1)) = '2'
        </if>
        ORDER BY F."shotokuNendo" ASC, F."shikibetsuCode" ASC
        ) AS A
        LEFT OUTER JOIN
        rgua."UaFt200FindShikibetsuTaisho"('1','','0','DB','0','','','','','','','','','','','0','0','','','','','',
        '','0','0','','','','','','','','','','0','','1','1','1','1','1','1','1','1','1','1','1','','','','','','','',
        '0','0','','','0','0','0','','','','','','','','','','','','','','','','','','', '{  }' ) AS B
        ON A."shikibetsuCode"=B."shikibetsuCode"
        LEFT OUTER JOIN rgdb."DbV1001HihokenshaDaicho" AS C
        ON C."shikibetsuCode"=A."shikibetsuCode"
        AND (C."hihokennshaKubunCode"='1' OR C."hihokennshaKubunCode"='2')
        ${出力順}
    </select>
    
    
    <!--creat介護保険所得-->
    <insert id="creat介護保険所得">
        CREAT TEMP TABLE "KaigoHokenShotokuTemp"
        (
        "shikibetsuCode" rshare."UDD001ShikibetsuCode",
        "hiHokenshaNo" rgdb."DbUDD002HihokenshaNo",
        "kanaMeisho" rshare."UDD043AtenaKanaMeisho",
        "meisho" rshare."UDD042AtenaMeisho",
        "shotokuNendo" rshare."UDD012YSeireki",
        "seinengappiYMD" rshare."UDD015YMD",
        "age" smallint,
        "seibetsuCode" character varying(1),
        "juminShubetsuCode" character varying(1),
        "kazeiKubun" character varying(1),
        "kazeiKubunGemmenGo" character varying(1),
        "gokeiShotokuGaku" numeric(12,0),
        "nenkiniShunyuGaku" numeric(12,0),
        "nenkiniShotokuGaku" numeric(12,0),
        "kazeiShotokuGaku" numeric(12,0),
        "torokuGyomu" character varying(1)
        )
    </insert>
    
    <!--creat介護所得一時-->
    <insert id="creat介護所得一時">
        CREAT TEMP TABLE "KaigoHokenShotokuItijiTemp"
        (
        "shikibetsuCode" rshare."UDD001ShikibetsuCode",
        "rirekiNo" smallint,
        "kanaMeisho" rshare."UDD043AtenaKanaMeisho",
        "meisho" rshare."UDD042AtenaMeisho",
        "shotokuNendo" rshare."UDD012YSeireki",
        "seinengappiYMD" rshare."UDD015YMD",
        "age" smallint,
        "seibetsuCode" character varying(1),
        "juminShubetsuCode" character varying(1),
        "kazeiKubun" character varying(1),
        "kazeiKubunGemmenGo" character varying(1),
        "gokeiShotokuGaku" numeric(12,0),
        "nenkiniShunyuGaku" numeric(12,0),
        "nenkiniShotokuGaku" numeric(12,0),
        "kazeiShotokuGaku" numeric(12,0),
        "torokuGyomu" character varying(1),
        "shoriTimeStamp" rshare."UDD018YMDHMS",
        "lasdecCode" rshare."UDD023LasdecCode"
        )
    </insert>
    
    <!--広域市町村の所得情報一覧を取得します。-->
    <select resultOrdered="true" id="select対象データ" 
            parameterType="jp.co.ndensan.reams.db.dbb.definition.mybatisprm.shotokujohoichiranhyosakusei.ShotokuJohoIchiranhyoSakuseiGParameter" 
            resultMap="resultMap_KaigoHokenShotokuTempEntity" fetchSize="500">
      SELECT
        A."shikibetsuCode",
        B."hihokenshaNo",
        A."kanaMeisho",
        A."meisho",
        A."shotokuNendo",
        A."seinengappiYMD",
        A. "shojoJiyuCode",
        A. "shojoIdoYMD",
        A."seibetsuCode",
        A."juminShubetsuCode",
        A."kazeiKubun",
        A."kazeiKubunGemmenGo",
        A."gokeiShotokuGaku",
        A."nenkiniShunyuGaku",
        A."nenkiniShotokuGaku",
        A."kazeiShotokuGaku",
        A."torokuGyomu"
      FROM
        (
        SELECT
        TEMP."shikibetsuCode",
        TEMP."kanaMeisho",
        TEMP."meisho",
        TEMP."shotokuNendo",
        TEMP."seinengappiYMD",
        TEMP. "shojoJiyuCode",
        TEMP. "shojoIdoYMD",
        TEMP."seibetsuCode",
        TEMP."juminShubetsuCode",
        TEMP."kazeiKubun",
        TEMP."kazeiKubunGemmenGo",
        TEMP."gokeiShotokuGaku",
        TEMP."nenkiniShunyuGaku",
        TEMP."nenkiniShotokuGaku",
        TEMP."kazeiShotokuGaku",
        TEMP."shoriTimeStamp",
        TEMP."torokuGyomu",
        TEMP."shoriTimeStamp"
        FROM  (
	SELECT
        M."shikibetsuCode",
        M."rirekiNo",
        N."kanaMeisho",
        N."meisho",
        M."shotokuNendo",
        N."seinengappiYMD",
        N."shojoJiyuCode",
        N."shojoIdoYMD",
        N."seibetsuCode",
        N."juminShubetsuCode",
        M."kazeiKubun",
        M."kazeiKubunGemmenGo",
        M."gokeiShotokuGaku",
        M."nenkiniShunyuGaku",
        M."nenkiniShotokuGaku",
        M."kazeiShotokuGaku",
        M."torokuGyomu",
        M."shoriTimeStamp",
        N."genLasdecCode"
      FROM
        (
        SELECT
        F."shotokuNendo",
        F."shikibetsuCode",
        <if test="ラジオボタン == 2">
            F."rirekiNo",
        </if>
        <if test="ラジオボタン == 1">
            F."rirekiNo" ,
        </if>
        F."kazeiKubun",
        F."kazeiKubunGemmenGo",
        F."gokeiShotokuGaku",
        F."nenkiniShunyuGaku",
        F."nenkiniShotokuGaku",
        F."kazeiShotokuGaku",
        F."shoriTimeStamp",
        F."torokuGyomu"
        FROM rgdb."DbV2502KaigoShotoku" F
        INNER JOIN 
        (SELECT
        "shotokuNendo",
        <if test="チックボックス == 2">
        max("rirekiNo") AS rirekiNo,
        </if>
        "shikibetsuCode"
        FROM rgdb."DbV2502KaigoShotoku" AS X
        <if test="チックボックス == 2">
        GROUP BY X."shotokuNendo", X."shikibetsuCode", X."rirekiNo"
        </if>
        ) AS Y
        ON Y."shotokuNendo"=F."shotokuNendo"
        AND Y."shikibetsuCode"= F."shikibetsuCode"
        WHERE
        F."shotokuNendo"=#{処理年度}
        ORDER BY F."shotokuNendo" ASC, F."shikibetsuCode" ASC
        )AS M
        LEFT OUTER JOIN
        rgua."UaFt200FindShikibetsuTaisho"('1','','0','DB','0','','','','','','','','','','','0','0','','','','','',
        '','0','0','','','','','','','','','','0','','1','1','1','1','1','1','1','1','1','1','1','','','','','','','',
        '0','0','','','0','0','0','','','','','','','','','','','','','','','','','','', '{  }' ) AS N
        ON M."shikibetsuCode"=N."shikibetsuCode"  
        ) AS TEMP
        WHERE
        #{開始日時}<![CDATA[<=]]>TEMP."shoriTimeStamp"
        AND TEMP."shoriTimeStamp"<![CDATA[<=]]>#{終了日時}
        AND TEMP."genLasdecCode" IN
        <foreach collection="市町村コードリスト" item="市町村コード" open="(" separator="," close=")"> #{市町村コード} </foreach>
        <if test="チックボックス == 1">
            AND (cast(TEMP. "torokuGyomu" as varchar(1)) = '1' OR cast(TEMP. "torokuGyomu" as varchar(1)) = '2')
        </if>
        <if test="チックボックス == 2">
            AND cast(TEMP. "torokuGyomu" as varchar(1)) = '1'
        </if>
        <if test="チックボックス == 3">
            AND cast(TEMP. "torokuGyomu" as varchar(1)) = '2'
        </if>
        ORDER BY TEMP."shotokuNendo" ASC, TEMP."shikibetsuCode" ASC, TEMP."rirekiNo" DESC) AS A
        LEFT OUTER JOIN
        rgdb."DbV1001HihokenshaDaicho" AS B
        ON A."shikibetsuCode"=B."shikibetsuCode"
        AND(B."hihokennshaKubunCode"='1' OR B."hihokennshaKubunCode"='2')
        ${出力順}
    </select>
    
    <!--select所得情報一覧データ-->
    <select id="select所得情報一覧データ" resultMap="resultMap_KaigoHokenShotokuTempEntity" fetchSize="500">
      SELECT *
      FROM "KaigoHokenShotokuTemp"
    </select>
    
    <!--処理日付管理マスタ_単一市町村を取得します。-->
    <select resultOrdered="true" id="select処理日付管理マスタ_単一市町村" resultType="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT7022ShoriDateKanriEntity"
            parameterType="jp.co.ndensan.reams.db.dbb.definition.mybatisprm.shotokujohoichiranhyosakusei.RegistShoriDateKanriParameter" fetchSize="500">
        SELECT *
        FROM rgdb."DbT7022ShoriDateKanri"
        WHERE "subGyomuCode"='DBB'
        AND "shichosonCode"=#{市町村コード}
        AND "shoriName"='所得情報一覧表作成'
        AND "shoriEdaban"='0001'
        AND "nendo"=#{処理年度}
        AND "nendoNaiRenban"='0001'
    </select>
    
    <!--処理日付管理マスタ_広域市町村を取得します。-->
    <select resultOrdered="true" id="select処理日付管理マスタ_広域市町村" 
            resultType="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT7022ShoriDateKanriEntity"
            parameterType="jp.co.ndensan.reams.db.dbb.definition.mybatisprm.shotokujohoichiranhyosakusei.RegistShoriDateKanriParameter" fetchSize="500">
        SELECT *
        FROM rgdb."DbT7022ShoriDateKanri"
        WHERE "subGyomuCode"='DBB'
        AND "shichosonCode"=#{市町村コード}
        AND "shoriName"='所得情報一覧表作成'
        AND "shoriEdaban"=#{市町村識別ID}
        AND "nendo"=#{処理年度}
        AND "nendoNaiRenban"='0001'
    </select>
    
    <!--処理日付管理マスタを追加します。-->
    <insert id="add処理日付管理マスタ" parameterType="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT7022ShoriDateKanriEntity">
        INSERT INTO rgdb."DbT7022ShoriDateKanri"
        SET(
        "subGyomuCode"
        "shichosonCode"
        "shoriName"
        "shoriEdaban"
        "nendo"
        "nendoNaiRenban"
        "kijunYMD"
        "kijunTimestamp"
        "taishoKaishiYMD"
        "taishoShuryoYMD"
        "taishoKaishiTimestamp"
        "taishoShuryoTimestamp"
        )
        VALUES(
        #{subGyomuCode}
        #{shichosonCode}
        #{shoriName}
        #{shoriEdaban}
        #{nendo}
        #{nendoNaiRenban}
        #{kijunYMD}
        #{kijunTimestamp}
        #{taishoKaishiYMD}
        #{taishoShuryoYMD}
        #{taishoKaishiTimestamp}
        #{taishoShuryoTimestamp}
        )
    </insert>
    
    <!--処理日付管理マスタを更新します。-->
    <update id="update処理日付管理マスタ" 
            parameterType="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT7022ShoriDateKanriEntity">
        UPDATE rgdb."DbT7022ShoriDateKanri"
        SET
        "kijunYMD"=#{kijunYMD},
        "kijunTimestamp"=#{kijunTimestamp},
        "taishoKaishiYMD"=#{taishoKaishiYMD},
        "taishoShuryoYMD"=#{taishoShuryoYMD},
        "taishoKaishiTimestamp"=#{taishoKaishiTimestamp},
        "taishoShuryoTimestamp"=#{taishoShuryoTimestamp}
    </update>
    
    <select resultOrdered="true" id="selectTempAll" 
            resultType="jp.co.ndensan.reams.db.dbb.entity.db.relate.shotokujohoichiranhyosakusei.KaigoHokenShotokuTempEntity" fetchSize="500">
        SELECT TEMP.*
        FROM "KaigoHokenShotokuTemp" TEMP
    </select>
    
</mapper>