<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<mapper namespace="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT7202KaigoNinteiHokaiseiKanriMapper">
    <resultMap id="ResultMap_DbT7202KaigoNinteiHokaiseiKanriEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT7202KaigoNinteiHokaiseiKanriEntity" autoMapping="true">
       <result property="koroshoIfShikibetsuCode" column="koroshoIfShikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/> 
    </resultMap>
    <resultMap id="ResultMap_DbT7202KaigoNinteiHokaiseiKanriEntity2" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT7202KaigoNinteiHokaiseiKanriEntity" autoMapping="true">
        <id property="hokaiseiShikoYMD" column="dbT7202KaigoNinteiHokaiseiKanri_hokaiseiShikoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="insertDantaiCd" column="dbT7202KaigoNinteiHokaiseiKanri_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT7202KaigoNinteiHokaiseiKanri_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT7202KaigoNinteiHokaiseiKanri_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT7202KaigoNinteiHokaiseiKanri_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT7202KaigoNinteiHokaiseiKanri_isDeleted" />
        <result property="updateCount" column="dbT7202KaigoNinteiHokaiseiKanri_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT7202KaigoNinteiHokaiseiKanri_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT7202KaigoNinteiHokaiseiKanri_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="koroshoIfShikibetsuCode" column="dbT7202KaigoNinteiHokaiseiKanri_koroshoIfShikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="chosaGaikyoKomokuChangeFlag" column="dbT7202KaigoNinteiHokaiseiKanri_chosaGaikyoKomokuChangeFlag" />
        <result property="chosaKihonKomokuChangeFlag" column="dbT7202KaigoNinteiHokaiseiKanri_chosaKihonKomokuChangeFlag" />
        <result property="shujiiIkenshoKomokuChangeFlag" column="dbT7202KaigoNinteiHokaiseiKanri_shujiiIkenshoKomokuChangeFlag" /> 
    </resultMap>
    <select resultOrdered="true" id="get厚労省IF識別コード" resultMap="ResultMap_DbT7202KaigoNinteiHokaiseiKanriEntity">
        SELECT 
            "koroshoIfShikibetsuCode" AS koroshoIfShikibetsuCode
        FROM  
             rgdb."DbT7202KaigoNinteiHokaiseiKanri" AS DbT7202KaigoNinteiHokaiseiKanri 
        WHERE 
             DbT7202KaigoNinteiHokaiseiKanri."hokaiseiShikoYMD" <![CDATA[<=]]>#{システム日付}
        ORDER  BY  
             DbT7202KaigoNinteiHokaiseiKanri."hokaiseiShikoYMD"  DESC 
        LIMIT  1
    </select>
    
    <select resultOrdered="true" id="select法改正施行年月日" resultMap="ResultMap_DbT7202KaigoNinteiHokaiseiKanriEntity2">
        SELECT 
            "hokaiseiShikoYMD" AS hokaiseiShikoYMD
        FROM  
             rgdb."DbT7202KaigoNinteiHokaiseiKanri" AS DbT7202KaigoNinteiHokaiseiKanri 
        ORDER  BY  
             DbT7202KaigoNinteiHokaiseiKanri."hokaiseiShikoYMD"  DESC 
    </select>
</mapper>
