<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： KogakuServicehiDetail_高額サービス費詳細内容入力共有子Divのマッピング用XMLです。 -->
<!-- @reamsid_L DBC-4380-020 quxiaodong -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.kougakusabisuhishousainaiyou.IKougakuSabisuhiShousaiNaiyouMapper">
  <resultMap id="resultMap_KougakuSabisuhiShousaiNaiyouEntity" type="jp.co.ndensan.reams.db.dbc.entity.db.relate.kougakusabisuhishousainaiyou.KougakuSabisuhiShousaiNaiyouEntity" autoMapping="true">
     <id column="dbT3056KogakuShikyuShinsei_hihokenshaNo"/>
        <id column="dbT3056KogakuShikyuShinsei_serviceTeikyoYM"/>
        <id column="dbT3056KogakuShikyuShinsei_shoKisaiHokenshaNo"/>
        <id column="dbT3056KogakuShikyuShinsei_rirekiNo"/>
        <association property="高額介護サービス費支給対象者合計Entity" resultMap="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3055KogakuKyufuTaishoshaGokeiMapper.ResultMap_DbT3055KogakuKyufuTaishoshaGokeiEntity"/>
        <association property="高額介護サービス費支給申請Entity" resultMap="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3056KogakuShikyuShinseiMapper.ResultMap_DbT3056KogakuShikyuShinseiEntity"/>
        <association property="高額介護サービス費支給判定結果Entity" resultMap="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3057KogakuShikyuHanteiKekkaMapper.ResultMap_DbT3057KogakuShikyuHanteiKekkaEntity"/>
        <association property="高額介護サービス費支給審査決定Entity" resultMap="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3058KogakuShikyuShinsaKetteiMapper.ResultMap_DbT3058KogakuShikyuShinsaKetteiEntity"/>
        <association property="事業高額介護サービス費支給対象者合計Entity" resultMap="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3109JigyoKogakuKyufuTaishoshaGokeiMapper.ResultMap_DbT3109JigyoKogakuKyufuTaishoshaGokeiEntity"/>
        <association property="事業高額介護サービス費支給申請Entity" resultMap="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3110JigyoKogakuShikyuShinseiMapper.ResultMap_DbT3110JigyoKogakuShikyuShinseiEntity"/>
        <association property="事業高額介護サービス費支給判定結果Entity" resultMap="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3111JigyoKogakuShikyuHanteiKekkaMapper.ResultMap_DbT3111JigyoKogakuShikyuHanteiKekkaEntity"/>
        <association property="事業高額介護サービス費支給審査決定Entity" resultMap="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3112KogakuShikyuShinsaKetteiMapper.ResultMap_DbT3112KogakuShikyuShinsaKetteiEntity"/>
  </resultMap>
    <select resultOrdered="true" id="get高額サービス費詳細内容"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.kougakusabisuhishousainaiyou.KougakuSabisuhiShousaiNaiyouParameter"
            resultMap="resultMap_KougakuSabisuhiShousaiNaiyouEntity" fetchSize="500">
         SELECT
          <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3056KogakuShikyuShinseiMapper.allColumns_DbT3056KogakuShikyuShinsei" />,
          <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3057KogakuShikyuHanteiKekkaMapper.allColumns_DbT3057KogakuShikyuHanteiKekka" />,
          <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3055KogakuKyufuTaishoshaGokeiMapper.allColumns_DbT3055KogakuKyufuTaishoshaGokei" />
          FROM
          rgdb."DbT3056KogakuShikyuShinsei" AS "DbT3056KogakuShikyuShinsei"
          LEFT JOIN 
          rgdb."DbT3057KogakuShikyuHanteiKekka" AS "DbT3057KogakuShikyuHanteiKekka"
          ON
         "DbT3056KogakuShikyuShinsei"."hihokenshaNo" = "DbT3057KogakuShikyuHanteiKekka"."hihokenshaNo" AND
         "DbT3056KogakuShikyuShinsei"."serviceTeikyoYM" = "DbT3057KogakuShikyuHanteiKekka"."serviceTeikyoYM" AND
         "DbT3056KogakuShikyuShinsei"."shoKisaiHokenshaNo" ="DbT3057KogakuShikyuHanteiKekka"."shoKisaiHokenshaNo" AND
         "DbT3056KogakuShikyuShinsei"."rirekiNo" = "DbT3057KogakuShikyuHanteiKekka"."rirekiNo"
          LEFT JOIN 
          rgdb."DbT3055KogakuKyufuTaishoshaGokei" AS "DbT3055KogakuKyufuTaishoshaGokei"
          ON
          "DbT3056KogakuShikyuShinsei"."hihokenshaNo" = "DbT3055KogakuKyufuTaishoshaGokei"."hihokenshaNo" AND
          "DbT3056KogakuShikyuShinsei"."serviceTeikyoYM" = "DbT3055KogakuKyufuTaishoshaGokei"."serviceTeikyoYM" AND
          "DbT3056KogakuShikyuShinsei"."rirekiNo" = "DbT3055KogakuKyufuTaishoshaGokei"."rirekiNo"
          WHERE
          "DbT3056KogakuShikyuShinsei"."hihokenshaNo" = #{被保険者番号} AND
          "DbT3056KogakuShikyuShinsei"."serviceTeikyoYM" = #{サービス提供年月} AND
          "DbT3056KogakuShikyuShinsei"."shoKisaiHokenshaNo" = #{証記載保険者番号} AND
          "DbT3056KogakuShikyuShinsei"."rirekiNo" = #{履歴番号} 
    </select>
    
    <select resultOrdered="true" id="get事業高額サービス費詳細内容"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.kougakusabisuhishousainaiyou.KougakuSabisuhiShousaiNaiyouParameter"
            resultMap="resultMap_KougakuSabisuhiShousaiNaiyouEntity" fetchSize="500">
         SELECT
         <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3109JigyoKogakuKyufuTaishoshaGokeiMapper.allColumns_DbT3109JigyoKogakuKyufuTaishoshaGokei" />,
         <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3110JigyoKogakuShikyuShinseiMapper.allColumns_DbT3110JigyoKogakuShikyuShinsei" />,
         <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3111JigyoKogakuShikyuHanteiKekkaMapper.allColumns_DbT3111JigyoKogakuShikyuHanteiKekka" />
          FROM
          rgdb."DbT3110JigyoKogakuShikyuShinsei" AS "DbT3110JigyoKogakuShikyuShinsei"
          LEFT JOIN 
          rgdb."DbT3111JigyoKogakuShikyuHanteiKekka" AS "DbT3111JigyoKogakuShikyuHanteiKekka"
          ON
          "DbT3110JigyoKogakuShikyuShinsei"."hihokenshaNo" = "DbT3111JigyoKogakuShikyuHanteiKekka"."hihokenshaNo" AND
          "DbT3110JigyoKogakuShikyuShinsei"."serviceTeikyoYM" = "DbT3111JigyoKogakuShikyuHanteiKekka"."serviceTeikyoYM" AND
          "DbT3110JigyoKogakuShikyuShinsei"."shoKisaiHokenshaNo" = "DbT3111JigyoKogakuShikyuHanteiKekka"."shoKisaiHokenshaNo" AND
          "DbT3110JigyoKogakuShikyuShinsei"."rirekiNo" = "DbT3111JigyoKogakuShikyuHanteiKekka"."rirekiNo"
          LEFT JOIN 
          rgdb."DbT3109JigyoKogakuKyufuTaishoshaGokei" AS "DbT3109JigyoKogakuKyufuTaishoshaGokei"
          ON
          "DbT3110JigyoKogakuShikyuShinsei"."hihokenshaNo" = "DbT3109JigyoKogakuKyufuTaishoshaGokei"."hihokenshaNo" AND
          "DbT3110JigyoKogakuShikyuShinsei"."serviceTeikyoYM" = "DbT3109JigyoKogakuKyufuTaishoshaGokei"."serviceTeikyoYM" AND
          "DbT3110JigyoKogakuShikyuShinsei"."rirekiNo" = "DbT3109JigyoKogakuKyufuTaishoshaGokei"."rirekiNo"
          WHERE
          "DbT3110JigyoKogakuShikyuShinsei"."hihokenshaNo" = #{被保険者番号} AND
          "DbT3110JigyoKogakuShikyuShinsei"."serviceTeikyoYM" = #{サービス提供年月} AND
          "DbT3110JigyoKogakuShikyuShinsei"."shoKisaiHokenshaNo" = #{証記載保険者番号} AND
          "DbT3110JigyoKogakuShikyuShinsei"."rirekiNo" = #{履歴番号} 
    </select>
    
    <select resultOrdered="true" id="get高額決定エリア情報"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.kougakusabisuhishousainaiyou.KougakuSabisuhiShousaiNaiyouParameter"
            resultMap="resultMap_KougakuSabisuhiShousaiNaiyouEntity" fetchSize="500">
         SELECT
         <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3058KogakuShikyuShinsaKetteiMapper.allColumns_DbT3058KogakuShikyuShinsaKettei" />,
         <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3057KogakuShikyuHanteiKekkaMapper.allColumns_DbT3057KogakuShikyuHanteiKekka" />,
         <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3055KogakuKyufuTaishoshaGokeiMapper.allColumns_DbT3055KogakuKyufuTaishoshaGokei" />
          FROM
          rgdb."DbT3058KogakuShikyuShinsaKettei" AS "DbT3058KogakuShikyuShinsaKettei"
          LEFT JOIN 
          rgdb."DbT3057KogakuShikyuHanteiKekka" AS "DbT3057KogakuShikyuHanteiKekka"
          ON
          "DbT3058KogakuShikyuShinsaKettei"."hihokenshaNo" = "DbT3057KogakuShikyuHanteiKekka"."hihokenshaNo" AND
          "DbT3058KogakuShikyuShinsaKettei"."serviceTeikyoYM" = "DbT3057KogakuShikyuHanteiKekka"."serviceTeikyoYM" AND
          "DbT3058KogakuShikyuShinsaKettei"."shoKisaiHokenshaNo" = "DbT3057KogakuShikyuHanteiKekka"."shoKisaiHokenshaNo" AND
          "DbT3058KogakuShikyuShinsaKettei"."rirekiNo" = "DbT3057KogakuShikyuHanteiKekka"."rirekiNo"
          LEFT JOIN 
          rgdb."DbT3055KogakuKyufuTaishoshaGokei" AS "DbT3055KogakuKyufuTaishoshaGokei"
          ON
          "DbT3058KogakuShikyuShinsaKettei"."hihokenshaNo" = "DbT3055KogakuKyufuTaishoshaGokei"."hihokenshaNo" AND
          "DbT3058KogakuShikyuShinsaKettei"."serviceTeikyoYM"="DbT3055KogakuKyufuTaishoshaGokei"."serviceTeikyoYM" AND
          "DbT3058KogakuShikyuShinsaKettei"."rirekiNo" = "DbT3055KogakuKyufuTaishoshaGokei"."rirekiNo"
          WHERE
          "DbT3058KogakuShikyuShinsaKettei"."hihokenshaNo" = #{被保険者番号} AND
          "DbT3058KogakuShikyuShinsaKettei"."serviceTeikyoYM" = #{サービス提供年月} AND
          "DbT3058KogakuShikyuShinsaKettei"."shoKisaiHokenshaNo" = #{証記載保険者番号} AND
          "DbT3058KogakuShikyuShinsaKettei"."rirekiNo" = #{履歴番号} 
    </select>
   
    <select resultOrdered="true" id="get事業高額決定エリア情報"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.kougakusabisuhishousainaiyou.KougakuSabisuhiShousaiNaiyouParameter"
            resultMap="resultMap_KougakuSabisuhiShousaiNaiyouEntity" fetchSize="500">
         SELECT
         <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3109JigyoKogakuKyufuTaishoshaGokeiMapper.allColumns_DbT3109JigyoKogakuKyufuTaishoshaGokei" />,
         <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3112KogakuShikyuShinsaKetteiMapper.allColumns_DbT3112KogakuShikyuShinsaKettei" />,
         <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3111JigyoKogakuShikyuHanteiKekkaMapper.allColumns_DbT3111JigyoKogakuShikyuHanteiKekka" />
          FROM
          rgdb."DbT3112KogakuShikyuShinsaKettei" AS "DbT3112KogakuShikyuShinsaKettei"
          LEFT JOIN 
          rgdb."DbT3111JigyoKogakuShikyuHanteiKekka" AS "DbT3111JigyoKogakuShikyuHanteiKekka"
          ON
          "DbT3112KogakuShikyuShinsaKettei"."hihokenshaNo" = "DbT3111JigyoKogakuShikyuHanteiKekka"."hihokenshaNo" AND
          "DbT3112KogakuShikyuShinsaKettei"."serviceTeikyoYM" = "DbT3111JigyoKogakuShikyuHanteiKekka"."serviceTeikyoYM" AND
          "DbT3112KogakuShikyuShinsaKettei"."shoKisaiHokenshaNo" = "DbT3111JigyoKogakuShikyuHanteiKekka"."shoKisaiHokenshaNo" AND
          "DbT3112KogakuShikyuShinsaKettei"."rirekiNo" = "DbT3111JigyoKogakuShikyuHanteiKekka"."rirekiNo"
          LEFT JOIN 
          rgdb."DbT3109JigyoKogakuKyufuTaishoshaGokei" AS "DbT3109JigyoKogakuKyufuTaishoshaGokei"
          ON
          "DbT3112KogakuShikyuShinsaKettei"."hihokenshaNo" = "DbT3109JigyoKogakuKyufuTaishoshaGokei"."hihokenshaNo" AND
          "DbT3112KogakuShikyuShinsaKettei"."serviceTeikyoYM" = "DbT3109JigyoKogakuKyufuTaishoshaGokei"."serviceTeikyoYM" AND
          "DbT3112KogakuShikyuShinsaKettei"."rirekiNo" = "DbT3109JigyoKogakuKyufuTaishoshaGokei"."rirekiNo"
          WHERE
          "DbT3112KogakuShikyuShinsaKettei"."hihokenshaNo" = #{被保険者番号} AND
          "DbT3112KogakuShikyuShinsaKettei"."serviceTeikyoYM" = #{サービス提供年月} AND
          "DbT3112KogakuShikyuShinsaKettei"."shoKisaiHokenshaNo" = #{証記載保険者番号} AND
          "DbT3112KogakuShikyuShinsaKettei"."rirekiNo" = #{履歴番号} 
    </select>
</mapper>