<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!-- @reamsid_L DBE-3000-070 zhengshukai -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.relate.shinsakaijohokojin.IShinsakaiJohoKojinMapper">
    <resultMap id = "KaisaiKekkaAndBashoJohoEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.relate.shinsakaijohokojin.KaisaiKekkaAndBashoJohoEntity">
        <result property="介護認定審査会開催番号" column="shinsakaiKaisaiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="合議体番号" column="gogitaiNo" />
        <result property="合議体名称" column="gogitaiMei" />
        <result property="介護認定審査会開催年月日" column="shinsakaiKaisaiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="介護認定審査会開始時刻" column="shinsakaiKaishiTime" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="介護認定審査会終了時刻" column="shinsakaiShuryoTime" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="所要時間合計" column="shoyoJikanGokei" />
        <result property="介護認定審査会開催場所名称" column="shinsakaiKaisaiBashoName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="介護認定審査会開催地区コード" column="shinsakaiKaisaiChikuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
    </resultMap>

    <select resultOrdered="true" id="getKaisaikekkaandbashojoho"
            resultMap="KaisaiKekkaAndBashoJohoEntity">
        SELECT
            A."shinsakaiKaisaiNo" AS shinsakaiKaisaiNo,
            A."gogitaiNo" AS gogitaiNo,
            A."shinsakaiKaisaiYMD" AS shinsakaiKaisaiYMD,
            A."shinsakaiKaishiTime" AS shinsakaiKaishiTime,
            A."shinsakaiShuryoTime" AS shinsakaiShuryoTime,
            A."shoyoJikanGokei" AS shoyoJikanGokei,
            C."shinsakaiKaisaiBashoName" AS shinsakaiKaisaiBashoName,
            C."shinsakaiKaisaiChikuCode" AS shinsakaiKaisaiChikuCode,
            D."gogitaiMei" AS gogitaiMei
        FROM
            rgdb."DbT5511ShinsakaiKaisaiKekkaJoho" AS A
        LEFT JOIN rgdb."DbT5592ShinsakaiKaisaiBashoJoho" AS C
            ON A."shinsakaiKaisaiBashoCode" = C."shinsakaiKaisaiBashoCode"
        INNER JOIN rgdb."DbT5591GogitaiJoho" AS D
            ON D."gogitaiNo" = A."gogitaiNo"
        WHERE 1=1
        <if test="null!=審査会開催番号 and 審査会開催番号.length()>0">
            AND A."shinsakaiKaisaiNo" = #{審査会開催番号}
        </if>
        <if test="null==審査会開催番号 or 1>審査会開催番号.length()">
            AND A."shinsakaiKaisaiNo" = (
                    SELECT
                        B."shinsakaiKaisaiNo"
                    FROM
                        rgdb."DbT5502ShinsakaiWariateJoho" AS B
                    WHERE
                        B."shinseishoKanriNo" = #{申請書管理番号}
                    ORDER BY B."shinsakaiWariateYMD" DESC
                    LIMIT(1)
            )
        </if>    
    </select>

    <resultMap id = "WariateIinAndIinJohoEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.relate.shinsakaijohokojin.WariateIinAndIinJohoEntity">
        <result property="介護認定審査会議長区分コード" column="kaigoninteiShinsakaiGichoKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="介護認定審査会委員コード" column="shinsakaiIinCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="介護認定審査会委員氏名" column="shinsakaiIinShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="介護認定審査員資格コード" column="shinsakaiIinShikakuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
    </resultMap>

    <select resultOrdered="true" id="getShinsakaijyouhou"
            parameterType="jp.co.ndensan.reams.db.dbz.definition.mybatisprm.shinsakaijohokojin.ShinsakaiJohoKojinMapperParameter"
            resultMap="WariateIinAndIinJohoEntity">
        SELECT
            A."kaigoninteiShinsakaiGichoKubunCode" AS kaigoninteiShinsakaiGichoKubunCode,
            B."shinsakaiIinCode" AS shinsakaiIinCode,
            B."shinsakaiIinShimei" AS shinsakaiIinShimei,
            B."shinsakaiIinShikakuCode" AS shinsakaiIinShikakuCode
        FROM
            rgdb."DbT5503ShinsakaiWariateIinJoho" AS A
        LEFT JOIN rgdb."DbT5594ShinsakaiIinJoho" AS B
            ON A."shinsakaiIinCode" = B."shinsakaiIinCode"
        INNER JOIN rgdb."DbT5591GogitaiJoho" AS C
            ON C."gogitaiNo" = #{合議体番号}
            AND C."gogitaiYukoKikanKaishiYMD" <![CDATA[<=]]> #{介護認定審査会開催日}
            AND #{介護認定審査会開催日} <![CDATA[<=]]> C."gogitaiYukoKikanShuryoYMD"
        INNER JOIN rgdb."DbT5593GogitaiWariateIinJoho" AS D
            ON C."gogitaiNo" = D."gogitaiNo"
            AND C."gogitaiYukoKikanKaishiYMD" = D."gogitaiYukoKikanKaishiYMD"
            AND C."gogitaiYukoKikanShuryoYMD" = D."gogitaiYukoKikanShuryoYMD"
            AND B."shinsakaiIinCode" = D."shinsakaiIinCode"
            AND D."substituteFlag" = False
        WHERE
            A."shinsakaiKaisaiNo" = #{介護認定審査会開催番号}
            AND A."shussekiFlag" = True
        ORDER BY A."shinsakaiIinCode"
    </select>

    <select resultOrdered="true" id="getHoketsukaijyouhou"
            parameterType="jp.co.ndensan.reams.db.dbz.definition.mybatisprm.shinsakaijohokojin.ShinsakaiJohoKojinMapperParameter"
            resultMap="WariateIinAndIinJohoEntity">
        SELECT
            A."kaigoninteiShinsakaiGichoKubunCode" AS kaigoninteiShinsakaiGichoKubunCode,
            B."shinsakaiIinCode" AS shinsakaiIinCode,
            B."shinsakaiIinShimei" AS shinsakaiIinShimei,
            B."shinsakaiIinShikakuCode" AS shinsakaiIinShikakuCode
        FROM
            rgdb."DbT5503ShinsakaiWariateIinJoho" AS A
        LEFT JOIN rgdb."DbT5594ShinsakaiIinJoho" AS B
            ON A."shinsakaiIinCode" = B."shinsakaiIinCode"
        INNER JOIN rgdb."DbT5591GogitaiJoho" AS C
            ON C."gogitaiNo" = #{合議体番号}
            AND C."gogitaiYukoKikanKaishiYMD" <![CDATA[<=]]> #{介護認定審査会開催日}
            AND #{介護認定審査会開催日} <![CDATA[<=]]> C."gogitaiYukoKikanShuryoYMD"
        INNER JOIN rgdb."DbT5593GogitaiWariateIinJoho" AS D
            ON C."gogitaiNo" = D."gogitaiNo"
            AND C."gogitaiYukoKikanKaishiYMD" = D."gogitaiYukoKikanKaishiYMD"
            AND C."gogitaiYukoKikanShuryoYMD" = D."gogitaiYukoKikanShuryoYMD"
            AND B."shinsakaiIinCode" = D."shinsakaiIinCode"
            AND D."substituteFlag" = True
        WHERE
            A."shinsakaiKaisaiNo" = #{介護認定審査会開催番号}
            AND A."shussekiFlag" = True
        ORDER BY A."shinsakaiIinCode"
    </select>

</mapper>
