<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBE-3000-100 dongyabin -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.relate.chosajisshishajoho.IChosaJisshishaJohoMapper">
    
    <resultMap id="ResultMap_DbT5910Entity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT5910NinteichosaItakusakiJohoEntity" autoMapping="true">
        <id property="ninteichosaItakusakiCode" column="dbT5910NinteichosaItakusakiJoho_ninteichosaItakusakiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="jigyoshaMeisho" column="dbT5910NinteichosaItakusakiJoho_jigyoshaMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
    
    <sql id="get_ShichosonCode">
        SELECT
          D."shichosonCode"
        FROM
          rgdb."DbT5101NinteiShinseiJoho"  AS  C
          INNER  JOIN  rgdb."DbT7051KoseiShichosonMaster"  AS  D 
            ON C."shoKisaiHokenshaNo"  =  D."shoKisaiHokenshaNo"
          WHERE
            C."shinseishoKanriNo"  =  #{shinseishoKanriNo}   
    </sql>
    
     <!--認定調査委託先コードの取得-->  
    <sql id="get_NinteichosaItakusakiCode">
        SELECT
          B."ninteichosaItakusakiCode"
        FROM
          rgdb."DbT5201NinteichosaIraiJoho"  AS  B
        WHERE
          B."shinseishoKanriNo"  =  #{shinseishoKanriNo}
          AND  B."logicalDeletedFlag" = False
          AND   NOT EXISTS (
          SELECT  'X'
            FROM
              rgdb."DbT5201NinteichosaIraiJoho"  AS B1
            WHERE
              B."shinseishoKanriNo" = B1."shinseishoKanriNo"
            AND B."logicalDeletedFlag" = B1."logicalDeletedFlag"
            AND B."ninteichosaIraiRirekiNo"  <![CDATA[<]]> B1."ninteichosaIraiRirekiNo"
        )
    </sql>
    
      <!--認定調査員コードの取得-->  
    <sql id="get_NinteiChosainCode">
        SELECT
          B."ninteiChosainCode"
        FROM
          rgdb."DbT5201NinteichosaIraiJoho"  AS  B
        WHERE
          B."shinseishoKanriNo"  =  #{shinseishoKanriNo}
          AND  B."logicalDeletedFlag" = False
          AND   NOT EXISTS (
          SELECT  'X' 
            FROM
              rgdb."DbT5201NinteichosaIraiJoho"  AS B1
            WHERE
              B."shinseishoKanriNo" = B1."shinseishoKanriNo"
            AND B."logicalDeletedFlag" = B1."logicalDeletedFlag"
            AND B."ninteichosaIraiRirekiNo" <![CDATA[<]]>  B1."ninteichosaIraiRirekiNo"
        )
    </sql>
    
    
    
    <!-- 所属機関のデータソースの取得処理 -->
    <select resultOrdered="true" id="getSyozokuKikan" resultMap="ResultMap_DbT5910Entity" 
            fetchSize="500">
        SELECT
          A."ninteichosaItakusakiCode" AS "dbT5910NinteichosaItakusakiJoho_ninteichosaItakusakiCode",
          A."jigyoshaMeisho" AS "dbT5910NinteichosaItakusakiJoho_jigyoshaMeisho"
        FROM
          rgdb."DbT5910NinteichosaItakusakiJoho"  AS  A
        WHERE
          A."shichosonCode" IN (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.relate.chosajisshishajoho.IChosaJisshishaJohoMapper.get_ShichosonCode" /> )
        AND
          A."ninteichosaItakusakiCode" IN  (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.relate.chosajisshishajoho.IChosaJisshishaJohoMapper.get_NinteichosaItakusakiCode"/>)
        AND
          A."jokyoFlag"  = True
    </select>
    
    <!--記入者のデータソースの取得処理--> 
    <select resultOrdered="true" id="getKinyusha" 
            resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5913ChosainJohoMapper.ResultMap_DbT5913ChosainJohoEntity" 
            fetchSize="500">
        SELECT
          A."ninteiChosainCode",
          A."chosainShimei"
        FROM
          rgdb."DbT5913ChosainJoho"  AS  A
        WHERE
          A."shichosonCode" IN (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.relate.chosajisshishajoho.IChosaJisshishaJohoMapper.get_ShichosonCode" />)
        AND
          A."ninteiChosaItakusakiCode" IN  (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.relate.chosajisshishajoho.IChosaJisshishaJohoMapper.get_NinteichosaItakusakiCode" />)
        AND
          A."jokyoFlag"  = True
        ORDER BY A."ninteiChosainCode" 
    </select>
    
     <!--記入者の初期値の取得処理--> 
    <select resultOrdered="true" id="getKinyushaEmpty" 
            resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5913ChosainJohoMapper.ResultMap_DbT5913ChosainJohoEntity" 
            fetchSize="500">
        SELECT
          A."ninteiChosainCode",
          A."chosainShimei"
        FROM
          rgdb."DbT5913ChosainJoho"  AS  A
        WHERE
          A."shichosonCode" IN (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.relate.chosajisshishajoho.IChosaJisshishaJohoMapper.get_ShichosonCode" />)
        AND
          A."ninteiChosaItakusakiCode" IN  (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.relate.chosajisshishajoho.IChosaJisshishaJohoMapper.get_NinteichosaItakusakiCode" />)
        AND
          A."jokyoFlag"  = True
        AND 
          A."ninteiChosainCode" IN (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.relate.chosajisshishajoho.IChosaJisshishaJohoMapper.get_NinteiChosainCode" />)
    </select>
    
    <!-- 調査実施者情報のデータソースの取得処理 -->
    <select resultOrdered="true" id="getChosaJisshishaJoho" resultMap="resultMap_ChosaJisshishaJohoRelateEntity"
            parameterType="jp.co.ndensan.reams.db.dbz.definition.mybatisprm.chosajisshishajoho.ChosaJisshishaJohoParameter" fetchSize="500">
        SELECT dbt5201."ninteichosaItakusakiCode" AS dbt5201_ninteichosaItakusakiCode
        , dbt5201."ninteiChosainCode" AS dbt5201_ninteiChosainCode
        , dbt5910."jigyoshaMeisho" AS dbt5910_jigyoshaMeisho
        , dbt5913."chosainShimei" AS dbt5913_chosainShimei
        FROM rgdb."DbT5201NinteichosaIraiJoho" dbt5201
        INNER JOIN rgdb."DbT5101NinteiShinseiJoho" dbt5101
        ON dbt5101."shinseishoKanriNo" = dbt5201."shinseishoKanriNo"
        LEFT JOIN rgdb."DbT5910NinteichosaItakusakiJoho" dbt5910
        ON dbt5910."shichosonCode" = dbt5101."shichosonCode"
        AND dbt5910."ninteichosaItakusakiCode" = dbt5201."ninteichosaItakusakiCode"
        LEFT JOIN rgdb."DbT5913ChosainJoho" dbt5913
        ON dbt5913."shichosonCode" = dbt5101."shichosonCode"
        AND dbt5913."ninteiChosaItakusakiCode" = dbt5201."ninteichosaItakusakiCode"
        AND dbt5913."ninteiChosainCode" = dbt5201."ninteiChosainCode"
        WHERE dbt5201."shinseishoKanriNo" = #{申請書管理番号}
        AND dbt5201."ninteichosaIraiRirekiNo" = #{認定調査依頼履歴番号}
    </select>
    
    <resultMap id="resultMap_ChosaJisshishaJohoRelateEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.relate.chosajisshishajoho.ChosaJisshishaJohoRelateEntity" autoMapping="true">
        <result property="ninteichosaItakusakiCode"  column="dbt5201_ninteichosaItakusakiCode" typeHandler="jp.co.ndensan.reams.db.dbz.entity.typehandlers.KaigoJigyoshaNoTypeHandler"/>
        <result property="ninteiChosainCode"  column="dbt5201_ninteiChosainCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="jigyoshaMeisho"  column="dbt5910_jigyoshaMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="chosainShimei"  column="dbt5913_chosainShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
        
</mapper>