<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.kagoketteihokenshain.IKagoKetteiHokenshaInMapper">

    <!--過誤決定通知書（保険者分）情報（明細）一時テーブルを作成します-->
    <insert id="create保険者分情報_明細">
        CREATE TEMP TABLE "TEMP_TABLE_KagoKetteiTsuchishoJyohoHokenshabunMeisai"
        (
        "kokanShikibetsuNo" character varying(4),
        "toriatsukaiYM" rshare."UDD014YM",
        "shokisaiHokenshaNo" rgdb."DbUDD003HokenshaNo",
        "shokisaiHokenshaNa" character(40),
        "sakuseiYMD" rshare."UDD015YMD",
        "kokukoRengoukaiNa" character(30),
        "jigyoshoNo" rgdb."DbUDD004JigyoshaNo",
        "jigyoshoName" character(20),
        "hiHokenshaNo" rgdb."DbUDD002HihokenshaNo",
        "hiHokenshaSimei" character(25),
        "serviceTeikyoYM" rshare."UDD014YM" ,
        "serviceShuruiCode" rgdb."DbUDD005ServiceShuruiCode",
        "serviceShuruiName" character(12),
        "kagomoushitateJiyuCode" rshare."UDD035Code",
        "kagomoushitateJiyu" character(14),
        "tanisu" numeric(13,0),
        "hokenshaFutangaku" numeric(13,0)
        )
    </insert>
    
    <!--過誤決定通知書（保険者分）情報（明細）一時テーブルに登録します-->
    <insert id="insert保険者分情報_明細" parameterType="jp.co.ndensan.reams.db.dbc.entity.db.relate.kagoketteihokenshain.KagoKetteiHokenshaInMeisaiEntity">
        INSERT INTO "TEMP_TABLE_KagoKetteiTsuchishoJyohoHokenshabunMeisai" 
        VALUES 
        (
        #{kokanShikibetsuNo},
        #{toriatsukaiYM},
        #{shokisaiHokenshaNo},
        #{shokisaiHokenshaNa},
        #{sakuseiYMD},
        #{kokukoRengoukaiNa},
        #{jigyoshoNo},
        #{jigyoshoName},
        #{hiHokenshaNo},
        #{hiHokenshaSimei},
        #{serviceTeikyoYM},
        #{serviceShuruiCode},
        #{serviceShuruiName},
        #{kagomoushitateJiyuCode},
        #{kagomoushitateJiyu},
        #{tanisu},
        #{hokenshaFutangaku})
    </insert>
    
    <resultMap id="resultMap_KagoKetteiTsuchishoJyohoHokenshabunMeisaiEntity" type="jp.co.ndensan.reams.db.dbc.entity.db.relate.kagoketteihokenshain.KagoKetteiHokenshaInMeisaiEntity" autoMapping="true">
        <result property="toriatsukaiYM" column="toriatsukaiYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="jigyoshoNo" column="jigyoshoNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.JigyoshaNoTypeHandler"/>
        <result property="jigyoshoName" column="jigyoshoName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hiHokenshaNo" column="hiHokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="serviceTeikyoYM" column="serviceTeikyoYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="serviceShuruiCode" column="serviceShuruiCode" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ServiceShuruiCodeTypeHandler"/>
        <result property="serviceShuruiName" column="serviceShuruiName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kagomoushitateJiyuCode" column="kagomoushitateJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="kagomoushitateJiyu" column="kagomoushitateJiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="tanisu" column="tanisu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="hokenshaFutangaku" column="hokenshaFutangaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
    </resultMap>
    
    <select id="get保険者分情報_明細" resultMap="resultMap_KagoKetteiTsuchishoJyohoHokenshabunMeisaiEntity" fetchSize="500">
        SELECT
        "toriatsukaiYM",
        "jigyoshoNo",
        "jigyoshoName",
        "hiHokenshaNo",
        "serviceTeikyoYM",
        "serviceShuruiCode",
        "serviceShuruiName",
        "kagomoushitateJiyuCode",
        "kagomoushitateJiyu",
        "tanisu",
        "hokenshaFutangaku" 
        FROM 
        "TEMP_TABLE_KagoKetteiTsuchishoJyohoHokenshabunMeisai"
    </select>
    
    <insert id="insert過誤決定明細" parameterType="jp.co.ndensan.reams.db.dbc.entity.db.relate.kagoketteihokenshain.KagoKetteiHokenshaInMeisaiEntity">
        INSERT INTO rgdb."DbT3061KagoKetteiMeisai"
        (
        "toriatsukaiYM",	
        "hokenshaKubun",
        "rirekiNo",
        "jigyoshoNo",	
        "jigyoshoName",
        "hiHokenshaNo",
        "serviceTeikyoYM",
        "serviceShuruiCode",	
        "serviceShuruiName",
        "kagomoushitateJiyuCode",	
        "kagomoushitateJiyu",
        "tanisu",
        "hokenshaFutangaku") 
        VALUES (
        #{toriatsukaiYM},
        '1',
        (SELECT CASE WHEN Max(A."rirekiNo") IS NULL THEN 1
        ELSE Max(A."rirekiNo")+1 END
        FROM rgdb."DbT3061KagoKetteiMeisai" AS A
        WHERE "toriatsukaiYM"=#{toriatsukaiYM}
        and "hokenshaKubun"='1' ),
        #{jigyoshoNo},
        #{jigyoshoName},
        #{hiHokenshaNo},
        #{serviceTeikyoYM},
        #{serviceShuruiCode},
        #{serviceShuruiName},
        #{kagomoushitateJiyuCode},
        #{kagomoushitateJiyu},
        #{tanisu},
        #{hokenshaFutangaku})
    </insert>
    
    <!--過誤決定通知書（保険者分）情報（集計）一時テーブルを作成します-->
    <insert id="create保険者分情報_集計">
        CREATE TEMP TABLE "TEMP_TABLE_KagoKetteiTsuchishoJyohoHokenshabunShukei"
        (
        "kokanShikibetsuNo" character varying(4),
        "toriatsukaiYM" rshare."UDD014YM",
        "shokisaiHokenshaNo" rgdb."DbUDD003HokenshaNo",
        "shokisaiHokenshaNa" character(40),
        "sakuseiYMD" rshare."UDD015YMD",
        "kokukoRengoukaiNa" character(30),
        "kaigoKyufuhiKensu" integer,
        "kaigoKyufuhiTanisu" numeric(13,0),
        "kaigoKyufuhiFutangaku" numeric(13,0),
        "kogakuServicehiKensu" integer,
        "kogakuServicehiTanisu" numeric(13,0),
        "kogakuServicehiFutangaku" numeric(13,0),
        "tokuteiNyushoshaServicehiKensu" integer,
        "tokuteiNyushoshaServicehiTanisu" numeric(13,0),
        "tokuteiNyushoshaServicehiFutangaku" numeric(13,0))
    </insert>
    
    <!--過誤決定通知書（保険者分）情報（集計）一時テーブルに登録します-->
    <insert id="insert保険者分情報_集計" parameterType="jp.co.ndensan.reams.db.dbc.entity.db.relate.kagoketteihokenshain.KagoKetteiHokenshaInShukeiEntity">
        INSERT INTO "TEMP_TABLE_KagoKetteiTsuchishoJyohoHokenshabunShukei" 
        VALUES 
        (
        #{kokanShikibetsuNo},
        #{toriatsukaiYM},
        #{shokisaiHokenshaNo},
        #{shokisaiHokenshaNa},
        #{sakuseiYMD},
        #{kokukoRengoukaiNa},
        #{kaigoKyufuhiKensu},
        #{kaigoKyufuhiTanisu},
        #{kaigoKyufuhiFutangaku},
        #{kogakuServicehiKensu},
        #{kogakuServicehiTanisu},
        #{kogakuServicehiFutangaku},
        #{tokuteiNyushoshaServicehiKensu},
        #{tokuteiNyushoshaServicehiTanisu},
        #{tokuteiNyushoshaServicehiFutangaku})
    </insert>

    <select id="get保険者分情報_集計" resultType="jp.co.ndensan.reams.db.dbc.entity.db.relate.kagoketteihokenshain.KagoKetteiHokenshaInShukeiEntity">
        SELECT 
        "toriatsukaiYM",
        "shokisaiHokenshaNo",
        "kaigoKyufuhiKensu",
        "kaigoKyufuhiTanisu",
        "kaigoKyufuhiFutangaku",
        "kogakuServicehiKensu",
        "kogakuServicehiTanisu",
        "kogakuServicehiFutangaku",
        "tokuteiNyushoshaServicehiKensu",
        "tokuteiNyushoshaServicehiTanisu",
        "tokuteiNyushoshaServicehiFutangaku",
        "sakuseiYMD" 
        FROM 
        "TEMP_TABLE_KagoKetteiTsuchishoJyohoHokenshabunShukei"
    </select>

    <insert id="insert過誤決定集計" parameterType="jp.co.ndensan.reams.db.dbc.entity.db.relate.kagoketteihokenshain.KagoKetteiHokenshaInShukeiEntity">
        INSERT INTO rgdb."DbT3060KagoKetteiShukei" 
        (
        "toriatsukaiYM",
        "hokenshaKubun",
        "rirekiNo",
        "kaigoKyufuhiKensu",
        "kaigoKyufuhiTanisu",
        "kaigoKyufuhiFutangaku",
        "kogakuServicehiKensu",
        "kogakuServicehiTanisu",
        "kogakuServicehiFutangaku",
        "tokuteiNyushoshaServicehiKensu",
        "tokuteiNyushoshaServicehiTanisu",
        "tokuteiNyushoshaServicehiFutangaku",
        "kohiFutanshaNo",
        "sakuseiYMD",
        "torikomiYM") 
        VALUES 
        (
        #{toriatsukaiYM},
        '1',
        (SELECT CASE WHEN Max(A."rirekiNo") IS NULL THEN 1
        ELSE Max(A."rirekiNo")+1 END
        FROM rgdb."DbT3060KagoKetteiShukei" AS A
        WHERE "toriatsukaiYM"=#{toriatsukaiYM}
        and "hokenshaKubun"='1'),
        #{kaigoKyufuhiKensu},
        #{kaigoKyufuhiTanisu},
        #{kaigoKyufuhiFutangaku},
        #{kogakuServicehiKensu},
        #{kogakuServicehiTanisu},
        #{kogakuServicehiFutangaku},
        #{tokuteiNyushoshaServicehiKensu},
        #{tokuteiNyushoshaServicehiTanisu},
        #{tokuteiNyushoshaServicehiFutangaku},
        SUBSTRING(#{shokisaiHokenshaNo},length(#{shokisaiHokenshaNo}) - 5),
        #{sakuseiYMD},
        (SELECT TO_CHAR(CURRENT_DATE,'yyyymm'))
        )
    </insert>
    
    <select id="get市町村コード" resultType="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT1001HihokenshaDaichoEntity">
        SELECT 
        Daicho."hihokenshaNo",
        Daicho."shichosonCode" 
        FROM 
        rgdb."DbT1001HihokenshaDaicho" Daicho
        WHERE 
        Daicho."hihokenshaNo" IN (
        SELECT 
        DISTINCT temp."hiHokenshaNo" 
        FROM 
        "TEMP_TABLE_KagoKetteiTsuchishoJyohoHokenshabunMeisai" temp) 
        AND Daicho."isDeleted" <![CDATA[<>]]> TRUE 
        ORDER BY Daicho."hihokenshaNo" DESC,
        Daicho."idoYMD" DESC,
        Daicho."edaNo" DESC
    </select>
    
    <select id="get新被保険者番号" parameterType="jp.co.ndensan.reams.uz.uza.biz.LasdecCode" 
        resultType="jp.co.ndensan.reams.db.dbc.entity.db.relate.kagoketteihokenshain.ShihihokenshabangoTempTableEntity">
        SELECT 
        Henkan."shichosonCode",
        Henkan."shinNo",
        Henkan."kyuNo" 
        FROM 
        rgdb."DbT7026ShinKyuHihokenshaNoHenkan" Henkan 
        WHERE Henkan."shichosonCode"=#{shichosonCode} 
        AND Henkan."kyuNo" IN (
        SELECT 
        DISTINCT temp."hiHokenshaNo" 
        FROM 
        "TEMP_TABLE_KagoKetteiTsuchishoJyohoHokenshabunMeisai" temp)
    </select>
    
    <update id="update保険者分情報_明細">
        UPDATE "TEMP_TABLE_KagoKetteiTsuchishoJyohoHokenshabunMeisai"
        SET "hiHokenshaNo"=B."shinNo" 
        FROM "TEMP_TABLE_Shihihokenshabango" AS B,
        "TEMP_TABLE_KagoKetteiTsuchishoJyohoHokenshabunMeisai" AS A
        WHERE A."hiHokenshaNo"=B."kyuNo"
    </update>
    
    <insert id="create新被保険者番号">
        CREATE TEMP TABLE "TEMP_TABLE_Shihihokenshabango"
        (
        "shichosonCode" rshare."UDD023LasdecCode",
        "shinNo" character(20),
        "kyuNo" character(20)) 
    </insert>
    
    <insert id="insert新被保険者番号" parameterType="jp.co.ndensan.reams.db.dbc.entity.db.relate.kagoketteihokenshain.ShihihokenshabangoTempTableEntity">
        INSERT INTO "TEMP_TABLE_Shihihokenshabango"
        (
        "shichosonCode",
        "shinNo",
        "kyuNo") 
        VALUES 
        (
        #{shichosonCode},
        #{shinNo},
        #{kyuNo})
    </insert>
</mapper>
