<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT3066ShichosonTokubetuKyufuServiceマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3066ShichosonTokubetuKyufuServiceMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT3066ShichosonTokubetuKyufuService">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3066ShichosonTokubetuKyufuServiceMapper.allColumns_DbT3066ShichosonTokubetuKyufuService" />
     FROM
         rgdb."DbT3066ShichosonTokubetuKyufuService"
     WHERE
         rgdb."DbT3066ShichosonTokubetuKyufuService"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT3066ShichosonTokubetuKyufuService">
         "DbT3066ShichosonTokubetuKyufuService"."serviceCode" as "dbT3066ShichosonTokubetuKyufuService_serviceCode",
         "DbT3066ShichosonTokubetuKyufuService"."serviceYukoKikanKaishiYMD" as "dbT3066ShichosonTokubetuKyufuService_serviceYukoKikanKaishiYMD",
         "DbT3066ShichosonTokubetuKyufuService"."rirekiNo" as "dbT3066ShichosonTokubetuKyufuService_rirekiNo",
         "DbT3066ShichosonTokubetuKyufuService"."insertDantaiCd" as "dbT3066ShichosonTokubetuKyufuService_insertDantaiCd",
         "DbT3066ShichosonTokubetuKyufuService"."insertTimestamp" as "dbT3066ShichosonTokubetuKyufuService_insertTimestamp",
         "DbT3066ShichosonTokubetuKyufuService"."insertReamsLoginId" as "dbT3066ShichosonTokubetuKyufuService_insertReamsLoginId",
         "DbT3066ShichosonTokubetuKyufuService"."insertContextId" as "dbT3066ShichosonTokubetuKyufuService_insertContextId",
         "DbT3066ShichosonTokubetuKyufuService"."isDeleted" as "dbT3066ShichosonTokubetuKyufuService_isDeleted",
         "DbT3066ShichosonTokubetuKyufuService"."updateCount" as "dbT3066ShichosonTokubetuKyufuService_updateCount",
         "DbT3066ShichosonTokubetuKyufuService"."lastUpdateTimestamp" as "dbT3066ShichosonTokubetuKyufuService_lastUpdateTimestamp",
         "DbT3066ShichosonTokubetuKyufuService"."lastUpdateReamsLoginId" as "dbT3066ShichosonTokubetuKyufuService_lastUpdateReamsLoginId",
         "DbT3066ShichosonTokubetuKyufuService"."serviceSeishikiName" as "dbT3066ShichosonTokubetuKyufuService_serviceSeishikiName",
         "DbT3066ShichosonTokubetuKyufuService"."serviceRyakushoName" as "dbT3066ShichosonTokubetuKyufuService_serviceRyakushoName",
         "DbT3066ShichosonTokubetuKyufuService"."serviceYukoKikanShuryoYMD" as "dbT3066ShichosonTokubetuKyufuService_serviceYukoKikanShuryoYMD",
         "DbT3066ShichosonTokubetuKyufuService"."serviceKubun" as "dbT3066ShichosonTokubetuKyufuService_serviceKubun",
         "DbT3066ShichosonTokubetuKyufuService"."tanisuNissu" as "dbT3066ShichosonTokubetuKyufuService_tanisuNissu",
         "DbT3066ShichosonTokubetuKyufuService"."shikyuGendoKijungaku" as "dbT3066ShichosonTokubetuKyufuService_shikyuGendoKijungaku",
         "DbT3066ShichosonTokubetuKyufuService"."kyufuritsuHikisageAriFlag" as "dbT3066ShichosonTokubetuKyufuService_kyufuritsuHikisageAriFlag",
         "DbT3066ShichosonTokubetuKyufuService"."torokuYMD" as "dbT3066ShichosonTokubetuKyufuService_torokuYMD",
         "DbT3066ShichosonTokubetuKyufuService"."henkoYMD" as "dbT3066ShichosonTokubetuKyufuService_henkoYMD",
         "DbT3066ShichosonTokubetuKyufuService"."logicalDeletedFlag" as "dbT3066ShichosonTokubetuKyufuService_logicalDeletedFlag"
    </sql>


    <!--テーブルDbT3066ShichosonTokubetuKyufuServiceの項目をDbT3066ShichosonTokubetuKyufuServiceEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT3066ShichosonTokubetuKyufuServiceEntity" type="jp.co.ndensan.reams.db.dbc.entity.db.basic.DbT3066ShichosonTokubetuKyufuServiceEntity" autoMapping="true">
        <id property="serviceCode" column="dbT3066ShichosonTokubetuKyufuService_serviceCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="serviceYukoKikanKaishiYMD" column="dbT3066ShichosonTokubetuKyufuService_serviceYukoKikanKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <id property="rirekiNo" column="dbT3066ShichosonTokubetuKyufuService_rirekiNo" />
        <result property="insertDantaiCd" column="dbT3066ShichosonTokubetuKyufuService_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT3066ShichosonTokubetuKyufuService_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT3066ShichosonTokubetuKyufuService_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT3066ShichosonTokubetuKyufuService_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT3066ShichosonTokubetuKyufuService_isDeleted" />
        <result property="updateCount" column="dbT3066ShichosonTokubetuKyufuService_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT3066ShichosonTokubetuKyufuService_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT3066ShichosonTokubetuKyufuService_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="serviceSeishikiName" column="dbT3066ShichosonTokubetuKyufuService_serviceSeishikiName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="serviceRyakushoName" column="dbT3066ShichosonTokubetuKyufuService_serviceRyakushoName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="serviceYukoKikanShuryoYMD" column="dbT3066ShichosonTokubetuKyufuService_serviceYukoKikanShuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="serviceKubun" column="dbT3066ShichosonTokubetuKyufuService_serviceKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="tanisuNissu" column="dbT3066ShichosonTokubetuKyufuService_tanisuNissu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="shikyuGendoKijungaku" column="dbT3066ShichosonTokubetuKyufuService_shikyuGendoKijungaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="kyufuritsuHikisageAriFlag" column="dbT3066ShichosonTokubetuKyufuService_kyufuritsuHikisageAriFlag" />
        <result property="torokuYMD" column="dbT3066ShichosonTokubetuKyufuService_torokuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="henkoYMD" column="dbT3066ShichosonTokubetuKyufuService_henkoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="logicalDeletedFlag" column="dbT3066ShichosonTokubetuKyufuService_logicalDeletedFlag" />
    </resultMap>

</mapper>
