<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT3112KogakuShikyuShinsaKetteiマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3112KogakuShikyuShinsaKetteiMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT3112KogakuShikyuShinsaKettei">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3112KogakuShikyuShinsaKetteiMapper.allColumns_DbT3112KogakuShikyuShinsaKettei" />
     FROM
         rgdb."DbT3112KogakuShikyuShinsaKettei"
     WHERE
         rgdb."DbT3112KogakuShikyuShinsaKettei"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT3112KogakuShikyuShinsaKettei">
         "DbT3112KogakuShikyuShinsaKettei"."ketteishaUketoriYM" as "dbT3112KogakuShikyuShinsaKettei_ketteishaUketoriYM",
         "DbT3112KogakuShikyuShinsaKettei"."shoKisaiHokenshaNo" as "dbT3112KogakuShikyuShinsaKettei_shoKisaiHokenshaNo",
         "DbT3112KogakuShikyuShinsaKettei"."hihokenshaNo" as "dbT3112KogakuShikyuShinsaKettei_hihokenshaNo",
         "DbT3112KogakuShikyuShinsaKettei"."serviceTeikyoYM" as "dbT3112KogakuShikyuShinsaKettei_serviceTeikyoYM",
         "DbT3112KogakuShikyuShinsaKettei"."tsuchishoNo" as "dbT3112KogakuShikyuShinsaKettei_tsuchishoNo",
         "DbT3112KogakuShikyuShinsaKettei"."insertDantaiCd" as "dbT3112KogakuShikyuShinsaKettei_insertDantaiCd",
         "DbT3112KogakuShikyuShinsaKettei"."insertTimestamp" as "dbT3112KogakuShikyuShinsaKettei_insertTimestamp",
         "DbT3112KogakuShikyuShinsaKettei"."insertReamsLoginId" as "dbT3112KogakuShikyuShinsaKettei_insertReamsLoginId",
         "DbT3112KogakuShikyuShinsaKettei"."insertContextId" as "dbT3112KogakuShikyuShinsaKettei_insertContextId",
         "DbT3112KogakuShikyuShinsaKettei"."isDeleted" as "dbT3112KogakuShikyuShinsaKettei_isDeleted",
         "DbT3112KogakuShikyuShinsaKettei"."updateCount" as "dbT3112KogakuShikyuShinsaKettei_updateCount",
         "DbT3112KogakuShikyuShinsaKettei"."lastUpdateTimestamp" as "dbT3112KogakuShikyuShinsaKettei_lastUpdateTimestamp",
         "DbT3112KogakuShikyuShinsaKettei"."lastUpdateReamsLoginId" as "dbT3112KogakuShikyuShinsaKettei_lastUpdateReamsLoginId",
         "DbT3112KogakuShikyuShinsaKettei"."riyoshaFutanGaku" as "dbT3112KogakuShikyuShinsaKettei_riyoshaFutanGaku",
         "DbT3112KogakuShikyuShinsaKettei"."shikyuKubunCode" as "dbT3112KogakuShikyuShinsaKettei_shikyuKubunCode",
         "DbT3112KogakuShikyuShinsaKettei"."ketteiYM" as "dbT3112KogakuShikyuShinsaKettei_ketteiYM",
         "DbT3112KogakuShikyuShinsaKettei"."jigyoKogakuShikyuGaku" as "dbT3112KogakuShikyuShinsaKettei_jigyoKogakuShikyuGaku"
    </sql>


    <!--テーブルDbT3112KogakuShikyuShinsaKetteiの項目をDbT3112KogakuShikyuShinsaKetteiEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT3112KogakuShikyuShinsaKetteiEntity" type="jp.co.ndensan.reams.db.dbc.entity.db.basic.DbT3112KogakuShikyuShinsaKetteiEntity" autoMapping="true">
        <id property="ketteishaUketoriYM" column="dbT3112KogakuShikyuShinsaKettei_ketteishaUketoriYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <id property="shoKisaiHokenshaNo" column="dbT3112KogakuShikyuShinsaKettei_shoKisaiHokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HokenshaNoTypeHandler"/>
        <id property="hihokenshaNo" column="dbT3112KogakuShikyuShinsaKettei_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="serviceTeikyoYM" column="dbT3112KogakuShikyuShinsaKettei_serviceTeikyoYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <id property="tsuchishoNo" column="dbT3112KogakuShikyuShinsaKettei_tsuchishoNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertDantaiCd" column="dbT3112KogakuShikyuShinsaKettei_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT3112KogakuShikyuShinsaKettei_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT3112KogakuShikyuShinsaKettei_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT3112KogakuShikyuShinsaKettei_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT3112KogakuShikyuShinsaKettei_isDeleted" />
        <result property="updateCount" column="dbT3112KogakuShikyuShinsaKettei_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT3112KogakuShikyuShinsaKettei_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT3112KogakuShikyuShinsaKettei_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="riyoshaFutanGaku" column="dbT3112KogakuShikyuShinsaKettei_riyoshaFutanGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="shikyuKubunCode" column="dbT3112KogakuShikyuShinsaKettei_shikyuKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="ketteiYM" column="dbT3112KogakuShikyuShinsaKettei_ketteiYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="jigyoKogakuShikyuGaku" column="dbT3112KogakuShikyuShinsaKettei_jigyoKogakuShikyuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
    </resultMap>

</mapper>
