<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT3047ShokanServicePlan200904とDbT3047ShokanServicePlan200904Entityの単テーブル(追記型)用MapperXMLです。 -->
<!-- 作者： 潘鶴 -->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3047ShokanServicePlan200904Mapper">
    <sql id="allColumns_DbT3047ShokanServicePlan200904">
         "DbT3047ShokanServicePlan200904"."insertTimestamp" as "dbT3047ShokanServicePlan200904_insertTimestamp",
         "DbT3047ShokanServicePlan200904"."insertDantaiCd" as "dbT3047ShokanServicePlan200904_insertDantaiCd",
         "DbT3047ShokanServicePlan200904"."insertReamsLoginId" as "dbT3047ShokanServicePlan200904_insertReamsLoginId",
         "DbT3047ShokanServicePlan200904"."insertContextId" as "dbT3047ShokanServicePlan200904_insertContextId",
         "DbT3047ShokanServicePlan200904"."isDeleted" as "dbT3047ShokanServicePlan200904_isDeleted",
         "DbT3047ShokanServicePlan200904"."updateCount" as "dbT3047ShokanServicePlan200904_updateCount",
         "DbT3047ShokanServicePlan200904"."lastUpdateTimestamp" as "dbT3047ShokanServicePlan200904_lastUpdateTimestamp",
         "DbT3047ShokanServicePlan200904"."lastUpdateReamsLoginId" as "dbT3047ShokanServicePlan200904_lastUpdateReamsLoginId",
         "DbT3047ShokanServicePlan200904"."hiHokenshaNo" as "dbT3047ShokanServicePlan200904_hiHokenshaNo",
         "DbT3047ShokanServicePlan200904"."serviceTeikyoYM" as "dbT3047ShokanServicePlan200904_serviceTeikyoYM",
         "DbT3047ShokanServicePlan200904"."seiriNo" as "dbT3047ShokanServicePlan200904_seiriNo",
         "DbT3047ShokanServicePlan200904"."jigyoshaNo" as "dbT3047ShokanServicePlan200904_jigyoshaNo",
         "DbT3047ShokanServicePlan200904"."yoshikiNo" as "dbT3047ShokanServicePlan200904_yoshikiNo",
         "DbT3047ShokanServicePlan200904"."meisaiNo" as "dbT3047ShokanServicePlan200904_meisaiNo",
         "DbT3047ShokanServicePlan200904"."renban" as "dbT3047ShokanServicePlan200904_renban",
         "DbT3047ShokanServicePlan200904"."shiteiKijunGaitoJigyoshaKubunCode" as "dbT3047ShokanServicePlan200904_shiteiKijunGaitoJigyoshaKubunCode",
         "DbT3047ShokanServicePlan200904"."kyotakuServiceSakuseiIraiYMD" as "dbT3047ShokanServicePlan200904_kyotakuServiceSakuseiIraiYMD",
         "DbT3047ShokanServicePlan200904"."serviceCode" as "dbT3047ShokanServicePlan200904_serviceCode",
         "DbT3047ShokanServicePlan200904"."tanisu" as "dbT3047ShokanServicePlan200904_tanisu",
         "DbT3047ShokanServicePlan200904"."kaisu" as "dbT3047ShokanServicePlan200904_kaisu",
         "DbT3047ShokanServicePlan200904"."serviceTanisu" as "dbT3047ShokanServicePlan200904_serviceTanisu",
         "DbT3047ShokanServicePlan200904"."tanisuTanka" as "dbT3047ShokanServicePlan200904_tanisuTanka",
         "DbT3047ShokanServicePlan200904"."serviceTanisuTotal" as "dbT3047ShokanServicePlan200904_serviceTanisuTotal",
         "DbT3047ShokanServicePlan200904"."seikyuKingaku" as "dbT3047ShokanServicePlan200904_seikyuKingaku",
         "DbT3047ShokanServicePlan200904"."tantokangoshienSemmoninNo" as "dbT3047ShokanServicePlan200904_tantokangoshienSemmoninNo",
         "DbT3047ShokanServicePlan200904"."tekiyo" as "dbT3047ShokanServicePlan200904_tekiyo",
         "DbT3047ShokanServicePlan200904"."shinsaHohoKubunCode" as "dbT3047ShokanServicePlan200904_shinsaHohoKubunCode",
         "DbT3047ShokanServicePlan200904"."shinsaYM" as "dbT3047ShokanServicePlan200904_shinsaYM",
         "DbT3047ShokanServicePlan200904"."shikyuKubunCode" as "dbT3047ShokanServicePlan200904_shikyuKubunCode",
         "DbT3047ShokanServicePlan200904"."tensuKingaku" as "dbT3047ShokanServicePlan200904_tensuKingaku",
         "DbT3047ShokanServicePlan200904"."shikyuKingaku" as "dbT3047ShokanServicePlan200904_shikyuKingaku",
         "DbT3047ShokanServicePlan200904"."zougenTen" as "dbT3047ShokanServicePlan200904_zougenTen",
         "DbT3047ShokanServicePlan200904"."sagakuKingaku" as "dbT3047ShokanServicePlan200904_sagakuKingaku",
         "DbT3047ShokanServicePlan200904"."zougenRiyu" as "dbT3047ShokanServicePlan200904_zougenRiyu",
         "DbT3047ShokanServicePlan200904"."fushikyuRiyu" as "dbT3047ShokanServicePlan200904_fushikyuRiyu",
         "DbT3047ShokanServicePlan200904"."kounyuKaishuRireki" as "dbT3047ShokanServicePlan200904_kounyuKaishuRireki"
    </sql>


    <!--ビューDbT3047ShokanServicePlan200904の項目をDbT3047ShokanServicePlan200904Entityの項目にマッピングします。-->
    <resultMap id="resultMap_DbT3047ShokanServicePlan200904Entity" type="jp.co.ndensan.reams.db.dbc.entity.db.basic.DbT3047ShokanServicePlan200904Entity" autoMapping="true">
        <id property="hiHokenshaNo" column="dbT3047ShokanServicePlan200904_hiHokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="serviceTeikyoYM" column="dbT3047ShokanServicePlan200904_serviceTeikyoYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <id property="seiriNo" column="dbT3047ShokanServicePlan200904_seiriNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="jigyoshaNo" column="dbT3047ShokanServicePlan200904_jigyoshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.JigyoshaNoTypeHandler"/>
        <id property="yoshikiNo" column="dbT3047ShokanServicePlan200904_yoshikiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="meisaiNo" column="dbT3047ShokanServicePlan200904_meisaiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="renban" column="dbT3047ShokanServicePlan200904_renban" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT3047ShokanServicePlan200904_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertDantaiCd" column="dbT3047ShokanServicePlan200904_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT3047ShokanServicePlan200904_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT3047ShokanServicePlan200904_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT3047ShokanServicePlan200904_isDeleted" />
        <result property="updateCount" column="dbT3047ShokanServicePlan200904_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT3047ShokanServicePlan200904_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT3047ShokanServicePlan200904_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shiteiKijunGaitoJigyoshaKubunCode" column="dbT3047ShokanServicePlan200904_shiteiKijunGaitoJigyoshaKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kyotakuServiceSakuseiIraiYMD" column="dbT3047ShokanServicePlan200904_kyotakuServiceSakuseiIraiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="serviceCode" column="dbT3047ShokanServicePlan200904_serviceCode" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ServiceCodeTypeHandler"/>
        <result property="tanisu" column="dbT3047ShokanServicePlan200904_tanisu" />
        <result property="kaisu" column="dbT3047ShokanServicePlan200904_kaisu" />
        <result property="serviceTanisu" column="dbT3047ShokanServicePlan200904_serviceTanisu" />
        <result property="tanisuTanka" column="dbT3047ShokanServicePlan200904_tanisuTanka" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="serviceTanisuTotal" column="dbT3047ShokanServicePlan200904_serviceTanisuTotal" />
        <result property="seikyuKingaku" column="dbT3047ShokanServicePlan200904_seikyuKingaku" />
        <result property="tantokangoshienSemmoninNo" column="dbT3047ShokanServicePlan200904_tantokangoshienSemmoninNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="tekiyo" column="dbT3047ShokanServicePlan200904_tekiyo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shinsaHohoKubunCode" column="dbT3047ShokanServicePlan200904_shinsaHohoKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shinsaYM" column="dbT3047ShokanServicePlan200904_shinsaYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="shikyuKubunCode" column="dbT3047ShokanServicePlan200904_shikyuKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="tensuKingaku" column="dbT3047ShokanServicePlan200904_tensuKingaku" />
        <result property="shikyuKingaku" column="dbT3047ShokanServicePlan200904_shikyuKingaku" />
        <result property="zougenTen" column="dbT3047ShokanServicePlan200904_zougenTen" />
        <result property="sagakuKingaku" column="dbT3047ShokanServicePlan200904_sagakuKingaku" />
        <result property="zougenRiyu" column="dbT3047ShokanServicePlan200904_zougenRiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="fushikyuRiyu" column="dbT3047ShokanServicePlan200904_fushikyuRiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kounyuKaishuRireki" column="dbT3047ShokanServicePlan200904_kounyuKaishuRireki" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
</mapper>
