<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT3094JutakuKaishuRiyushoTesuryoKetteiマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3094JutakuKaishuRiyushoTesuryoKetteiMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT3094JutakuKaishuRiyushoTesuryoKettei">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3094JutakuKaishuRiyushoTesuryoKetteiMapper.allColumns_DbT3094JutakuKaishuRiyushoTesuryoKettei" />
     FROM
         rgdb."DbT3094JutakuKaishuRiyushoTesuryoKettei"
     WHERE
         rgdb."DbT3094JutakuKaishuRiyushoTesuryoKettei"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT3094JutakuKaishuRiyushoTesuryoKettei">
         "DbT3094JutakuKaishuRiyushoTesuryoKettei"."riyushoSakuseiJigyoshaNo" as "dbT3094JutakuKaishuRiyushoTesuryoKettei_riyushoSakuseiJigyoshaNo",
         "DbT3094JutakuKaishuRiyushoTesuryoKettei"."ketteiYMD" as "dbT3094JutakuKaishuRiyushoTesuryoKettei_ketteiYMD",
         "DbT3094JutakuKaishuRiyushoTesuryoKettei"."rirekiNo" as "dbT3094JutakuKaishuRiyushoTesuryoKettei_rirekiNo",
         "DbT3094JutakuKaishuRiyushoTesuryoKettei"."insertDantaiCd" as "dbT3094JutakuKaishuRiyushoTesuryoKettei_insertDantaiCd",
         "DbT3094JutakuKaishuRiyushoTesuryoKettei"."insertTimestamp" as "dbT3094JutakuKaishuRiyushoTesuryoKettei_insertTimestamp",
         "DbT3094JutakuKaishuRiyushoTesuryoKettei"."insertReamsLoginId" as "dbT3094JutakuKaishuRiyushoTesuryoKettei_insertReamsLoginId",
         "DbT3094JutakuKaishuRiyushoTesuryoKettei"."insertContextId" as "dbT3094JutakuKaishuRiyushoTesuryoKettei_insertContextId",
         "DbT3094JutakuKaishuRiyushoTesuryoKettei"."isDeleted" as "dbT3094JutakuKaishuRiyushoTesuryoKettei_isDeleted",
         "DbT3094JutakuKaishuRiyushoTesuryoKettei"."updateCount" as "dbT3094JutakuKaishuRiyushoTesuryoKettei_updateCount",
         "DbT3094JutakuKaishuRiyushoTesuryoKettei"."lastUpdateTimestamp" as "dbT3094JutakuKaishuRiyushoTesuryoKettei_lastUpdateTimestamp",
         "DbT3094JutakuKaishuRiyushoTesuryoKettei"."lastUpdateReamsLoginId" as "dbT3094JutakuKaishuRiyushoTesuryoKettei_lastUpdateReamsLoginId",
         "DbT3094JutakuKaishuRiyushoTesuryoKettei"."shikyu_FushikyuKetteiYMD" as "dbT3094JutakuKaishuRiyushoTesuryoKettei_shikyu_FushikyuKetteiYMD",
         "DbT3094JutakuKaishuRiyushoTesuryoKettei"."shikyu_FushikyuKubun" as "dbT3094JutakuKaishuRiyushoTesuryoKettei_shikyu_FushikyuKubun",
         "DbT3094JutakuKaishuRiyushoTesuryoKettei"."fushikyuRiyu" as "dbT3094JutakuKaishuRiyushoTesuryoKettei_fushikyuRiyu",
         "DbT3094JutakuKaishuRiyushoTesuryoKettei"."tesuryoShiharaiYoteiYMD" as "dbT3094JutakuKaishuRiyushoTesuryoKettei_tesuryoShiharaiYoteiYMD",
         "DbT3094JutakuKaishuRiyushoTesuryoKettei"."shukeiNo" as "dbT3094JutakuKaishuRiyushoTesuryoKettei_shukeiNo",
         "DbT3094JutakuKaishuRiyushoTesuryoKettei"."ketteiTsuchiSakuseiYMD" as "dbT3094JutakuKaishuRiyushoTesuryoKettei_ketteiTsuchiSakuseiYMD",
         "DbT3094JutakuKaishuRiyushoTesuryoKettei"."furikomiTsuchiSakuseiYMD" as "dbT3094JutakuKaishuRiyushoTesuryoKettei_furikomiTsuchiSakuseiYMD",
         "DbT3094JutakuKaishuRiyushoTesuryoKettei"."uketoriYM" as "dbT3094JutakuKaishuRiyushoTesuryoKettei_uketoriYM",
         "DbT3094JutakuKaishuRiyushoTesuryoKettei"."kozaID" as "dbT3094JutakuKaishuRiyushoTesuryoKettei_kozaID"
    </sql>


    <!--テーブルDbT3094JutakuKaishuRiyushoTesuryoKetteiの項目をDbT3094JutakuKaishuRiyushoTesuryoKetteiEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT3094JutakuKaishuRiyushoTesuryoKetteiEntity" type="jp.co.ndensan.reams.db.dbc.entity.db.basic.DbT3094JutakuKaishuRiyushoTesuryoKetteiEntity" autoMapping="true">
        <id property="riyushoSakuseiJigyoshaNo" column="dbT3094JutakuKaishuRiyushoTesuryoKettei_riyushoSakuseiJigyoshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.JigyoshaNoTypeHandler"/>
        <id property="ketteiYMD" column="dbT3094JutakuKaishuRiyushoTesuryoKettei_ketteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <id property="rirekiNo" column="dbT3094JutakuKaishuRiyushoTesuryoKettei_rirekiNo" />
        <result property="insertDantaiCd" column="dbT3094JutakuKaishuRiyushoTesuryoKettei_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT3094JutakuKaishuRiyushoTesuryoKettei_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT3094JutakuKaishuRiyushoTesuryoKettei_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT3094JutakuKaishuRiyushoTesuryoKettei_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT3094JutakuKaishuRiyushoTesuryoKettei_isDeleted" />
        <result property="updateCount" column="dbT3094JutakuKaishuRiyushoTesuryoKettei_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT3094JutakuKaishuRiyushoTesuryoKettei_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT3094JutakuKaishuRiyushoTesuryoKettei_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shikyu_FushikyuKetteiYMD" column="dbT3094JutakuKaishuRiyushoTesuryoKettei_shikyu_FushikyuKetteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shikyu_FushikyuKubun" column="dbT3094JutakuKaishuRiyushoTesuryoKettei_shikyu_FushikyuKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="fushikyuRiyu" column="dbT3094JutakuKaishuRiyushoTesuryoKettei_fushikyuRiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="tesuryoShiharaiYoteiYMD" column="dbT3094JutakuKaishuRiyushoTesuryoKettei_tesuryoShiharaiYoteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shukeiNo" column="dbT3094JutakuKaishuRiyushoTesuryoKettei_shukeiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="ketteiTsuchiSakuseiYMD" column="dbT3094JutakuKaishuRiyushoTesuryoKettei_ketteiTsuchiSakuseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="furikomiTsuchiSakuseiYMD" column="dbT3094JutakuKaishuRiyushoTesuryoKettei_furikomiTsuchiSakuseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="uketoriYM" column="dbT3094JutakuKaishuRiyushoTesuryoKettei_uketoriYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="kozaID" column="dbT3094JutakuKaishuRiyushoTesuryoKettei_kozaID" />
    </resultMap>

</mapper>
