<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT3012YoboKeikakuJikoSakuseiGokeiマスタとエンティティのマッピング用XMLです。 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3012YoboKeikakuJikoSakuseiGokeiMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT3012YoboKeikakuJikoSakuseiGokei">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3012YoboKeikakuJikoSakuseiGokeiMapper.allColumns_DbT3012YoboKeikakuJikoSakuseiGokei" />
     FROM
         rgdb."DbT3012YoboKeikakuJikoSakuseiGokei"
     WHERE
         rgdb."DbT3012YoboKeikakuJikoSakuseiGokei"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT3012YoboKeikakuJikoSakuseiGokei">
         "DbT3012YoboKeikakuJikoSakuseiGokei"."hihokenshaNo" as "dbT3012YoboKeikakuJikoSakuseiGokei_hihokenshaNo",
         "DbT3012YoboKeikakuJikoSakuseiGokei"."taishoYM" as "dbT3012YoboKeikakuJikoSakuseiGokei_taishoYM",
         "DbT3012YoboKeikakuJikoSakuseiGokei"."rirekiNo" as "dbT3012YoboKeikakuJikoSakuseiGokei_rirekiNo",
         "DbT3012YoboKeikakuJikoSakuseiGokei"."kyotakuServiceKubun" as "dbT3012YoboKeikakuJikoSakuseiGokei_kyotakuServiceKubun",
         "DbT3012YoboKeikakuJikoSakuseiGokei"."serviceTeikyoJigyoshaNo" as "dbT3012YoboKeikakuJikoSakuseiGokei_serviceTeikyoJigyoshaNo",
         "DbT3012YoboKeikakuJikoSakuseiGokei"."serviceShuruiCode" as "dbT3012YoboKeikakuJikoSakuseiGokei_serviceShuruiCode",
         "DbT3012YoboKeikakuJikoSakuseiGokei"."insertDantaiCd" as "dbT3012YoboKeikakuJikoSakuseiGokei_insertDantaiCd",
         "DbT3012YoboKeikakuJikoSakuseiGokei"."insertTimestamp" as "dbT3012YoboKeikakuJikoSakuseiGokei_insertTimestamp",
         "DbT3012YoboKeikakuJikoSakuseiGokei"."insertReamsLoginId" as "dbT3012YoboKeikakuJikoSakuseiGokei_insertReamsLoginId",
         "DbT3012YoboKeikakuJikoSakuseiGokei"."insertContextId" as "dbT3012YoboKeikakuJikoSakuseiGokei_insertContextId",
         "DbT3012YoboKeikakuJikoSakuseiGokei"."isDeleted" as "dbT3012YoboKeikakuJikoSakuseiGokei_isDeleted",
         "DbT3012YoboKeikakuJikoSakuseiGokei"."updateCount" as "dbT3012YoboKeikakuJikoSakuseiGokei_updateCount",
         "DbT3012YoboKeikakuJikoSakuseiGokei"."lastUpdateTimestamp" as "dbT3012YoboKeikakuJikoSakuseiGokei_lastUpdateTimestamp",
         "DbT3012YoboKeikakuJikoSakuseiGokei"."lastUpdateReamsLoginId" as "dbT3012YoboKeikakuJikoSakuseiGokei_lastUpdateReamsLoginId",
         "DbT3012YoboKeikakuJikoSakuseiGokei"."keikakuTaniSu" as "dbT3012YoboKeikakuJikoSakuseiGokei_keikakuTaniSu"
    </sql>


    <!--テーブルDbT3012YoboKeikakuJikoSakuseiGokeiの項目をDbT3012YoboKeikakuJikoSakuseiGokeiEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT3012YoboKeikakuJikoSakuseiGokeiEntity" type="jp.co.ndensan.reams.db.dbc.entity.db.basic.DbT3012YoboKeikakuJikoSakuseiGokeiEntity" autoMapping="true">
        <id property="hihokenshaNo" column="dbT3012YoboKeikakuJikoSakuseiGokei_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="taishoYM" column="dbT3012YoboKeikakuJikoSakuseiGokei_taishoYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <id property="rirekiNo" column="dbT3012YoboKeikakuJikoSakuseiGokei_rirekiNo" />
        <id property="kyotakuServiceKubun" column="dbT3012YoboKeikakuJikoSakuseiGokei_kyotakuServiceKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="serviceTeikyoJigyoshaNo" column="dbT3012YoboKeikakuJikoSakuseiGokei_serviceTeikyoJigyoshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.JigyoshaNoTypeHandler"/>
        <id property="serviceShuruiCode" column="dbT3012YoboKeikakuJikoSakuseiGokei_serviceShuruiCode" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ServiceShuruiCodeTypeHandler"/>
        <result property="insertDantaiCd" column="dbT3012YoboKeikakuJikoSakuseiGokei_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT3012YoboKeikakuJikoSakuseiGokei_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT3012YoboKeikakuJikoSakuseiGokei_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT3012YoboKeikakuJikoSakuseiGokei_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT3012YoboKeikakuJikoSakuseiGokei_isDeleted" />
        <result property="updateCount" column="dbT3012YoboKeikakuJikoSakuseiGokei_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT3012YoboKeikakuJikoSakuseiGokei_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT3012YoboKeikakuJikoSakuseiGokei_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="keikakuTaniSu" column="dbT3012YoboKeikakuJikoSakuseiGokei_keikakuTaniSu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
    </resultMap>

</mapper>
