<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT3026KyufujissekiFukushiYoguHanbaihiマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3026KyufujissekiFukushiYoguHanbaihiMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT3026KyufujissekiFukushiYoguHanbaihi">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.basic.IDbT3026KyufujissekiFukushiYoguHanbaihiMapper.allColumns_DbT3026KyufujissekiFukushiYoguHanbaihi" />
     FROM
         rgdb."DbT3026KyufujissekiFukushiYoguHanbaihi"
     WHERE
         rgdb."DbT3026KyufujissekiFukushiYoguHanbaihi"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT3026KyufujissekiFukushiYoguHanbaihi">
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."kokanJohoShikibetsuNo" as "dbT3026KyufujissekiFukushiYoguHanbaihi_kokanJohoShikibetsuNo",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."inputShikibetsuNo" as "dbT3026KyufujissekiFukushiYoguHanbaihi_inputShikibetsuNo",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."recodeShubetsuCode" as "dbT3026KyufujissekiFukushiYoguHanbaihi_recodeShubetsuCode",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."shokisaiHokenshaNo" as "dbT3026KyufujissekiFukushiYoguHanbaihi_shokisaiHokenshaNo",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."hiHokenshaNo" as "dbT3026KyufujissekiFukushiYoguHanbaihi_hiHokenshaNo",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."serviceTeikyoYM" as "dbT3026KyufujissekiFukushiYoguHanbaihi_serviceTeikyoYM",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."jigyoshoNo" as "dbT3026KyufujissekiFukushiYoguHanbaihi_jigyoshoNo",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."toshiNo" as "dbT3026KyufujissekiFukushiYoguHanbaihi_toshiNo",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."meisaiNo" as "dbT3026KyufujissekiFukushiYoguHanbaihi_meisaiNo",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."insertDantaiCd" as "dbT3026KyufujissekiFukushiYoguHanbaihi_insertDantaiCd",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."insertTimestamp" as "dbT3026KyufujissekiFukushiYoguHanbaihi_insertTimestamp",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."insertReamsLoginId" as "dbT3026KyufujissekiFukushiYoguHanbaihi_insertReamsLoginId",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."insertContextId" as "dbT3026KyufujissekiFukushiYoguHanbaihi_insertContextId",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."isDeleted" as "dbT3026KyufujissekiFukushiYoguHanbaihi_isDeleted",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."updateCount" as "dbT3026KyufujissekiFukushiYoguHanbaihi_updateCount",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."lastUpdateTimestamp" as "dbT3026KyufujissekiFukushiYoguHanbaihi_lastUpdateTimestamp",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."lastUpdateReamsLoginId" as "dbT3026KyufujissekiFukushiYoguHanbaihi_lastUpdateReamsLoginId",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."serviceCode" as "dbT3026KyufujissekiFukushiYoguHanbaihi_serviceCode",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."fukushiyoguHanbaiYMD" as "dbT3026KyufujissekiFukushiYoguHanbaihi_fukushiyoguHanbaiYMD",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."fukushiyoguShohinName" as "dbT3026KyufujissekiFukushiYoguHanbaihi_fukushiyoguShohinName",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."fukushiyoguSyumokuCode" as "dbT3026KyufujissekiFukushiYoguHanbaihi_fukushiyoguSyumokuCode",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."fukushiyoguSeizoJigyoshaName" as "dbT3026KyufujissekiFukushiYoguHanbaihi_fukushiyoguSeizoJigyoshaName",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."fukushiyoguHanbaiJigyoshaName" as "dbT3026KyufujissekiFukushiYoguHanbaihi_fukushiyoguHanbaiJigyoshaName",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."hanbaiKingaku" as "dbT3026KyufujissekiFukushiYoguHanbaihi_hanbaiKingaku",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."tekiyo" as "dbT3026KyufujissekiFukushiYoguHanbaihi_tekiyo",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."shinsaYM" as "dbT3026KyufujissekiFukushiYoguHanbaihi_shinsaYM",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."seiriNo" as "dbT3026KyufujissekiFukushiYoguHanbaihi_seiriNo",
         "DbT3026KyufujissekiFukushiYoguHanbaihi"."torikomiYM" as "dbT3026KyufujissekiFukushiYoguHanbaihi_torikomiYM"
    </sql>


    <!--テーブルDbT3026KyufujissekiFukushiYoguHanbaihiの項目をDbT3026KyufujissekiFukushiYoguHanbaihiEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT3026KyufujissekiFukushiYoguHanbaihiEntity" type="jp.co.ndensan.reams.db.dbc.entity.db.basic.DbT3026KyufujissekiFukushiYoguHanbaihiEntity" autoMapping="true">
        <id property="kokanJohoShikibetsuNo" column="dbT3026KyufujissekiFukushiYoguHanbaihi_kokanJohoShikibetsuNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.KokanShikibetsuNoTypeHandler"/>
        <id property="inputShikibetsuNo" column="dbT3026KyufujissekiFukushiYoguHanbaihi_inputShikibetsuNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.NyuryokuShikibetsuNoTypeHandler"/>
        <id property="recodeShubetsuCode" column="dbT3026KyufujissekiFukushiYoguHanbaihi_recodeShubetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="shokisaiHokenshaNo" column="dbT3026KyufujissekiFukushiYoguHanbaihi_shokisaiHokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HokenshaNoTypeHandler"/>
        <id property="hiHokenshaNo" column="dbT3026KyufujissekiFukushiYoguHanbaihi_hiHokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="serviceTeikyoYM" column="dbT3026KyufujissekiFukushiYoguHanbaihi_serviceTeikyoYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <id property="jigyoshoNo" column="dbT3026KyufujissekiFukushiYoguHanbaihi_jigyoshoNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.JigyoshaNoTypeHandler"/>
        <id property="toshiNo" column="dbT3026KyufujissekiFukushiYoguHanbaihi_toshiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="meisaiNo" column="dbT3026KyufujissekiFukushiYoguHanbaihi_meisaiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertDantaiCd" column="dbT3026KyufujissekiFukushiYoguHanbaihi_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT3026KyufujissekiFukushiYoguHanbaihi_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT3026KyufujissekiFukushiYoguHanbaihi_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT3026KyufujissekiFukushiYoguHanbaihi_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT3026KyufujissekiFukushiYoguHanbaihi_isDeleted" />
        <result property="updateCount" column="dbT3026KyufujissekiFukushiYoguHanbaihi_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT3026KyufujissekiFukushiYoguHanbaihi_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT3026KyufujissekiFukushiYoguHanbaihi_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="serviceCode" column="dbT3026KyufujissekiFukushiYoguHanbaihi_serviceCode" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ServiceCodeTypeHandler"/>
        <result property="fukushiyoguHanbaiYMD" column="dbT3026KyufujissekiFukushiYoguHanbaihi_fukushiyoguHanbaiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="fukushiyoguShohinName" column="dbT3026KyufujissekiFukushiYoguHanbaihi_fukushiyoguShohinName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="fukushiyoguSyumokuCode" column="dbT3026KyufujissekiFukushiYoguHanbaihi_fukushiyoguSyumokuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="fukushiyoguSeizoJigyoshaName" column="dbT3026KyufujissekiFukushiYoguHanbaihi_fukushiyoguSeizoJigyoshaName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="fukushiyoguHanbaiJigyoshaName" column="dbT3026KyufujissekiFukushiYoguHanbaihi_fukushiyoguHanbaiJigyoshaName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hanbaiKingaku" column="dbT3026KyufujissekiFukushiYoguHanbaihi_hanbaiKingaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="tekiyo" column="dbT3026KyufujissekiFukushiYoguHanbaihi_tekiyo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shinsaYM" column="dbT3026KyufujissekiFukushiYoguHanbaihi_shinsaYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="seiriNo" column="dbT3026KyufujissekiFukushiYoguHanbaihi_seiriNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="torikomiYM" column="dbT3026KyufujissekiFukushiYoguHanbaihi_torikomiYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
    </resultMap>

</mapper>
