<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBU-0430-020 linghuhang -->

<mapper namespace="jp.co.ndensan.reams.db.dbu.persistence.db.mapper.relate.kyokaisogaitosha.IKyokaisoGaitoshaMapper">

    <select resultOrdered="true" id="select一覧情報" parameterType="jp.co.ndensan.reams.db.dbu.definition.mybatisprm.kyokaisogaitosha.KyokaisoGaitoshaParameter"
            resultMap="ResultMap_KyokaisoGaitoshaRelateEntity" fetchSize="500">
        SELECT
        dbT1006KyokaisoGaitosha."hihokenshaNo" AS dbT1006KyokaisoGaitosha_hihokenshaNo,
        dbT1006KyokaisoGaitosha."linkNo" AS dbT1006KyokaisoGaitosha_linkNo,
        dbT1006KyokaisoGaitosha."rirekiNo" AS dbT1006KyokaisoGaitosha_rirekiNo,
        dbT1013KyokaisoSochiShinsei."shinseiYMD" AS dbT1013KyokaisoSochiShinsei_shinseiYMD,
        dbT1013KyokaisoSochiShinsei."uketsukeYMD" AS dbT1013KyokaisoSochiShinsei_uketsukeYMD,
        dbT1006KyokaisoGaitosha."tekiyoKaishiYMD" AS dbT1006KyokaisoGaitosha_tekiyoKaishiYMD,
        dbT1006KyokaisoGaitosha."tekiyoShuryoYMD" AS dbT1006KyokaisoGaitosha_tekiyoShuryoYMD,
        dbT1013KyokaisoSochiShinsei."sochiGaito_HigaitoKubun" AS dbT1013KyokaisoSochiShinsei_sochiGaito_HigaitoKubun,
        dbT1006KyokaisoGaitosha."kyokaisoSochiKetteiYMD" AS dbT1006KyokaisoGaitosha_kyokaisoSochiKetteiYMD,
        dbT1006KyokaisoGaitosha."kyuufugakuGengakuKisaiKiajoFlag" AS dbT1006KyokaisoGaitosha_kyuufugakuGengakuKisaiKiajoFlag,
        dbT1006KyokaisoGaitosha."hyojunFutanGengakuGaitoFlag" AS dbT1006KyokaisoGaitosha_hyojunFutanGengakuGaitoFlag,
        dbT1006KyokaisoGaitosha."hyojunFutanKeigengoFutangaku" AS dbT1006KyokaisoGaitosha_hyojunFutanKeigengoFutangaku,
        dbT1006KyokaisoGaitosha."kyojuhinadoFutangakugengakuGaitoFlag" AS dbT1006KyokaisoGaitosha_kyojuhinadoFutangakugengakuGaitoFlag,
        dbT1006KyokaisoGaitosha."kyojuhiKeigengoKyoshitsuShuruiCode" AS dbT1006KyokaisoGaitosha_kyojuhiKeigengoKyoshitsuShuruiCode,
        dbT1006KyokaisoGaitosha."kyojuhiKeigengoHutangaku" AS dbT1006KyokaisoGaitosha_kyojuhiKeigengoHutangaku,
        dbT1006KyokaisoGaitosha."shokuhiKeigengoHutangakuGaitoFlag" AS dbT1006KyokaisoGaitosha_shokuhiKeigengoHutangakuGaitoFlag,
        dbT1006KyokaisoGaitosha."shokuhiKeigengoHutangaku" AS dbT1006KyokaisoGaitosha_shokuhiKeigengoHutangaku,
        dbT1006KyokaisoGaitosha."kogakuServicehiJogengakuGengakuGaitoFlag" AS dbT1006KyokaisoGaitosha_kogakuServiceFlag,
        dbT1006KyokaisoGaitosha."kogakuServicehiJogengakuGengakugoJogengaku" AS dbT1006KyokaisoGaitosha_kogakuService,
        dbT1006KyokaisoGaitosha."hokenryoNofuGengakuFlag" AS dbT1006KyokaisoGaitosha_hokenryoNofuGengakuFlag,
        dbT1013KyokaisoSochiShinsei."shinsei_HaishiKubun" AS dbT1013KyokaisoSochiShinsei_shinsei_HaishiKubun,
        dbT1013KyokaisoSochiShinsei."shinsei_HaishiYMD" AS dbT1013KyokaisoSochiShinsei_shinsei_HaishiYMD,
        dbT1013KyokaisoSochiShinsei."hogoHuyoKonkyoGengakuKingaku" AS dbT1013KyokaisoSochiShinsei_hogoHuyoKonkyoGengakuKingaku,
        dbT1013KyokaisoSochiShinsei."kyokaisoShomeishoKofuYMD" AS dbT1013KyokaisoSochiShinsei_kyokaisoShomeishoKofuYMD,
        dbT1013KyokaisoSochiShinsei."kyufuGengakuTorikeshi_GengakuJikofutanGetsugaku" AS dbT1013KyokaisoSochiShinsei_kyufuGengakuTorikeshi,
        dbT1013KyokaisoSochiShinsei."kyojuhiKeigen_GengakuJikofutanGetsugaku" AS dbT1013KyokaisoSochiShinsei_kyojuhiKeigen,
        dbT1013KyokaisoSochiShinsei."kyojuhiKeigen_FutangendogakuDankaiCode" AS dbT1013KyokaisoSochiShinsei_kyojuhiKeigenCode,
        dbT1013KyokaisoSochiShinsei."shokuhiKeigen_GengakuJikofutanGetsugaku" AS dbT1013KyokaisoSochiShinsei_shokuhiKeigen,
        dbT1013KyokaisoSochiShinsei."shokuhiKeigen_FutangendogakuDankaiCode" AS dbT1013KyokaisoSochiShinsei_shokuhiKeigenCode,
        dbT1013KyokaisoSochiShinsei."riyoshaFutanSetaiGassanGaku_GengakuJokofutanGetsugaku" AS dbT1013KyokaisoSochiShinsei_riyoshaFutanSetaiGassanGaku,
        dbT1013KyokaisoSochiShinsei."hokenryoGengaku_GengakuJikofutanGetsugaku" AS dbT1013KyokaisoSochiShinsei_hokenryoGengaku,
        dbT1013KyokaisoSochiShinsei."gengakuJikofutanGetsugakuGokeigaku" AS dbT1013KyokaisoSochiShinsei_gengakuJikofutanGetsugakuGokeigaku
        , HokenryoDankai.dbT1007_gengakuGoHokenryoDankai AS dbT1007KyokaisoHokenryoDankai_gengakuGoHokenryoDankai
        FROM
        rgdb."DbT1006KyokaisoGaitosha" AS dbT1006KyokaisoGaitosha
        LEFT OUTER JOIN
        rgdb."DbT1013KyokaisoSochiShinsei" AS dbT1013KyokaisoSochiShinsei
        ON
        dbT1006KyokaisoGaitosha."hihokenshaNo" = dbT1013KyokaisoSochiShinsei."hihokenshaNo"
        AND dbT1006KyokaisoGaitosha."linkNo" = dbT1013KyokaisoSochiShinsei."linkNo"
        AND dbT1013KyokaisoSochiShinsei."logicalDeletedFlag" = FALSE
        LEFT OUTER JOIN
(SELECT
	dbt1007."gengakuGoHokenryoDankai" AS dbt1007_gengakuGoHokenryoDankai,
	dbt1007."hihokenshaNo" AS dbt1007_hihokenshaNo,
	dbt1007."linkNo" AS dbt1007_linkNo
FROM
	rgdb."DbT1007KyokaisoHokenryoDankai" AS dbt1007
INNER JOIN 
	(
		SELECT
			MAX(dbt1007Kyokaiso."tekiyoKaishiYM") AS dbt1007Kyokaiso_tekiyoKaishiYM,
			dbt1007Kyokaiso."hihokenshaNo" AS dbt1007Kyokaiso_hihokenshaNo,
			dbt1007Kyokaiso."linkNo" AS dbt1007Kyokaiso_linkNo
		FROM
			rgdb."DbT1007KyokaisoHokenryoDankai" AS dbt1007Kyokaiso
		WHERE
			dbt1007Kyokaiso."logicalDeletedFlag" = FALSE
		GROUP BY
			dbt1007Kyokaiso."hihokenshaNo",
			dbt1007Kyokaiso."linkNo"
	) AS dbt1007K
ON
	dbt1007."hihokenshaNo" = dbt1007K.dbt1007Kyokaiso_hihokenshaNo
AND dbt1007."linkNo" = dbt1007K.dbt1007Kyokaiso_linkNo
AND	dbt1007."tekiyoKaishiYM" = dbt1007K.dbt1007Kyokaiso_tekiyoKaishiYM
) AS HokenryoDankai
        ON
        dbT1006KyokaisoGaitosha."hihokenshaNo" = HokenryoDankai.dbt1007_hihokenshaNo
        AND dbT1006KyokaisoGaitosha."linkNo" = HokenryoDankai.dbT1007_linkNo
        WHERE
        dbT1006KyokaisoGaitosha."hihokenshaNo" = #{被保険者番号}
        AND dbT1006KyokaisoGaitosha."logicalDeletedFlag" = FALSE
    </select>

    <select resultOrdered="true" id="select境界層該当者" parameterType="jp.co.ndensan.reams.db.dbu.definition.mybatisprm.kyokaisogaitosha.KyokaisoGaitoshaParameter"
            resultMap="ResultMap_KyokaisoGaitoRelateEntity" fetchSize="500">
        SELECT
        dbT1006KyokaisoGaitosha.*,
        dbT1013KyokaisoSochiShinsei.*
        FROM
        rgdb."DbT1006KyokaisoGaitosha" AS dbT1006KyokaisoGaitosha
        LEFT OUTER JOIN
        rgdb."DbT1013KyokaisoSochiShinsei" AS dbT1013KyokaisoSochiShinsei
        ON
        dbT1006KyokaisoGaitosha."hihokenshaNo" = dbT1013KyokaisoSochiShinsei."hihokenshaNo"
        AND dbT1006KyokaisoGaitosha."linkNo" = dbT1013KyokaisoSochiShinsei."linkNo"
        AND dbT1013KyokaisoSochiShinsei."logicalDeletedFlag" = FALSE
        LEFT OUTER JOIN
(SELECT
	dbt1007."gengakuGoHokenryoDankai" AS dbt1007_gengakuGoHokenryoDankai,
	dbt1007."hihokenshaNo" AS dbt1007_hihokenshaNo,
	dbt1007."linkNo" AS dbt1007_linkNo
FROM
	rgdb."DbT1007KyokaisoHokenryoDankai" AS dbt1007
INNER JOIN 
	(
		SELECT
			MAX(dbt1007Kyokaiso."tekiyoKaishiYM") AS dbt1007Kyokaiso_tekiyoKaishiYM,
			dbt1007Kyokaiso."hihokenshaNo" AS dbt1007Kyokaiso_hihokenshaNo,
			dbt1007Kyokaiso."linkNo" AS dbt1007Kyokaiso_linkNo
		FROM
			rgdb."DbT1007KyokaisoHokenryoDankai" AS dbt1007Kyokaiso
		WHERE
			dbt1007Kyokaiso."logicalDeletedFlag" = FALSE
		GROUP BY
			dbt1007Kyokaiso."hihokenshaNo",
			dbt1007Kyokaiso."linkNo"
	) AS dbt1007K
ON
	dbt1007."hihokenshaNo" = dbt1007K.dbt1007Kyokaiso_hihokenshaNo
AND dbt1007."linkNo" = dbt1007K.dbt1007Kyokaiso_linkNo
AND	dbt1007."tekiyoKaishiYM" = dbt1007K.dbt1007Kyokaiso_tekiyoKaishiYM
) AS HokenryoDankai
        ON
        dbT1006KyokaisoGaitosha."hihokenshaNo" = HokenryoDankai.dbt1007_hihokenshaNo
        AND dbT1006KyokaisoGaitosha."linkNo" = HokenryoDankai.dbT1007_linkNo
        WHERE
        dbT1006KyokaisoGaitosha."hihokenshaNo" = #{被保険者番号}
        AND dbT1006KyokaisoGaitosha."logicalDeletedFlag" = FALSE
    </select>

    <select resultOrdered="true" id="selcet最新履歴番号" parameterType="jp.co.ndensan.reams.db.dbu.definition.mybatisprm.kyokaisogaitosha.KyokaisoGaitoshaParameter"
            resultType="Decimal" fetchSize="500">
        SELECT
        MAX(dbT1006KyokaisoGaitosha."rirekiNo") AS dbT1006KyokaisoGaitosha_rirekiNo
        FROM
        rgdb."DbT1006KyokaisoGaitosha" AS dbT1006KyokaisoGaitosha
        WHERE
        dbT1006KyokaisoGaitosha."hihokenshaNo" = #{被保険者番号}
    </select>

    <select resultOrdered="true" id="selcet最新リンク番号" parameterType="jp.co.ndensan.reams.db.dbu.definition.mybatisprm.kyokaisogaitosha.KyokaisoGaitoshaParameter"
            resultType="Decimal" fetchSize="500">
        SELECT
        MAX(dbT1006KyokaisoGaitosha."linkNo") AS dbT1006KyokaisoGaitosha_linkNo
        FROM
        rgdb."DbT1006KyokaisoGaitosha" AS dbT1006KyokaisoGaitosha
        WHERE
        dbT1006KyokaisoGaitosha."hihokenshaNo" = #{被保険者番号}
    </select>

    <resultMap id="ResultMap_KyokaisoGaitoshaRelateEntity" type="jp.co.ndensan.reams.db.dbu.entity.db.relate.kyokaisogaitosha.KyokaisoGaitoshaJohoRelateEntity" autoMapping="true">
        <id property="被保険者番号" column="dbT1006KyokaisoGaitosha_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="リンク番号" column="dbT1006KyokaisoGaitosha_linkNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="履歴番号" column="dbT1006KyokaisoGaitosha_rirekiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="申請年月日" column="dbT1013KyokaisoSochiShinsei_shinseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="受付年月日" column="dbT1013KyokaisoSochiShinsei_uketsukeYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="適用開始年月日" column="dbT1006KyokaisoGaitosha_tekiyoKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="適用終了年月日" column="dbT1006KyokaisoGaitosha_tekiyoShuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="措置該当_非該当区分" column="dbT1013KyokaisoSochiShinsei_sochiGaito_HigaitoKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="境界層措置決定年月日" column="dbT1006KyokaisoGaitosha_kyokaisoSochiKetteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="給付額減額記載解除フラグ" column="dbT1006KyokaisoGaitosha_kyuufugakuGengakuKisaiKiajoFlag" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="標準負担額額該当フラグ" column="dbT1006KyokaisoGaitosha_hyojunFutanGengakuGaitoFlag" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="標準負担軽減後負担額" column="dbT1006KyokaisoGaitosha_hyojunFutanKeigengoFutangaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="居住費等負担額減額該当フラグ" column="dbT1006KyokaisoGaitosha_kyojuhinadoFutangakugengakuGaitoFlag" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="居住費軽減後居室種類コード" column="dbT1006KyokaisoGaitosha_kyojuhiKeigengoKyoshitsuShuruiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="居住費軽減後負担額" column="dbT1006KyokaisoGaitosha_kyojuhiKeigengoHutangaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="食費負担額減額該当フラグ" column="dbT1006KyokaisoGaitosha_shokuhiKeigengoHutangakuGaitoFlag" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="食費軽減後負担額" column="dbT1006KyokaisoGaitosha_shokuhiKeigengoHutangaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="高額ｻｰﾋﾞｽ費上限額減額該当フラグ" column="dbT1006KyokaisoGaitosha_kogakuServiceFlag" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="高額費減額後上限額" column="dbT1006KyokaisoGaitosha_kogakuService" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="保険料納付減額フラグ" column="dbT1006KyokaisoGaitosha_hokenryoNofuGengakuFlag" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="申請_廃止区分" column="dbT1013KyokaisoSochiShinsei_shinsei_HaishiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="申請_廃止年月日" column="dbT1013KyokaisoSochiShinsei_shinsei_HaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="保護不要根拠減額金額" column="dbT1013KyokaisoSochiShinsei_hogoHuyoKonkyoGengakuKingaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="境界層証明書交付年月日" column="dbT1013KyokaisoSochiShinsei_kyokaisoShomeishoKofuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="給付額減額取消_減額自己負担月額" column="dbT1013KyokaisoSochiShinsei_kyufuGengakuTorikeshi" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="居住費軽減_減額自己負担月額" column="dbT1013KyokaisoSochiShinsei_kyojuhiKeigen" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="居住費軽減_負担限度額段階コード" column="dbT1013KyokaisoSochiShinsei_kyojuhiKeigenCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="食費軽減_減額自己負担月額" column="dbT1013KyokaisoSochiShinsei_shokuhiKeigen" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="食費軽減_負担限度額段階コード" column="dbT1013KyokaisoSochiShinsei_shokuhiKeigenCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="利用者負担世帯合算額_減額自己負担月額" column="dbT1013KyokaisoSochiShinsei_riyoshaFutanSetaiGassanGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="保険料減額_減額自己負担月額" column="dbT1013KyokaisoSochiShinsei_hokenryoGengaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="減額自己負担月額合計額" column="dbT1013KyokaisoSochiShinsei_gengakuJikofutanGetsugakuGokeigaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="保険料納付減額後保険料段階" column="dbT1007KyokaisoHokenryoDankai_gengakuGoHokenryoDankai" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
    </resultMap>
    <resultMap id="ResultMap_KyokaisoGaitoRelateEntity" type="jp.co.ndensan.reams.db.dbu.entity.db.relate.kyokaisogaitosha.KyokaisoGaitoRelateEntity" autoMapping="true">
        <association property="境界層該当者EntityList" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1006KyokaisoGaitoshaMapper.ResultMap_DbT1006KyokaisoGaitoshaEntity"/>
        <association property="境界層措置申請EntityLsit" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1013KyokaisoSochiShinseiMapper.ResultMap_DbT1013KyokaisoSochiShinseiEntity"/>
    </resultMap>
</mapper>
