<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： 対象者自動割付のマッピング用XMLです。 -->
<!-- @reamsid_L DBE-1350-040 wangxiaodong -->

<mapper namespace="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.relate.taisyosyajidowaritsuke.ITaisyosyaJidoWaritsukeRelateMapper">

    <select resultOrdered="true" id="selectTaisyosya" resultMap="resultMap_Dbe510001Entity" parameterType="java.lang.Boolean" fetchSize="500">
    WITH dbt5101 AS (
      SELECT * FROM rgdb."DbT5101NinteiShinseiJoho" A
              WHERE NOT EXISTS (SELECT 'X'
              FROM rgdb."DbT5502ShinsakaiWariateJoho" A1
              WHERE A."shinseishoKanriNo" = A1."shinseishoKanriNo")
              AND A."shoriJotaiKubun" IN ('0', '3')
              AND A."logicalDeletedFlag" = FALSE
      )
      , dbt5105 AS (
      SELECT * FROM rgdb."DbT5105NinteiKanryoJoho"
              WHERE "ninteiShinseiJohoTorokuKanryoYMD" IS NOT NULL
              AND "ninteichosaIraiKanryoYMD" IS NOT NULL
              AND "ninteichosaKanryoYMD" IS NOT NULL
              AND "ikenshoSakuseiIraiKanryoYMD" IS NOT NULL
              AND "ikenshoTorokuKanryoYMD" IS NOT NULL
              AND "ichijiHanteiKanryoYMD" IS NOT NULL
              AND "ninteiShinsakaiWariateKanryoYMD" IS NULL
              AND "ninteiShinsakaiKanryoYMD" IS NULL
              AND "centerSoshinYMD" IS NULL
              <if test="isIchijiHanteiGo">
                AND "maskingKanryoYMD" IS NOT NULL
              </if>
      )
      , dbt5203 AS (
      SELECT * FROM rgdb."DbT5203NinteichosahyoKihonChosa" A
             WHERE NOT EXISTS (SELECT 'X'
             FROM rgdb."DbT5203NinteichosahyoKihonChosa" A1
             WHERE A."shinseishoKanriNo" = A1."shinseishoKanriNo"
             AND A."ninteichosaRirekiNo" <![CDATA[<]]> A1."ninteichosaRirekiNo")
      )
      , dbt5304 AS (
      SELECT * FROM rgdb."DbT5304ShujiiIkenshoIkenItem" A
              WHERE A."remban" IN (13,14)
              AND NOT EXISTS (SELECT 'X'
              FROM rgdb."DbT5304ShujiiIkenshoIkenItem" A1
              WHERE A."shinseishoKanriNo" = A1."shinseishoKanriNo"
              AND A."ikenshoIraiRirekiNo" <![CDATA[<]]> A1."ikenshoIraiRirekiNo")
              AND  A."remban" IN (13, 14)
      )
        
        SELECT
        DbT5101."shinsakaiYusenWaritsukeKubunCode"
        , DbT5101."hihokenshaNo"
        , DbT5101."hihokenshaName"
        , DbT5101."seibetsu"
        , DbT5101."hihokenshaKubunCode"
        , DbT5101."ninteiShinseiShinseijiKubunCode"
        , DbT5101."ninteiShinseiYMD"
        , DbT5101."zenkaiYukoKikanStart"
        , DbT5101."zenkaiYukoKikanEnd"
        , DbT5116."ichijiHanteiYMD"
        , DbT5105."maskingKanryoYMD"
        , DbT7051."shichosonMeisho"
        , DbT5203."shogaiNichijoSeikatsuJiritsudoCode"
        , DbT5203."ninchishoNichijoSeikatsuJiritsudoCode"
        , DbT5304."remban"
        , CASE WHEN DbT5304."remban" = 13 THEN '障害高齢者の日常生活自立度（寝たきり度）'
        ELSE '認知症高齢者の日常生活自立度' END AS ikenItem
        , DbT7060."jigyoshaNo" AS nyushoShisetsuCode
        , DbT5910."jigyoshaMeisho"
        , DbT5913."chosainShimei"
        , DbT5101."saiChosaIraiKaisu"
        , DbT5911."iryoKikanMeisho"
        , DbT5912."shujiiName"
        , DbT5101."shinseishoKanriNo"
        , DbT5101."shoKisaiHokenshaNo"
        FROM
        dbt5101 
        INNER JOIN  dbt5105 
          ON dbt5105."shinseishoKanriNo" = dbt5101."shinseishoKanriNo" 
        INNER JOIN rgdb."DbT5116IchijiHanteiKekkaJoho" dbt5116 
          ON dbt5116."shinseishoKanriNo" = dbt5101."shinseishoKanriNo" 
        INNER JOIN rgdb."DbT7051KoseiShichosonMaster" dbt7051 
          ON dbt7051."shoKisaiHokenshaNo" = dbt5101."shoKisaiHokenshaNo" 
        INNER JOIN rgdb."DbT5201NinteichosaIraiJoho" dbt5201 
          ON dbt5201."shinseishoKanriNo" = dbt5101."shinseishoKanriNo" 
          AND dbt5201."logicalDeletedFlag" = FALSE 
        INNER JOIN dbt5203
        ON dbt5203."shinseishoKanriNo" = dbt5101."shinseishoKanriNo" 
        INNER JOIN rgdb."DbT5301ShujiiIkenshoIraiJoho" dbt5301 
          ON dbt5301."shinseishoKanriNo" = dbt5101."shinseishoKanriNo" 
          AND dbt5301."logicalDeletedFlag" = FALSE 
        INNER JOIN dbt5304
          ON dbt5304."shinseishoKanriNo" = dbt5101."shinseishoKanriNo"
        LEFT JOIN rgdb."DbT5910NinteichosaItakusakiJoho" DbT5910
          ON DbT5910."ninteichosaItakusakiCode" = DbT5101."ninteiChosaItakusakiCode"
          AND DbT5910."shichosonCode" = DbT7051."shichosonCode"
        LEFT JOIN rgdb."DbT5911ShujiiIryoKikanJoho" DbT5911
          ON DbT5911."shujiiIryokikanCode" = DbT5101."shujiiIryokikanCode"
          AND DbT5911."shichosonCode" = DbT7051."shichosonCode"
        LEFT JOIN rgdb."DbT5913ChosainJoho" DbT5913
          ON DbT5913."ninteiChosaItakusakiCode" = DbT5101."ninteiChosaItakusakiCode"
          AND DbT5913."ninteiChosainCode" = DbT5101."ninteiChosainCode"
          AND DbT5913."shichosonCode" = DbT7051."shichosonCode"
        LEFT JOIN rgdb."DbT5912ShujiiJoho" DbT5912
          ON DbT5912."shujiiIryokikanCode" = DbT5101."shujiiIryokikanCode"
          AND DbT5912."shujiiCode" = DbT5101."shujiiCode"
          AND DbT5912."shichosonCode" = DbT7051."shichosonCode"
        LEFT JOIN rgdb."DbT7060KaigoJigyosha" DbT7060
          ON DbT7060."jigyoshaNo" = DbT5101."nyushoShisetsuCode"
        ORDER BY
          DbT5101."shinsakaiYusenWaritsukeKubunCode" DESC
        , DbT5101."ninteiShinseiYMD" ASC
    </select>

    <select resultOrdered="true" id="selectYoteiJohoForUpdate"
            resultType="jp.co.ndensan.reams.db.dbe.entity.db.basic.DbT5501ShinsakaiKaisaiYoteiJohoEntity"
            parameterType="jp.co.ndensan.reams.uz.uza.lang.RString"
            fetchSize="500">
        SELECT
        dbT5501."shinsakaiKaisaiNo" as "shinsakaiKaisaiNo",
        dbT5501."shinsakaiKaisaiYoteiYMD" as "shinsakaiKaisaiYoteiYMD",
        dbT5501."shinsakaiKaishiYoteiTime" as "shinsakaiKaishiYoteiTime",
        dbT5501."shinsakaiShuryoYoteiTime" as "shinsakaiShuryoYoteiTime",
        dbT5501."shinsakaiKaisaiYoteiBashoCode" as "shinsakaiKaisaiYoteiBashoCode",
        dbT5501."gogitaiNo" as "gogitaiNo",
        dbT5501."shinsakaiYoteiTeiin" as "shinsakaiYoteiTeiin",
        dbT5501."shinsakaiSaidaiTeiin" as "shinsakaiSaidaiTeiin",
        dbT5501."shinsakaiJidoWariateTeiin" as "shinsakaiJidoWariateTeiin",
        dbT5501."shinsakaiIinTeiin" as "shinsakaiIinTeiin",
        dbT5501."shinsakaiShiryoSakuseiYMD" as "shinsakaiShiryoSakuseiYMD",
        dbT5501."ShinsakaiShinchokuJokyo" as "ShinsakaiShinchokuJokyo",
        dbT5501."shinsakaiWariateZumiNinzu" as "shinsakaiWariateZumiNinzu",
        dbT5501."shiryoSakuseiZumiFlag" as "shiryoSakuseiZumiFlag",
        dbT5501."mobileDataOutputYMD" as "mobileDataOutputYMD"
        FROM rgdb."DbT5501ShinsakaiKaisaiYoteiJoho" dbT5501
        WHERE dbT5501."shinsakaiKaisaiNo" = #{shinsakaiKaisaiNo}
    </select>

    <select resultOrdered="true" id="selectNinteiShinseiJohoByKey" resultType="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT5101NinteiShinseiJohoEntity"
            parameterType="jp.co.ndensan.reams.uz.uza.lang.RString" fetchSize="500">
        SELECT DbT5101."ninteiChosaItakusakiCode"
        ,DbT5101."ninteiChosainCode"
        ,DbT5101."shujiiIryokikanCode"
        ,DbT5101."shujiiCode"
        ,DbT5101."nyushoShisetsuCode"
        FROM rgdb."DbT5101NinteiShinseiJoho" DbT5101
        WHERE DbT5101."shinseishoKanriNo" = #{shinseishoKanriNo}
    </select>

    <select resultOrdered="true" id="selectCountShinsakaiWariateIinJoho"
            parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.taisyosyajidowaritsuke.TaisyosyaJidoWaritsukeMybatisParameter"
            resultType="int"
            fetchSize="500">
        SELECT COUNT(*)
        FROM rgdb."DbT5503ShinsakaiWariateIinJoho" DbT5503
        INNER JOIN rgdb."DbT5595KaigoNinteiShinsakaiIinShozokuKikanJoho" DbT5595
        ON DbT5595."shinsakaiIinCode" = DbT5503."shinsakaiIinCode"
        WHERE DbT5503."shinsakaiKaisaiNo" = #{shinsakaiKaisaiNo}
        <if test="isKikanMade">
            AND( DbT5595."shujiiIryokikanCode" = #{shujiiIryokikanCode}
            OR DbT5595."ninteichosaItakusakiCode" = #{ninteiChosaItakusakiCode}
            OR DbT5595."shujiiIryokikanCode" = #{nyushoShisetsuCode}
            OR DbT5595."ninteichosaItakusakiCode" = #{nyushoShisetsuCode} )
        </if>
        <if test="!isKikanMade">
            AND((DbT5595."shujiiIryokikanCode" = #{shujiiIryokikanCode}
            AND DbT5595."shujiiCode" = #{shujiiCode})
            OR ( DbT5595."ninteichosaItakusakiCode" = #{ninteiChosaItakusakiCode}
            AND DbT5595."ninteiChosainNo" = #{ninteiChosainCode}))
        </if>
    </select>

    <select resultOrdered="true" id="selectCountShinsakaiIinJogaiJoho"
            parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.taisyosyajidowaritsuke.TaisyosyaJidoWaritsukeMybatisParameter"
            resultType="int"
            fetchSize="500">
        SELECT COUNT(*)
        FROM rgdb."DbT5590ShinsakaiIinJogaiJoho" DbT5590
        INNER JOIN rgdb."DbT5503ShinsakaiWariateIinJoho" DbT5503
        ON DbT5503."shinsakaiIinCode" = DbT5590."jogaiTaishoShinsakaiIinCode"
        WHERE DbT5590."shinseishoKanriNo" = #{shinseishoKanriNo}
        AND DbT5503."shinsakaiKaisaiNo" = #{shinsakaiKaisaiNo}
    </select>

    <select resultOrdered="true" id="selectMaxShinsakaiOrder"
            parameterType="jp.co.ndensan.reams.uz.uza.lang.RString"
            resultType="int"
            fetchSize="500">
        SELECT COALESCE(MAX(DbT5502."shinsakaiOrder") ,0)
        FROM rgdb."DbT5502ShinsakaiWariateJoho" DbT5502
        WHERE DbT5502."shinsakaiKaisaiNo" = #{shinsakaiKaisaiNo}
    </select>

    <insert id="insertDbT5502ShinsakaiWariateJoho"
            parameterType="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT5502ShinsakaiWariateJohoEntity" >
        INSERT INTO rgdb."DbT5502ShinsakaiWariateJoho"
        ("shinsakaiKaisaiNo"
        ,"shinseishoKanriNo"
        ,"shinsakaiKaisaiYMD"
        ,"shinsakaiWariateYMD"
        ,"shinsakaiOrder"
        ,"shinsakaiOrderKakuteiFlag"
        ,"shinsakaiJidoWaritsukeFlag"
        ,"shinsakaiShiryoSakuseiYMD"
        ,"shinsakaiShiryoSofuYMD"
        ,"hanteiKekkaCode")
        VALUES
        (#{shinsakaiKaisaiNo}
        ,#{shinseishoKanriNo}
        ,#{shinsakaiKaisaiYMD}
        ,#{shinsakaiWariateYMD}
        ,#{shinsakaiOrder}
        ,#{shinsakaiOrderKakuteiFlag}
        ,#{shinsakaiJidoWaritsukeFlag}
        ,#{shinsakaiShiryoSakuseiYMD}
        ,#{shinsakaiShiryoSofuYMD}
        ,#{hanteiKekkaCode})
    </insert>

    <update id="updateDbT5501ShinsakaiKaisaiYoteiJoho"
            parameterType="jp.co.ndensan.reams.db.dbe.entity.db.basic.DbT5501ShinsakaiKaisaiYoteiJohoEntity" >
        UPDATE rgdb."DbT5501ShinsakaiKaisaiYoteiJoho"
        SET
        "ShinsakaiShinchokuJokyo" = #{ShinsakaiShinchokuJokyo},
        "shinsakaiWariateZumiNinzu" = #{shinsakaiWariateZumiNinzu}
        WHERE
        "shinsakaiKaisaiNo" = #{shinsakaiKaisaiNo}
    </update>

    <resultMap id="resultMap_Dbe510001Entity" type="jp.co.ndensan.reams.db.dbe.entity.db.relate.taisyosyajidowaritsuke.TaisyosyaJidoWaritsukeEntity" autoMapping="true">
        <result property="yusenWaritsukeKubunCode" column="shinsakaiYusenWaritsukeKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler" />
        <result property="hihokenshaNo" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="hihokenshaName" column="hihokenshaName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler" />
        <result property="seibetsu" column="seibetsu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler" />
        <result property="hihokenshaKubunCode" column="hihokenshaKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="shinseijiKubunCode" column="ninteiShinseiShinseijiKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler" />
        <result property="ninteiShinseiYMD" column="ninteiShinseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="zenkaiYukoKikanStart" column="zenkaiYukoKikanStart" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="zenkaiYukoKikanEnd" column="zenkaiYukoKikanEnd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="ichijiHanteiYMD" column="ichijiHanteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="maskingKanryoYMD" column="maskingKanryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="shichosonMeisho" column="shichosonMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="ninchishoJiritsudoCode" column="ninchishoNichijoSeikatsuJiritsudoCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler" />
        <result property="shogaiJiritsudoCode" column="shogaiNichijoSeikatsuJiritsudoCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler" />
        <result property="remban" column="remban" />
        <result property="ikenItem" column="ikenItem" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="nyushoShisetsuCode" column="nyushoShisetsuCode" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.JigyoshaNoTypeHandler" />
        <result property="jigyoshaMeisho" column="jigyoshaMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="chosainShimei" column="chosainShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="saiChosaIraiKaisu" column="saiChosaIraiKaisu" />
        <result property="iryoKikanMeisho" column="iryoKikanMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="shujiiName" column="shujiiName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="shoKisaiHokenshaNo" column="shoKisaiHokenshaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="shinseishoKanriNo" column="shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler" />
    </resultMap>
</mapper>
