<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBB-9210-030 liuyang -->
<mapper namespace="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.relate.tokuchotenbikiteishichoshuhohokoshin.ITokuchoTenbikiTeishiChoshuhohokoshinMapper">
    <resultMap id="resultMap_TokuchoTenbikiTeishiEntity" type="jp.co.ndensan.reams.db.dbx.entity.db.relate.tokuchotenbikiteishichoshuhohokoshin.TokuchoTenbikiTeishiEntity" autoMapping="true">
        <id property="基礎年金番号"  column="ueT0511NenkinTokuchoKaifuJoho_kisoNenkinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <id property="年金コード"  column="ueT0511NenkinTokuchoKaifuJoho_nenkinCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="被保険者番号" column="dbT2001ChoshuHoho_hihokenshaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
    </resultMap>
    <resultMap id="resultMap_ChoshuhohokoshinEntity"  type="jp.co.ndensan.reams.db.dbx.entity.db.relate.tokuchotenbikiteishichoshuhohokoshin.ChoshuhohokoshinEntity" autoMapping="true">
        <id property="被保険者番号"  column="a_hihonkenshaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <id column="dbV2001ChoshuHoho_fukaNendo" />
        <association property="介護徴収方法" resultMap="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbV2001ChoshuHohoMapper.ResultMap_DbV2001ChoshuHohoEntity" />
    </resultMap>    
     <select resultOrdered="true" id="getHihokenshaNos"
            resultMap="resultMap_TokuchoTenbikiTeishiEntity"
            parameterType="jp.co.ndensan.reams.db.dbx.definition.mybatisprm.dbx001001.TokuchoTenbikiTeishiMyBatisParameter" fetchSize="500" >
                SELECT 
                    "UeT0511NenkinTokuchoKaifuJoho"."kisoNenkinNo" as "ueT0511NenkinTokuchoKaifuJoho_kisoNenkinNo",
                    "UeT0511NenkinTokuchoKaifuJoho"."nenkinCode" as "ueT0511NenkinTokuchoKaifuJoho_nenkinCode",
                    "DbT2001ChoshuHoho"."hihokenshaNo" as "dbT2001ChoshuHoho_hihokenshaNo"
                FROM
                    rgue."UeT0511NenkinTokuchoKaifuJoho" AS "UeT0511NenkinTokuchoKaifuJoho"
                INNER JOIN
                    rgdb."DbT2001ChoshuHoho" AS "DbT2001ChoshuHoho"
                ON
                    <choose>
                        <when test="天引月.toString()=='04'  ||  天引月.toString()=='06'  ||  天引月.toString()=='08' ">
                            "DbT2001ChoshuHoho"."kariNenkinNo"="UeT0511NenkinTokuchoKaifuJoho"."kisoNenkinNo"
                   AND "DbT2001ChoshuHoho"."kariNenkinCode"="UeT0511NenkinTokuchoKaifuJoho"."nenkinCode"
                        </when>
                        <when test="天引月.toString()=='10'  ||  天引月.toString()=='12'  ||  天引月.toString()=='02' ">
                            "DbT2001ChoshuHoho"."honNenkinNo"="UeT0511NenkinTokuchoKaifuJoho"."kisoNenkinNo"
                   AND "DbT2001ChoshuHoho"."honNenkinCode" ="UeT0511NenkinTokuchoKaifuJoho"."nenkinCode"
                        </when>
                        <otherwise>
                            0=1
                        </otherwise>
                    </choose>
                    <where>
                       "UeT0511NenkinTokuchoKaifuJoho"."dtTsuchiNaiyoCode"='22'
                       AND
                           (
                           "UeT0511NenkinTokuchoKaifuJoho"."dtKakushuKubun"='01'
                           OR  "UeT0511NenkinTokuchoKaifuJoho"."dtKakushuKubun"='02'
                           OR  "UeT0511NenkinTokuchoKaifuJoho"."dtKakushuKubun"='03'
                           OR  "UeT0511NenkinTokuchoKaifuJoho"."dtKakushuKubun"='05'
                           )
                       AND "UeT0511NenkinTokuchoKaifuJoho"."shoriNendo"=#{年度}
                       AND "UeT0511NenkinTokuchoKaifuJoho"."tenbikiTsuki"=#{天引月}
                   </where>
                   ORDER BY
                    "DbT2001ChoshuHoho"."fukaNendo" DESC,
                    "DbT2001ChoshuHoho"."rirekiNo" DESC
    </select>
    <select resultOrdered="true" id="getChoshoHohos"
            resultMap="resultMap_ChoshuhohokoshinEntity"
            parameterType="jp.co.ndensan.reams.db.dbx.definition.mybatisprm.dbx001001.TokuchoTenbikiTeishiMyBatisParameter" fetchSize="500" >
        SELECT
            "A"."hihonkenshaNo" AS "a_hihonkenshaNo",
            <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbV2001ChoshuHohoMapper.allColumns_DbV2001ChoshuHoho"/>
        FROM
            "HihonkenshaNoTemp" AS "A"
        INNER JOIN
            rgdb."DbV2001ChoshuHoho" AS "DbV2001ChoshuHoho"
        ON
            "DbV2001ChoshuHoho"."hihokenshaNo"="A"."hihonkenshaNo"
        <where>
                "DbV2001ChoshuHoho"."fukaNendo"=#{日付関連調定年度}
        </where>
    </select>    
</mapper>
