<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.mappers.IKyufuKanrihyo200004Mapper">
    <delete id="deleteKyufuKanrihyo200004" parameterType="RString">
        delete from rgdb."DbT3014KyufuKanrihyo200004" where "torikomiYM"=#{shoriYM}
    </delete>
</mapper>