<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT3011YoboKeikakuJikoSakuseiMeisaiマスタとエンティティのマッピング用XMLです。 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT3011YoboKeikakuJikoSakuseiMeisaiMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT3011YoboKeikakuJikoSakuseiMeisai">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT3011YoboKeikakuJikoSakuseiMeisaiMapper.allColumns_DbT3011YoboKeikakuJikoSakuseiMeisai" />
     FROM
         rgdb."DbT3011YoboKeikakuJikoSakuseiMeisai"
     WHERE
         rgdb."DbT3011YoboKeikakuJikoSakuseiMeisai"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT3011YoboKeikakuJikoSakuseiMeisai">
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."hihokenshaNo" as "dbT3011YoboKeikakuJikoSakuseiMeisai_hihokenshaNo",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."taishoYM" as "dbT3011YoboKeikakuJikoSakuseiMeisai_taishoYM",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."rirekiNo" as "dbT3011YoboKeikakuJikoSakuseiMeisai_rirekiNo",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."kyotakuServiceKubun" as "dbT3011YoboKeikakuJikoSakuseiMeisai_kyotakuServiceKubun",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."serviceTeikyoJigyoshaNo" as "dbT3011YoboKeikakuJikoSakuseiMeisai_serviceTeikyoJigyoshaNo",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."serviceShuruiCode" as "dbT3011YoboKeikakuJikoSakuseiMeisai_serviceShuruiCode",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."serviceKomokuCode" as "dbT3011YoboKeikakuJikoSakuseiMeisai_serviceKomokuCode",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."insertDantaiCd" as "dbT3011YoboKeikakuJikoSakuseiMeisai_insertDantaiCd",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."insertTimestamp" as "dbT3011YoboKeikakuJikoSakuseiMeisai_insertTimestamp",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."insertReamsLoginId" as "dbT3011YoboKeikakuJikoSakuseiMeisai_insertReamsLoginId",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."insertContextId" as "dbT3011YoboKeikakuJikoSakuseiMeisai_insertContextId",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."isDeleted" as "dbT3011YoboKeikakuJikoSakuseiMeisai_isDeleted",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."updateCount" as "dbT3011YoboKeikakuJikoSakuseiMeisai_updateCount",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."lastUpdateTimestamp" as "dbT3011YoboKeikakuJikoSakuseiMeisai_lastUpdateTimestamp",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."lastUpdateReamsLoginId" as "dbT3011YoboKeikakuJikoSakuseiMeisai_lastUpdateReamsLoginId",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."taniSu" as "dbT3011YoboKeikakuJikoSakuseiMeisai_taniSu",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."kaisu_Nissu" as "dbT3011YoboKeikakuJikoSakuseiMeisai_kaisu_Nissu",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."shuruiGendoNaiTaniSu_Nissu" as "dbT3011YoboKeikakuJikoSakuseiMeisai_shuruiGendoNaiTaniSu_Nissu",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."shuruiGendoChokaTaniSu_Nissu" as "dbT3011YoboKeikakuJikoSakuseiMeisai_shuruiGendoChokaTaniSu_Nissu",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."kubunGendoNaiTaniSu_Nissu" as "dbT3011YoboKeikakuJikoSakuseiMeisai_kubunGendoNaiTaniSu_Nissu",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."kubunGendoChokaTaniSu_Nissu" as "dbT3011YoboKeikakuJikoSakuseiMeisai_kubunGendoChokaTaniSu_Nissu",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."taniSuTanka" as "dbT3011YoboKeikakuJikoSakuseiMeisai_taniSuTanka",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."kyufuRitsu" as "dbT3011YoboKeikakuJikoSakuseiMeisai_kyufuRitsu",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."waribikiGoTekiyoRitsu" as "dbT3011YoboKeikakuJikoSakuseiMeisai_waribikiGoTekiyoRitsu",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."waribikiGoTekiyoTaniSu" as "dbT3011YoboKeikakuJikoSakuseiMeisai_waribikiGoTekiyoTaniSu",
         "DbT3011YoboKeikakuJikoSakuseiMeisai"."teigakuRiyoshaFutanTankaKingaku" as "dbT3011YoboKeikakuJikoSakuseiMeisai_teigakuRiyoshaFutanTankaKingaku"
    </sql>


    <!--テーブルDbT3011YoboKeikakuJikoSakuseiMeisaiの項目をDbT3011YoboKeikakuJikoSakuseiMeisaiEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT3011YoboKeikakuJikoSakuseiMeisaiEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT3011YoboKeikakuJikoSakuseiMeisaiEntity" autoMapping="true">
        <id property="hihokenshaNo" column="dbT3011YoboKeikakuJikoSakuseiMeisai_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="taishoYM" column="dbT3011YoboKeikakuJikoSakuseiMeisai_taishoYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <id property="rirekiNo" column="dbT3011YoboKeikakuJikoSakuseiMeisai_rirekiNo" />
        <id property="kyotakuServiceKubun" column="dbT3011YoboKeikakuJikoSakuseiMeisai_kyotakuServiceKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="serviceTeikyoJigyoshaNo" column="dbT3011YoboKeikakuJikoSakuseiMeisai_serviceTeikyoJigyoshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.JigyoshaNoTypeHandler"/>
        <id property="serviceShuruiCode" column="dbT3011YoboKeikakuJikoSakuseiMeisai_serviceShuruiCode" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ServiceShuruiCodeTypeHandler"/>
        <id property="serviceKomokuCode" column="dbT3011YoboKeikakuJikoSakuseiMeisai_serviceKomokuCode" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ServiceKomokuCodeTypeHandler"/>
        <result property="insertDantaiCd" column="dbT3011YoboKeikakuJikoSakuseiMeisai_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT3011YoboKeikakuJikoSakuseiMeisai_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT3011YoboKeikakuJikoSakuseiMeisai_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT3011YoboKeikakuJikoSakuseiMeisai_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT3011YoboKeikakuJikoSakuseiMeisai_isDeleted" />
        <result property="updateCount" column="dbT3011YoboKeikakuJikoSakuseiMeisai_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT3011YoboKeikakuJikoSakuseiMeisai_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT3011YoboKeikakuJikoSakuseiMeisai_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="taniSu" column="dbT3011YoboKeikakuJikoSakuseiMeisai_taniSu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="kaisu_Nissu" column="dbT3011YoboKeikakuJikoSakuseiMeisai_kaisu_Nissu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="shuruiGendoNaiTaniSu_Nissu" column="dbT3011YoboKeikakuJikoSakuseiMeisai_shuruiGendoNaiTaniSu_Nissu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="shuruiGendoChokaTaniSu_Nissu" column="dbT3011YoboKeikakuJikoSakuseiMeisai_shuruiGendoChokaTaniSu_Nissu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="kubunGendoNaiTaniSu_Nissu" column="dbT3011YoboKeikakuJikoSakuseiMeisai_kubunGendoNaiTaniSu_Nissu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="kubunGendoChokaTaniSu_Nissu" column="dbT3011YoboKeikakuJikoSakuseiMeisai_kubunGendoChokaTaniSu_Nissu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="taniSuTanka" column="dbT3011YoboKeikakuJikoSakuseiMeisai_taniSuTanka" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="kyufuRitsu" column="dbT3011YoboKeikakuJikoSakuseiMeisai_kyufuRitsu" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HokenKyufuRitsuTypeHandler"/>
        <result property="waribikiGoTekiyoRitsu" column="dbT3011YoboKeikakuJikoSakuseiMeisai_waribikiGoTekiyoRitsu" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HokenKyufuRitsuTypeHandler"/>
        <result property="waribikiGoTekiyoTaniSu" column="dbT3011YoboKeikakuJikoSakuseiMeisai_waribikiGoTekiyoTaniSu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="teigakuRiyoshaFutanTankaKingaku" column="dbT3011YoboKeikakuJikoSakuseiMeisai_teigakuRiyoshaFutanTankaKingaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
    </resultMap>

</mapper>
