<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT5305IkenshoImageJohoマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5305IkenshoImageJohoMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT5305IkenshoImageJoho">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5305IkenshoImageJohoMapper.allColumns_DbT5305IkenshoImageJoho" />
     FROM
         rgdb."DbT5305IkenshoImageJoho"
     WHERE
         rgdb."DbT5305IkenshoImageJoho"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT5305IkenshoImageJoho">
         "DbT5305IkenshoImageJoho"."shinseishoKanriNo" as "dbT5305IkenshoImageJoho_shinseishoKanriNo",
         "DbT5305IkenshoImageJoho"."iraiRirekiNo" as "dbT5305IkenshoImageJoho_iraiRirekiNo",
         "DbT5305IkenshoImageJoho"."ChoyoID" as "dbT5305IkenshoImageJoho_ChoyoID",
         "DbT5305IkenshoImageJoho"."maskDataKubun" as "dbT5305IkenshoImageJoho_maskDataKubun",
         "DbT5305IkenshoImageJoho"."torikomiPageNo" as "dbT5305IkenshoImageJoho_torikomiPageNo",
         "DbT5305IkenshoImageJoho"."insertDantaiCd" as "dbT5305IkenshoImageJoho_insertDantaiCd",
         "DbT5305IkenshoImageJoho"."insertTimestamp" as "dbT5305IkenshoImageJoho_insertTimestamp",
         "DbT5305IkenshoImageJoho"."insertReamsLoginId" as "dbT5305IkenshoImageJoho_insertReamsLoginId",
         "DbT5305IkenshoImageJoho"."insertContextId" as "dbT5305IkenshoImageJoho_insertContextId",
         "DbT5305IkenshoImageJoho"."isDeleted" as "dbT5305IkenshoImageJoho_isDeleted",
         "DbT5305IkenshoImageJoho"."updateCount" as "dbT5305IkenshoImageJoho_updateCount",
         "DbT5305IkenshoImageJoho"."lastUpdateTimestamp" as "dbT5305IkenshoImageJoho_lastUpdateTimestamp",
         "DbT5305IkenshoImageJoho"."lastUpdateReamsLoginId" as "dbT5305IkenshoImageJoho_lastUpdateReamsLoginId",
         "DbT5305IkenshoImageJoho"."ninteiShinseiNen" as "dbT5305IkenshoImageJoho_ninteiShinseiNen",
         "DbT5305IkenshoImageJoho"."sharedFileId" as "dbT5305IkenshoImageJoho_sharedFileId"
    </sql>


    <!--テーブルDbT5305IkenshoImageJohoの項目をDbT5305IkenshoImageJohoEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT5305IkenshoImageJohoEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT5305IkenshoImageJohoEntity" autoMapping="true">
        <id property="shinseishoKanriNo" column="dbT5305IkenshoImageJoho_shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
        <id property="iraiRirekiNo" column="dbT5305IkenshoImageJoho_iraiRirekiNo" />
        <id property="ChoyoID" column="dbT5305IkenshoImageJoho_ChoyoID" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <id property="maskDataKubun" column="dbT5305IkenshoImageJoho_maskDataKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="torikomiPageNo" column="dbT5305IkenshoImageJoho_torikomiPageNo" />
        <result property="insertDantaiCd" column="dbT5305IkenshoImageJoho_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT5305IkenshoImageJoho_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT5305IkenshoImageJoho_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT5305IkenshoImageJoho_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT5305IkenshoImageJoho_isDeleted" />
        <result property="updateCount" column="dbT5305IkenshoImageJoho_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT5305IkenshoImageJoho_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT5305IkenshoImageJoho_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="ninteiShinseiNen" column="dbT5305IkenshoImageJoho_ninteiShinseiNen" />
        <result property="sharedFileId" column="dbT5305IkenshoImageJoho_sharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
    </resultMap>
<select resultOrdered="true" id="getEntity" resultMap="ResultMap_DbT5305IkenshoImageJohoEntity">
    SELECT
    <include refid="allColumns_DbT5305IkenshoImageJoho" />
    FROM
    rgdb."DbT5305IkenshoImageJoho"
</select>

    <select resultOrdered="true" id="getイメージ情報数" resultType="java.lang.Integer"
            parameterType="jp.co.ndensan.reams.db.dbz.definition.mybatisprm.masking.MaskingParameter" fetchSize="500">
        SELECT
            COUNT(*)
        FROM
            rgdb."DbT5305IkenshoImageJoho" AS dbT5305
        WHERE dbT5305."shinseishoKanriNo" = #{shinseishoKanriNo}
            AND dbT5305."maskDataKubun" = #{maskDataKubun}
            AND dbT5305."iraiRirekiNo" = (  SELECT
                                                MAX(dbT5305."iraiRirekiNo")
                                            FROM
                                                rgdb."DbT5305IkenshoImageJoho" AS dbT5305
                                            WHERE dbT5305."shinseishoKanriNo" = #{shinseishoKanriNo}
                                                AND dbT5305."maskDataKubun" = #{maskDataKubun})
    </select>
</mapper>