<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT4303ShujiiIkenshoKinyuItemマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4303ShujiiIkenshoKinyuItemMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT4303ShujiiIkenshoKinyuItem">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4303ShujiiIkenshoKinyuItemMapper.allColumns_DbT4303ShujiiIkenshoKinyuItem" />
        FROM
        rgdb."DbT4303ShujiiIkenshoKinyuItem"
        WHERE
        rgdb."DbT4303ShujiiIkenshoKinyuItem"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT4303ShujiiIkenshoKinyuItem">
        "DbT4303ShujiiIkenshoKinyuItem"."shinseishoKanriNo" as "dbT4303ShujiiIkenshoKinyuItem_shinseishoKanriNo",
        "DbT4303ShujiiIkenshoKinyuItem"."ikenshoIraiRirekiNo" as "dbT4303ShujiiIkenshoKinyuItem_ikenshoIraiRirekiNo",
        "DbT4303ShujiiIkenshoKinyuItem"."remban" as "dbT4303ShujiiIkenshoKinyuItem_remban",
        "DbT4303ShujiiIkenshoKinyuItem"."insertDantaiCd" as "dbT4303ShujiiIkenshoKinyuItem_insertDantaiCd",
        "DbT4303ShujiiIkenshoKinyuItem"."insertTimestamp" as "dbT4303ShujiiIkenshoKinyuItem_insertTimestamp",
        "DbT4303ShujiiIkenshoKinyuItem"."insertReamsLoginId" as "dbT4303ShujiiIkenshoKinyuItem_insertReamsLoginId",
        "DbT4303ShujiiIkenshoKinyuItem"."insertContextId" as "dbT4303ShujiiIkenshoKinyuItem_insertContextId",
        "DbT4303ShujiiIkenshoKinyuItem"."isDeleted" as "dbT4303ShujiiIkenshoKinyuItem_isDeleted",
        "DbT4303ShujiiIkenshoKinyuItem"."updateCount" as "dbT4303ShujiiIkenshoKinyuItem_updateCount",
        "DbT4303ShujiiIkenshoKinyuItem"."lastUpdateTimestamp" as "dbT4303ShujiiIkenshoKinyuItem_lastUpdateTimestamp",
        "DbT4303ShujiiIkenshoKinyuItem"."lastUpdateReamsLoginId" as "dbT4303ShujiiIkenshoKinyuItem_lastUpdateReamsLoginId",
        "DbT4303ShujiiIkenshoKinyuItem"."koroshoIfShikibetsuCode" as "dbT4303ShujiiIkenshoKinyuItem_koroshoIfShikibetsuCode",
        "DbT4303ShujiiIkenshoKinyuItem"."kinyuItem" as "dbT4303ShujiiIkenshoKinyuItem_kinyuItem",
        "DbT4303ShujiiIkenshoKinyuItem"."kinyuItemImageSharedFileId" as "dbT4303ShujiiIkenshoKinyuItem_kinyuItemImageSharedFileId"
    </sql>


    <!--テーブルDbT4303ShujiiIkenshoKinyuItemの項目をDbT4303ShujiiIkenshoKinyuItemEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT4303ShujiiIkenshoKinyuItemEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT4303ShujiiIkenshoKinyuItemEntity" autoMapping="true">
        <id property="shinseishoKanriNo" column="dbT4303ShujiiIkenshoKinyuItem_shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
        <id property="ikenshoIraiRirekiNo" column="dbT4303ShujiiIkenshoKinyuItem_ikenshoIraiRirekiNo" />
        <id property="remban" column="dbT4303ShujiiIkenshoKinyuItem_remban" />
        <result property="insertDantaiCd" column="dbT4303ShujiiIkenshoKinyuItem_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT4303ShujiiIkenshoKinyuItem_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT4303ShujiiIkenshoKinyuItem_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT4303ShujiiIkenshoKinyuItem_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT4303ShujiiIkenshoKinyuItem_isDeleted" />
        <result property="updateCount" column="dbT4303ShujiiIkenshoKinyuItem_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT4303ShujiiIkenshoKinyuItem_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT4303ShujiiIkenshoKinyuItem_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="koroshoIfShikibetsuCode" column="dbT4303ShujiiIkenshoKinyuItem_koroshoIfShikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="kinyuItem" column="dbT4303ShujiiIkenshoKinyuItem_kinyuItem" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kinyuItemImageSharedFileId" column="dbT4303ShujiiIkenshoKinyuItem_kinyuItemImageSharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
    </resultMap>
    <select id="getEntity" resultMap="ResultMap_DbT4303ShujiiIkenshoKinyuItemEntity">
        SELECT
        <include refid="allColumns_DbT4303ShujiiIkenshoKinyuItem"/>
        FROM
        rgdb."DbT4303ShujiiIkenshoKinyuItem"
    </select>
</mapper>
