<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT4210NinteichosahyoShisetsuRiyoChildマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4210NinteichosahyoShisetsuRiyoChildMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT4210NinteichosahyoShisetsuRiyoChild">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4210NinteichosahyoShisetsuRiyoChildMapper.allColumns_DbT4210NinteichosahyoShisetsuRiyoChild" />
        FROM
        rgdb."DbT4210NinteichosahyoShisetsuRiyoChild"
        WHERE
        rgdb."DbT4210NinteichosahyoShisetsuRiyoChild"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT4210NinteichosahyoShisetsuRiyoChild">
        "DbT4210NinteichosahyoShisetsuRiyoChild"."shinseishoKanriNo" as "dbT4210NinteichosahyoShisetsuRiyoChild_shinseishoKanriNo",
        "DbT4210NinteichosahyoShisetsuRiyoChild"."ninteichosaRirekiNo" as "dbT4210NinteichosahyoShisetsuRiyoChild_ninteichosaRirekiNo",
        "DbT4210NinteichosahyoShisetsuRiyoChild"."remban" as "dbT4210NinteichosahyoShisetsuRiyoChild_remban",
        "DbT4210NinteichosahyoShisetsuRiyoChild"."insertDantaiCd" as "dbT4210NinteichosahyoShisetsuRiyoChild_insertDantaiCd",
        "DbT4210NinteichosahyoShisetsuRiyoChild"."insertTimestamp" as "dbT4210NinteichosahyoShisetsuRiyoChild_insertTimestamp",
        "DbT4210NinteichosahyoShisetsuRiyoChild"."insertReamsLoginId" as "dbT4210NinteichosahyoShisetsuRiyoChild_insertReamsLoginId",
        "DbT4210NinteichosahyoShisetsuRiyoChild"."insertContextId" as "dbT4210NinteichosahyoShisetsuRiyoChild_insertContextId",
        "DbT4210NinteichosahyoShisetsuRiyoChild"."isDeleted" as "dbT4210NinteichosahyoShisetsuRiyoChild_isDeleted",
        "DbT4210NinteichosahyoShisetsuRiyoChild"."updateCount" as "dbT4210NinteichosahyoShisetsuRiyoChild_updateCount",
        "DbT4210NinteichosahyoShisetsuRiyoChild"."lastUpdateTimestamp" as "dbT4210NinteichosahyoShisetsuRiyoChild_lastUpdateTimestamp",
        "DbT4210NinteichosahyoShisetsuRiyoChild"."lastUpdateReamsLoginId" as "dbT4210NinteichosahyoShisetsuRiyoChild_lastUpdateReamsLoginId",
        "DbT4210NinteichosahyoShisetsuRiyoChild"."koroshoIfShikibetsuCode" as "dbT4210NinteichosahyoShisetsuRiyoChild_koroshoIfShikibetsuCode",
        "DbT4210NinteichosahyoShisetsuRiyoChild"."shisetsuRiyoFlag" as "dbT4210NinteichosahyoShisetsuRiyoChild_shisetsuRiyoFlag"
    </sql>


    <!--テーブルDbT4210NinteichosahyoShisetsuRiyoChildの項目をDbT4210NinteichosahyoShisetsuRiyoChildEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT4210NinteichosahyoShisetsuRiyoChildEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT4210NinteichosahyoShisetsuRiyoChildEntity" autoMapping="true">
        <id property="shinseishoKanriNo" column="dbT4210NinteichosahyoShisetsuRiyoChild_shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
        <id property="ninteichosaRirekiNo" column="dbT4210NinteichosahyoShisetsuRiyoChild_ninteichosaRirekiNo" />
        <id property="remban" column="dbT4210NinteichosahyoShisetsuRiyoChild_remban" />
        <result property="insertDantaiCd" column="dbT4210NinteichosahyoShisetsuRiyoChild_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT4210NinteichosahyoShisetsuRiyoChild_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT4210NinteichosahyoShisetsuRiyoChild_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT4210NinteichosahyoShisetsuRiyoChild_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT4210NinteichosahyoShisetsuRiyoChild_isDeleted" />
        <result property="updateCount" column="dbT4210NinteichosahyoShisetsuRiyoChild_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT4210NinteichosahyoShisetsuRiyoChild_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT4210NinteichosahyoShisetsuRiyoChild_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="koroshoIfShikibetsuCode" column="dbT4210NinteichosahyoShisetsuRiyoChild_koroshoIfShikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="shisetsuRiyoFlag" column="dbT4210NinteichosahyoShisetsuRiyoChild_shisetsuRiyoFlag" />
    </resultMap>
    
    <select id="getEntity" resultMap="ResultMap_DbT4210NinteichosahyoShisetsuRiyoChildEntity">
        SELECT
        <include refid="allColumns_DbT4210NinteichosahyoShisetsuRiyoChild"/>
        FROM
        rgdb."DbT4210NinteichosahyoShisetsuRiyoChild"
    </select>

</mapper>
