<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT5205NinteichosahyoTokkijikoマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5205NinteichosahyoTokkijikoMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT5205NinteichosahyoTokkijiko">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5205NinteichosahyoTokkijikoMapper.allColumns_DbT5205NinteichosahyoTokkijiko" />
     FROM
         rgdb."DbT5205NinteichosahyoTokkijiko"
     WHERE
         rgdb."DbT5205NinteichosahyoTokkijiko"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT5205NinteichosahyoTokkijiko">
         "DbT5205NinteichosahyoTokkijiko"."shinseishoKanriNo" as "dbT5205NinteichosahyoTokkijiko_shinseishoKanriNo",
         "DbT5205NinteichosahyoTokkijiko"."ninteichosaRirekiNo" as "dbT5205NinteichosahyoTokkijiko_ninteichosaRirekiNo",
         "DbT5205NinteichosahyoTokkijiko"."ninteichosaTokkijikoNo" as "dbT5205NinteichosahyoTokkijiko_ninteichosaTokkijikoNo",
         "DbT5205NinteichosahyoTokkijiko"."ninteichosaTokkijikoRenban" as "dbT5205NinteichosahyoTokkijiko_ninteichosaTokkijikoRenban",
         "DbT5205NinteichosahyoTokkijiko"."tokkijikoTextImageKubun" as "dbT5205NinteichosahyoTokkijiko_tokkijikoTextImageKubun",
         "DbT5205NinteichosahyoTokkijiko"."genponMaskKubun" as "dbT5205NinteichosahyoTokkijiko_genponMaskKubun",
         "DbT5205NinteichosahyoTokkijiko"."insertDantaiCd" as "dbT5205NinteichosahyoTokkijiko_insertDantaiCd",
         "DbT5205NinteichosahyoTokkijiko"."insertTimestamp" as "dbT5205NinteichosahyoTokkijiko_insertTimestamp",
         "DbT5205NinteichosahyoTokkijiko"."insertReamsLoginId" as "dbT5205NinteichosahyoTokkijiko_insertReamsLoginId",
         "DbT5205NinteichosahyoTokkijiko"."insertContextId" as "dbT5205NinteichosahyoTokkijiko_insertContextId",
         "DbT5205NinteichosahyoTokkijiko"."isDeleted" as "dbT5205NinteichosahyoTokkijiko_isDeleted",
         "DbT5205NinteichosahyoTokkijiko"."updateCount" as "dbT5205NinteichosahyoTokkijiko_updateCount",
         "DbT5205NinteichosahyoTokkijiko"."lastUpdateTimestamp" as "dbT5205NinteichosahyoTokkijiko_lastUpdateTimestamp",
         "DbT5205NinteichosahyoTokkijiko"."lastUpdateReamsLoginId" as "dbT5205NinteichosahyoTokkijiko_lastUpdateReamsLoginId",
         "DbT5205NinteichosahyoTokkijiko"."tokkiJiko" as "dbT5205NinteichosahyoTokkijiko_tokkiJiko",
         "DbT5205NinteichosahyoTokkijiko"."tokkiJikoImageSharedFileId" as "dbT5205NinteichosahyoTokkijiko_tokkiJikoImageSharedFileId",
         "DbT5205NinteichosahyoTokkijiko"."tokkiJikoMaskingImageSharedFileId" as "dbT5205NinteichosahyoTokkijiko_tokkiJikoMaskingImageSharedFileId"
    </sql>


    <!--テーブルDbT5205NinteichosahyoTokkijikoの項目をDbT5205NinteichosahyoTokkijikoEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT5205NinteichosahyoTokkijikoEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT5205NinteichosahyoTokkijikoEntity" autoMapping="true">
        <id property="shinseishoKanriNo" column="dbT5205NinteichosahyoTokkijiko_shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
        <id property="ninteichosaRirekiNo" column="dbT5205NinteichosahyoTokkijiko_ninteichosaRirekiNo" />
        <id property="ninteichosaTokkijikoNo" column="dbT5205NinteichosahyoTokkijiko_ninteichosaTokkijikoNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="ninteichosaTokkijikoRenban" column="dbT5205NinteichosahyoTokkijiko_ninteichosaTokkijikoRenban" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="tokkijikoTextImageKubun" column="dbT5205NinteichosahyoTokkijiko_tokkijikoTextImageKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="genponMaskKubun" column="dbT5205NinteichosahyoTokkijiko_genponMaskKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="insertDantaiCd" column="dbT5205NinteichosahyoTokkijiko_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT5205NinteichosahyoTokkijiko_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT5205NinteichosahyoTokkijiko_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT5205NinteichosahyoTokkijiko_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT5205NinteichosahyoTokkijiko_isDeleted" />
        <result property="updateCount" column="dbT5205NinteichosahyoTokkijiko_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT5205NinteichosahyoTokkijiko_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT5205NinteichosahyoTokkijiko_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="tokkiJiko" column="dbT5205NinteichosahyoTokkijiko_tokkiJiko" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="tokkiJikoImageSharedFileId" column="dbT5205NinteichosahyoTokkijiko_tokkiJikoImageSharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="tokkiJikoMaskingImageSharedFileId" column="dbT5205NinteichosahyoTokkijiko_tokkiJikoMaskingImageSharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
    </resultMap>
<select id="getEntity" resultMap="ResultMap_DbT5205NinteichosahyoTokkijikoEntity">
    SELECT
    <include refid="allColumns_DbT5205NinteichosahyoTokkijiko" />
    FROM
    rgdb."DbT5205NinteichosahyoTokkijiko"
</select>
</mapper>
