<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT7501NinteiSaikinShorishaMapper">

    <select id="save" parameterType="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT7501NinteiSaikinShorishaEntity" resultType="int">
        SELECT
        rgdb."DbFt7501SaikinShorishaSave"
        (#{reamsLoginId}, #{shoKisaiHokenshaNo}, #{hihokenshaNo}, #{hihokenshaName});
    </select>

</mapper>