<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT4202NinteichosahyoGaikyoChosaマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4202NinteichosahyoGaikyoChosaMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT4202NinteichosahyoGaikyoChosa">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4202NinteichosahyoGaikyoChosaMapper.allColumns_DbT4202NinteichosahyoGaikyoChosa" />
     FROM
         rgdb."DbT4202NinteichosahyoGaikyoChosa"
     WHERE
         rgdb."DbT4202NinteichosahyoGaikyoChosa"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT4202NinteichosahyoGaikyoChosa">
         "DbT4202NinteichosahyoGaikyoChosa"."shinseishoKanriNo" as "dbT4202NinteichosahyoGaikyoChosa_shinseishoKanriNo",
         "DbT4202NinteichosahyoGaikyoChosa"."ninteichosaRirekiNo" as "dbT4202NinteichosahyoGaikyoChosa_ninteichosaRirekiNo",
         "DbT4202NinteichosahyoGaikyoChosa"."insertDantaiCd" as "dbT4202NinteichosahyoGaikyoChosa_insertDantaiCd",
         "DbT4202NinteichosahyoGaikyoChosa"."insertTimestamp" as "dbT4202NinteichosahyoGaikyoChosa_insertTimestamp",
         "DbT4202NinteichosahyoGaikyoChosa"."insertReamsLoginId" as "dbT4202NinteichosahyoGaikyoChosa_insertReamsLoginId",
         "DbT4202NinteichosahyoGaikyoChosa"."insertContextId" as "dbT4202NinteichosahyoGaikyoChosa_insertContextId",
         "DbT4202NinteichosahyoGaikyoChosa"."isDeleted" as "dbT4202NinteichosahyoGaikyoChosa_isDeleted",
         "DbT4202NinteichosahyoGaikyoChosa"."updateCount" as "dbT4202NinteichosahyoGaikyoChosa_updateCount",
         "DbT4202NinteichosahyoGaikyoChosa"."lastUpdateTimestamp" as "dbT4202NinteichosahyoGaikyoChosa_lastUpdateTimestamp",
         "DbT4202NinteichosahyoGaikyoChosa"."lastUpdateReamsLoginId" as "dbT4202NinteichosahyoGaikyoChosa_lastUpdateReamsLoginId",
         "DbT4202NinteichosahyoGaikyoChosa"."koroshoIfShikibetsuCode" as "dbT4202NinteichosahyoGaikyoChosa_koroshoIfShikibetsuCode",
         "DbT4202NinteichosahyoGaikyoChosa"."ninteichousaIraiKubunCode" as "dbT4202NinteichosahyoGaikyoChosa_ninteichousaIraiKubunCode",
         "DbT4202NinteichosahyoGaikyoChosa"."ninteichosaIraiKaisu" as "dbT4202NinteichosahyoGaikyoChosa_ninteichosaIraiKaisu",
         "DbT4202NinteichosahyoGaikyoChosa"."ninteichosaJisshiYMD" as "dbT4202NinteichosahyoGaikyoChosa_ninteichosaJisshiYMD",
         "DbT4202NinteichosahyoGaikyoChosa"."ninteichosaJuryoYMD" as "dbT4202NinteichosahyoGaikyoChosa_ninteichosaJuryoYMD",
         "DbT4202NinteichosahyoGaikyoChosa"."chosaItakuKubunCode" as "dbT4202NinteichosahyoGaikyoChosa_chosaItakuKubunCode",
         "DbT4202NinteichosahyoGaikyoChosa"."ninteiChosaKubunCode" as "dbT4202NinteichosahyoGaikyoChosa_ninteiChosaKubunCode",
         "DbT4202NinteichosahyoGaikyoChosa"."chosaItakusakiCode" as "dbT4202NinteichosahyoGaikyoChosa_chosaItakusakiCode",
         "DbT4202NinteichosahyoGaikyoChosa"."chosainCode" as "dbT4202NinteichosahyoGaikyoChosa_chosainCode",
         "DbT4202NinteichosahyoGaikyoChosa"."chosaJisshiBashoCode" as "dbT4202NinteichosahyoGaikyoChosa_chosaJisshiBashoCode",
         "DbT4202NinteichosahyoGaikyoChosa"."chosaJisshiBashoMeisho" as "dbT4202NinteichosahyoGaikyoChosa_chosaJisshiBashoMeisho",
         "DbT4202NinteichosahyoGaikyoChosa"."jisshiBashoImageSharedFileId" as "dbT4202NinteichosahyoGaikyoChosa_jisshiBashoImageSharedFileId",
         "DbT4202NinteichosahyoGaikyoChosa"."serviceKubunCode" as "dbT4202NinteichosahyoGaikyoChosa_serviceKubunCode",
         "DbT4202NinteichosahyoGaikyoChosa"."riyoShisetsuShimei" as "dbT4202NinteichosahyoGaikyoChosa_riyoShisetsuShimei",
         "DbT4202NinteichosahyoGaikyoChosa"."riyoShisetsuJusho" as "dbT4202NinteichosahyoGaikyoChosa_riyoShisetsuJusho",
         "DbT4202NinteichosahyoGaikyoChosa"."riyoShisetsuTelNo" as "dbT4202NinteichosahyoGaikyoChosa_riyoShisetsuTelNo",
         "DbT4202NinteichosahyoGaikyoChosa"."riyoShisetsuYubinNo" as "dbT4202NinteichosahyoGaikyoChosa_riyoShisetsuYubinNo",
         "DbT4202NinteichosahyoGaikyoChosa"."riyoShisetsuNameImageSharedFileId" as "dbT4202NinteichosahyoGaikyoChosa_riyoShisetsuNameImageSharedFileId",
         "DbT4202NinteichosahyoGaikyoChosa"."riyoShisetsuJushoImageSharedFileId" as "dbT4202NinteichosahyoGaikyoChosa_riyoShisetsuJushoImageSharedFileId",
         "DbT4202NinteichosahyoGaikyoChosa"."riyoShisetsuTelNoImageSharedFileId" as "dbT4202NinteichosahyoGaikyoChosa_riyoShisetsuTelNoImageSharedFileId",
         "DbT4202NinteichosahyoGaikyoChosa"."tokki" as "dbT4202NinteichosahyoGaikyoChosa_tokki",
         "DbT4202NinteichosahyoGaikyoChosa"."tokkiImageSharedFileId" as "dbT4202NinteichosahyoGaikyoChosa_tokkiImageSharedFileId",
         "DbT4202NinteichosahyoGaikyoChosa"."tokkijikoUketsukeYMD" as "dbT4202NinteichosahyoGaikyoChosa_tokkijikoUketsukeYMD",
         "DbT4202NinteichosahyoGaikyoChosa"."tokkijikoJuryoYMD" as "dbT4202NinteichosahyoGaikyoChosa_tokkijikoJuryoYMD"
    </sql>


    <!--テーブルDbT4202NinteichosahyoGaikyoChosaの項目をDbT4202NinteichosahyoGaikyoChosaEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT4202NinteichosahyoGaikyoChosaEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT4202NinteichosahyoGaikyoChosaEntity" autoMapping="true">
        <id property="shinseishoKanriNo" column="dbT4202NinteichosahyoGaikyoChosa_shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
        <id property="ninteichosaRirekiNo" column="dbT4202NinteichosahyoGaikyoChosa_ninteichosaRirekiNo" />
        <result property="insertDantaiCd" column="dbT4202NinteichosahyoGaikyoChosa_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT4202NinteichosahyoGaikyoChosa_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT4202NinteichosahyoGaikyoChosa_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT4202NinteichosahyoGaikyoChosa_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT4202NinteichosahyoGaikyoChosa_isDeleted" />
        <result property="updateCount" column="dbT4202NinteichosahyoGaikyoChosa_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT4202NinteichosahyoGaikyoChosa_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT4202NinteichosahyoGaikyoChosa_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="koroshoIfShikibetsuCode" column="dbT4202NinteichosahyoGaikyoChosa_koroshoIfShikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="ninteichousaIraiKubunCode" column="dbT4202NinteichosahyoGaikyoChosa_ninteichousaIraiKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
       <!-- <result property="ninteichosaIraiKaisu" column="dbT4202NinteichosahyoGaikyoChosa_ninteichosaIraiKaisu" />-->
        <result property="ninteichosaJisshiYMD" column="dbT4202NinteichosahyoGaikyoChosa_ninteichosaJisshiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ninteichosaJuryoYMD" column="dbT4202NinteichosahyoGaikyoChosa_ninteichosaJuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="chosaItakuKubunCode" column="dbT4202NinteichosahyoGaikyoChosa_chosaItakuKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="ninteiChosaKubunCode" column="dbT4202NinteichosahyoGaikyoChosa_ninteiChosaKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <!--<result property="chosaItakusakiCode" column="dbT4202NinteichosahyoGaikyoChosa_chosaItakusakiCode" />-->
        <result property="chosainCode" column="dbT4202NinteichosahyoGaikyoChosa_chosainCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="chosaJisshiBashoCode" column="dbT4202NinteichosahyoGaikyoChosa_chosaJisshiBashoCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="chosaJisshiBashoMeisho" column="dbT4202NinteichosahyoGaikyoChosa_chosaJisshiBashoMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="jisshiBashoImageSharedFileId" column="dbT4202NinteichosahyoGaikyoChosa_jisshiBashoImageSharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="serviceKubunCode" column="dbT4202NinteichosahyoGaikyoChosa_serviceKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="riyoShisetsuShimei" column="dbT4202NinteichosahyoGaikyoChosa_riyoShisetsuShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="riyoShisetsuJusho" column="dbT4202NinteichosahyoGaikyoChosa_riyoShisetsuJusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaJushoTypeHandler"/>
        <result property="riyoShisetsuTelNo" column="dbT4202NinteichosahyoGaikyoChosa_riyoShisetsuTelNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.TelNoTypeHandler"/>
        <result property="riyoShisetsuYubinNo" column="dbT4202NinteichosahyoGaikyoChosa_riyoShisetsuYubinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler"/>
        <result property="riyoShisetsuNameImageSharedFileId" column="dbT4202NinteichosahyoGaikyoChosa_riyoShisetsuNameImageSharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="riyoShisetsuJushoImageSharedFileId" column="dbT4202NinteichosahyoGaikyoChosa_riyoShisetsuJushoImageSharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="riyoShisetsuTelNoImageSharedFileId" column="dbT4202NinteichosahyoGaikyoChosa_riyoShisetsuTelNoImageSharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="tokki" column="dbT4202NinteichosahyoGaikyoChosa_tokki" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="tokkiImageSharedFileId" column="dbT4202NinteichosahyoGaikyoChosa_tokkiImageSharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="tokkijikoUketsukeYMD" column="dbT4202NinteichosahyoGaikyoChosa_tokkijikoUketsukeYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="tokkijikoJuryoYMD" column="dbT4202NinteichosahyoGaikyoChosa_tokkijikoJuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
    </resultMap>
    
        <select id="getEntity" resultMap="ResultMap_DbT4202NinteichosahyoGaikyoChosaEntity">
	SELECT
	<include refid="allColumns_DbT4202NinteichosahyoGaikyoChosa"/>
	FROM
	rgdb."DbT4202NinteichosahyoGaikyoChosa"
	</select>

</mapper>
