<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT7055GappeiJohoマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT7055GappeiJohoMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT7055GappeiJoho">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT7055GappeiJohoMapper.allColumns_DbT7055GappeiJoho" />
     FROM
         rgdb."DbT7055GappeiJoho"
     WHERE
         rgdb."DbT7055GappeiJoho"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT7055GappeiJoho">
         "DbT7055GappeiJoho"."gappeiYMD" as "dbT7055GappeiJoho_gappeiYMD",
         "DbT7055GappeiJoho"."chiikiNo" as "dbT7055GappeiJoho_chiikiNo",
         "DbT7055GappeiJoho"."insertDantaiCd" as "dbT7055GappeiJoho_insertDantaiCd",
         "DbT7055GappeiJoho"."insertTimestamp" as "dbT7055GappeiJoho_insertTimestamp",
         "DbT7055GappeiJoho"."insertReamsLoginId" as "dbT7055GappeiJoho_insertReamsLoginId",
         "DbT7055GappeiJoho"."insertContextId" as "dbT7055GappeiJoho_insertContextId",
         "DbT7055GappeiJoho"."isDeleted" as "dbT7055GappeiJoho_isDeleted",
         "DbT7055GappeiJoho"."updateCount" as "dbT7055GappeiJoho_updateCount",
         "DbT7055GappeiJoho"."lastUpdateTimestamp" as "dbT7055GappeiJoho_lastUpdateTimestamp",
         "DbT7055GappeiJoho"."lastUpdateReamsLoginId" as "dbT7055GappeiJoho_lastUpdateReamsLoginId",
         "DbT7055GappeiJoho"."shichosonCode" as "dbT7055GappeiJoho_shichosonCode",
         "DbT7055GappeiJoho"."gappeiShurui" as "dbT7055GappeiJoho_gappeiShurui",
         "DbT7055GappeiJoho"."hokenshaNo" as "dbT7055GappeiJoho_hokenshaNo",
         "DbT7055GappeiJoho"."kyuJohoFuyoToYMD" as "dbT7055GappeiJoho_kyuJohoFuyoToYMD",
         "DbT7055GappeiJoho"."kokuhorenDataFromYMD" as "dbT7055GappeiJoho_kokuhorenDataFromYMD"
    </sql>


    <!--テーブルDbT7055GappeiJohoの項目をDbT7055GappeiJohoEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT7055GappeiJohoEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.gappei.DbT7055GappeiJohoEntity" autoMapping="true">
        <id property="gappeiYMD" column="dbT7055GappeiJoho_gappeiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <id property="chiikiNo" column="dbT7055GappeiJoho_chiikiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertDantaiCd" column="dbT7055GappeiJoho_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT7055GappeiJoho_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT7055GappeiJoho_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT7055GappeiJoho_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT7055GappeiJoho_isDeleted" />
        <result property="updateCount" column="dbT7055GappeiJoho_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT7055GappeiJoho_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT7055GappeiJoho_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shichosonCode" column="dbT7055GappeiJoho_shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <result property="gappeiShurui" column="dbT7055GappeiJoho_gappeiShurui" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hokenshaNo" column="dbT7055GappeiJoho_hokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HokenshaNoTypeHandler" />
        <result property="kyuJohoFuyoToYMD" column="dbT7055GappeiJoho_kyuJohoFuyoToYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="kokuhorenDataFromYMD" column="dbT7055GappeiJoho_kokuhorenDataFromYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
    </resultMap>
    
       <select id="getEntity" resultMap="ResultMap_DbT7055GappeiJohoEntity">
	SELECT
	<include refid="allColumns_DbT7055GappeiJoho"/>
	FROM
	rgdb."DbT7055GappeiJoho"
	</select>

</mapper>
