<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT5594ShinsakaiIinJohoマスタとエンティティのマッピング用XMLです。 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5594ShinsakaiIinJohoMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT5594ShinsakaiIinJoho">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5594ShinsakaiIinJohoMapper.allColumns_DbT5594ShinsakaiIinJoho" />
     FROM
         rgdb."DbT5594ShinsakaiIinJoho"
     WHERE
         rgdb."DbT5594ShinsakaiIinJoho"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT5594ShinsakaiIinJoho">
         "DbT5594ShinsakaiIinJoho"."shinsakaiIinCode" as "dbT5594ShinsakaiIinJoho_shinsakaiIinCode",
         "DbT5594ShinsakaiIinJoho"."insertDantaiCd" as "dbT5594ShinsakaiIinJoho_insertDantaiCd",
         "DbT5594ShinsakaiIinJoho"."insertTimestamp" as "dbT5594ShinsakaiIinJoho_insertTimestamp",
         "DbT5594ShinsakaiIinJoho"."insertReamsLoginId" as "dbT5594ShinsakaiIinJoho_insertReamsLoginId",
         "DbT5594ShinsakaiIinJoho"."insertContextId" as "dbT5594ShinsakaiIinJoho_insertContextId",
         "DbT5594ShinsakaiIinJoho"."isDeleted" as "dbT5594ShinsakaiIinJoho_isDeleted",
         "DbT5594ShinsakaiIinJoho"."updateCount" as "dbT5594ShinsakaiIinJoho_updateCount",
         "DbT5594ShinsakaiIinJoho"."lastUpdateTimestamp" as "dbT5594ShinsakaiIinJoho_lastUpdateTimestamp",
         "DbT5594ShinsakaiIinJoho"."lastUpdateReamsLoginId" as "dbT5594ShinsakaiIinJoho_lastUpdateReamsLoginId",
         "DbT5594ShinsakaiIinJoho"."shinsakaiIinKaishiYMD" as "dbT5594ShinsakaiIinJoho_shinsakaiIinKaishiYMD",
         "DbT5594ShinsakaiIinJoho"."shinsakaiIinShuryoYMD" as "dbT5594ShinsakaiIinJoho_shinsakaiIinShuryoYMD",
         "DbT5594ShinsakaiIinJoho"."shinsakaiIinShimei" as "dbT5594ShinsakaiIinJoho_shinsakaiIinShimei",
         "DbT5594ShinsakaiIinJoho"."shinsakaiIinKanaShimei" as "dbT5594ShinsakaiIinJoho_shinsakaiIinKanaShimei",
         "DbT5594ShinsakaiIinJoho"."seibetsu" as "dbT5594ShinsakaiIinJoho_seibetsu",
         "DbT5594ShinsakaiIinJoho"."shinsakaiIinShikakuCode" as "dbT5594ShinsakaiIinJoho_shinsakaiIinShikakuCode",
         "DbT5594ShinsakaiIinJoho"."shinsainYusoKubun" as "dbT5594ShinsakaiIinJoho_shinsainYusoKubun",
         "DbT5594ShinsakaiIinJoho"."tantoChikuCode" as "dbT5594ShinsakaiIinJoho_tantoChikuCode",
         "DbT5594ShinsakaiIinJoho"."yubinNo" as "dbT5594ShinsakaiIinJoho_yubinNo",
         "DbT5594ShinsakaiIinJoho"."Jusho" as "dbT5594ShinsakaiIinJoho_Jusho",
         "DbT5594ShinsakaiIinJoho"."telNo" as "dbT5594ShinsakaiIinJoho_telNo",
         "DbT5594ShinsakaiIinJoho"."faxNo" as "dbT5594ShinsakaiIinJoho_faxNo",
         "DbT5594ShinsakaiIinJoho"."seinengappiYMD" as "dbT5594ShinsakaiIinJoho_seinengappiYMD",
         "DbT5594ShinsakaiIinJoho"."biko" as "dbT5594ShinsakaiIinJoho_biko",
         "DbT5594ShinsakaiIinJoho"."haishiFlag" as "dbT5594ShinsakaiIinJoho_haishiFlag",
         "DbT5594ShinsakaiIinJoho"."haishiYMD" as "dbT5594ShinsakaiIinJoho_haishiYMD",
         "DbT5594ShinsakaiIinJoho"."kinyuKikanCode" as "dbT5594ShinsakaiIinJoho_kinyuKikanCode",
         "DbT5594ShinsakaiIinJoho"."kinyuKikanShitenCode" as "dbT5594ShinsakaiIinJoho_kinyuKikanShitenCode",
         "DbT5594ShinsakaiIinJoho"."yokinShubetsu" as "dbT5594ShinsakaiIinJoho_yokinShubetsu",
         "DbT5594ShinsakaiIinJoho"."kozaNo" as "dbT5594ShinsakaiIinJoho_kozaNo",
         "DbT5594ShinsakaiIinJoho"."kozaMeigininKana" as "dbT5594ShinsakaiIinJoho_kozaMeigininKana",
         "DbT5594ShinsakaiIinJoho"."kozaMeiginin" as "dbT5594ShinsakaiIinJoho_kozaMeiginin"
    </sql>


    <!--テーブルDbT5594ShinsakaiIinJohoの項目をDbT5594ShinsakaiIinJohoEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT5594ShinsakaiIinJohoEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT5594ShinsakaiIinJohoEntity" autoMapping="true">
        <id property="shinsakaiIinCode" column="dbT5594ShinsakaiIinJoho_shinsakaiIinCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertDantaiCd" column="dbT5594ShinsakaiIinJoho_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT5594ShinsakaiIinJoho_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT5594ShinsakaiIinJoho_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT5594ShinsakaiIinJoho_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT5594ShinsakaiIinJoho_isDeleted" />
        <result property="updateCount" column="dbT5594ShinsakaiIinJoho_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT5594ShinsakaiIinJoho_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT5594ShinsakaiIinJoho_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shinsakaiIinKaishiYMD" column="dbT5594ShinsakaiIinJoho_shinsakaiIinKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shinsakaiIinShuryoYMD" column="dbT5594ShinsakaiIinJoho_shinsakaiIinShuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shinsakaiIinShimei" column="dbT5594ShinsakaiIinJoho_shinsakaiIinShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="shinsakaiIinKanaShimei" column="dbT5594ShinsakaiIinJoho_shinsakaiIinKanaShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaKanaMeishoTypeHandler"/>
        <result property="seibetsu" column="dbT5594ShinsakaiIinJoho_seibetsu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shinsakaiIinShikakuCode" column="dbT5594ShinsakaiIinJoho_shinsakaiIinShikakuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="shinsainYusoKubun" column="dbT5594ShinsakaiIinJoho_shinsainYusoKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="tantoChikuCode" column="dbT5594ShinsakaiIinJoho_tantoChikuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ChikuCodeTypeHandler"/>
        <result property="yubinNo" column="dbT5594ShinsakaiIinJoho_yubinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler"/>
        <result property="Jusho" column="dbT5594ShinsakaiIinJoho_Jusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaJushoTypeHandler"/>
        <result property="telNo" column="dbT5594ShinsakaiIinJoho_telNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.TelNoTypeHandler"/>
        <result property="faxNo" column="dbT5594ShinsakaiIinJoho_faxNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.TelNoTypeHandler"/>
        <result property="seinengappiYMD" column="dbT5594ShinsakaiIinJoho_seinengappiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="biko" column="dbT5594ShinsakaiIinJoho_biko" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="haishiFlag" column="dbT5594ShinsakaiIinJoho_haishiFlag" />
        <result property="haishiYMD" column="dbT5594ShinsakaiIinJoho_haishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="kinyuKikanCode" column="dbT5594ShinsakaiIinJoho_kinyuKikanCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.KinyuKikanCodeTypeHandler"/>
        <result property="kinyuKikanShitenCode" column="dbT5594ShinsakaiIinJoho_kinyuKikanShitenCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.KinyuKikanShitenCodeTypeHandler"/>
        <result property="yokinShubetsu" column="dbT5594ShinsakaiIinJoho_yokinShubetsu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kozaNo" column="dbT5594ShinsakaiIinJoho_kozaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kozaMeigininKana" column="dbT5594ShinsakaiIinJoho_kozaMeigininKana" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaKanaMeishoTypeHandler"/>
        <result property="kozaMeiginin" column="dbT5594ShinsakaiIinJoho_kozaMeiginin" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
    </resultMap>
    <select resultOrdered="true" id="getEntity" resultMap="ResultMap_DbT5594ShinsakaiIinJohoEntity">
        SELECT
        <include refid="allColumns_DbT5594ShinsakaiIinJoho"/>
        FROM
        rgdb."DbT5594ShinsakaiIinJoho"
    </select>
</mapper>
