<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT4115Imageマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4115ImageMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT4115Image">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4115ImageMapper.allColumns_DbT4115Image" />
     FROM
         rgdb."DbT4115Image"
     WHERE
         rgdb."DbT4115Image"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT4115Image">
         "DbT4115Image"."shinseishoKanriNo" as "dbT4115Image_shinseishoKanriNo",
         "DbT4115Image"."torikomiPageNo" as "dbT4115Image_torikomiPageNo",
         "DbT4115Image"."genponMaskKubun" as "dbT4115Image_genponMaskKubun",
         "DbT4115Image"."insertDantaiCd" as "dbT4115Image_insertDantaiCd",
         "DbT4115Image"."insertTimestamp" as "dbT4115Image_insertTimestamp",
         "DbT4115Image"."insertReamsLoginId" as "dbT4115Image_insertReamsLoginId",
         "DbT4115Image"."insertContextId" as "dbT4115Image_insertContextId",
         "DbT4115Image"."isDeleted" as "dbT4115Image_isDeleted",
         "DbT4115Image"."updateCount" as "dbT4115Image_updateCount",
         "DbT4115Image"."lastUpdateTimestamp" as "dbT4115Image_lastUpdateTimestamp",
         "DbT4115Image"."lastUpdateReamsLoginId" as "dbT4115Image_lastUpdateReamsLoginId",
         "DbT4115Image"."imageSharedFileId" as "dbT4115Image_imageSharedFileId"
    </sql>


    <!--テーブルDbT4115Imageの項目をDbT4115ImageEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT4115ImageEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT4115ImageEntity" autoMapping="true">
        <!--<id property="shinseishoKanriNo" column="dbT4115Image_shinseishoKanriNo" />-->
        <!--<id property="torikomiPageNo" column="dbT4115Image_torikomiPageNo" />-->
        <id property="genponMaskKubun" column="dbT4115Image_genponMaskKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="insertDantaiCd" column="dbT4115Image_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT4115Image_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT4115Image_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT4115Image_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT4115Image_isDeleted" />
        <result property="updateCount" column="dbT4115Image_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT4115Image_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT4115Image_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="imageSharedFileId" column="dbT4115Image_imageSharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
    </resultMap>
    
        <select id="getEntity" resultMap="ResultMap_DbT4115ImageEntity">
<!--	SELECT
	<include refid="allColumns_DbT4115Image"/>
	FROM
	rgdb."DbT4115Image"-->
	</select>

</mapper>
