<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT4210NinteichosahyoShisetsuRiyoマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4210NinteichosahyoShisetsuRiyoMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT4210NinteichosahyoShisetsuRiyo">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4210NinteichosahyoShisetsuRiyoMapper.allColumns_DbT4210NinteichosahyoShisetsuRiyo" />
        FROM
        rgdb."DbT4210NinteichosahyoShisetsuRiyo"
        WHERE
        rgdb."DbT4210NinteichosahyoShisetsuRiyo"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT4210NinteichosahyoShisetsuRiyo">
        "DbT4210NinteichosahyoShisetsuRiyo"."shinseishoKanriNo" as "dbT4210NinteichosahyoShisetsuRiyo_shinseishoKanriNo",
        "DbT4210NinteichosahyoShisetsuRiyo"."ninteichosaRirekiNo" as "dbT4210NinteichosahyoShisetsuRiyo_ninteichosaRirekiNo",
        "DbT4210NinteichosahyoShisetsuRiyo"."remban" as "dbT4210NinteichosahyoShisetsuRiyo_remban",
        "DbT4210NinteichosahyoShisetsuRiyo"."insertDantaiCd" as "dbT4210NinteichosahyoShisetsuRiyo_insertDantaiCd",
        "DbT4210NinteichosahyoShisetsuRiyo"."insertTimestamp" as "dbT4210NinteichosahyoShisetsuRiyo_insertTimestamp",
        "DbT4210NinteichosahyoShisetsuRiyo"."insertReamsLoginId" as "dbT4210NinteichosahyoShisetsuRiyo_insertReamsLoginId",
        "DbT4210NinteichosahyoShisetsuRiyo"."insertContextId" as "dbT4210NinteichosahyoShisetsuRiyo_insertContextId",
        "DbT4210NinteichosahyoShisetsuRiyo"."isDeleted" as "dbT4210NinteichosahyoShisetsuRiyo_isDeleted",
        "DbT4210NinteichosahyoShisetsuRiyo"."updateCount" as "dbT4210NinteichosahyoShisetsuRiyo_updateCount",
        "DbT4210NinteichosahyoShisetsuRiyo"."lastUpdateTimestamp" as "dbT4210NinteichosahyoShisetsuRiyo_lastUpdateTimestamp",
        "DbT4210NinteichosahyoShisetsuRiyo"."lastUpdateReamsLoginId" as "dbT4210NinteichosahyoShisetsuRiyo_lastUpdateReamsLoginId",
        "DbT4210NinteichosahyoShisetsuRiyo"."koroshoIfShikibetsuCode" as "dbT4210NinteichosahyoShisetsuRiyo_koroshoIfShikibetsuCode",
        "DbT4210NinteichosahyoShisetsuRiyo"."shisetsuRiyoFlag" as "dbT4210NinteichosahyoShisetsuRiyo_shisetsuRiyoFlag"
    </sql>


    <!--テーブルDbT4210NinteichosahyoShisetsuRiyoの項目をDbT4210NinteichosahyoShisetsuRiyoEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT4210NinteichosahyoShisetsuRiyoEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT4210NinteichosahyoShisetsuRiyoEntity" autoMapping="true">
        <id property="shinseishoKanriNo" column="dbT4210NinteichosahyoShisetsuRiyo_shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
        <id property="ninteichosaRirekiNo" column="dbT4210NinteichosahyoShisetsuRiyo_ninteichosaRirekiNo" />
        <id property="remban" column="dbT4210NinteichosahyoShisetsuRiyo_remban" />
        <result property="insertDantaiCd" column="dbT4210NinteichosahyoShisetsuRiyo_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT4210NinteichosahyoShisetsuRiyo_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT4210NinteichosahyoShisetsuRiyo_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT4210NinteichosahyoShisetsuRiyo_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT4210NinteichosahyoShisetsuRiyo_isDeleted" />
        <result property="updateCount" column="dbT4210NinteichosahyoShisetsuRiyo_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT4210NinteichosahyoShisetsuRiyo_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT4210NinteichosahyoShisetsuRiyo_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="koroshoIfShikibetsuCode" column="dbT4210NinteichosahyoShisetsuRiyo_koroshoIfShikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="shisetsuRiyoFlag" column="dbT4210NinteichosahyoShisetsuRiyo_shisetsuRiyoFlag" />
    </resultMap>
    
    <select id="getEntity" resultMap="ResultMap_DbT4210NinteichosahyoShisetsuRiyoEntity">
        SELECT
        <include refid="allColumns_DbT4210NinteichosahyoShisetsuRiyo"/>
        FROM
        rgdb."DbT4210NinteichosahyoShisetsuRiyo"
    </select>

</mapper>
