<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT4206GaikyoTokkiChildマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4206GaikyoTokkiChildMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT4206GaikyoTokkiChild">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4206GaikyoTokkiChildMapper.allColumns_DbT4206GaikyoTokkiChild" />
        FROM
        rgdb."DbT4206GaikyoTokkiChild"
        WHERE
        rgdb."DbT4206GaikyoTokkiChild"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT4206GaikyoTokkiChild">
        "DbT4206GaikyoTokkiChild"."shinseishoKanriNo" as "dbT4206GaikyoTokkiChild_shinseishoKanriNo",
        "DbT4206GaikyoTokkiChild"."ninteichosaRirekiNo" as "dbT4206GaikyoTokkiChild_ninteichosaRirekiNo",
        "DbT4206GaikyoTokkiChild"."insertDantaiCd" as "dbT4206GaikyoTokkiChild_insertDantaiCd",
        "DbT4206GaikyoTokkiChild"."insertTimestamp" as "dbT4206GaikyoTokkiChild_insertTimestamp",
        "DbT4206GaikyoTokkiChild"."insertReamsLoginId" as "dbT4206GaikyoTokkiChild_insertReamsLoginId",
        "DbT4206GaikyoTokkiChild"."insertContextId" as "dbT4206GaikyoTokkiChild_insertContextId",
        "DbT4206GaikyoTokkiChild"."isDeleted" as "dbT4206GaikyoTokkiChild_isDeleted",
        "DbT4206GaikyoTokkiChild"."updateCount" as "dbT4206GaikyoTokkiChild_updateCount",
        "DbT4206GaikyoTokkiChild"."lastUpdateTimestamp" as "dbT4206GaikyoTokkiChild_lastUpdateTimestamp",
        "DbT4206GaikyoTokkiChild"."lastUpdateReamsLoginId" as "dbT4206GaikyoTokkiChild_lastUpdateReamsLoginId",
        "DbT4206GaikyoTokkiChild"."shuso" as "dbT4206GaikyoTokkiChild_shuso",
        "DbT4206GaikyoTokkiChild"."shusoImageSharedFileId" as "dbT4206GaikyoTokkiChild_shusoImageSharedFileId",
        "DbT4206GaikyoTokkiChild"."shusoMaskingImageSharedFileId" as "dbT4206GaikyoTokkiChild_shusoMaskingImageSharedFileId",
        "DbT4206GaikyoTokkiChild"."kazokuJokyo" as "dbT4206GaikyoTokkiChild_kazokuJokyo",
        "DbT4206GaikyoTokkiChild"."kazokuJokyoImageSharedFileId" as "dbT4206GaikyoTokkiChild_kazokuJokyoImageSharedFileId",
        "DbT4206GaikyoTokkiChild"."kazokuJokyoMaskingImageSharedFileId" as "dbT4206GaikyoTokkiChild_kazokuJokyoMaskingImageSharedFileId",
        "DbT4206GaikyoTokkiChild"."kyojuKankyo" as "dbT4206GaikyoTokkiChild_kyojuKankyo",
        "DbT4206GaikyoTokkiChild"."kyojuKankyoImageSharedFileId" as "dbT4206GaikyoTokkiChild_kyojuKankyoImageSharedFileId",
        "DbT4206GaikyoTokkiChild"."kyojuKankyoMaskingImageSharedFileId" as "dbT4206GaikyoTokkiChild_kyojuKankyoMaskingImageSharedFileId",
        "DbT4206GaikyoTokkiChild"."kikaiKiki" as "dbT4206GaikyoTokkiChild_kikaiKiki",
        "DbT4206GaikyoTokkiChild"."kikaiKikiImageSharedFileId" as "dbT4206GaikyoTokkiChild_kikaiKikiImageSharedFileId",
        "DbT4206GaikyoTokkiChild"."kikaiKikiMaskingImageSharedFileId" as "dbT4206GaikyoTokkiChild_kikaiKikiMaskingImageSharedFileId"
    </sql>


    <!--テーブルDbT4206GaikyoTokkiChildの項目をDbT4206GaikyoTokkiChildEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT4206GaikyoTokkiChildEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT4206GaikyoTokkiChildEntity" autoMapping="true">
        <id property="shinseishoKanriNo" column="dbT4206GaikyoTokkiChild_shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
        <id property="ninteichosaRirekiNo" column="dbT4206GaikyoTokkiChild_ninteichosaRirekiNo" />
        <result property="insertDantaiCd" column="dbT4206GaikyoTokkiChild_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT4206GaikyoTokkiChild_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT4206GaikyoTokkiChild_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT4206GaikyoTokkiChild_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT4206GaikyoTokkiChild_isDeleted" />
        <result property="updateCount" column="dbT4206GaikyoTokkiChild_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT4206GaikyoTokkiChild_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT4206GaikyoTokkiChild_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shuso" column="dbT4206GaikyoTokkiChild_shuso" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shusoImageSharedFileId" column="dbT4206GaikyoTokkiChild_shusoImageSharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="shusoMaskingImageSharedFileId" column="dbT4206GaikyoTokkiChild_shusoMaskingImageSharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="kazokuJokyo" column="dbT4206GaikyoTokkiChild_kazokuJokyo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kazokuJokyoImageSharedFileId" column="dbT4206GaikyoTokkiChild_kazokuJokyoImageSharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="kazokuJokyoMaskingImageSharedFileId" column="dbT4206GaikyoTokkiChild_kazokuJokyoMaskingImageSharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="kyojuKankyo" column="dbT4206GaikyoTokkiChild_kyojuKankyo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kyojuKankyoImageSharedFileId" column="dbT4206GaikyoTokkiChild_kyojuKankyoImageSharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="kyojuKankyoMaskingImageSharedFileId" column="dbT4206GaikyoTokkiChild_kyojuKankyoMaskingImageSharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="kikaiKiki" column="dbT4206GaikyoTokkiChild_kikaiKiki" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kikaiKikiImageSharedFileId" column="dbT4206GaikyoTokkiChild_kikaiKikiImageSharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="kikaiKikiMaskingImageSharedFileId" column="dbT4206GaikyoTokkiChild_kikaiKikiMaskingImageSharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
    </resultMap>
    
    <select id="getEntity" resultMap="ResultMap_DbT4206GaikyoTokkiChildEntity">
        SELECT
        <include refid="allColumns_DbT4206GaikyoTokkiChild"/>
        FROM
        rgdb."DbT4206GaikyoTokkiChild"
    </select>

</mapper>
