<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT7067ChohyoSeigyoHanyoマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT7067ChohyoSeigyoHanyoMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT7067ChohyoSeigyoHanyo">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT7067ChohyoSeigyoHanyoMapper.allColumns_DbT7067ChohyoSeigyoHanyo" />
     FROM
         rgdb."DbT7067ChohyoSeigyoHanyo"
     WHERE
         rgdb."DbT7067ChohyoSeigyoHanyo"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT7067ChohyoSeigyoHanyo">
         "DbT7067ChohyoSeigyoHanyo"."subGyomuCode" as "dbT7067ChohyoSeigyoHanyo_subGyomuCode",
         "DbT7067ChohyoSeigyoHanyo"."chohyoBunruiID" as "dbT7067ChohyoSeigyoHanyo_chohyoBunruiID",
         "DbT7067ChohyoSeigyoHanyo"."komokuName" as "dbT7067ChohyoSeigyoHanyo_komokuName",
         "DbT7067ChohyoSeigyoHanyo"."insertDantaiCd" as "dbT7067ChohyoSeigyoHanyo_insertDantaiCd",
         "DbT7067ChohyoSeigyoHanyo"."insertTimestamp" as "dbT7067ChohyoSeigyoHanyo_insertTimestamp",
         "DbT7067ChohyoSeigyoHanyo"."insertReamsLoginId" as "dbT7067ChohyoSeigyoHanyo_insertReamsLoginId",
         "DbT7067ChohyoSeigyoHanyo"."insertContextId" as "dbT7067ChohyoSeigyoHanyo_insertContextId",
         "DbT7067ChohyoSeigyoHanyo"."isDeleted" as "dbT7067ChohyoSeigyoHanyo_isDeleted",
         "DbT7067ChohyoSeigyoHanyo"."updateCount" as "dbT7067ChohyoSeigyoHanyo_updateCount",
         "DbT7067ChohyoSeigyoHanyo"."lastUpdateTimestamp" as "dbT7067ChohyoSeigyoHanyo_lastUpdateTimestamp",
         "DbT7067ChohyoSeigyoHanyo"."lastUpdateReamsLoginId" as "dbT7067ChohyoSeigyoHanyo_lastUpdateReamsLoginId",
         "DbT7067ChohyoSeigyoHanyo"."komokuValue" as "dbT7067ChohyoSeigyoHanyo_komokuValue",
         "DbT7067ChohyoSeigyoHanyo"."komokuSetsumei" as "dbT7067ChohyoSeigyoHanyo_komokuSetsumei",
         "DbT7067ChohyoSeigyoHanyo"."henkoKahi" as "dbT7067ChohyoSeigyoHanyo_henkoKahi",
         "DbT7067ChohyoSeigyoHanyo"."codeMasterSubGyomuCode" as "dbT7067ChohyoSeigyoHanyo_codeMasterSubGyomuCode",
         "DbT7067ChohyoSeigyoHanyo"."codeMasterCodeShubetsu" as "dbT7067ChohyoSeigyoHanyo_codeMasterCodeShubetsu"
    </sql>


    <!--テーブルDbT7067ChohyoSeigyoHanyoの項目をDbT7067ChohyoSeigyoHanyoEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT7067ChohyoSeigyoHanyoEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT7067ChohyoSeigyoHanyoEntity" autoMapping="true">
        <id property="subGyomuCode" column="dbT7067ChohyoSeigyoHanyo_subGyomuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.SubGyomuCodeTypeHandler"/>
        <id property="chohyoBunruiID" column="dbT7067ChohyoSeigyoHanyo_chohyoBunruiID" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ReportIdTypeHandler"/>
        <id property="komokuName" column="dbT7067ChohyoSeigyoHanyo_komokuName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertDantaiCd" column="dbT7067ChohyoSeigyoHanyo_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT7067ChohyoSeigyoHanyo_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT7067ChohyoSeigyoHanyo_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT7067ChohyoSeigyoHanyo_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT7067ChohyoSeigyoHanyo_isDeleted" />
        <result property="updateCount" column="dbT7067ChohyoSeigyoHanyo_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT7067ChohyoSeigyoHanyo_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT7067ChohyoSeigyoHanyo_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="komokuValue" column="dbT7067ChohyoSeigyoHanyo_komokuValue" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="komokuSetsumei" column="dbT7067ChohyoSeigyoHanyo_komokuSetsumei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="henkoKahi" column="dbT7067ChohyoSeigyoHanyo_henkoKahi" />
        <result property="codeMasterSubGyomuCode" column="dbT7067ChohyoSeigyoHanyo_codeMasterSubGyomuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.SubGyomuCodeTypeHandler"/>
        <result property="codeMasterCodeShubetsu" column="dbT7067ChohyoSeigyoHanyo_codeMasterCodeShubetsu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeShubetsuTypeHandler"/>
    </resultMap>
    
    <select id="getEntity" resultMap="ResultMap_DbT7067ChohyoSeigyoHanyoEntity">
	SELECT
	<include refid="allColumns_DbT7067ChohyoSeigyoHanyo"/>
	FROM
	rgdb."DbT7067ChohyoSeigyoHanyo"
	</select>

</mapper>
