<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT5304ShujiiIkenshoIkenItemマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5304ShujiiIkenshoIkenItemMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT5304ShujiiIkenshoIkenItem">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5304ShujiiIkenshoIkenItemMapper.allColumns_DbT5304ShujiiIkenshoIkenItem" />
     FROM
         rgdb."DbT5304ShujiiIkenshoIkenItem"
     WHERE
         rgdb."DbT5304ShujiiIkenshoIkenItem"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT5304ShujiiIkenshoIkenItem">
         "DbT5304ShujiiIkenshoIkenItem"."shinseishoKanriNo" as "dbT5304ShujiiIkenshoIkenItem_shinseishoKanriNo",
         "DbT5304ShujiiIkenshoIkenItem"."ikenshoIraiRirekiNo" as "dbT5304ShujiiIkenshoIkenItem_ikenshoIraiRirekiNo",
         "DbT5304ShujiiIkenshoIkenItem"."insertDantaiCd" as "dbT5304ShujiiIkenshoIkenItem_insertDantaiCd",
         "DbT5304ShujiiIkenshoIkenItem"."insertTimestamp" as "dbT5304ShujiiIkenshoIkenItem_insertTimestamp",
         "DbT5304ShujiiIkenshoIkenItem"."insertReamsLoginId" as "dbT5304ShujiiIkenshoIkenItem_insertReamsLoginId",
         "DbT5304ShujiiIkenshoIkenItem"."insertContextId" as "dbT5304ShujiiIkenshoIkenItem_insertContextId",
         "DbT5304ShujiiIkenshoIkenItem"."isDeleted" as "dbT5304ShujiiIkenshoIkenItem_isDeleted",
         "DbT5304ShujiiIkenshoIkenItem"."updateCount" as "dbT5304ShujiiIkenshoIkenItem_updateCount",
         "DbT5304ShujiiIkenshoIkenItem"."lastUpdateTimestamp" as "dbT5304ShujiiIkenshoIkenItem_lastUpdateTimestamp",
         "DbT5304ShujiiIkenshoIkenItem"."lastUpdateReamsLoginId" as "dbT5304ShujiiIkenshoIkenItem_lastUpdateReamsLoginId",
         "DbT5304ShujiiIkenshoIkenItem"."remban" as "dbT5304ShujiiIkenshoIkenItem_remban",
         "DbT5304ShujiiIkenshoIkenItem"."koroshoIfShikibetsuCode" as "dbT5304ShujiiIkenshoIkenItem_koroshoIfShikibetsuCode",
         "DbT5304ShujiiIkenshoIkenItem"."ikenItem" as "dbT5304ShujiiIkenshoIkenItem_ikenItem"
    </sql>


    <!--テーブルDbT5304ShujiiIkenshoIkenItemの項目をDbT5304ShujiiIkenshoIkenItemEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT5304ShujiiIkenshoIkenItemEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT5304ShujiiIkenshoIkenItemEntity" autoMapping="true">
        <id property="shinseishoKanriNo" column="dbT5304ShujiiIkenshoIkenItem_shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
        <id property="ikenshoIraiRirekiNo" column="dbT5304ShujiiIkenshoIkenItem_ikenshoIraiRirekiNo" />
        <result property="insertDantaiCd" column="dbT5304ShujiiIkenshoIkenItem_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT5304ShujiiIkenshoIkenItem_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT5304ShujiiIkenshoIkenItem_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT5304ShujiiIkenshoIkenItem_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT5304ShujiiIkenshoIkenItem_isDeleted" />
        <result property="updateCount" column="dbT5304ShujiiIkenshoIkenItem_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT5304ShujiiIkenshoIkenItem_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT5304ShujiiIkenshoIkenItem_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="remban" column="dbT5304ShujiiIkenshoIkenItem_remban" />
        <result property="koroshoIfShikibetsuCode" column="dbT5304ShujiiIkenshoIkenItem_koroshoIfShikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="ikenItem" column="dbT5304ShujiiIkenshoIkenItem_ikenItem" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
<select id="getEntity" resultMap="ResultMap_DbT5304ShujiiIkenshoIkenItemEntity">
    SELECT
    <include refid="allColumns_DbT5304ShujiiIkenshoIkenItem" />
    FROM
    rgdb."DbT5304ShujiiIkenshoIkenItem"
</select>
</mapper>
