<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT4116IchijiHanteiKekkaJohoマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->
<!-- @reamsid_L DBZ-9999-021 chengsanyuan -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4116IchijiHanteiKekkaJohoMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT4116IchijiHanteiKekkaJoho">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4116IchijiHanteiKekkaJohoMapper.allColumns_DbT4116IchijiHanteiKekkaJoho" />
     FROM
         rgdb."DbT4116IchijiHanteiKekkaJoho"
     WHERE
         rgdb."DbT4116IchijiHanteiKekkaJoho"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT4116IchijiHanteiKekkaJoho">
         "DbT4116IchijiHanteiKekkaJoho"."shinseishoKanriNo" as "dbT4116IchijiHanteiKekkaJoho_shinseishoKanriNo",
         "DbT4116IchijiHanteiKekkaJoho"."insertDantaiCd" as "dbT4116IchijiHanteiKekkaJoho_insertDantaiCd",
         "DbT4116IchijiHanteiKekkaJoho"."insertTimestamp" as "dbT4116IchijiHanteiKekkaJoho_insertTimestamp",
         "DbT4116IchijiHanteiKekkaJoho"."insertReamsLoginId" as "dbT4116IchijiHanteiKekkaJoho_insertReamsLoginId",
         "DbT4116IchijiHanteiKekkaJoho"."insertContextId" as "dbT4116IchijiHanteiKekkaJoho_insertContextId",
         "DbT4116IchijiHanteiKekkaJoho"."isDeleted" as "dbT4116IchijiHanteiKekkaJoho_isDeleted",
         "DbT4116IchijiHanteiKekkaJoho"."updateCount" as "dbT4116IchijiHanteiKekkaJoho_updateCount",
         "DbT4116IchijiHanteiKekkaJoho"."lastUpdateTimestamp" as "dbT4116IchijiHanteiKekkaJoho_lastUpdateTimestamp",
         "DbT4116IchijiHanteiKekkaJoho"."lastUpdateReamsLoginId" as "dbT4116IchijiHanteiKekkaJoho_lastUpdateReamsLoginId",
         "DbT4116IchijiHanteiKekkaJoho"."kariIchijiHanteiKubun" as "dbT4116IchijiHanteiKekkaJoho_kariIchijiHanteiKubun",
         "DbT4116IchijiHanteiKekkaJoho"."ichijiHanteiYMD" as "dbT4116IchijiHanteiKekkaJoho_ichijiHanteiYMD",
         "DbT4116IchijiHanteiKekkaJoho"."ichijiHanteiKekkaCode" as "dbT4116IchijiHanteiKekkaJoho_ichijiHanteiKekkaCode",
         "DbT4116IchijiHanteiKekkaJoho"."ichijiHanteiKekkaNinchishoKasanCode" as "dbT4116_ichijiHanteiKekkaNinchishoKasanCode",
         "DbT4116IchijiHanteiKekkaJoho"."kijunJikan" as "dbT4116IchijiHanteiKekkaJoho_kijunJikan",
         "DbT4116IchijiHanteiKekkaJoho"."kijunJikanShokuji" as "dbT4116IchijiHanteiKekkaJoho_kijunJikanShokuji",
         "DbT4116IchijiHanteiKekkaJoho"."kijunJikanHaisetsu" as "dbT4116IchijiHanteiKekkaJoho_kijunJikanHaisetsu",
         "DbT4116IchijiHanteiKekkaJoho"."kijunJikanIdo" as "dbT4116IchijiHanteiKekkaJoho_kijunJikanIdo",
         "DbT4116IchijiHanteiKekkaJoho"."kijunJikanSeiketsuHoji" as "dbT4116IchijiHanteiKekkaJoho_kijunJikanSeiketsuHoji",
         "DbT4116IchijiHanteiKekkaJoho"."kijunJikanKansetsuCare" as "dbT4116IchijiHanteiKekkaJoho_kijunJikanKansetsuCare",
         "DbT4116IchijiHanteiKekkaJoho"."kijunJikanBPSDKanren" as "dbT4116IchijiHanteiKekkaJoho_kijunJikanBPSDKanren",
         "DbT4116IchijiHanteiKekkaJoho"."kijunJikanKinoKunren" as "dbT4116IchijiHanteiKekkaJoho_kijunJikanKinoKunren",
         "DbT4116IchijiHanteiKekkaJoho"."kijunJikanIryoKanren" as "dbT4116IchijiHanteiKekkaJoho_kijunJikanIryoKanren",
         "DbT4116IchijiHanteiKekkaJoho"."kijunJikanNinchishoKasan" as "dbT4116IchijiHanteiKekkaJoho_kijunJikanNinchishoKasan",
         "DbT4116IchijiHanteiKekkaJoho"."chukanHyokaKomoku1gun" as "dbT4116IchijiHanteiKekkaJoho_chukanHyokaKomoku1gun",
         "DbT4116IchijiHanteiKekkaJoho"."chukanHyokaKomoku2gun" as "dbT4116IchijiHanteiKekkaJoho_chukanHyokaKomoku2gun",
         "DbT4116IchijiHanteiKekkaJoho"."chukanHyokaKomoku3gun" as "dbT4116IchijiHanteiKekkaJoho_chukanHyokaKomoku3gun",
         "DbT4116IchijiHanteiKekkaJoho"."chukanHyokaKomoku4gun" as "dbT4116IchijiHanteiKekkaJoho_chukanHyokaKomoku4gun",
         "DbT4116IchijiHanteiKekkaJoho"."chukanHyokaKomoku5gun" as "dbT4116IchijiHanteiKekkaJoho_chukanHyokaKomoku5gun",
         "DbT4116IchijiHanteiKekkaJoho"."chukanHyokaKomoku6gun" as "dbT4116IchijiHanteiKekkaJoho_chukanHyokaKomoku6gun",
         "DbT4116IchijiHanteiKekkaJoho"."chukanHyokaKomoku7gun" as "dbT4116IchijiHanteiKekkaJoho_chukanHyokaKomoku7gun",
         "DbT4116IchijiHanteiKekkaJoho"."ichijiHnateiKeikokuCode" as "dbT4116IchijiHanteiKekkaJoho_ichijiHnateiKeikokuCode",
         "DbT4116IchijiHanteiKekkaJoho"."jotaiAnteiseiCode" as "dbT4116IchijiHanteiKekkaJoho_jotaiAnteiseiCode",
         "DbT4116IchijiHanteiKekkaJoho"."ninchishoJiritsudoIIijoNoGaizensei" as "dbT4116IchijiHanteiKekkaJoho_ninchishoJiritsudoIIijoNoGaizensei",
         "DbT4116IchijiHanteiKekkaJoho"."suiteiKyufuKubunCode" as "dbT4116IchijiHanteiKekkaJoho_suiteiKyufuKubunCode",
         "DbT4116IchijiHanteiKekkaJoho"."ninchishoKoreishaShihyoCode" as "dbT4116IchijiHanteiKekkaJoho_ninchishoKoreishaShihyoCode",
         "DbT4116IchijiHanteiKekkaJoho"."jiritsudoKumiawase1" as "dbT4116IchijiHanteiKekkaJoho_jiritsudoKumiawase1",
         "DbT4116IchijiHanteiKekkaJoho"."jiritsudoKumiawase2" as "dbT4116IchijiHanteiKekkaJoho_jiritsudoKumiawase2",
         "DbT4116IchijiHanteiKekkaJoho"."jiritsudoKumiawase3" as "dbT4116IchijiHanteiKekkaJoho_jiritsudoKumiawase3",
         "DbT4116IchijiHanteiKekkaJoho"."jiritsudoKumiawase4" as "dbT4116IchijiHanteiKekkaJoho_jiritsudoKumiawase4",
         "DbT4116IchijiHanteiKekkaJoho"."jiritsudoKumiawase5" as "dbT4116IchijiHanteiKekkaJoho_jiritsudoKumiawase5",
         "DbT4116IchijiHanteiKekkaJoho"."jiritsudoKumiawase6" as "dbT4116IchijiHanteiKekkaJoho_jiritsudoKumiawase6",
         "DbT4116IchijiHanteiKekkaJoho"."jiritsudoKumiawase7" as "dbT4116IchijiHanteiKekkaJoho_jiritsudoKumiawase7",
         "DbT4116IchijiHanteiKekkaJoho"."gaizenseiHyokaCode" as "dbT4116IchijiHanteiKekkaJoho_gaizenseiHyokaCode",
         "DbT4116IchijiHanteiKekkaJoho"."gaizenseiHyokaPercent" as "dbT4116IchijiHanteiKekkaJoho_gaizenseiHyokaPercent",
         "DbT4116IchijiHanteiKekkaJoho"."ichijiHanteiSofuKubun" as "dbT4116IchijiHanteiKekkaJoho_ichijiHanteiSofuKubun",
         "DbT4116IchijiHanteiKekkaJoho"."ichijiHanteiKekkaSofuYMD" as "dbT4116IchijiHanteiKekkaJoho_ichijiHanteiKekkaSofuYMD",
         "DbT4116IchijiHanteiKekkaJoho"."chert" as "dbT4116IchijiHanteiKekkaJoho_chert",
         "DbT4116IchijiHanteiKekkaJoho"."jotaizo" as "dbT4116IchijiHanteiKekkaJoho_jotaizo"
    </sql>


    <!--テーブルDbT4116IchijiHanteiKekkaJohoの項目をDbT4116IchijiHanteiKekkaJohoEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT4116IchijiHanteiKekkaJohoEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT4116IchijiHanteiKekkaJohoEntity" autoMapping="true">
        <id property="shinseishoKanriNo" column="dbT4116IchijiHanteiKekkaJoho_shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
        <result property="insertDantaiCd" column="dbT4116IchijiHanteiKekkaJoho_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT4116IchijiHanteiKekkaJoho_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT4116IchijiHanteiKekkaJoho_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT4116IchijiHanteiKekkaJoho_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT4116IchijiHanteiKekkaJoho_isDeleted" />
        <result property="updateCount" column="dbT4116IchijiHanteiKekkaJoho_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT4116IchijiHanteiKekkaJoho_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT4116IchijiHanteiKekkaJoho_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kariIchijiHanteiKubun" column="dbT4116IchijiHanteiKekkaJoho_kariIchijiHanteiKubun" />
        <result property="ichijiHanteiYMD" column="dbT4116IchijiHanteiKekkaJoho_ichijiHanteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ichijiHanteiKekkaCode" column="dbT4116IchijiHanteiKekkaJoho_ichijiHanteiKekkaCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="ichijiHanteiKekkaNinchishoKasanCode" column="dbT4116_ichijiHanteiKekkaNinchishoKasanCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="kijunJikan" column="dbT4116IchijiHanteiKekkaJoho_kijunJikan" />
        <result property="kijunJikanShokuji" column="dbT4116IchijiHanteiKekkaJoho_kijunJikanShokuji" />
        <result property="kijunJikanHaisetsu" column="dbT4116IchijiHanteiKekkaJoho_kijunJikanHaisetsu" />
        <result property="kijunJikanIdo" column="dbT4116IchijiHanteiKekkaJoho_kijunJikanIdo" />
        <result property="kijunJikanSeiketsuHoji" column="dbT4116IchijiHanteiKekkaJoho_kijunJikanSeiketsuHoji" />
        <result property="kijunJikanKansetsuCare" column="dbT4116IchijiHanteiKekkaJoho_kijunJikanKansetsuCare" />
        <result property="kijunJikanBPSDKanren" column="dbT4116IchijiHanteiKekkaJoho_kijunJikanBPSDKanren" />
        <result property="kijunJikanKinoKunren" column="dbT4116IchijiHanteiKekkaJoho_kijunJikanKinoKunren" />
        <result property="kijunJikanIryoKanren" column="dbT4116IchijiHanteiKekkaJoho_kijunJikanIryoKanren" />
        <result property="kijunJikanNinchishoKasan" column="dbT4116IchijiHanteiKekkaJoho_kijunJikanNinchishoKasan" />
        <result property="chukanHyokaKomoku1gun" column="dbT4116IchijiHanteiKekkaJoho_chukanHyokaKomoku1gun" />
        <result property="chukanHyokaKomoku2gun" column="dbT4116IchijiHanteiKekkaJoho_chukanHyokaKomoku2gun" />
        <result property="chukanHyokaKomoku3gun" column="dbT4116IchijiHanteiKekkaJoho_chukanHyokaKomoku3gun" />
        <result property="chukanHyokaKomoku4gun" column="dbT4116IchijiHanteiKekkaJoho_chukanHyokaKomoku4gun" />
        <result property="chukanHyokaKomoku5gun" column="dbT4116IchijiHanteiKekkaJoho_chukanHyokaKomoku5gun" />
        <result property="chukanHyokaKomoku6gun" column="dbT4116IchijiHanteiKekkaJoho_chukanHyokaKomoku6gun" />
        <result property="chukanHyokaKomoku7gun" column="dbT4116IchijiHanteiKekkaJoho_chukanHyokaKomoku7gun" />
        <result property="ichijiHnateiKeikokuCode" column="dbT4116IchijiHanteiKekkaJoho_ichijiHnateiKeikokuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="jotaiAnteiseiCode" column="dbT4116IchijiHanteiKekkaJoho_jotaiAnteiseiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="ninchishoJiritsudoIIijoNoGaizensei" column="dbT4116IchijiHanteiKekkaJoho_ninchishoJiritsudoIIijoNoGaizensei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="suiteiKyufuKubunCode" column="dbT4116IchijiHanteiKekkaJoho_suiteiKyufuKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="ninchishoKoreishaShihyoCode" column="dbT4116IchijiHanteiKekkaJoho_ninchishoKoreishaShihyoCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="jiritsudoKumiawase1" column="dbT4116IchijiHanteiKekkaJoho_jiritsudoKumiawase1" />
        <result property="jiritsudoKumiawase2" column="dbT4116IchijiHanteiKekkaJoho_jiritsudoKumiawase2" />
        <result property="jiritsudoKumiawase3" column="dbT4116IchijiHanteiKekkaJoho_jiritsudoKumiawase3" />
        <result property="jiritsudoKumiawase4" column="dbT4116IchijiHanteiKekkaJoho_jiritsudoKumiawase4" />
        <result property="jiritsudoKumiawase5" column="dbT4116IchijiHanteiKekkaJoho_jiritsudoKumiawase5" />
        <result property="jiritsudoKumiawase6" column="dbT4116IchijiHanteiKekkaJoho_jiritsudoKumiawase6" />
        <result property="jiritsudoKumiawase7" column="dbT4116IchijiHanteiKekkaJoho_jiritsudoKumiawase7" />
        <result property="gaizenseiHyokaCode" column="dbT4116IchijiHanteiKekkaJoho_gaizenseiHyokaCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="gaizenseiHyokaPercent" column="dbT4116IchijiHanteiKekkaJoho_gaizenseiHyokaPercent" />
        <result property="ichijiHanteiSofuKubun" column="dbT4116IchijiHanteiKekkaJoho_ichijiHanteiSofuKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="ichijiHanteiKekkaSofuYMD" column="dbT4116IchijiHanteiKekkaJoho_ichijiHanteiKekkaSofuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="chert" column="dbT4116IchijiHanteiKekkaJoho_chert" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="jotaizo" column="dbT4116IchijiHanteiKekkaJoho_jotaizo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
    
        <select resultOrdered="true" id="getEntity" resultMap="ResultMap_DbT4116IchijiHanteiKekkaJohoEntity">
	SELECT
	<include refid="allColumns_DbT4116IchijiHanteiKekkaJoho"/>
	FROM
	rgdb."DbT4116IchijiHanteiKekkaJoho"
	</select>

</mapper>