<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT7004KaigoShiharaiJohoマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT7004KaigoShiharaiJohoMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT7004KaigoShiharaiJoho">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT7004KaigoShiharaiJohoMapper.allColumns_DbT7004KaigoShiharaiJoho" />
     FROM
         rgdb."DbT7004KaigoShiharaiJoho"
     WHERE
         rgdb."DbT7004KaigoShiharaiJoho"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT7004KaigoShiharaiJoho">
         "DbT7004KaigoShiharaiJoho"."shikibetsuCode" as "dbT7004KaigoShiharaiJoho_shikibetsuCode",
         "DbT7004KaigoShiharaiJoho"."kamokuCode" as "dbT7004KaigoShiharaiJoho_kamokuCode",
         "DbT7004KaigoShiharaiJoho"."ketteiYMD" as "dbT7004KaigoShiharaiJoho_ketteiYMD",
         "DbT7004KaigoShiharaiJoho"."insertDantaiCd" as "dbT7004KaigoShiharaiJoho_insertDantaiCd",
         "DbT7004KaigoShiharaiJoho"."insertTimestamp" as "dbT7004KaigoShiharaiJoho_insertTimestamp",
         "DbT7004KaigoShiharaiJoho"."insertReamsLoginId" as "dbT7004KaigoShiharaiJoho_insertReamsLoginId",
         "DbT7004KaigoShiharaiJoho"."insertContextId" as "dbT7004KaigoShiharaiJoho_insertContextId",
         "DbT7004KaigoShiharaiJoho"."isDeleted" as "dbT7004KaigoShiharaiJoho_isDeleted",
         "DbT7004KaigoShiharaiJoho"."updateCount" as "dbT7004KaigoShiharaiJoho_updateCount",
         "DbT7004KaigoShiharaiJoho"."lastUpdateTimestamp" as "dbT7004KaigoShiharaiJoho_lastUpdateTimestamp",
         "DbT7004KaigoShiharaiJoho"."lastUpdateReamsLoginId" as "dbT7004KaigoShiharaiJoho_lastUpdateReamsLoginId",
         "DbT7004KaigoShiharaiJoho"."hihokenshaNo" as "dbT7004KaigoShiharaiJoho_hihokenshaNo",
         "DbT7004KaigoShiharaiJoho"."shichosonCode" as "dbT7004KaigoShiharaiJoho_shichosonCode",
         "DbT7004KaigoShiharaiJoho"."shiharaiHohoKubun" as "dbT7004KaigoShiharaiJoho_shiharaiHohoKubun",
         "DbT7004KaigoShiharaiJoho"."madoguchiShiharaiBashoCode" as "dbT7004KaigoShiharaiJoho_madoguchiShiharaiBashoCode",
         "DbT7004KaigoShiharaiJoho"."madoguchiShiharaiKaishiYMDHM" as "dbT7004KaigoShiharaiJoho_madoguchiShiharaiKaishiYMDHM",
         "DbT7004KaigoShiharaiJoho"."madoguchiShiharaiShuryoYMDHM" as "dbT7004KaigoShiharaiJoho_madoguchiShiharaiShuryoYMDHM",
         "DbT7004KaigoShiharaiJoho"."furikomiYoteiYMD" as "dbT7004KaigoShiharaiJoho_furikomiYoteiYMD",
         "DbT7004KaigoShiharaiJoho"."shiharaiKingaku" as "dbT7004KaigoShiharaiJoho_shiharaiKingaku",
         "DbT7004KaigoShiharaiJoho"."syubetsuCode" as "dbT7004KaigoShiharaiJoho_syubetsuCode",
         "DbT7004KaigoShiharaiJoho"."yotoKubunCode" as "dbT7004KaigoShiharaiJoho_yotoKubunCode",
         "DbT7004KaigoShiharaiJoho"."ninshoYMD1" as "dbT7004KaigoShiharaiJoho_ninshoYMD1",
         "DbT7004KaigoShiharaiJoho"."ninshoshaCode1" as "dbT7004KaigoShiharaiJoho_ninshoshaCode1",
         "DbT7004KaigoShiharaiJoho"."ninshoYMD2" as "dbT7004KaigoShiharaiJoho_ninshoYMD2",
         "DbT7004KaigoShiharaiJoho"."ninshoshaCode2" as "dbT7004KaigoShiharaiJoho_ninshoshaCode2"
    </sql>


    <!--テーブルDbT7004KaigoShiharaiJohoの項目をDbT7004KaigoShiharaiJohoEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT7004KaigoShiharaiJohoEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT7004KaigoShiharaiJohoEntity" autoMapping="true">
        <id property="shikibetsuCode" column="dbT7004KaigoShiharaiJoho_shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <id property="kamokuCode" column="dbT7004KaigoShiharaiJoho_kamokuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.KamokuCodeTypeHandler"/>
        <id property="ketteiYMD" column="dbT7004KaigoShiharaiJoho_ketteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="insertDantaiCd" column="dbT7004KaigoShiharaiJoho_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT7004KaigoShiharaiJoho_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT7004KaigoShiharaiJoho_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT7004KaigoShiharaiJoho_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT7004KaigoShiharaiJoho_isDeleted" />
        <result property="updateCount" column="dbT7004KaigoShiharaiJoho_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT7004KaigoShiharaiJoho_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT7004KaigoShiharaiJoho_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hihokenshaNo" column="dbT7004KaigoShiharaiJoho_hihokenshaNo" />
        <result property="shichosonCode" column="dbT7004KaigoShiharaiJoho_shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <result property="shiharaiHohoKubun" column="dbT7004KaigoShiharaiJoho_shiharaiHohoKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="madoguchiShiharaiBashoCode" column="dbT7004KaigoShiharaiJoho_madoguchiShiharaiBashoCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="madoguchiShiharaiKaishiYMDHM" column="dbT7004KaigoShiharaiJoho_madoguchiShiharaiKaishiYMDHM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YMDHMTypeHandler"/>
        <result property="madoguchiShiharaiShuryoYMDHM" column="dbT7004KaigoShiharaiJoho_madoguchiShiharaiShuryoYMDHM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YMDHMTypeHandler"/>
        <result property="furikomiYoteiYMD" column="dbT7004KaigoShiharaiJoho_furikomiYoteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shiharaiKingaku" column="dbT7004KaigoShiharaiJoho_shiharaiKingaku" />
        <result property="syubetsuCode" column="dbT7004KaigoShiharaiJoho_syubetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="yotoKubunCode" column="dbT7004KaigoShiharaiJoho_yotoKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="ninshoYMD1" column="dbT7004KaigoShiharaiJoho_ninshoYMD1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ninshoshaCode1" column="dbT7004KaigoShiharaiJoho_ninshoshaCode1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.NinshoshaCodeTypeHandler"/>
        <result property="ninshoYMD2" column="dbT7004KaigoShiharaiJoho_ninshoYMD2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ninshoshaCode2" column="dbT7004KaigoShiharaiJoho_ninshoshaCode2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.NinshoshaCodeTypeHandler"/>
    </resultMap>
<select id="getEntity" resultMap="ResultMap_DbT7004KaigoShiharaiJohoEntity">
    SELECT
    <include refid="allColumns_DbT7004KaigoShiharaiJoho" />
    FROM
    rgdb."DbT7004KaigoShiharaiJoho"
</select>
</mapper>
