<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT5303ShujiiIkenshoKinyuItemマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5303ShujiiIkenshoKinyuItemMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT5303ShujiiIkenshoKinyuItem">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5303ShujiiIkenshoKinyuItemMapper.allColumns_DbT5303ShujiiIkenshoKinyuItem" />
     FROM
         rgdb."DbT5303ShujiiIkenshoKinyuItem"
     WHERE
         rgdb."DbT5303ShujiiIkenshoKinyuItem"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT5303ShujiiIkenshoKinyuItem">
         "DbT5303ShujiiIkenshoKinyuItem"."shinseishoKanriNo" as "dbT5303ShujiiIkenshoKinyuItem_shinseishoKanriNo",
         "DbT5303ShujiiIkenshoKinyuItem"."ikenshoIraiRirekiNo" as "dbT5303ShujiiIkenshoKinyuItem_ikenshoIraiRirekiNo",
         "DbT5303ShujiiIkenshoKinyuItem"."insertDantaiCd" as "dbT5303ShujiiIkenshoKinyuItem_insertDantaiCd",
         "DbT5303ShujiiIkenshoKinyuItem"."insertTimestamp" as "dbT5303ShujiiIkenshoKinyuItem_insertTimestamp",
         "DbT5303ShujiiIkenshoKinyuItem"."insertReamsLoginId" as "dbT5303ShujiiIkenshoKinyuItem_insertReamsLoginId",
         "DbT5303ShujiiIkenshoKinyuItem"."insertContextId" as "dbT5303ShujiiIkenshoKinyuItem_insertContextId",
         "DbT5303ShujiiIkenshoKinyuItem"."isDeleted" as "dbT5303ShujiiIkenshoKinyuItem_isDeleted",
         "DbT5303ShujiiIkenshoKinyuItem"."updateCount" as "dbT5303ShujiiIkenshoKinyuItem_updateCount",
         "DbT5303ShujiiIkenshoKinyuItem"."lastUpdateTimestamp" as "dbT5303ShujiiIkenshoKinyuItem_lastUpdateTimestamp",
         "DbT5303ShujiiIkenshoKinyuItem"."lastUpdateReamsLoginId" as "dbT5303ShujiiIkenshoKinyuItem_lastUpdateReamsLoginId",
         "DbT5303ShujiiIkenshoKinyuItem"."remban" as "dbT5303ShujiiIkenshoKinyuItem_remban",
         "DbT5303ShujiiIkenshoKinyuItem"."koroshoIfShikibetsuCode" as "dbT5303ShujiiIkenshoKinyuItem_koroshoIfShikibetsuCode",
         "DbT5303ShujiiIkenshoKinyuItem"."kinyuItem" as "dbT5303ShujiiIkenshoKinyuItem_kinyuItem",
         "DbT5303ShujiiIkenshoKinyuItem"."kinyuItemImageSharedFileId" as "dbT5303ShujiiIkenshoKinyuItem_kinyuItemImageSharedFileId"
    </sql>


    <!--テーブルDbT5303ShujiiIkenshoKinyuItemの項目をDbT5303ShujiiIkenshoKinyuItemEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT5303ShujiiIkenshoKinyuItemEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT5303ShujiiIkenshoKinyuItemEntity" autoMapping="true">
        <id property="shinseishoKanriNo" column="dbT5303ShujiiIkenshoKinyuItem_shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
        <id property="ikenshoIraiRirekiNo" column="dbT5303ShujiiIkenshoKinyuItem_ikenshoIraiRirekiNo" />
        <result property="insertDantaiCd" column="dbT5303ShujiiIkenshoKinyuItem_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT5303ShujiiIkenshoKinyuItem_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT5303ShujiiIkenshoKinyuItem_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT5303ShujiiIkenshoKinyuItem_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT5303ShujiiIkenshoKinyuItem_isDeleted" />
        <result property="updateCount" column="dbT5303ShujiiIkenshoKinyuItem_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT5303ShujiiIkenshoKinyuItem_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT5303ShujiiIkenshoKinyuItem_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="remban" column="dbT5303ShujiiIkenshoKinyuItem_remban" />
        <result property="koroshoIfShikibetsuCode" column="dbT5303ShujiiIkenshoKinyuItem_koroshoIfShikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="kinyuItem" column="dbT5303ShujiiIkenshoKinyuItem_kinyuItem" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kinyuItemImageSharedFileId" column="dbT5303ShujiiIkenshoKinyuItem_kinyuItemImageSharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
    </resultMap>
<select id="getEntity" resultMap="ResultMap_DbT5303ShujiiIkenshoKinyuItemEntity">
    SELECT
    <include refid="allColumns_DbT5303ShujiiIkenshoKinyuItem" />
    FROM
    rgdb."DbT5303ShujiiIkenshoKinyuItem"
</select>
</mapper>
