<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT4911ShujiiIryoKikanJohoマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4911ShujiiIryoKikanJohoMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT4911ShujiiIryoKikanJoho">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4911ShujiiIryoKikanJohoMapper.allColumns_DbT4911ShujiiIryoKikanJoho" />
        FROM
        rgdb."DbT4911ShujiiIryoKikanJoho"
        WHERE
        rgdb."DbT4911ShujiiIryoKikanJoho"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT4911ShujiiIryoKikanJoho">
        "DbT4911ShujiiIryoKikanJoho"."shichosonCode" as "dbT4911ShujiiIryoKikanJoho_shichosonCode",
        "DbT4911ShujiiIryoKikanJoho"."shujiiIryokikanCode" as "dbT4911ShujiiIryoKikanJoho_shujiiIryokikanCode",
        "DbT4911ShujiiIryoKikanJoho"."insertDantaiCd" as "dbT4911ShujiiIryoKikanJoho_insertDantaiCd",
        "DbT4911ShujiiIryoKikanJoho"."insertTimestamp" as "dbT4911ShujiiIryoKikanJoho_insertTimestamp",
        "DbT4911ShujiiIryoKikanJoho"."insertReamsLoginId" as "dbT4911ShujiiIryoKikanJoho_insertReamsLoginId",
        "DbT4911ShujiiIryoKikanJoho"."insertContextId" as "dbT4911ShujiiIryoKikanJoho_insertContextId",
        "DbT4911ShujiiIryoKikanJoho"."isDeleted" as "dbT4911ShujiiIryoKikanJoho_isDeleted",
        "DbT4911ShujiiIryoKikanJoho"."updateCount" as "dbT4911ShujiiIryoKikanJoho_updateCount",
        "DbT4911ShujiiIryoKikanJoho"."lastUpdateTimestamp" as "dbT4911ShujiiIryoKikanJoho_lastUpdateTimestamp",
        "DbT4911ShujiiIryoKikanJoho"."lastUpdateReamsLoginId" as "dbT4911ShujiiIryoKikanJoho_lastUpdateReamsLoginId",
        "DbT4911ShujiiIryoKikanJoho"."iryokikanCode" as "dbT4911ShujiiIryoKikanJoho_iryokikanCode",
        "DbT4911ShujiiIryoKikanJoho"."iryoKikanMeisho" as "dbT4911ShujiiIryoKikanJoho_iryoKikanMeisho",
        "DbT4911ShujiiIryoKikanJoho"."iryoKikanMeishoKana" as "dbT4911ShujiiIryoKikanJoho_iryoKikanMeishoKana",
        "DbT4911ShujiiIryoKikanJoho"."yubinNo" as "dbT4911ShujiiIryoKikanJoho_yubinNo",
        "DbT4911ShujiiIryoKikanJoho"."jusho" as "dbT4911ShujiiIryoKikanJoho_jusho",
        "DbT4911ShujiiIryoKikanJoho"."telNo" as "dbT4911ShujiiIryoKikanJoho_telNo",
        "DbT4911ShujiiIryoKikanJoho"."faxNo" as "dbT4911ShujiiIryoKikanJoho_faxNo",
        "DbT4911ShujiiIryoKikanJoho"."daihyoshaName" as "dbT4911ShujiiIryoKikanJoho_daihyoshaName",
        "DbT4911ShujiiIryoKikanJoho"."jokyoFlag" as "dbT4911ShujiiIryoKikanJoho_jokyoFlag"
    </sql>


    <!--テーブルDbT4911ShujiiIryoKikanJohoの項目をDbT4911ShujiiIryoKikanJohoEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT4911ShujiiIryoKikanJohoEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT4911ShujiiIryoKikanJohoEntity" autoMapping="true">
        <id property="shichosonCode" column="dbT4911ShujiiIryoKikanJoho_shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <!--<id property="shujiiIryokikanCode" column="dbT4911ShujiiIryoKikanJoho_shujiiIryokikanCode" />-->
        <result property="insertDantaiCd" column="dbT4911ShujiiIryoKikanJoho_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT4911ShujiiIryoKikanJoho_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT4911ShujiiIryoKikanJoho_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT4911ShujiiIryoKikanJoho_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT4911ShujiiIryoKikanJoho_isDeleted" />
        <result property="updateCount" column="dbT4911ShujiiIryoKikanJoho_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT4911ShujiiIryoKikanJoho_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT4911ShujiiIryoKikanJoho_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <!--<result property="iryokikanCode" column="dbT4911ShujiiIryoKikanJoho_iryokikanCode" />-->
        <result property="iryoKikanMeisho" column="dbT4911ShujiiIryoKikanJoho_iryoKikanMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="iryoKikanMeishoKana" column="dbT4911ShujiiIryoKikanJoho_iryoKikanMeishoKana" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="yubinNo" column="dbT4911ShujiiIryoKikanJoho_yubinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler"/>
        <result property="jusho" column="dbT4911ShujiiIryoKikanJoho_jusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="telNo" column="dbT4911ShujiiIryoKikanJoho_telNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.TelNoTypeHandler"/>
        <result property="faxNo" column="dbT4911ShujiiIryoKikanJoho_faxNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.TelNoTypeHandler"/>
        <result property="daihyoshaName" column="dbT4911ShujiiIryoKikanJoho_daihyoshaName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="jokyoFlag" column="dbT4911ShujiiIryoKikanJoho_jokyoFlag" />
    </resultMap>
    <select id="getEntity" resultMap="ResultMap_DbT4911ShujiiIryoKikanJohoEntity">
        SELECT
        <include refid="allColumns_DbT4911ShujiiIryoKikanJoho"/>
        FROM
        rgdb."DbT4911ShujiiIryoKikanJoho"
    </select>
</mapper>
