<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT4302ShujiiIkenshoJohoChildマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4302ShujiiIkenshoJohoChildMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT4302ShujiiIkenshoJohoChild">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4302ShujiiIkenshoJohoChildMapper.allColumns_DbT4302ShujiiIkenshoJohoChild" />
        FROM
        rgdb."DbT4302ShujiiIkenshoJohoChild"
        WHERE
        rgdb."DbT4302ShujiiIkenshoJohoChild"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT4302ShujiiIkenshoJohoChild">
        "DbT4302ShujiiIkenshoJohoChild"."shinseishoKanriNo" as "dbT4302ShujiiIkenshoJohoChild_shinseishoKanriNo",
        "DbT4302ShujiiIkenshoJohoChild"."ikenshoIraiRirekiNo" as "dbT4302ShujiiIkenshoJohoChild_ikenshoIraiRirekiNo",
        "DbT4302ShujiiIkenshoJohoChild"."insertDantaiCd" as "dbT4302ShujiiIkenshoJohoChild_insertDantaiCd",
        "DbT4302ShujiiIkenshoJohoChild"."insertTimestamp" as "dbT4302ShujiiIkenshoJohoChild_insertTimestamp",
        "DbT4302ShujiiIkenshoJohoChild"."insertReamsLoginId" as "dbT4302ShujiiIkenshoJohoChild_insertReamsLoginId",
        "DbT4302ShujiiIkenshoJohoChild"."insertContextId" as "dbT4302ShujiiIkenshoJohoChild_insertContextId",
        "DbT4302ShujiiIkenshoJohoChild"."isDeleted" as "dbT4302ShujiiIkenshoJohoChild_isDeleted",
        "DbT4302ShujiiIkenshoJohoChild"."updateCount" as "dbT4302ShujiiIkenshoJohoChild_updateCount",
        "DbT4302ShujiiIkenshoJohoChild"."lastUpdateTimestamp" as "dbT4302ShujiiIkenshoJohoChild_lastUpdateTimestamp",
        "DbT4302ShujiiIkenshoJohoChild"."lastUpdateReamsLoginId" as "dbT4302ShujiiIkenshoJohoChild_lastUpdateReamsLoginId",
        "DbT4302ShujiiIkenshoJohoChild"."koroshoIfShikibetsuCode" as "dbT4302ShujiiIkenshoJohoChild_koroshoIfShikibetsuCode",
        "DbT4302ShujiiIkenshoJohoChild"."ikenshoIraiKubun" as "dbT4302ShujiiIkenshoJohoChild_ikenshoIraiKubun",
        "DbT4302ShujiiIkenshoJohoChild"."shujiiIryoKikanCode" as "dbT4302ShujiiIkenshoJohoChild_shujiiIryoKikanCode",
        "DbT4302ShujiiIkenshoJohoChild"."shujiiCode" as "dbT4302ShujiiIkenshoJohoChild_shujiiCode",
        "DbT4302ShujiiIkenshoJohoChild"."ikenshoJuryoYMD" as "dbT4302ShujiiIkenshoJohoChild_ikenshoJuryoYMD",
        "DbT4302ShujiiIkenshoJohoChild"."ikenshoKinyuYMD" as "dbT4302ShujiiIkenshoJohoChild_ikenshoKinyuYMD",
        "DbT4302ShujiiIkenshoJohoChild"."ikenshoSakuseiKaisuKubun" as "dbT4302ShujiiIkenshoJohoChild_ikenshoSakuseiKaisuKubun",
        "DbT4302ShujiiIkenshoJohoChild"."zaitakuShisetsuKubun" as "dbT4302ShujiiIkenshoJohoChild_zaitakuShisetsuKubun",
        "DbT4302ShujiiIkenshoJohoChild"."ikenshoDoiFlag" as "dbT4302ShujiiIkenshoJohoChild_ikenshoDoiFlag",
        "DbT4302ShujiiIkenshoJohoChild"."saishuShinryoYMD" as "dbT4302ShujiiIkenshoJohoChild_saishuShinryoYMD",
        "DbT4302ShujiiIkenshoJohoChild"."existTakaJushinFlag" as "dbT4302ShujiiIkenshoJohoChild_existTakaJushinFlag",
        "DbT4302ShujiiIkenshoJohoChild"."existNaikaJushinFlag" as "dbT4302ShujiiIkenshoJohoChild_existNaikaJushinFlag",
        "DbT4302ShujiiIkenshoJohoChild"."existSeishinkaJushinFlag" as "dbT4302ShujiiIkenshoJohoChild_existSeishinkaJushinFlag",
        "DbT4302ShujiiIkenshoJohoChild"."existGekaJushinFlag" as "dbT4302ShujiiIkenshoJohoChild_existGekaJushinFlag",
        "DbT4302ShujiiIkenshoJohoChild"."existSeikeigekaJushinFlag" as "dbT4302ShujiiIkenshoJohoChild_existSeikeigekaJushinFlag",
        "DbT4302ShujiiIkenshoJohoChild"."existNoshinkeigekaJushinFlag" as "dbT4302ShujiiIkenshoJohoChild_existNoshinkeigekaJushinFlag",
        "DbT4302ShujiiIkenshoJohoChild"."existHifukaJushinFlag" as "dbT4302ShujiiIkenshoJohoChild_existHifukaJushinFlag",
        "DbT4302ShujiiIkenshoJohoChild"."existHinyokikaJushinFlag" as "dbT4302ShujiiIkenshoJohoChild_existHinyokikaJushinFlag",
        "DbT4302ShujiiIkenshoJohoChild"."existFujinkaJushinFlag" as "dbT4302ShujiiIkenshoJohoChild_existFujinkaJushinFlag",
        "DbT4302ShujiiIkenshoJohoChild"."existJibiinkokaJushinFlag" as "dbT4302ShujiiIkenshoJohoChild_existJibiinkokaJushinFlag",
        "DbT4302ShujiiIkenshoJohoChild"."existRehabilitationkaJushinFlag" as "dbT4302ShujiiIkenshoJohoChild_existRehabilitationkaJushinFlag",
        "DbT4302ShujiiIkenshoJohoChild"."existShikaJushinFlag" as "dbT4302ShujiiIkenshoJohoChild_existShikaJushinFlag",
        "DbT4302ShujiiIkenshoJohoChild"."existGankaJushinFlag" as "dbT4302ShujiiIkenshoJohoChild_existGankaJushinFlag",
        "DbT4302ShujiiIkenshoJohoChild"."existSonotaJushinkaFlag" as "dbT4302ShujiiIkenshoJohoChild_existSonotaJushinkaFlag",
        "DbT4302ShujiiIkenshoJohoChild"."sonotaJushinKaShimei" as "dbT4302ShujiiIkenshoJohoChild_sonotaJushinKaShimei",
        "DbT4302ShujiiIkenshoJohoChild"."ikenshoMemo" as "dbT4302ShujiiIkenshoJohoChild_ikenshoMemo"
    </sql>


    <!--テーブルDbT4302ShujiiIkenshoJohoChildの項目をDbT4302ShujiiIkenshoJohoChildEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT4302ShujiiIkenshoJohoChildEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT4302ShujiiIkenshoJohoChildEntity" autoMapping="true">
        <id property="shinseishoKanriNo" column="dbT4302ShujiiIkenshoJohoChild_shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
        <id property="ikenshoIraiRirekiNo" column="dbT4302ShujiiIkenshoJohoChild_ikenshoIraiRirekiNo" />
        <result property="insertDantaiCd" column="dbT4302ShujiiIkenshoJohoChild_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT4302ShujiiIkenshoJohoChild_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT4302ShujiiIkenshoJohoChild_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT4302ShujiiIkenshoJohoChild_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT4302ShujiiIkenshoJohoChild_isDeleted" />
        <result property="updateCount" column="dbT4302ShujiiIkenshoJohoChild_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT4302ShujiiIkenshoJohoChild_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT4302ShujiiIkenshoJohoChild_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="koroshoIfShikibetsuCode" column="dbT4302ShujiiIkenshoJohoChild_koroshoIfShikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="ikenshoIraiKubun" column="dbT4302ShujiiIkenshoJohoChild_ikenshoIraiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shujiiIryoKikanCode" column="dbT4302ShujiiIkenshoJohoChild_shujiiIryoKikanCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shujiiCode" column="dbT4302ShujiiIkenshoJohoChild_shujiiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="ikenshoJuryoYMD" column="dbT4302ShujiiIkenshoJohoChild_ikenshoJuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ikenshoKinyuYMD" column="dbT4302ShujiiIkenshoJohoChild_ikenshoKinyuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ikenshoSakuseiKaisuKubun" column="dbT4302ShujiiIkenshoJohoChild_ikenshoSakuseiKaisuKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="zaitakuShisetsuKubun" column="dbT4302ShujiiIkenshoJohoChild_zaitakuShisetsuKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="ikenshoDoiFlag" column="dbT4302ShujiiIkenshoJohoChild_ikenshoDoiFlag" />
        <result property="saishuShinryoYMD" column="dbT4302ShujiiIkenshoJohoChild_saishuShinryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="existTakaJushinFlag" column="dbT4302ShujiiIkenshoJohoChild_existTakaJushinFlag" />
        <result property="existNaikaJushinFlag" column="dbT4302ShujiiIkenshoJohoChild_existNaikaJushinFlag" />
        <result property="existSeishinkaJushinFlag" column="dbT4302ShujiiIkenshoJohoChild_existSeishinkaJushinFlag" />
        <result property="existGekaJushinFlag" column="dbT4302ShujiiIkenshoJohoChild_existGekaJushinFlag" />
        <result property="existSeikeigekaJushinFlag" column="dbT4302ShujiiIkenshoJohoChild_existSeikeigekaJushinFlag" />
        <result property="existNoshinkeigekaJushinFlag" column="dbT4302ShujiiIkenshoJohoChild_existNoshinkeigekaJushinFlag" />
        <result property="existHifukaJushinFlag" column="dbT4302ShujiiIkenshoJohoChild_existHifukaJushinFlag" />
        <result property="existHinyokikaJushinFlag" column="dbT4302ShujiiIkenshoJohoChild_existHinyokikaJushinFlag" />
        <result property="existFujinkaJushinFlag" column="dbT4302ShujiiIkenshoJohoChild_existFujinkaJushinFlag" />
        <result property="existJibiinkokaJushinFlag" column="dbT4302ShujiiIkenshoJohoChild_existJibiinkokaJushinFlag" />
        <result property="existRehabilitationkaJushinFlag" column="dbT4302ShujiiIkenshoJohoChild_existRehabilitationkaJushinFlag" />
        <result property="existShikaJushinFlag" column="dbT4302ShujiiIkenshoJohoChild_existShikaJushinFlag" />
        <result property="existGankaJushinFlag" column="dbT4302ShujiiIkenshoJohoChild_existGankaJushinFlag" />
        <result property="existSonotaJushinkaFlag" column="dbT4302ShujiiIkenshoJohoChild_existSonotaJushinkaFlag" />
        <result property="sonotaJushinKaShimei" column="dbT4302ShujiiIkenshoJohoChild_sonotaJushinKaShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="ikenshoMemo" column="dbT4302ShujiiIkenshoJohoChild_ikenshoMemo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
    
    <select id="getEntity" resultMap="ResultMap_DbT4302ShujiiIkenshoJohoChildEntity">
        SELECT
        <include refid="allColumns_DbT4302ShujiiIkenshoJohoChild"/>
        FROM
        rgdb."DbT4302ShujiiIkenshoJohoChild"
    </select>
</mapper>
