<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT4305IkenshoImageJohoマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4305IkenshoImageJohoMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT4305IkenshoImageJoho">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4305IkenshoImageJohoMapper.allColumns_DbT4305IkenshoImageJoho" />
        FROM
        rgdb."DbT4305IkenshoImageJoho"
        WHERE
        rgdb."DbT4305IkenshoImageJoho"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT4305IkenshoImageJoho">
        "DbT4305IkenshoImageJoho"."shinseishoKanriNo" as "dbT4305IkenshoImageJoho_shinseishoKanriNo",
        "DbT4305IkenshoImageJoho"."iraiRirekiNo" as "dbT4305IkenshoImageJoho_iraiRirekiNo",
        "DbT4305IkenshoImageJoho"."ChoyoID" as "dbT4305IkenshoImageJoho_ChoyoID",
        "DbT4305IkenshoImageJoho"."maskDataKubun" as "dbT4305IkenshoImageJoho_maskDataKubun",
        "DbT4305IkenshoImageJoho"."torikomiPageNo" as "dbT4305IkenshoImageJoho_torikomiPageNo",
        "DbT4305IkenshoImageJoho"."insertDantaiCd" as "dbT4305IkenshoImageJoho_insertDantaiCd",
        "DbT4305IkenshoImageJoho"."insertTimestamp" as "dbT4305IkenshoImageJoho_insertTimestamp",
        "DbT4305IkenshoImageJoho"."insertReamsLoginId" as "dbT4305IkenshoImageJoho_insertReamsLoginId",
        "DbT4305IkenshoImageJoho"."insertContextId" as "dbT4305IkenshoImageJoho_insertContextId",
        "DbT4305IkenshoImageJoho"."isDeleted" as "dbT4305IkenshoImageJoho_isDeleted",
        "DbT4305IkenshoImageJoho"."updateCount" as "dbT4305IkenshoImageJoho_updateCount",
        "DbT4305IkenshoImageJoho"."lastUpdateTimestamp" as "dbT4305IkenshoImageJoho_lastUpdateTimestamp",
        "DbT4305IkenshoImageJoho"."lastUpdateReamsLoginId" as "dbT4305IkenshoImageJoho_lastUpdateReamsLoginId",
        "DbT4305IkenshoImageJoho"."ninteiShinseiNen" as "dbT4305IkenshoImageJoho_ninteiShinseiNen",
        "DbT4305IkenshoImageJoho"."sharedFileId" as "dbT4305IkenshoImageJoho_sharedFileId"
    </sql>


    <!--テーブルDbT4305IkenshoImageJohoの項目をDbT4305IkenshoImageJohoEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT4305IkenshoImageJohoEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT4305IkenshoImageJohoEntity" autoMapping="true">
        <id property="shinseishoKanriNo" column="dbT4305IkenshoImageJoho_shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
        <id property="iraiRirekiNo" column="dbT4305IkenshoImageJoho_iraiRirekiNo" />
        <id property="ChoyoID" column="dbT4305IkenshoImageJoho_ChoyoID" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <id property="maskDataKubun" column="dbT4305IkenshoImageJoho_maskDataKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="torikomiPageNo" column="dbT4305IkenshoImageJoho_torikomiPageNo" />
        <result property="insertDantaiCd" column="dbT4305IkenshoImageJoho_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT4305IkenshoImageJoho_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT4305IkenshoImageJoho_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT4305IkenshoImageJoho_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT4305IkenshoImageJoho_isDeleted" />
        <result property="updateCount" column="dbT4305IkenshoImageJoho_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT4305IkenshoImageJoho_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT4305IkenshoImageJoho_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="ninteiShinseiNen" column="dbT4305IkenshoImageJoho_ninteiShinseiNen" />
        <result property="sharedFileId" column="dbT4305IkenshoImageJoho_sharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
    </resultMap>
    <select id="getEntity" resultMap="ResultMap_DbT4305IkenshoImageJohoEntity">
        SELECT
        <include refid="allColumns_DbT4305IkenshoImageJoho"/>
        FROM
        rgdb."DbT4305IkenshoImageJoho"
    </select>
</mapper>
