<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT4208NinteichosahyoServiceJokyoFlagChildマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4208NinteichosahyoServiceJokyoFlagChildMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT4208NinteichosahyoServiceJokyoFlagChild">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4208NinteichosahyoServiceJokyoFlagChildMapper.allColumns_DbT4208NinteichosahyoServiceJokyoFlagChild" />
        FROM
        rgdb."DbT4208NinteichosahyoServiceJokyoFlagChild"
        WHERE
        rgdb."DbT4208NinteichosahyoServiceJokyoFlagChild"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT4208NinteichosahyoServiceJokyoFlagChild">
        "DbT4208NinteichosahyoServiceJokyoFlagChild"."shinseishoKanriNo" as "dbT4208NinteichosahyoServiceJokyoFlagChild_shinseishoKanriNo",
        "DbT4208NinteichosahyoServiceJokyoFlagChild"."ninteichosaRirekiNo" as "dbT4208NinteichosahyoServiceJokyoFlagChild_ninteichosaRirekiNo",
        "DbT4208NinteichosahyoServiceJokyoFlagChild"."remban" as "dbT4208NinteichosahyoServiceJokyoFlagChild_remban",
        "DbT4208NinteichosahyoServiceJokyoFlagChild"."insertDantaiCd" as "dbT4208NinteichosahyoServiceJokyoFlagChild_insertDantaiCd",
        "DbT4208NinteichosahyoServiceJokyoFlagChild"."insertTimestamp" as "dbT4208NinteichosahyoServiceJokyoFlagChild_insertTimestamp",
        "DbT4208NinteichosahyoServiceJokyoFlagChild"."insertReamsLoginId" as "dbT4208NinteichosahyoServiceJokyoFlagChild_insertReamsLoginId",
        "DbT4208NinteichosahyoServiceJokyoFlagChild"."insertContextId" as "dbT4208NinteichosahyoServiceJokyoFlagChild_insertContextId",
        "DbT4208NinteichosahyoServiceJokyoFlagChild"."isDeleted" as "dbT4208NinteichosahyoServiceJokyoFlagChild_isDeleted",
        "DbT4208NinteichosahyoServiceJokyoFlagChild"."updateCount" as "dbT4208NinteichosahyoServiceJokyoFlagChild_updateCount",
        "DbT4208NinteichosahyoServiceJokyoFlagChild"."lastUpdateTimestamp" as "dbT4208NinteichosahyoServiceJokyoFlagChild_lastUpdateTimestamp",
        "DbT4208NinteichosahyoServiceJokyoFlagChild"."lastUpdateReamsLoginId" as "dbT4208NinteichosahyoServiceJokyoFlagChild_lastUpdateReamsLoginId",
        "DbT4208NinteichosahyoServiceJokyoFlagChild"."koroshoIfShikibetsuCode" as "dbT4208NinteichosahyoServiceJokyoFlagChild_koroshoIfShikibetsuCode",
        "DbT4208NinteichosahyoServiceJokyoFlagChild"."serviceJokyoFlag" as "dbT4208NinteichosahyoServiceJokyoFlagChild_serviceJokyoFlag"
    </sql>


    <!--テーブルDbT4208NinteichosahyoServiceJokyoFlagChildの項目をDbT4208NinteichosahyoServiceJokyoFlagChildEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT4208NinteichosahyoServiceJokyoFlagChildEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT4208NinteichosahyoServiceJokyoFlagChildEntity" autoMapping="true">
        <id property="shinseishoKanriNo" column="dbT4208NinteichosahyoServiceJokyoFlagChild_shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
        <id property="ninteichosaRirekiNo" column="dbT4208NinteichosahyoServiceJokyoFlagChild_ninteichosaRirekiNo" />
        <id property="remban" column="dbT4208NinteichosahyoServiceJokyoFlagChild_remban" />
        <result property="insertDantaiCd" column="dbT4208NinteichosahyoServiceJokyoFlagChild_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT4208NinteichosahyoServiceJokyoFlagChild_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT4208NinteichosahyoServiceJokyoFlagChild_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT4208NinteichosahyoServiceJokyoFlagChild_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT4208NinteichosahyoServiceJokyoFlagChild_isDeleted" />
        <result property="updateCount" column="dbT4208NinteichosahyoServiceJokyoFlagChild_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT4208NinteichosahyoServiceJokyoFlagChild_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT4208NinteichosahyoServiceJokyoFlagChild_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="koroshoIfShikibetsuCode" column="dbT4208NinteichosahyoServiceJokyoFlagChild_koroshoIfShikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="serviceJokyoFlag" column="dbT4208NinteichosahyoServiceJokyoFlagChild_serviceJokyoFlag" />
    </resultMap>
    
    <select id="getEntity" resultMap="ResultMap_DbT4208NinteichosahyoServiceJokyoFlagChildEntity">
        SELECT
        <include refid="allColumns_DbT4208NinteichosahyoServiceJokyoFlagChild"/>
        FROM
        rgdb."DbT4208NinteichosahyoServiceJokyoFlagChild"
    </select>

</mapper>
