<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT5210NinteichosahyoShisetsuRiyoマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5210NinteichosahyoShisetsuRiyoMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT5210NinteichosahyoShisetsuRiyo">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5210NinteichosahyoShisetsuRiyoMapper.allColumns_DbT5210NinteichosahyoShisetsuRiyo" />
     FROM
         rgdb."DbT5210NinteichosahyoShisetsuRiyo"
     WHERE
         rgdb."DbT5210NinteichosahyoShisetsuRiyo"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT5210NinteichosahyoShisetsuRiyo">
         "DbT5210NinteichosahyoShisetsuRiyo"."shinseishoKanriNo" as "dbT5210NinteichosahyoShisetsuRiyo_shinseishoKanriNo",
         "DbT5210NinteichosahyoShisetsuRiyo"."ninteichosaRirekiNo" as "dbT5210NinteichosahyoShisetsuRiyo_ninteichosaRirekiNo",
         "DbT5210NinteichosahyoShisetsuRiyo"."remban" as "dbT5210NinteichosahyoShisetsuRiyo_remban",
         "DbT5210NinteichosahyoShisetsuRiyo"."insertDantaiCd" as "dbT5210NinteichosahyoShisetsuRiyo_insertDantaiCd",
         "DbT5210NinteichosahyoShisetsuRiyo"."insertTimestamp" as "dbT5210NinteichosahyoShisetsuRiyo_insertTimestamp",
         "DbT5210NinteichosahyoShisetsuRiyo"."insertReamsLoginId" as "dbT5210NinteichosahyoShisetsuRiyo_insertReamsLoginId",
         "DbT5210NinteichosahyoShisetsuRiyo"."insertContextId" as "dbT5210NinteichosahyoShisetsuRiyo_insertContextId",
         "DbT5210NinteichosahyoShisetsuRiyo"."isDeleted" as "dbT5210NinteichosahyoShisetsuRiyo_isDeleted",
         "DbT5210NinteichosahyoShisetsuRiyo"."updateCount" as "dbT5210NinteichosahyoShisetsuRiyo_updateCount",
         "DbT5210NinteichosahyoShisetsuRiyo"."lastUpdateTimestamp" as "dbT5210NinteichosahyoShisetsuRiyo_lastUpdateTimestamp",
         "DbT5210NinteichosahyoShisetsuRiyo"."lastUpdateReamsLoginId" as "dbT5210NinteichosahyoShisetsuRiyo_lastUpdateReamsLoginId",
         "DbT5210NinteichosahyoShisetsuRiyo"."koroshoIfShikibetsuCode" as "dbT5210NinteichosahyoShisetsuRiyo_koroshoIfShikibetsuCode",
         "DbT5210NinteichosahyoShisetsuRiyo"."shisetsuRiyoFlag" as "dbT5210NinteichosahyoShisetsuRiyo_shisetsuRiyoFlag"
    </sql>


    <!--テーブルDbT5210NinteichosahyoShisetsuRiyoの項目をDbT5210NinteichosahyoShisetsuRiyoEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT5210NinteichosahyoShisetsuRiyoEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT5210NinteichosahyoShisetsuRiyoEntity" autoMapping="true">
        <id property="shinseishoKanriNo" column="dbT5210NinteichosahyoShisetsuRiyo_shinseishoKanriNo" />
        <id property="ninteichosaRirekiNo" column="dbT5210NinteichosahyoShisetsuRiyo_ninteichosaRirekiNo" />
        <id property="remban" column="dbT5210NinteichosahyoShisetsuRiyo_remban" />
        <result property="insertDantaiCd" column="dbT5210NinteichosahyoShisetsuRiyo_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT5210NinteichosahyoShisetsuRiyo_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT5210NinteichosahyoShisetsuRiyo_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT5210NinteichosahyoShisetsuRiyo_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT5210NinteichosahyoShisetsuRiyo_isDeleted" />
        <result property="updateCount" column="dbT5210NinteichosahyoShisetsuRiyo_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT5210NinteichosahyoShisetsuRiyo_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT5210NinteichosahyoShisetsuRiyo_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="koroshoIfShikibetsuCode" column="dbT5210NinteichosahyoShisetsuRiyo_koroshoIfShikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="shisetsuRiyoFlag" column="dbT5210NinteichosahyoShisetsuRiyo_shisetsuRiyoFlag" />
    </resultMap>
<select id="getEntity" resultMap="ResultMap_DbT5210NinteichosahyoShisetsuRiyoEntity">
    SELECT
    <include refid="allColumns_DbT5210NinteichosahyoShisetsuRiyo" />
    FROM
    rgdb."DbT5210NinteichosahyoShisetsuRiyo"
</select>
</mapper>
