<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT7025KoikiNoHatsubanマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT7025KoikiNoHatsubanMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT7025KoikiNoHatsuban">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT7025KoikiNoHatsubanMapper.allColumns_DbT7025KoikiNoHatsuban" />
     FROM
         rgdb."DbT7025KoikiNoHatsuban"
     WHERE
         rgdb."DbT7025KoikiNoHatsuban"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT7025KoikiNoHatsuban">
         "DbT7025KoikiNoHatsuban"."shichosonCode" as "dbT7025KoikiNoHatsuban_shichosonCode",
         "DbT7025KoikiNoHatsuban"."codeKubun" as "dbT7025KoikiNoHatsuban_codeKubun",
         "DbT7025KoikiNoHatsuban"."insertDantaiCd" as "dbT7025KoikiNoHatsuban_insertDantaiCd",
         "DbT7025KoikiNoHatsuban"."insertTimestamp" as "dbT7025KoikiNoHatsuban_insertTimestamp",
         "DbT7025KoikiNoHatsuban"."insertReamsLoginId" as "dbT7025KoikiNoHatsuban_insertReamsLoginId",
         "DbT7025KoikiNoHatsuban"."insertContextId" as "dbT7025KoikiNoHatsuban_insertContextId",
         "DbT7025KoikiNoHatsuban"."isDeleted" as "dbT7025KoikiNoHatsuban_isDeleted",
         "DbT7025KoikiNoHatsuban"."updateCount" as "dbT7025KoikiNoHatsuban_updateCount",
         "DbT7025KoikiNoHatsuban"."lastUpdateTimestamp" as "dbT7025KoikiNoHatsuban_lastUpdateTimestamp",
         "DbT7025KoikiNoHatsuban"."lastUpdateReamsLoginId" as "dbT7025KoikiNoHatsuban_lastUpdateReamsLoginId",
         "DbT7025KoikiNoHatsuban"."no" as "dbT7025KoikiNoHatsuban_no"
    </sql>


    <!--テーブルDbT7025KoikiNoHatsubanの項目をDbT7025KoikiNoHatsubanEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT7025KoikiNoHatsubanEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT7025KoikiNoHatsubanEntity" autoMapping="true">
        <id property="shichosonCode" column="dbT7025KoikiNoHatsuban_shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <id property="codeKubun" column="dbT7025KoikiNoHatsuban_codeKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertDantaiCd" column="dbT7025KoikiNoHatsuban_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT7025KoikiNoHatsuban_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT7025KoikiNoHatsuban_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT7025KoikiNoHatsuban_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT7025KoikiNoHatsuban_isDeleted" />
        <result property="updateCount" column="dbT7025KoikiNoHatsuban_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT7025KoikiNoHatsuban_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT7025KoikiNoHatsuban_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="no" column="dbT7025KoikiNoHatsuban_no" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
<select id="getEntity" resultMap="ResultMap_DbT7025KoikiNoHatsubanEntity">
    SELECT
    <include refid="allColumns_DbT7025KoikiNoHatsuban"/>
    FROM
    rgdb."DbT7025KoikiNoHatsuban"
</select>
</mapper>
