<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT4203NinteichosahyoKihonChosaChildマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4203NinteichosahyoKihonChosaChildMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT4203NinteichosahyoKihonChosaChild">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4203NinteichosahyoKihonChosaChildMapper.allColumns_DbT4203NinteichosahyoKihonChosaChild" />
     FROM
         rgdb."DbT4203NinteichosahyoKihonChosaChild"
     WHERE
         rgdb."DbT4203NinteichosahyoKihonChosaChild"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT4203NinteichosahyoKihonChosaChild">
         "DbT4203NinteichosahyoKihonChosaChild"."shinseishoKanriNo" as "dbT4203NinteichosahyoKihonChosaChild_shinseishoKanriNo",
         "DbT4203NinteichosahyoKihonChosaChild"."ninteichosaRirekiNo" as "dbT4203NinteichosahyoKihonChosaChild_ninteichosaRirekiNo",
         "DbT4203NinteichosahyoKihonChosaChild"."insertDantaiCd" as "dbT4203NinteichosahyoKihonChosaChild_insertDantaiCd",
         "DbT4203NinteichosahyoKihonChosaChild"."insertTimestamp" as "dbT4203NinteichosahyoKihonChosaChild_insertTimestamp",
         "DbT4203NinteichosahyoKihonChosaChild"."insertReamsLoginId" as "dbT4203NinteichosahyoKihonChosaChild_insertReamsLoginId",
         "DbT4203NinteichosahyoKihonChosaChild"."insertContextId" as "dbT4203NinteichosahyoKihonChosaChild_insertContextId",
         "DbT4203NinteichosahyoKihonChosaChild"."isDeleted" as "dbT4203NinteichosahyoKihonChosaChild_isDeleted",
         "DbT4203NinteichosahyoKihonChosaChild"."updateCount" as "dbT4203NinteichosahyoKihonChosaChild_updateCount",
         "DbT4203NinteichosahyoKihonChosaChild"."lastUpdateTimestamp" as "dbT4203NinteichosahyoKihonChosaChild_lastUpdateTimestamp",
         "DbT4203NinteichosahyoKihonChosaChild"."lastUpdateReamsLoginId" as "dbT4203NinteichosahyoKihonChosaChild_lastUpdateReamsLoginId",
         "DbT4203NinteichosahyoKihonChosaChild"."koroshoIfShikibetsuCode" as "dbT4203NinteichosahyoKihonChosaChild_koroshoIfShikibetsuCode",
         "DbT4203NinteichosahyoKihonChosaChild"."ninchishoNichijoSeikatsuJiritsudoCode" as "dbT4203NinteichosahyoKihonChosaChild_ninchishoNichijoSeikatsuJiritsudoCode",
         "DbT4203NinteichosahyoKihonChosaChild"."shogaiNichijoSeikatsuJiritsudoCode" as "dbT4203NinteichosahyoKihonChosaChild_shogaiNichijoSeikatsuJiritsudoCode"
    </sql>


    <!--テーブルDbT4203NinteichosahyoKihonChosaChildの項目をDbT4203NinteichosahyoKihonChosaChildEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT4203NinteichosahyoKihonChosaChildEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT4203NinteichosahyoKihonChosaChildEntity" autoMapping="true">
        <!--<id property="shinseishoKanriNo" column="dbT4203NinteichosahyoKihonChosaChild_shinseishoKanriNo" />
        <id property="ninteichosaRirekiNo" column="dbT4203NinteichosahyoKihonChosaChild_ninteichosaRirekiNo" />-->
        <result property="insertDantaiCd" column="dbT4203NinteichosahyoKihonChosaChild_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT4203NinteichosahyoKihonChosaChild_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT4203NinteichosahyoKihonChosaChild_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT4203NinteichosahyoKihonChosaChild_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT4203NinteichosahyoKihonChosaChild_isDeleted" />
        <result property="updateCount" column="dbT4203NinteichosahyoKihonChosaChild_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT4203NinteichosahyoKihonChosaChild_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT4203NinteichosahyoKihonChosaChild_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="koroshoIfShikibetsuCode" column="dbT4203NinteichosahyoKihonChosaChild_koroshoIfShikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="ninchishoNichijoSeikatsuJiritsudoCode" column="dbT4203NinteichosahyoKihonChosaChild_ninchishoNichijoSeikatsuJiritsudoCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="shogaiNichijoSeikatsuJiritsudoCode" column="dbT4203NinteichosahyoKihonChosaChild_shogaiNichijoSeikatsuJiritsudoCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
    </resultMap>
    
        <select id="getEntity" resultMap="ResultMap_DbT4203NinteichosahyoKihonChosaChildEntity">
	SELECT
	<include refid="allColumns_DbT4203NinteichosahyoKihonChosaChild"/>
	FROM
	rgdb."DbT4203NinteichosahyoKihonChosaChild"
	</select>

</mapper>
