<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT4208NinteichosahyoServiceJokyoFlagマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4208NinteichosahyoServiceJokyoFlagMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT4208NinteichosahyoServiceJokyoFlag">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4208NinteichosahyoServiceJokyoFlagMapper.allColumns_DbT4208NinteichosahyoServiceJokyoFlag" />
        FROM
        rgdb."DbT4208NinteichosahyoServiceJokyoFlag"
        WHERE
        rgdb."DbT4208NinteichosahyoServiceJokyoFlag"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT4208NinteichosahyoServiceJokyoFlag">
        "DbT4208NinteichosahyoServiceJokyoFlag"."shinseishoKanriNo" as "dbT4208NinteichosahyoServiceJokyoFlag_shinseishoKanriNo",
        "DbT4208NinteichosahyoServiceJokyoFlag"."ninteichosaRirekiNo" as "dbT4208NinteichosahyoServiceJokyoFlag_ninteichosaRirekiNo",
        "DbT4208NinteichosahyoServiceJokyoFlag"."remban" as "dbT4208NinteichosahyoServiceJokyoFlag_remban",
        "DbT4208NinteichosahyoServiceJokyoFlag"."insertDantaiCd" as "dbT4208NinteichosahyoServiceJokyoFlag_insertDantaiCd",
        "DbT4208NinteichosahyoServiceJokyoFlag"."insertTimestamp" as "dbT4208NinteichosahyoServiceJokyoFlag_insertTimestamp",
        "DbT4208NinteichosahyoServiceJokyoFlag"."insertReamsLoginId" as "dbT4208NinteichosahyoServiceJokyoFlag_insertReamsLoginId",
        "DbT4208NinteichosahyoServiceJokyoFlag"."insertContextId" as "dbT4208NinteichosahyoServiceJokyoFlag_insertContextId",
        "DbT4208NinteichosahyoServiceJokyoFlag"."isDeleted" as "dbT4208NinteichosahyoServiceJokyoFlag_isDeleted",
        "DbT4208NinteichosahyoServiceJokyoFlag"."updateCount" as "dbT4208NinteichosahyoServiceJokyoFlag_updateCount",
        "DbT4208NinteichosahyoServiceJokyoFlag"."lastUpdateTimestamp" as "dbT4208NinteichosahyoServiceJokyoFlag_lastUpdateTimestamp",
        "DbT4208NinteichosahyoServiceJokyoFlag"."lastUpdateReamsLoginId" as "dbT4208NinteichosahyoServiceJokyoFlag_lastUpdateReamsLoginId",
        "DbT4208NinteichosahyoServiceJokyoFlag"."koroshoIfShikibetsuCode" as "dbT4208NinteichosahyoServiceJokyoFlag_koroshoIfShikibetsuCode",
        "DbT4208NinteichosahyoServiceJokyoFlag"."serviceJokyoFlag" as "dbT4208NinteichosahyoServiceJokyoFlag_serviceJokyoFlag"
    </sql>


    <!--テーブルDbT4208NinteichosahyoServiceJokyoFlagの項目をDbT4208NinteichosahyoServiceJokyoFlagEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT4208NinteichosahyoServiceJokyoFlagEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT4208NinteichosahyoServiceJokyoFlagEntity" autoMapping="true">
        <id property="shinseishoKanriNo" column="dbT4208NinteichosahyoServiceJokyoFlag_shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
        <id property="ninteichosaRirekiNo" column="dbT4208NinteichosahyoServiceJokyoFlag_ninteichosaRirekiNo" />
        <id property="remban" column="dbT4208NinteichosahyoServiceJokyoFlag_remban" />
        <result property="insertDantaiCd" column="dbT4208NinteichosahyoServiceJokyoFlag_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT4208NinteichosahyoServiceJokyoFlag_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT4208NinteichosahyoServiceJokyoFlag_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT4208NinteichosahyoServiceJokyoFlag_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT4208NinteichosahyoServiceJokyoFlag_isDeleted" />
        <result property="updateCount" column="dbT4208NinteichosahyoServiceJokyoFlag_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT4208NinteichosahyoServiceJokyoFlag_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT4208NinteichosahyoServiceJokyoFlag_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="koroshoIfShikibetsuCode" column="dbT4208NinteichosahyoServiceJokyoFlag_koroshoIfShikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="serviceJokyoFlag" column="dbT4208NinteichosahyoServiceJokyoFlag_serviceJokyoFlag" />
    </resultMap>
    
    <select id="getEntity" resultMap="ResultMap_DbT4208NinteichosahyoServiceJokyoFlagEntity">
        SELECT
        <include refid="allColumns_DbT4208NinteichosahyoServiceJokyoFlag"/>
        FROM
        rgdb."DbT4208NinteichosahyoServiceJokyoFlag"
    </select>

</mapper>
