<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT5207NinteichosahyoServiceJokyoマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5207NinteichosahyoServiceJokyoMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT5207NinteichosahyoServiceJokyo">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5207NinteichosahyoServiceJokyoMapper.allColumns_DbT5207NinteichosahyoServiceJokyo" />
     FROM
         rgdb."DbT5207NinteichosahyoServiceJokyo"
     WHERE
         rgdb."DbT5207NinteichosahyoServiceJokyo"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT5207NinteichosahyoServiceJokyo">
         "DbT5207NinteichosahyoServiceJokyo"."shinseishoKanriNo" as "dbT5207NinteichosahyoServiceJokyo_shinseishoKanriNo",
         "DbT5207NinteichosahyoServiceJokyo"."ninteichosaRirekiNo" as "dbT5207NinteichosahyoServiceJokyo_ninteichosaRirekiNo",
         "DbT5207NinteichosahyoServiceJokyo"."remban" as "dbT5207NinteichosahyoServiceJokyo_remban",
         "DbT5207NinteichosahyoServiceJokyo"."insertDantaiCd" as "dbT5207NinteichosahyoServiceJokyo_insertDantaiCd",
         "DbT5207NinteichosahyoServiceJokyo"."insertTimestamp" as "dbT5207NinteichosahyoServiceJokyo_insertTimestamp",
         "DbT5207NinteichosahyoServiceJokyo"."insertReamsLoginId" as "dbT5207NinteichosahyoServiceJokyo_insertReamsLoginId",
         "DbT5207NinteichosahyoServiceJokyo"."insertContextId" as "dbT5207NinteichosahyoServiceJokyo_insertContextId",
         "DbT5207NinteichosahyoServiceJokyo"."isDeleted" as "dbT5207NinteichosahyoServiceJokyo_isDeleted",
         "DbT5207NinteichosahyoServiceJokyo"."updateCount" as "dbT5207NinteichosahyoServiceJokyo_updateCount",
         "DbT5207NinteichosahyoServiceJokyo"."lastUpdateTimestamp" as "dbT5207NinteichosahyoServiceJokyo_lastUpdateTimestamp",
         "DbT5207NinteichosahyoServiceJokyo"."lastUpdateReamsLoginId" as "dbT5207NinteichosahyoServiceJokyo_lastUpdateReamsLoginId",
         "DbT5207NinteichosahyoServiceJokyo"."serviceJokyo" as "dbT5207NinteichosahyoServiceJokyo_serviceJokyo"
    </sql>


    <!--テーブルDbT5207NinteichosahyoServiceJokyoの項目をDbT5207NinteichosahyoServiceJokyoEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT5207NinteichosahyoServiceJokyoEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT5207NinteichosahyoServiceJokyoEntity" autoMapping="true">
        <id property="shinseishoKanriNo" column="dbT5207NinteichosahyoServiceJokyo_shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
        <id property="ninteichosaRirekiNo" column="dbT5207NinteichosahyoServiceJokyo_ninteichosaRirekiNo" />
        <id property="remban" column="dbT5207NinteichosahyoServiceJokyo_remban" />
        <result property="insertDantaiCd" column="dbT5207NinteichosahyoServiceJokyo_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT5207NinteichosahyoServiceJokyo_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT5207NinteichosahyoServiceJokyo_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT5207NinteichosahyoServiceJokyo_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT5207NinteichosahyoServiceJokyo_isDeleted" />
        <result property="updateCount" column="dbT5207NinteichosahyoServiceJokyo_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT5207NinteichosahyoServiceJokyo_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT5207NinteichosahyoServiceJokyo_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="serviceJokyo" column="dbT5207NinteichosahyoServiceJokyo_serviceJokyo" />
    </resultMap>
<select id="getEntity" resultMap="ResultMap_DbT5207NinteichosahyoServiceJokyoEntity">
    SELECT
    <include refid="allColumns_DbT5207NinteichosahyoServiceJokyo" />
    FROM
    rgdb."DbT5207NinteichosahyoServiceJokyo"
</select>
</mapper>
