<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT5302ShujiiIkenshoJohoマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5302ShujiiIkenshoJohoMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT5302ShujiiIkenshoJoho">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5302ShujiiIkenshoJohoMapper.allColumns_DbT5302ShujiiIkenshoJoho" />
     FROM
         rgdb."DbT5302ShujiiIkenshoJoho"
     WHERE
         rgdb."DbT5302ShujiiIkenshoJoho"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT5302ShujiiIkenshoJoho">
         "DbT5302ShujiiIkenshoJoho"."shinseishoKanriNo" as "dbT5302ShujiiIkenshoJoho_shinseishoKanriNo",
         "DbT5302ShujiiIkenshoJoho"."ikenshoIraiRirekiNo" as "dbT5302ShujiiIkenshoJoho_ikenshoIraiRirekiNo",
         "DbT5302ShujiiIkenshoJoho"."insertDantaiCd" as "dbT5302ShujiiIkenshoJoho_insertDantaiCd",
         "DbT5302ShujiiIkenshoJoho"."insertTimestamp" as "dbT5302ShujiiIkenshoJoho_insertTimestamp",
         "DbT5302ShujiiIkenshoJoho"."insertReamsLoginId" as "dbT5302ShujiiIkenshoJoho_insertReamsLoginId",
         "DbT5302ShujiiIkenshoJoho"."insertContextId" as "dbT5302ShujiiIkenshoJoho_insertContextId",
         "DbT5302ShujiiIkenshoJoho"."isDeleted" as "dbT5302ShujiiIkenshoJoho_isDeleted",
         "DbT5302ShujiiIkenshoJoho"."updateCount" as "dbT5302ShujiiIkenshoJoho_updateCount",
         "DbT5302ShujiiIkenshoJoho"."lastUpdateTimestamp" as "dbT5302ShujiiIkenshoJoho_lastUpdateTimestamp",
         "DbT5302ShujiiIkenshoJoho"."lastUpdateReamsLoginId" as "dbT5302ShujiiIkenshoJoho_lastUpdateReamsLoginId",
         "DbT5302ShujiiIkenshoJoho"."koroshoIfShikibetsuCode" as "dbT5302ShujiiIkenshoJoho_koroshoIfShikibetsuCode",
         "DbT5302ShujiiIkenshoJoho"."ikenshoIraiKubun" as "dbT5302ShujiiIkenshoJoho_ikenshoIraiKubun",
         "DbT5302ShujiiIkenshoJoho"."shujiiIryoKikanCode" as "dbT5302ShujiiIkenshoJoho_shujiiIryoKikanCode",
         "DbT5302ShujiiIkenshoJoho"."shujiiCode" as "dbT5302ShujiiIkenshoJoho_shujiiCode",
         "DbT5302ShujiiIkenshoJoho"."ikenshoJuryoYMD" as "dbT5302ShujiiIkenshoJoho_ikenshoJuryoYMD",
         "DbT5302ShujiiIkenshoJoho"."ikenshoKinyuYMD" as "dbT5302ShujiiIkenshoJoho_ikenshoKinyuYMD",
         "DbT5302ShujiiIkenshoJoho"."ikenshoSakuseiKaisuKubun" as "dbT5302ShujiiIkenshoJoho_ikenshoSakuseiKaisuKubun",
         "DbT5302ShujiiIkenshoJoho"."zaitakuShisetsuKubun" as "dbT5302ShujiiIkenshoJoho_zaitakuShisetsuKubun",
         "DbT5302ShujiiIkenshoJoho"."ikenshoDoiFlag" as "dbT5302ShujiiIkenshoJoho_ikenshoDoiFlag",
         "DbT5302ShujiiIkenshoJoho"."saishuShinryoYMD" as "dbT5302ShujiiIkenshoJoho_saishuShinryoYMD",
         "DbT5302ShujiiIkenshoJoho"."existTakaJushinFlag" as "dbT5302ShujiiIkenshoJoho_existTakaJushinFlag",
         "DbT5302ShujiiIkenshoJoho"."existNaikaJushinFlag" as "dbT5302ShujiiIkenshoJoho_existNaikaJushinFlag",
         "DbT5302ShujiiIkenshoJoho"."existSeishinkaJushinFlag" as "dbT5302ShujiiIkenshoJoho_existSeishinkaJushinFlag",
         "DbT5302ShujiiIkenshoJoho"."existGekaJushinFlag" as "dbT5302ShujiiIkenshoJoho_existGekaJushinFlag",
         "DbT5302ShujiiIkenshoJoho"."existSeikeigekaJushinFlag" as "dbT5302ShujiiIkenshoJoho_existSeikeigekaJushinFlag",
         "DbT5302ShujiiIkenshoJoho"."existNoshinkeigekaJushinFlag" as "dbT5302ShujiiIkenshoJoho_existNoshinkeigekaJushinFlag",
         "DbT5302ShujiiIkenshoJoho"."existHifukaJushinFlag" as "dbT5302ShujiiIkenshoJoho_existHifukaJushinFlag",
         "DbT5302ShujiiIkenshoJoho"."existHinyokikaJushinFlag" as "dbT5302ShujiiIkenshoJoho_existHinyokikaJushinFlag",
         "DbT5302ShujiiIkenshoJoho"."existFujinkaJushinFlag" as "dbT5302ShujiiIkenshoJoho_existFujinkaJushinFlag",
         "DbT5302ShujiiIkenshoJoho"."existJibiinkokaJushinFlag" as "dbT5302ShujiiIkenshoJoho_existJibiinkokaJushinFlag",
         "DbT5302ShujiiIkenshoJoho"."existRehabilitationkaJushinFlag" as "dbT5302ShujiiIkenshoJoho_existRehabilitationkaJushinFlag",
         "DbT5302ShujiiIkenshoJoho"."existShikaJushinFlag" as "dbT5302ShujiiIkenshoJoho_existShikaJushinFlag",
         "DbT5302ShujiiIkenshoJoho"."existGankaJushinFlag" as "dbT5302ShujiiIkenshoJoho_existGankaJushinFlag",
         "DbT5302ShujiiIkenshoJoho"."existSonotaJushinkaFlag" as "dbT5302ShujiiIkenshoJoho_existSonotaJushinkaFlag",
         "DbT5302ShujiiIkenshoJoho"."sonotaJushinKaShimei" as "dbT5302ShujiiIkenshoJoho_sonotaJushinKaShimei",
         "DbT5302ShujiiIkenshoJoho"."shindamMei1" as "dbT5302ShujiiIkenshoJoho_shindamMei1",
         "DbT5302ShujiiIkenshoJoho"."hasshoYMD1" as "dbT5302ShujiiIkenshoJoho_hasshoYMD1",
         "DbT5302ShujiiIkenshoJoho"."shindamMei2" as "dbT5302ShujiiIkenshoJoho_shindamMei2",
         "DbT5302ShujiiIkenshoJoho"."hasshoYMD2" as "dbT5302ShujiiIkenshoJoho_hasshoYMD2",
         "DbT5302ShujiiIkenshoJoho"."shindamMei3" as "dbT5302ShujiiIkenshoJoho_shindamMei3",
         "DbT5302ShujiiIkenshoJoho"."hasshoYMD3" as "dbT5302ShujiiIkenshoJoho_hasshoYMD3",
         "DbT5302ShujiiIkenshoJoho"."anteisei" as "dbT5302ShujiiIkenshoJoho_anteisei",
         "DbT5302ShujiiIkenshoJoho"."fuanteiJokyo" as "dbT5302ShujiiIkenshoJoho_fuanteiJokyo",
         "DbT5302ShujiiIkenshoJoho"."chiryoNaiyo" as "dbT5302ShujiiIkenshoJoho_chiryoNaiyo",
         "DbT5302ShujiiIkenshoJoho"."tokkiJiko" as "dbT5302ShujiiIkenshoJoho_tokkiJiko",
         "DbT5302ShujiiIkenshoJoho"."tokkiJikoImageSharedFileId" as "dbT5302ShujiiIkenshoJoho_tokkiJikoImageSharedFileId",
         "DbT5302ShujiiIkenshoJoho"."nijiHanteiKekkaRenrakuFlag" as "dbT5302ShujiiIkenshoJoho_nijiHanteiKekkaRenrakuFlag",
         "DbT5302ShujiiIkenshoJoho"."ikenshoMemo" as "dbT5302ShujiiIkenshoJoho_ikenshoMemo"
    </sql>


    <!--テーブルDbT5302ShujiiIkenshoJohoの項目をDbT5302ShujiiIkenshoJohoEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT5302ShujiiIkenshoJohoEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT5302ShujiiIkenshoJohoEntity" autoMapping="true">
        <id property="shinseishoKanriNo" column="dbT5302ShujiiIkenshoJoho_shinseishoKanriNo" />
        <id property="ikenshoIraiRirekiNo" column="dbT5302ShujiiIkenshoJoho_ikenshoIraiRirekiNo" />
        <result property="insertDantaiCd" column="dbT5302ShujiiIkenshoJoho_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT5302ShujiiIkenshoJoho_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT5302ShujiiIkenshoJoho_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT5302ShujiiIkenshoJoho_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT5302ShujiiIkenshoJoho_isDeleted" />
        <result property="updateCount" column="dbT5302ShujiiIkenshoJoho_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT5302ShujiiIkenshoJoho_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT5302ShujiiIkenshoJoho_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="koroshoIfShikibetsuCode" column="dbT5302ShujiiIkenshoJoho_koroshoIfShikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="ikenshoIraiKubun" column="dbT5302ShujiiIkenshoJoho_ikenshoIraiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shujiiIryoKikanCode" column="dbT5302ShujiiIkenshoJoho_shujiiIryoKikanCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shujiiCode" column="dbT5302ShujiiIkenshoJoho_shujiiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="ikenshoJuryoYMD" column="dbT5302ShujiiIkenshoJoho_ikenshoJuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ikenshoKinyuYMD" column="dbT5302ShujiiIkenshoJoho_ikenshoKinyuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ikenshoSakuseiKaisuKubun" column="dbT5302ShujiiIkenshoJoho_ikenshoSakuseiKaisuKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="zaitakuShisetsuKubun" column="dbT5302ShujiiIkenshoJoho_zaitakuShisetsuKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="ikenshoDoiFlag" column="dbT5302ShujiiIkenshoJoho_ikenshoDoiFlag" />
        <result property="saishuShinryoYMD" column="dbT5302ShujiiIkenshoJoho_saishuShinryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="existTakaJushinFlag" column="dbT5302ShujiiIkenshoJoho_existTakaJushinFlag" />
        <result property="existNaikaJushinFlag" column="dbT5302ShujiiIkenshoJoho_existNaikaJushinFlag" />
        <result property="existSeishinkaJushinFlag" column="dbT5302ShujiiIkenshoJoho_existSeishinkaJushinFlag" />
        <result property="existGekaJushinFlag" column="dbT5302ShujiiIkenshoJoho_existGekaJushinFlag" />
        <result property="existSeikeigekaJushinFlag" column="dbT5302ShujiiIkenshoJoho_existSeikeigekaJushinFlag" />
        <result property="existNoshinkeigekaJushinFlag" column="dbT5302ShujiiIkenshoJoho_existNoshinkeigekaJushinFlag" />
        <result property="existHifukaJushinFlag" column="dbT5302ShujiiIkenshoJoho_existHifukaJushinFlag" />
        <result property="existHinyokikaJushinFlag" column="dbT5302ShujiiIkenshoJoho_existHinyokikaJushinFlag" />
        <result property="existFujinkaJushinFlag" column="dbT5302ShujiiIkenshoJoho_existFujinkaJushinFlag" />
        <result property="existJibiinkokaJushinFlag" column="dbT5302ShujiiIkenshoJoho_existJibiinkokaJushinFlag" />
        <result property="existRehabilitationkaJushinFlag" column="dbT5302ShujiiIkenshoJoho_existRehabilitationkaJushinFlag" />
        <result property="existShikaJushinFlag" column="dbT5302ShujiiIkenshoJoho_existShikaJushinFlag" />
        <result property="existGankaJushinFlag" column="dbT5302ShujiiIkenshoJoho_existGankaJushinFlag" />
        <result property="existSonotaJushinkaFlag" column="dbT5302ShujiiIkenshoJoho_existSonotaJushinkaFlag" />
        <result property="sonotaJushinKaShimei" column="dbT5302ShujiiIkenshoJoho_sonotaJushinKaShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shindamMei1" column="dbT5302ShujiiIkenshoJoho_shindamMei1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hasshoYMD1" column="dbT5302ShujiiIkenshoJoho_hasshoYMD1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shindamMei2" column="dbT5302ShujiiIkenshoJoho_shindamMei2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hasshoYMD2" column="dbT5302ShujiiIkenshoJoho_hasshoYMD2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shindamMei3" column="dbT5302ShujiiIkenshoJoho_shindamMei3" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hasshoYMD3" column="dbT5302ShujiiIkenshoJoho_hasshoYMD3" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="anteisei" column="dbT5302ShujiiIkenshoJoho_anteisei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="fuanteiJokyo" column="dbT5302ShujiiIkenshoJoho_fuanteiJokyo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="chiryoNaiyo" column="dbT5302ShujiiIkenshoJoho_chiryoNaiyo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="tokkiJiko" column="dbT5302ShujiiIkenshoJoho_tokkiJiko" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="tokkiJikoImageSharedFileId" column="dbT5302ShujiiIkenshoJoho_tokkiJikoImageSharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="nijiHanteiKekkaRenrakuFlag" column="dbT5302ShujiiIkenshoJoho_nijiHanteiKekkaRenrakuFlag" />
        <result property="ikenshoMemo" column="dbT5302ShujiiIkenshoJoho_ikenshoMemo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
<select id="getEntity" resultMap="ResultMap_DbT5302ShujiiIkenshoJohoEntity">
    SELECT
    <include refid="allColumns_DbT5302ShujiiIkenshoJoho" />
    FROM
    rgdb."DbT5302ShujiiIkenshoJoho"
</select>
</mapper>
