<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT1013KyokaisoSochiShinseiマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1013KyokaisoSochiShinseiMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT1013KyokaisoSochiShinsei">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1013KyokaisoSochiShinseiMapper.allColumns_DbT1013KyokaisoSochiShinsei" />
     FROM
         rgdb."DbT1013KyokaisoSochiShinsei"
     WHERE
         rgdb."DbT1013KyokaisoSochiShinsei"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT1013KyokaisoSochiShinsei">
         "DbT1013KyokaisoSochiShinsei"."hihokenshaNo" as "dbT1013KyokaisoSochiShinsei_hihokenshaNo",
         "DbT1013KyokaisoSochiShinsei"."rirekiNo" as "dbT1013KyokaisoSochiShinsei_rirekiNo",
         "DbT1013KyokaisoSochiShinsei"."insertDantaiCd" as "dbT1013KyokaisoSochiShinsei_insertDantaiCd",
         "DbT1013KyokaisoSochiShinsei"."insertTimestamp" as "dbT1013KyokaisoSochiShinsei_insertTimestamp",
         "DbT1013KyokaisoSochiShinsei"."insertReamsLoginId" as "dbT1013KyokaisoSochiShinsei_insertReamsLoginId",
         "DbT1013KyokaisoSochiShinsei"."insertContextId" as "dbT1013KyokaisoSochiShinsei_insertContextId",
         "DbT1013KyokaisoSochiShinsei"."isDeleted" as "dbT1013KyokaisoSochiShinsei_isDeleted",
         "DbT1013KyokaisoSochiShinsei"."updateCount" as "dbT1013KyokaisoSochiShinsei_updateCount",
         "DbT1013KyokaisoSochiShinsei"."lastUpdateTimestamp" as "dbT1013KyokaisoSochiShinsei_lastUpdateTimestamp",
         "DbT1013KyokaisoSochiShinsei"."lastUpdateReamsLoginId" as "dbT1013KyokaisoSochiShinsei_lastUpdateReamsLoginId",
         "DbT1013KyokaisoSochiShinsei"."shinseiYMD" as "dbT1013KyokaisoSochiShinsei_shinseiYMD",
         "DbT1013KyokaisoSochiShinsei"."uketsukeYMD" as "dbT1013KyokaisoSochiShinsei_uketsukeYMD",
         "DbT1013KyokaisoSochiShinsei"."shinsei_HaishiKubun" as "dbT1013KyokaisoSochiShinsei_shinsei_HaishiKubun",
         "DbT1013KyokaisoSochiShinsei"."shinsei_HaishiYMD" as "dbT1013KyokaisoSochiShinsei_shinsei_HaishiYMD",
         "DbT1013KyokaisoSochiShinsei"."hogoHuyoKonkyoGengakuKingaku" as "dbT1013KyokaisoSochiShinsei_hogoHuyoKonkyoGengakuKingaku",
         "DbT1013KyokaisoSochiShinsei"."kyokaisoShomeishoKofuYMD" as "dbT1013KyokaisoSochiShinsei_kyokaisoShomeishoKofuYMD",
         "DbT1013KyokaisoSochiShinsei"."kyufuGengakuTorikeshi_GengakuJikofutanGetsugaku" as "dbT1013KyokaisoSochiShinsei_kyufuGengakuTorikeshi_GengakuJikofutanGetsugaku",
         "DbT1013KyokaisoSochiShinsei"."kyojuhiKeigen_GengakuJikofutanGetsugaku" as "dbT1013KyokaisoSochiShinsei_kyojuhiKeigen_GengakuJikofutanGetsugaku",
         "DbT1013KyokaisoSochiShinsei"."kyojuhiKeigen_FutangendogakuDankaiCode" as "dbT1013KyokaisoSochiShinsei_kyojuhiKeigen_FutangendogakuDankaiCode",
         "DbT1013KyokaisoSochiShinsei"."shokuhiKeigen_GengakuJikofutanGetsugaku" as "dbT1013KyokaisoSochiShinsei_shokuhiKeigen_GengakuJikofutanGetsugaku",
         "DbT1013KyokaisoSochiShinsei"."shokuhiKeigen_FutangendogakuDankaiCode" as "dbT1013KyokaisoSochiShinsei_shokuhiKeigen_FutangendogakuDankaiCode",
         "DbT1013KyokaisoSochiShinsei"."riyoshaFutanSetaiGassanGaku_GengakuJokofutanGetsugaku" as "dbT1013KyokaisoSochiShinsei_riyoshaFutanSetaiGassanGaku_GengakuJokofutanGetsugaku",
         "DbT1013KyokaisoSochiShinsei"."hokenryoGengaku_GengakuJikofutanGetsugaku" as "dbT1013KyokaisoSochiShinsei_hokenryoGengaku_GengakuJikofutanGetsugaku",
         "DbT1013KyokaisoSochiShinsei"."gengakuJikofutanGetsugakuGokeigaku" as "dbT1013KyokaisoSochiShinsei_gengakuJikofutanGetsugakuGokeigaku",
         "DbT1013KyokaisoSochiShinsei"."kyukaisoSochiKetteiYMD" as "dbT1013KyokaisoSochiShinsei_kyukaisoSochiKetteiYMD",
         "DbT1013KyokaisoSochiShinsei"."sochiGaito_HigaitoKubun" as "dbT1013KyokaisoSochiShinsei_sochiGaito_HigaitoKubun"
    </sql>


    <!--テーブルDbT1013KyokaisoSochiShinseiの項目をDbT1013KyokaisoSochiShinseiEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT1013KyokaisoSochiShinseiEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT1013KyokaisoSochiShinseiEntity" autoMapping="true">
        <id property="hihokenshaNo" column="dbT1013KyokaisoSochiShinsei_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="rirekiNo" column="dbT1013KyokaisoSochiShinsei_rirekiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="insertDantaiCd" column="dbT1013KyokaisoSochiShinsei_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT1013KyokaisoSochiShinsei_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT1013KyokaisoSochiShinsei_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT1013KyokaisoSochiShinsei_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT1013KyokaisoSochiShinsei_isDeleted" />
        <result property="updateCount" column="dbT1013KyokaisoSochiShinsei_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT1013KyokaisoSochiShinsei_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT1013KyokaisoSochiShinsei_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shinseiYMD" column="dbT1013KyokaisoSochiShinsei_shinseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="uketsukeYMD" column="dbT1013KyokaisoSochiShinsei_uketsukeYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shinsei_HaishiKubun" column="dbT1013KyokaisoSochiShinsei_shinsei_HaishiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shinsei_HaishiYMD" column="dbT1013KyokaisoSochiShinsei_shinsei_HaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="hogoHuyoKonkyoGengakuKingaku" column="dbT1013KyokaisoSochiShinsei_hogoHuyoKonkyoGengakuKingaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="kyokaisoShomeishoKofuYMD" column="dbT1013KyokaisoSochiShinsei_kyokaisoShomeishoKofuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="kyufuGengakuTorikeshi_GengakuJikofutanGetsugaku" column="dbT1013KyokaisoSochiShinsei_kyufuGengakuTorikeshi_GengakuJikofutanGetsugaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="kyojuhiKeigen_GengakuJikofutanGetsugaku" column="dbT1013KyokaisoSochiShinsei_kyojuhiKeigen_GengakuJikofutanGetsugaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="kyojuhiKeigen_FutangendogakuDankaiCode" column="dbT1013KyokaisoSochiShinsei_kyojuhiKeigen_FutangendogakuDankaiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shokuhiKeigen_GengakuJikofutanGetsugaku" column="dbT1013KyokaisoSochiShinsei_shokuhiKeigen_GengakuJikofutanGetsugaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="shokuhiKeigen_FutangendogakuDankaiCode" column="dbT1013KyokaisoSochiShinsei_shokuhiKeigen_FutangendogakuDankaiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="riyoshaFutanSetaiGassanGaku_GengakuJokofutanGetsugaku" column="dbT1013KyokaisoSochiShinsei_riyoshaFutanSetaiGassanGaku_GengakuJokofutanGetsugaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="hokenryoGengaku_GengakuJikofutanGetsugaku" column="dbT1013KyokaisoSochiShinsei_hokenryoGengaku_GengakuJikofutanGetsugaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="gengakuJikofutanGetsugakuGokeigaku" column="dbT1013KyokaisoSochiShinsei_gengakuJikofutanGetsugakuGokeigaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="kyukaisoSochiKetteiYMD" column="dbT1013KyokaisoSochiShinsei_kyukaisoSochiKetteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="sochiGaito_HigaitoKubun" column="dbT1013KyokaisoSochiShinsei_sochiGaito_HigaitoKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
    
        <select id="getEntity" resultMap="ResultMap_DbT1013KyokaisoSochiShinseiEntity">
	SELECT
	<include refid="allColumns_DbT1013KyokaisoSochiShinsei"/>
	FROM
	rgdb."DbT1013KyokaisoSochiShinsei"
	</select>

</mapper>
