<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT3005KyotakuKeikakuTodokedeマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT3005KyotakuKeikakuTodokedeMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT3005KyotakuKeikakuTodokede">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT3005KyotakuKeikakuTodokedeMapper.allColumns_DbT3005KyotakuKeikakuTodokede" />
     FROM
         rgdb."DbT3005KyotakuKeikakuTodokede"
     WHERE
         rgdb."DbT3005KyotakuKeikakuTodokede"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT3005KyotakuKeikakuTodokede">
         "DbT3005KyotakuKeikakuTodokede"."hihokenshaNo" as "dbT3005KyotakuKeikakuTodokede_hihokenshaNo",
         "DbT3005KyotakuKeikakuTodokede"."taishoYM" as "dbT3005KyotakuKeikakuTodokede_taishoYM",
         "DbT3005KyotakuKeikakuTodokede"."rirekiNo" as "dbT3005KyotakuKeikakuTodokede_rirekiNo",
         "DbT3005KyotakuKeikakuTodokede"."insertDantaiCd" as "dbT3005KyotakuKeikakuTodokede_insertDantaiCd",
         "DbT3005KyotakuKeikakuTodokede"."insertTimestamp" as "dbT3005KyotakuKeikakuTodokede_insertTimestamp",
         "DbT3005KyotakuKeikakuTodokede"."insertReamsLoginId" as "dbT3005KyotakuKeikakuTodokede_insertReamsLoginId",
         "DbT3005KyotakuKeikakuTodokede"."insertContextId" as "dbT3005KyotakuKeikakuTodokede_insertContextId",
         "DbT3005KyotakuKeikakuTodokede"."isDeleted" as "dbT3005KyotakuKeikakuTodokede_isDeleted",
         "DbT3005KyotakuKeikakuTodokede"."updateCount" as "dbT3005KyotakuKeikakuTodokede_updateCount",
         "DbT3005KyotakuKeikakuTodokede"."lastUpdateTimestamp" as "dbT3005KyotakuKeikakuTodokede_lastUpdateTimestamp",
         "DbT3005KyotakuKeikakuTodokede"."lastUpdateReamsLoginId" as "dbT3005KyotakuKeikakuTodokede_lastUpdateReamsLoginId",
         "DbT3005KyotakuKeikakuTodokede"."todokedeKubun" as "dbT3005KyotakuKeikakuTodokede_todokedeKubun",
         "DbT3005KyotakuKeikakuTodokede"."todokedeYMD" as "dbT3005KyotakuKeikakuTodokede_todokedeYMD",
         "DbT3005KyotakuKeikakuTodokede"."todokedeshaShimei" as "dbT3005KyotakuKeikakuTodokede_todokedeshaShimei",
         "DbT3005KyotakuKeikakuTodokede"."todokedeshaShimeiKana" as "dbT3005KyotakuKeikakuTodokede_todokedeshaShimeiKana",
         "DbT3005KyotakuKeikakuTodokede"."todokedeshaYubinNo" as "dbT3005KyotakuKeikakuTodokede_todokedeshaYubinNo",
         "DbT3005KyotakuKeikakuTodokede"."todokedeshaJusho" as "dbT3005KyotakuKeikakuTodokede_todokedeshaJusho",
         "DbT3005KyotakuKeikakuTodokede"."todokedeshaTelNo" as "dbT3005KyotakuKeikakuTodokede_todokedeshaTelNo",
         "DbT3005KyotakuKeikakuTodokede"."todokedeshaKankeiKubun" as "dbT3005KyotakuKeikakuTodokede_todokedeshaKankeiKubun",
         "DbT3005KyotakuKeikakuTodokede"."zanteiKubun" as "dbT3005KyotakuKeikakuTodokede_zanteiKubun"
    </sql>


    <!--テーブルDbT3005KyotakuKeikakuTodokedeの項目をDbT3005KyotakuKeikakuTodokedeEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT3005KyotakuKeikakuTodokedeEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT3005KyotakuKeikakuTodokedeEntity" autoMapping="true">
        <id property="hihokenshaNo" column="dbT3005KyotakuKeikakuTodokede_hihokenshaNo" />
        <id property="taishoYM" column="dbT3005KyotakuKeikakuTodokede_taishoYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <id property="rirekiNo" column="dbT3005KyotakuKeikakuTodokede_rirekiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="insertDantaiCd" column="dbT3005KyotakuKeikakuTodokede_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT3005KyotakuKeikakuTodokede_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT3005KyotakuKeikakuTodokede_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT3005KyotakuKeikakuTodokede_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT3005KyotakuKeikakuTodokede_isDeleted" />
        <result property="updateCount" column="dbT3005KyotakuKeikakuTodokede_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT3005KyotakuKeikakuTodokede_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT3005KyotakuKeikakuTodokede_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="todokedeKubun" column="dbT3005KyotakuKeikakuTodokede_todokedeKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="todokedeYMD" column="dbT3005KyotakuKeikakuTodokede_todokedeYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="todokedeshaShimei" column="dbT3005KyotakuKeikakuTodokede_todokedeshaShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="todokedeshaShimeiKana" column="dbT3005KyotakuKeikakuTodokede_todokedeshaShimeiKana" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaKanaMeishoTypeHandler"/>
        <result property="todokedeshaYubinNo" column="dbT3005KyotakuKeikakuTodokede_todokedeshaYubinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler"/>
        <result property="todokedeshaJusho" column="dbT3005KyotakuKeikakuTodokede_todokedeshaJusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="todokedeshaTelNo" column="dbT3005KyotakuKeikakuTodokede_todokedeshaTelNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.TelNoTypeHandler"/>
        <result property="todokedeshaKankeiKubun" column="dbT3005KyotakuKeikakuTodokede_todokedeshaKankeiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="zanteiKubun" column="dbT3005KyotakuKeikakuTodokede_zanteiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
    
        <select id="getEntity" resultMap="ResultMap_DbT3005KyotakuKeikakuTodokedeEntity">
	SELECT
	<include refid="allColumns_DbT3005KyotakuKeikakuTodokede"/>
	FROM
	rgdb."DbT3005KyotakuKeikakuTodokede"
	</select>

</mapper>
