<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT5912ShujiiJohoマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5912ShujiiJohoMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT5912ShujiiJoho">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5912ShujiiJohoMapper.allColumns_DbT5912ShujiiJoho" />
     FROM
         rgdb."DbT5912ShujiiJoho"
     WHERE
         rgdb."DbT5912ShujiiJoho"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT5912ShujiiJoho">
         "DbT5912ShujiiJoho"."shichosonCode" as "dbT5912ShujiiJoho_shichosonCode",
         "DbT5912ShujiiJoho"."shujiiIryokikanCode" as "dbT5912ShujiiJoho_shujiiIryokikanCode",
         "DbT5912ShujiiJoho"."shujiiCode" as "dbT5912ShujiiJoho_shujiiCode",
         "DbT5912ShujiiJoho"."insertDantaiCd" as "dbT5912ShujiiJoho_insertDantaiCd",
         "DbT5912ShujiiJoho"."insertTimestamp" as "dbT5912ShujiiJoho_insertTimestamp",
         "DbT5912ShujiiJoho"."insertReamsLoginId" as "dbT5912ShujiiJoho_insertReamsLoginId",
         "DbT5912ShujiiJoho"."insertContextId" as "dbT5912ShujiiJoho_insertContextId",
         "DbT5912ShujiiJoho"."isDeleted" as "dbT5912ShujiiJoho_isDeleted",
         "DbT5912ShujiiJoho"."updateCount" as "dbT5912ShujiiJoho_updateCount",
         "DbT5912ShujiiJoho"."lastUpdateTimestamp" as "dbT5912ShujiiJoho_lastUpdateTimestamp",
         "DbT5912ShujiiJoho"."lastUpdateReamsLoginId" as "dbT5912ShujiiJoho_lastUpdateReamsLoginId",
         "DbT5912ShujiiJoho"."shujiiName" as "dbT5912ShujiiJoho_shujiiName",
         "DbT5912ShujiiJoho"."shujiiKana" as "dbT5912ShujiiJoho_shujiiKana",
         "DbT5912ShujiiJoho"."seibetsu" as "dbT5912ShujiiJoho_seibetsu",
         "DbT5912ShujiiJoho"."yubinNo" as "dbT5912ShujiiJoho_yubinNo",
         "DbT5912ShujiiJoho"."jusho" as "dbT5912ShujiiJoho_jusho",
         "DbT5912ShujiiJoho"."telNo" as "dbT5912ShujiiJoho_telNo",
         "DbT5912ShujiiJoho"."faxNo" as "dbT5912ShujiiJoho_faxNo",
         "DbT5912ShujiiJoho"."shinryokaName" as "dbT5912ShujiiJoho_shinryokaName",
         "DbT5912ShujiiJoho"."shiteiiFlag" as "dbT5912ShujiiJoho_shiteiiFlag",
         "DbT5912ShujiiJoho"."jokyoFlag" as "dbT5912ShujiiJoho_jokyoFlag"
    </sql>


    <!--テーブルDbT5912ShujiiJohoの項目をDbT5912ShujiiJohoEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT5912ShujiiJohoEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT5912ShujiiJohoEntity" autoMapping="true">
        <id property="shichosonCode" column="dbT5912ShujiiJoho_shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <id property="shujiiIryokikanCode" column="dbT5912ShujiiJoho_shujiiIryokikanCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <id property="shujiiCode" column="dbT5912ShujiiJoho_shujiiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="insertDantaiCd" column="dbT5912ShujiiJoho_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT5912ShujiiJoho_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT5912ShujiiJoho_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT5912ShujiiJoho_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT5912ShujiiJoho_isDeleted" />
        <result property="updateCount" column="dbT5912ShujiiJoho_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT5912ShujiiJoho_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT5912ShujiiJoho_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shujiiName" column="dbT5912ShujiiJoho_shujiiName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="shujiiKana" column="dbT5912ShujiiJoho_shujiiKana" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaKanaMeishoTypeHandler"/>
        <result property="seibetsu" column="dbT5912ShujiiJoho_seibetsu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="yubinNo" column="dbT5912ShujiiJoho_yubinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler"/>
        <result property="jusho" column="dbT5912ShujiiJoho_jusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaJushoTypeHandler"/>
        <result property="telNo" column="dbT5912ShujiiJoho_telNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.TelNoTypeHandler"/>
        <result property="faxNo" column="dbT5912ShujiiJoho_faxNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.TelNoTypeHandler"/>
        <result property="shinryokaName" column="dbT5912ShujiiJoho_shinryokaName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shiteiiFlag" column="dbT5912ShujiiJoho_shiteiiFlag" />
        <result property="jokyoFlag" column="dbT5912ShujiiJoho_jokyoFlag" />
    </resultMap>
<select id="getEntity" resultMap="ResultMap_DbT5912ShujiiJohoEntity">
    SELECT
    <include refid="allColumns_DbT5912ShujiiJoho" />
    FROM
    rgdb."DbT5912ShujiiJoho"
</select>
</mapper>
