<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT4209NinteichosahyoKinyuItemマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4209NinteichosahyoKinyuItemMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT4209NinteichosahyoKinyuItem">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4209NinteichosahyoKinyuItemMapper.allColumns_DbT4209NinteichosahyoKinyuItem" />
        FROM
        rgdb."DbT4209NinteichosahyoKinyuItem"
        WHERE
        rgdb."DbT4209NinteichosahyoKinyuItem"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT4209NinteichosahyoKinyuItem">
        "DbT4209NinteichosahyoKinyuItem"."shinseishoKanriNo" as "dbT4209NinteichosahyoKinyuItem_shinseishoKanriNo",
        "DbT4209NinteichosahyoKinyuItem"."ninteichosaRirekiNo" as "dbT4209NinteichosahyoKinyuItem_ninteichosaRirekiNo",
        "DbT4209NinteichosahyoKinyuItem"."remban" as "dbT4209NinteichosahyoKinyuItem_remban",
        "DbT4209NinteichosahyoKinyuItem"."insertDantaiCd" as "dbT4209NinteichosahyoKinyuItem_insertDantaiCd",
        "DbT4209NinteichosahyoKinyuItem"."insertTimestamp" as "dbT4209NinteichosahyoKinyuItem_insertTimestamp",
        "DbT4209NinteichosahyoKinyuItem"."insertReamsLoginId" as "dbT4209NinteichosahyoKinyuItem_insertReamsLoginId",
        "DbT4209NinteichosahyoKinyuItem"."insertContextId" as "dbT4209NinteichosahyoKinyuItem_insertContextId",
        "DbT4209NinteichosahyoKinyuItem"."isDeleted" as "dbT4209NinteichosahyoKinyuItem_isDeleted",
        "DbT4209NinteichosahyoKinyuItem"."updateCount" as "dbT4209NinteichosahyoKinyuItem_updateCount",
        "DbT4209NinteichosahyoKinyuItem"."lastUpdateTimestamp" as "dbT4209NinteichosahyoKinyuItem_lastUpdateTimestamp",
        "DbT4209NinteichosahyoKinyuItem"."lastUpdateReamsLoginId" as "dbT4209NinteichosahyoKinyuItem_lastUpdateReamsLoginId",
        "DbT4209NinteichosahyoKinyuItem"."koroshoIfShikibetsuCode" as "dbT4209NinteichosahyoKinyuItem_koroshoIfShikibetsuCode",
        "DbT4209NinteichosahyoKinyuItem"."serviceJokyoKinyu" as "dbT4209NinteichosahyoKinyuItem_serviceJokyoKinyu",
        "DbT4209NinteichosahyoKinyuItem"."serviceJokyoImageSharedFileId" as "dbT4209NinteichosahyoKinyuItem_serviceJokyoImageSharedFileId"
    </sql>


    <!--テーブルDbT4209NinteichosahyoKinyuItemの項目をDbT4209NinteichosahyoKinyuItemEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT4209NinteichosahyoKinyuItemEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT4209NinteichosahyoKinyuItemEntity" autoMapping="true">
        <id property="shinseishoKanriNo" column="dbT4209NinteichosahyoKinyuItem_shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
        <id property="ninteichosaRirekiNo" column="dbT4209NinteichosahyoKinyuItem_ninteichosaRirekiNo" />
        <id property="remban" column="dbT4209NinteichosahyoKinyuItem_remban" />
        <result property="insertDantaiCd" column="dbT4209NinteichosahyoKinyuItem_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT4209NinteichosahyoKinyuItem_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT4209NinteichosahyoKinyuItem_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT4209NinteichosahyoKinyuItem_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT4209NinteichosahyoKinyuItem_isDeleted" />
        <result property="updateCount" column="dbT4209NinteichosahyoKinyuItem_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT4209NinteichosahyoKinyuItem_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT4209NinteichosahyoKinyuItem_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="koroshoIfShikibetsuCode" column="dbT4209NinteichosahyoKinyuItem_koroshoIfShikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="serviceJokyoKinyu" column="dbT4209NinteichosahyoKinyuItem_serviceJokyoKinyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="serviceJokyoImageSharedFileId" column="dbT4209NinteichosahyoKinyuItem_serviceJokyoImageSharedFileId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
    </resultMap>
    
    <select id="getEntity" resultMap="ResultMap_DbT4209NinteichosahyoKinyuItemEntity">
        SELECT
        <include refid="allColumns_DbT4209NinteichosahyoKinyuItem"/>
        FROM
        rgdb."DbT4209NinteichosahyoKinyuItem"
    </select>

</mapper>
