<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBB-0680-020 wangkanglei -->
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<mapper namespace="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.relate.honsanteiidokanendofukakakutei.IFukaKakuteiMapper">
    <select resultOrdered="true" id="select更新後の賦課内容" resultType="jp.co.ndensan.reams.db.dbb.entity.db.relate.kanendoidofukakakutei.KanendoIdoFukaKakuteiEntity" parameterType="jp.co.ndensan.reams.db.dbb.definition.mybatisprm.honsanteiidokanendofukakakutei.FukaKakuteiParameter" fetchSize="500">
        SELECT 
        Fuka."choteiNendo" as "調定年度",
        Fuka."fukaNendo" as "賦課年度",
        Fuka."tsuchishoNo" as "通知書番号",
        Fuka."rirekiNo" as "履歴番号",
        Fuka."shikibetsuCode" as "識別コード",
        Fuka."hokenryoDankai1" as "保険料算定段階１",
        Fuka."nengakuHokenryo1" as "算定年額保険料１",
        Fuka."hokenryoDankai2" as "保険料算定段階２",
        Fuka."nengakuHokenryo2" as "算定年額保険料２",
        Fuka."gemmenGaku" as "減免額",
        Fuka."kakuteiHokenryo" as "確定介護保険料",
        Fuka."koseiM" as "更正月",
        ChoteiKyotsu."choteigaku" as "調定額",
        ChoteiKyotsu."nokigenYMD" as "納期限"
        FROM
        rgdb."DbT2002Fuka" AS Fuka
        LEFT JOIN 
        rgdb."DbT2003Kibetsu" AS Kibetsu
        ON 
        Fuka."choteiNendo"=Kibetsu."choteiNendo"
        AND Fuka."fukaNendo"=Kibetsu."fukaNendo"
        AND Fuka."tsuchishoNo"=Kibetsu."tsuchishoNo"
        AND Fuka."rirekiNo"=Kibetsu."rirekiNo"
        AND Kibetsu."ki"=#{ki}
        LEFT JOIN 
        rgdb."UrT0705ChoteiKyotsu" AS ChoteiKyotsu
        ON Kibetsu."choteiId"=ChoteiKyotsu."choteiId"
        WHERE
        Fuka."choteiNichiji"=#{choteiNichiji}
        ORDER BY
        Fuka."tsuchishoNo" ASC,
        Fuka."choteiNendo" DESC,
        Fuka."fukaNendo" DESC
    </select>  
    
    <select resultOrdered="true" id="select調定共通ForUpdate" resultType="jp.co.ndensan.reams.db.dbx.entity.db.basic.UrT0705ChoteiKyotsuEntity" parameterType="jp.co.ndensan.reams.db.dbb.definition.mybatisprm.honsanteiidokanendofukakakutei.FukaKakuteiParameter">
        select distinct ChoteiKyotsu.*
        from rgdb."UrT0705ChoteiKyotsu" as ChoteiKyotsu 
        INNER JOIN rgdb."DbT2003Kibetsu" as Kibetsu 
        ON ChoteiKyotsu."choteiId"=Kibetsu."choteiId"
        INNER JOIN rgdb."DbT2002Fuka" as Fuka
        ON Fuka."choteiNendo"=Kibetsu."choteiNendo"
        AND Fuka."fukaNendo"=Kibetsu."fukaNendo"
        AND Fuka."tsuchishoNo"=Kibetsu."tsuchishoNo"
        AND Fuka."rirekiNo"=Kibetsu."rirekiNo"
        WHERE Fuka."choteiNichiji"=#{choteiNichiji}
    </select>
</mapper>
