<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBD-1770-020 donghj -->


<mapper namespace="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.relate.jukyushaidochecklist.IJukyushaIdoCheckListMapper">
    
    <resultMap id="resultMap_帳票出力対象データ取得" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.dbd5720001.JyukyushaDaichoIdoCheckListEntity" autoMapping="true">
        <result property="市町村コード" column="shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <result property="市町村名称" column="shichosonMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="厚労省IF識別コード" column="koroshoIfShikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="被保険者番号" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="識別コード" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="受給申請年月日" column="jukyuShinseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="認定年月日" column="ninteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="認定有効期間開始年月日" column="ninteiYukoKikanKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="認定有効期間終了年月日" column="ninteiYukoKikanShuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="喪失年月日" column="soshitsuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="データ区分" column="dataKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="有効無効区分" column="yukoMukoKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="受給申請事由" column="jukyuShinseiJiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="直近異動事由コード" column="chokkinIdoJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="旧措置者フラグ" column="kyuSochishaFlag" />
        <result property="要介護認定状態区分コード" column="yokaigoJotaiKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="削除フラグ" column="isDeleted" />
        <result property="update回数" column="updateCount" />
        <result property="生年月日" column="seinengappiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="名称" column="meisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="カナ名称" column="kanaMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaKanaMeishoTypeHandler"/>
        <result property="性別コード" column="seibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="年齢" column="age" />
        <result property="管内管外区分" column="kannaiKangaiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="町域コード" column="choikiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ChoikiCodeTypeHandler"/>
        <result property="全国住所コード" column="zenkokuJushoCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ZenkokuJushoCodeTypeHandler"/>
        <result property="住所" column="jusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaJushoTypeHandler"/>
        <result property="行政区コード" column="gyoseikuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.GyoseikuCodeTypeHandler"/>
        <result property="行政区名" column="gyoseikuName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="申請書管理番号" column="shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
        
        
    </resultMap>
    
    <select id="get帳票出力対象データ" resultMap="resultMap_帳票出力対象データ取得" fetchSize="500" 
            parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.dbd5720001.JyukyushaDaichoIdoCheckListMybatisParameter" resultOrdered="true">
        SELECT
            DbT7051."shichosonCode",
            DbT7051."shichosonMeisho",
            DbT5101."koroshoIfShikibetsuCode",
            DbV4001."hihokenshaNo",
            DbV4001."shikibetsuCode",
            DbV4001."jukyuShinseiYMD",
            DbV4001."ninteiYMD",
            DbV4001."ninteiYukoKikanKaishiYMD",
            DbV4001."ninteiYukoKikanShuryoYMD",
            DbV4001."soshitsuYMD",
            DbV4001."dataKubun",
            DbV4001."yukoMukoKubun",
            DbV4001."jukyuShinseiJiyu",
            DbV4001."chokkinIdoJiyuCode",
            DbV4001."kyuSochishaFlag",
            DbV4001."yokaigoJotaiKubunCode",
            DbT4001."isDeleted",
            DbT4001."updateCount",
            DbT4001."shinseishoKanriNo",
            B."seinengappiYMD",
            B."meisho",
            B."kanaMeisho",
            B."seibetsuCode",
            DbT5101."age",
            B."kannaiKangaiKubun",
            B."choikiCode",
            B."zenkokuJushoCode",
            B."jusho",
            B."gyoseikuCode",
            B."gyoseikuName",
            B."banchiCode1",
            B."chikuCode1",
            B."chikuCode2",
            B."setaiCode",
            B."gaikokujinKanaShimei",
            B."shoriYMD",
            B."yubinNo"
        FROM 
            rgdb."DbV4001JukyushaDaicho" AS DbV4001
        INNER JOIN
            rgdb."DbT4001JukyushaDaicho" AS DbT4001
            ON DbV4001."shichosonCode" = DbT4001."shichosonCode"
            AND DbV4001."hihokenshaNo" = DbT4001."hihokenshaNo"
            AND DbV4001."rirekiNo" = DbT4001."rirekiNo"
            AND DbV4001."edaban" = DbT4001."edaban"
        INNER JOIN
            <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.tableName_PsmShikibetsuTaisho" /> AS B
            ON DbV4001."shikibetsuCode" = B."shikibetsuCode"
        INNER JOIN 
            rgdb."DbT5101NinteiShinseiJoho" AS DbT5101
            ON DbV4001."shinseishoKanriNo" = DbT5101."shinseishoKanriNo"
            AND DbT5101."logicalDeletedFlag" = False
        INNER JOIN
            rgdb."DbT7051KoseiShichosonMaster" AS DbT7051
            ON DbT5101."shoKisaiHokenshaNo" = DbT7051."shoKisaiHokenshaNo"
        WHERE 1 = 1
            <if test="has今回抽出開始年月日">
                AND #{行挿入日時開始} <![CDATA[<=]]> DbT4001."insertTimestamp"
            </if>
            <if test="has今回抽出終了年月日">
                AND DbT4001."insertTimestamp" <![CDATA[<=]]> #{行挿入日時終了}
            </if>
            <if test="is全て">
                AND 1=1
            </if>
            <if test="is申請者異動以外全て">
                AND DbV4001."chokkinIdoJiyuCode" IS NULL
            </if>
            <if test="is申請者異動のみ">
                AND DbV4001."chokkinIdoJiyuCode" IS NOT NULL
            </if>
            
            ${出力順}    
        
    </select>
    
</mapper>
