<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT7131KaigoServiceNaiyouマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT7131KaigoServiceNaiyouMapper">
    
    <sql id="allColumns_DbT7131KaigoServiceNaiyou">
        "DbT7131KaigoServiceNaiyou"."serviceShuruiCode" as "dbT7131KaigoServiceNaiyou_serviceShuruiCode",
        "DbT7131KaigoServiceNaiyou"."serviceKoumokuCode" as "dbT7131KaigoServiceNaiyou_serviceKoumokuCode",
        "DbT7131KaigoServiceNaiyou"."teikyoKaishiYM" as "dbT7131KaigoServiceNaiyou_teikyoKaishiYM",
        "DbT7131KaigoServiceNaiyou"."rirekiNo" as "dbT7131KaigoServiceNaiyou_rirekiNo",
        "DbT7131KaigoServiceNaiyou"."insertDantaiCd" as "dbT7131KaigoServiceNaiyou_insertDantaiCd",
        "DbT7131KaigoServiceNaiyou"."insertTimestamp" as "dbT7131KaigoServiceNaiyou_insertTimestamp",
        "DbT7131KaigoServiceNaiyou"."insertReamsLoginId" as "dbT7131KaigoServiceNaiyou_insertReamsLoginId",
        "DbT7131KaigoServiceNaiyou"."insertContextId" as "dbT7131KaigoServiceNaiyou_insertContextId",
        "DbT7131KaigoServiceNaiyou"."isDeleted" as "dbT7131KaigoServiceNaiyou_isDeleted",
        "DbT7131KaigoServiceNaiyou"."updateCount" as "dbT7131KaigoServiceNaiyou_updateCount",
        "DbT7131KaigoServiceNaiyou"."lastUpdateTimestamp" as "dbT7131KaigoServiceNaiyou_lastUpdateTimestamp",
        "DbT7131KaigoServiceNaiyou"."lastUpdateReamsLoginId" as "dbT7131KaigoServiceNaiyou_lastUpdateReamsLoginId",
        "DbT7131KaigoServiceNaiyou"."teikyoShuryoYM" as "dbT7131KaigoServiceNaiyou_teikyoShuryoYM",
        "DbT7131KaigoServiceNaiyou"."serviceName" as "dbT7131KaigoServiceNaiyou_serviceName",
        "DbT7131KaigoServiceNaiyou"."serviceNameRyaku" as "dbT7131KaigoServiceNaiyou_serviceNameRyaku",
        "DbT7131KaigoServiceNaiyou"."taniSu" as "dbT7131KaigoServiceNaiyou_taniSu"
        <!--         "DbT7131KaigoServiceNaiyou"."tanisuShikibetsuCode" as "dbT7131KaigoServiceNaiyou_tanisuShikibetsuCode",
        "DbT7131KaigoServiceNaiyou"."tanisuSanteiTani" as "dbT7131KaigoServiceNaiyou_tanisuSanteiTani",
        "DbT7131KaigoServiceNaiyou"."idouJiyuCode" as "dbT7131KaigoServiceNaiyou_idouJiyuCode"-->
    </sql>
   
    <!--テーブルDbT7131KaigoServiceNaiyouの項目をDbT7131KaigoServiceNaiyouEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT7131KaigoServiceNaiyouEntity" type="jp.co.ndensan.reams.db.dbx.entity.db.basic.DbT7131KaigoServiceNaiyouEntity" autoMapping="true">
      
        <id property="serviceShuruiCode" column="dbT7131KaigoServiceNaiyou_serviceShuruiCode" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ServiceShuruiCodeTypeHandler"/>
        <id property="serviceKoumokuCode" column="dbT7131KaigoServiceNaiyou_serviceKoumokuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="teikyoKaishiYM" column="dbT7131KaigoServiceNaiyou_teikyoKaishiYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <id property="rirekiNo" column="dbT7131KaigoServiceNaiyou_rirekiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="insertDantaiCd" column="dbT7131KaigoServiceNaiyou_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT7131KaigoServiceNaiyou_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT7131KaigoServiceNaiyou_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT7131KaigoServiceNaiyou_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT7131KaigoServiceNaiyou_isDeleted" />
        <result property="updateCount" column="dbT7131KaigoServiceNaiyou_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT7131KaigoServiceNaiyou_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT7131KaigoServiceNaiyou_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="teikyoShuryoYM" column="dbT7131KaigoServiceNaiyou_teikyoShuryoYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="serviceName" column="dbT7131KaigoServiceNaiyou_serviceName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="serviceNameRyaku" column="dbT7131KaigoServiceNaiyou_serviceNameRyaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="taniSu" column="dbT7131KaigoServiceNaiyou_taniSu" />
        <!--        <result property="tanisuShikibetsuCode" column="dbT7131KaigoServiceNaiyou_tanisuShikibetsuCode" />
        <result property="tanisuSanteiTani" column="dbT7131KaigoServiceNaiyou_tanisuSanteiTani" />
        <result property="idouJiyuCode" column="dbT7131KaigoServiceNaiyou_idouJiyuCode" />-->
    </resultMap>
    
    <select id="getKaigoServiceNaiyou"  resultMap="ResultMap_DbT7131KaigoServiceNaiyouEntity" 
             parameterType="jp.co.ndensan.reams.db.dbx.definition.mybatis.param.servicecode.SabisuKodoParameter"
             fetchSize="500">
        SELECT
            DbT7131."serviceShuruiCode" AS "serviceShuruiCode",
            DbT7131."serviceKoumokuCode" AS "serviceKoumokuCode",
            DbT7131."serviceName" AS "serviceName"
        FROM 
            rgdb."DbT7131KaigoServiceNaiyou" AS DbT7131
        WHERE
            1 = 1
        <if test="isShuruiCodeFlag">
            AND DbT7131."serviceShuruiCode" = #{serviceShuruiCode}
        </if>
        <if test="isKoumokuCodeFlag">
            AND DbT7131."serviceKoumokuCode" = #{serviceKoumokuCode}
        </if>
        <if test="isHaakuKijunYMFlag">
            AND DbT7131."teikyoKaishiYM" <![CDATA[<=]]>  #{haakuKijunYM}
            AND #{haakuKijunYM} <![CDATA[<=]]>DbT7131."teikyoShuryoYM"
        </if>
        ORDER BY
            DbT7131."serviceShuruiCode", DbT7131."serviceKoumokuCode"
    </select>
      
    <select id="getEntity" resultMap="ResultMap_DbT7131KaigoServiceNaiyouEntity">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT7131KaigoServiceNaiyouMapper.allColumns_DbT7131KaigoServiceNaiyou" />
        FROM
        rgdb."DbT7131KaigoServiceNaiyou"
        WHERE
        rgdb."DbT7131KaigoServiceNaiyou"."isDeleted" = FALSE
    </select>
</mapper>
