<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT2013HokenryoDankaiマスタとエンティティのマッピング用XMLです。 -->
<!-- @reamsid_L DBB-9999-022 xuxin -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2013HokenryoDankaiMapper">

    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT2013HokenryoDankai">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2013HokenryoDankaiMapper.allColumns_DbT2013HokenryoDankai" />
        FROM
        rgdb."DbT2013HokenryoDankai"
        WHERE
        rgdb."DbT2013HokenryoDankai"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT2013HokenryoDankai">
        "DbT2013HokenryoDankai"."fukaNendo" as "dbT2013HokenryoDankai_fukaNendo",
        "DbT2013HokenryoDankai"."dankaiIndex" as "dbT2013HokenryoDankai_dankaiIndex",
        "DbT2013HokenryoDankai"."rankuKubun" as "dbT2013HokenryoDankai_rankuKubun",
        "DbT2013HokenryoDankai"."insertDantaiCd" as "dbT2013HokenryoDankai_insertDantaiCd",
        "DbT2013HokenryoDankai"."insertTimestamp" as "dbT2013HokenryoDankai_insertTimestamp",
        "DbT2013HokenryoDankai"."insertReamsLoginId" as "dbT2013HokenryoDankai_insertReamsLoginId",
        "DbT2013HokenryoDankai"."insertContextId" as "dbT2013HokenryoDankai_insertContextId",
        "DbT2013HokenryoDankai"."isDeleted" as "dbT2013HokenryoDankai_isDeleted",
        "DbT2013HokenryoDankai"."updateCount" as "dbT2013HokenryoDankai_updateCount",
        "DbT2013HokenryoDankai"."lastUpdateTimestamp" as "dbT2013HokenryoDankai_lastUpdateTimestamp",
        "DbT2013HokenryoDankai"."lastUpdateReamsLoginId" as "dbT2013HokenryoDankai_lastUpdateReamsLoginId",
        "DbT2013HokenryoDankai"."dankaiKubun" as "dbT2013HokenryoDankai_dankaiKubun",
        "DbT2013HokenryoDankai"."hokenryoRitsu" as "dbT2013HokenryoDankai_hokenryoRitsu",
        "DbT2013HokenryoDankai"."tokureiHyoki" as "dbT2013HokenryoDankai_tokureiHyoki"
    </sql>


    <!--テーブルDbT2013HokenryoDankaiの項目をDbT2013HokenryoDankaiEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT2013HokenryoDankaiEntity" type="jp.co.ndensan.reams.db.dbx.entity.db.basic.DbT2013HokenryoDankaiEntity" autoMapping="true">
        <id property="fukaNendo" column="dbT2013HokenryoDankai_fukaNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <id property="dankaiIndex" column="dbT2013HokenryoDankai_dankaiIndex" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="rankuKubun" column="dbT2013HokenryoDankai_rankuKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertDantaiCd" column="dbT2013HokenryoDankai_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT2013HokenryoDankai_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT2013HokenryoDankai_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT2013HokenryoDankai_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT2013HokenryoDankai_isDeleted" />
        <result property="updateCount" column="dbT2013HokenryoDankai_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT2013HokenryoDankai_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT2013HokenryoDankai_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="dankaiKubun" column="dbT2013HokenryoDankai_dankaiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hokenryoRitsu" column="dbT2013HokenryoDankai_hokenryoRitsu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="tokureiHyoki" column="dbT2013HokenryoDankai_tokureiHyoki" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>

    <select resultOrdered="true" id="getEntity" resultMap="ResultMap_DbT2013HokenryoDankaiEntity">
        SELECT
        <include refid="allColumns_DbT2013HokenryoDankai" />
        FROM
        rgdb."DbT2013HokenryoDankai"
    </select>

    <select resultOrdered="true" id="getHokenryoDankai" resultMap="ResultMap_DbT2013HokenryoDankaiEntity">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2013HokenryoDankaiMapper.allColumns_DbT2013HokenryoDankai" />
        FROM
        rgdb."DbT2013HokenryoDankai"
        WHERE
        "DbT2013HokenryoDankai"."fukaNendo" = (SELECT
        MAX("DbT2013HokenryoDankai"."fukaNendo") FROM  rgdb."DbT2013HokenryoDankai"
        )
    </select>

    <select resultOrdered="true" id="getHokenryoDankaiKubun" parameterType="jp.co.ndensan.reams.uz.uza.lang.RString" resultMap="ResultMap_DbT2013HokenryoDankaiEntity">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2013HokenryoDankaiMapper.allColumns_DbT2013HokenryoDankai" />
        FROM rgdb."DbT2013HokenryoDankai"
        WHERE "fukaNendo" = #{fukaNendo}
        AND   "dankaiKubun" != '000'
        AND   "dankaiIndex" = (SELECT MAX("dankaiIndex") FROM rgdb."DbT2013HokenryoDankai" a
        WHERE "DbT2013HokenryoDankai"."fukaNendo" = a."fukaNendo"
        AND   SUBSTRING("DbT2013HokenryoDankai"."dankaiKubun",1,2) = SUBSTRING(a."dankaiKubun",1,2))
        ORDER BY "dankaiIndex"
    </select>
</mapper>
