<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT7908KaigoDonyuKeitaiマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT7908KaigoDonyuKeitaiMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT7908KaigoDonyuKeitai">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT7908KaigoDonyuKeitaiMapper.allColumns_DbT7908KaigoDonyuKeitai" />
     FROM
         rgdb."DbT7908KaigoDonyuKeitai"
     WHERE
         rgdb."DbT7908KaigoDonyuKeitai"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT7908KaigoDonyuKeitai">
         "DbT7908KaigoDonyuKeitai"."gyomuBunrui" as "dbT7908KaigoDonyuKeitai_gyomuBunrui",
         "DbT7908KaigoDonyuKeitai"."donyuKeitaiCode" as "dbT7908KaigoDonyuKeitai_donyuKeitaiCode",
         "DbT7908KaigoDonyuKeitai"."insertDantaiCd" as "dbT7908KaigoDonyuKeitai_insertDantaiCd",
         "DbT7908KaigoDonyuKeitai"."insertTimestamp" as "dbT7908KaigoDonyuKeitai_insertTimestamp",
         "DbT7908KaigoDonyuKeitai"."insertReamsLoginId" as "dbT7908KaigoDonyuKeitai_insertReamsLoginId",
         "DbT7908KaigoDonyuKeitai"."insertContextId" as "dbT7908KaigoDonyuKeitai_insertContextId",
         "DbT7908KaigoDonyuKeitai"."isDeleted" as "dbT7908KaigoDonyuKeitai_isDeleted",
         "DbT7908KaigoDonyuKeitai"."updateCount" as "dbT7908KaigoDonyuKeitai_updateCount",
         "DbT7908KaigoDonyuKeitai"."lastUpdateTimestamp" as "dbT7908KaigoDonyuKeitai_lastUpdateTimestamp",
         "DbT7908KaigoDonyuKeitai"."lastUpdateReamsLoginId" as "dbT7908KaigoDonyuKeitai_lastUpdateReamsLoginId",
         "DbT7908KaigoDonyuKeitai"."shishoKanriUmuFlag" as "dbT7908KaigoDonyuKeitai_shishoKanriUmuFlag"
    </sql>


    <!--テーブルDbT7908KaigoDonyuKeitaiの項目をDbT7908KaigoDonyuKeitaiEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT7908KaigoDonyuKeitaiEntity" type="jp.co.ndensan.reams.db.dbx.entity.db.basic.DbT7908KaigoDonyuKeitaiEntity" autoMapping="true">
        <id property="gyomuBunrui" column="dbT7908KaigoDonyuKeitai_gyomuBunrui" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="donyuKeitaiCode" column="dbT7908KaigoDonyuKeitai_donyuKeitaiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="insertDantaiCd" column="dbT7908KaigoDonyuKeitai_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT7908KaigoDonyuKeitai_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT7908KaigoDonyuKeitai_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT7908KaigoDonyuKeitai_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT7908KaigoDonyuKeitai_isDeleted" />
        <result property="updateCount" column="dbT7908KaigoDonyuKeitai_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT7908KaigoDonyuKeitai_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT7908KaigoDonyuKeitai_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shishoKanriUmuFlag" column="dbT7908KaigoDonyuKeitai_shishoKanriUmuFlag" />
    </resultMap>
    <select id="getEntity" resultMap="ResultMap_DbT7908KaigoDonyuKeitaiEntity">
        SELECT
        <include refid="allColumns_DbT7908KaigoDonyuKeitai"/>
        FROM
        rgdb."DbT7908KaigoDonyuKeitai"
     </select>

</mapper>
