<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： UrT0705ChoteiKyotsuマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： LDNS王肖 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IUrT0705ChoteiKyotsuMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_UrT0705ChoteiKyotsu">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IUrT0705ChoteiKyotsuMapper.allColumns_UrT0705ChoteiKyotsu" />
     FROM
         rgdb."UrT0705ChoteiKyotsu"
     WHERE
         rgdb."UrT0705ChoteiKyotsu"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_UrT0705ChoteiKyotsu">
         "UrT0705ChoteiKyotsu"."choteiId" as "urT0705ChoteiKyotsu_choteiId",
         "UrT0705ChoteiKyotsu"."insertDantaiCd" as "urT0705ChoteiKyotsu_insertDantaiCd",
         "UrT0705ChoteiKyotsu"."insertTimestamp" as "urT0705ChoteiKyotsu_insertTimestamp",
         "UrT0705ChoteiKyotsu"."insertReamsLoginId" as "urT0705ChoteiKyotsu_insertReamsLoginId",
         "UrT0705ChoteiKyotsu"."insertContextId" as "urT0705ChoteiKyotsu_insertContextId",
         "UrT0705ChoteiKyotsu"."isDeleted" as "urT0705ChoteiKyotsu_isDeleted",
         "UrT0705ChoteiKyotsu"."updateCount" as "urT0705ChoteiKyotsu_updateCount",
         "UrT0705ChoteiKyotsu"."lastUpdateTimestamp" as "urT0705ChoteiKyotsu_lastUpdateTimestamp",
         "UrT0705ChoteiKyotsu"."lastUpdateReamsLoginId" as "urT0705ChoteiKyotsu_lastUpdateReamsLoginId",
         "UrT0705ChoteiKyotsu"."shunoId" as "urT0705ChoteiKyotsu_shunoId",
         "UrT0705ChoteiKyotsu"."kaikeiNendo" as "urT0705ChoteiKyotsu_kaikeiNendo",
         "UrT0705ChoteiKyotsu"."shoriNendo" as "urT0705ChoteiKyotsu_shoriNendo",
         "UrT0705ChoteiKyotsu"."shoriNo" as "urT0705ChoteiKyotsu_shoriNo",
         "UrT0705ChoteiKyotsu"."koseiKaisu" as "urT0705ChoteiKyotsu_koseiKaisu",
         "UrT0705ChoteiKyotsu"."choteiJiyuCode" as "urT0705ChoteiKyotsu_choteiJiyuCode",
         "UrT0705ChoteiKyotsu"."choteiYMD" as "urT0705ChoteiKyotsu_choteiYMD",
         "UrT0705ChoteiKyotsu"."choteigaku" as "urT0705ChoteiKyotsu_choteigaku",
         "UrT0705ChoteiKyotsu"."shohizei" as "urT0705ChoteiKyotsu_shohizei",
         "UrT0705ChoteiKyotsu"."nokigenYMD" as "urT0705ChoteiKyotsu_nokigenYMD",
         "UrT0705ChoteiKyotsu"."hoteiNokigenToYMD" as "urT0705ChoteiKyotsu_hoteiNokigenToYMD",
         "UrT0705ChoteiKyotsu"."fukaShoriJokyo" as "urT0705ChoteiKyotsu_fukaShoriJokyo"
    </sql>


    <!--テーブルUrT0705ChoteiKyotsuの項目をUrT0705ChoteiKyotsuEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_UrT0705ChoteiKyotsuEntity" type="jp.co.ndensan.reams.db.dbx.entity.db.basic.UrT0705ChoteiKyotsuEntity" autoMapping="true">
        <id property="choteiId" column="urT0705ChoteiKyotsu_choteiId" />
        <result property="insertDantaiCd" column="urT0705ChoteiKyotsu_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="urT0705ChoteiKyotsu_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="urT0705ChoteiKyotsu_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="urT0705ChoteiKyotsu_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="urT0705ChoteiKyotsu_isDeleted" />
        <result property="updateCount" column="urT0705ChoteiKyotsu_updateCount" />
        <result property="lastUpdateTimestamp" column="urT0705ChoteiKyotsu_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="urT0705ChoteiKyotsu_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shunoId" column="urT0705ChoteiKyotsu_shunoId" />
        <result property="kaikeiNendo" column="urT0705ChoteiKyotsu_kaikeiNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RYearTypeHandler"/>
        <result property="shoriNendo" column="urT0705ChoteiKyotsu_shoriNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RYearTypeHandler"/>
        <result property="shoriNo" column="urT0705ChoteiKyotsu_shoriNo" />
        <result property="koseiKaisu" column="urT0705ChoteiKyotsu_koseiKaisu" />
        <result property="choteiJiyuCode" column="urT0705ChoteiKyotsu_choteiJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="choteiYMD" column="urT0705ChoteiKyotsu_choteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTypeHandler"/>
        <result property="choteigaku" column="urT0705ChoteiKyotsu_choteigaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="shohizei" column="urT0705ChoteiKyotsu_shohizei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="nokigenYMD" column="urT0705ChoteiKyotsu_nokigenYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTypeHandler"/>
        <result property="hoteiNokigenToYMD" column="urT0705ChoteiKyotsu_hoteiNokigenToYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTypeHandler"/>
        <result property="fukaShoriJokyo" column="urT0705ChoteiKyotsu_fukaShoriJokyo" />
    </resultMap>
    
    <select resultOrdered="true" id="getEntity" resultMap="ResultMap_UrT0705ChoteiKyotsuEntity">
        SELECT
        <include refid="allColumns_UrT0705ChoteiKyotsu" />
        FROM
        rgdb."UrT0705ChoteiKyotsu"
    </select>

</mapper>