<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--概要： 支払方法変更管理のマッピング用XMLです。-->
<!-- @reamsid_L DBD-3620-070 xuyue -->

<mapper namespace="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.relate.shiharaihohohenko.IShiharaiHohoHenkoMapper">
    
    <select resultOrdered="true" id="findShiharaiHohoHenko" resultMap="resultMap_ShiharaiHohoHenkoEntity"
            parameterType="jp.co.ndensan.reams.db.dbx.definition.core.valueobject.domain.HihokenshaNo" fetchSize="500">
        SELECT
        DbT4021ShiharaiHohoHenko.*,
        DbT4022ShiharaiHohoHenkoTaino.*,
        DbT4024ShiharaiHohoHenkoSashitome.*,
        DbT4025ShiharaiHohoHenkoGengaku.*,
        DbT4026ShiharaiHohoHenkoGengakuMeisai.*
        FROM
        (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4021ShiharaiHohoHenkoMapper.noDeleted_DbT4021ShiharaiHohoHenko" />) AS DbT4021ShiharaiHohoHenko
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4024ShiharaiHohoHenkoSashitomeMapper.noDeleted_DbT4024ShiharaiHohoHenkoSashitome" />) AS DbT4024ShiharaiHohoHenkoSashitome
        ON
        DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_shoKisaiHokenshaNo" = DbT4024ShiharaiHohoHenkoSashitome."dbT4024ShiharaiHohoHenkoSashitome_shoKisaiHokenshaNo"
        AND DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_hihokenshaNo" = DbT4024ShiharaiHohoHenkoSashitome."dbT4024ShiharaiHohoHenkoSashitome_hihokenshaNo"
        AND DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_kanriKubun" = DbT4024ShiharaiHohoHenkoSashitome."dbT4024ShiharaiHohoHenkoSashitome_kanriKubun"
        AND DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_rirekiNo" = DbT4024ShiharaiHohoHenkoSashitome."dbT4024ShiharaiHohoHenkoSashitome_rirekiNo"
        AND DbT4024ShiharaiHohoHenkoSashitome."dbT4024ShiharaiHohoHenkoSashitome_logicalDeletedFlag" = FALSE
        INNER JOIN
        (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4022ShiharaiHohoHenkoTainoMapper.noDeleted_DbT4022ShiharaiHohoHenkoTaino" />) AS DbT4022ShiharaiHohoHenkoTaino
        ON
        DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_shoKisaiHokenshaNo" = DbT4022ShiharaiHohoHenkoTaino."dbT4022ShiharaiHohoHenkoTaino_shoKisaiHokenshaNo"
        AND DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_hihokenshaNo" = DbT4022ShiharaiHohoHenkoTaino."dbT4022ShiharaiHohoHenkoTaino_hihokenshaNo"
        AND DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_kanriKubun" = DbT4022ShiharaiHohoHenkoTaino."dbT4022ShiharaiHohoHenkoTaino_kanriKubun"
        AND DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_rirekiNo" = DbT4022ShiharaiHohoHenkoTaino."dbT4022ShiharaiHohoHenkoTaino_rirekiNo"
        AND DbT4022ShiharaiHohoHenkoTaino."dbT4022ShiharaiHohoHenkoTaino_logicalDeletedFlag" = FALSE
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4025ShiharaiHohoHenkoGengakuMapper.noDeleted_DbT4025ShiharaiHohoHenkoGengaku" />) AS DbT4025ShiharaiHohoHenkoGengaku
        ON
        DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_shoKisaiHokenshaNo" = DbT4025ShiharaiHohoHenkoGengaku."dbT4025ShiharaiHohoHenkoGengaku_shoKisaiHokenshaNo"
        AND DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_hihokenshaNo" = DbT4025ShiharaiHohoHenkoGengaku."dbT4025ShiharaiHohoHenkoGengaku_hihokenshaNo"
        AND DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_kanriKubun" = DbT4025ShiharaiHohoHenkoGengaku."dbT4025ShiharaiHohoHenkoGengaku_kanriKubun"
        AND DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_rirekiNo" = DbT4025ShiharaiHohoHenkoGengaku."dbT4025ShiharaiHohoHenkoGengaku_rirekiNo"
        AND DbT4025ShiharaiHohoHenkoGengaku."dbT4025ShiharaiHohoHenkoGengaku_logicalDeletedFlag" = FALSE
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4026ShiharaiHohoHenkoGengakuMeisaiMapper.noDeleted_DbT4026ShiharaiHohoHenkoGengakuMeisai" />) AS DbT4026ShiharaiHohoHenkoGengakuMeisai
        ON
        DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_shoKisaiHokenshaNo" = DbT4026ShiharaiHohoHenkoGengakuMeisai."dbT4026ShiharaiHohoHenkoGengakuMeisai_shoKisaiHokenshaNo"
        AND DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_hihokenshaNo" = DbT4026ShiharaiHohoHenkoGengakuMeisai."dbT4026ShiharaiHohoHenkoGengakuMeisai_hihokenshaNo"
        AND DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_kanriKubun" = DbT4026ShiharaiHohoHenkoGengakuMeisai."dbT4026ShiharaiHohoHenkoGengakuMeisai_kanriKubun"
        AND DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_rirekiNo" = DbT4026ShiharaiHohoHenkoGengakuMeisai."dbT4026ShiharaiHohoHenkoGengakuMeisai_rirekiNo"
        WHERE
        DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_hihokenshaNo" = #{被保険者番号}
        ORDER BY
        DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_shoKisaiHokenshaNo",
        DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_hihokenshaNo",
        DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_kanriKubun" ASC,
        DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_rirekiNo" DESC
    </select>
    
    <resultMap id="resultMap_find償還払支給申請" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.shiharaihohohenko.ShokanHaraiShikyuEntity" autoMapping="true">
        <id property="償還払支給申請Entity.hiHokenshaNo" column="dbT3034ShokanShinsei_hiHokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="償還払支給申請Entity.serviceTeikyoYM" column="dbT3034ShokanShinsei_serviceTeikyoYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <id property="償還払支給申請Entity.seiriNo" column="dbT3034ShokanShinsei_seiriNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="償還払支給判定結果Entity.hiHokenshaNo" column="dbT3036ShokanHanteiKekka_hiHokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="償還払支給判定結果Entity.serviceTeikyoYM" column="dbT3036ShokanHanteiKekka_serviceTeikyoYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <id property="償還払支給判定結果Entity.seiriNo" column="dbT3036ShokanHanteiKekka_seiriNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="償還払請求集計Entity.hiHokenshaNo" column="dbT3053ShokanShukei_hiHokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="償還払請求集計Entity.serviceTeikyoYM" column="dbT3053ShokanShukei_serviceTeikyoYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <id property="償還払請求集計Entity.seiriNo" column="dbT3053ShokanShukei_seiriNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="償還払請求集計Entity.jigyoshaNo" column="dbT3053ShokanShukei_jigyoshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.JigyoshaNoTypeHandler"/>
        <id property="償還払請求集計Entity.yoshikiNo" column="dbT3053ShokanShukei_yoshikiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="償還払請求集計Entity.meisaiNo" column="dbT3053ShokanShukei_meisaiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="償還払請求集計Entity.renban" column="dbT3053ShokanShukei_renban" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="支払方法変更差止Entity.shoKisaiHokenshaNo" column="dbT4024ShiharaiHohoHenkoSashitome_shoKisaiHokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShoKisaiHokenshaNoTypeHandler"/>
        <id property="支払方法変更差止Entity.hihokenshaNo" column="dbT4024ShiharaiHohoHenkoSashitome_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="支払方法変更差止Entity.kanriKubun" column="dbT4024ShiharaiHohoHenkoSashitome_kanriKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="支払方法変更差止Entity.rirekiNo" column="dbT4024ShiharaiHohoHenkoSashitome_rirekiNo" />
        <id property="支払方法変更差止Entity.johoBunruiKubun" column="dbT4024ShiharaiHohoHenkoSashitome_johoBunruiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="支払方法変更差止Entity.renNo" column="dbT4024ShiharaiHohoHenkoSashitome_renNo" />
        <collection property="償還払支給申請Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT3034ShokanShinseiMapper.ResultMap_DbT3034ShokanShinseiEntity"/>
        <collection property="償還払支給判定結果Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT3036ShokanHanteiKekkaMapper.ResultMap_DbT3036ShokanHanteiKekkaEntity"/>
        <collection property="償還払請求集計Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT3053ShokanShukeiMapper.ResultMap_DbT3053ShokanShukeiEntity"/>
        <collection property="支払方法変更差止Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4024ShiharaiHohoHenkoSashitomeMapper.ResultMap_DbT4024ShiharaiHohoHenkoSashitomeEntity"/>
    </resultMap>
    
    <select resultOrdered="true" id="find償還払支給申請" resultMap="resultMap_find償還払支給申請"
            parameterType="jp.co.ndensan.reams.db.dbx.definition.core.valueobject.domain.HihokenshaNo" fetchSize="500">
        SELECT
        DbT3034ShokanShinsei.*,
        DbT3036ShokanHanteiKekka.*,
        DbT3053ShokanShukei.*,
        DbT4024ShiharaiHohoHenkoSashitome.*
        FROM
        (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT3034ShokanShinseiMapper.noDeleted_DbT3034ShokanShinsei" />) AS DbT3034ShokanShinsei
        INNER JOIN
        (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT3036ShokanHanteiKekkaMapper.noDeleted_DbT3036ShokanHanteiKekka" />) AS DbT3036ShokanHanteiKekka
        ON
        DbT3034ShokanShinsei."dbT3034ShokanShinsei_hiHokenshaNo" = DbT3036ShokanHanteiKekka."dbT3036ShokanHanteiKekka_hiHokenshaNo"
        AND DbT3036ShokanHanteiKekka."dbT3036ShokanHanteiKekka_shikyuHushikyuKetteiKubun" = '1'
        INNER JOIN
        (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT3053ShokanShukeiMapper.noDeleted_DbT3053ShokanShukei" />) AS DbT3053ShokanShukei
        ON DbT3053ShokanShukei."dbT3053ShokanShukei_hiHokenshaNo" = DbT3034ShokanShinsei."dbT3034ShokanShinsei_hiHokenshaNo"
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4024ShiharaiHohoHenkoSashitomeMapper.noDeleted_DbT4024ShiharaiHohoHenkoSashitome" />) AS DbT4024ShiharaiHohoHenkoSashitome
        ON DbT3034ShokanShinsei."dbT3034ShokanShinsei_hiHokenshaNo" = DbT4024ShiharaiHohoHenkoSashitome."dbT4024ShiharaiHohoHenkoSashitome_hihokenshaNo"
        AND DbT3034ShokanShinsei."dbT3034ShokanShinsei_serviceTeikyoYM" = DbT4024ShiharaiHohoHenkoSashitome."dbT4024ShiharaiHohoHenkoSashitome_sashitome_ServiceTeikyoYM"
        AND DbT3034ShokanShinsei."dbT3034ShokanShinsei_seiriNo" = DbT4024ShiharaiHohoHenkoSashitome."dbT4024ShiharaiHohoHenkoSashitome_sashitome_ShokanSeiriNo"
        AND DbT4024ShiharaiHohoHenkoSashitome."dbT4024ShiharaiHohoHenkoSashitome_logicalDeletedFlag" = FALSE
        WHERE
        DbT3034ShokanShinsei."dbT3034ShokanShinsei_hiHokenshaNo" = #{被保険者番号}
        ORDER BY
        DbT3036ShokanHanteiKekka."dbT3036ShokanHanteiKekka_hiHokenshaNo",
        DbT3036ShokanHanteiKekka."dbT3036ShokanHanteiKekka_seiriNo",
        DbT3036ShokanHanteiKekka."dbT3036ShokanHanteiKekka_serviceTeikyoYM",
        DbT3053ShokanShukei."dbT3053ShokanShukei_jigyoshaNo" ASC
    </select>
    
    <select resultOrdered="true" id="get受給者or事業対象者の判定" 
            resultType="jp.co.ndensan.reams.db.dbd.entity.db.relate.shiharaihohohenko.JukyushaSogoJigyoTaishoshaHantei" fetchSize="500">
        SELECT
        EXISTS(
        SELECT 1
        FROM
        rgdb."DbT4001JukyushaDaicho" as DbT4001JukyushaDaicho
        WHERE
        DbT4001JukyushaDaicho."hihokenshaNo" = #{被保険者番号}
        AND DbT4001JukyushaDaicho."logicalDeletedFlag" = FALSE
        AND DbT4001JukyushaDaicho."yukoMukoKubun" = '1'
        AND DbT4001JukyushaDaicho."ninteiYukoKikanKaishiYMD" <![CDATA[<=]]>  #{基準日}
        AND DbT4001JukyushaDaicho."ninteiYukoKikanShuryoYMD" <![CDATA[>=]]>  #{基準日}
        ) AS is受給者,
        EXISTS(
        SELECT *
        FROM rgdb."DbT3105SogoJigyoTaishosha" AS DbT3105SogoJigyoTaishosha
        WHERE
        DbT3105SogoJigyoTaishosha."hihokenshaNo" = #{被保険者番号}
        AND DbT3105SogoJigyoTaishosha."tekiyoKaishiYMD" <![CDATA[<=]]>  #{基準日}
        AND (DbT3105SogoJigyoTaishosha."tekiyoShuryoYMD" = ''
        OR DbT3105SogoJigyoTaishosha."tekiyoShuryoYMD" IS NULL
        OR DbT3105SogoJigyoTaishosha."tekiyoShuryoYMD" <![CDATA[>=]]>  #{基準日})
        ) AS is総合事業対象者
    </select>

    <select id="select支払方法変更ByKey" resultMap="resultMap_ShiharaiHohoHenkoEntity"
            parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.shiharaihohohenko.ShiharaiHohoHenkoMapperParameter"
            fetchSize="500" resultOrdered="true">
        <include refid="selectShiharaiHohoHenkoEntity" />
    </select>

    <sql id="selectShiharaiHohoHenkoEntity">
        SELECT
        DbT4021ShiharaiHohoHenko.*,
        DbT4022ShiharaiHohoHenkoTaino.*,
        DbT4024ShiharaiHohoHenkoSashitome.*,
        DbT4025ShiharaiHohoHenkoGengaku.*,
        DbT4026ShiharaiHohoHenkoGengakuMeisai.*
        FROM
        (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4021ShiharaiHohoHenkoMapper.noDeleted_DbT4021ShiharaiHohoHenko" />) AS DbT4021ShiharaiHohoHenko
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4022ShiharaiHohoHenkoTainoMapper.noDeleted_DbT4022ShiharaiHohoHenkoTaino" />) AS DbT4022ShiharaiHohoHenkoTaino
        ON
        DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_hihokenshaNo" = DbT4022ShiharaiHohoHenkoTaino."dbT4022ShiharaiHohoHenkoTaino_hihokenshaNo" and
        DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_kanriKubun" = DbT4022ShiharaiHohoHenkoTaino."dbT4022ShiharaiHohoHenkoTaino_kanriKubun" and
        DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_rirekiNo" = DbT4022ShiharaiHohoHenkoTaino."dbT4022ShiharaiHohoHenkoTaino_rirekiNo"
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4024ShiharaiHohoHenkoSashitomeMapper.noDeleted_DbT4024ShiharaiHohoHenkoSashitome" />) AS DbT4024ShiharaiHohoHenkoSashitome
        ON
        DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_hihokenshaNo" = DbT4024ShiharaiHohoHenkoSashitome."dbT4024ShiharaiHohoHenkoSashitome_hihokenshaNo" and
        DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_kanriKubun" = DbT4024ShiharaiHohoHenkoSashitome."dbT4024ShiharaiHohoHenkoSashitome_kanriKubun" and
        DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_rirekiNo" = DbT4024ShiharaiHohoHenkoSashitome."dbT4024ShiharaiHohoHenkoSashitome_rirekiNo"
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4025ShiharaiHohoHenkoGengakuMapper.noDeleted_DbT4025ShiharaiHohoHenkoGengaku" />) AS DbT4025ShiharaiHohoHenkoGengaku
        ON
        DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_hihokenshaNo" = DbT4025ShiharaiHohoHenkoGengaku."dbT4025ShiharaiHohoHenkoGengaku_hihokenshaNo" and
        DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_kanriKubun" = DbT4025ShiharaiHohoHenkoGengaku."dbT4025ShiharaiHohoHenkoGengaku_kanriKubun" and
        DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_rirekiNo" = DbT4025ShiharaiHohoHenkoGengaku."dbT4025ShiharaiHohoHenkoGengaku_rirekiNo"
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4026ShiharaiHohoHenkoGengakuMeisaiMapper.noDeleted_DbT4026ShiharaiHohoHenkoGengakuMeisai" />) AS DbT4026ShiharaiHohoHenkoGengakuMeisai
        ON
        DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_hihokenshaNo" = DbT4026ShiharaiHohoHenkoGengakuMeisai."dbT4026ShiharaiHohoHenkoGengakuMeisai_hihokenshaNo" and
        DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_kanriKubun" = DbT4026ShiharaiHohoHenkoGengakuMeisai."dbT4026ShiharaiHohoHenkoGengakuMeisai_kanriKubun" and
        DbT4021ShiharaiHohoHenko."dbT4021ShiharaiHohoHenko_rirekiNo" = DbT4026ShiharaiHohoHenkoGengakuMeisai."dbT4026ShiharaiHohoHenkoGengakuMeisai_rirekiNo"
        <where>
            <if test="uses被保険者番号">
                AND DbT4025ShiharaiHohoHenkoGengaku."dbT4021ShiharaiHohoHenko_hihokenshaNo" = #{被保険者番号}
            </if>
            <if test="uses管理区分">
                AND DbT4025ShiharaiHohoHenkoGengaku."dbT4021ShiharaiHohoHenko_kanriKubun" = #{管理区分}
            </if>
            <if test="uses履歴番号">
                AND DbT4025ShiharaiHohoHenkoGengaku."dbT4021ShiharaiHohoHenko_rirekiNo" = #{履歴番号}
            </if>
        </where>
    </sql>

    <resultMap id="resultMap_ShiharaiHohoHenkoEntity" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.shiharaihohohenko.ShiharaiHohoHenkoEntity" autoMapping="true">
        <id property="支払方法変更Entity.hihokenshaNo" column="dbT4021ShiharaiHohoHenko_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="支払方法変更Entity.kanriKubun" column="dbT4021ShiharaiHohoHenko_kanriKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="支払方法変更Entity.rirekiNo" column="dbT4021ShiharaiHohoHenko_rirekiNo" />
        <association property="支払方法変更Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4021ShiharaiHohoHenkoMapper.ResultMap_DbT4021ShiharaiHohoHenkoEntity"/>
        <collection property="支払方法変更滞納Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4022ShiharaiHohoHenkoTainoMapper.ResultMap_DbT4022ShiharaiHohoHenkoTainoEntity"/>
        <collection property="支払方法変更差止Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4024ShiharaiHohoHenkoSashitomeMapper.ResultMap_DbT4024ShiharaiHohoHenkoSashitomeEntity"/>
        <collection property="支払方法変更減額Entity" resultMap="resultMap_IShiharaiHohoHenkoGengakuEntity"/>
    </resultMap>
    
    <resultMap id="resultMap_IShiharaiHohoHenkoGengakuEntity" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.shiharaihohohenko.ShiharaiHohoHenkoGengakuEntity" autoMapping="true">
        <result property="支払方法変更減額Entity.hihokenshaNo" column="dbT4025ShiharaiHohoHenkoGengaku_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="支払方法変更減額Entity.kanriKubun" column="dbT4025ShiharaiHohoHenkoGengaku_kanriKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="支払方法変更減額Entity.rirekiNo" column="dbT4025ShiharaiHohoHenkoGengaku_rirekiNo"/>
        <association property="支払方法変更減額Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4025ShiharaiHohoHenkoGengakuMapper.ResultMap_DbT4025ShiharaiHohoHenkoGengakuEntity"/>
        <collection property="支払方法変更減額明細Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4026ShiharaiHohoHenkoGengakuMeisaiMapper.ResultMap_DbT4026ShiharaiHohoHenkoGengakuMeisaiEntity"/>
    </resultMap>
</mapper>