<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- @reamsid_L DBC-4950-033 pengxingyi -->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.idoriyoshafutanwariaihantei.IIdoDateTyuushutuKyoutsuuMapper">
                    
    <select resultOrdered="true" id="select受給者台帳異動"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.dbc180020.IdoDateTyuushutuKyoutsuuMyBatisParameter"
            resultMap="resultMap_IdoData" fetchSize="500">
        <include refid="selectJukyushaDaichoIdo" />
    </select>
    <sql id="selectJukyushaDaichoIdo">
        SELECT
            <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4001JukyushaDaichoMapper.allColumns_DbT4001JukyushaDaicho" />,
            <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1001HihokenshaDaichoMapper.allColumns_DbT1001HihokenshaDaicho" />,
            <include refid="allColumns_DbT3105SogoJigyoTaishosha" />,
            "ShikibetsuTaisho"."setaiCode" as "shikibetsuTaisho_setaiCode",
            <include refid="allColumns_DbV2512KaigoShotokuNewest" />
        FROM 
            (SELECT * FROM rgdb."DbT4001JukyushaDaicho"
            WHERE #{抽出開始日時} <![CDATA[<=]]> "lastUpdateTimestamp" 
            AND "lastUpdateTimestamp" <![CDATA[<]]> #{抽出終了日時}
            )  AS "DbT4001JukyushaDaicho_ido"
        INNER JOIN 
            (SELECT * FROM 
            (SELECT *,Row_Number() OVER (partition by "hihokenshaNo" ORDER BY "idoYMD" desc ,"edaNo"  DESC) AS "rrkno" 
            FROM rgdb."DbT1001HihokenshaDaicho") "A" 
            WHERE "A"."rrkno"='1')  AS "DbT1001HihokenshaDaicho"
        ON  
            "DbT4001JukyushaDaicho_ido"."hihokenshaNo" = "DbT1001HihokenshaDaicho"."hihokenshaNo"
        INNER JOIN 
            <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.tableName_PsmParamClassShikibetsuTaisho" /> AS "ShikibetsuTaisho"
        ON
            "DbT1001HihokenshaDaicho"."shikibetsuCode"= "ShikibetsuTaisho"."shikibetsuCode"     
        LEFT OUTER JOIN 
            (SELECT * FROM rgdb."DbT4001JukyushaDaicho"   AS  "B"
            WHERE "logicalDeletedFlag" = false  AND "yukoMukoKubun" = '2'
            AND ((#{対象年度開始日} <![CDATA[<=]]> "ninteiYukoKikanKaishiYMD" AND "ninteiYukoKikanKaishiYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR(#{対象年度開始日} <![CDATA[<=]]> "ninteiYukoKikanShuryoYMD" AND "ninteiYukoKikanShuryoYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR("ninteiYukoKikanKaishiYMD" <![CDATA[<=]]> #{対象年度開始日} AND #{対象年度開始日} <![CDATA[<=]]> "ninteiYukoKikanShuryoYMD"  ))
            AND NOT EXISTS(SELECT 'X' FROM rgdb."DbT4001JukyushaDaicho" AS "A" 
                            WHERE  "B"."hihokenshaNo" = "A"."hihokenshaNo"
                            AND    "A"."ninteiYukoKikanKaishiYMD" <![CDATA[<]]> "B"."ninteiYukoKikanKaishiYMD" 
                          )     
            ) AS "DbT4001JukyushaDaicho" 
        ON 
            "DbT4001JukyushaDaicho_ido"."hihokenshaNo" = "DbT4001JukyushaDaicho"."hihokenshaNo"
        LEFT OUTER JOIN
             (SELECT * FROM rgdb."DbT3105SogoJigyoTaishosha"  AS "A" 
             WHERE((#{対象年度開始日} <![CDATA[<=]]> "tekiyoKaishiYMD" AND "tekiyoKaishiYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR(#{対象年度開始日} <![CDATA[<=]]> "tekiyoShuryoYMD" AND "tekiyoShuryoYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR("tekiyoKaishiYMD" <![CDATA[<=]]> #{対象年度開始日} AND #{対象年度開始日} <![CDATA[<=]]> "tekiyoShuryoYMD"  ))
             AND NOT EXISTS(SELECT 'X' FROM rgdb."DbT3105SogoJigyoTaishosha" AS "B" 
                            WHERE  "A"."hihokenshaNo" = "B"."hihokenshaNo"
                            AND   "B"."tekiyoKaishiYMD" <![CDATA[<]]>  "A"."tekiyoKaishiYMD" 
                          )     
            ) AS "DbT3105SogoJigyoTaishosha"
         ON   
            "DbT4001JukyushaDaicho_ido"."hihokenshaNo" =  "DbT3105SogoJigyoTaishosha"."hihokenshaNo"
         LEFT OUTER JOIN
            (SELECT * FROM rgdb."DbV2512KaigoShotokuNewest" WHERE "shotokuNendo"=#{対象年度}) AS "DbV2512KaigoShotokuNewest"
         ON 
            "DbT1001HihokenshaDaicho"."shikibetsuCode"= "DbV2512KaigoShotokuNewest"."shikibetsuCode"
         ORDER BY 
            "DbT4001JukyushaDaicho"."hihokenshaNo"
    </sql>
    
    <select resultOrdered="true" id="select総合事業対象者異動"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.dbc180020.IdoDateTyuushutuKyoutsuuMyBatisParameter"
            resultMap="resultMap_IdoData" fetchSize="500">
        <include refid="selectSogoJigyoTaishoshaIdo" />
    </select>
    <sql id="selectSogoJigyoTaishoshaIdo">
        SELECT
            <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4001JukyushaDaichoMapper.allColumns_DbT4001JukyushaDaicho" />,
            <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1001HihokenshaDaichoMapper.allColumns_DbT1001HihokenshaDaicho" />,
            <include refid="allColumns_DbT3105SogoJigyoTaishosha" />,
            "ShikibetsuTaisho"."setaiCode" as "shikibetsuTaisho_setaiCode",
            <include refid="allColumns_DbV2512KaigoShotokuNewest" />
        FROM 
            (SELECT * FROM rgdb."DbT3105SogoJigyoTaishosha"   AS A
            WHERE #{抽出開始日時} <![CDATA[<=]]> A."lastUpdateTimestamp" 
            AND A."lastUpdateTimestamp" <![CDATA[<]]> #{抽出終了日時}
            AND  NOT EXISTS (SELECT 1  FROM  "HanteiTaishoshaTemp"  AS B WHERE A."hihokenshaNo"=B."hihokenshaNo" AND B."taishoNendo"= #{対象年度}                              
            ))  AS  "DbT3105SogoJigyoTaishosha_ido"
        INNER JOIN 
            (SELECT * FROM 
            (SELECT *,Row_Number() OVER (partition by "hihokenshaNo" ORDER BY "idoYMD" desc ,"edaNo"  DESC) AS "rrkno" 
            FROM rgdb."DbT1001HihokenshaDaicho") "A" 
            WHERE "A"."rrkno"='1')  AS "DbT1001HihokenshaDaicho"
        ON  
            "DbT3105SogoJigyoTaishosha_ido"."hihokenshaNo" = "DbT1001HihokenshaDaicho"."hihokenshaNo"
        INNER JOIN 
            <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.tableName_PsmParamClassShikibetsuTaisho" /> AS "ShikibetsuTaisho"
        ON
            "DbT1001HihokenshaDaicho"."shikibetsuCode"= "ShikibetsuTaisho"."shikibetsuCode"     
        LEFT OUTER JOIN 
            ( SELECT * FROM rgdb."DbT4001JukyushaDaicho"   AS  "B"
            WHERE "logicalDeletedFlag" = false  AND "yukoMukoKubun" = '2'
            AND ((#{対象年度開始日} <![CDATA[<=]]> "ninteiYukoKikanKaishiYMD" AND "ninteiYukoKikanKaishiYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR(#{対象年度開始日} <![CDATA[<=]]> "ninteiYukoKikanShuryoYMD" AND "ninteiYukoKikanShuryoYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR("ninteiYukoKikanKaishiYMD" <![CDATA[<=]]> #{対象年度開始日} AND #{対象年度開始日} <![CDATA[<=]]> "ninteiYukoKikanShuryoYMD"  ))
            AND NOT EXISTS(SELECT 'X' FROM rgdb."DbT4001JukyushaDaicho" AS "A" 
                            WHERE  "B"."hihokenshaNo" = "A"."hihokenshaNo"
                            AND    "A"."ninteiYukoKikanKaishiYMD" <![CDATA[<]]> "B"."ninteiYukoKikanKaishiYMD" 
                          )     
            ) AS "DbT4001JukyushaDaicho" 
        ON 
            "DbT3105SogoJigyoTaishosha_ido"."hihokenshaNo" = "DbT4001JukyushaDaicho"."hihokenshaNo"
        LEFT OUTER JOIN
             (SELECT * FROM rgdb."DbT3105SogoJigyoTaishosha"  AS "A" 
             WHERE((#{対象年度開始日} <![CDATA[<=]]> "tekiyoKaishiYMD" AND "tekiyoKaishiYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR(#{対象年度開始日} <![CDATA[<=]]> "tekiyoShuryoYMD" AND "tekiyoShuryoYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR("tekiyoKaishiYMD" <![CDATA[<=]]> #{対象年度開始日} AND #{対象年度開始日} <![CDATA[<=]]> "tekiyoShuryoYMD"  ))
             AND NOT EXISTS(SELECT 1 FROM rgdb."DbT3105SogoJigyoTaishosha" AS "B" 
                            WHERE  "A"."hihokenshaNo" = "B"."hihokenshaNo"
                            AND    "B"."tekiyoKaishiYMD"  <![CDATA[<]]> "A"."tekiyoKaishiYMD"
                          )     
            ) AS "DbT3105SogoJigyoTaishosha"
         ON   
            "DbT3105SogoJigyoTaishosha_ido"."hihokenshaNo" =  "DbT3105SogoJigyoTaishosha"."hihokenshaNo"
         LEFT OUTER JOIN
            (SELECT * FROM rgdb."DbV2512KaigoShotokuNewest" WHERE "shotokuNendo"=#{対象年度}) AS "DbV2512KaigoShotokuNewest"
         ON 
            "DbT1001HihokenshaDaicho"."shikibetsuCode"= "DbV2512KaigoShotokuNewest"."shikibetsuCode"
         ORDER BY 
            "DbT4001JukyushaDaicho"."hihokenshaNo"
    </sql>
    
    
    <select resultOrdered="true" id="select被保険者台帳異動"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.dbc180020.IdoDateTyuushutuKyoutsuuMyBatisParameter"
            resultMap="resultMap_IdoData" fetchSize="500">
        <include refid="selectHihokenshaDaichoIdo" />
    </select>
    <sql id="selectHihokenshaDaichoIdo">
        SELECT
            <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4001JukyushaDaichoMapper.allColumns_DbT4001JukyushaDaicho" />,
            <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1001HihokenshaDaichoMapper.allColumns_DbT1001HihokenshaDaicho" />,
            <include refid="allColumns_DbT3105SogoJigyoTaishosha" />,
            "ShikibetsuTaisho"."setaiCode" as "shikibetsuTaisho_setaiCode",
            <include refid="allColumns_DbV2512KaigoShotokuNewest" />
        FROM 
            (SELECT * FROM 
            (SELECT *,Row_Number() OVER (partition by "hihokenshaNo" ORDER BY "idoYMD" desc ,"edaNo"  DESC) AS "rrkno" 
            FROM rgdb."DbT1001HihokenshaDaicho" WHERE 
            #{抽出開始日時} <![CDATA[<=]]> "lastUpdateTimestamp" 
            AND "lastUpdateTimestamp" <![CDATA[<]]> #{抽出終了日時}) A 
            WHERE A."rrkno"='1'
            AND  NOT EXISTS (SELECT 1  FROM  "HanteiTaishoshaTemp"  AS B WHERE A."hihokenshaNo"=B."hihokenshaNo" AND B."taishoNendo"= #{対象年度}                              
            ))  AS "DbT1001HihokenshaDaicho"
        INNER JOIN 
            <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.tableName_PsmParamClassShikibetsuTaisho" /> AS "ShikibetsuTaisho"
        ON
            "DbT1001HihokenshaDaicho"."shikibetsuCode"= "ShikibetsuTaisho"."shikibetsuCode"     
        LEFT OUTER JOIN 
            (SELECT * FROM rgdb."DbT4001JukyushaDaicho"   AS  "B"
            WHERE "logicalDeletedFlag" = false  AND "yukoMukoKubun" = '2'
            AND ((#{対象年度開始日} <![CDATA[<=]]> "ninteiYukoKikanKaishiYMD" AND "ninteiYukoKikanKaishiYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR(#{対象年度開始日} <![CDATA[<=]]> "ninteiYukoKikanShuryoYMD" AND "ninteiYukoKikanShuryoYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR("ninteiYukoKikanKaishiYMD" <![CDATA[<=]]> #{対象年度開始日} AND #{対象年度開始日} <![CDATA[<=]]> "ninteiYukoKikanShuryoYMD"  ))
            AND NOT EXISTS(SELECT 1 FROM rgdb."DbT4001JukyushaDaicho" AS "A" 
                            WHERE  "B"."hihokenshaNo" = "A"."hihokenshaNo"
                            AND    "A"."ninteiYukoKikanKaishiYMD"  <![CDATA[<]]> "B"."ninteiYukoKikanKaishiYMD"
                          )     
            ) AS "DbT4001JukyushaDaicho" 
        ON 
            "DbT1001HihokenshaDaicho"."hihokenshaNo" = "DbT4001JukyushaDaicho"."hihokenshaNo"
        LEFT OUTER JOIN
             (SELECT * FROM rgdb."DbT3105SogoJigyoTaishosha"  AS "A" 
             WHERE((#{対象年度開始日} <![CDATA[<=]]> "tekiyoKaishiYMD" AND "tekiyoKaishiYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR(#{対象年度開始日} <![CDATA[<=]]> "tekiyoShuryoYMD" AND "tekiyoShuryoYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR("tekiyoKaishiYMD" <![CDATA[<=]]> #{対象年度開始日} AND #{対象年度開始日} <![CDATA[<=]]> "tekiyoShuryoYMD"  ))
             AND NOT EXISTS(SELECT 'X' FROM rgdb."DbT3105SogoJigyoTaishosha" AS "B" 
                            WHERE  "A"."hihokenshaNo" = "B"."hihokenshaNo"
                            AND    "B"."tekiyoKaishiYMD"  <![CDATA[<]]> "A"."tekiyoKaishiYMD"
                          )  
            ) AS "DbT3105SogoJigyoTaishosha"
         ON   
            "DbT1001HihokenshaDaicho"."hihokenshaNo" =  "DbT3105SogoJigyoTaishosha"."hihokenshaNo"
         LEFT OUTER JOIN
            (SELECT * FROM rgdb."DbV2512KaigoShotokuNewest" WHERE "shotokuNendo"=#{対象年度}) AS "DbV2512KaigoShotokuNewest"
         ON 
            "DbT1001HihokenshaDaicho"."shikibetsuCode"= "DbV2512KaigoShotokuNewest"."shikibetsuCode"
         ORDER BY 
            "DbT4001JukyushaDaicho"."hihokenshaNo"
    </sql>
    
    
    <select resultOrdered="true" id="select介護所得異動"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.dbc180020.IdoDateTyuushutuKyoutsuuMyBatisParameter"
            resultMap="resultMap_IdoData" fetchSize="500">
        <include refid="selectKaigoShotokuIdo" />
    </select>
    <sql id="selectKaigoShotokuIdo">
        SELECT
            <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4001JukyushaDaichoMapper.allColumns_DbT4001JukyushaDaicho" />,
            <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1001HihokenshaDaichoMapper.allColumns_DbT1001HihokenshaDaicho" />,
            <include refid="allColumns_DbT3105SogoJigyoTaishosha" />,
            "ShikibetsuTaisho"."setaiCode" as "shikibetsuTaisho_setaiCode",
            <include refid="allColumns_DbV2512KaigoShotokuNewest" />
        FROM 
            (SELECT * FROM rgdb."DbV2512KaigoShotokuNewest"  AS A
            WHERE #{介護所得抽出開始日時} <![CDATA[<=]]> A."shoriTimeStamp" 
            AND A."shoriTimeStamp" <![CDATA[<]]> #{介護所得抽出終了日時}
            AND "shotokuNendo"=#{対象年度}
            )  AS  "DbV2512KaigoShotokuNewest"
        INNER JOIN 
            (SELECT * FROM 
            (SELECT *,Row_Number() OVER (partition by "hihokenshaNo" ORDER BY "idoYMD" desc ,"edaNo"  DESC) AS "rrkno" 
            FROM rgdb."DbT1001HihokenshaDaicho") A 
            WHERE A."rrkno"='1' 
            AND  NOT EXISTS (SELECT 1  FROM  "HanteiTaishoshaTemp"  AS B WHERE A."hihokenshaNo"=B."hihokenshaNo" AND B."taishoNendo"= #{対象年度}                              
            ))  AS "DbT1001HihokenshaDaicho"
        ON  
            "DbV2512KaigoShotokuNewest"."shikibetsuCode" = "DbT1001HihokenshaDaicho"."shikibetsuCode"
        INNER JOIN 
            <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.tableName_PsmParamClassShikibetsuTaisho" /> AS "ShikibetsuTaisho"
        ON
            "DbV2512KaigoShotokuNewest"."shikibetsuCode"= "ShikibetsuTaisho"."shikibetsuCode"     
        LEFT OUTER JOIN 
            (SELECT * FROM rgdb."DbT4001JukyushaDaicho"   AS  "B"
            WHERE "logicalDeletedFlag" = false  AND "yukoMukoKubun" = '2'
            AND ((#{対象年度開始日} <![CDATA[<=]]> "ninteiYukoKikanKaishiYMD" AND "ninteiYukoKikanKaishiYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR(#{対象年度開始日} <![CDATA[<=]]> "ninteiYukoKikanShuryoYMD" AND "ninteiYukoKikanShuryoYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR("ninteiYukoKikanKaishiYMD" <![CDATA[<=]]> #{対象年度開始日} AND #{対象年度開始日} <![CDATA[<=]]> "ninteiYukoKikanShuryoYMD"  ))
            AND NOT EXISTS(SELECT 'X' FROM rgdb."DbT4001JukyushaDaicho" AS "A" 
                            WHERE  "B"."hihokenshaNo" = "A"."hihokenshaNo"
                            AND    "A"."ninteiYukoKikanKaishiYMD"  <![CDATA[<]]> "B"."ninteiYukoKikanKaishiYMD"
                          )     
            ) AS "DbT4001JukyushaDaicho" 
        ON 
            "DbT1001HihokenshaDaicho"."hihokenshaNo" = "DbT4001JukyushaDaicho"."hihokenshaNo"
        LEFT OUTER JOIN
             (SELECT * FROM rgdb."DbT3105SogoJigyoTaishosha"  AS "A" 
             WHERE((#{対象年度開始日} <![CDATA[<=]]> "tekiyoKaishiYMD" AND "tekiyoKaishiYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR(#{対象年度開始日} <![CDATA[<=]]> "tekiyoShuryoYMD" AND "tekiyoShuryoYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR("tekiyoKaishiYMD" <![CDATA[<=]]> #{対象年度開始日} AND #{対象年度開始日} <![CDATA[<=]]> "tekiyoShuryoYMD"  ))
             AND NOT EXISTS(SELECT 'X' FROM rgdb."DbT3105SogoJigyoTaishosha" AS "B" 
                            WHERE  "A"."hihokenshaNo" = "B"."hihokenshaNo"
                            AND    "B"."tekiyoKaishiYMD"  <![CDATA[<]]> "A"."tekiyoKaishiYMD"
                          )     
            ) AS "DbT3105SogoJigyoTaishosha"
         ON   
            "DbT1001HihokenshaDaicho"."hihokenshaNo" =  "DbT3105SogoJigyoTaishosha"."hihokenshaNo"
         ORDER BY 
            "DbT4001JukyushaDaicho"."hihokenshaNo"
    </sql>
    
     <select resultOrdered="true" id="select宛名識別対象異動"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.dbc180020.IdoDateTyuushutuKyoutsuuMyBatisParameter"
            resultMap="resultMap_IdoData" fetchSize="500">
        <include refid="selectShikibetsuTaishoIdo" />
    </select>
    <sql id="selectShikibetsuTaishoIdo">
        SELECT
            <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4001JukyushaDaichoMapper.allColumns_DbT4001JukyushaDaicho" />,
            <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1001HihokenshaDaichoMapper.allColumns_DbT1001HihokenshaDaicho" />,
            <include refid="allColumns_DbT3105SogoJigyoTaishosha" />,
            "ShikibetsuTaishoIdo"."setaiCode" as "shikibetsuTaisho_setaiCode",
            <include refid="allColumns_DbV2512KaigoShotokuNewest" />,
            <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.basic.IUaFt001FindIdoFunctionMapper.allColumns_ShikibetsuTaishoIdo" /> 
        FROM 
            rgua."UaFt001FindIdo"('2',#{抽出開始日時},#{抽出終了日時},TRUE, '{}' ,'0', '{}' ,'0','','0','','0', '{}' , '{}','','','','','','','','','','','','','','','','') AS "ShikibetsuTaishoIdo"
        INNER JOIN 
            (SELECT * FROM 
            (SELECT *,Row_Number() OVER (partition by "hihokenshaNo" ORDER BY "idoYMD" desc ,"edaNo"  DESC) AS "rrkno" 
            FROM rgdb."DbT1001HihokenshaDaicho") A 
            WHERE A."rrkno"='1' 
            AND  NOT EXISTS (SELECT 1  FROM  "HanteiTaishoshaTemp"  AS B WHERE A."hihokenshaNo"=B."hihokenshaNo" AND B."taishoNendo"= #{対象年度}                              
            ))  AS "DbT1001HihokenshaDaicho"     
        ON 
            "ShikibetsuTaishoIdo"."shikibetsuCode" = "DbT1001HihokenshaDaicho"."shikibetsuCode"  
        LEFT OUTER JOIN 
            (SELECT * FROM rgdb."DbT4001JukyushaDaicho"   AS  "B"
            WHERE "logicalDeletedFlag" = false  AND "yukoMukoKubun" = '2'
            AND ((#{対象年度開始日} <![CDATA[<=]]> "ninteiYukoKikanKaishiYMD" AND "ninteiYukoKikanKaishiYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR(#{対象年度開始日} <![CDATA[<=]]> "ninteiYukoKikanShuryoYMD" AND "ninteiYukoKikanShuryoYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR("ninteiYukoKikanKaishiYMD" <![CDATA[<=]]> #{対象年度開始日} AND #{対象年度開始日} <![CDATA[<=]]> "ninteiYukoKikanShuryoYMD"  ))
            AND NOT EXISTS(SELECT 'X' FROM rgdb."DbT4001JukyushaDaicho" AS "A" 
                            WHERE  "B"."hihokenshaNo" = "A"."hihokenshaNo"
                            AND    "A"."ninteiYukoKikanKaishiYMD"  <![CDATA[<]]> "B"."ninteiYukoKikanKaishiYMD"
                          )     
            ) AS "DbT4001JukyushaDaicho" 
        ON 
            "DbT1001HihokenshaDaicho"."hihokenshaNo" = "DbT4001JukyushaDaicho"."hihokenshaNo"
        LEFT OUTER JOIN
             (SELECT * FROM rgdb."DbT3105SogoJigyoTaishosha"  AS "A" 
             WHERE((#{対象年度開始日} <![CDATA[<=]]> "tekiyoKaishiYMD" AND "tekiyoKaishiYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR(#{対象年度開始日} <![CDATA[<=]]> "tekiyoShuryoYMD" AND "tekiyoShuryoYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR("tekiyoKaishiYMD" <![CDATA[<=]]> #{対象年度開始日} AND #{対象年度開始日} <![CDATA[<=]]> "tekiyoShuryoYMD"  ))
             AND NOT EXISTS(SELECT 'X' FROM rgdb."DbT3105SogoJigyoTaishosha" AS "B" 
                            WHERE  "A"."hihokenshaNo" = "B"."hihokenshaNo"
                            AND    "B"."tekiyoKaishiYMD"  <![CDATA[<]]> "A"."tekiyoKaishiYMD"
                          )     
            ) AS "DbT3105SogoJigyoTaishosha"
         ON   
            "DbT1001HihokenshaDaicho"."hihokenshaNo" =  "DbT3105SogoJigyoTaishosha"."hihokenshaNo"
         LEFT OUTER JOIN
            (SELECT * FROM rgdb."DbV2512KaigoShotokuNewest" WHERE "shotokuNendo"=#{対象年度}) AS "DbV2512KaigoShotokuNewest"
         ON 
            "ShikibetsuTaishoIdo"."shikibetsuCode"= "DbV2512KaigoShotokuNewest"."shikibetsuCode"
         ORDER BY 
            "DbT4001JukyushaDaicho"."hihokenshaNo"
    </sql>
    
    
    <select resultOrdered="true" id="select生活保護受給者異動"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.dbc180020.IdoDateTyuushutuKyoutsuuMyBatisParameter"
            resultMap="resultMap_IdoData" fetchSize="500">
        <include refid="selectSeikatsuHogoJukyushaIdo" />
    </select>
    <sql id="selectSeikatsuHogoJukyushaIdo">
        SELECT
            <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4001JukyushaDaichoMapper.allColumns_DbT4001JukyushaDaicho" />,
            <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1001HihokenshaDaichoMapper.allColumns_DbT1001HihokenshaDaicho" />,
            <include refid="allColumns_DbT3105SogoJigyoTaishosha" />,
            "ShikibetsuTaisho"."setaiCode" as "shikibetsuTaisho_setaiCode",
            <include refid="allColumns_DbV2512KaigoShotokuNewest" />
        FROM 
            (SELECT * FROM rgur."UrT0508SeikatsuHogoJukyusha"
            WHERE "gyomuCode" = 'DB'
            AND #{抽出開始日時} <![CDATA[<=]]> "lastUpdateTimestamp" 
            AND "lastUpdateTimestamp" <![CDATA[<]]> #{抽出終了日時}
            )  AS "UrT0508SeikatsuHogoJukyusha"
        INNER JOIN 
            (SELECT * FROM 
            (SELECT *,Row_Number() OVER (partition by "hihokenshaNo" ORDER BY "idoYMD" desc ,"edaNo"  DESC) AS "rrkno" 
            FROM rgdb."DbT1001HihokenshaDaicho") A 
            WHERE A."rrkno"='1' 
            AND  NOT EXISTS (SELECT 1  FROM  "HanteiTaishoshaTemp"  AS B WHERE A."hihokenshaNo"=B."hihokenshaNo" AND B."taishoNendo"= #{対象年度}                              
            ))  AS "DbT1001HihokenshaDaicho"     
        ON 
            "UrT0508SeikatsuHogoJukyusha"."shikibetsuCode" = "DbT1001HihokenshaDaicho"."shikibetsuCode"  
        INNER JOIN 
            <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.tableName_PsmParamClassShikibetsuTaisho" /> AS "ShikibetsuTaisho"
        ON
            "UrT0508SeikatsuHogoJukyusha"."shikibetsuCode"= "ShikibetsuTaisho"."shikibetsuCode"     
        LEFT OUTER JOIN 
            (SELECT * FROM rgdb."DbT4001JukyushaDaicho"   AS  "B"
            WHERE "logicalDeletedFlag" = false  AND "yukoMukoKubun" = '2'
            AND ((#{対象年度開始日} <![CDATA[<=]]> "ninteiYukoKikanKaishiYMD" AND "ninteiYukoKikanKaishiYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR(#{対象年度開始日} <![CDATA[<=]]> "ninteiYukoKikanShuryoYMD" AND "ninteiYukoKikanShuryoYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR("ninteiYukoKikanKaishiYMD" <![CDATA[<=]]> #{対象年度開始日} AND #{対象年度開始日} <![CDATA[<=]]> "ninteiYukoKikanShuryoYMD"  ))
            AND NOT EXISTS(SELECT 'X' FROM rgdb."DbT4001JukyushaDaicho" AS "A" 
                            WHERE  "B"."hihokenshaNo" = "A"."hihokenshaNo"
                            AND   "A"."ninteiYukoKikanKaishiYMD" <![CDATA[<]]> "B"."ninteiYukoKikanKaishiYMD"  
                          )     
            ) AS "DbT4001JukyushaDaicho" 
        ON 
            "DbT1001HihokenshaDaicho"."hihokenshaNo" = "DbT4001JukyushaDaicho"."hihokenshaNo"
        LEFT OUTER JOIN
             (SELECT * FROM rgdb."DbT3105SogoJigyoTaishosha"  AS "A" 
             WHERE((#{対象年度開始日} <![CDATA[<=]]> "tekiyoKaishiYMD" AND "tekiyoKaishiYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR(#{対象年度開始日} <![CDATA[<=]]> "tekiyoShuryoYMD" AND "tekiyoShuryoYMD" <![CDATA[<=]]>#{対象年度終了日})
                OR("tekiyoKaishiYMD" <![CDATA[<=]]> #{対象年度開始日} AND #{対象年度開始日} <![CDATA[<=]]> "tekiyoShuryoYMD"  ))
             AND NOT EXISTS(SELECT 'X' FROM rgdb."DbT3105SogoJigyoTaishosha" AS "B" 
                            WHERE  "A"."hihokenshaNo" = "B"."hihokenshaNo"
                            AND    "B"."tekiyoKaishiYMD" <![CDATA[<]]> "A"."tekiyoKaishiYMD"  
                          )     
            ) AS "DbT3105SogoJigyoTaishosha"
         ON   
            "DbT1001HihokenshaDaicho"."hihokenshaNo" =  "DbT3105SogoJigyoTaishosha"."hihokenshaNo"
         LEFT OUTER JOIN
            (SELECT * FROM rgdb."DbV2512KaigoShotokuNewest" WHERE "shotokuNendo"=#{対象年度}) AS "DbV2512KaigoShotokuNewest"
         ON 
            "UrT0508SeikatsuHogoJukyusha"."shikibetsuCode"= "DbV2512KaigoShotokuNewest"."shikibetsuCode"
         ORDER BY 
            "DbT4001JukyushaDaicho"."hihokenshaNo"
    </sql>
    
    <resultMap id="resultMap_IdoData" autoMapping="true"
               type="jp.co.ndensan.reams.db.dbc.entity.db.relate.idoriyoshafutanwariaihantei.IdoRiyoshaDateEntity">
        <id column="dbT1001HihokenshaDaicho_hihokenshaNo"/> 
        <result property="世帯コード" column="shikibetsuTaisho_setaiCode"
            typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.SetaiCodeTypeHandler"/>    
        <association property="受給者台帳" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4001JukyushaDaichoMapper.ResultMap_DbT4001JukyushaDaichoEntity"/>
        <association property="被保険者台帳" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1001HihokenshaDaichoMapper.ResultMap_DbT1001HihokenshaDaichoEntity"/>
        <association property="総合事業対象者" resultMap="ResultMap_DbT3105SogoJigyoTaishoshaEntity"/>
        <association property = "介護所得ビュー" resultMap = "ResultMap_DbV2512KaigoShotokuNewestEntity"/>
        <association property = "宛名識別対象異動分" resultMap = "jp.co.ndensan.reams.ua.uax.persistence.db.mapper.basic.IUaFt001FindIdoFunctionMapper.ResultMap_UaFt001FindIdo"/>
    </resultMap> 
    

    <sql id="allColumns_DbV2512KaigoShotokuNewest">
        "DbV2512KaigoShotokuNewest"."shotokuNendo" as "dbV2512KaigoShotokuNewest_shotokuNendo",
        "DbV2512KaigoShotokuNewest"."shikibetsuCode" as "dbV2512KaigoShotokuNewest_shikibetsuCode",
        "DbV2512KaigoShotokuNewest"."rirekiNo" as "dbV2512KaigoShotokuNewest_rirekiNo",
        "DbV2512KaigoShotokuNewest"."kazeiKubun" as "dbV2512KaigoShotokuNewest_kazeiKubun",
        "DbV2512KaigoShotokuNewest"."kazeiKubunGemmenGo" as "dbV2512KaigoShotokuNewest_kazeiKubunGemmenGo",
        "DbV2512KaigoShotokuNewest"."gokeiShotokuGaku" as "dbV2512KaigoShotokuNewest_gokeiShotokuGaku",
        "DbV2512KaigoShotokuNewest"."nenkiniShunyuGaku" as "dbV2512KaigoShotokuNewest_nenkiniShunyuGaku",
        "DbV2512KaigoShotokuNewest"."nenkiniShotokuGaku" as "dbV2512KaigoShotokuNewest_nenkiniShotokuGaku",
        "DbV2512KaigoShotokuNewest"."kazeiShotokuGaku" as "dbV2512KaigoShotokuNewest_kazeiShotokuGaku",  
        "DbV2512KaigoShotokuNewest"."gekihenKanwaKubun" as "dbV2512KaigoShotokuNewest_gekihenKanwaKubun",
        "DbV2512KaigoShotokuNewest"."yusenKubun" as "dbV2512KaigoShotokuNewest_yusenKubun",
        "DbV2512KaigoShotokuNewest"."shoriTimeStamp" as "dbV2512KaigoShotokuNewest_shoriTimeStamp",
        "DbV2512KaigoShotokuNewest"."motoRirekiNo" as "dbV2512KaigoShotokuNewest_motoRirekiNo",
        "DbV2512KaigoShotokuNewest"."torokuGyomu" as "dbV2512KaigoShotokuNewest_torokuGyomu"   
    </sql>
    
    
    <resultMap id="ResultMap_DbV2512KaigoShotokuNewestEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbV2512KaigoShotokuNewestEntity" autoMapping="true">
        <result property="shotokuNendo" column="dbV2512KaigoShotokuNewest_shotokuNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <result property="shikibetsuCode" column="dbV2512KaigoShotokuNewest_shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="rirekiNo" column="dbV2512KaigoShotokuNewest_rirekiNo" />
        <result property="kazeiKubun" column="dbV2512KaigoShotokuNewest_kazeiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kazeiKubunGemmenGo" column="dbV2512KaigoShotokuNewest_kazeiKubunGemmenGo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="gokeiShotokuGaku" column="dbV2512KaigoShotokuNewest_gokeiShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="nenkiniShunyuGaku" column="dbV2512KaigoShotokuNewest_nenkiniShunyuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="nenkiniShotokuGaku" column="dbV2512KaigoShotokuNewest_nenkiniShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="kazeiShotokuGaku" column="dbV2512KaigoShotokuNewest_kazeiShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="gekihenKanwaKubun" column="dbV2512KaigoShotokuNewest_gekihenKanwaKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="yusenKubun" column="dbV2512KaigoShotokuNewest_yusenKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shoriTimeStamp" column="dbV2512KaigoShotokuNewest_shoriTimeStamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YMDHMSTypeHandler"/>
        <result property="motoRirekiNo" column="dbV2512KaigoShotokuNewest_motoRirekiNo"/>
        <result property="torokuGyomu" column="dbV2512KaigoShotokuNewest_torokuGyomu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
    
    
    
    
    
    
    
    <sql id="allColumns_DbT3105SogoJigyoTaishosha">
         "DbT3105SogoJigyoTaishosha"."hihokenshaNo" as "dbT3105SogoJigyoTaishosha_hihokenshaNo",
         "DbT3105SogoJigyoTaishosha"."rirekiNo" as "dbT3105SogoJigyoTaishosha_rirekiNo",
         "DbT3105SogoJigyoTaishosha"."insertDantaiCd" as "dbT3105SogoJigyoTaishosha_insertDantaiCd",
         "DbT3105SogoJigyoTaishosha"."insertTimestamp" as "dbT3105SogoJigyoTaishosha_insertTimestamp",
         "DbT3105SogoJigyoTaishosha"."insertReamsLoginId" as "dbT3105SogoJigyoTaishosha_insertReamsLoginId",
         "DbT3105SogoJigyoTaishosha"."insertContextId" as "dbT3105SogoJigyoTaishosha_insertContextId",
         "DbT3105SogoJigyoTaishosha"."isDeleted" as "dbT3105SogoJigyoTaishosha_isDeleted",
         "DbT3105SogoJigyoTaishosha"."updateCount" as "dbT3105SogoJigyoTaishosha_updateCount",
         "DbT3105SogoJigyoTaishosha"."lastUpdateTimestamp" as "dbT3105SogoJigyoTaishosha_lastUpdateTimestamp",
         "DbT3105SogoJigyoTaishosha"."lastUpdateReamsLoginId" as "dbT3105SogoJigyoTaishosha_lastUpdateReamsLoginId",
         "DbT3105SogoJigyoTaishosha"."tekiyoKaishiYMD" as "dbT3105SogoJigyoTaishosha_tekiyoKaishiYMD",
         "DbT3105SogoJigyoTaishosha"."tekiyoShuryoYMD" as "dbT3105SogoJigyoTaishosha_tekiyoShuryoYMD",
         "DbT3105SogoJigyoTaishosha"."uketsukeYMD" as "dbT3105SogoJigyoTaishosha_uketsukeYMD",
         "DbT3105SogoJigyoTaishosha"."ketteiYMD" as "dbT3105SogoJigyoTaishosha_ketteiYMD",
         "DbT3105SogoJigyoTaishosha"."checklistJisshiYMD" as "dbT3105SogoJigyoTaishosha_checklistJisshiYMD"
    </sql>
    
    <resultMap id="ResultMap_DbT3105SogoJigyoTaishoshaEntity" type="jp.co.ndensan.reams.db.dbd.entity.db.basic.DbT3105SogoJigyoTaishoshaEntity" autoMapping="true">
        <id property="hihokenshaNo" column="dbT3105SogoJigyoTaishosha_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="rirekiNo" column="dbT3105SogoJigyoTaishosha_rirekiNo" />
        <result property="insertDantaiCd" column="dbT3105SogoJigyoTaishosha_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT3105SogoJigyoTaishosha_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT3105SogoJigyoTaishosha_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT3105SogoJigyoTaishosha_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT3105SogoJigyoTaishosha_isDeleted" />
        <result property="updateCount" column="dbT3105SogoJigyoTaishosha_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT3105SogoJigyoTaishosha_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT3105SogoJigyoTaishosha_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="tekiyoKaishiYMD" column="dbT3105SogoJigyoTaishosha_tekiyoKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="tekiyoShuryoYMD" column="dbT3105SogoJigyoTaishosha_tekiyoShuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="uketsukeYMD" column="dbT3105SogoJigyoTaishosha_uketsukeYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ketteiYMD" column="dbT3105SogoJigyoTaishosha_ketteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="checklistJisshiYMD" column="dbT3105SogoJigyoTaishosha_checklistJisshiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
    </resultMap>    
      
      <sql id="allColumns_DbT4001JukyushaDaicho_ido">
         "DbT4001JukyushaDaicho_ido"."shichosonCode" as "dbT4001JukyushaDaicho_ido_shichosonCode",
         "DbT4001JukyushaDaicho_ido"."hihokenshaNo" as "dbT4001JukyushaDaicho_ido_hihokenshaNo",
         "DbT4001JukyushaDaicho_ido"."rirekiNo" as "dbT4001JukyushaDaicho_ido_rirekiNo",
         "DbT4001JukyushaDaicho_ido"."edaban" as "dbT4001JukyushaDaicho_ido_edaban",
         "DbT4001JukyushaDaicho_ido"."jukyuShinseiJiyu" as "dbT4001JukyushaDaicho_ido_jukyuShinseiJiyu",
         "DbT4001JukyushaDaicho_ido"."insertDantaiCd" as "dbT4001JukyushaDaicho_ido_insertDantaiCd",
         "DbT4001JukyushaDaicho_ido"."insertTimestamp" as "dbT4001JukyushaDaicho_ido_insertTimestamp",
         "DbT4001JukyushaDaicho_ido"."insertReamsLoginId" as "dbT4001JukyushaDaicho_ido_insertReamsLoginId",
         "DbT4001JukyushaDaicho_ido"."insertContextId" as "dbT4001JukyushaDaicho_ido_insertContextId",
         "DbT4001JukyushaDaicho_ido"."isDeleted" as "dbT4001JukyushaDaicho_ido_isDeleted",
         "DbT4001JukyushaDaicho_ido"."updateCount" as "dbT4001JukyushaDaicho_ido_updateCount",
         "DbT4001JukyushaDaicho_ido"."lastUpdateTimestamp" as "dbT4001JukyushaDaicho_ido_lastUpdateTimestamp",
         "DbT4001JukyushaDaicho_ido"."lastUpdateReamsLoginId" as "dbT4001JukyushaDaicho_ido_lastUpdateReamsLoginId",
         "DbT4001JukyushaDaicho_ido"."shinseishoKanriNo" as "dbT4001JukyushaDaicho_ido_shinseishoKanriNo",
         "DbT4001JukyushaDaicho_ido"."shinseiJokyoKubun" as "dbT4001JukyushaDaicho_ido_shinseiJokyoKubun",
         "DbT4001JukyushaDaicho_ido"."shishoCode" as "dbT4001JukyushaDaicho_ido_shishoCode",
         "DbT4001JukyushaDaicho_ido"."chokkinFlag" as "dbT4001JukyushaDaicho_ido_chokkinFlag",
         "DbT4001JukyushaDaicho_ido"."shikibetsuCode" as "dbT4001JukyushaDaicho_ido_shikibetsuCode",
         "DbT4001JukyushaDaicho_ido"."shinseiRiyu" as "dbT4001JukyushaDaicho_ido_shinseiRiyu",
         "DbT4001JukyushaDaicho_ido"."shinseishaKankeiCode" as "dbT4001JukyushaDaicho_ido_shinseishaKankeiCode",
         "DbT4001JukyushaDaicho_ido"."homninKankei" as "dbT4001JukyushaDaicho_ido_homninKankei",
         "DbT4001JukyushaDaicho_ido"."jukyuShinseiYMD" as "dbT4001JukyushaDaicho_ido_jukyuShinseiYMD",
         "DbT4001JukyushaDaicho_ido"."nigoTokuteiShippeiCode" as "dbT4001JukyushaDaicho_ido_nigoTokuteiShippeiCode",
         "DbT4001JukyushaDaicho_ido"."shinsakaiIraiYMD" as "dbT4001JukyushaDaicho_ido_shinsakaiIraiYMD",
         "DbT4001JukyushaDaicho_ido"."yokaigoJotaiKubunCode" as "dbT4001JukyushaDaicho_ido_yokaigoJotaiKubunCode",
         "DbT4001JukyushaDaicho_ido"."ninteiYukoKikanKaishiYMD" as "dbT4001JukyushaDaicho_ido_ninteiYukoKikanKaishiYMD",
         "DbT4001JukyushaDaicho_ido"."ninteiYukoKikanShuryoYMD" as "dbT4001JukyushaDaicho_ido_ninteiYukoKikanShuryoYMD",
         "DbT4001JukyushaDaicho_ido"."ninteiYMD" as "dbT4001JukyushaDaicho_ido_ninteiYMD",
         "DbT4001JukyushaDaicho_ido"."minashiCode" as "dbT4001JukyushaDaicho_ido_minashiCode",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui01" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui01",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui02" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui02",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui03" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui03",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui04" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui04",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui05" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui05",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui06" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui06",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui07" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui07",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui08" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui08",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui09" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui09",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui10" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui10",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui11" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui11",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui12" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui12",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui13" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui13",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui14" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui14",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui15" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui15",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui16" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui16",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui17" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui17",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui18" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui18",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui19" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui19",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui20" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui20",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui21" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui21",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui22" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui22",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui23" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui23",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui24" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui24",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui25" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui25",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui26" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui26",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui27" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui27",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui28" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui28",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui29" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui29",
         "DbT4001JukyushaDaicho_ido"."shiteiServiceShurui30" as "dbT4001JukyushaDaicho_ido_shiteiServiceShurui30",
         "DbT4001JukyushaDaicho_ido"."soshitsuYMD" as "dbT4001JukyushaDaicho_ido_soshitsuYMD",
         "DbT4001JukyushaDaicho_ido"."chokkinIdoYMD" as "dbT4001JukyushaDaicho_ido_chokkinIdoYMD",
         "DbT4001JukyushaDaicho_ido"."chokkinIdoJiyuCode" as "dbT4001JukyushaDaicho_ido_chokkinIdoJiyuCode",
         "DbT4001JukyushaDaicho_ido"."yukoMukoKubun" as "dbT4001JukyushaDaicho_ido_yukoMukoKubun",
         "DbT4001JukyushaDaicho_ido"."dataKubun" as "dbT4001JukyushaDaicho_ido_dataKubun",
         "DbT4001JukyushaDaicho_ido"."remban" as "dbT4001JukyushaDaicho_ido_remban",
         "DbT4001JukyushaDaicho_ido"."idoRiyu" as "dbT4001JukyushaDaicho_ido_idoRiyu",
         "DbT4001JukyushaDaicho_ido"."shinseishoKubun" as "dbT4001JukyushaDaicho_ido_shinseishoKubun",
         "DbT4001JukyushaDaicho_ido"."sakujoJiyuCode" as "dbT4001JukyushaDaicho_ido_sakujoJiyuCode",
         "DbT4001JukyushaDaicho_ido"."yoshienshaNinteiShinseiFlag" as "dbT4001JukyushaDaicho_ido_yoshienshaNinteiShinseiFlag",
         "DbT4001JukyushaDaicho_ido"."shikyuGendoTanisu" as "dbT4001JukyushaDaicho_ido_shikyuGendoTanisu",
         "DbT4001JukyushaDaicho_ido"."shikyuGendoKaishiYMD" as "dbT4001JukyushaDaicho_ido_shikyuGendoKaishiYMD",
         "DbT4001JukyushaDaicho_ido"."shikyuGendoShuryoYMD" as "dbT4001JukyushaDaicho_ido_shikyuGendoShuryoYMD",
         "DbT4001JukyushaDaicho_ido"."tankiSikyuGendoNissu" as "dbT4001JukyushaDaicho_ido_tankiSikyuGendoNissu",
         "DbT4001JukyushaDaicho_ido"."tankiShikyuGendoKaishiYMD" as "dbT4001JukyushaDaicho_ido_tankiShikyuGendoKaishiYMD",
         "DbT4001JukyushaDaicho_ido"."tankiShikyuGendoShuryoYMD" as "dbT4001JukyushaDaicho_ido_tankiShikyuGendoShuryoYMD",
         "DbT4001JukyushaDaicho_ido"."toshoNinteiYukoKaishiYMD" as "dbT4001JukyushaDaicho_ido_toshoNinteiYukoKaishiYMD",
         "DbT4001JukyushaDaicho_ido"."toshoNinteiYukoShuryoYMD" as "dbT4001JukyushaDaicho_ido_toshoNinteiYukoShuryoYMD",
         "DbT4001JukyushaDaicho_ido"."jukyuShikakuShomeishoHakkoYMD1" as "dbT4001JukyushaDaicho_ido_jukyuShikakuShomeishoHakkoYMD1",
         "DbT4001JukyushaDaicho_ido"."jukyuShikakuShomeishoHakkoYMD2" as "dbT4001JukyushaDaicho_ido_jukyuShikakuShomeishoHakkoYMD2",
         "DbT4001JukyushaDaicho_ido"."shindanMeireishoHakkoYMD" as "dbT4001JukyushaDaicho_ido_shindanMeireishoHakkoYMD",
         "DbT4001JukyushaDaicho_ido"."nigoShinseiJuriTsuchishoHakkoYMD" as "dbT4001JukyushaDaicho_ido_nigoShinseiJuriTsuchishoHakkoYMD",
         "DbT4001JukyushaDaicho_ido"."ninteiKekkaTsuchishoHakkoYMD" as "dbT4001JukyushaDaicho_ido_ninteiKekkaTsuchishoHakkoYMD",
         "DbT4001JukyushaDaicho_ido"."kubunHenkoTsuchishoHakkoYMD" as "dbT4001JukyushaDaicho_ido_kubunHenkoTsuchishoHakkoYMD",
         "DbT4001JukyushaDaicho_ido"."serviceHenkoTsuchishoHakkoYMD" as "dbT4001JukyushaDaicho_ido_serviceHenkoTsuchishoHakkoYMD",
         "DbT4001JukyushaDaicho_ido"."ninteiKyakkaTsuchishoHakkoYMD" as "dbT4001JukyushaDaicho_ido_ninteiKyakkaTsuchishoHakkoYMD",
         "DbT4001JukyushaDaicho_ido"."ninteiTorikeshiTsuchishoHakkoYMD" as "dbT4001JukyushaDaicho_ido_ninteiTorikeshiTsuchishoHakkoYMD",
         "DbT4001JukyushaDaicho_ido"."shikakuShutokuMaeShinseiFlag" as "dbT4001JukyushaDaicho_ido_shikakuShutokuMaeShinseiFlag",
         "DbT4001JukyushaDaicho_ido"."kyuSochishaFlag" as "dbT4001JukyushaDaicho_ido_kyuSochishaFlag",
         "DbT4001JukyushaDaicho_ido"."logicalDeletedFlag" as "dbT4001JukyushaDaicho_ido_logicalDeletedFlag"
    </sql>
    
</mapper>