<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT5221NinteichosaScheduleマスタとエンティティのマッピング用XMLです。 -->
<!-- 作者： n1070 久保裕是 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.relate.ninteiChosaIkkatsu.INinteiChosaIkkatsuInputMapper">

    <!--認定調査スケジュール情報取得する-->
    <select id="getCount" parameterType="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT5221NinteichosaScheduleEntity" resultType="int">
        SELECT
        count(0)
        FROM
        rgdb."DbT5221NinteichosaSchedule" AS DbT5221
        WHERE
        DbT5221."ninteiChosaYoteiYMD" = #{認定調査予定年月日} AND
        DbT5221."chosaChikuCode" = #{調査地区コード} AND
        DbT5221."ninteiChosaItakusakiCode" = #{認定調査委託先コード} AND
        DbT5221."ninteiChosainCode" = #{認定調査員コード} AND
        DbT5221."shichosonCode" = #{市町村コード}
    </select>

    <!--認定調査予定情報削除する-->
    <delete id="getDelete" parameterType="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT5221NinteichosaScheduleEntity" >
        DELETE
        FROM
        rgdb."DbT5221NinteichosaSchedule" AS DbT5221
        WHERE
        DbT5221."ninteiChosaYoteiYMD" = #{認定調査予定年月日} AND
        DbT5221."chosaChikuCode" = #{調査地区コード} AND
        DbT5221."ninteiChosaItakusakiCode" = #{認定調査委託先コード} AND
        DbT5221."ninteiChosainCode" = #{認定調査員コード} AND
        DbT5221."shichosonCode" = #{市町村コード}
    </delete>

    <!--認定調査スケジュール情報インサート処理-->
    <insert id="getInsert" parameterType="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT5221NinteichosaScheduleEntity" >
        INSERT INTO
        rgdb."DbT5221NinteichosaSchedule" AS DbT5221(
        DbT5221."ninteiChosaYoteiYMD",
        DbT5221."ninteiChosaYoteiKaishiTime",
        DbT5221."ninteiChosaYoteiShuryoTime",
        DbT5221."ninteiChosaJikanWaku",
        DbT5221."chosaChikuCode",
        DbT5221."ninteiChosaItakusakiCode",
        DbT5221."ninteiChosainCode",
        DbT5221."shichosonCode",
        DbT5221."shinseishoKanriNo",
        DbT5221."yoyakuJokyo",
        DbT5221."yoyakuKaoFlag",
        DbT5221."biko",
        DbT5221."basho",
        DbT5221."chushajo",
        DbT5221."tachiainin1",
        DbT5221."renrakusaki1",
        DbT5221."tachiainin2",
        DbT5221."renrakusaki2",
        DbT5221."taishoshaMemo")
        VALUES(
        #{認定調査予定年月日},
        #{認定調査予定開始時間},
        #{認定調査予定終了時間},
        #{認定調査時間枠},
        #{調査地区コード},
        #{認定調査委託先コード},
        #{認定調査員コード},
        #{市町村コード},
        #{" "},
        #{0},
        #{0},
        #{" "},
        #{" "},
        #{" "},
        #{" "},
        #{" "},
        #{" "},
        #{" "},
        #{" "})
    </insert>
</mapper>
