<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBE-0290-030 dongyabin -->
<mapper namespace="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.relate.itakusakichosainichiran.IItakusakiChosainIchiranMapper">
    
    <resultMap id="haishameigihenkouiraiResult" type="jp.co.ndensan.reams.db.dbe.entity.db.relate.itakusakichosainichiran.ItakusakiChosainIchiranRelateEntity">
        <result property="dbT7051_ShichosonCode" column="市町村コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="dbT7051_ShichosonMeisho" column="市町村名称" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="dbT5910_NinteichosaItakusakiCode" column="調査委託先コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="dbT5910_JigyoshaMeishoKana" column="名称_ｶﾅ" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="dbT5910_JigyoshaMeisho" column="名称" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="dbT5910_DaihyoshaNameKana" column="代表者名_ｶﾅ" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="dbT5910_DaihyoshaName" column="代表者名" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="dbT5910_YubinNo" column="郵便番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler" />
        <result property="dbT5910_TelNo" column="連絡先" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.TelNoTypeHandler" />
        <result property="dbT5910_Jusho" column="住所" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="dbT5910_JokyoFlag" column="委託先状況" />
        <result property="dbT5913_NinteiChosainNo" column="調査員コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="dbT5913_ChosainKanaShimei" column="調査員氏名_ｶﾅ" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="dbT5913_ChosainShimei" column="調査員氏名" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="dbT5913_ChosainShikaku" column="資格コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="dbT5913_Seibetsu" column="性別" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="dbT5913_ShozokuKikanName" column="所属機関名" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="dbT5913_JokyoFlag" column="調査員状況" />
    </resultMap>
     
    <select resultOrdered="true" id="getNinteiChoSain"             parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.itakusakichosainichiran.ItakusakiChosainIchiranMybitisParamter" 
            resultMap="haishameigihenkouiraiResult" fetchSize="500">
        SELECT
            DbT7051."shichosonCode" AS 市町村コード,
            DbT7051."shichosonMeisho" AS 市町村名称,
            DbT5910."ninteichosaItakusakiCode" AS "調査委託先コード",
            DbT5910."jigyoshaMeishoKana" AS "名称_ｶﾅ",
            DbT5910."jigyoshaMeisho" AS "名称",
            DbT5910."daihyoshaNameKana" AS "代表者名_ｶﾅ",
            DbT5910."daihyoshaName" AS "代表者名",
            DbT5910."yubinNo" AS "郵便番号",
            DbT5910."telNo" AS "連絡先",
            DbT5910."jusho" AS "住所",
            DbT5910."jokyoFlag" AS "委託先状況",
            DbT5913."ninteiChosainCode" AS "調査員コード",
            DbT5913."chosainKanaShimei" AS "調査員氏名_ｶﾅ",
            DbT5913."chosainShimei" AS "調査員氏名",
            DbT5913."chosainShikaku" AS "資格コード",
            DbT5913."seibetsu" AS "性別",
            DbT5913."shozokuKikanName" AS "所属機関名",
            DbT5913."jokyoFlag" AS "調査員状況"
        FROM
            rgdb."DbT5913ChosainJoho" AS DbT5913,
            rgdb."DbT5910NinteichosaItakusakiJoho" AS DbT5910,
            rgdb."DbT7051KoseiShichosonMaster"  AS DbT7051
        WHERE
            DbT5910."shichosonCode" = DbT5913."shichosonCode"
            AND DbT5910."ninteichosaItakusakiCode" = DbT5913."ninteiChosaItakusakiCode"
            AND DbT5910."shichosonCode" = DbT7051."shichosonCode"
            <if test="shichosonCodeFlag">
            AND DbT5913."shichosonCode" = #{shichosonCode}
            </if>
            <if test="itakusakiCodeFromFlag">
                AND DbT5913."ninteiChosaItakusakiCode" <![CDATA[>=]]> #{itakusakiCodeFrom}
            </if>
            <if test="itakusakiCodeToFlag">
                AND DbT5913."ninteiChosaItakusakiCode" <![CDATA[<=]]> #{itakusakiCodeTo}
            </if>
            <if test="chosainNoFromFlag">
                AND DbT5913."ninteiChosainCode" <![CDATA[>=]]> #{chosainNoFrom}
            </if>
            <if test="chosainNoToFlag">
                AND DbT5913."ninteiChosainCode" <![CDATA[<=]]> #{chosainNoTo}
            </if>
            <if test="jyoukyouYuukouFlag">
                AND DbT5910."jokyoFlag" = true 
                AND DbT5913."jokyoFlag" = true
            </if>
            <if test="jyoukyouMukouFlag">
                AND DbT5910."jokyoFlag" = false 
                AND DbT5913."jokyoFlag" = false
            </if>
            <if test="narabiJunItakusakiCodeFlag">
                order by DbT5910."ninteichosaItakusakiCode",
                DbT5913."ninteiChosainCode"
            </if>
            <if test="narabiJunItakusakiCodeName">
                order by DbT5910."ninteichosaItakusakiCode",
                DbT5913."chosainShimei"
            </if>
            <if test="narabiJunItakusakiCodeKanaName">
                order by DbT5910."ninteichosaItakusakiCode",
                DbT5913."chosainKanaShimei"
            </if>
            <if test="narabiJunChosainCodeFlag">
                order by DbT5910."jigyoshaMeisho",
                DbT5913."ninteiChosainCode"
            </if>
            <if test="narabiJunChosainCodeName">
                order by DbT5910."jigyoshaMeisho",
                DbT5913."chosainShimei"
            </if>
            <if test="narabiJunChosainCodeKanaName">
                order by DbT5910."jigyoshaMeisho",
                DbT5913."chosainKanaShimei"
            </if>
    </select>
         
</mapper>
