<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： 被保険者情報の用XMLです。 -->
<!-- @reamsid_L DBU-4880-030 zhaoyao -->
<mapper namespace="jp.co.ndensan.reams.db.dbu.persistence.db.mapper.relate.tokuteikojinjohoteikyo.IHihokenshaJohoMapper">

    <select id="get提供情報_候補"
        parameterType="jp.co.ndensan.reams.db.dbu.definition.mybatisprm.tokuteikojinjohoteikyo.HihokenshaJohoMybatisParameter"
        resultType="jp.co.ndensan.reams.db.dbu.entity.db.relate.tokuteikojinjohoteikyo.HihokenshaJohoRelateEntity"
        resultOrdered="true" fetchSize="500">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbu.persistence.db.mapper.relate.tokuteikojinjohoteikyo.IHihokenshaJohoMapper.allColumns_HihokenshaDaicho" />
        FROM rgdb."DbT1001HihokenshaDaicho" AS DbT1001
        <if test="is当初または版改定">
            WHERE DbT1001."logicalDeletedFlag" = FALSE
            AND   DbT1001."shikakuShutokuYMD" <![CDATA[<>]]> DbT1001."shikakuSoshitsuYMD"
            AND   #{対象開始日時} <![CDATA[<]]> DbT1001."lastUpdateTimestamp"
            AND   DbT1001."lastUpdateTimestamp" <![CDATA[<=]]> #{対象終了日時}
        </if>
        <if test="is異動">
            WHERE DbT1001."logicalDeletedFlag" = FALSE
            AND   DbT1001."shikakuShutokuYMD" <![CDATA[<>]]> DbT1001."shikakuSoshitsuYMD"
            AND   DbT1001."hihokenshaNo" IN
            (
                SELECT
                DISTINCT DbT1001."hihokenshaNo"
                FROM rgdb."DbT1001HihokenshaDaicho" AS DbT1001
                WHERE #{対象開始日時} <![CDATA[<]]> DbT1001."lastUpdateTimestamp"
                AND   DbT1001."lastUpdateTimestamp" <![CDATA[<=]]> #{対象終了日時}
                UNION ALL
                SELECT
                DISTINCT DbT7304."hihokenshaNo"
                FROM rgdb."DbT7304TokuteiKojinJohoTeikyoKanri" AS DbT7304
                WHERE DbT7304."dataSetNo" = #{データセット番号}
                AND(
                    DbT7304."teikyoKubun" = #{提供区分_個人番号未設定により未提供}
                    OR DbT7304."teikyoKubun" = #{提供区分_その他エラーにより未提供}
                    )
            )
        </if>
        <if test="is再登録">
            WHERE DbT1001."logicalDeletedFlag" = FALSE
            AND   DbT1001."shikakuShutokuYMD" <![CDATA[<>]]> DbT1001."shikakuSoshitsuYMD"
            AND   DbT1001."hihokenshaNo" = #{個人番号付替対象者被保険者番号}
        </if>
        ORDER BY
            DbT1001."hihokenshaNo",
            DbT1001."idoYMD",
            DbT1001."edaNo"
    </select>
    
    <sql id="allColumns_HihokenshaDaicho">
            DbT1001."insertDantaiCd" AS insertDantaiCd,
            DbT1001."insertTimestamp" AS insertTimestamp,
            DbT1001."insertReamsLoginId" AS insertReamsLoginId,
            DbT1001."insertContextId" AS insertContextId,
            DbT1001."isDeleted" AS isDeleted,
            DbT1001."updateCount" AS updateCount,
            DbT1001."lastUpdateTimestamp" AS lastUpdateTimestamp,
            DbT1001."lastUpdateReamsLoginId" AS lastUpdateReamsLoginId,
            DbT1001."hihokenshaNo" AS hihokenshaNo,
            DbT1001."idoYMD" AS idoYMD,
            DbT1001."edaNo" AS edaNo,
            DbT1001."idoJiyuCode" AS idoJiyuCode,
            DbT1001."shichosonCode" AS shichosonCode,
            DbT1001."shikibetsuCode" AS shikibetsuCode,
            DbT1001."shikakuShutokuJiyuCode" AS shikakuShutokuJiyuCode,
            DbT1001."shikakuShutokuYMD" AS shikakuShutokuYMD,
            DbT1001."shikakuShutokuTodokedeYMD" AS shikakuShutokuTodokedeYMD,
            DbT1001."ichigoShikakuShutokuYMD" AS ichigoShikakuShutokuYMD,
            DbT1001."hihokennshaKubunCode" AS hihokennshaKubunCode,
            DbT1001."shikakuSoshitsuJiyuCode" AS shikakuSoshitsuJiyuCode,
            DbT1001."shikakuSoshitsuYMD" AS shikakuSoshitsuYMD,
            DbT1001."shikakuSoshitsuTodokedeYMD" AS shikakuSoshitsuTodokedeYMD,
            DbT1001."shikakuHenkoJiyuCode" AS shikakuHenkoJiyuCode,
            DbT1001."shikakuHenkoYMD" AS shikakuHenkoYMD,
            DbT1001."shikakuHenkoTodokedeYMD" AS shikakuHenkoTodokedeYMD,
            DbT1001."jushochitokureiTekiyoJiyuCode" AS jushochitokureiTekiyoJiyuCode,
            DbT1001."jushochitokureiTekiyoYMD" AS jushochitokureiTekiyoYMD,
            DbT1001."jushochitokureiTekiyoTodokedeYMD" AS jushochitokureiTekiyoTodokedeYMD,
            DbT1001."jushochitokureiKaijoJiyuCode" AS jushochitokureiKaijoJiyuCode,
            DbT1001."jushochitokureiKaijoYMD" AS jushochitokureiKaijoYMD,
            DbT1001."jushochitokureiKaijoTodokedeYMD" AS jushochitokureiKaijoTodokedeYMD,
            DbT1001."jushochiTokureiFlag" AS jushochiTokureiFlag,
            DbT1001."koikinaiJushochiTokureiFlag" AS koikinaiJushochiTokureiFlag,
            DbT1001."koikinaiTokureiSochimotoShichosonCode" AS koikinaiTokureiSochimotoShichosonCode,
            DbT1001."kyuShichosonCode" AS kyuShichosonCode,
            DbT1001."logicalDeletedFlag" AS logicalDeletedFlag
    </sql>
    
    <select id="get提供対象者"
            resultOrdered="true"
            resultMap="jp.co.ndensan.reams.db.dbu.persistence.db.mapper.relate.tokuteikojinjohoteikyo.ITokuteiKojinJohoTeikyoMapper.resultMap_getJukyushaTeikyoKihonJohoNNTempData"
            parameterType="jp.co.ndensan.reams.db.dbu.definition.mybatisprm.tokuteikojinjohoteikyo.HihokenshaJohoMybatisParameter"
            fetchSize="500">
        SELECT PSM."kojinNo" AS kojinNoPSM
        , teiKyoKihonJoho."hihokenshaNo"
        , teiKyoKihonJoho."dataSetKey"
        , teiKyoKihonJoho."teikyoKubun"
        , teiKyoKihonJoho."shikibetsuCode"
        , teiKyoKihonJoho."kojinNo"
        , teiKyoKihonJoho."tokuteiKojinJohoMeiCode"
        , teiKyoKihonJoho."hanNo"
        , teiKyoKihonJoho."teikyoNaiyo01"
        , teiKyoKihonJoho."misetteiJiyu01"
        , teiKyoKihonJoho."teikyoNaiyo02"
        , teiKyoKihonJoho."misetteiJiyu02"
        , teiKyoKihonJoho."teikyoNaiyo03"
        , teiKyoKihonJoho."misetteiJiyu03"
        , teiKyoKihonJoho."teikyoNaiyo04"
        , teiKyoKihonJoho."misetteiJiyu04"
        , teiKyoKihonJoho."teikyoNaiyo05"
        , teiKyoKihonJoho."misetteiJiyu05"
        , teiKyoKihonJoho."teikyoNaiyo06"
        , teiKyoKihonJoho."misetteiJiyu06"
        , teiKyoKihonJoho."teikyoNaiyo07"
        , teiKyoKihonJoho."misetteiJiyu07"
        , teiKyoKihonJoho."teikyoNaiyo08"
        , teiKyoKihonJoho."misetteiJiyu08"
        , teiKyoKihonJoho."teikyoNaiyo09"
        , teiKyoKihonJoho."misetteiJiyu09"
        , teiKyoKihonJoho."teikyoNaiyo10"
        , teiKyoKihonJoho."misetteiJiyu10"
        , teiKyoKihonJoho."kokaiYMD"
        FROM ${tempTableName} AS teiKyoKihonJoho
        INNER JOIN rgua.${psmShikibetsuTaisho} AS PSM
        ON teiKyoKihonJoho."shikibetsuCode" = PSM."shikibetsuCode"
        <if test="is異動">
            WHERE NOT EXISTS (SELECT 1
            FROM rgdb."DbT7304TokuteiKojinJohoTeikyoKanri" AS dbT7304
            WHERE dbT7304."hihokenshaNo" = teiKyoKihonJoho."hihokenshaNo"
            AND dbT7304."dataSetNo" = teiKyoKihonJoho."dataSetKey"
            AND dbT7304."tokuteiKojinJohoMeiCode" = teiKyoKihonJoho."tokuteiKojinJohoMeiCode"
            AND dbT7304."hanNo" = teiKyoKihonJoho."hanNo"
            AND dbT7304."soshinNaiyo01" = teiKyoKihonJoho."teikyoNaiyo01"
            AND dbT7304."soshinNaiyo02" = teiKyoKihonJoho."teikyoNaiyo02"
            AND dbT7304."soshinNaiyo03" = teiKyoKihonJoho."teikyoNaiyo03"
            AND dbT7304."soshinNaiyo04" = teiKyoKihonJoho."teikyoNaiyo04"
            AND dbT7304."soshinNaiyo05" = teiKyoKihonJoho."teikyoNaiyo05"
            AND dbT7304."soshinNaiyo06" = teiKyoKihonJoho."teikyoNaiyo06"
            AND dbT7304."soshinNaiyo07" = teiKyoKihonJoho."teikyoNaiyo07"
            AND dbT7304."soshinNaiyo08" = teiKyoKihonJoho."teikyoNaiyo08"
            AND dbT7304."soshinNaiyo09" = teiKyoKihonJoho."teikyoNaiyo09"
            AND dbT7304."soshinNaiyo10" = teiKyoKihonJoho."teikyoNaiyo10")
        </if>
    </select>
    
    <resultMap id="resultMap_getJukyushaTeikyoKihonJohoNNTempData"
               type="jp.co.ndensan.reams.db.dbu.entity.db.relate.tokuteikojinjohoteikyo.JukyushaTeikyoKihonJohoNNTempEntity"
               autoMapping="true">
        <id property="teikyoJohoKohoEntity.hihokenshaNo" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="teikyoJohoKohoEntity.dataSetKey" column="dataSetKey" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kojinNoPSM" column="kojinNoPSM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.KojinNoTypeHandler" />
        <association
            property="teikyoJohoKohoEntity"
            resultMap="jp.co.ndensan.reams.db.dbu.persistence.db.mapper.relate.tokuteikojinjohoteikyo.ITokuteiKojinJohoTeikyoMapper.resultMap_TeikyoKihonJohoNNTemp"/>
    </resultMap>
    
    <resultMap id="resultMap_TeikyoKihonJohoNNTemp"
               type="jp.co.ndensan.reams.db.dbu.entity.db.relate.tokuteikojinjohoteikyo.TeikyoKihonJohoNNTempEntity"
               autoMapping="true">
        <result property="hihokenshaNo" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler" />
        <result property="dataSetKey" column="dataSetKey" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="teikyoKubun" column="teikyoKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="shikibetsuCode" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler" />
        <result property="kojinNo" column="kojinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="tokuteiKojinJohoMeiCode" column="tokuteiKojinJohoMeiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="hanNo" column="hanNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="teikyoNaiyo01" column="teikyoNaiyo01" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="misetteiJiyu01" column="misetteiJiyu01" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="teikyoNaiyo02" column="teikyoNaiyo02" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="misetteiJiyu02" column="misetteiJiyu02" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="teikyoNaiyo03" column="teikyoNaiyo03" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="misetteiJiyu03" column="misetteiJiyu03" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="teikyoNaiyo04" column="teikyoNaiyo04" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="misetteiJiyu04" column="misetteiJiyu04" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="teikyoNaiyo05" column="teikyoNaiyo05" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="misetteiJiyu05" column="misetteiJiyu05" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="teikyoNaiyo06" column="teikyoNaiyo06" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="misetteiJiyu06" column="misetteiJiyu06" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="teikyoNaiyo07" column="teikyoNaiyo07" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="misetteiJiyu07" column="misetteiJiyu07" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="teikyoNaiyo08" column="teikyoNaiyo08" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="misetteiJiyu08" column="misetteiJiyu08" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="teikyoNaiyo09" column="teikyoNaiyo09" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="misetteiJiyu09" column="misetteiJiyu09" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="teikyoNaiyo10" column="teikyoNaiyo10" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="misetteiJiyu10" column="misetteiJiyu10" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
    </resultMap>
</mapper>