<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： 負担割合の用XMLです。 -->
<!-- @reamsid_L DBU-4880-060 zhaoyao -->
<mapper namespace="jp.co.ndensan.reams.db.dbu.persistence.db.mapper.relate.tokuteikojinjohoteikyo.IRiyoshaFutanwariaiMapper">
    
    <select id="get提供情報_候補"
    parameterType="jp.co.ndensan.reams.db.dbu.definition.mybatisprm.tokuteikojinjohoteikyo.RiyoshaFutanwariaiMybatisParameter"
    resultType="jp.co.ndensan.reams.db.dbu.entity.db.relate.tokuteikojinjohoteikyo.RiyoshaFutanwariaiRelateEntity"
    resultOrdered="true" fetchSize="500">
        SELECT 
            DbV3114."nendo",
            DbV3114."hihokenshaNo",
            DbV3114."rirekiNo",
            DbV3114."edaNo",
            DbV3114."futanWariaiKubun",
            DbV3114."yukoKaishiYMD",
            DbV3114."yukoShuryoYMD",
            DbV1001."shikibetsuCode"
        FROM rgdb."DbV3114RiyoshaFutanWariaiMeisai" AS DbV3114
        LEFT JOIN rgdb."DbV1001HihokenshaDaicho" AS DbV1001
        ON DbV3114."hihokenshaNo" = DbV1001."hihokenshaNo"
        <if test = "is当初または版改定">
            WHERE DbV3114."meisailogicalDeletedFlag" = FALSE
            AND DbV3114."hihokenshaNo" IN
            (
                    SELECT
                            DISTINCT DbT3114."hihokenshaNo"
                    FROM
                    rgdb."DbT3114RiyoshaFutanWariaiMeisai" DbT3114
                    WHERE #{対象開始日時} <![CDATA[<]]> DbT3114."lastUpdateTimestamp"
                    AND DbT3114."lastUpdateTimestamp" <![CDATA[<=]]> #{対象終了日時}
            )
        </if>
        <if test = "is再登録">
            WHERE DbV3114."hihokenshaNo" = #{個人番号付替対象者被保険者番号}
            AND DbV3114."logicalDeletedFlag" = FALSE
        </if>
        <if test = "is異動">
            WHERE DbV3114."meisailogicalDeletedFlag" = FALSE
            AND DbV3114."hihokenshaNo" IN
            (
                    SELECT
                            DISTINCT DbT3114."hihokenshaNo"
                    FROM
                    rgdb."DbT3114RiyoshaFutanWariaiMeisai" DbT3114
                    WHERE #{対象開始日時} <![CDATA[<]]> DbT3114."lastUpdateTimestamp"
                    AND DbT3114."lastUpdateTimestamp" <![CDATA[<]]> #{対象終了日時}
                    UNION ALL
                    SELECT
                            DISTINCT DbT7304."hihokenshaNo"
                    FROM
                    rgdb."DbT7304TokuteiKojinJohoTeikyoKanri" DbT7304
                    WHERE DbT7304."dataSetNo" = #{データセット番号_0202利用者割合}
                    AND (DbT7304."teikyoKubun" = #{提供区分_個人番号未設定}
                         OR DbT7304."teikyoKubun" = #{提供区分_その他エラー}
                            )
            )
        </if>
        ORDER BY
        DbV3114."hihokenshaNo" DESC,
        DbV3114."nendo" DESC,
        DbV3114."rirekiNo" DESC,
        DbV3114."edaNo" DESC
    </select>
    
        <select resultOrdered="true" id="get提供対象者" resultMap="ResultMap_TeyikyouTayisyousyaJyohouRelateEntity"
            parameterType="jp.co.ndensan.reams.db.dbu.definition.mybatisprm.tokuteikojinjohoteikyo.RiyoshaFutanwariaiMybatisParameter" fetchSize="500">
        SELECT 
            psm."kojinNo",
            <include refid="jp.co.ndensan.reams.db.dbu.persistence.db.mapper.relate.tokuteikojinjohoteikyo.IRiyoshaFutanwariaiMapper.allColumns_TeikyoKihonJoho" />
         FROM ${tempTableName} AS teikyoKihonJoho
        INNER JOIN rgua.${psmShikibetsuTaisho} AS psm
            ON psm."shikibetsuCode" = teikyoKihonJoho."shikibetsuCode"
        <if test = "is異動">
        WHERE NOT EXISTS(  SELECT 1
                            FROM rgdb."DbT7304TokuteiKojinJohoTeikyoKanri" AS dbT7304
                           WHERE teikyoKihonJoho."hihokenshaNo" = dbT7304."hihokenshaNo"
                              AND teikyoKihonJoho."dataSetKey" = dbT7304."dataSetNo"
                              AND teikyoKihonJoho."tokuteiKojinJohoMeiCode" = dbT7304."tokuteiKojinJohoMeiCode"
                              AND teikyoKihonJoho."hanNo" = dbT7304."hanNo"
                              AND teikyoKihonJoho."teikyoNaiyo01" = dbT7304."soshinNaiyo01"
                              AND teikyoKihonJoho."teikyoNaiyo02" = dbT7304."soshinNaiyo02"
                              AND teikyoKihonJoho."teikyoNaiyo03" = dbT7304."soshinNaiyo03"
                              AND teikyoKihonJoho."teikyoNaiyo04" = dbT7304."soshinNaiyo04"
                              AND teikyoKihonJoho."teikyoNaiyo05" = dbT7304."soshinNaiyo05"
                              AND teikyoKihonJoho."teikyoNaiyo06" = dbT7304."soshinNaiyo06"
                              AND teikyoKihonJoho."teikyoNaiyo07" = dbT7304."soshinNaiyo07"
                              AND teikyoKihonJoho."teikyoNaiyo08" = dbT7304."soshinNaiyo08"
                              AND teikyoKihonJoho."teikyoNaiyo09" = dbT7304."soshinNaiyo09"
                              AND teikyoKihonJoho."teikyoNaiyo10" = dbT7304."soshinNaiyo10")
        </if>
    </select>
    
    <sql id="allColumns_TeikyoKihonJoho">
         teikyoKihonJoho."hihokenshaNo" AS "teikyoKihonJoho_hihokenshaNo",
         teikyoKihonJoho."dataSetKey" AS "teikyoKihonJoho_dataSetKey",
         teikyoKihonJoho."teikyoKubun" AS "teikyoKihonJoho_teikyoKubun",
         teikyoKihonJoho."shikibetsuCode" AS "teikyoKihonJoho_shikibetsuCode",
         teikyoKihonJoho."kojinNo" AS "teikyoKihonJoho_kojinNo",
         teikyoKihonJoho."tokuteiKojinJohoMeiCode" AS "teikyoKihonJoho_tokuteiKojinJohoMeiCode",
         teikyoKihonJoho."hanNo" AS "teikyoKihonJoho_hanNo",
         teikyoKihonJoho."teikyoNaiyo01" AS "teikyoKihonJoho_teikyoNaiyo01",
         teikyoKihonJoho."misetteiJiyu01" AS "teikyoKihonJoho_misetteiJiyu01",
         teikyoKihonJoho."teikyoNaiyo02" AS "teikyoKihonJoho_teikyoNaiyo02",
         teikyoKihonJoho."misetteiJiyu02" AS "teikyoKihonJoho_misetteiJiyu02",
         teikyoKihonJoho."teikyoNaiyo03" AS "teikyoKihonJoho_teikyoNaiyo03",
         teikyoKihonJoho."misetteiJiyu03" AS "teikyoKihonJoho_misetteiJiyu03",
         teikyoKihonJoho."teikyoNaiyo04" AS "teikyoKihonJoho_teikyoNaiyo04",
         teikyoKihonJoho."misetteiJiyu04" AS "teikyoKihonJoho_misetteiJiyu04",
         teikyoKihonJoho."teikyoNaiyo05" AS "teikyoKihonJoho_teikyoNaiyo05",
         teikyoKihonJoho."misetteiJiyu05" AS "teikyoKihonJoho_misetteiJiyu05",
         teikyoKihonJoho."teikyoNaiyo06" AS "teikyoKihonJoho_teikyoNaiyo06",
         teikyoKihonJoho."misetteiJiyu06" AS "teikyoKihonJoho_misetteiJiyu06",
         teikyoKihonJoho."teikyoNaiyo07" AS "teikyoKihonJoho_teikyoNaiyo07",
         teikyoKihonJoho."misetteiJiyu07" AS "teikyoKihonJoho_misetteiJiyu07",
         teikyoKihonJoho."teikyoNaiyo08" AS "teikyoKihonJoho_teikyoNaiyo08",
         teikyoKihonJoho."misetteiJiyu08" AS "teikyoKihonJoho_misetteiJiyu08",
         teikyoKihonJoho."teikyoNaiyo09" AS "teikyoKihonJoho_teikyoNaiyo09",
         teikyoKihonJoho."misetteiJiyu09" AS "teikyoKihonJoho_misetteiJiyu09",
         teikyoKihonJoho."teikyoNaiyo10" AS "teikyoKihonJoho_teikyoNaiyo10",
         teikyoKihonJoho."misetteiJiyu10" AS "teikyoKihonJoho_misetteiJiyu10",
         teikyoKihonJoho."kokaiYMD" AS "teikyoKihonJoho_kokaiYMD"
    </sql>


    <resultMap id="ResultMap_TeyikyouTayisyousyaJyohouRelateEntity" type="jp.co.ndensan.reams.db.dbu.entity.db.relate.tokuteikojinjohoteikyo.TeyikyouTayisyousyaJyohouRelateEntity" autoMapping="true">
        <id property="teikyoKihonJohoNNTempEntity.hihokenshaNo" column="teikyoKihonJoho_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="teikyoKihonJohoNNTempEntity.dataSetKey" column="teikyoKihonJoho_dataSetKey" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kojinNo" column="kojinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.KojinNoTypeHandler"/>
        <association property="teikyoKihonJohoNNTempEntity" resultMap="jp.co.ndensan.reams.db.dbu.persistence.db.mapper.relate.tokuteikojinjohoteikyo.IRiyoshaFutanwariaiMapper.ResultMap_TeikyoKihonJohoNNTempEntity"/>
    </resultMap>

    <resultMap id="ResultMap_TeikyoKihonJohoNNTempEntity" type="jp.co.ndensan.reams.db.dbu.entity.db.relate.tokuteikojinjohoteikyo.TeikyoKihonJohoNNTempEntity" autoMapping="true">
        <id property="hihokenshaNo" column="teikyoKihonJoho_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="dataSetKey" column="teikyoKihonJoho_dataSetKey" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="teikyoKubun" column="teikyoKihonJoho_teikyoKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shikibetsuCode" column="teikyoKihonJoho_shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="kojinNo" column="teikyoKihonJoho_kojinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="tokuteiKojinJohoMeiCode" column="teikyoKihonJoho_tokuteiKojinJohoMeiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hanNo" column="teikyoKihonJoho_hanNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="dataSetNo" column="teikyoKihonJoho_dataSetNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="tateNo" column="teikyoKihonJoho_tateNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="teikyoNaiyo01" column="teikyoKihonJoho_teikyoNaiyo01" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="misetteiJiyu01" column="teikyoKihonJoho_misetteiJiyu01" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="teikyoNaiyo02" column="teikyoKihonJoho_teikyoNaiyo02" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="misetteiJiyu02" column="teikyoKihonJoho_misetteiJiyu02" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="teikyoNaiyo03" column="teikyoKihonJoho_teikyoNaiyo03" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="misetteiJiyu03" column="teikyoKihonJoho_misetteiJiyu03" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="teikyoNaiyo04" column="teikyoKihonJoho_teikyoNaiyo04" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="misetteiJiyu04" column="teikyoKihonJoho_misetteiJiyu04" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="teikyoNaiyo05" column="teikyoKihonJoho_teikyoNaiyo05" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="misetteiJiyu05" column="teikyoKihonJoho_misetteiJiyu05" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="teikyoNaiyo06" column="teikyoKihonJoho_teikyoNaiyo06" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="misetteiJiyu06" column="teikyoKihonJoho_misetteiJiyu06" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="teikyoNaiyo07" column="teikyoKihonJoho_teikyoNaiyo07" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="misetteiJiyu07" column="teikyoKihonJoho_misetteiJiyu07" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="teikyoNaiyo08" column="teikyoKihonJoho_teikyoNaiyo08" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="misetteiJiyu08" column="teikyoKihonJoho_misetteiJiyu08" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="teikyoNaiyo09" column="teikyoKihonJoho_teikyoNaiyo09" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="misetteiJiyu09" column="teikyoKihonJoho_misetteiJiyu09" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="teikyoNaiyo10" column="teikyoKihonJoho_teikyoNaiyo10" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="misetteiJiyu10" column="teikyoKihonJoho_misetteiJiyu10" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kokaiYMD" column="teikyoKihonJoho_kokaiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
    </resultMap>
</mapper>