<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--


-->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.mappers.KogakuKyufuKetteiDataTempTableMapper">
    
    <resultMap id="resultMap_YishiEntity" type="jp.co.ndensan.reams.db.dbc.entity.db.basic.YishiEntity" autoMapping="true">
        <result property="決定者受取年月" column="決定者受取年月" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="証記載保険者番号" column="証記載保険者番号" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HokenshaNoTypeHandler"/>
        <result property="被保険者番号" column="被保険者番号" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="サービス提供年月" column="サービス提供年月" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="通知書番号" column="通知書番号," typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="利用者負担額" column="利用者負担額" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="支給区分コード" column="支給区分コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="決定年月" column="決定年月" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="高額支給額" column="高額支給額" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
    </resultMap>
    
    <select id="select一時TBLデータ" resultMap="resultMap_YishiEntity" fetchSize="500">
        SELECT {処理年月} AS 決定者受取年月,
        KETTEI."証記載保険者番号" AS 証記載保険者番号,
        KETTEI."被保険者番号" AS 被保険者番号,
        KETTEI."サービス提供年月" AS サービス提供年月
        KETTEI."No" AS 通知書番号,
        KETTEI."利用者負担額" AS 利用者負担額,
        KETTEI."支給区分コード" AS 支給区分コード,
        KETTEI."決定年月" AS 決定年月,
        KETTEI."高額支給額" AS 高額支給額
        KETTEI.
        FROM "TABLE_KOGAKUKYUFUKETTEI" AS KETTEI
    </select>
    
    
    <resultMap id="resultMap_HihokenshaNo" type="jp.co.ndensan.reams.db.dbc.entity.db.relate.kogakukyufuketteiin.KogakuKyufuKetteiInTempTableEntity" autoMapping="true">
        <result property="被保険者番号" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
    </resultMap>
    
    <select id="select被保険者番号" resultMap="resultMap_HihokenshaNo" fetchSize="500">
        SELECT DISTINCT 
        KETTEI."hihokenshaNo"
        FROM "TABLE_KOGAKUKYUFUKETTEI" AS KETTEI
    </select>
        
        
    <resultMap id="resultMap_ShichosonCode" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT1001HihokenshaDaichoEntity" autoMapping="true">
        <result property="市町村コード" column="shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
    </resultMap>
        
    <select id="select市町村コード" resultMap="resultMap_ShichosonCode" 
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.kagoketteikohifutanshain.ShichosonHihokenshaParameter">
        SELECT 
        DACHI."shichosonCode"
        FROM rgdb."DbT1001HihokenshaDaicho" AS DACHI
        WHERE DACHI."hihokenshaNo"=#{被保険者番号}
        AND DACHI."logicalDeletedFlag"<![CDATA[<>]]> TRUE
        ORDER BY DACHI."hihokenshaNo" DESC,
              DACHI."idoYMD" DESC,
              DACHI."edaNo" DESC
     LIMIT(1)
    </select>
    
   <resultMap id="resultMap_DbT7026ShinKyuHihokenshaNoHenkanEntity" 
               type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT7026ShinKyuHihokenshaNoHenkanEntity"
               autoMapping="true">
        <result property="新番号" column="shinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="旧番号" column="kyuNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
   
    <select id="select新番号" resultMap="resultMap_DbT7026ShinKyuHihokenshaNoHenkanEntity" 
    parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.kagoketteikohifutanshain.ShichosonHihokenshaParameter">
        SELECT 
        HENKAN."shinNo",
        HENKAN."kyuNo"
        FROM rgdb."DbT7026ShinKyuHihokenshaNoHenkan" AS HENKAN
        WHERE HENKAN."shichosonCode"= #{市町村コード}
        AND HENKAN."kyuNo"=#{被保険者番号}
    </select>
    
    <resultMap id="resultMap_DbT1001HihokenshaDaichoEntity" 
               type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT1001HihokenshaDaichoEntity"
               autoMapping="true">
        <result property="被保険者番号" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="識別コード" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="資格喪失事由コード" column="shikakuSoshitsuJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="資格喪失年月日" column="shikakuSoshitsuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
    </resultMap>
 
    <select id="select被保険者情報" resultMap="resultMap_DbT1001HihokenshaDaichoEntity">
        SELECT DACHI."hihokenshaNo",
        DACHI."shikibetsuCode",
        DACHI."shikakuSoshitsuJiyuCode",
        DACHI."shikakuSoshitsuYMD"
        FROM rgdb."DbT1001HihokenshaDaicho" AS DACHI
        WHERE DACHI"hihokenshaNo"="TABLE_KOGAKUKYUFUKETTEI"."hihokenshaNo";
        AND DACHI."logicalDeletedFlag"<>true
        ORDER BY DACHI."hihokenshaNo" DESC,
        DACHI."idoYMD" DESC,
        DACHI."edaNo" DESC
       LIMIT(1)
    </select>
    
    <resultMap id="resultMap_ShikibetsuCode"
               type="jp.co.ndensan.reams.db.dbc.entity.db.relate.kogakukyufuketteiin.KogakuKyufuKetteiInTempTableEntity"
               autoMapping="true">
        <result property="識別コード" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShikibetsuCodeTypeHandler"/>
    </resultMap>
 
    <select id="select一時デーブルから識別コード" resultMap="resultMap_ShikibetsuCode" fetchSize="500">
        SELECT DISTINCT
        KETTEI."shikibetsuCode"
        FROM "TABLE_KOGAKUKYUFUKETTEI" AS KETTEI
    </select>
    
    <resultMap id="resultMap_PSM"
               type="jp.co.ndensan.reams.db.dbc.entity.db.relate.kogakukyufuketteiin.PSMEntity"
               autoMapping="true">
        <result property="識別コード" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="全国住所コード" column="zenkokuJushoCode" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ZenkokuJushoCodeTypeHandler"/>
        <result property="郵便番号" column="zenkokuJushoCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler"/>
        <result property="住所" column="jusho" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.RStringTypeHandler"/>
        <result property="行政区コード" column="gyoseikuCode" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.GyoseikuCodeTypehandler"/>
        <result property="行政区名" column="gyoseikuName" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.RStringTypeHandler"/>
        <result property="カナ名称" column="atenaKanaMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaKanaMeishoTypeHandler"/>
        <result property="名称" column="atenaMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
    </resultMap>
    
    <select id="select宛名識別対象PSM"
            resultMap="resultMap_PSM"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.kagoketteikohifutanshain.PSMParameter">
        SELECT ShikibetsuTaisho."shikibetsuCode",
               ShikibetsuTaisho."zenkokuJushoCode",
               ShikibetsuTaisho."YubinNo",
               ShikibetsuTaisho."wuchi",
               ShikibetsuTaisho."gyoseikuCode",
               ShikibetsuTaisho."gyoseiku",
               ShikibetsuTaisho."atenaKanaMeisho",
               ShikibetsuTaisho."atenaMeisho"
        FROM <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.tableName_PsmParamClassShikibetsuTaisho" />
        AS ShikibetsuTaisho
    </select>
    
    <update id="update高額サービス費決定情報一時TBL1"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.core.kogakuserviceketteijohotorikomidatahenshu.SinBangoTempParameter">
        UPDATE "TABLE_KOGAKUKYUFUKETTEI"
        SET "hihokenshaNo" = KETTEI."新番号"
        FROM　"TABLE_KOGAKUKYUFUKETTEI" AS KETTEI
        WHERE "hihokenshaNo" = KETTEI."旧番号"
    </update>
  
    <update id="update高額サービス費決定情報一時TBL2" 
            parameterType="jp.co.ndensan.reams.db.dbc.definition.core.kogakuserviceketteijohotorikomidatahenshu.HihokenshaNoDataParameter">
        UPDATE "TABLE_KOGAKUKYUFUKETTEI"
        WHERE "hihokenshaNo"=#{被保険者番号};
        SET "shikibetsuCode"=#{識別コード};
        "shikakuSoshitsuJiyu"=#{喪失事由コード};
        "shikakuSoshitsuYMD"=#{資格喪失年月日};
    </update>
    
    
    <update id="update高額サービス費決定情報一時TBL3" 
    parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.kagoketteikohifutanshain.ShikibetsuCodeTempParameter">
        UPDATE "TABLE_KOGAKUKYUFUKETTEI"
        WHERE "shikibetsuCode"=#{識別コード}
        SET "zenkokuJushoCode"=#{全国住所コード}
        "wuchi"=#{住所}
        "YubinNo"=#{郵便番号}
        "gyoseikuCode"=#{行政区コード}
        "gyoseiku"=#{行政区}
        "atenaKanaMeisho"=#{氏名カナ}
        "atenaMeisho"=#{氏名}
    </update>
    
    
    <insert id="creat高額サービス費決定情報一時テーブル">
        CREATE TEMP TABLE "TABLE_KOGAKUKYUFUKETTEI"
        (
            "kokanJohoShikibetsuNo" character(2),
            "chohyoRecordShubetsuHeader" character(1),
            "shoKisaiHokenshaNo" rgdb."DbUDD003HokenshaNo",
            "hokensha" character(2),
            "sakuseiYMD" rshare."UDD015YMD",
            "guobaolianhe" character(2),
            "chohyoRecordShubetsu" character(2),
            "no" integer,
            "hihokenshaNo" rgdb."DbUDD003HokenshaNo",
            "hihokenshaShimei" rshare."UDD042AtenaMeisho",
            "serviceTeikyoYM" rshare."UDD014YM",
            "riyoshaFutangaku" Decimal,
            "shikyuKubunCode" character(1) ,
            "ketteiYM" rshare."UDD014YM",
            "kogakuShikyuGaku" Decimal ,
            "shiharaiHohoKubunCode" character(2),
            "shiharaiBasho" character(2),
            "yukoFromYMD" rshare."UDD015YMD",
            "shuryoYMD" rshare."UDD015YMD",
            "zhouFromD" character(3),
            "zhoutoD" character(3),
            "kaishiTime" character(2),
            "endTime" character(2),
            "kinyuKikanCode" rshare."UDD030KinyuKikanCode",
            "kinyuKikanName" character(2),
            "kinyuKikanzhidianCode" rshare."UDD031KinyuKikanShitenCode",
            "kinyuKikanzhidianName" character(2),
            "kozaZhongMu" character(2),
            "kozaZhongMuName" character(2),
            "kozaNo" character(2),
            "kozaMeiginin" rshare."UDD042AtenaMeisho",
            "shikibetsuCode" rshare."UDD001ShikibetsuCode",
            "shikakuSoshitsuJiyu" character(2),
            "shikakuSoshitsuYMD" rshare."UDD015YMD",
            "zenkokuJushoCode" character(2),
            "YubinNo" rshare."UDD003YubinNo",
            "wuchi" rshare."UDD046AtenaJusho" ,
            "gyoseikuCode" rshare."UDD008GyoseikuCode",
            "gyoseiku" character(2),
            "atenaKanaMeisho" rshare."UDD043AtenaKanaMeisho",
            "atenaMeisho" rshare."UDD042AtenaMeisho"
        )
    </insert>
    
    <insert id="insert高額サービス費決定情報一時テーブル"
            parameterType="jp.co.ndensan.reams.db.dbc.entity.db.relate.kogakukyufuketteiin.KogakuKyufuKetteiInTempTableEntity">
        INSERT INTO "TABLE_KOGAKUKYUFUKETTEI"
        VALUES (
            #{交換情報識別番号},
            #{帳票レコード種別ヘッダ部},
            #{証記載保険者番号},
            #{保険者名},
            #{作成年月日},
            #{国保連合会名},
            #{帳票レコード種別},
            #{No},
            #{被保険者氏名},
            #{サービス提供年月},
            #{利用者負担額},
            #{支給区分コード},
            #{決定年月},
            #{高額支給額},
            #{支払方法区分コード},
            #{支払場所},
            #{開始年月日},
            #{終了年月日},
            #{開始曜日},
            #{終了曜日},
            #{開始時間},
            #{終了時間},
            #{金融機関コード},
            #{金融機関名},
            #{金融機関支店コード},
            #{金融機関支店名},
            #{口座種目},
            #{口座種目名},
            #{口座番号},
            #{口座名義人カナ}
        )
    </insert>
    
    <resultMap id="resultMap_GaoesabisifeiyilanEntity"
               type="jp.co.ndensan.reams.db.dbc.entity.db.basic.GaoesabisifeiyilanEntity"
               autoMapping="true">
        <result property="通知書番号" column="通知書番号" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.RStringTypeHandler"/>
        <result property="被保険者番号" column="被保険者番号" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="氏名カナ" column="氏名カナ" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaKanaMeishoTypeHandler"/>
        <result property="氏名" column="氏名" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="サービス提供年月" column="サービス提供年月" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="決定年月" column="決定年月" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="支払可否" column="支払可否" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.RStringTypeHandler"/>
        <result property="支払方法" column="支払方法" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.RStringTypeHandler"/>
        <result property="利用者負担額" column="利用者負担額" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="決定支給額" column="決定支給額" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="喪失事由" column="喪失事由" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.RStringTypeHandler"/>
        <result property="喪失年月日" column="喪失年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="住所コード" column="住所コード" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.RStringTypeHandler"/>
        <result property="行政区コード" column="行政区コード" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.RStringTypeHandler"/>
        <result property="郵便番号" column="郵便番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler"/>
        <result property="住所" column="住所" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaJushoTypeHandler"/>
        <result property="行政区" column="行政区" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.RStringTypeHandler"/>
        <result property="備考" column="備考" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.RStringTypeHandler"/>
        <result property="国保連合会名" column="国保連合会名" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.RStringTypeHandler"/>
        <result property="証記載保険者番号" column="証記載保険者番号" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HokenshaNoTypeHandler"/>
        <result property="保険者名" column="保険者名" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.RStringTypeHandler"/>
    </resultMap>
    
    <select id="select一時TBLから高額サービス費決定情報一覧リスト"
            resultMap="resultMap_GaoesabisifeiyilanEntity"
            fetchSize="500">
        SELECT KETTEI."No" AS 通知書番号,
        KETTEI."被保険者番号" AS 被保険者番号,
        KETTEI."氏名カナ" AS 氏名カナ,
        KETTEI."氏名" AS 氏名,
        KETTEI."サービス提供年月" AS サービス提供年月,
        KETTEI."決定年月" AS 決定年月,
        CASE WHEN KETTEI."支給区分コード"=#{1}
        THEN 可
        ELSE 不可 AS 支払可否
        CASE WHEN KETTEI."支払方法区分コード"=#{1}
        THEN 窓口
        ELSE 口座 AS 支払方法
        KETTEI."利用者負担額" AS 利用者負担額,
        KETTEI."高額支給額" AS 高額支給額,
        KETTEI."資格喪失事由" AS 喪失事由,
        KETTEI."資格喪失年月日" AS 喪失年月日,
        KETTEI."全国住所コード" AS 住所コード,
        KETTEI."行政区コード" AS 行政区コード,
        KETTEI."郵便番号" AS 郵便番号,
        KETTEI."住所" AS 住所,
        KETTEI."行政区" AS 行政区,
        NULL AS 備考,
        KETTEI."国保連合会名" AS 国保連合会名,
        KETTEI."証記載保険者番号" AS 証記載保険者番号,
        KETTEI."保険者名" AS 保険者名,
        FROM "TABLE_KOGAKUKYUFUKETTEI" AS KETTEI
    </select>
    
    
    
    
</mapper>

