<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： 給付費通知書作成(一括)のマッピング用XMLです。 -->
<!-- @reamsid_L DBC-2280-030 lizhuoxuan -->

<!-- どのマッパーインターフェースと対応するかを指定する -->

<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.kyufuhitsuchisho.IKyufuhiTsuchishoMapper">
    <resultMap id="resultMap_getSeikatsuHogoJukyusha" type="jp.co.ndensan.reams.db.dbc.entity.db.relate.kyufuhituchihakkoichiran.KyufuhiTuchiHakkoEntity" autoMapping="true">
        <result property="被保険者番号" column="被保険者番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="証記載保険者番号" column="証記載保険者番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="サービス提供年月" column="サービス提供年月" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="要介護状態区分コード" column="要介護状態区分コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="事業所番号" column="事業所番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="事業者名称" column="事業者名称" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="サービス種類コード" column="サービス種類コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="サービス項目コード" column="サービス項目コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="証記載保険者名" column="証記載保険者名" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="サービス名称" column="サービス名称" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="日数_回数" column="日数_回数" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="利用者負担額" column="利用者負担額" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="サービス費用合計額" column="サービス費用合計額" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="資格喪失年月日" column="資格喪失年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="資格喪失事由コード" column="資格喪失事由コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <association property="relateEntity" resultMap="resultMap_getHokenKousei"/>
        <association property="atesakiEntity" resultMap="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt250FindAtesakiMapper.resultAtesakiEntity"/>
    </resultMap>
    <select resultOrdered="true" id="getSeikatsuHogoJukyusha" resultMap="resultMap_getSeikatsuHogoJukyusha"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.kyufuhitsuchisho.KyufuhiTsuchishoBatchMybitisParameter"
            fetchSize="500">
        WITH 連番 AS (
              SELECT
               給付実績基本抽出データ."hiHokenshaNo" AS 被保険者番号
              ,給付実績基本抽出データ."shokisaiHokenshaNo" AS 証記載保険者番号
              ,給付実績基本抽出データ."serviceTeikyoYM" AS サービス提供年月
              ,給付実績基本抽出データ."yoKaigoJotaiKubunCode" AS 要介護状態区分コード
              ,給付実績基本抽出データ."jigyoshoNo" AS 事業所番号
              ,給付実績基本抽出データ."seiriNo" AS 整理番号
              ,介護事業者指定サービス."jigyoshaName" AS 事業者名称
              ,給付実績明細."serviceShuruiCode" AS サービス種類コード
              ,給付実績明細."serviceKomokuCode" AS サービス項目コード
              ,保険者データ."hokenjaName" AS 証記載保険者名
              ,介護サービス内容."serviceName" AS サービス名称
              ,給付実績明細."nissuKaisu" AS 日数_回数
              ,給付費通知補正."riyoshaFutangaku" AS 利用者負担額
              ,給付費通知補正."serviceHiyoTotal" AS サービス費用合計額
              ,被保険者台帳管理Newest."shikakuSoshitsuYMD" AS 資格喪失年月日
              ,被保険者台帳管理Newest."shikakuSoshitsuJiyuCode" AS 資格喪失事由コード
              ,<include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt250FindAtesakiMapper.columns_Atesaki" />
              <if test = "福祉用具貸与ページ出力区分フラグ" >
              ,<include refid="selectKetteiTsuchiShoMeisai" />
              </if>
            FROM
              ( 
                SELECT
                  * 
                FROM
                  ( 
                    SELECT
                      *
                      , ROW_NUMBER() OVER ( 
                        PARTITION BY
                          "inputShikibetsuNo"
                          , "hiHokenshaNo"
                          , "serviceTeikyoYM"
                          , "kyufuJissekiKubunCode"
                          , "jigyoshoNo" 
                        ORDER BY
                          "shinsaYM" DESC
                      ) row_num 
                    FROM
                      rgdb."DbT3017KyufujissekiKihon"
                  ) AS 給付実績基本データ 
                WHERE
                  給付実績基本データ."row_num" = '1' 
                   AND 給付実績基本データ."kyufuSakuseiKubunCode" <![CDATA[<>]]> '3' 
                   AND #{サービス年月開始} <![CDATA[<=]]> 給付実績基本データ."serviceTeikyoYM" 
                  AND 給付実績基本データ."serviceTeikyoYM" <![CDATA[<=]]> #{サービス年月終了} 
                  AND 給付実績基本データ."yoKaigoJotaiKubunCode" IN <foreach collection="list要介護度" item="values" open="(" separator="," close=")"> #{values} </foreach>
                  <if test="全市町村フラグ">
                  AND substr(給付実績基本データ."shokisaiHokenshaNo", 3, 8) = #{証記載保険者番号}
                  </if>
              ) AS 給付実績基本抽出データ 
              LEFT JOIN rgdb."DbT3018KyufujissekiMeisai" AS 給付実績明細 
                ON 給付実績明細."inputShikibetsuNo" = 給付実績基本抽出データ."inputShikibetsuNo" 
                AND 給付実績明細."shokisaiHokenshaNo" = 給付実績基本抽出データ."shokisaiHokenshaNo" 
                AND 給付実績明細."hiHokenshaNo" = 給付実績基本抽出データ."hiHokenshaNo" 
                AND 給付実績明細."serviceTeikyoYM" = 給付実績基本抽出データ."serviceTeikyoYM" 
                AND 給付実績明細."jigyoshoNo" = 給付実績基本抽出データ."jigyoshoNo" 
                AND 給付実績明細."seiriNo" = 給付実績基本抽出データ."seiriNo" 
              LEFT JOIN ( 
                SELECT
                  保険者."hokenjaName" 
                  ,保険者."hokenjaNo" 
                FROM
                  rgur."UrT0507Hokenja" AS 保険者
                WHERE
                  "hokenjaShubetsu" = '08'
              ) AS 保険者データ 
                ON 給付実績明細."shokisaiHokenshaNo" = 保険者データ."hokenjaNo" 
              LEFT JOIN rgdb."DbT3022KyufujissekiShokujiHiyo" AS 給付実績食事費用 
                ON 給付実績食事費用."inputShikibetsuNo" = 給付実績基本抽出データ."inputShikibetsuNo" 
                AND 給付実績食事費用."shokisaiHokenshaNo" = 給付実績基本抽出データ."shokisaiHokenshaNo" 
                AND 給付実績食事費用."hiHokenshaNo" = 給付実績基本抽出データ."hiHokenshaNo" 
                AND 給付実績食事費用."serviceTeikyoYM" = 給付実績基本抽出データ."serviceTeikyoYM" 
                AND 給付実績食事費用."jigyoshoNo" = 給付実績基本抽出データ."jigyoshoNo" 
                AND 給付実績食事費用."seiriNo" = 給付実績基本抽出データ."seiriNo" 
              LEFT JOIN rgdb."DbT3025KyufujissekiKyotakuService" AS 給付実績居宅サービス計画費 
                ON 給付実績居宅サービス計画費."inputShikibetsuNo" = 給付実績基本抽出データ."inputShikibetsuNo" 
                AND 給付実績居宅サービス計画費."shokisaiHokenshaNo" = 給付実績基本抽出データ."shokisaiHokenshaNo" 
                AND 給付実績居宅サービス計画費."hiHokenshaNo" = 給付実績基本抽出データ."hiHokenshaNo" 
                AND 給付実績居宅サービス計画費."serviceTeikyoYM" = 給付実績基本抽出データ."serviceTeikyoYM" 
                AND 給付実績居宅サービス計画費."jigyoshoNo" = 給付実績基本抽出データ."jigyoshoNo" 
                AND 給付実績居宅サービス計画費."seiriNo" = 給付実績基本抽出データ."seiriNo" 
              LEFT JOIN rgdb."DbT3026KyufujissekiFukushiYoguHanbaihi" AS 給付実績福祉用具販売費 
                ON 給付実績福祉用具販売費."inputShikibetsuNo" = 給付実績基本抽出データ."inputShikibetsuNo" 
                AND 給付実績福祉用具販売費."shokisaiHokenshaNo" = 給付実績基本抽出データ."shokisaiHokenshaNo" 
                AND 給付実績福祉用具販売費."hiHokenshaNo" = 給付実績基本抽出データ."hiHokenshaNo" 
                AND 給付実績福祉用具販売費."serviceTeikyoYM" = 給付実績基本抽出データ."serviceTeikyoYM" 
                AND 給付実績福祉用具販売費."jigyoshoNo" = 給付実績基本抽出データ."jigyoshoNo" 
                AND 給付実績福祉用具販売費."seiriNo" = 給付実績基本抽出データ."seiriNo" 
              LEFT JOIN rgdb."DbT3027KyufujissekiJutakuKaishuhi" AS 給付実績住宅改修費 
                ON 給付実績住宅改修費."inputShikibetsuNo" = 給付実績基本抽出データ."inputShikibetsuNo" 
                AND 給付実績住宅改修費."shokisaiHokenshaNo" = 給付実績基本抽出データ."shokisaiHokenshaNo" 
                AND 給付実績住宅改修費."hiHokenshaNo" = 給付実績基本抽出データ."hiHokenshaNo" 
                AND 給付実績住宅改修費."serviceTeikyoYM" = 給付実績基本抽出データ."serviceTeikyoYM" 
                AND 給付実績住宅改修費."jigyoshoNo" = 給付実績基本抽出データ."jigyoshoNo" 
                AND 給付実績住宅改修費."seiriNo" = 給付実績基本抽出データ."seiriNo" 
              LEFT JOIN rgdb."DbT3029KyufujissekiTokuteiNyushosyaKaigoServiceHiyo" AS 給付実績特定入所者介護サービス費用 
                ON 給付実績特定入所者介護サービス費用."inputShikibetsuNo" = 給付実績基本抽出データ."inputShikibetsuNo" 
                AND 給付実績特定入所者介護サービス費用."shokisaiHokenshaNo" = 給付実績基本抽出データ."shokisaiHokenshaNo" 
                AND 給付実績特定入所者介護サービス費用."hiHokenshaNo" = 給付実績基本抽出データ."hiHokenshaNo" 
                AND 給付実績特定入所者介護サービス費用."serviceTeikyoYM" = 給付実績基本抽出データ."serviceTeikyoYM" 
                AND 給付実績特定入所者介護サービス費用."jigyoshoNo" = 給付実績基本抽出データ."jigyoshoNo" 
                AND 給付実績特定入所者介護サービス費用."seiriNo" = 給付実績基本抽出データ."seiriNo" 
              LEFT JOIN rgdb."DbT3030KyufuJissekiShakaiFukushiHojinKeigengaku" AS 給付実績社会福祉法人軽減額 
                ON 給付実績社会福祉法人軽減額."inputShikibetsuNo" = 給付実績基本抽出データ."inputShikibetsuNo" 
                AND 給付実績社会福祉法人軽減額."shokisaiHokenshaNo" = 給付実績基本抽出データ."shokisaiHokenshaNo" 
                AND 給付実績社会福祉法人軽減額."hiHokenshaNo" = 給付実績基本抽出データ."hiHokenshaNo" 
                AND 給付実績社会福祉法人軽減額."serviceTeikyoYM" = 給付実績基本抽出データ."serviceTeikyoYM" 
                AND 給付実績社会福祉法人軽減額."jigyoshoNo" = 給付実績基本抽出データ."jigyoshoNo" 
                AND 給付実績社会福祉法人軽減額."seiriNo" = 給付実績基本抽出データ."seiriNo" 
              LEFT JOIN rgdb."DbT3033KyufujissekiShukei" AS 給付実績集計 
                ON 給付実績集計."inputShikibetsuNo" = 給付実績基本抽出データ."inputShikibetsuNo" 
                AND 給付実績集計."shokisaiHokenshaNo" = 給付実績基本抽出データ."shokisaiHokenshaNo" 
                AND 給付実績集計."hiHokenshaNo" = 給付実績基本抽出データ."hiHokenshaNo" 
                AND 給付実績集計."serviceTeikyoYM" = 給付実績基本抽出データ."serviceTeikyoYM" 
                AND 給付実績集計."jigyoshoNo" = 給付実績基本抽出データ."jigyoshoNo" 
                AND 給付実績集計."seiriNo" = 給付実績基本抽出データ."seiriNo" 
              LEFT JOIN rgdb."DbV1001HihokenshaDaicho" AS 被保険者台帳管理Newest 
                 ON 被保険者台帳管理Newest."hihokenshaNo" = 給付実績基本抽出データ."hiHokenshaNo" 
              LEFT JOIN rgdb."DbT3067KyufuhiTuchiHosei" AS 給付費通知補正 
                ON 給付費通知補正."shokisaiHokenshaNo" = 給付実績基本抽出データ."shokisaiHokenshaNo" 
                AND 給付費通知補正."hiHokenshaNo" = 給付実績基本抽出データ."hiHokenshaNo" 
                AND 給付費通知補正."serviceTeikyoYM" = 給付実績基本抽出データ."serviceTeikyoYM" 
                AND 給付費通知補正."jigyoshoNo" = 給付実績基本抽出データ."jigyoshoNo" 
                AND 給付費通知補正."serviceShuruiCode" = 給付実績明細."serviceShuruiCode" 
              LEFT JOIN <include refid = "jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt250FindAtesakiMapper.tableName_PsmAtesaki"/> AS "Atesaki" 
                ON "Atesaki"."shikibetsuCode" = 被保険者台帳管理Newest."shikibetsuCode" 
              LEFT JOIN rgdb."DbT7063KaigoJigyoshaShiteiService" AS 介護事業者指定サービス 
                ON 介護事業者指定サービス."jigyoshaNo" = 給付実績基本抽出データ."jigyoshoNo" 
                AND 介護事業者指定サービス."serviceShuruiCode" = 給付実績明細."serviceShuruiCode" 
                AND 介護事業者指定サービス."yukoKaishiYMD" = ( 
                  SELECT
                    MAX(B."yukoKaishiYMD") 
                  FROM
                    rgdb."DbT7063KaigoJigyoshaShiteiService" AS B
                ) 
              LEFT JOIN rgdb."DbT7131KaigoServiceNaiyou" AS 介護サービス内容 
                ON 介護サービス内容."serviceKoumokuCd" = 給付実績明細."serviceKomokuCode" 
                AND 介護サービス内容."serviceShuruiCd" = 給付実績明細."serviceShuruiCode" 
                AND 介護サービス内容."teikyoKaishiYM" = ( 
                  SELECT
                    MAX(A."teikyoKaishiYM")
                  FROM
                    rgdb."DbT7131KaigoServiceNaiyou" AS A
                ) 
              <if test = "福祉用具貸与ページ出力区分フラグ" > 
              LEFT JOIN "KaigoKyufuHiFukushiYouguTemp" AS 介護給付費福祉用具貸与品目一時TBL 
                ON 介護給付費福祉用具貸与品目一時TBL."shokisaiHokenshaNo" = substr(給付実績基本抽出データ."shokisaiHokenshaNo", 3, 8)
                   AND 介護給付費福祉用具貸与品目一時TBL."hiHokenshaNo" = 給付実績基本抽出データ."hiHokenshaNo" 
                   AND 介護給付費福祉用具貸与品目一時TBL."serviceTeikyoYM" = 給付実績基本抽出データ."serviceTeikyoYM" 
                </if > 
            <where>
              <if test = "サービス種類フラグ1" > 
              AND 給付実績基本抽出データ."hiHokenshaNo" NOT IN ( 
                SELECT
                  給付実績集計."hiHokenshaNo" 
                FROM
                  rgdb."DbT3033KyufujissekiShukei" AS 給付実績集計 
                WHERE
                  給付実績集計."serviceSyuruiCode" IN ('51', '52', '53', '54')
              ) 
                </if >
                <if test = "サービス種類フラグ2" > 
              AND 給付実績基本データ."hiHokenshaNo" IN ( 
                SELECT
                  給付実績集計."hiHokenshaNo" 
                FROM
                  rgdb."DbT3033KyufujissekiShukei" AS 給付実績集計 
                WHERE
                  給付実績集計."serviceSyuruiCode" IN ('51', '52', '53', '54')
              ) 
                </if >
                <if test = "サービス種類フラグ3" > 
              AND 給付実績基本データ."hiHokenshaNo" IN ( 
                SELECT
                  給付実績集計."hiHokenshaNo" 
                FROM
                  rgdb."DbT3033KyufujissekiShukei" AS 給付実績集計 
                WHERE
                  給付実績集計."serviceSyuruiCode" NOT IN ('51', '52', '53', '54')
              ) 
                </if >
                <if test = "死亡者分を対象フラグ" > 
              AND 被保険者台帳管理Newest."shikakuSoshitsuYMD" IS NOT NULL 
              AND 被保険者台帳管理Newest."shikakuSoshitsuYMD" <![CDATA[<>]]> '' 
              AND 被保険者台帳管理Newest."idoJiyuCode" <![CDATA[<>]]> '52' 
                </if >
                <if test = "ゼロ査定実績を対象フラグ" > 
              AND 給付実績集計."atoHokenSeikyugaku" IS NOT NULL 
              AND 給付実績集計."atoHokenSeikyugaku" <![CDATA[<>]]> '' 
              AND 給付実績集計."atoHokenSeikyugaku" <![CDATA[<>]]> '0' 
                </if >
                <if test = "再審査分を対象フラグ" > 
              AND EXISTS ( 
                SELECT
                  * 
                FROM
                  rgdb."DbT3017KyufujissekiKihon" AS 給付実績基本 
                  LEFT JOIN rgdb."DbT3062SaishinsaMoshitate" AS 再審査申立 
                    ON 再審査申立."shokisaiHokenshaNo" = 給付実績基本."shokisaiHokenshaNo" 
                    AND 再審査申立."hiHokenshaNo" = 給付実績基本."hiHokenshaNo" 
                    AND 再審査申立."serviceTeikyoYM" = 給付実績基本."serviceTeikyoYM" 
                    AND 再審査申立."jigyoshoNo" = 給付実績基本."jigyoshoNo" 
                    AND 再審査申立."moshitateJiyuCode" = 給付実績基本."inputShikibetsuNo" 
                  LEFT JOIN rgdb."DbT3064SaishinsaKetteiMeisai" AS 再審査決定明細 
                    ON 再審査決定明細."moushitateJiyuCode" = 再審査申立."moshitateJiyuCode" 
                    AND 再審査決定明細."shokisaiHokenshaNo" = 給付実績基本."shokisaiHokenshaNo" 
                    AND 再審査決定明細."hiHokenshaNo" = 給付実績基本."hiHokenshaNo" 
                    AND 再審査決定明細."serviceTeikyoYM" = 給付実績基本."serviceTeikyoYM" 
                    AND 再審査決定明細."jigyoshoNo" = 給付実績基本."jigyoshoNo" 
                WHERE
                  再審査申立."moshitateJiyuCode" IS NULL 
                  OR 再審査決定明細."moushitateJiyuCode" IS NULL
              ) </if >
                <if test = "過誤分を対象フラグ" > 
              AND EXISTS ( 
                SELECT
                  * 
                FROM
                  rgdb."DbT3017KyufujissekiKihon" AS 給付実績基本 
                  LEFT JOIN rgdb."DbT3059KagoMoshitate" AS 過誤申立 
                    ON 過誤申立."shokisaiHokenshaNo" = 給付実績基本."shokisaiHokenshaNo" 
                    AND 過誤申立."hiHokenshaNo" = 給付実績基本."hiHokenshaNo" 
                    AND 過誤申立."serviceTeikyoYM" = 給付実績基本."serviceTeikyoYM" 
                    AND 過誤申立."jigyoshoNo" = 給付実績基本."jigyoshoNo" 
                    AND 過誤申立."moshitateJiyuCode" = 給付実績基本."inputShikibetsuNo" 
                  LEFT JOIN rgdb."DbT3061KagoKetteiMeisai" AS 過誤決定明細 
                    ON 過誤決定明細."kagomoushitateJiyuCode" = 過誤申立."moshitateJiyuCode" 
                    AND 過誤決定明細."shokisaiHokenshaNo" = 給付実績基本."shokisaiHokenshaNo" 
                    AND 過誤決定明細."hiHokenshaNo" = 給付実績基本."hiHokenshaNo" 
                    AND 過誤決定明細."serviceTeikyoYM" = 給付実績基本."serviceTeikyoYM" 
                    AND 過誤決定明細."jigyoshoNo" = 給付実績基本."jigyoshoNo" 
                WHERE
                  過誤申立."moshitateJiyuCode" IS NULL 
                  OR 過誤決定明細."kagomoushitateJiyuCode" IS NULL
              ) </if >
                <if test = "施設分を対象フラグ" > 
                AND 給付実績集計."serviceSyuruiCode" NOT IN ('51', '52', '53', '54') 
                </if >
                <if test = "特定入所者介護を対象フラグ" > 
                AND 介護事業者指定サービス."serviceShuruiCode" <![CDATA[<>]]> '59' 
                </if >
                <if test = "償還分を対象フラグ" > 
                AND 給付実績基本抽出データ."kyufuJissekiKubunCode" <![CDATA[<>]]> '2' 
                </if >
            </where>
            )
            , Temp AS ( 
                SELECT E.* ,M.count
                    FROM 連番 AS E
                    LEFT JOIN (SELECT count(F.count) AS count
              FROM(SELECT "被保険者番号"
                            ,COUNT("被保険者番号") AS count
                    FROM 連番
                    GROUP BY "被保険者番号") AS F) AS M
                    ON 1=1
            ) 
            SELECT
              Temp.*
              , 宛名."yubinNo" AS yubinNo
              , 宛名."choikiCode" AS choikiCode
              , 宛名."gyoseikuCode" AS gyoseikuCode
              , 宛名."setaiCode" AS setaiCode
              , 宛名."kanaMeisho" AS kanaMeisho
              , CASE WHEN 被保険者台帳管理Newest."koikinaiJushochiTokureiFlag"='1' THEN 被保険者台帳管理Newest."koikinaiTokureiSochimotoShichosonCode" 
                ELSE 被保険者台帳管理Newest."shichosonCode" 
                END AS shichosonCode
              , CASE WHEN 被保険者台帳管理Newest."shikakuSoshitsuYMD" != '' THEN '1' 
                ELSE '' 
                END AS shikakuJotaiKubun
            FROM
              Temp 
              LEFT JOIN rgdb."DbV1001HihokenshaDaicho" 被保険者台帳管理Newest 
                ON 被保険者台帳管理Newest."hihokenshaNo" = Temp."被保険者番号" 
              LEFT JOIN <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.tableName_PsmParamClassShikibetsuTaisho"/>
              AS 宛名 
                ON 被保険者台帳管理Newest."shikibetsuCode" = 宛名."shikibetsuCode"
            ${orderBy}
    </select>
    <!--一時テーブルの介護給付費福祉用具貸与品目の取得-->
    <resultMap id="resultMap_getHokenKousei" type="jp.co.ndensan.reams.db.dbc.entity.db.relate.kyufuhituchihakkoichiran.KyufuhiTuchiHakkoIchiranRelateEntity" autoMapping="true">
        <result property="rekodoShubetsu" column="rekodoShubetsu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="rekodoNo" column="rekodoNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="koukanJouhouSikibetuNo" column="koukanJouhouSikibetuNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="tyouhyouRekodoShubetsu" column="tyouhyouRekodoShubetsu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="hokenShaNo" column="hokenShaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="shokisaiHokenshaNo" column="shokisaiHokenshaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="hiHokenshaNo" column="hiHokenshaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="serviceTeikyoYM" column="serviceTeikyoYM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler" />
        <result property="jigyoshoNo" column="jigyoshoNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="jigyoshoKanji" column="jigyoshoKanji" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="serviceShuruiCode" column="serviceShuruiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="serviceKomokuCode" column="serviceKomokuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="serviceRyakushou" column="serviceRyakushou" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="cctaCode" column="cctaCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="fukushiYouguKaHinmokuCode" column="fukushiYouguKaHinmokuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="fukushiYouguShouhin" column="fukushiYouguShouhin" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="hiyouGaku" column="hiyouGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="kibouKouriKakaku" column="kibouKouriKakaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="zenkokuSeikyuKensu" column="zenkokuSeikyuKensu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="zenkokuSaiteiHiyouGaku" column="zenkokuSaiteiHiyouGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="zenkokuShikiHiyouGaku" column="zenkokuShikiHiyouGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="zenkokuSaikouHiyouGaku" column="zenkokuSaikouHiyouGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="zenkokuHeikinHiyouGaku" column="zenkokuHeikinHiyouGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="todoufukenSeikyuKensu" column="todoufukenSeikyuKensu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="todoufukenSaiteiHiyouGaku" column="todoufukenSaiteiHiyouGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="todoufukenShikiHiyouGaku" column="todoufukenShikiHiyouGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="todoufukenSaikouHiyouGaku" column="todoufukenSaikouHiyouGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="todoufukenHeikinHiyouGaku" column="todoufukenHeikinHiyouGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="hokenShaSeikyuKensu" column="hokenShaSeikyuKensu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="hokenShaSaiteiHiyouGaku" column="hokenShaSaiteiHiyouGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="hokenShaShikiHiyouGaku" column="hokenShaShikiHiyouGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="hokenShaSaikouHiyouGaku" column="hokenShaSaikouHiyouGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="hokenShaHeikinHiyouGaku" column="hokenShaHeikinHiyouGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="zenkokuTanisuHani1" column="zenkokuTanisuHani1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="zenkokuTanisuHani2" column="zenkokuTanisuHani2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="zenkokuTanisuHani3" column="zenkokuTanisuHani3" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="zenkokuTanisuHani4" column="zenkokuTanisuHani4" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="zenkokuTanisuHani5" column="zenkokuTanisuHani5" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="zenkokuTanisuHani6" column="zenkokuTanisuHani6" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="zenkokuTanisuHani7" column="zenkokuTanisuHani7" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="zenkokuTanisuHani8" column="zenkokuTanisuHani8" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="zenkokuTanisuHani9" column="zenkokuTanisuHani9" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="zenkokuTanisuHani10" column="zenkokuTanisuHani10" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="zenkokuTanisuHani1Dosu" column="zenkokuTanisuHani1Dosu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="zenkokuTanisuHani2Dosu" column="zenkokuTanisuHani2Dosu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="zenkokuTanisuHani3Dosu" column="zenkokuTanisuHani3Dosu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="zenkokuTanisuHani4Dosu" column="zenkokuTanisuHani4Dosu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="zenkokuTanisuHani5Dosu" column="zenkokuTanisuHani5Dosu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="zenkokuTanisuHani6Dosu" column="zenkokuTanisuHani6Dosu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="zenkokuTanisuHani7Dosu" column="zenkokuTanisuHani7Dosu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="zenkokuTanisuHani8Dosu" column="zenkokuTanisuHani8Dosu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="zenkokuTanisuHani9Dosu" column="zenkokuTanisuHani9Dosu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="zenkokuTanisuHani10Dosu" column="zenkokuTanisuHani10Dosu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="todoufukenTanisuHani1" column="todoufukenTanisuHani1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="todoufukenTanisuHani2" column="todoufukenTanisuHani2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="todoufukenTanisuHani3" column="todoufukenTanisuHani3" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="todoufukenTanisuHani4" column="todoufukenTanisuHani4" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="todoufukenTanisuHani5" column="todoufukenTanisuHani5" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="todoufukenTanisuHani6" column="todoufukenTanisuHani6" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="todoufukenTanisuHani7" column="todoufukenTanisuHani7" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="todoufukenTanisuHani8" column="todoufukenTanisuHani8" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="todoufukenTanisuHani9" column="todoufukenTanisuHani9" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="todoufukenTanisuHani10" column="todoufukenTanisuHani10" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="todoufukenTanisuHani1Dosu" column="todoufukenTanisuHani1Dosu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="todoufukenTanisuHani2Dosu" column="todoufukenTanisuHani2Dosu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="todoufukenTanisuHani3Dosu" column="todoufukenTanisuHani3Dosu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="todoufukenTanisuHani4Dosu" column="todoufukenTanisuHani4Dosu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="todoufukenTanisuHani5Dosu" column="todoufukenTanisuHani5Dosu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="todoufukenTanisuHani6Dosu" column="todoufukenTanisuHani6Dosu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="todoufukenTanisuHani7Dosu" column="todoufukenTanisuHani7Dosu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="todoufukenTanisuHani8Dosu" column="todoufukenTanisuHani8Dosu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="todoufukenTanisuHani9Dosu" column="todoufukenTanisuHani9Dosu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="todoufukenTanisuHani10Dosu" column="todoufukenTanisuHani10Dosu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
    </resultMap>
    <sql id="selectKetteiTsuchiShoMeisai">
        介護給付費福祉用具貸与品目一時TBL."rekodoShubetsu"
        ,介護給付費福祉用具貸与品目一時TBL."rekodoNo"
        ,介護給付費福祉用具貸与品目一時TBL."koukanJouhouSikibetuNo"
        ,介護給付費福祉用具貸与品目一時TBL."tyouhyouRekodoShubetsu"
        ,介護給付費福祉用具貸与品目一時TBL."hokenShaNo"
        ,介護給付費福祉用具貸与品目一時TBL."shokisaiHokenshaNo"
        ,介護給付費福祉用具貸与品目一時TBL."serviceTeikyoYM"
        ,介護給付費福祉用具貸与品目一時TBL."jigyoshoNo"
        ,介護給付費福祉用具貸与品目一時TBL."jigyoshoKanji"
        ,介護給付費福祉用具貸与品目一時TBL."serviceShuruiCode"
        ,介護給付費福祉用具貸与品目一時TBL."serviceKomokuCode"
        ,介護給付費福祉用具貸与品目一時TBL."serviceRyakushou"
        ,介護給付費福祉用具貸与品目一時TBL."cctaCode"
        ,介護給付費福祉用具貸与品目一時TBL."fukushiYouguKaHinmokuCode"
        ,介護給付費福祉用具貸与品目一時TBL."fukushiYouguShouhin"
        ,介護給付費福祉用具貸与品目一時TBL."hiyouGaku"
        ,介護給付費福祉用具貸与品目一時TBL."kibouKouriKakaku"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuSeikyuKensu"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuSaiteiHiyouGaku"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuShikiHiyouGaku"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuSaikouHiyouGaku"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuHeikinHiyouGaku"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenSeikyuKensu"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenSaiteiHiyouGaku"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenShikiHiyouGaku"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenSaikouHiyouGaku"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenHeikinHiyouGaku"
        ,介護給付費福祉用具貸与品目一時TBL."hokenShaSeikyuKensu"
        ,介護給付費福祉用具貸与品目一時TBL."hokenShaSaiteiHiyouGaku"
        ,介護給付費福祉用具貸与品目一時TBL."hokenShaShikiHiyouGaku"
        ,介護給付費福祉用具貸与品目一時TBL."hokenShaSaikouHiyouGaku"
        ,介護給付費福祉用具貸与品目一時TBL."hokenShaHeikinHiyouGaku"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuTanisuHani1"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuTanisuHani2"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuTanisuHani3"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuTanisuHani4"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuTanisuHani5"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuTanisuHani6"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuTanisuHani7"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuTanisuHani8"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuTanisuHani9"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuTanisuHani10"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuTanisuHani1Dosu"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuTanisuHani2Dosu"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuTanisuHani3Dosu"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuTanisuHani4Dosu"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuTanisuHani5Dosu"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuTanisuHani6Dosu"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuTanisuHani7Dosu"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuTanisuHani8Dosu"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuTanisuHani9Dosu"
        ,介護給付費福祉用具貸与品目一時TBL."zenkokuTanisuHani10Dosu"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenTanisuHani1"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenTanisuHani2"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenTanisuHani3"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenTanisuHani4"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenTanisuHani5"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenTanisuHani6"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenTanisuHani7"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenTanisuHani8"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenTanisuHani9"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenTanisuHani10"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenTanisuHani1Dosu"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenTanisuHani2Dosu"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenTanisuHani3Dosu"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenTanisuHani4Dosu"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenTanisuHani5Dosu"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenTanisuHani6Dosu"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenTanisuHani7Dosu"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenTanisuHani8Dosu"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenTanisuHani9Dosu"
        ,介護給付費福祉用具貸与品目一時TBL."todoufukenTanisuHani10Dosu"
    </sql>
     <select resultOrdered="true" id="get単一の場合" resultMap="resultMap_getHokenKousei" fetchSize="500">
        SELECT
          <include refid="selectKetteiTsuchiShoMeisai" />
          ,新旧被保険者番号変換テーブル."shinNo" AS "hokenShaNo"
        FROM
          (SELECT
           <include refid="selectKetteiTsuchiShoMeisai" />
           ,合併."合併市町村TBL_kyuShichosonCode"
           , 介護給付費福祉用具貸与品目一時TBL."hiHokenshaNo" AS "temp_hiHokenshaNo"
        FROM
          "KaigoKyufuHiFukushiYouguTemp" AS 介護給付費福祉用具貸与品目一時TBL
        INNER JOIN (SELECT
          合併情報TBL."kokuhorenDataFromYMD" AS "連携開始年月"
        ,<include refid="allColumns_DbT7056GappeiShichoson" />
        FROM
          rgdb."DbT7055GappeiJoho" AS 合併情報TBL
            INNER JOIN rgdb."DbT7056GappeiShichoson" AS "合併市町村TBL"
            ON 合併情報TBL."gappeiYMD" = "合併市町村TBL"."gappeiYMD"
            AND 合併情報TBL."chiikiNo" = "合併市町村TBL"."chiikiNo") AS 合併
            ON 介護給付費福祉用具貸与品目一時TBL."shokisaiHokenshaNo" = 合併."合併市町村TBL_kyuHokenshaNo"
            AND 介護給付費福祉用具貸与品目一時TBL."serviceTeikyoYM" <![CDATA[<]]> substring(合併."連携開始年月",1,6)) AS 介護給付費福祉用具貸与品目一時TBL
       INNER JOIN
      rgdb."DbT7026ShinKyuHihokenshaNoHenkan" AS 新旧被保険者番号変換テーブル
       ON 介護給付費福祉用具貸与品目一時TBL."合併市町村TBL_kyuShichosonCode" = 新旧被保険者番号変換テーブル."shichosonCode"
       AND 介護給付費福祉用具貸与品目一時TBL."temp_hiHokenshaNo" = 新旧被保険者番号変換テーブル."kyuNo"
     </select>
         
         <select resultOrdered="true" id="get広域の場合" resultMap="resultMap_getHokenKousei" fetchSize="500">
        SELECT
          <include refid="selectKetteiTsuchiShoMeisai" />
          ,新旧被保険者番号変換テーブル."shinNo" AS "hokenShaNo"
        FROM
          (SELECT
           <include refid="selectKetteiTsuchiShoMeisai" />
           ,構成市町村マスタTBL."shichosonCode"
           , 介護給付費福祉用具貸与品目一時TBL."hiHokenshaNo" AS "temp_hiHokenshaNo"
        FROM
           "KaigoKyufuHiFukushiYouguTemp" AS 介護給付費福祉用具貸与品目一時TBL
        INNER JOIN
           rgdb."DbT7051KoseiShichosonMaster" AS 構成市町村マスタTBL
           ON 介護給付費福祉用具貸与品目一時TBL."shokisaiHokenshaNo" = 構成市町村マスタTBL."shoKisaiHokenshaNo"
           AND 介護給付費福祉用具貸与品目一時TBL."serviceTeikyoYM" <![CDATA[<=]]> substring(構成市町村マスタTBL."kanyuYMD",1,6)) AS 介護給付費福祉用具貸与品目一時TBL
        INNER JOIN
            rgdb."DbT7026ShinKyuHihokenshaNoHenkan" AS 新旧被保険者番号変換テーブル
            ON 介護給付費福祉用具貸与品目一時TBL."shichosonCode" = 新旧被保険者番号変換テーブル."shichosonCode"
            AND 介護給付費福祉用具貸与品目一時TBL."temp_hiHokenshaNo" = 新旧被保険者番号変換テーブル."kyuNo"
         </select>
         
         <sql id="allColumns_DbT7056GappeiShichoson">
        "合併市町村TBL"."gappeiYMD" as "合併市町村TBL_gappeiYMD",
        "合併市町村TBL"."chiikiNo" as "合併市町村TBL_chiikiNo",
        "合併市町村TBL"."kyuShichosonCode" as "合併市町村TBL_kyuShichosonCode",
        "合併市町村TBL"."insertDantaiCd" as "合併市町村TBL_insertDantaiCd",
        "合併市町村TBL"."insertTimestamp" as "合併市町村TBL_insertTimestamp",
        "合併市町村TBL"."insertReamsLoginId" as "合併市町村TBL_insertReamsLoginId",
        "合併市町村TBL"."insertContextId" as "合併市町村TBL_insertContextId",
        "合併市町村TBL"."isDeleted" as "合併市町村TBL_isDeleted",
        "合併市町村TBL"."updateCount" as "合併市町村TBL_updateCount",
        "合併市町村TBL"."lastUpdateTimestamp" as "合併市町村TBL_lastUpdateTimestamp",
        "合併市町村TBL"."lastUpdateReamsLoginId" as "合併市町村TBL_lastUpdateReamsLoginId",
        "合併市町村TBL"."unyoKaishiYMD" as "合併市町村TBL_unyoKaishiYMD",
        "合併市町村TBL"."unyoShuryoYMD" as "合併市町村TBL_unyoShuryoYMD",
        "合併市町村TBL"."kyuHokenshaNo" as "合併市町村TBL_kyuHokenshaNo",
        "合併市町村TBL"."kyuShichosonMeisho" as "合併市町村TBL_kyuShichosonMeisho",
        "合併市町村TBL"."todofukenMeisho" as "合併市町村TBL_todofukenMeisho",
        "合併市町村TBL"."gunMeisho" as "合併市町村TBL_gunMeisho",
        "合併市町村TBL"."yubinNo" as "合併市町村TBL_yubinNo",
        "合併市町村TBL"."telNo" as "合併市町村TBL_telNo",
        "合併市町村TBL"."rojinhokenShichosonNo" as "合併市町村TBL_rojinhokenShichosonNo",
        "合併市町村TBL"."rokenJukyushaNoTaikei" as "合併市町村TBL_rokenJukyushaNoTaikei",
        "合併市町村TBL"."hyojiUmu" as "合併市町村TBL_hyojiUmu"
    </sql>
</mapper>
