<!--<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 概要： 調定簿作成のマッピング用XMLです。 
 @reamsid_L DBC-2010-090 jiangzongyue 

<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.kogakukaigoservicehikyufutaishoshatoroku.ISetaiiShotokuKazeiHanteiMapper">
    
    世帯員所得情報高額一時テーブルを作成する 
    <insert id="creat世帯員所得情報高額一時"> 
        CREATE TEMP TABLE "TmpSetaiHaakuNyuryoku"
        ( "hihokenshaNo" character varying(10),
          "shikibetsuCode" rshare."UDD001ShikibetsuCode",
          "kijunYMD" rshare."UDD015YMD",
          "shotokuNendo" rshare."UDD012YSeireki", 
          "jushochiTokureiFlag" character varying(1), 
          "setaiCode"  rshare."UDD051SetaiCode",
          "honninKubun"  character varying(1),
          "kazeiKubun"  character varying(1),
          "kazeiKubunGemmenGo" character varying(1),
          "gekihenKanwaKubun" character varying(1), 
          "gokeiShotokuGaku" numeric(12,0),
          "nenkiniShunyuGaku" numeric(12,0), 
          "nenkiniShotokuGaku" numeric(12,0),
          "kazeiShotokuGaku" numeric(12,0),
          "torokuGyomu" character varying(1),
          "shichosonCode" rshare."UDD023LasdecCode",
          "shoboKubun" character varying(1), 
          "roreiFukushiKubun" character varying(1), 
          "setaiinHihokenshaNo" character varying(10),
          "honninKazeiKubun" character varying(1),
          "setaiKazeiKubun" character varying(1)
        )
    </insert>
    
    <resultMap id="resultMap_TmpSetaiHaakuNyuryoku" type="jp.co.ndensan.reams.db.dbb.entity.db.relate.kogakukaigoservicehikyufutaishoshatoroku.TmpSetaiHaakuNyuryokuEntity" autoMapping="true">
        <result property="hihokenshaNo" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="shotokuNendo" column="shotokuNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <result property="shikibetsuCode" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="kijunYMD" column="kijunYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="jushochiTokureiFlag" column="jushochiTokureiFlag" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="setaiCode" column="setaiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="honninKubun" column="honninKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kazeiKubun" column="kazeiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kazeiKubunGemmenGo" column="kazeiKubunGemmenGo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="gekihenKanwaKubun" column="gekihenKanwaKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="gokeiShotokuGaku" column="gokeiShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="nenkiniShunyuGaku" column="nenkiniShunyuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="nenkiniShotokuGaku" column="nenkiniShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kazeiShotokuGaku" column="kazeiShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="torokuGyomu" column="torokuGyomu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shichosonCode" column="shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shoboKubun" column="shoboKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="roreiFukushiKubun" column="roreiFukushiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="setaiinHihokenshaNo" column="setaiinHihokenshaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="honninKazeiKubun" column="honninKazeiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="setaiKazeiKubun" column="setaiKazeiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
    
    世帯員所得情報事業高額一時テーブルを作成する 
    <insert id="creat世帯員所得情報事業高額一時"> 
        CREATE TEMP TABLE "TmpSetaiJigyoHaakuNyuryoku"
        ( "hihokenshaNo" character varying(10),
          "shikibetsuCode" rshare."UDD001ShikibetsuCode",
          "setaiInshikibetsuCode" rshare."UDD001ShikibetsuCode",
          "kijunYMD" rshare."UDD015YMD",
          "shotokuNendo" rshare."UDD012YSeireki", 
          "jushochiTokureiFlag" character varying(1), 
          "setaiCode"  rshare."UDD051SetaiCode",
          "honninKubun"  character varying(1),
          "kazeiKubun"  character varying(1),
          "kazeiKubunGemmenGo" character varying(1),
          "gekihenKanwaKubun" character varying(1), 
          "gokeiShotokuGaku" numeric(12,0),
          "nenkiniShunyuGaku" numeric(12,0), 
          "nenkiniShotokuGaku" numeric(12,0),
          "kazeiShotokuGaku" numeric(12,0),
          "torokuGyomu" character varying(1),
          "shichosonCode" rshare."UDD023LasdecCode",
          "shoboKubun" character varying(1), 
          "roreiFukushiKubun" character varying(1), 
          "setaiinHihokenshaNo" character varying(10),
          "honninKazeiKubun" character varying(1),
          "setaiKazeiKubun" character varying(1)
        )
    </insert>
    
    <resultMap id="resultMap_TmpSetaiJigyoHaakuNyuryoku" type="jp.co.ndensan.reams.db.dbb.entity.db.relate.kogakukaigoservicehikyufutaishoshatoroku.TmpSetaiJigyoHaakuNyuryokuEntity" autoMapping="true">
        <result property="hihokenshaNo" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="shotokuNendo" column="shotokuNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <result property="setaiInshikibetsuCode" column="setaiInshikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="shikibetsuCode" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="kijunYMD" column="kijunYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="jushochiTokureiFlag" column="jushochiTokureiFlag" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="setaiCode" column="setaiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="honninKubun" column="honninKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kazeiKubun" column="kazeiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kazeiKubunGemmenGo" column="kazeiKubunGemmenGo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="gekihenKanwaKubun" column="gekihenKanwaKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="gokeiShotokuGaku" column="gokeiShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="nenkiniShunyuGaku" column="nenkiniShunyuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="nenkiniShotokuGaku" column="nenkiniShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kazeiShotokuGaku" column="kazeiShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="torokuGyomu" column="torokuGyomu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shichosonCode" column="shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shoboKubun" column="shoboKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="roreiFukushiKubun" column="roreiFukushiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="setaiinHihokenshaNo" column="setaiinHihokenshaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="honninKazeiKubun" column="honninKazeiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="setaiKazeiKubun" column="setaiKazeiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
    
      世帯員所得情報高額一時に一括Insertする。 
    <insert id="insert世帯員所得情報高額一時に一括住所地特例該当が1">
        INSERT INTO "TmpSetaiHaakuNyuryoku"
        (
           "hihokenshaNo",
           "shikibetsuCode",
           "kijunYMD",
           "shotokuNendo",
           "jushochiTokureiFlag",
           "setaiCode",
           "honninKubun"
        )
        SELECT 
        "TempSetai"."hihokenshaNo",
        "TempSetai"."shikibetsuCode",
        "TempSetai"."kijunYMD",
        "TempSetai"."shotokuNendo",
        "TempSetai"."jushochiTokureiFlag",
        "ShikibetsuTaisho"."setaiCode"，
        '1'
        FROM TempSetaiinHaakuNyuryoku AS "TempSetai"
         INNER JOIN 
            rgua."UaFt200FindShikibetsuTaisho"('','',FALSE,'DB',FALSE,'','','','','','','','','','','',true,
                   '','','','','','','',true,'','','','','','','','','','','',true,true,true,true,true,true,true,true,true,true,
                   true,'','','','','','','','',true,'','',true,true,true,'','','','','','','','','','','','','','','','','','','{}') AS "ShikibetsuTaisho"
              ON "ShikibetsuTaisho"."shikibetsuCode" = "TempSetai"."shikibetsuCode"
              AND "ShikibetsuTaisho"."shoriYMD"  = "TempSetai"."kijunYMD"
         WHERE "TempSetai"."jushochiTokureiFlag"= '1'
    </insert>
    
      世帯員所得情報高額一時に一括Insertする。 
    <insert id="insert世帯員所得情報高額一時に一括住所地特例該当が1以外"
        parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.kogakukaigoservicehikyufutaishoshatoroku.SetaiShotokuKazeiHanteiMybatisParameter">
        INSERT INTO "TmpSetaiHaakuNyuryoku"
        (
           "hihokenshaNo",
           "shikibetsuCode",
           "kijunYMD",
           "shotokuNendo",
           "jushochiTokureiFlag",
           "setaiCode",
           "honninKubun"
        )
        SELECT 
        "KaigoSetai"."hihokenshaNo",
        "KaigoSetai"."setaiInshikibetsuCode",
        "KaigoSetai"."setaiHaakuKijunYMD",
        "TempSetai"."shotokuNendo",
        "TempSetai"."jushochiTokureiFlag",
        "ShikibetsuTaisho"."setaiCode",
        "KaigoSetai"."honninKubun"
        FROM TempSetaiinHaakuNyuryoku AS "TempSetai"
        INNER JOIN rgdb."DbT7014KaigoSetai" AS "KaigoSetai"
         ON "TempSetai"."hihokenshaNo"= "KaigoSetai"."hihokenshaNo"
           AND "TempSetai"."kijunYMD"= "KaigoSetai"."setaiHaakuKijunYMD"
        INNER JOIN 
            rgua."UaFt200FindShikibetsuTaisho"('','',FALSE,'DB',FALSE,'','','','','','','','','','','',true,
                   '','','','','','','',true,'','','','','','','','','','','',true,true,true,true,true,true,true,true,true,true,
                   true,'','','','','','','','',true,'','',true,true,true,'','','','','','','','','','','','','','','','','','','{}') AS "ShikibetsuTaisho"
              ON "ShikibetsuTaisho"."shikibetsuCode" = "TempSetai"."shikibetsuCode"
              AND "ShikibetsuTaisho"."shoriYMD"  = "TempSetai"."kijunYMD"
         WHERE "TempSetai"."jushochiTokureiFlag" <![CDATA[!=]]> '1'
              AND "KaigoSetai"."kanriShikibetsuKubun" = #{管理識別区分}
    </insert>
    
     世帯員所得情報事業高額一時に一括Insertする。 
    <insert id="insert世帯員所得情報事業高額一時に一括住所地特例該当が1">
        INSERT INTO "TmpSetaiJigyoHaakuNyuryoku"
        (
           "hihokenshaNo",
           "shikibetsuCode",
           "setaiInshikibetsuCode",
           "kijunYMD",
           "shotokuNendo",
           "jushochiTokureiFlag",
           "setaiCode",
           "honninKubun"
        )
        SELECT 
        "TempSetaiJigyo"."hihokenshaNo",
        "TempSetaiJigyo"."shikibetsuCode",
        "TempSetaiJigyo"."setaiInshikibetsuCode",
        "TempSetaiJigyo"."kijunYMD",
        "TempSetaiJigyo"."shotokuNendo",
        "TempSetaiJigyo"."jushochiTokureiFlag",
        "ShikibetsuTaisho"."setaiCode"，
        '1'
        FROM TempSetaiinHaakuNyuryokuJigyo AS "TempSetaiJigyo"
         INNER JOIN 
            rgua."UaFt200FindShikibetsuTaisho"('','',FALSE,'DB',FALSE,'','','','','','','','','','','',true,
                   '','','','','','','',true,'','','','','','','','','','','',true,true,true,true,true,true,true,true,true,true,
                   true,'','','','','','','','',true,'','',true,true,true,'','','','','','','','','','','','','','','','','','','{}') AS "ShikibetsuTaisho"
              ON "ShikibetsuTaisho"."shikibetsuCode" = "TempSetaiJigyo"."shikibetsuCode"
              AND "ShikibetsuTaisho"."shoriYMD"  = "TempSetaiJigyo"."kijunYMD"
         WHERE "TempSetaiGymou"."jushochiTokureiFlag"= '1'
    </insert>

     世帯員所得情報事業高額一時に一括Insertする。 
    <insert id="insert世帯員所得情報事業高額一時に一括住所地特例該当が1以外"
        parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.kogakukaigoservicehikyufutaishoshatoroku.SetaiShotokuKazeiHanteiMybatisParameter">
        INSERT INTO "TmpSetaiJigyoHaakuNyuryoku"
        (
           "hihokenshaNo",
           "shikibetsuCode",
           "kijunYMD",
           "shotokuNendo",
           "jushochiTokureiFlag",
           "setaiCode",
           "honninKubun"
        )
        SELECT 
        "KaigoSetai"."hihokenshaNo",
        "KaigoSetai"."setaiInshikibetsuCode",
        "KaigoSetai"."setaiHaakuKijunYMD",
        "TempSetaiJigyo"."shotokuNendo",
        "TempSetaiJigyo"."jushochiTokureiFlag",
        "ShikibetsuTaisho"."setaiCode",
        "KaigoSetai"."honninKubun"
        FROM TempSetaiinHaakuNyuryokuJigyo AS "TempSetaiJigyo"
        INNER JOIN rgdb."DbT7014KaigoSetai" AS "KaigoSetai"
         ON "TempSetaiJigyo"."hihokenshaNo"= "KaigoSetai"."hihokenshaNo"
           AND "TempSetaiJigyo"."kijunYMD"= "KaigoSetai"."setaiHaakuKijunYMD"
        INNER JOIN 
            rgua."UaFt200FindShikibetsuTaisho"('','',FALSE,'DB',FALSE,'','','','','','','','','','','',true,
                   '','','','','','','',true,'','','','','','','','','','','',true,true,true,true,true,true,true,true,true,true,
                   true,'','','','','','','','',true,'','',true,true,true,'','','','','','','','','','','','','','','','','','','{}') AS "ShikibetsuTaisho"
              ON "ShikibetsuTaisho"."shikibetsuCode" = "TempSetaiJigyo"."shikibetsuCode"
              AND "ShikibetsuTaisho"."shoriYMD"  = "TempSetaiJigyo"."kijunYMD"
         WHERE "TempSetai"."jushochiTokureiFlag" <![CDATA[!=]]> '1'
              AND "KaigoSetai"."kanriShikibetsuKubun" = #{管理識別区分}
    </insert>
    
     <resultMap id="resultMap_TempSetaiinHaakuNyuryoku" type="jp.co.ndensan.reams.db.dbb.entity.db.relate.kogakukaigoservicehikyufutaishoshatoroku.TempSetaiinHaakuNyuryokuEntity" autoMapping="true">
        <result property="hihokenshaNo" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="shotokuNendo" column="shotokuNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <result property="shikibetsuCode" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="kijunYMD" column="kijunYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="jushochiTokureiFlag" column="jushochiTokureiFlag" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
    
      世帯員所得情報高額一時に一括Insertする。 
    <select resultOrdered="true" id="select世帯員所得情報高額一時に一括" resultMap="resultMap_TempSetaiinHaakuNyuryoku" fetchSize="500">
        SELECT 
            "TempSetai".*
        FROM TempSetaiinHaakuNyuryoku AS "TempSetai"
             INNER JOIN TmpSetaiHaakuNyuryoku AS "TmpSetaiHaaku" 
        WHERE "TempSetai"."hihokenshaNo"<![CDATA[!=]]> "TmpSetaiHaaku"."hihokenshaNo"
    </select>
    
    <resultMap id="resultMap_TempSetaiinHaakuNyuryokuJigyo" type="jp.co.ndensan.reams.db.dbb.entity.db.relate.kogakukaigoservicehikyufutaishoshatoroku.TempSetaiinHaakuNyuryokuJigyoEntity" autoMapping="true">
        <result property="hihokenshaNo" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="shotokuNendo" column="shotokuNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <result property="shikibetsuCode" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="kijunYMD" column="kijunYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="jushochiTokureiFlag" column="jushochiTokureiFlag" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
    
      世帯員所得情報事業高額一時に一括Insertする。 
    <select resultOrdered="true" id="select世帯員所得情報事業高額一時に一括" resultMap="resultMap_TempSetaiinHaakuNyuryokuJigyo" fetchSize="500">
        SELECT 
            "TempSetaiJigyo".*
        FROM TempSetaiinHaakuNyuryokuJigyo AS "TempSetaiJigyo"
             INNER JOIN TmpSetaiJigyoHaakuNyuryoku AS "TmpSetaiHaakuJigyo" 
        WHERE "TempSetaiJigyo"."hihokenshaNo"<![CDATA[!=]]> "TmpSetaiHaakuJigyo"."hihokenshaNo"
    </select>
    
     update世帯員所得情報高額一時合併内住所地特例者番号変換処理
    <update id="update世帯員所得情報高額一時合併内住所地特例者番号変換処理">
       UPDATE "TmpSetaiHaakuNyuryoku"
       SET "shikibetsuCode" = (SELECT "shikibetsuCodeSochiMoto" 
                                FROM TempGappeiNaiJutokushaShinKyuNoHenkan
       WHERE "TmpSetaiHaakuNyuryoku"."shikibetsuCode"="TempGappeiNaiJutokushaShinKyuNoHenkan"."shikibetsuCode")
    </update>
    
     update世帯員所得情報高額一時合併内住所地特例者番号変換処理
    <update id="update世帯員所得情報事業高額一時合併内住所地特例者番号変換処理">
       UPDATE "TmpSetaiJigyoHaakuNyuryoku"
       SET "shikibetsuCode" = (SELECT "shikibetsuCodeSochiMoto" 
                                FROM TempGappeiNaiJutokushaShinKyuNoHenkan
       WHERE "TmpSetaiJigyoHaakuNyuryoku"."shikibetsuCode"="TempGappeiNaiJutokushaShinKyuNoHenkan"."shikibetsuCode")
    </update>
    
     update世帯員所得情報高額一時合併内住所地特例者番号変換処理
    <update id="update高額介護サービス場合">
       UPDATE TmpSetaiHaakuNyuryoku
       SET ("kazeiKubun",
            "kazeiKubunGemmenGo",
            "gekihenKanwaKubun",
            "gokeiShotokuGaku",
            "nenkiniShunyuGaku",
            "nenkiniShotokuGaku",
            "kazeiShotokuGaku",
            "torokuGyomu"
            ) = (SELECT
            介護所得."kazeiKubun",
            介護所得."kazeiKubunGemmenGo",
            介護所得."gekihenKanwaKubun",
            介護所得."gokeiShotokuGaku",
            介護所得."nenkiniShunyuGaku",
            介護所得."nenkiniShotokuGaku",
            介護所得."kazeiShotokuGaku",
            介護所得."torokuGyomu"
        FROM rgdb."DbV2502KaigoShotoku" AS 介護所得
        WHERE 介護所得."shikibetsuCode"= TmpSetaiHaakuNyuryoku."shikibetsuCode"
        AND 介護所得."shotokuNendo" = TmpSetaiHaakuNyuryoku."shotokuNendo"
        )
    </update> 
    
     select取得した内容で世帯員所得情報高額一時に生保区分を更新
    <select resultOrdered="true" id="select取得した内容で世帯員所得情報高額一時に生保区分を更新" resultMap="resultMap_TmpSetaiHaakuNyuryoku" fetchSize="500">
        SELECT  *
        FROM "TmpSetaiHaakuNyuryoku"
        INNER JOIN rgur.UrT0508SeikatsuHogoJukyusha AS 生活保護受給者
        ON TmpSetaiHaakuNyuryoku."shikibetsuCode" = 生活保護受給者."shikibetsuCode"
        AND 生活保護受給者."gyomuCode" = 'DB'
        AND (生活保護受給者."jukyuKaishiYMD" <![CDATA[<=]]> TmpSetaiHaakuNyuryoku."kijunYMD" 
            AND  TmpSetaiHaakuNyuryoku."kijunYMD" <![CDATA[<]]> 生活保護受給者."jukyuHaishiYMD" 
        OR 生活保護受給者."jukyuKaishiYMD"<![CDATA[<=]]> TmpSetaiHaakuNyuryoku."kijunYMD" 
            AND 生活保護受給者."jukyuHaishiYMD" IS NULL
        )
        LEFT JOIN rgur.UrT0528SeikatsuHogoTeishikikan AS 生活保護停止期間
        ON 生活保護受給者."shikibetsuCode" = 生活保護停止期間."shikibetsuCode"
        AND 生活保護受給者."gyomuCode" = 生活保護停止期間."gyomuCode"
        AND (TmpSetaiHaakuNyuryoku."kijunYMD" <![CDATA[<]]> 生活保護停止期間."jukyuTeishiKaishiYMD"
        AND TmpSetaiHaakuNyuryoku."kijunYMD" <![CDATA[>]]> 生活保護停止期間."jukyuTeishiShuryoYMD" 
        OR 生活保護停止期間."jukyuTeishiShuryoYMD" IS NULL)
    </select> 
    
      select取得した内容で世帯員所得情報高額一時に老齢福祉区分を更新
    <select resultOrdered="true" id="select取得した内容で世帯員所得情報高額一時に老齢福祉区分を更新" resultMap="resultMap_TmpSetaiHaakuNyuryoku" fetchSize="500">
        SELECT  *
        FROM "TmpSetaiHaakuNyuryoku"
        INNER JOIN rgdb.DbT7006RoreiFukushiNenkinJukyusha AS 老齢福祉年金受給者
        ON TmpSetaiHaakuNyuryoku."shikibetsuCode" = 老齢福祉年金受給者."shikibetsuCode"
        AND 老齢福祉年金受給者"jukyuKaishiYMD" <![CDATA[<=]]> TmpSetaiHaakuNyuryoku."kijunYMD" 
        AND TmpSetaiHaakuNyuryoku."kijunYMD" <![CDATA[<=]]> 老齢福祉年金受給者"jukyuHaishiYMD"
    </select> 
    
     update世帯員所得情報高額一時合併内住所地特例者番号変換処理
    <update id="update事業高額介護サービス場合">
       UPDATE TmpSetaiJigyoHaakuNyuryoku
       SET ("kazeiKubun",
            "kazeiKubunGemmenGo",
            "gekihenKanwaKubun",
            "gokeiShotokuGaku",
            "nenkiniShunyuGaku",
            "nenkiniShotokuGaku",
            "kazeiShotokuGaku",
            "torokuGyomu"
            ) = (SELECT
            介護所得."kazeiKubun",
            介護所得."kazeiKubunGemmenGo",
            介護所得."gekihenKanwaKubun",
            介護所得."gokeiShotokuGaku",
            介護所得."nenkiniShunyuGaku",
            介護所得."nenkiniShotokuGaku",
            介護所得."kazeiShotokuGaku",
            介護所得."torokuGyomu"
        FROM rgdb."DbV2502KaigoShotoku" AS 介護所得
        WHERE 介護所得."shikibetsuCode"= TmpSetaiJigyoHaakuNyuryoku"shikibetsuCode"
        AND 介護所得."shotokuNendo" = TmpSetaiJigyoHaakuNyuryoku"shotokuNendo"
        )
    </update> 
    
     select取得した内容で世帯員所得情報事業高額一時に生保区分を更新
    <select resultOrdered="true" id="select取得した内容で世帯員所得情報事業高額一時に生保区分を更新" resultMap="resultMap_TmpSetaiJigyoHaakuNyuryoku" fetchSize="500">
        SELECT  *
        FROM "TmpSetaiJigyoHaakuNyuryoku"
        INNER JOIN rgur.UrT0508SeikatsuHogoJukyusha AS 生活保護受給者
        ON TmpSetaiJigyoHaakuNyuryoku."shikibetsuCode" = 生活保護受給者."shikibetsuCode"
        AND 生活保護受給者."gyomuCode" = 'DB'
        AND 生活保護受給者."jukyuKaishiYMD" <![CDATA[<=]]> TmpSetaiJigyoHaakuNyuryoku."kijunYMD" 
        AND  TmpSetaiJigyoHaakuNyuryoku."kijunYMD" <![CDATA[<]]> 生活保護受給者."jukyuHaishiYMD" 
        INNER JOIN rgur.UrT0528SeikatsuHogoTeishikikan AS 生活保護停止期間
        ON 生活保護受給者."shikibetsuCode" = 生活保護停止期間."shikibetsuCode"
        AND 生活保護受給者."gyomuCode" = 生活保護停止期間."gyomuCode"
        AND  生活保護受給者."jukyuKaishiYMD"  <![CDATA[<]]> 生活保護停止期間."jukyuTeishiKaishiYMD"
        AND  生活保護受給者."jukyuKaishiYMD"  <![CDATA[>]]>  生活保護停止期間."jukyuTeishiShuryoYMD"
    </select> 
    
     select取得した内容で世帯員所得情報事業高額一時に生保区分を更新
    <select resultOrdered="true" id="select取得した内容で世帯員所得情報事業高額一時に老齢福祉区分を更新" resultMap="resultMap_TmpSetaiJigyoHaakuNyuryoku" fetchSize="500">
        SELECT  *
        FROM "TmpSetaiJigyoHaakuNyuryoku"
        INNER JOIN rgdb.DbT7006RoreiFukushiNenkinJukyusha AS 老齢福祉年金受給者
        ON TmpSetaiJigyoHaakuNyuryoku."shikibetsuCode" = 老齢福祉年金受給者."shikibetsuCode"
        AND 老齢福祉年金受給者"jukyuKaishiYMD" <![CDATA[<=]]> TmpSetaiJigyoHaakuNyuryoku."kijunYMD" 
        AND TmpSetaiJigyoHaakuNyuryoku."kijunYMD" <![CDATA[<=]]> 老齢福祉年金受給者"jukyuHaishiYMD"
    </select> 
    
     update世帯員所得情報高額一時生保区分を付加する
    <update id="update世帯員所得情報高額一時生保区分を付加する">
       UPDATE "TmpSetaiHaakuNyuryoku"
       SET "shoboKubun" = "1"
    </update>
    
     update世帯員所得情報高額一時老齢福祉区分を更新する
    <update id="update世帯員所得情報高額一時老齢福祉区分を更新する">
       UPDATE "TmpSetaiHaakuNyuryoku"
       SET "roreiFukushiKubun" = "1"
    </update>
    
     update世帯員所得情報事業高額一時生保区分を付加する
    <update id="update世帯員所得情報事業高額一時生保区分を付加する">
       UPDATE "TmpSetaiJigyoHaakuNyuryoku"
       SET "shoboKubun" = "1"
    </update>
    
     update世帯員所得情報事業高額一時老齢福祉区分を更新する
    <update id="update世帯員所得情報事業高額一時老齢福祉区分を更新する">
       UPDATE "TmpSetaiJigyoHaakuNyuryoku"
       SET "roreiFukushiKubun" = "1"
    </update>
    
    </mapper>-->