<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  -->

<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.fukushiyogukonyuhishikyushisei.IFukushiyoguKonyuhiShikyuIkkatuShinsaMapper">
                    
    <select id="select未審査申請"
            resultMap="resultMap_ShokanShinseiEntity"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.fukushiyogukonyuhishikyushisei.ShokanFukushiYoguHanbaihiParameter" fetchSize="500">
        SELECT
        ShokanKihon."hiHokenshaNo",
        ShokanKihon."serviceTeikyoYM",
        ShokanKihon."seiriNp",
        ShokanKihon."jigyoshaNo",
        ShokanKihon."yoshikiNo",
        ShokanKihon."meisaiNo",
        <!--ShikibetsuTaisho."shimei",-->
        ShokanShinsei."shinseiYMD",
        ShokanShinsei."shiharaiKingakuTotal",
        ShokanShinsei."hokenTaishoHiyogaku",
        ShokanShinsei."hokenKyufugaku",
        ShokanShinsei."riyoshaFutangaku",
        ShokanShinsei."shinsaKekka",
        ShokanShinsei."shoKisaiHokenshaNo"
        FROM
        rgdb."DbT3038ShokanKihon" AS ShokanKihon
        INNER JOIN (SELECT "hihokenshaNo","shikibetsuCode",MAX("idoYMD" || "edaNo") FROM rgdb."DbT1001HihokenshaDaicho" 
        GROUP BY "hihokenshaNo","shikibetsuCode")AS temp1
        ON ShokanKihon."hiHokenshaNo" = temp1."hihokenshaNo"
        INNER JOIN rgdb."DbT3034ShokanShinsei" AS ShokanShinsei
        ON  ShokanKihon."hiHokenshaNo" = ShokanShinsei."hiHokenshaNo"
        AND ShokanKihon."serviceTeikyoYM" = ShokanShinsei."serviceTeikyoYM"
        AND ShokanKihon."seiriNp" = ShokanShinsei."seiriNo"
        AND ShokanShinsei."shikyuShinseiShinsaKubun" = '1'
<!--        LEFT OUTER JOIN <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.tableName_PsmParamClassShikibetsuTaisho" />
        AS <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.as_ShikibetsuTaisho" />-->
        WHERE ShokanKihon."yoshikiNo" like '%21C'
        AND NOT EXISTS(SELECT "hiHokenshaNo","serviceTeikyoYM","seiriNo" FROM rgdb."DbT3036ShokanHanteiKekka")
       <where>
        <if test="!is支給申請日FromEmpty">
            AND ShokanShinsei."shinseiYMD" <![CDATA[>=]]> #{サービス提供年月From}
        </if>
        <if test="!is支給申請日ToEmpty">
            AND ShokanShinsei."shinseiYMD" <![CDATA[<=]]> #{サービス提供年月To}
        </if>
        ORDER BY ShokanShinsei."shinseiYMD",ShokanKihon."serviceTeikyoYM" ASC
       </where>
    </select>
        
    <resultMap id="resultMap_ShokanShinseiEntity" autoMapping="true"
               type="jp.co.ndensan.reams.db.dbc.entity.db.relate.fukushiyogukonyuhishikyushisei.ShokanShinseiEntity">
        <id property="hiHokenshaNo" column="hiHokenshaNo" 
            typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="serviceTeikyoYM" column="serviceTeikyoYM"
            typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <id property="seiriNp" column="seiriNp" 
            typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="jigyoshaNo" column="jigyoshaNo"
            typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.JigyoshaNoTypeHandler"/>
        <id property="yoshikiNo" column="yoshikiNo" 
            typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="meisaiNo" column="meisaiNo"
            typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="shinseiYMD" column="shinseiYMD" 
            typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <id property="shiharaiKingakuTotal" column="shiharaiKingakuTotal"/>
        <id property="hokenTaishoHiyogaku" column="hokenTaishoHiyogaku" />
        <id property="hokenKyufugaku" column="hokenKyufugaku" />
        <id property="riyoshaFutangaku" column="riyoshaFutangaku" />
        <id property="shinsaKekka" column="shinsaKekka"  
            typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="shoKisaiHokenshaNo" column="shoKisaiHokenshaNo"
            typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HokenshaNoTypeHandler"/>
    </resultMap>  
</mapper>