<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--@reamsid_L DBD-3860-030 donghj-->

<mapper namespace = "jp.co.ndensan.reams.db.dbd.persistence.db.mapper.relate.shogaishakoujotaishoninteisho.IShogaishaKoujoTaishoNinteiShoMapper">
    
    <resultMap id ="resultMap_NinteishoJohoEntity" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.dbd4030011.NinteishoJohoEntity" autoMapping="true">
        <result property="被保険者番号" column="被保険者番号" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler" />
        <result property="対象年度" column="対象年度" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler" />
        <result property="障害理由区分" column="認定区分" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="障害理由内容" column="認定内容" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="要介護認定日" column="認定年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="申請者氏名" column="申請届出者氏名" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="申請者住所" column="申請届出者住所" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <association property="psmEntity" resultMap="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.UaFt200FindShikibetsuTaishoEntity"/>
        <association property="atesakiEntity" resultMap="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt250FindAtesakiMapper.resultAtesakiEntity"/>
    </resultMap>
    
    <select resultOrdered="true" id="控除対象者データの取得" resultMap="resultMap_NinteishoJohoEntity"
            parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.dbd4030011.ShogaishaKojoTaishoshaListMyBatisParameter" fetchSize="500">
       SELECT
          T4037."hihokenshaNo" AS 被保険者番号,
          T4037."taishoNendo" AS 対象年度,
          T4037."ninteiKubun" AS 認定区分,
          T4037."ninteiNaiyo" AS 認定内容,
          T4010."shinseiTodokedeshaShimei" AS 申請届出者氏名,
          T4010."shinseiTodokedeshaJusho" AS 申請届出者住所,
          <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.columns_ShikibetsuTaisho" />,
          <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt250FindAtesakiMapper.columns_Atesaki" />,
	  T4001."ninteiYMD" AS 認定年月日
        FROM(
        SELECT
           tmp障がい者控除.*
        FROM(
           SELECT
              *,
             ROW_NUMBER() OVER (PARTITION BY "hihokenshaNo" ORDER BY "rirekiNo" DESC) AS 行番
           FROM rgdb."DbT4038ShogaishaKoujo"
           WHERE 1=1
           AND "taishoNendo" = #{対象年度}
           AND "ketteiKubun" = '1'
            ) AS tmp障がい者控除
        WHERE tmp障がい者控除."行番" = 1
        ) AS T4037
     INNER JOIN rgdb."DbT4010GemmenGengakuShinsei" AS T4010
     ON T4037."shoKisaiHokenshaNo" = T4010."shoKisaiHokenshaNo"
     AND T4037."hihokenshaNo" = T4010."hihokenshaNo"
     AND T4037."rirekiNo" = T4010."shinseiRirekiNo"
     AND T4010."gemmenGengakuShurui" = #{障がい者控除}
     INNER JOIN(
       SELECT 
         tmp被保険者台帳管理."shikibetsuCode",
         tmp被保険者台帳管理."hihokenshaNo",
         tmp被保険者台帳管理."idoYMD"
       FROM(
         SELECT
          DbT1001."shikibetsuCode",
          DbT1001."hihokenshaNo",
          DbT1001."idoYMD",
          ROW_NUMBER() OVER (PARTITION BY DbT1001."hihokenshaNo", DbT1001."idoYMD" ORDER BY DbT1001."edaNo" DESC) AS 行番
         FROM rgdb."DbT1001HihokenshaDaicho" AS DbT1001
          WHERE DbT1001."logicalDeletedFlag" = false
        ) AS tmp被保険者台帳管理
        WHERE tmp被保険者台帳管理."行番" = 1
     ) AS T1001
     ON T4037."hihokenshaNo" = T1001."hihokenshaNo"
     INNER JOIN
     <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.tableName_PsmParamClassShikibetsuTaisho" />
     AS <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.as_ShikibetsuTaisho" />
     ON <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.as_ShikibetsuTaisho" />."shikibetsuCode" = T1001."shikibetsuCode"
     INNER JOIN
	 rgua."UaFt250FindAtesaki"('DB','DBB','','true','','','true','true','true','true','') AS "Atesaki"
     ON "Atesaki"."shikibetsuCode" = T1001."shikibetsuCode"
     INNER JOIN(
	    SELECT 
		  "shikibetsuCode",
		  "hihokenshaNo",
		  "ninteiYMD",
                  "shichosonCode"
		FROM(
		   SELECT
		     "shikibetsuCode",
		     "hihokenshaNo",
		     "ninteiYMD",
                     "shichosonCode",
			 ROW_NUMBER() OVER (PARTITION BY "hihokenshaNo" ORDER BY "rirekiNo" DESC,edaban DESC) AS 行番
		   FROM rgdb."DbT4001JukyushaDaicho"
		   WHERE "logicalDeletedFlag" = false
		) AS tmp受給者台帳
		WHERE tmp受給者台帳.行番 = 1
	 ) AS T4001
     ON T4037."hihokenshaNo" = T4001."hihokenshaNo"
     <if test="前回非該当者含まない">
      INNER JOIN(
        SELECT "hihokenshaNo"
        FROM(
            SELECT
            "DbT4038ShogaishaKoujo"."hihokenshaNo" AS "hihokenshaNo",
            row_number() OVER (PARTITION BY "DbT4038ShogaishaKoujo"."hihokenshaNo" ORDER BY "DbT4038ShogaishaKoujo"."rirekiNo" DESC) AS 行番
            FROM rgdb."DbT4038ShogaishaKoujo" AS "DbT4038ShogaishaKoujo"
            WHERE 
            1=1
            AND "DbT4038ShogaishaKoujo"."taishoNendo" = #{対象年度plus1}
            AND "DbT4038ShogaishaKoujo"."ketteiKubun" = '1'
        ) AS tmp障がい者控除
        WHERE tmp障がい者控除.行番 = 1
     ) AS T4037_TMP2
     ON T4037."hihokenshaNo" = T4037_TMP2."hihokenshaNo"
     </if>
            
    WHERE T4037."ninteishoHakkoTaishogai" = false
    <if test="is_被保険者番号">
        AND T4037."hihokenshaNo" = #{被保険者番号}
    </if>
    <if test="is_氏名">
        AND <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.as_ShikibetsuTaisho" />."kanjiShimei" LIKE CONCAT(#{氏名},'%')
    </if>
    <if test="is_認定区分">
        AND T4037."ninteiKubun" = #{認定区分}
    </if>
    <if test="is_認定内容">
        AND T4037."ninteiNaiyo" = #{認定内容}
    </if>
    <if test="is_認知症高齢者">
        AND T4037."ninchishoNichijoSeikatsuJiritsudoCode"= #{認知症高齢者の日常生活自立度}
    </if>
    <if test="is_障害高齢者">
        AND T4037."shogaiNichijoSeikatsuJiritsudoCode" = #{障害高齢者の日常生活自立度}
    </if>
    <if test="is_障がい者手帳">
        <if test="障がい者手帳あり">
            AND T4037."shogaishaTechoUmu" = true
        </if>
        <if test="障がい者手帳なし">
            AND T4037."shogaishaTechoUmu"= false
        </if>
    </if>
    <if test="is_喪失事由">
        AND T4037."shikakuSoshitsuJiyuCode" = #{喪失事由}
    </if>
    <if test="is_喪失日FROM">
        AND #{喪失日FROM} <![CDATA[<=]]> T4037."shikakuSoshitsuYMD"
    </if>
    <if test="is_喪失日TO">
        AND T4037."shikakuSoshitsuYMD" <![CDATA[<=]]> #{喪失日TO}
    </if>
    <if test="is_決定日FROM">
        AND #{決定日FROM} <![CDATA[<=]]> T4037."ketteiYMD"
    </if>
    <if test="is_決定日TO">
        AND T4037."ketteiYMD" <![CDATA[<=]]> #{決定日TO}
    </if>
    ${出力順}
    </select>
</mapper>