<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： 賦課の情報のマッピング用XMLです。 -->
<!-- @reamsid_L DBB-9999-013 xicongwang -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.relate.fuka.IFukaJohoRelateMapper">

    <select id="select賦課の情報ByKey" resultMap="resultMap_FukaInfo" 
            parameterType="jp.co.ndensan.reams.db.dbb.definition.mybatisprm.fukajoho.FukaJohoRelateMapperParameter"
            fetchSize="500" resultOrdered="true">
        <include refid="selectFukaJohoRelateEntity" />
    </select>

    <select resultOrdered="true" id="select賦課の情報リストBy主キー1" resultMap="resultMap_FukaInfo" fetchSize="500">
        <include refid="selectFukaJohoRelateEntity" />
    </select>

    <sql id="selectFukaJohoRelateEntity">
        SELECT
        DbT2002Fuka.*,
        DbT2003Kibetsu.*,
        UrT0705ChoteiKyotsu.*
        FROM
        (<include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2002FukaMapper.noDeleted_DbT2002Fuka" />) AS DbT2002Fuka
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2003KibetsuMapper.noDeleted_DbT2003Kibetsu" />) AS DbT2003Kibetsu
        ON
        DbT2002Fuka."dbT2002Fuka_choteiNendo" = DbT2003Kibetsu."dbT2003Kibetsu_choteiNendo" and
        DbT2002Fuka."dbT2002Fuka_fukaNendo" = DbT2003Kibetsu."dbT2003Kibetsu_fukaNendo" and
        DbT2002Fuka."dbT2002Fuka_tsuchishoNo" = DbT2003Kibetsu."dbT2003Kibetsu_tsuchishoNo" and
        DbT2002Fuka."dbT2002Fuka_rirekiNo" = DbT2003Kibetsu."dbT2003Kibetsu_rirekiNo"
        LEFT JOIN
        (
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IUrT0705ChoteiKyotsuMapper.allColumns_UrT0705ChoteiKyotsu" />
        FROM
        rgdb."UrT0705ChoteiKyotsu"
        ) AS UrT0705ChoteiKyotsu
        ON
        DbT2003Kibetsu."dbT2003Kibetsu_choteiId" = UrT0705ChoteiKyotsu."urT0705ChoteiKyotsu_choteiId"
        <where>
            <if test="uses調定年度">
                AND DbT2002Fuka."dbT2002Fuka_choteiNendo" = #{調定年度}
            </if>
            <if test="uses賦課年度">
                and DbT2002Fuka."dbT2002Fuka_fukaNendo" = #{賦課年度}
            </if>
            <if test="uses通知書番号">
                and DbT2002Fuka."dbT2002Fuka_tsuchishoNo" = #{通知書番号}
            </if>
            <if test="uses履歴番号">
                and DbT2002Fuka."dbT2002Fuka_rirekiNo" = #{履歴番号}
            </if>
        </where>
    </sql>

    <select resultOrdered="true" id="select最新賦課の情報ByKey" resultMap="resultMap_FukaInfo" fetchSize="500">
        <include refid="selectsaishenFukaJohoRelateEntity" />
    </select>

    <sql id="selectsaishenFukaJohoRelateEntity">
        SELECT
        DbT2002Fuka.*,
        DbT2003Kibetsu.*,
        UrT0705ChoteiKyotsu.*
        FROM
        (<include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2002FukaMapper.noDeleted_DbT2002Fuka" />) AS DbT2002Fuka
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2003KibetsuMapper.noDeleted_DbT2003Kibetsu" />) AS DbT2003Kibetsu
        ON
        DbT2002Fuka."dbT2002Fuka_choteiNendo" = DbT2003Kibetsu."dbT2003Kibetsu_choteiNendo" and
        DbT2002Fuka."dbT2002Fuka_fukaNendo" = DbT2003Kibetsu."dbT2003Kibetsu_fukaNendo" and
        DbT2002Fuka."dbT2002Fuka_tsuchishoNo" = DbT2003Kibetsu."dbT2003Kibetsu_tsuchishoNo" and
        DbT2002Fuka."dbT2002Fuka_rirekiNo" = DbT2003Kibetsu."dbT2003Kibetsu_rirekiNo"
        LEFT JOIN
        (
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IUrT0705ChoteiKyotsuMapper.allColumns_UrT0705ChoteiKyotsu" />
        FROM
        rgdb."UrT0705ChoteiKyotsu"
        ) AS UrT0705ChoteiKyotsu
        ON
        DbT2003Kibetsu."dbT2003Kibetsu_choteiId" = UrT0705ChoteiKyotsu."urT0705ChoteiKyotsu_choteiId"
        <where>
            <if test="uses調定年度">
                AND DbT2002Fuka."dbT2002Fuka_choteiNendo" = #{調定年度}
            </if>
            <if test="uses賦課年度">
                and DbT2002Fuka."dbT2002Fuka_fukaNendo" = #{賦課年度}
            </if>
            <if test="uses通知書番号">
                and DbT2002Fuka."dbT2002Fuka_tsuchishoNo" = #{通知書番号}
            </if>
            <if test="uses履歴番号">
                and DbT2002Fuka."dbT2002Fuka_rirekiNo" = #{履歴番号}
            </if>
        </where>
        ORDER BY DbT2002Fuka."dbT2002Fuka_rirekiNo" DESC
    </sql>

    <resultMap id="resultMap_FukaInfo" type="jp.co.ndensan.reams.db.dbb.entity.db.relate.fukajoho.fukajoho.FukaJohoRelateEntity" autoMapping="true">
        <id property="介護賦課Entity.choteiNendo" column="dbT2002Fuka_choteiNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <id property="介護賦課Entity.fukaNendo" column="dbT2002Fuka_fukaNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <id property="介護賦課Entity.tsuchishoNo" column="dbT2002Fuka_tsuchishoNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.TsuchishoNoTypeHandler"/>
        <id property="介護賦課Entity.rirekiNo" column="dbT2002Fuka_rirekiNo" />
        <association property="介護賦課Entity" resultMap="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2002FukaMapper.ResultMap_DbT2002FukaEntity"/>
        <collection property="介護期別RelateEntity"
                    resultMap="resultMap_KibetsuEntity"/>
    </resultMap>

    <resultMap id="resultMap_KibetsuEntity" type="jp.co.ndensan.reams.db.dbb.entity.db.relate.fukajoho.kibetsu.KibetsuEntity" autoMapping="true">
        <id property="介護期別Entity.choshuHouhou" column="dbT2003Kibetsu_choshuHouhou" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="介護期別Entity.ki" column="dbT2003Kibetsu_ki" />
        <association property="介護期別Entity" resultMap="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2003KibetsuMapper.ResultMap_DbT2003KibetsuEntity"/>
        <collection property="調定共通Entity" resultMap="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IUrT0705ChoteiKyotsuMapper.ResultMap_UrT0705ChoteiKyotsuEntity"/>
    </resultMap>

    <select id="select前年度賦課の情報ByKey" resultMap="resultMap_FukaInfo"
            parameterType="java.util.Map" fetchSize="500" resultOrdered="true">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2002FukaMapper.allColumns_DbT2002Fuka"/>,
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2003KibetsuMapper.allColumns_DbT2003Kibetsu"/>,
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IUrT0705ChoteiKyotsuMapper.allColumns_UrT0705ChoteiKyotsu"/>
        FROM
        rgdb."DbT2002Fuka" AS "DbT2002Fuka",
        rgdb."DbT2003Kibetsu" AS "DbT2003Kibetsu",
        rgdb."UrT0705ChoteiKyotsu" AS "UrT0705ChoteiKyotsu",
        (
        SELECT
        C1."choteiNendo",
        C1."fukaNendo",
        C1."hihokenshaNo",
        C1."tsuchishoNo",
        MAX(C1."rirekiNo") AS "rirekiNo"
        FROM
        rgdb."DbT2002Fuka" AS C1
        INNER JOIN
        (
        SELECT
        DbT2002FukaMax."choteiNendo",
        DbT2002FukaMax."fukaNendo",
        DbT2002FukaMax."hihokenshaNo",
        MAX(DbT2002FukaMax."tsuchishoNo") AS "tsuchishoNo"
        FROM
        rgdb."DbT2002Fuka" AS DbT2002FukaMax,
        (
        SELECT
        MAX(D1."choteiNendo") AS "choteiNendo",
        D1."hihokenshaNo"
        FROM
        rgdb."DbT2002Fuka" AS D1
        WHERE
        D1."fukaNendo" = #{fukaNendo}
        GROUP BY
        "hihokenshaNo"
        ) AS A
        WHERE
        DbT2002FukaMax."choteiNendo" = A."choteiNendo"
        AND DbT2002FukaMax."fukaNendo" = #{fukaNendo}
        AND DbT2002FukaMax."hihokenshaNo" = A."hihokenshaNo"
        GROUP BY
        DbT2002FukaMax."choteiNendo",
        DbT2002FukaMax."fukaNendo",
        DbT2002FukaMax."hihokenshaNo"
        ) AS C
        ON
        C."choteiNendo" = C1."choteiNendo"
        AND C."fukaNendo" = C1."fukaNendo"
        AND C."hihokenshaNo" = C1."hihokenshaNo"
        AND C."tsuchishoNo" = C1."tsuchishoNo"
        GROUP BY
        C1."choteiNendo",
        C1."fukaNendo",
        C1."hihokenshaNo",
        C1."tsuchishoNo"
        ) B
        WHERE
        "DbT2002Fuka"."choteiNendo" = B."choteiNendo"
        AND "DbT2002Fuka"."fukaNendo" = B."fukaNendo"
        AND "DbT2002Fuka"."tsuchishoNo" = B."tsuchishoNo"
        AND "DbT2002Fuka"."hihokenshaNo" = B."hihokenshaNo"
        AND "DbT2002Fuka"."rirekiNo" = B."rirekiNo"
        AND "DbT2002Fuka"."choteiNendo" = "DbT2003Kibetsu"."choteiNendo"
        AND "DbT2002Fuka"."fukaNendo" = "DbT2003Kibetsu"."fukaNendo"
        AND "DbT2002Fuka"."tsuchishoNo" = "DbT2003Kibetsu"."tsuchishoNo"
        AND "DbT2002Fuka"."rirekiNo" = "DbT2003Kibetsu"."rirekiNo"
        AND "DbT2003Kibetsu"."choteiId" = "UrT0705ChoteiKyotsu"."choteiId"
        AND "DbT2002Fuka"."hihokenshaNo" = #{hihokenshaNo}
    </select>
    <select id="get賦課の情報" resultMap="resultMap_FukaInfo"
            parameterType="java.util.Map" fetchSize="500" resultOrdered="true">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2002FukaMapper.allColumns_DbT2002Fuka"/>,
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2003KibetsuMapper.allColumns_DbT2003Kibetsu"/>,
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IUrT0705ChoteiKyotsuMapper.allColumns_UrT0705ChoteiKyotsu"/>
        FROM
        rgdb."DbT2002Fuka" AS "DbT2002Fuka"
        INNER JOIN
        rgdb."DbT2003Kibetsu" AS "DbT2003Kibetsu"
        ON
        "DbT2003Kibetsu"."choteiNendo" = "DbT2002Fuka"."choteiNendo" and
        "DbT2003Kibetsu"."fukaNendo" = "DbT2002Fuka"."fukaNendo" and
        "DbT2003Kibetsu"."tsuchishoNo" = "DbT2002Fuka"."tsuchishoNo" and
        "DbT2003Kibetsu"."rirekiNo" = "DbT2002Fuka"."rirekiNo"
        INNER JOIN
        rgdb."UrT0705ChoteiKyotsu" AS "UrT0705ChoteiKyotsu"
        ON
        "UrT0705ChoteiKyotsu"."choteiId" = "DbT2003Kibetsu"."choteiId"
        WHERE
        "DbT2002Fuka"."fukaNendo" = #{fukaNendo}
        AND "DbT2002Fuka"."tsuchishoNo" = #{tsuchishoNo}
        ORDER BY
        "DbT2002Fuka"."choteiNendo",
        "DbT2002Fuka"."fukaNendo",
        "DbT2002Fuka"."tsuchishoNo",
        "DbT2002Fuka"."rirekiNo",
        "DbT2003Kibetsu"."ki"
    </select>
    
    <select id="get平準化後の賦課の情報_画面" resultMap="resultMap_FukaInfo"
            parameterType="jp.co.ndensan.reams.db.dbb.definition.batchprm.tokuchoheinjunkakakutei.HeinjunkaAfterParameter" fetchSize="500" resultOrdered="true">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2002FukaMapper.allColumns_DbT2002Fuka"/>,
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2003KibetsuMapper.allColumns_DbT2003Kibetsu"/>,
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IUrT0705ChoteiKyotsuMapper.allColumns_UrT0705ChoteiKyotsu"/>
        FROM
        rgdb."DbV2002Fuka" AS "DbT2002Fuka"
        INNER JOIN
        rgdb."DbT2003Kibetsu" AS "DbT2003Kibetsu"
        ON
        "DbT2003Kibetsu"."choteiNendo" = "DbT2002Fuka"."choteiNendo" and
        "DbT2003Kibetsu"."fukaNendo" = "DbT2002Fuka"."fukaNendo" and
        "DbT2003Kibetsu"."tsuchishoNo" = "DbT2002Fuka"."tsuchishoNo" and
        "DbT2003Kibetsu"."rirekiNo" = "DbT2002Fuka"."rirekiNo" and
        "DbT2003Kibetsu"."choshuHouhou" = '1'
        INNER JOIN
        rgdb."UrT0705ChoteiKyotsu" AS "UrT0705ChoteiKyotsu"
        ON
        "UrT0705ChoteiKyotsu"."choteiId" = "DbT2003Kibetsu"."choteiId"
        WHERE "DbT2002Fuka"."choteiNendo" = #{調定年度}
        AND "DbT2002Fuka"."fukaNendo" = #{賦課年度}
        AND "DbT2002Fuka"."choteiNichiji" = #{調定日時}
        AND "DbT2002Fuka"."hokenryoDankaiKarisanntei" = #{保険料段階}
    </select>
    
    
    <resultMap id="resultMap_Fuka" type="jp.co.ndensan.reams.db.dbb.entity.db.relate.fukajoho.fukajoho.FukaJohoRelateEntity" autoMapping="true">
        <id property="介護賦課Entity.choteiNendo" column="dbV2002Fuka_choteiNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <id property="介護賦課Entity.fukaNendo" column="dbV2002Fuka_fukaNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <id property="介護賦課Entity.tsuchishoNo" column="dbV2002Fuka_tsuchishoNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.TsuchishoNoTypeHandler"/>
        <id property="介護賦課Entity.rirekiNo" column="dbV2002Fuka_rirekiNo" />
        <association property="介護賦課Entity" resultMap="ResultMap_DbV2002FukaEntity"/>
        <collection property="介護期別RelateEntity"
                    resultMap="resultMap_KibetsuEntity"/>
    </resultMap>
    <resultMap id="ResultMap_DbV2002FukaEntity" type="jp.co.ndensan.reams.db.dbx.entity.db.basic.DbT2002FukaEntity" autoMapping="true">
        <result property="choteiNendo" column="dbV2002Fuka_choteiNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <result property="fukaNendo" column="dbV2002Fuka_fukaNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <result property="tsuchishoNo" column="dbV2002Fuka_tsuchishoNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.TsuchishoNoTypeHandler"/>
        <result property="rirekiNo" column="dbV2002Fuka_rirekiNo" />
        <result property="insertDantaiCd" column="dbV2002Fuka_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbV2002Fuka_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbV2002Fuka_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbV2002Fuka_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbV2002Fuka_isDeleted" />
        <result property="updateCount" column="dbV2002Fuka_updateCount" />
        <result property="lastUpdateTimestamp" column="dbV2002Fuka_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbV2002Fuka_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hihokenshaNo" column="dbV2002Fuka_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="shikibetsuCode" column="dbV2002Fuka_shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="setaiCode" column="dbV2002Fuka_setaiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.SetaiCodeTypeHandler"/>
        <result property="setaiInsu" column="dbV2002Fuka_setaiInsu" />
        <result property="shikakuShutokuYMD" column="dbV2002Fuka_shikakuShutokuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shikakuShutokuJiyu" column="dbV2002Fuka_shikakuShutokuJiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shikakuSoshitsuYMD" column="dbV2002Fuka_shikakuSoshitsuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shikakuSoshitsuJiyu" column="dbV2002Fuka_shikakuSoshitsuJiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="seihofujoShurui" column="dbV2002Fuka_seihofujoShurui" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="seihoKaishiYMD" column="dbV2002Fuka_seihoKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="seihoHaishiYMD" column="dbV2002Fuka_seihoHaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ronenKaishiYMD" column="dbV2002Fuka_ronenKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ronenHaishiYMD" column="dbV2002Fuka_ronenHaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="fukaYMD" column="dbV2002Fuka_fukaYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="kazeiKubun" column="dbV2002Fuka_kazeiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="setaikazeiKubun" column="dbV2002Fuka_setaikazeiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="gokeiShotokuGaku" column="dbV2002Fuka_gokeiShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="nenkinShunyuGaku" column="dbV2002Fuka_nenkinShunyuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="hokenryoDankai" column="dbV2002Fuka_hokenryoDankai" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hokenryoDankai1" column="dbV2002Fuka_hokenryoDankai1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="nengakuHokenryo1" column="dbV2002Fuka_nengakuHokenryo1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="tsukiwariStartYM1" column="dbV2002Fuka_tsukiwariStartYM1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="tsukiwariEndYM1" column="dbV2002Fuka_tsukiwariEndYM1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="hokenryoDankai2" column="dbV2002Fuka_hokenryoDankai2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="nengakuHokenryo2" column="dbV2002Fuka_nengakuHokenryo2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="tsukiwariStartYM2" column="dbV2002Fuka_tsukiwariStartYM2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="tsukiwariEndYM2" column="dbV2002Fuka_tsukiwariEndYM2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="choteiNichiji" column="dbV2002Fuka_choteiNichiji" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YMDHMSTypeHandler"/>
        <result property="choteiJiyu1" column="dbV2002Fuka_choteiJiyu1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="choteiJiyu2" column="dbV2002Fuka_choteiJiyu2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="choteiJiyu3" column="dbV2002Fuka_choteiJiyu3" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="choteiJiyu4" column="dbV2002Fuka_choteiJiyu4" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="koseiM" column="dbV2002Fuka_koseiM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="gemmenMaeHokenryo" column="dbV2002Fuka_gemmenMaeHokenryo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="gemmenGaku" column="dbV2002Fuka_gemmenGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="kakuteiHokenryo" column="dbV2002Fuka_kakuteiHokenryo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="hokenryoDankaiKarisanntei" column="dbV2002Fuka_hokenryoDankaiKarisanntei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="choshuHohoRirekiNo" column="dbV2002Fuka_choshuHohoRirekiNo" />
        <result property="idoKijunNichiji" column="dbV2002Fuka_idoKijunNichiji" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YMDHMSTypeHandler"/>
        <result property="kozaKubun" column="dbV2002Fuka_kozaKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kyokaisoKubun" column="dbV2002Fuka_kyokaisoKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shokkenKubun" column="dbV2002Fuka_shokkenKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="fukaShichosonCode" column="dbV2002Fuka_fukaShichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <result property="tkSaishutsuKampuGaku" column="dbV2002Fuka_tkSaishutsuKampuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="fuSaishutsuKampuGaku" column="dbV2002Fuka_fuSaishutsuKampuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
    </resultMap>
    <select id="get平準化後の賦課の情報" resultMap="resultMap_Fuka"
            parameterType="jp.co.ndensan.reams.db.dbb.definition.batchprm.tokuchoheinjunkakakutei.HeinjunkaAfterParameter" fetchSize="500" resultOrdered="true">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbV2002FukaMapper.allColumns_DbV2002Fuka"/>,
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2003KibetsuMapper.allColumns_DbT2003Kibetsu"/>,
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IUrT0705ChoteiKyotsuMapper.allColumns_UrT0705ChoteiKyotsu"/>
        FROM
        rgdb."DbV2002Fuka" AS "DbV2002Fuka"
        INNER JOIN
        rgdb."DbT2003Kibetsu" AS "DbT2003Kibetsu"
        ON
        "DbT2003Kibetsu"."choteiNendo" = "DbV2002Fuka"."choteiNendo" and
        "DbT2003Kibetsu"."fukaNendo" = "DbV2002Fuka"."fukaNendo" and
        "DbT2003Kibetsu"."tsuchishoNo" = "DbV2002Fuka"."tsuchishoNo" and
        "DbT2003Kibetsu"."rirekiNo" = "DbV2002Fuka"."rirekiNo" and
        "DbT2003Kibetsu"."choshuHouhou" = '1'
        INNER JOIN
        rgdb."UrT0705ChoteiKyotsu" AS "UrT0705ChoteiKyotsu"
        ON
        "UrT0705ChoteiKyotsu"."choteiId" = "DbT2003Kibetsu"."choteiId"
        WHERE "DbV2002Fuka"."choteiNendo" = #{調定年度}
        AND "DbV2002Fuka"."fukaNendo" = #{賦課年度}
        AND "DbV2002Fuka"."choteiNichiji" = #{調定日時}
    </select>

    <select id="select履歴番号最大の賦課の情報" resultMap="resultMap_FukaInfo"
            parameterType="jp.co.ndensan.reams.db.dbb.definition.mybatisprm.fukajoho.FukaJohoRelateMapperParameter" fetchSize="500" resultOrdered="true">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2002FukaMapper.allColumns_DbT2002Fuka"/>,
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2003KibetsuMapper.allColumns_DbT2003Kibetsu"/>,
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IUrT0705ChoteiKyotsuMapper.allColumns_UrT0705ChoteiKyotsu"/>
        FROM
        rgdb."DbV2002Fuka" AS "DbT2002Fuka"
        LEFT JOIN
        rgdb."DbT2003Kibetsu" AS "DbT2003Kibetsu"
        ON
        "DbT2002Fuka"."choteiNendo" = "DbT2003Kibetsu"."choteiNendo"
        AND "DbT2002Fuka"."fukaNendo" = "DbT2003Kibetsu"."fukaNendo"
        AND "DbT2002Fuka"."tsuchishoNo" = "DbT2003Kibetsu"."tsuchishoNo"
        AND "DbT2002Fuka"."rirekiNo" = "DbT2003Kibetsu"."rirekiNo"
        LEFT JOIN rgdb."UrT0705ChoteiKyotsu" AS "UrT0705ChoteiKyotsu"
        ON
        "DbT2003Kibetsu"."choteiId" = "UrT0705ChoteiKyotsu"."choteiId"
        WHERE "DbT2002Fuka"."tsuchishoNo" = #{通知書番号}
        AND "DbT2002Fuka"."fukaNendo" = #{賦課年度}
        ORDER BY
        "DbT2002Fuka"."choteiNendo",
        "DbT2002Fuka"."fukaNendo",
        "DbT2002Fuka"."tsuchishoNo",
        "DbT2002Fuka"."rirekiNo"
    </select>

    <select id="select賦課の情報_最新" resultMap="resultMap_FukaInfo" 
            parameterType="jp.co.ndensan.reams.db.dbb.definition.mybatisprm.fukajoho.FukaJohoRelateMapperParameter"
            fetchSize="500" resultOrdered="true">
        <include refid="selectFukaJohoRelateEntitySaisin" />
    </select>
    <sql id="selectFukaJohoRelateEntitySaisin">
        SELECT
        DbT2002Fuka.*,
        DbT2003Kibetsu.*,
        UrT0705ChoteiKyotsu.*
        FROM
        (<include refid="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.relate.fuka.IFukaJohoRelateMapper.noDeleted_DbV2002Fuka" />) AS DbT2002Fuka
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2003KibetsuMapper.noDeleted_DbT2003Kibetsu" />) AS DbT2003Kibetsu
        ON
        DbT2002Fuka."dbT2002Fuka_choteiNendo" = DbT2003Kibetsu."dbT2003Kibetsu_choteiNendo" and
        DbT2002Fuka."dbT2002Fuka_fukaNendo" = DbT2003Kibetsu."dbT2003Kibetsu_fukaNendo" and
        DbT2002Fuka."dbT2002Fuka_tsuchishoNo" = DbT2003Kibetsu."dbT2003Kibetsu_tsuchishoNo" and
        DbT2002Fuka."dbT2002Fuka_rirekiNo" = DbT2003Kibetsu."dbT2003Kibetsu_rirekiNo"
        LEFT JOIN
        (
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IUrT0705ChoteiKyotsuMapper.allColumns_UrT0705ChoteiKyotsu" />
        FROM
        rgdb."UrT0705ChoteiKyotsu"
        ) AS UrT0705ChoteiKyotsu
        ON
        DbT2003Kibetsu."dbT2003Kibetsu_choteiId" = UrT0705ChoteiKyotsu."urT0705ChoteiKyotsu_choteiId"
        <where>
            <if test="uses調定年度">
                AND DbT2002Fuka."dbT2002Fuka_choteiNendo" = #{調定年度}
            </if>
            <if test="uses賦課年度">
                and DbT2002Fuka."dbT2002Fuka_fukaNendo" = #{賦課年度}
            </if>
            <if test="uses通知書番号">
                and DbT2002Fuka."dbT2002Fuka_tsuchishoNo" = #{通知書番号}
            </if>
        </where>
    </sql>
    <sql id="noDeleted_DbV2002Fuka">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2002FukaMapper.allColumns_DbT2002Fuka" />
     FROM
         rgdb."DbV2002Fuka" AS "DbT2002Fuka"
     WHERE
         "DbT2002Fuka"."isDeleted" = FALSE
    </sql>

</mapper>