<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： 減免・減額履歴情報(画面)の標準負担額減免履歴情報取得のマッピング用XMLです。 -->
<!-- @reamsid_L DBC-4350-090 liuxiaoyu -->

<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.hyojunfutangakugemmenjyoho.IHyojunFutangakuGemmenJyohoMapper">  
    <select id="get標準負担額減免履歴情報"
            resultMap="resultMap_HyojunFutangakuGemmenJyohoEntity"
            parameterType="java.util.Map" fetchSize="500" resultOrdered="true">
        SELECT
            HyojunEntity.減免_減額種類,
            HyojunEntity.適用開始日,
            HyojunEntity.適用終了日,
            HyojunEntity.負担額
        FROM
            ( SELECT
                '01' AS 減免_減額種類,
                Dbt4012."tekiyoKaishiYMD" AS 適用開始日,
                Dbt4012."tekiyoShuryoYMD" AS 適用終了日,
                Dbt4012."gengakugoKingaku" AS 負担額
              FROM
                rgdb."DbT4012HyojunFutangakuGemmen"  AS Dbt4012
              WHERE
                Dbt4012."hihokenshaNo" = #{被保険者番号}
              UNION
              SELECT
                '02' AS 減免_減額種類,
                Dbt4013."tekiyoKaishiYMD" AS 適用開始日,
                Dbt4013."tekiyoShuryoYMD" AS 適用終了日,
                Dbt4013."shokuhiFutanGendogaku" AS 負担額
              FROM
                rgdb."DbT4013TokuteiHyojunFutangakuGengaku" AS Dbt4013
              WHERE
                Dbt4013."hihokenshaNo" = #{被保険者番号}
            )  AS HyojunEntity      
       ORDER BY 
            減免_減額種類  ASC,
            適用開始日 DESC
    </select>

    <resultMap id="resultMap_HyojunFutangakuGemmenJyohoEntity" autoMapping="true"
               type="jp.co.ndensan.reams.db.dbc.entity.db.relate.hyojunfutangakugemmenjyoho.HyojunFutangakuGemmenJyohoRelateEntity">
        <result property="減免_減額種類" column="減免_減額種類" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="適用開始日" column="適用開始日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="適用終了日" column="適用終了日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="負担額" column="負担額" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
    </resultMap>

</mapper>