<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： 要介護認定申請情報のマッピング用XMLです。 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.relate.ninteitiyousaiirai.INinteiShinseiJohoMapper">

    <select id="getNinteiShinseiJohoEntity"
    resultMap="resultMap_NinteiKekkaJohoEntity"
    parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatis.param.ninteishinseijoho.NinteiShinseiJohoMapperParameter" fetchSize="500">
        SELECT
            dbT5101NinteiShinseiJoho.*,
            dbT5201NinteichosaIraiJoho.*
        FROM
        (
            SELECT
                <include refid="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT5101NinteiShinseiJohoMapper.allColumns_DbT5101NinteiShinseiJoho" />
            FROM
                rgdb."DbT5101NinteiShinseiJoho"
                WHERE
                    rgdb."DbT5101NinteiShinseiJoho"."shinseishoKanriNo" = #{shinseishoKanriNo}
        ) AS dbT5101NinteiShinseiJoho
        LEFT OUTER JOIN
        (
            SELECT
                <include refid="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT5201NinteichosaIraiJohoMapper.allColumns_DbT5201NinteichosaIraiJoho" />
            FROM
                rgdb."DbT5201NinteichosaIraiJoho"
         ) AS dbT5201NinteichosaIraiJoho
                ON dbT5101NinteiShinseiJoho."dbT5101NinteiShinseiJoho_shinseishoKanriNo" = dbT5201NinteichosaIraiJoho."dbT5201NinteichosaIraiJoho_shinseishoKanriNo"
        
    </select>
    <resultMap id="resultMap_NinteiKekkaJohoEntity" type="jp.co.ndensan.reams.db.dbe.entity.db.relate.ninteichosairaijoho.ninteishinseijoho.NinteiShinseiJohoRelateEntity" autoMapping="true">
        <id column="dbT5101NinteiShinseiJoho_shinseishoKanriNo"/> 
        <association property="要介護認定申請情報Entity" resultMap="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT5101NinteiShinseiJohoMapper.ResultMap_DbT5101NinteiShinseiJohoEntity"/>
        <collection  property="認定調査依頼情報Entity" ofType="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT5201NinteichosaIraiJohoEntity" 
                     resultMap="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT5201NinteichosaIraiJohoMapper.ResultMap_DbT5201NinteichosaIraiJohoEntity"/>
    </resultMap>
</mapper>
