<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： 徴収猶予の情報のマッピング用XMLです。 -->
<!-- @reamsid_L DBB-9999-013 xicongwang -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.relate.choshuyuyo.IChoshuYuyoJohoRelateMapper">

    <select resultOrdered="true" id="select徴収猶予の情報ByKey" resultMap="resultMap_ChoshuYuyoJohoRelateEntity" fetchSize="500">
        <include refid="selectChoshuYuyoJohoRelateEntity" />
    </select>

    <sql id="selectChoshuYuyoJohoRelateEntity">
        SELECT
        DbT2002Fuka.*,
        DbT2003Kibetsu.*,
        UrT0705ChoteiKyotsu.*,
        DbT2006ChoshuYuyo.*,
        DbT2007KibetsuChoshuYuyo.*
        FROM
        (<include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2002FukaMapper.noDeleted_DbT2002Fuka" />) AS DbT2002Fuka
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2003KibetsuMapper.noDeleted_DbT2003Kibetsu" />) AS DbT2003Kibetsu
        ON
        DbT2002Fuka."dbT2002Fuka_choteiNendo" = DbT2003Kibetsu."dbT2003Kibetsu_choteiNendo" and
        DbT2002Fuka."dbT2002Fuka_fukaNendo" = DbT2003Kibetsu."dbT2003Kibetsu_fukaNendo" and
        DbT2002Fuka."dbT2002Fuka_tsuchishoNo" = DbT2003Kibetsu."dbT2003Kibetsu_tsuchishoNo" and
        DbT2002Fuka."dbT2002Fuka_rirekiNo" = DbT2003Kibetsu."dbT2003Kibetsu_rirekiNo"
        LEFT JOIN
        (
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IUrT0705ChoteiKyotsuMapper.allColumns_UrT0705ChoteiKyotsu" />
        FROM
        rgdb."UrT0705ChoteiKyotsu"
        ) AS UrT0705ChoteiKyotsu
        ON
        DbT2003Kibetsu."dbT2003Kibetsu_choteiId" = UrT0705ChoteiKyotsu."urT0705ChoteiKyotsu_choteiId"
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.basic.IDbT2006ChoshuYuyoMapper.noDeleted_DbT2006ChoshuYuyo" />) AS DbT2006ChoshuYuyo
        ON
        DbT2002Fuka."dbT2002Fuka_choteiNendo" = DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_choteiNendo" and
        DbT2002Fuka."dbT2002Fuka_fukaNendo" = DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_fukaNendo" and
        DbT2002Fuka."dbT2002Fuka_tsuchishoNo" = DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_tsuchishoNo" and
        DbT2002Fuka."dbT2002Fuka_rirekiNo" = DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_rirekiNo"
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.basic.IDbT2007KibetsuChoshuYuyoMapper.noDeleted_DbT2007KibetsuChoshuYuyo" />) AS DbT2007KibetsuChoshuYuyo
        ON
        DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_choteiNendo" = DbT2007KibetsuChoshuYuyo."dbT2007KibetsuChoshuYuyo_choteiNendo" and
        DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_fukaNendo" = DbT2007KibetsuChoshuYuyo."dbT2007KibetsuChoshuYuyo_fukaNendo" and
        DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_tsuchishoNo" = DbT2007KibetsuChoshuYuyo."dbT2007KibetsuChoshuYuyo_tsuchishoNo" and
        DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_rirekiNo"= DbT2007KibetsuChoshuYuyo."dbT2007KibetsuChoshuYuyo_rirekiNo"
        <where>
            <if test="uses調定年度">
                AND DbT2002Fuka."dbT2002Fuka_choteiNendo" = #{調定年度}
            </if>
            <if test="uses賦課年度">
                and DbT2002Fuka."dbT2002Fuka_fukaNendo" = #{賦課年度}
            </if>
            <if test="uses通知書番号">
                and DbT2002Fuka."dbT2002Fuka_tsuchishoNo" = #{通知書番号}
            </if>
            <if test="uses履歴番号">
                and DbT2002Fuka."dbT2002Fuka_rirekiNo" = #{履歴番号}
            </if>
        </where>
    </sql>

    <resultMap id="resultMap_ChoshuYuyoJohoRelateEntity" type="jp.co.ndensan.reams.db.dbb.entity.db.relate.choshuyuyo.ChoshuYuyoJohoRelateEntity" autoMapping="true">
        <id property="介護賦課Entity.choteiNendo" column="dbT2002Fuka_choteiNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <id property="介護賦課Entity.fukaNendo" column="dbT2002Fuka_fukaNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <id property="介護賦課Entity.tsuchishoNo" column="dbT2002Fuka_tsuchishoNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.TsuchishoNoTypeHandler"/>
        <id property="介護賦課Entity.rirekiNo" column="dbT2002Fuka_rirekiNo" />
        <association property="介護賦課Entity" resultMap="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2002FukaMapper.ResultMap_DbT2002FukaEntity"/>
        <collection property="介護期別Entity"
                    resultMap="resultMap_KibetsuEntity"/>
        <collection property="介護賦課徴収猶予Entity"
                    resultMap="resultMap_ChoshuYuyoEntity"/>
    </resultMap>

    <resultMap id="resultMap_KibetsuEntity" type="jp.co.ndensan.reams.db.dbb.entity.db.relate.choshuyuyo.KibetsuEntity" autoMapping="true">
        <id property="介護期別Entity.choshuHouhou" column="dbT2003Kibetsu_choshuHouhou" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="介護期別Entity.ki" column="dbT2003Kibetsu_ki" />
        <association property="介護期別Entity" resultMap="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2003KibetsuMapper.ResultMap_DbT2003KibetsuEntity"/>
        <collection property="調定共通EntityList" resultMap="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IUrT0705ChoteiKyotsuMapper.ResultMap_UrT0705ChoteiKyotsuEntity"/>
    </resultMap>

    <resultMap id="resultMap_ChoshuYuyoEntity" type="jp.co.ndensan.reams.db.dbb.entity.db.relate.choshuyuyo.ChoshuYuyoEntity" autoMapping="true">
        <id property="介護賦課徴収猶予Entity.choteiNendo" column="dbT2006ChoshuYuyo_choteiNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <id property="介護賦課徴収猶予Entity.fukaNendo" column="dbT2006ChoshuYuyo_fukaNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <id property="介護賦課徴収猶予Entity.tsuchishoNo" column="dbT2006ChoshuYuyo_tsuchishoNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.TsuchishoNoTypeHandler"/>
        <id property="介護賦課徴収猶予Entity.rirekiNo" column="dbT2006ChoshuYuyo_rirekiNo"/>
        <association property="介護賦課徴収猶予Entity" resultMap="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.basic.IDbT2006ChoshuYuyoMapper.ResultMap_DbT2006ChoshuYuyoEntity"/>
        <collection property="介護期別徴収猶予Entity" resultMap="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.basic.IDbT2007KibetsuChoshuYuyoMapper.ResultMap_DbT2007KibetsuChoshuYuyoEntity"/>
    </resultMap>
    
    <select resultOrdered="true" id="selsect徴収猶予の情報_最新" resultMap="resultMap_ChoshuYuyoJohoRelateEntity" fetchSize="500">
        <include refid="selectChoshuYuyoJohoJokyo" />
    </select>

    <sql id="selectChoshuYuyoJohoJokyo">
        SELECT
        DbT2002Fuka.*,
        DbT2003Kibetsu.*,
        UrT0705ChoteiKyotsu.*,
        DbT2006ChoshuYuyo.*,
        DbT2007KibetsuChoshuYuyo.*
        FROM
        (<include refid="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.relate.choshuyuyo.IChoshuYuyoJohoRelateMapper.noDeleted_DbV2006ChoshuYuyo" />) AS DbT2006ChoshuYuyo
        INNER JOIN
        (<include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2002FukaMapper.noDeleted_DbT2002Fuka" />) AS DbT2002Fuka
        ON
        DbT2002Fuka."dbT2002Fuka_choteiNendo" = DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_choteiNendo" and
        DbT2002Fuka."dbT2002Fuka_fukaNendo" = DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_fukaNendo" and
        DbT2002Fuka."dbT2002Fuka_tsuchishoNo" = DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_tsuchishoNo" and
        DbT2002Fuka."dbT2002Fuka_rirekiNo" = DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_rirekiNo"
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2003KibetsuMapper.noDeleted_DbT2003Kibetsu" />) AS DbT2003Kibetsu
        ON
        DbT2002Fuka."dbT2002Fuka_choteiNendo" = DbT2003Kibetsu."dbT2003Kibetsu_choteiNendo" and
        DbT2002Fuka."dbT2002Fuka_fukaNendo" = DbT2003Kibetsu."dbT2003Kibetsu_fukaNendo" and
        DbT2002Fuka."dbT2002Fuka_tsuchishoNo" = DbT2003Kibetsu."dbT2003Kibetsu_tsuchishoNo" and
        DbT2002Fuka."dbT2002Fuka_rirekiNo" = DbT2003Kibetsu."dbT2003Kibetsu_rirekiNo"
        LEFT JOIN
        (
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IUrT0705ChoteiKyotsuMapper.allColumns_UrT0705ChoteiKyotsu" />
        FROM
        rgdb."UrT0705ChoteiKyotsu"
        ) AS UrT0705ChoteiKyotsu
        ON
        DbT2003Kibetsu."dbT2003Kibetsu_choteiId" = UrT0705ChoteiKyotsu."urT0705ChoteiKyotsu_choteiId"
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.basic.IDbT2007KibetsuChoshuYuyoMapper.noDeleted_DbT2007KibetsuChoshuYuyo" />) AS DbT2007KibetsuChoshuYuyo
        ON
        DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_choteiNendo" = DbT2007KibetsuChoshuYuyo."dbT2007KibetsuChoshuYuyo_choteiNendo" and
        DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_fukaNendo" = DbT2007KibetsuChoshuYuyo."dbT2007KibetsuChoshuYuyo_fukaNendo" and
        DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_tsuchishoNo" = DbT2007KibetsuChoshuYuyo."dbT2007KibetsuChoshuYuyo_tsuchishoNo" and
        DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_rirekiNo"= DbT2007KibetsuChoshuYuyo."dbT2007KibetsuChoshuYuyo_rirekiNo"
        <where>
            <if test="uses調定年度">
                AND DbT2002Fuka."dbT2002Fuka_choteiNendo" = #{調定年度}
            </if>
            <if test="uses賦課年度">
                and DbT2002Fuka."dbT2002Fuka_fukaNendo" = #{賦課年度}
            </if>
            <if test="uses通知書番号">
                and DbT2002Fuka."dbT2002Fuka_tsuchishoNo" = #{通知書番号}
            </if>
        </where>
    </sql>

    <sql id="noDeleted_DbV2006ChoshuYuyo">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.basic.IDbT2006ChoshuYuyoMapper.allColumns_DbT2006ChoshuYuyo" />
     FROM
         rgdb."DbV2006ChoshuYuyo" AS "DbT2006ChoshuYuyo"
     WHERE
         "DbT2006ChoshuYuyo"."isDeleted" = FALSE
    </sql>

    <select id="select徴収猶予の情報_決定更正後" resultMap="resultMap_ChoshuYuyoJohoRelateEntity" 
            parameterType="jp.co.ndensan.reams.db.dbb.definition.mybatisprm.choshuyuyo.ChoshuYuyoJohoRelateSonotaMapperParameter" fetchSize="500" resultOrdered="true">
        SELECT
        DbT2002Fuka.*,
        DbT2003Kibetsu.*,
        UrT0705ChoteiKyotsu.*,
        DbT2006ChoshuYuyo.*,
        DbT2007KibetsuChoshuYuyo.*
        FROM
        (<include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2002FukaMapper.noDeleted_DbT2002Fuka" />) AS DbT2002Fuka
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2003KibetsuMapper.noDeleted_DbT2003Kibetsu" />) AS DbT2003Kibetsu
        ON
        DbT2002Fuka."dbT2002Fuka_choteiNendo" = DbT2003Kibetsu."dbT2003Kibetsu_choteiNendo" and
        DbT2002Fuka."dbT2002Fuka_fukaNendo" = DbT2003Kibetsu."dbT2003Kibetsu_fukaNendo" and
        DbT2002Fuka."dbT2002Fuka_tsuchishoNo" = DbT2003Kibetsu."dbT2003Kibetsu_tsuchishoNo" and
        DbT2002Fuka."dbT2002Fuka_rirekiNo" = DbT2003Kibetsu."dbT2003Kibetsu_rirekiNo"
        LEFT JOIN
        (
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IUrT0705ChoteiKyotsuMapper.allColumns_UrT0705ChoteiKyotsu" />
        FROM
        rgdb."UrT0705ChoteiKyotsu"
        ) AS UrT0705ChoteiKyotsu
        ON
        DbT2003Kibetsu."dbT2003Kibetsu_choteiId" = UrT0705ChoteiKyotsu."urT0705ChoteiKyotsu_choteiId"
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.basic.IDbT2006ChoshuYuyoMapper.noDeleted_DbT2006ChoshuYuyo" />) AS DbT2006ChoshuYuyo
        ON
        DbT2002Fuka."dbT2002Fuka_choteiNendo" = DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_choteiNendo" and
        DbT2002Fuka."dbT2002Fuka_fukaNendo" = DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_fukaNendo" and
        DbT2002Fuka."dbT2002Fuka_tsuchishoNo" = DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_tsuchishoNo" and
        DbT2002Fuka."dbT2002Fuka_rirekiNo" = DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_rirekiNo"
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.basic.IDbT2007KibetsuChoshuYuyoMapper.noDeleted_DbT2007KibetsuChoshuYuyo" />) AS DbT2007KibetsuChoshuYuyo
        ON
        DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_choteiNendo" = DbT2007KibetsuChoshuYuyo."dbT2007KibetsuChoshuYuyo_choteiNendo" and
        DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_fukaNendo" = DbT2007KibetsuChoshuYuyo."dbT2007KibetsuChoshuYuyo_fukaNendo" and
        DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_tsuchishoNo" = DbT2007KibetsuChoshuYuyo."dbT2007KibetsuChoshuYuyo_tsuchishoNo" and
        DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_rirekiNo"= DbT2007KibetsuChoshuYuyo."dbT2007KibetsuChoshuYuyo_rirekiNo"
        WHERE
             DbT2002Fuka."dbT2002Fuka_choteiNendo" = #{調定年度}
             AND DbT2002Fuka."dbT2002Fuka_fukaNendo" = #{賦課年度}
             AND DbT2002Fuka."dbT2002Fuka_tsuchishoNo" = #{通知書番号}
             AND DbT2002Fuka."dbT2002Fuka_rirekiNo" = #{履歴番号}
             AND DbT2002Fuka."dbT2002Fuka_choteiNichiji" = #{調定日時}
             AND ((DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_jotaiKubun" = '1'
                 AND
                 DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_sakuseiKubun" = '1')
                 OR
                 ((DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_jotaiKubun" = '2'
                  AND
                DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_sakuseiKubun" = '2')))
        ORDER BY
             DbT2002Fuka."dbT2002Fuka_choteiNendo",
             DbT2002Fuka."dbT2002Fuka_fukaNendo",
             DbT2002Fuka."dbT2002Fuka_tsuchishoNo",
             DbT2007KibetsuChoshuYuyo."dbT2007KibetsuChoshuYuyo_ki"
    </select>

    <select id="select徴収猶予の情報_取消更正後" resultMap="resultMap_ChoshuYuyoJohoRelateEntity" 
            parameterType="jp.co.ndensan.reams.db.dbb.definition.mybatisprm.choshuyuyo.ChoshuYuyoJohoRelateSonotaMapperParameter" fetchSize="500" resultOrdered="true">
        SELECT
        DbT2002Fuka.*,
        DbT2003Kibetsu.*,
        UrT0705ChoteiKyotsu.*,
        DbT2006ChoshuYuyo.*,
        DbT2007KibetsuChoshuYuyo.*
        FROM
        (<include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2002FukaMapper.noDeleted_DbT2002Fuka" />) AS DbT2002Fuka
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2003KibetsuMapper.noDeleted_DbT2003Kibetsu" />) AS DbT2003Kibetsu
        ON
        DbT2002Fuka."dbT2002Fuka_choteiNendo" = DbT2003Kibetsu."dbT2003Kibetsu_choteiNendo" and
        DbT2002Fuka."dbT2002Fuka_fukaNendo" = DbT2003Kibetsu."dbT2003Kibetsu_fukaNendo" and
        DbT2002Fuka."dbT2002Fuka_tsuchishoNo" = DbT2003Kibetsu."dbT2003Kibetsu_tsuchishoNo" and
        DbT2002Fuka."dbT2002Fuka_rirekiNo" = DbT2003Kibetsu."dbT2003Kibetsu_rirekiNo"
        LEFT JOIN
        (
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IUrT0705ChoteiKyotsuMapper.allColumns_UrT0705ChoteiKyotsu" />
        FROM
        rgdb."UrT0705ChoteiKyotsu"
        ) AS UrT0705ChoteiKyotsu
        ON
        DbT2003Kibetsu."dbT2003Kibetsu_choteiId" = UrT0705ChoteiKyotsu."urT0705ChoteiKyotsu_choteiId"
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.basic.IDbT2006ChoshuYuyoMapper.noDeleted_DbT2006ChoshuYuyo" />) AS DbT2006ChoshuYuyo
        ON
        DbT2002Fuka."dbT2002Fuka_choteiNendo" = DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_choteiNendo" and
        DbT2002Fuka."dbT2002Fuka_fukaNendo" = DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_fukaNendo" and
        DbT2002Fuka."dbT2002Fuka_tsuchishoNo" = DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_tsuchishoNo" and
        DbT2002Fuka."dbT2002Fuka_rirekiNo" = DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_rirekiNo"
        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.basic.IDbT2007KibetsuChoshuYuyoMapper.noDeleted_DbT2007KibetsuChoshuYuyo" />) AS DbT2007KibetsuChoshuYuyo
        ON
        DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_choteiNendo" = DbT2007KibetsuChoshuYuyo."dbT2007KibetsuChoshuYuyo_choteiNendo" and
        DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_fukaNendo" = DbT2007KibetsuChoshuYuyo."dbT2007KibetsuChoshuYuyo_fukaNendo" and
        DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_tsuchishoNo" = DbT2007KibetsuChoshuYuyo."dbT2007KibetsuChoshuYuyo_tsuchishoNo" and
        DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_rirekiNo"= DbT2007KibetsuChoshuYuyo."dbT2007KibetsuChoshuYuyo_rirekiNo"
        WHERE
             DbT2002Fuka."dbT2002Fuka_choteiNendo" = #{調定年度}
             AND DbT2002Fuka."dbT2002Fuka_fukaNendo" = #{賦課年度}
             AND DbT2002Fuka."dbT2002Fuka_tsuchishoNo" = #{通知書番号}
             AND DbT2002Fuka."dbT2002Fuka_rirekiNo" = #{履歴番号}
             AND DbT2002Fuka."dbT2002Fuka_choteiNichiji" = #{調定日時}
             AND (DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_jotaiKubun" = '1'
                OR
                DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_jotaiKubun" = '2')
            AND DbT2006ChoshuYuyo."dbT2006ChoshuYuyo_sakuseiKubun" = '3'
        ORDER BY
             DbT2002Fuka."dbT2002Fuka_choteiNendo",
             DbT2002Fuka."dbT2002Fuka_fukaNendo",
             DbT2002Fuka."dbT2002Fuka_tsuchishoNo",
             DbT2007KibetsuChoshuYuyo."dbT2007KibetsuChoshuYuyo_ki"
    </select>
   
</mapper>