<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- どのマッパーインターフェースと対応するかを指定する -->
<!-- @reamsid_L DBA-0470-010 wangxiaodong -->

<mapper namespace="jp.co.ndensan.reams.db.dba.persistence.db.mapper.relate.tennyutenshutsuhoryutaishosha.ITennyuTenshutsuHoryuTaishoshaMapper">

    <select resultOrdered="true" id="get転出保留対象者情報の取得処理" resultMap="resultMap_TenshutsuHoryuTaishoshaRelateEntity"  fetchSize="500">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1001HihokenshaDaichoMapper.allColumns_DbT1001HihokenshaDaicho" />,
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1011TenshutsuHoryuTaishoshaMapper.allColumns_DbT1011TenshutsuHoryuTaishosha" />
        FROM rgdb."DbT1011TenshutsuHoryuTaishosha"
        INNER JOIN (SELECT * FROM
        (SELECT *, ROW_NUMBER() OVER (PARTITION BY "hihokenshaNo"
        ORDER BY "hihokenshaNo", "idoYMD" DESC, "edaNo" DESC) AS DbT1001_RRKNO
        FROM rgdb."DbT1001HihokenshaDaicho") AS "DbT1001HihokenshaDaicho"
        WHERE DbT1001_RRKNO = '1') AS "DbT1001HihokenshaDaicho"
        ON "DbT1011TenshutsuHoryuTaishosha"."shikibetsuCode" = "DbT1001HihokenshaDaicho"."shikibetsuCode"
    </select>

    <select resultOrdered="true" id="get転入保留対象者情報の取得処理" resultMap="resultMap_TennyushutsuHoryuTaishoshaRelateEntity"  fetchSize="500">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1001HihokenshaDaichoMapper.allColumns_DbT1001HihokenshaDaicho" />,
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1010TennyushutsuHoryuTaishoshaMapper.allColumns_DbT1010TennyushutsuHoryuTaishosha" />
        FROM rgdb."DbT1010TennyushutsuHoryuTaishosha"
        INNER JOIN (SELECT * FROM
        (SELECT *, ROW_NUMBER() OVER (PARTITION BY "hihokenshaNo"
        ORDER BY "idoYMD" DESC, "edaNo" DESC) AS DbT1001_RRKNO
        FROM rgdb."DbT1001HihokenshaDaicho") AS "DbT1001HihokenshaDaicho"
        WHERE DbT1001_RRKNO = '1') AS "DbT1001HihokenshaDaicho"
        ON "DbT1010TennyushutsuHoryuTaishosha"."shikibetsuCode" = "DbT1001HihokenshaDaicho"."shikibetsuCode"
        WHERE NOT EXISTS (SELECT * FROM rgdb."DbT7051KoseiShichosonMaster" DbT7051
        WHERE SUBSTR(DbT7051."shichosonCode", 1, 5) = SUBSTR("DbT1010TennyushutsuHoryuTaishosha"."zenkokuJushoCode" , 1, 5))
    </select>

    <select resultOrdered="true" id="get広域保留対象者情報の取得処理" resultMap="resultMap_TennyushutsuHoryuTaishoshaRelateEntity"  fetchSize="500">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1001HihokenshaDaichoMapper.allColumns_DbT1001HihokenshaDaicho" />,
        <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1010TennyushutsuHoryuTaishoshaMapper.allColumns_DbT1010TennyushutsuHoryuTaishosha" />
        FROM rgdb."DbT1010TennyushutsuHoryuTaishosha"
        INNER JOIN (SELECT * FROM
        (SELECT *, ROW_NUMBER() OVER (PARTITION BY "hihokenshaNo"
        ORDER BY "idoYMD" DESC, "edaNo" DESC) AS DbT1001_RRKNO
        FROM rgdb."DbT1001HihokenshaDaicho") AS "DbT1001HihokenshaDaicho"
        WHERE DbT1001_RRKNO = '1') AS "DbT1001HihokenshaDaicho"
        ON "DbT1010TennyushutsuHoryuTaishosha"."shikibetsuCode" = "DbT1001HihokenshaDaicho"."shikibetsuCode"
        WHERE EXISTS (SELECT * FROM rgdb."DbT7051KoseiShichosonMaster" DbT7051
        WHERE SUBSTR(DbT7051."shichosonCode", 1, 5) = SUBSTR("DbT1010TennyushutsuHoryuTaishosha"."zenkokuJushoCode" , 1, 5))
    </select>

    <resultMap id="resultMap_TenshutsuHoryuTaishoshaRelateEntity"
               type="jp.co.ndensan.reams.db.dba.entity.db.relate.tennyutenshutsuhoryu.TenshutsuHoryuTaishoshaRelateEntity"
               autoMapping="true">
        <id property="tenshutsuHoryuTaishosha.shikibetsuCode" column="dbT1010TennyushutsuHoryuTaishosha_shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <id property="tenshutsuHoryuTaishosha.rirekiNo" column="dbT1010TennyushutsuHoryuTaishosha_rirekiNo" />
        <id property="hihokenshaDaicho.hihokenshaNo" column="dbT1001HihokenshaDaicho_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="hihokenshaDaicho.idoYMD" column="dbT1001HihokenshaDaicho_idoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <id property="hihokenshaDaicho.edaNo" column="dbT1001HihokenshaDaicho_edaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <association property="hihokenshaDaicho" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1001HihokenshaDaichoMapper.ResultMap_DbT1001HihokenshaDaichoEntity"/>
        <association property="tenshutsuHoryuTaishosha" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1011TenshutsuHoryuTaishoshaMapper.ResultMap_DbT1011TenshutsuHoryuTaishoshaEntity"/>
    </resultMap>

    <resultMap id="resultMap_TennyushutsuHoryuTaishoshaRelateEntity"
               type="jp.co.ndensan.reams.db.dba.entity.db.relate.tennyutenshutsuhoryu.TennyushutsuHoryuTaishoshaRelateEntity"
               autoMapping="true">
        <id property="tennyushutsuHoryuTaishosha.shikibetsuCode" column="dbT1010TennyushutsuHoryuTaishosha_shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <id property="tennyushutsuHoryuTaishosha.rirekiNo" column="dbT1010TennyushutsuHoryuTaishosha_rirekiNo" />
        <id property="hihokenshaDaicho.hihokenshaNo" column="dbT1001HihokenshaDaicho_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="hihokenshaDaicho.idoYMD" column="dbT1001HihokenshaDaicho_idoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <id property="hihokenshaDaicho.edaNo" column="dbT1001HihokenshaDaicho_edaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <association property="hihokenshaDaicho" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1001HihokenshaDaichoMapper.ResultMap_DbT1001HihokenshaDaichoEntity"/>
        <association property="tennyushutsuHoryuTaishosha" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1010TennyushutsuHoryuTaishoshaMapper.ResultMap_DbT1010TennyushutsuHoryuTaishoshaEntity"/>
    </resultMap>

</mapper>
