<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： 認定調査督促状発行のマッピング用XMLです。 -->
<!-- @reamsid_L DBE-0030-040 xuyue -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.relate.ninteichosatokusokujyo.INinteichosaTokusokujyoRelateMapper">

    <resultMap id="resultMap_AtenaKikan"
               type="jp.co.ndensan.reams.db.dbe.entity.db.relate.ninteichosatokusokujyo.AtenaKikan" autoMapping="true">
        <result property="宛名機関名" column="dbT5910NinteichosaItakusakiJoho_jigyoshaMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <result property="宛名郵便番号" column="dbT5910NinteichosaItakusakiJoho_yubinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler" />
        <result property="宛名住所" column="dbT5910NinteichosaItakusakiJoho_jusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="宛名調査員氏名" column="dbT5913ChosainJoho_chosainShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
    </resultMap>
    <resultMap id="resultMap_NinteiChosaTokusokujoRelateEntity"
               type="jp.co.ndensan.reams.db.dbe.entity.db.relate.ninteichosatokusokujyo.NinteiChosaTokusokujoRelateEntity" autoMapping="true">
        <association property="認定申請情報" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5101NinteiShinseiJohoMapper.ResultMap_DbT5101NinteiShinseiJohoEntity" />
        <association property="認定調査依頼情報" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5201NinteichosaIraiJohoMapper.ResultMap_DbT5201NinteichosaIraiJohoEntity" />
        <association property="宛名機関" resultMap="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.relate.ninteichosatokusokujyo.INinteichosaTokusokujyoRelateMapper.resultMap_AtenaKikan" />
    </resultMap>

    <select resultOrdered="true" id="select要介護認定調査督促状ByKey"
            resultMap="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.relate.ninteichosatokusokujyo.INinteichosaTokusokujyoRelateMapper.resultMap_NinteiChosaTokusokujoRelateEntity"
            parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.ninteichosatokusokujyo.NinteiChosaTokusokujoMybatisParameter"
            fetchSize="500">
        SELECT
        "DbT5101NinteiShinseiJoho".*,
        "DbT5910NinteichosaItakusakiJoho"."dbT5910NinteichosaItakusakiJoho_jigyoshaMeisho",
        "DbT5910NinteichosaItakusakiJoho"."dbT5910NinteichosaItakusakiJoho_yubinNo",
        "DbT5910NinteichosaItakusakiJoho"."dbT5910NinteichosaItakusakiJoho_jusho",
        "DbT5913ChosainJoho"."dbT5913ChosainJoho_chosainShimei"

        FROM
        (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5101NinteiShinseiJohoMapper.noDeleted_DbT5101NinteiShinseiJoho" />) AS "DbT5101NinteiShinseiJoho"

        INNER JOIN (
            SELECT
                DbT5201.*,
                ROW_NUMBER() OVER (PARTITION BY DbT5201."dbT5201NinteichosaIraiJoho_shinseishoKanriNo",
                                                DbT5201."dbT5201NinteichosaIraiJoho_ninteichosaIraiRirekiNo"
                                   ORDER BY DbT5201."dbT5201NinteichosaIraiJoho_ninteichosaIraiRirekiNo" DESC) AS "rowNum"
            FROM
            (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5201NinteichosaIraiJohoMapper.noDeleted_DbT5201NinteichosaIraiJoho" />) AS DbT5201
        ) AS "DbT5201NinteichosaIraiJoho"
        ON "DbT5101NinteiShinseiJoho"."dbT5101NinteiShinseiJoho_shinseishoKanriNo" = "DbT5201NinteichosaIraiJoho"."dbT5201NinteichosaIraiJoho_shinseishoKanriNo"
        AND "DbT5201NinteichosaIraiJoho"."rowNum" = 1
        <if test="temp_認定調査督促期限!=null">
        AND "DbT5201NinteichosaIraiJoho"."dbT5201NinteichosaIraiJoho_ninteichosaKigenYMD" <![CDATA[<]]> #{temp_認定調査督促期限}
        </if>
        <if test="temp_印刷済対象者!=null and temp_印刷済対象者=1">
        AND ("DbT5201NinteichosaIraiJoho"."dbT5201NinteichosaIraiJoho_ninteichosaTokusokuYMD" IS NULL
             OR "DbT5201NinteichosaIraiJoho"."dbT5201NinteichosaIraiJoho_ninteichosaTokusokuYMD" = '')
        </if>

        INNER JOIN
        (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5105NinteiKanryoJohoMapper.noDeleted_DbT5105NinteiKanryoJoho" />) AS "DbT5105NinteiKanryoJoho"
        ON "DbT5101NinteiShinseiJoho"."dbT5101NinteiShinseiJoho_shinseishoKanriNo" = "DbT5105NinteiKanryoJoho"."dbT5105NinteiKanryoJoho_shinseishoKanriNo"
        AND ("DbT5105NinteiKanryoJoho"."dbT5105NinteiKanryoJoho_ninteiShinseiJohoTorokuKanryoYMD" IS NOT NULL
             AND "DbT5105NinteiKanryoJoho"."dbT5105NinteiKanryoJoho_ninteiShinseiJohoTorokuKanryoYMD" != '')
        AND ("DbT5105NinteiKanryoJoho"."dbT5105NinteiKanryoJoho_ninteichosaIraiKanryoYMD" IS NOT NULL
             AND "DbT5105NinteiKanryoJoho"."dbT5105NinteiKanryoJoho_ninteichosaIraiKanryoYMD" != '')
        AND ("DbT5105NinteiKanryoJoho"."dbT5105NinteiKanryoJoho_ninteichosaKanryoYMD" IS NULL
             OR "DbT5105NinteiKanryoJoho"."dbT5105NinteiKanryoJoho_ninteichosaKanryoYMD" = '')
        AND ("DbT5105NinteiKanryoJoho"."dbT5105NinteiKanryoJoho_ninteichosaKanryoYMD" IS NULL
             OR "DbT5105NinteiKanryoJoho"."dbT5105NinteiKanryoJoho_ninteichosaKanryoYMD" = '')
        AND ("DbT5105NinteiKanryoJoho"."dbT5105NinteiKanryoJoho_ninteiShinsakaiWariateKanryoYMD" IS NULL
             OR "DbT5105NinteiKanryoJoho"."dbT5105NinteiKanryoJoho_ninteiShinsakaiWariateKanryoYMD" = '')
        AND ("DbT5105NinteiKanryoJoho"."dbT5105NinteiKanryoJoho_ninteiShinsakaiKanryoYMD" IS NULL
             OR "DbT5105NinteiKanryoJoho"."dbT5105NinteiKanryoJoho_ninteiShinsakaiKanryoYMD" = '')
        AND ("DbT5105NinteiKanryoJoho"."dbT5105NinteiKanryoJoho_centerSoshinYMD" IS NULL
             OR "DbT5105NinteiKanryoJoho"."dbT5105NinteiKanryoJoho_centerSoshinYMD" = '')

        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT7051KoseiShichosonMasterMapper.noDeleted_DbT7051KoseiShichosonMaster" />) AS "DbT7051KoseiShichosonMaster"
        ON "DbT5101NinteiShinseiJoho"."dbT5101NinteiShinseiJoho_shoKisaiHokenshaNo" = "DbT7051KoseiShichosonMaster"."dbT7051KoseiShichosonMaster_shoKisaiHokenshaNo"

        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5910NinteichosaItakusakiJohoMapper.noDeleted_DbT5910NinteichosaItakusakiJoho" />) AS "DbT5910NinteichosaItakusakiJoho"
        ON "DbT7051KoseiShichosonMaster"."dbT7051KoseiShichosonMaster_shichosonCode" = "DbT5910NinteichosaItakusakiJoho"."dbT5910NinteichosaItakusakiJoho_shichosonCode"
        AND "DbT5101NinteiShinseiJoho"."dbT5101NinteiShinseiJoho_ninteiChosaItakusakiCode" = "DbT5910NinteichosaItakusakiJoho"."dbT5910NinteichosaItakusakiJoho_ninteichosaItakusakiCode"

        LEFT JOIN
        (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5913ChosainJohoMapper.noDeleted_DbT5913ChosainJoho" />) AS "DbT5913ChosainJoho"
        ON "DbT7051KoseiShichosonMaster"."dbT7051KoseiShichosonMaster_shichosonCode" = "DbT5913ChosainJoho"."dbT5913ChosainJoho_shichosonCode"
        AND "DbT5101NinteiShinseiJoho"."dbT5101NinteiShinseiJoho_ninteiChosaItakusakiCode" = "DbT5913ChosainJoho"."dbT5913ChosainJoho_ninteiChosaItakusakiCode"
        AND "DbT5101NinteiShinseiJoho"."dbT5101NinteiShinseiJoho_ninteiChosainCode" = "DbT5913ChosainJoho"."dbT5913ChosainJoho_ninteiChosainCode"

        <where>
            1 = 1
            <if test="temp_保険者コード!=null and !temp_保険者コード.isEmpty()">
                AND  "DbT5101NinteiShinseiJoho"."dbT5101NinteiShinseiJoho_shoKisaiHokenshaNo" = #{temp_保険者コード}
            </if>
            <if test="temp_認定調査委託先コード!=null and !temp_認定調査委託先コード.isEmpty()">
                AND  "DbT5101NinteiShinseiJoho"."dbT5101NinteiShinseiJoho_ninteiChosaItakusakiCode" = #{temp_認定調査委託先コード}
            </if>
            <if test="temp_認定調査員コード!=null and !temp_認定調査員コード.isEmpty()">
                AND  "DbT5101NinteiShinseiJoho"."dbT5101NinteiShinseiJoho_ninteiChosainCode" = #{temp_認定調査員コード}
            </if>
        </where>
        AND  "DbT5101NinteiShinseiJoho"."dbT5101NinteiShinseiJoho_shoriJotaiKubun" != '1'
        AND  "DbT5101NinteiShinseiJoho"."dbT5101NinteiShinseiJoho_shoriJotaiKubun" != '2'
        ORDER BY
        "DbT5101NinteiShinseiJoho"."dbT5101NinteiShinseiJoho_shoKisaiHokenshaNo",
        "DbT5101NinteiShinseiJoho"."dbT5101NinteiShinseiJoho_hihokenshaKana"
    </select>

    <!--  NinteiChosaTokusokuTaishoshaIchiranhyoEntityの項目にマッピングします。-->
    <resultMap id="resultMap_NinteiChosaTokusokuTaishoshaIchiranhyoRelateEntity"
               type="jp.co.ndensan.reams.db.dbe.entity.db.relate.ninteichosatokusokujyo.NinteiChosaTokusokuTaishoshaIchiranhyoRelateEntity" autoMapping="true">
        <result property="temp_市町村コード" column="temp_市町村コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <result property="temp_市町村名称" column="temp_市町村名称" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="temp_保険者番号" column="temp_保険者番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="temp_被保険者番号" column="temp_被保険者番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="temp_被保険者氏名カナ" column="temp_被保険者氏名カナ" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaKanaMeishoTypeHandler" />
        <result property="temp_被保険者氏名" column="temp_被保険者氏名" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler" />
        <result property="temp_申請日" column="temp_申請日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="temp_督促状発行日" column="temp_督促状発行日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="temp_事業者コード" column="temp_事業者コード" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.JigyoshaNoTypeHandler"/>
        <result property="temp_事業者名称" column="temp_事業者名称" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="temp_調査員氏名" column="temp_調査員氏名" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="temp_事業者住所" column="temp_事業者住所" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="temp_事業者電話番号" column="temp_事業者電話番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.TelNoTypeHandler" />
    </resultMap>
    <select resultOrdered="true" id="select認定調査督促対象者一覧表ByKey"
            resultMap="resultMap_NinteiChosaTokusokuTaishoshaIchiranhyoRelateEntity"
            parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.ninteichosatokusokujyo.NinteiChosaTokusokuTaishoshaIchiranhyoMybatisParameter"
            fetchSize="500">
        SELECT
        DbT7051KoseiShichosonMaster."shichosonCode" AS temp_市町村コード,
        DbT7051KoseiShichosonMaster."shichosonMeisho"  AS  temp_市町村名称,
        DbT7051KoseiShichosonMaster."shoKisaiHokenshaNo" AS temp_保険者番号,
        DbT5101NinteiShinseiJoho."hihokenshaNo"  AS  temp_被保険者番号,
        DbT5101NinteiShinseiJoho."hihokenshaKana"  AS  temp_被保険者氏名カナ,
        DbT5101NinteiShinseiJoho."hihokenshaName"  AS  temp_被保険者氏名,
        DbT5101NinteiShinseiJoho."ninteiShinseiYMD" AS temp_申請日,
        DbT5201NinteichosaIraiJoho."ninteichosaTokusokuYMD" AS temp_督促状発行日,
        DbT5910NinteichosaItakusakiJoho."jigyoshaNo"  AS  temp_事業者コード,
        DbT5910NinteichosaItakusakiJoho."jigyoshaMeisho"  AS  temp_事業者名称,
        DbT5913ChosainJoho."chosainShimei" AS temp_調査員氏名,
        DbT5910NinteichosaItakusakiJoho."jusho"  AS  temp_事業者住所,
        DbT5910NinteichosaItakusakiJoho."telNo"  AS  temp_事業者電話番号
        FROM
        rgdb."DbT5101NinteiShinseiJoho"  AS  DbT5101NinteiShinseiJoho
        INNER JOIN
        rgdb."DbT7051KoseiShichosonMaster"  AS  DbT7051KoseiShichosonMaster
        ON  DbT7051KoseiShichosonMaster."shoKisaiHokenshaNo" = DbT5101NinteiShinseiJoho."shoKisaiHokenshaNo"
        INNER JOIN
        rgdb."DbT5910NinteichosaItakusakiJoho"  AS  DbT5910NinteichosaItakusakiJoho
        ON  DbT5910NinteichosaItakusakiJoho."shichosonCode" = DbT7051KoseiShichosonMaster."shichosonCode"
        AND DbT5101NinteiShinseiJoho."ninteiChosaItakusakiCode" =  DbT5910NinteichosaItakusakiJoho."ninteichosaItakusakiCode"
        INNER JOIN
        rgdb."DbT5913ChosainJoho"  AS  DbT5913ChosainJoho
        ON  DbT5913ChosainJoho."shichosonCode" = DbT5910NinteichosaItakusakiJoho."shichosonCode"
        AND DbT5913ChosainJoho."ninteiChosaItakusakiCode" = DbT5910NinteichosaItakusakiJoho."ninteichosaItakusakiCode"
        AND DbT5913ChosainJoho."ninteiChosainCode" = DbT5101NinteiShinseiJoho."ninteiChosainCode"
        INNER JOIN
        (
        SELECT
        "shinseishoKanriNo",
        MAX("ninteichosaIraiRirekiNo") AS ninteichosaIraiRirekiNo
        FROM
        rgdb."DbT5201NinteichosaIraiJoho"  AS  DbT5201NinteichosaIraiJoho
        WHERE
        DbT5201NinteichosaIraiJoho."logicalDeletedFlag" = FALSE
        GROUP BY
        "shinseishoKanriNo"
        ) AS TB1
        ON TB1."shinseishoKanriNo" = DbT5101NinteiShinseiJoho."shinseishoKanriNo"
        INNER JOIN
        rgdb."DbT5201NinteichosaIraiJoho"  AS  DbT5201NinteichosaIraiJoho
        ON  DbT5201NinteichosaIraiJoho."shinseishoKanriNo" = DbT5101NinteiShinseiJoho."shinseishoKanriNo"
        AND  DbT5201NinteichosaIraiJoho."ninteichosaIraiRirekiNo" = TB1.ninteichosaIraiRirekiNo
        <if test="temp_印刷期間開始日!=null and !temp_印刷期間開始日.isEmpty() and temp_印刷期間終了日!=null and !temp_印刷期間終了日.isEmpty()" >
            AND  DbT5201NinteichosaIraiJoho."ninteichosaTokusokuYMD" <![CDATA[>=]]> #{temp_印刷期間開始日}
            AND  DbT5201NinteichosaIraiJoho."ninteichosaTokusokuYMD" <![CDATA[<=]]> #{temp_印刷期間終了日}
        </if>
        <if test="temp_印刷期間開始日!=null and !temp_印刷期間開始日.isEmpty() and (temp_印刷期間終了日==null or temp_印刷期間終了日.isEmpty())">
            AND  DbT5201NinteichosaIraiJoho."ninteichosaTokusokuYMD" <![CDATA[>=]]> #{temp_印刷期間開始日}
        </if>
        <if test="(temp_印刷期間開始日==null or temp_印刷期間開始日.isEmpty()) and temp_印刷期間終了日!=null and !temp_印刷期間終了日.isEmpty()">
            AND  DbT5201NinteichosaIraiJoho."ninteichosaTokusokuYMD" <![CDATA[<=]]> #{temp_印刷期間終了日}
        </if>
        INNER JOIN
        rgdb."DbT5105NinteiKanryoJoho" AS DbT5105NinteiKanryoJoho
        ON  DbT5105NinteiKanryoJoho."shinseishoKanriNo" = DbT5101NinteiShinseiJoho."shinseishoKanriNo"
        AND  DbT5105NinteiKanryoJoho."ninteiShinseiJohoTorokuKanryoYMD" is not null AND DbT5105NinteiKanryoJoho."ninteiShinseiJohoTorokuKanryoYMD" != ''
        AND  DbT5105NinteiKanryoJoho."ninteichosaIraiKanryoYMD" is not null AND DbT5105NinteiKanryoJoho."ninteichosaIraiKanryoYMD" != ''
        AND  (DbT5105NinteiKanryoJoho."ninteichosaKanryoYMD" is null OR DbT5105NinteiKanryoJoho."ninteichosaKanryoYMD" = '')
        AND  (DbT5105NinteiKanryoJoho."ninteiShinsakaiWariateKanryoYMD" is null OR DbT5105NinteiKanryoJoho."ninteiShinsakaiWariateKanryoYMD" = '')
        AND  (DbT5105NinteiKanryoJoho."ninteiShinsakaiKanryoYMD" is null OR DbT5105NinteiKanryoJoho."ninteiShinsakaiKanryoYMD" = '')
        AND  (DbT5105NinteiKanryoJoho."centerSoshinYMD" is null OR DbT5105NinteiKanryoJoho."centerSoshinYMD" = '')
        <where>
            1 = 1
            <if test="temp_保険者コード!=null and !temp_保険者コード.isEmpty()">
                AND  DbT5101NinteiShinseiJoho."shoKisaiHokenshaNo" = #{temp_保険者コード}
            </if>
            <if test="temp_認定調査委託先コード!=null and !temp_認定調査委託先コード.isEmpty()">
                AND  DbT5101NinteiShinseiJoho."ninteiChosaItakusakiCode" = #{temp_認定調査委託先コード}
            </if>
            <if test="temp_認定調査員コード!=null and !temp_認定調査員コード.isEmpty()">
                AND  DbT5101NinteiShinseiJoho."ninteiChosainCode" = #{temp_認定調査員コード}
            </if>
        </where>
        AND  DbT5101NinteiShinseiJoho."shoriJotaiKubun" != '1'
        AND  DbT5101NinteiShinseiJoho."shoriJotaiKubun" != '2'
        ORDER BY
        temp_保険者番号,
        temp_被保険者氏名カナ
    </select>

    <select resultOrdered="true" id="select市町村コード"
            resultType="jp.co.ndensan.reams.db.dbx.entity.db.basic.DbT7051KoseiShichosonMasterEntity"
            parameterType="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"
            fetchSize="500">
        SELECT
        DbT7051."shichosonCode" AS shichosonCode
        FROM rgdb."DbT7051KoseiShichosonMaster" AS DbT7051
        WHERE
        DbT7051."shoKisaiHokenshaNo" = #{保険者コード}
        LIMIT 1
    </select>

    <select resultOrdered="true" id="select宛名機関"
            resultType="jp.co.ndensan.reams.db.dbe.entity.db.relate.ninteichosatokusokujyo.AtenaKikan"
            parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.ninteichosatokusokujyo.NinteiChosaTokusokuTaishoshaIchiranhyoMybatisParameter"
            fetchSize="500">
        SELECT
        DbT5910."jigyoshaMeisho" AS 宛名機関名,
        DbT5910."yubinNo" AS 宛名郵便番号,
        DbT5910."jusho" AS 宛名住所,
        DbT5913."chosainShimei" AS 宛名氏名
        FROM
        rgdb."DbT5913ChosainJoho" AS DbT5913
        LEFT JOIN rgdb."DbT5910NinteichosaItakusakiJoho" AS DbT5910
        ON DbT5913."shichosonCode" = DbT5910."shichosonCode"
        AND DbT5913."ninteiChosaItakusakiCode" = DbT5910."ninteichosaItakusakiCode"
        WHERE
        DbT5913."ninteiChosaItakusakiCode" = #{temp_認定調査委託先コード}
        AND DbT5913."ninteiChosainCode" = #{temp_認定調査員コード}
        AND DbT5913."shichosonCode" = #{temp_市町村コード}
    </select>

    <!-- 認定調査依頼情報テーブルの更新対象を取得する。-->
    <select resultOrdered="true" id="select認定調査依頼情報BY申請書管理番号"  resultType="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT5201NinteichosaIraiJohoEntity"
            parameterType="jp.co.ndensan.reams.db.dbz.definition.mybatisprm.relate.NinteichosaIraiUpdateMybatisParameter" fetchSize="500">
        SELECT *
        FROM rgdb."DbT5201NinteichosaIraiJoho"
        <if test="申請書管理番号!=null">
            WHERE
            "shinseishoKanriNo" IN
            <foreach item="申請書管理番号" index="index" collection="申請書管理番号" open="(" separator="," close=")">
                #{申請書管理番号}
            </foreach>
        </if>
    </select>

</mapper>
