<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.jutakukaishujizenshinsei.IJutakuKaishuJizenShinseiMapper">
<resultMap id="YokaigoNinteiJyohoEntity" type="jp.co.ndensan.reams.db.dbc.entity.db.yokaigoninteijyoho.YokaigoNinteiJyohoEntity" autoMapping="true">
        <result property="要介護認定状態区分コード" column="yokaigoJotaiKubunCode" />
        <result property="旧措置者フラグ" column="kyuSochishaFlag" />
   </resultMap>
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <select id="getYokaigoNinteiJyoho"  resultMap="YokaigoNinteiJyohoEntity" parameterType="jp.co.ndensan.reams.db.dbc.definition.core.jutakukaishujizenshinsei.IJutakuKaishuJizenShinseiMapperParameter" fetchSize="500" >
        SELECT		
        "yokaigoJotaiKubunCode" AS "要介護認定状態区分コード",
        "kyuSochishaFlag" AS "旧措置者フラグ"
        FROM								
        rgdb."DbT4001JukyushaDaicho"	
       WHERE								
        "hihokenshaNo"=#{被保険者番号}				
        AND "ninteiYukoKikanKaishiYMD"<![CDATA[<=]]> #{サービス提供年月}					
        AND "ninteiYukoKikanShuryoYMD"<![CDATA[>=]]> #{サービス提供年月}					
        AND "yukoMukoKubun"='1'							
        AND "logicalDeletedFlag" <![CDATA[!=]]>TRUE
        ORDER BY					
        "rirekiNo" DESC,				
        "edaban" DESC 	        				
    </select>  
    <select id="get上乗せ償還払い給付種類支給限度額" parameterType="jp.co.ndensan.reams.db.dbc.definition.core.jutakukaishujizenshinsei.IJutakuKaishuJizenShinseiMapperParameter"
            resultType="jp.co.ndensan.reams.uz.uza.math.Decimal" fetchSize="500">
        SELECT					
        "shikyuGendoTaniSu" AS "shikyuGendoTaniSu"
        FROM									
        rgdb."DbT7115UwanoseShokanShuruiShikyuGendoGaku"							
        WHERE					
        "serviceShuruiCode"=#{サービス種類コード}						
        AND (("tekiyoShuryoYM"=null		
        AND "tekiyoKaishiYM"&lt;=#{サービス提供年月})						
        OR  ("tekiyoKaishiYM"&lt;=#{サービス提供年月}					
        AND "tekiyoShuryoYM"&gt;=#{サービス提供年月}))
        ORDER BY "tekiyoKaishiYM" DESC,
        "rirekiNo" DESC	
</select>  
<select id="get償還払い給付種類支給限度額" parameterType="jp.co.ndensan.reams.db.dbc.definition.core.jutakukaishujizenshinsei.IJutakuKaishuJizenShinseiMapperParameter"
            resultType="jp.co.ndensan.reams.uz.uza.math.Decimal" fetchSize="500">
        SELECT					
        "shikyuGendoTaniSu" AS "shikyuGendoTaniSu"
        FROM									
        rgdb."DbT7112ShokanShuruiShikyuGendoGaku"								
        WHERE
					
        (("tekiyoShuryoYM"=NULL															
        AND "tekiyoKaishiYM"&lt;=#{サービス提供年月})						
        OR ("tekiyoKaishiYM"&lt;=#{サービス提供年月}						
        AND "tekiyoShuryoYM"&gt;=#{サービス提供年月}))
        ORDER BY									
        "tekiyoKaishiYM" DESC,								
        "rirekiNo" DESC   
</select>    
 <select id="get最新住宅改修の住宅住所"
            resultType="jp.co.ndensan.reams.db.dbc.entity.db.shokanshinseijutakukaishu.ShokanShinseiJutakuKaishuEntity" fetchSize="500">     
        SELECT
        "shinsei"."serviceTeikyoYM" AS "serviceTeikyoYM",
        "kaishu"."jutakuKaishuJutakuAddress" AS "jutakuKaishuJutakuAddress"
        FROM
        rgdb."DbT3034ShokanShinsei" AS "shinsei"
        INNER JOIN
        rgdb."DbT3049ShokanJutakuKaishu" as "kaishu" ON
        "kaishu"."hiHokenshaNo"=#{被保険者番号}
        AND "kaishu"."hiHokenshaNo"="shinsei"."hiHokenshaNo"
        AND "kaishu"."serviceTeikyoYM"="shinsei"."serviceTeikyoYM"
        AND "kaishu"."seiriNo"="shinsei"."seiriNo"
        AND SUBSTRING("kaishu"."yoshikiNo" ,1,3)='21D'
        ORDER BY
        "serviceTeikyoYM" DESC	
    </select>   
    <select id="get償還払支給住宅改修事前申請情報"
            resultType="jp.co.ndensan.reams.db.dbc.entity.db.basic.DbT3035ShokanJutakuKaishuJizenShinseiEntity" fetchSize="500">          
        SELECT					
        "hiHokenshaNo" AS "hiHokenshaNo",							
        "serviceTeikyoYM" ,							
        "seiriNo",							
        "shoKisaiHokenshaNo",							
        "uketsukeYMD",							
        "shinseiYMD",							
        "shinseishaNameKanji",							
        "shinseishaNameKana",							
        "shinseishaYubinNo",							
        "shinseishaJusho",							
        "shinseishaTelNo",						
        "shinseiJigyoshaNo",							
        "riyushoSakuseiYMD",							
        "riyushoSakuseishaName",							
        "riyushoSakuseishaKanaName",							
        "riyushoSakuseiJigyoshaNo",							
        "shiharaiHohoKubunCode",							
        "shiharaiBasho",						
        "shiharaiKaishiYMD",							
        "shiharaiShuryoYMD",							
        "shiharaiKaishiTime",						
        "shiharaiShuryoTime",						
        "kozaID",						
        "juryoininKeiyakuNo",							
        "serviceShuruiCode"							
        "jutakuShoyusha",							
        "hihokenshaKankei",						
        "yokaigo3DankaiHenko",							
        "jutakuJushoHenko",							
        "hanteiKetteiYMD",							
        "hanteiKubun",						
        "shoninJoken",						
        "fushoninRiyu",							
        "kyufugakuHiyogakuTotal",							
        "kyufugakuHokenTaishoHiyogaku",						
        "kyufugakuHokenkyufuhigaku",						
        "kyufugakuRiyoshaJikofutangaku",							
        "ketteitsuchishoHakkoYMD"							
        FROM								
        rgdb."DbT3035ShokanJutakuKaishuJizenShinsei" 							
        WHERE								
        "hiHokenshaNo"=#{被保険者番号}				
        AND   "serviceTeikyoYM"=#{サービス提供年月}
        AND "seiriNo"=#{整理番号}
        ORDER BY
        "serviceTeikyoYM" DESC
    </select>   
     <select id="get様式番号"
            resultType="String" fetchSize="500">
        SELECT					
        "yoshikiNo"
        FROM
        rgdb."DbT3049ShokanJutakuKaishu" 
        WHERE
        "hiHokenshaNo"=#{被保険者番号}
        AND "serviceTeikyoYM"=#{被保険者番号}
        AND "seiriNo"=#{整理番号}
        AND SUBSTRING("yoshikiNo",1,3)='21D'
        ORDER BY
        "yoshikiNo" DESC	
    </select>   
    <select id="get今回住宅改修の住宅住所"
            resultType="jp.co.ndensan.reams.db.dbc.entity.db.shiharaikekka.ShiharaiKekkaEntity" fetchSize="500">
        SELECT					
        "jutakuKaishuJutakuAddress" AS "jutakuKaishuJutakuAddress"
        FROM rgdb."DbT3049ShokanJutakuKaishu" AS "JutakuKaishu"							
        WHERE								
        "hiHokenshaNo"=#{被保険者番号}		
        AND "serviceTeikyoYM"=#{サービス提供年月}			
        AND "seiriNo"='8678'			
        AND SUBSTRING("yoshikiNo",1,3)='21D'
        ORDER BY					
        "meisaiNo" DESC,
        "renban" DESC
    </select>  
    <select id="get支払結果計算の開始サービス提供年月限度額リセットがある"
            resultType="jp.co.ndensan.reams.db.dbc.entity.db.shiharaikekka.ShiharaiKekkaEntity" fetchSize="500">                                                                                               			
        SELECT					
        "T1"."serviceTeikyoYM" AS "serviceTeikyoYM"
        FROM					
        rgdb."DbT3034ShokanShinsei" AS "T1"		
        INNER JOIN 					
        ( SELECT				
        "hiHokenshaNo"	AS "hiHokenshaNo",	
        "serviceTeikyoYM" AS "serviceTeikyoYM", 
        "seiriNo" AS "seiriNo"
        FROM				
        rgdb."DbT3049ShokanJutakuKaishu"						
        WHERE							
        "hiHokenshaNo"=#{被保険者番号}					
        AND "serviceTeikyoYM"&lt;#{サービス提供年月}
        AND "jutakuKaishuJutakuAddress"=#{住宅改修住宅住所}
        AND SUBSTRING("yoshikiNo",1,3)='21D'
        GROUP BY				
        "hiHokenshaNo",			
        "serviceTeikyoYM",		
        "seiriNo"		
        ) AS  "T2" ON				
        "T1"."hiHokenshaNo"="T2"."hiHokenshaNo" AND
        "T1"."serviceTeikyoYM"="T2"."serviceTeikyoYM" AND
        "T1"."seiriNo"="T2"."seiriNo"
        WHERE					
        ("T1"."yokaigo3DankaiHenko"=TRUE	
        OR "T1"."jutakuJushoHenko"=TRUE)	
        AND "T1"."serviceTeikyoYM"&lt;#{被保険者番号}
        ORDER BY					
        "serviceTeikyoYM"  DESC		
    </select> 
    
    
    
<select id="get支払結果計算の開始サービス提供年月限度額リセットなし"
            resultType="jp.co.ndensan.reams.db.dbc.entity.db.shiharaikekka.ShiharaiKekkaEntity" fetchSize="500">           
        SELECT					
        "T1"."serviceTeikyoYM" AS "serviceTeikyoYM"
        FROM rgdb."DbT3034ShokanShinsei" AS "T1"
        INNER JOIN (SELECT				
        "T3"."hiHokenshaNo" AS "hiHokenshaNo",
        "T3"."serviceTeikyoYM" AS "serviceTeikyoYM",
        "T3"."seiriNo" AS "seiriNo"
        FROM rgdb."DbT3049ShokanJutakuKaishu" AS "T3"					
        WHERE							
        "T3"."hiHokenshaNo"=#{被保険者番号}
        AND "T3"."serviceTeikyoYM"&lt;#{サービス提供年月}	
        AND "T3"."jutakuKaishuJutakuAddress"=#{住宅改修住宅住所}					
        AND SUBSTRING("T3"."yoshikiNo",1, 3)='21D'
        GROUP BY				
        "T3"."hiHokenshaNo",			
        "T3"."serviceTeikyoYM",			
        "T3"."seiriNo"			
        ) AS  "T2" ON				
        "T1"."hiHokenshaNo"="T2"."hiHokenshaNo" AND
        "T1"."serviceTeikyoYM"="T2"."serviceTeikyoYM" AND
        "T1"."seiriNo"="T2"."seiriNo"
        WHERE					
        "T1"."serviceTeikyoYM"&lt;#{被保険者番号}
        ORDER BY					
        "serviceTeikyoYM"  ASC	
    </select>  			
    <select id="get住宅改修費支払結果"
            resultType="jp.co.ndensan.reams.db.dbc.entity.db.basic.DbT3035ShokanJutakuKaishuJizenShinseiEntity" fetchSize="500">	
        SELECT
        SUM("T1"."shiharaiKingakuTotal") AS "shiharaiKingakuTotal",
        SUM("T1"."hokenTaishoHiyogaku") AS "hokenTaishoHiyogaku",
        SUM("T1"."hokenKyufugaku") AS "hokenKyufugaku",
        SUM("T1"."riyoshaFutangaku") AS "riyoshaFutangaku",
        "T2"."jutakuKaishuJutakuAddress" AS "jutakuKaishuJutakuAddress"
        FROM					
        rgdb."DbT3034ShokanShinsei" AS "T1"	
        INNER JOIN 					
        ( SELECT				
        "hiHokenshaNo" AS "hiHokenshaNo",
        "serviceTeikyoYM" AS "serviceTeikyoYM",
        "seiriNo" AS "seiriNo",
        "jutakuKaishuJutakuAddress" AS "jutakuKaishuJutakuAddress"
        FROM				
        rgdb."DbT3049ShokanJutakuKaishu"						
        WHERE							
        "hiHokenshaNo"=#{被保険者番号}				
        AND "jutakuKaishuJutakuAddress"=#{被保険者番号}					
        AND "serviceTeikyoYM"&lt;=#{被保険者番号}				
        AND "serviceTeikyoYM"&lt;#{被保険者番号}				
        AND SUBSTRING("yoshikiNo",1,3)=#{被保険者番号}
        GROUP BY				
        "hiHokenshaNo",			
        "serviceTeikyoYM",			
        "seiriNo",
        "jutakuKaishuJutakuAddress"
					
        ) AS "T2" ON				
        "T1"."hiHokenshaNo"="T2"."hiHokenshaNo"
        AND "T1"."serviceTeikyoYM"="T2"."serviceTeikyoYM"
        AND "T1"."seiriNo"="T2"."seiriNo"
        WHERE "T1"."hiHokenshaNo"=#{被保険者番号}			
        AND "T1"."serviceTeikyoYM"&lt;=#{被保険者番号}				
        AND "T1"."serviceTeikyoYM"&lt;#{被保険者番号}
        GROUP BY "jutakuKaishuJutakuAddress"				
</select>
    <select id="get被保険者台帳情報"
            resultType="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT1001HihokenshaDaichoEntity" fetchSize="500">
        SELECT
        "shichosonCode" AS "shichosonCode",
        "koikinaiTokureiSochimotoShichosonCode" AS "koikinaiTokureiSochimotoShichosonCode"
        FROM					
        rgdb."DbT1001HihokenshaDaicho"				
        WHERE					
        "hihokenshaNo"=#{被保険者番号}				
        AND "idoYMD"&lt;=#{サービス提供年月}				
        AND "logicalDeletedFlag"&lt;&gt;TRUE
        ORDER BY				
        "idoYMD" DESC,				
        "edaNo" DESC			
</select>
    <select id="getWK給付率"
            resultType="jp.co.ndensan.reams.db.dbc.entity.db.basic.DbT3113RiyoshaFutanWariaiEntity" fetchSize="500">     
        SELECT						
        "futanWariai"."rirekiNo" AS "rirekiNo"		
        FROM										
        rgdb."DbT3113RiyoshaFutanWariai" AS "futanWariai"									
        INNER JOIN 										
        rgdb."DbT3114RiyoshaFutanWariaiMeisai" AS "wariaiMeisai" 					
        ON "wariaiMeisai"."hihokenshaNo"='466'		
        AND "wariaiMeisai"."rirekiNo"="futanWariai"."rirekiNo"				
        AND "wariaiMeisai"."yukoKaishiYMD"&lt;=#{被保険者番号}				
        AND "wariaiMeisai"."yukoKaishiYMD"&lt;=#{被保険者番号}	
        ORDER BY "rirekiNo" DESC,
        "edaNo" DESC
</select>
    <select id="get支払方法変更給付率"
            resultType="jp.co.ndensan.reams.db.dbd.entity.db.basic.DbT4021ShiharaiHohoHenkoEntity" fetchSize="500">
        SELECT										
        "rirekiNo" AS "rirekiNo",			
        "kyufuRitsu"  AS "kyufuRitsu" 		
        FROM											
        rgdb."DbT4021ShiharaiHohoHenko"									
        WHERE											
        "hihokenshaNo"=#{被保険者番号}								
        AND "kanriKubun"=#{被保険者番号}						
        AND "mukoKubun"&lt;&gt;TRUE							
        AND "tekiyoKaishiYMD"&lt;=#{被保険者番号}						
        AND "tekiyoShuryoYMD"&lt;=#{被保険者番号}			
        ORDER BY										
        "rirekiNo" DESC 
</select>        
 <select id="get減額給付率"
            resultType="jp.co.ndensan.reams.db.dbd.entity.db.basic.DbT4014RiyoshaFutangakuGengakuEntity" fetchSize="500">
        SELECT										
        "kyuhuritsu" AS "rirekiNo",			
        "rirekiNo"  AS "kyufuRitsu" 		
        FROM											
        rgdb."DbT4014RiyoshaFutangakuGengaku"	
     WHERE
      "hihokenshaNo"=#{被保険者番号}																	      		
        ORDER BY										
        "rirekiNo" DESC 
</select>                                                                                                 						   
</mapper>
