<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： バッチ設計_DBB210030_保険料段階別収納率一覧表作成 用XMLです。 --> 
<!-- @reamsid_L DBB-1630-020 tianshuai -->

<mapper namespace="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.relate.dankaibetsushunoritsu.IDankaibetsuShunoritsuMapper">
    <select id="get収納宛名データ" resultMap="resultMap_ShunyuTaishoData"
            parameterType="jp.co.ndensan.reams.db.dbb.definition.mybatisprm.dankaibetsushunoritsu.InsDankaibetsuShunoritsuTmpMybatisParamter" 
            fetchSize="500" resultOrdered="true">
        WITH master as(
            SELECT
                "TotalShunyu".*,
                "FunoKessonAll".*,
                "DbV2002Fuka".*,
                "DbT2003Kibetsu".*,
                "UrT0705ChoteiKyotsu".*,
                "DbT1001HihokenshaDaicho".*,
                CASE WHEN "COUNT1" . "COUNT_1" IS NULL THEN 0 ELSE "COUNT1" . "COUNT_1" END,
                CASE WHEN "COUNT2" . "COUNT_2" IS NULL THEN 0 ELSE "COUNT2" . "COUNT_2" END,
                "TotalShunyu"."urT0700ShunoKanri_shunoId" AS "totalShunyu_urT0700ShunoKanri_shunoId",
                "TotalShunyu"."urT0700ShunoKanri_shikibetsuCode" AS "totalShunyu_urT0700ShunoKanri_shikibetsuCode"
            FROM
            (<include refid="jp.co.ndensan.reams.ca.cax.persistence.db.mapper.relate.shunyu.IShunyuMapper.selectAllShunyu"/>) AS "TotalShunyu"
            INNER JOIN
            (<include refid="jp.co.ndensan.reams.db.dbb.persistence.db.mapper.relate.fuka.IFukaJohoRelateMapper.noDeleted_DbV2002Fuka" />) AS "DbV2002Fuka"
            ON #{開始調定年度} <![CDATA[<=]]> "DbV2002Fuka"."dbT2002Fuka_choteiNendo"
            AND "DbV2002Fuka"."dbT2002Fuka_choteiNendo" <![CDATA[<=]]> #{終了調定年度}
            AND #{開始賦課年度} <![CDATA[<=]]> "DbV2002Fuka"."dbT2002Fuka_fukaNendo"
            AND "DbV2002Fuka"."dbT2002Fuka_fukaNendo" <![CDATA[<=]]> #{終了賦課年度}
            AND SUBSTRING("DbV2002Fuka"."dbT2002Fuka_choteiNichiji",1,6) <![CDATA[<=]]> #{調定基準年月}
            AND "DbV2002Fuka"."dbT2002Fuka_choteiNendo" = "TotalShunyu"."urT0700ShunoKanri_choteiNendo"
            AND "DbV2002Fuka"."dbT2002Fuka_fukaNendo" = "TotalShunyu"."urT0700ShunoKanri_kazeiNendo"
            AND (CAST("DbV2002Fuka" . "dbT2002Fuka_tsuchishoNo" AS numeric)) = "TotalShunyu" . "urT0700ShunoKanri_tsuchishoNo"
            INNER JOIN
            (<include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2003KibetsuMapper.noDeleted_DbT2003Kibetsu" />) AS "DbT2003Kibetsu"
            ON
            "DbV2002Fuka"."dbT2002Fuka_choteiNendo" = "DbT2003Kibetsu"."dbT2003Kibetsu_choteiNendo"
            AND "DbV2002Fuka"."dbT2002Fuka_fukaNendo" = "DbT2003Kibetsu"."dbT2003Kibetsu_fukaNendo"
            AND "DbV2002Fuka"."dbT2002Fuka_tsuchishoNo" = "DbT2003Kibetsu"."dbT2003Kibetsu_tsuchishoNo"
            AND "DbV2002Fuka"."dbT2002Fuka_rirekiNo" = "DbT2003Kibetsu"."dbT2003Kibetsu_rirekiNo"
            INNER JOIN
            (
            SELECT
            <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IUrT0705ChoteiKyotsuMapper.allColumns_UrT0705ChoteiKyotsu" />
            FROM
            rgdb."UrT0705ChoteiKyotsu"
            ) AS "UrT0705ChoteiKyotsu"
            ON
            "DbT2003Kibetsu"."dbT2003Kibetsu_choteiId" = "UrT0705ChoteiKyotsu"."urT0705ChoteiKyotsu_choteiId"
            LEFT OUTER JOIN
            (<include refid="jp.co.ndensan.reams.ca.cax.persistence.db.mapper.relate.funokesson.IFunoKessonMapper.selectAllFunoKesson" />) AS "FunoKessonAll"
            ON
            "TotalShunyu"."urT0700ShunoKanri_shunoId" = "FunoKessonAll"."urT0700ShunoKanri_shunoId"
            <if test="科目コードリスト != null and !科目コードリスト.isEmpty()">
                AND "FunoKessonAll"."urT0700ShunoKanri_kamokuCode" IN
                <foreach item="科目コード_ロープ"  collection="科目コードリスト" open="(" separator="," close=")">
                    #{科目コード_ロープ}
                </foreach>
            </if>
            LEFT OUTER JOIN
            (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1001HihokenshaDaichoMapper.noDeleted_DbT1001HihokenshaDaicho" />) AS "DbT1001HihokenshaDaicho"
            ON "DbT1001HihokenshaDaicho"."dbT1001HihokenshaDaicho_hihokenshaNo" = "DbV2002Fuka"."dbT2002Fuka_hihokenshaNo"
            AND (("DbT1001HihokenshaDaicho"."dbT1001HihokenshaDaicho_ichigoShikakuShutokuYMD" <![CDATA[<=]]> "DbV2002Fuka"."dbT2002Fuka_fukaYMD"
            AND "DbT1001HihokenshaDaicho"."dbT1001HihokenshaDaicho_shikakuSoshitsuYMD" = null)
            OR ("DbT1001HihokenshaDaicho"."dbT1001HihokenshaDaicho_ichigoShikakuShutokuYMD" <![CDATA[<=]]> "DbV2002Fuka"."dbT2002Fuka_fukaYMD"
            AND "DbV2002Fuka"."dbT2002Fuka_fukaYMD" <![CDATA[<]]> "DbT1001HihokenshaDaicho"."dbT1001HihokenshaDaicho_shikakuSoshitsuYMD"))
            LEFT OUTER JOIN
            (SELECT
            "DbT4001JukyushaDaicho"."ninteiYukoKikanKaishiYMD",
            "DbT4001JukyushaDaicho"."ninteiYukoKikanShuryoYMD",
            "DbT4001JukyushaDaicho"."hihokenshaNo",
            COUNT(*) AS "COUNT_1"
            FROM
            rgdb."DbT4001JukyushaDaicho" AS "DbT4001JukyushaDaicho"
            GROUP BY
            "DbT4001JukyushaDaicho"."ninteiYukoKikanKaishiYMD",
            "DbT4001JukyushaDaicho"."ninteiYukoKikanShuryoYMD",
            "DbT4001JukyushaDaicho"."hihokenshaNo"
            ) AS "COUNT1"
            ON "COUNT1"."ninteiYukoKikanKaishiYMD" <![CDATA[<=]]> #{基準年月}
            AND #{基準年月} <![CDATA[<=]]> "COUNT1"."ninteiYukoKikanShuryoYMD"
            AND "DbV2002Fuka"."dbT2002Fuka_hihokenshaNo" = "COUNT1"."hihokenshaNo"
            LEFT JOIN
            (SELECT
            "DbT3017KyufujissekiKihon"."serviceTeikyoYM",
            "DbT3017KyufujissekiKihon"."hiHokenshaNo",
            COUNT(*) AS "COUNT_2"
            FROM
            rgdb."DbT3017KyufujissekiKihon" AS "DbT3017KyufujissekiKihon"
            GROUP BY
            "DbT3017KyufujissekiKihon"."serviceTeikyoYM",
            "DbT3017KyufujissekiKihon"."hiHokenshaNo"
            ) AS "COUNT2"
            ON "COUNT2"."serviceTeikyoYM" = #{基準年月}
            AND "DbV2002Fuka"."dbT2002Fuka_hihokenshaNo" = "COUNT2"."hiHokenshaNo"
            WHERE
            "TotalShunyu"."urT0700ShunoKanri_choteiNendo" <![CDATA[<=]]> #{終了調定年度}
            AND #{開始調定年度} <![CDATA[<=]]> "TotalShunyu"."urT0700ShunoKanri_choteiNendo"
            AND "TotalShunyu"."urT0700ShunoKanri_kazeiNendo" <![CDATA[<=]]> #{終了賦課年度}
            AND #{開始賦課年度} <![CDATA[<=]]> "TotalShunyu"."urT0700ShunoKanri_kazeiNendo"
            <if test="is未納分出力区分"> 
                AND "TotalShunyu"."caT0701Shunyu_kaikeiNendo" = #{会計年度}
            </if>
            <if test="科目コードリスト != null and !科目コードリスト.isEmpty()">
                AND "TotalShunyu"."urT0700ShunoKanri_kamokuCode" IN
                <foreach item="科目コード_ロープ"  collection="科目コードリスト" open="(" separator="," close=")">
                    #{科目コード_ロープ}
                </foreach>
            </if>
        )
        SELECT
            master.*,
            <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.columns_ShikibetsuTaisho"/>
        FROM
            master
        INNER JOIN
        rgua."UaFt200FindShikibetsuTaisho"('','',true,'DB',false,'','','','','','','','','','','',true,
        '','','','','','','',true,'','','','','','','','','','','',true,true,true,true,true,true,true,true,true,true,
        true,'','','','','','','','',true,'','',true,true,true,'','','','','','','','','','','','','','','','','','',
        (SELECT
            ARRAY_AGG(CAST (master."totalShunyu_urT0700ShunoKanri_shikibetsuCode" AS TEXT))
        FROM
            master)) AS "ShikibetsuTaisho"
        ON "ShikibetsuTaisho"."shikibetsuCode" = master."totalShunyu_urT0700ShunoKanri_shikibetsuCode"
        <if test="開始生年月日 != null">
            AND #{開始生年月日} <![CDATA[<=]]> "ShikibetsuTaisho"."seinengappiYMD"
        </if>
        <if test="終了生年月日 != null">
            AND "ShikibetsuTaisho"."seinengappiYMD" <![CDATA[<=]]> #{終了生年月日}
        </if>
        <if test="広域判定区分 == 120 and 選択対象区分!=null and 選択対象区分.toString() == '町域' and 選択対象リスト != null and !選択対象リスト.isEmpty()"> 
            AND "ShikibetsuTaisho"."choikiCode" IN
            <foreach item="選択対象リスト" index="index" collection="選択対象リスト"
                     open="(" separator="," close=")">
                #{選択対象リスト}
            </foreach>
        </if>
        <if test="広域判定区分 == 120 and 選択対象区分!=null and 選択対象区分.toString() == '行政区' and 選択対象リスト != null and !選択対象リスト.isEmpty()"> 
            AND "ShikibetsuTaisho"."gyoseikuCode" IN
            <foreach item="選択対象リスト" index="index" collection="選択対象リスト"
                     open="(" separator="," close=")">
                #{選択対象リスト}
            </foreach>
        </if>
        <if test="広域判定区分  == 120 and 選択対象区分!=null and 選択対象区分.toString() == '地区1' and 選択対象リスト != null and !選択対象リスト.isEmpty()"> 
            AND "ShikibetsuTaisho"."chikuCode1" IN
            <foreach item="選択対象リスト" index="index" collection="選択対象リスト"
                     open="(" separator="," close=")">
                #{選択対象リスト}
            </foreach>
        </if>
        <if test="広域判定区分 == 120 and 選択対象区分!=null and 選択対象区分.toString() == '地区2' and 選択対象リスト != null and !選択対象リスト.isEmpty()"> 
            AND "ShikibetsuTaisho"."chikuCode2" IN
            <foreach item="選択対象リスト" index="index" collection="選択対象リスト"
                     open="(" separator="," close=")">
                #{選択対象リスト}
            </foreach>
        </if>
        <if test="広域判定区分 == 120 and 選択対象区分!=null and 選択対象区分.toString() == '地区3' and 選択対象リスト != null and !選択対象リスト.isEmpty()"> 
            AND "ShikibetsuTaisho"."chikuCode3" IN
            <foreach item="選択対象リスト" index="index" collection="選択対象リスト"
                     open="(" separator="," close=")">
                #{選択対象リスト}
            </foreach>
        </if>
        ORDER BY
        "master"."totalShunyu_urT0700ShunoKanri_shunoId",
        "master"."dbT2002Fuka_choteiNendo",
        "master"."dbT2002Fuka_fukaNendo",
        "master"."dbT2002Fuka_tsuchishoNo",
        "master"."dbT2002Fuka_hokenryoDankai",
        "master"."dbT2003Kibetsu_choshuHouhou",
        "master"."dbT2003Kibetsu_ki"
    </select>

    <select id="select保険料段階別収納率一覧表"  resultType="jp.co.ndensan.reams.db.dbb.entity.db.relate.dankaibetsushunoritsu.DankaibetsuShunoritsuTempEntity"
            parameterType="jp.co.ndensan.reams.db.dbb.definition.mybatisprm.dankaibetsushunoritsu.PrtDankaibetsuShunoritsuIchiranhyoMybatisParamter" 
            fetchSize="500" resultOrdered="true">
        SELECT
        "TEMP".*
        FROM "DankaibetsuShunoritsuTemp" AS "TEMP"
        WHERE 1 = 1
        <if test="広域判定区分 == 111 and 市町村情報 != 000000"> 
            AND ("TEMP"."lasdecCode" = #{市町村情報}
            OR "TEMP"."lasdecCode" = "TEMP"."fukaLasdecCode")
        </if>
        <if test="抽出条件 == 2">
            AND "TEMP"."taishouKubun" = '認定者'
        </if>
        <if test="抽出条件 == 4"> 
            AND "TEMP"."taishouKubun" <![CDATA[<>]]> '認定者'
        </if>
        <if test="抽出条件 == 3"> 
            AND "TEMP"."taishouKubun" = '受給者'
        </if>
        ORDER BY
        "TEMP"."kannnouKunbun" ASC,
        "TEMP"."choteiNendo" DESC,
        "TEMP"."fukaNendo" DESC,
        "TEMP"."kamokuCode" ASC,
        "TEMP"."lasdecCode" ASC,
        "TEMP"."kibetsu" ASC,
        "TEMP"."tsuchishoNo" ASC
    </select>

    <resultMap id="resultMap_ShunyuTaishoData" type="jp.co.ndensan.reams.db.dbb.entity.db.relate.dankaibetsushunoritsu.DankaibetsuShunoritsuDataEntity" autoMapping="false">
        <id column="urT0700ShunoKanri_shunoId" />
        <id column="dbT2002Fuka_choteiNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <id column="dbT2002Fuka_fukaNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <id column="dbT2002Fuka_tsuchishoNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.TsuchishoNoTypeHandler"/>
        <id column="dbT2002Fuka_hokenryoDankai" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id column="dbT2003Kibetsu_choshuHouhou" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id column="dbT2003Kibetsu_ki" />
        <association property="収納管理マスタ" resultMap="jp.co.ndensan.reams.ca.cax.persistence.db.mapper.basic.IUrT0700ShunoKanriMapper.ResultMap_UrT0700ShunoKanriEntity"/>
        <association property="収入" resultMap="jp.co.ndensan.reams.ca.cax.persistence.db.mapper.basic.ICaT0701ShunyuMapper.ResultMap_CaT0701ShunyuEntity"/>
        <association property="不納欠損" resultMap="resultMap_unoKessonEntity"/>
        <association property="宛名" resultMap="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.UaFt200FindShikibetsuTaishoEntity"/>
        <association property="介護賦課" resultMap="ResultMap_DbV2002FukaEntity"/>
        <association property="介護期別" resultMap="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT2003KibetsuMapper.ResultMap_DbT2003KibetsuEntity"/>
        <association property="調定共通" resultMap="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IUrT0705ChoteiKyotsuMapper.ResultMap_UrT0705ChoteiKyotsuEntity"/>
        <association property="被保険者台帳"
                    resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT1001HihokenshaDaichoMapper.ResultMap_DbT1001HihokenshaDaichoEntity"/>
        <association property="受給者給付COUNT" resultMap="ResultMap_JukyushaKyufujissekiCountEntity"/>
    </resultMap>

    <resultMap id="ResultMap_JukyushaKyufujissekiCountEntity" type="jp.co.ndensan.reams.db.dbb.entity.db.relate.dankaibetsushunoritsu.JukyushaKyufujissekiCountEntity" autoMapping="true">
        <result property="受給者台帳COUNT" column="COUNT_1"/>
        <result property="給付実績基本COUNT" column="COUNT_2"/>
    </resultMap>

     <resultMap id="ResultMap_DbV2002FukaEntity" type="jp.co.ndensan.reams.db.dbx.entity.db.basic.DbT2002FukaEntity" autoMapping="true">
        <result property="choteiNendo" column="dbT2002Fuka_choteiNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <result property="fukaNendo" column="dbT2002Fuka_fukaNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <result property="tsuchishoNo" column="dbT2002Fuka_tsuchishoNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.TsuchishoNoTypeHandler"/>
        <result property="rirekiNo" column="dbT2002Fuka_rirekiNo" />
        <result property="insertDantaiCd" column="dbT2002Fuka_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT2002Fuka_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT2002Fuka_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT2002Fuka_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT2002Fuka_isDeleted" />
        <result property="updateCount" column="dbT2002Fuka_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT2002Fuka_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT2002Fuka_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hihokenshaNo" column="dbT2002Fuka_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="shikibetsuCode" column="dbT2002Fuka_shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="setaiCode" column="dbT2002Fuka_setaiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.SetaiCodeTypeHandler"/>
        <result property="setaiInsu" column="dbT2002Fuka_setaiInsu" />
        <result property="shikakuShutokuYMD" column="dbT2002Fuka_shikakuShutokuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shikakuShutokuJiyu" column="dbT2002Fuka_shikakuShutokuJiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shikakuSoshitsuYMD" column="dbT2002Fuka_shikakuSoshitsuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shikakuSoshitsuJiyu" column="dbT2002Fuka_shikakuSoshitsuJiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="seihofujoShurui" column="dbT2002Fuka_seihofujoShurui" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="seihoKaishiYMD" column="dbT2002Fuka_seihoKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="seihoHaishiYMD" column="dbT2002Fuka_seihoHaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ronenKaishiYMD" column="dbT2002Fuka_ronenKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ronenHaishiYMD" column="dbT2002Fuka_ronenHaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="fukaYMD" column="dbT2002Fuka_fukaYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="kazeiKubun" column="dbT2002Fuka_kazeiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="setaikazeiKubun" column="dbT2002Fuka_setaikazeiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="gokeiShotokuGaku" column="dbT2002Fuka_gokeiShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="nenkinShunyuGaku" column="dbT2002Fuka_nenkinShunyuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="hokenryoDankai" column="dbT2002Fuka_hokenryoDankai" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hokenryoDankai1" column="dbT2002Fuka_hokenryoDankai1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="nengakuHokenryo1" column="dbT2002Fuka_nengakuHokenryo1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="tsukiwariStartYM1" column="dbT2002Fuka_tsukiwariStartYM1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="tsukiwariEndYM1" column="dbT2002Fuka_tsukiwariEndYM1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="hokenryoDankai2" column="dbT2002Fuka_hokenryoDankai2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="nengakuHokenryo2" column="dbT2002Fuka_nengakuHokenryo2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="tsukiwariStartYM2" column="dbT2002Fuka_tsukiwariStartYM2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="tsukiwariEndYM2" column="dbT2002Fuka_tsukiwariEndYM2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="choteiNichiji" column="dbT2002Fuka_choteiNichiji" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YMDHMSTypeHandler"/>
        <result property="choteiJiyu1" column="dbT2002Fuka_choteiJiyu1" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="choteiJiyu2" column="dbT2002Fuka_choteiJiyu2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="choteiJiyu3" column="dbT2002Fuka_choteiJiyu3" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="choteiJiyu4" column="dbT2002Fuka_choteiJiyu4" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="koseiM" column="dbT2002Fuka_koseiM" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="gemmenMaeHokenryo" column="dbT2002Fuka_gemmenMaeHokenryo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="gemmenGaku" column="dbT2002Fuka_gemmenGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="kakuteiHokenryo" column="dbT2002Fuka_kakuteiHokenryo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="hokenryoDankaiKarisanntei" column="dbT2002Fuka_hokenryoDankaiKarisanntei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="choshuHohoRirekiNo" column="dbT2002Fuka_choshuHohoRirekiNo" />
        <result property="idoKijunNichiji" column="dbT2002Fuka_idoKijunNichiji" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YMDHMSTypeHandler"/>
        <result property="kozaKubun" column="dbT2002Fuka_kozaKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kyokaisoKubun" column="dbT2002Fuka_kyokaisoKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shokkenKubun" column="dbT2002Fuka_shokkenKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="fukaShichosonCode" column="dbT2002Fuka_fukaShichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <result property="tkSaishutsuKampuGaku" column="dbT2002Fuka_tkSaishutsuKampuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="fuSaishutsuKampuGaku" column="dbT2002Fuka_fuSaishutsuKampuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
    </resultMap>

    <!--  不納欠損entity  -->
    <resultMap id="resultMap_unoKessonEntity" type="jp.co.ndensan.reams.ca.cax.entity.db.basic.CaT0708FunoKessonEntity">
        <id property="funoKessonId"                         column="caT0708FunoKesson_funoKessonId" />
        <result property="insertDantaiCd"                   column="caT0708FunoKesson_insertDantaiCd"                  typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="insertTimestamp"                  column="caT0708FunoKesson_insertTimestamp"                 typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler" />
        <result property="insertReamsLoginId"               column="caT0708FunoKesson_insertReamsLoginId"              typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="insertContextId"                  column="caT0708FunoKesson_insertContextId"                 typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler" />
        <result property="isDeleted"                        column="caT0708FunoKesson_isDeleted" />
        <result property="updateCount"                      column="caT0708FunoKesson_updateCount" />
        <result property="lastUpdateTimestamp"              column="caT0708FunoKesson_lastUpdateTimestamp"             typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler" />
        <result property="lastUpdateReamsLoginId"           column="caT0708FunoKesson_lastUpdateReamsLoginId"          typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="funoKessonId"                     column="caT0708FunoKesson_funoKessonId" />
        <result property="shunoId"                          column="caT0708FunoKesson_shunoId" />
        <result property="kaikeiNendo"                      column="caT0708FunoKesson_kaikeiNendo"                     typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RYearTypeHandler" />
        <result property="funoKessonJiyu"                   column="caT0708FunoKesson_funoKessonJiyu"                  typeHandler="jp.co.ndensan.reams.ca.cax.entity.typehandlers.FunoKessonJiyuCodeValueTypeHandler" />
        <result property="funoKessonKessaiYMD"              column="caT0708FunoKesson_funoKessonKessaiYMD"             typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTypeHandler" />
        <result property="funoKessonTorikeshiYMD"           column="caT0708FunoKesson_funoKessonTorikeshiYMD"          typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTypeHandler" />
        <result property="funoKessongaku"                   column="caT0708FunoKesson_funoKessongaku"                  typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="tokusokuTesuryoFunoKessongaku"    column="caT0708FunoKesson_tokusokuTesuryoFunoKessongaku"   typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="entaikinFunoKessongaku"           column="caT0708FunoKesson_entaikinFunoKessongaku"          typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="shohizeiFunoKessongaku"           column="caT0708FunoKesson_shohizeiFunoKessongaku"          typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
    </resultMap>
</mapper>
