<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： 「DB出力(処理結果確認リスト一時)」の【振込データなし】のマッピング用XMLです。 -->
<!-- @reamsid_L DBC-5010-030 x_lilh -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.dbc050010.IShoriKekkaKakuninListDataNasiMapper">
    <select id="select振込明細一時情報"
            resultType="jp.co.ndensan.reams.db.dbc.entity.db.relate.dbc050010.FurikomiDetailTempTableEntity"
            fetchSize="500" resultOrdered="true">
       SELECT
        *
       FROM "DbWT0510FurikomiMeisai"
    </select>
</mapper>