<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： 構成市町村マスタのマッピング用XMLです。 -->
<!-- @reamsid_L DBE-0280-010 sunhaidi -->
<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.relate.ninteichosainmaster.INinteiChosainMasterMapper">
      <select resultOrdered="true" id="selectNinteichosaItakusakiJoho"  
              resultType="jp.co.ndensan.reams.uz.uza.lang.RString"
              parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.ninteichosainmaster.NinteiChosainMasterSearchParameter">
      SELECT
          "DbT5910NinteichosaItakusakiJoho"."jigyoshaMeisho"
       FROM
         rgdb."DbT5910NinteichosaItakusakiJoho"
      WHERE
         "DbT5910NinteichosaItakusakiJoho"."isDeleted" = FALSE
       AND  "DbT5910NinteichosaItakusakiJoho"."shichosonCode" = #{市町村コード}
       AND  "DbT5910NinteichosaItakusakiJoho"."ninteichosaItakusakiCode" = #{調査委託先コード}
     </select>
     <select resultOrdered="true" id="selectNinteichosaIraiJohoCount"  
              resultType="int"
              parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.ninteichosainmaster.NinteiChosainMasterSearchParameter">
        SELECT        
            COUNT(0)
        FROM        
            rgdb."DbT4201NinteichosaIraiJoho"
        INNER JOIN
            rgdb."DbT5101NinteiShinseiJoho"
        ON "DbT4201NinteichosaIraiJoho"."shinseishoKanriNo" = "DbT5101NinteiShinseiJoho"."shinseishoKanriNo"
        AND "DbT5101NinteiShinseiJoho"."isDeleted" = FALSE
        INNER JOIN
            rgdb."DbT7051KoseiShichosonMaster"
        ON "DbT5101NinteiShinseiJoho"."shoKisaiHokenshaNo" = "DbT7051KoseiShichosonMaster"."shoKisaiHokenshaNo"
        AND "DbT7051KoseiShichosonMaster"."isDeleted" = FALSE
        WHERE 
            "DbT4201NinteichosaIraiJoho"."isDeleted" = FALSE
        AND "DbT7051KoseiShichosonMaster"."shichosonCode" = #{市町村コード}
        AND "DbT5101NinteiShinseiJoho"."ninteiChosaItakusakiCode" = #{調査委託先コード}
        AND "DbT5101NinteiShinseiJoho"."ninteiChosainCode" = #{調査員コード}
    </select>
    <select resultOrdered="true" id="selectNinteiShinseiJohoCount"  
              resultType="int"
              parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.ninteichosainmaster.NinteiChosainMasterSearchParameter">
        SELECT        
            COUNT(0)    
        FROM        
            rgdb."DbT5101NinteiShinseiJoho"
        INNER JOIN
            rgdb."DbT7051KoseiShichosonMaster"
        ON "DbT5101NinteiShinseiJoho"."shoKisaiHokenshaNo" = "DbT7051KoseiShichosonMaster"."shoKisaiHokenshaNo"
        AND "DbT7051KoseiShichosonMaster"."isDeleted" = FALSE
        WHERE 
            "DbT5101NinteiShinseiJoho"."isDeleted" = FALSE
        AND "DbT7051KoseiShichosonMaster"."shichosonCode" = #{市町村コード}
        AND "DbT5101NinteiShinseiJoho"."ninteiChosaItakusakiCode" = #{調査委託先コード}
        AND "DbT5101NinteiShinseiJoho"."ninteiChosainCode" = #{調査員コード}
    </select>
    <select resultOrdered="true" id="selectChosainJohoCount"  
            resultType="int"
            parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.ninteichosainmaster.NinteiChosainMasterSearchParameter">
        SELECT        
             COUNT(0)    
        FROM        
             rgdb."DbT5913ChosainJoho"
        WHERE 
            "DbT5913ChosainJoho"."isDeleted" = FALSE
        AND "DbT5913ChosainJoho"."shichosonCode" = #{市町村コード}
        AND "DbT5913ChosainJoho"."ninteiChosaItakusakiCode" = #{調査委託先コード}
        AND "DbT5913ChosainJoho"."ninteiChosainCode" = #{調査員コード}
    </select>
    <select resultOrdered="true" id="selectChosainJohoIchiranList"  
            parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.ninteichosainmaster.NinteiChosainMasterMapperParameter" 
            resultMap="resultMap_NinteiChosainMasterEntity" fetchSize="500">
        SELECT
        DbT5913ChosainJoho."dbT5913ChosainJoho_shichosonCode",
        DbT5913ChosainJoho."dbT5913ChosainJoho_ninteiChosainCode",
        DbT5913ChosainJoho."dbT5913ChosainJoho_chosainShimei",
        DbT5913ChosainJoho."dbT5913ChosainJoho_chosainKanaShimei",
        DbT5913ChosainJoho."dbT5913ChosainJoho_seibetsu",
        DbT5913ChosainJoho."dbT5913ChosainJoho_chosainShikaku",
        DbT5913ChosainJoho."dbT5913ChosainJoho_chikuCode",
        DbT5913ChosainJoho."dbT5913ChosainJoho_chosaKanoNinzuPerMonth",
        DbT5913ChosainJoho."dbT5913ChosainJoho_yubinNo",
        DbT5913ChosainJoho."dbT5913ChosainJoho_jusho",
        DbT5913ChosainJoho."dbT5913ChosainJoho_telNo",
        DbT5913ChosainJoho."dbT5913ChosainJoho_faxNo",
        DbT5913ChosainJoho."dbT5913ChosainJoho_jokyoFlag",
        DbT5913ChosainJoho."dbT5913ChosainJoho_shozokuKikanName",
        DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_ninteichosaItakusakiCode",
        DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_jigyoshaMeisho",
        DbT7051KoseiShichosonMaster."dbT7051KoseiShichosonMaster_shichosonMeisho"
        FROM
        (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5913ChosainJohoMapper.noDeleted_DbT5913ChosainJoho" />) AS DbT5913ChosainJoho
        INNER JOIN
        (<include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT7051KoseiShichosonMasterMapper.noDeleted_DbT7051KoseiShichosonMaster" />) AS DbT7051KoseiShichosonMaster
        ON
        DbT5913ChosainJoho."dbT5913ChosainJoho_shichosonCode"  =  DbT7051KoseiShichosonMaster."dbT7051KoseiShichosonMaster_shichosonCode" 
        INNER JOIN
        (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5910NinteichosaItakusakiJohoMapper.noDeleted_DbT5910NinteichosaItakusakiJoho" />) AS DbT5910NinteichosaItakusakiJoho
        ON
        DbT5913ChosainJoho."dbT5913ChosainJoho_shichosonCode" = DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_shichosonCode" 
        AND DbT5913ChosainJoho."dbT5913ChosainJoho_ninteiChosaItakusakiCode" = DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_ninteichosaItakusakiCode" 
        <where>
            <if test="状況フラグ">
                AND DbT5913ChosainJoho."dbT5913ChosainJoho_jokyoFlag" = TRUE
            </if>
            <if test="!状況フラグ">
                AND DbT5913ChosainJoho."dbT5913ChosainJoho_jokyoFlag" = FALSE
            </if>
            <if test="uses市町村コード">
                AND DbT5913ChosainJoho."dbT5913ChosainJoho_shichosonCode" = #{市町村コード}
            </if>
            <if test="uses調査委託先コードFrom">
                AND DbT5913ChosainJoho."dbT5913ChosainJoho_ninteiChosaItakusakiCode" <![CDATA[>=]]> #{調査委託先コードFrom}
            </if>
            <if test="uses調査委託先コードTo">
                AND DbT5913ChosainJoho."dbT5913ChosainJoho_ninteiChosaItakusakiCode" <![CDATA[<=]]> #{調査委託先コードTo}
            </if>
            <if test="uses調査委託先名称">
                <if test="uses委託先名称前方一致">
                    AND DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_jigyoshaMeisho" LIKE #{調査委託先名称} || '%'
                </if>
                <if test="uses委託先名称後方一致">
                    AND DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_jigyoshaMeisho" LIKE '%' || #{調査委託先名称}
                </if>
                <if test="uses委託先名称完全一致">
                    AND DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_jigyoshaMeisho" = #{調査委託先名称}
                </if>
                <if test="uses委託先名称部分一致">
                    AND DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_jigyoshaMeisho" LIKE '%' || #{調査委託先名称} || '%'
                </if>
            </if>
            <if test="uses調査委託先カナ名称">
                <if test="uses委託先カナ名称前方一致">
                    AND DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_jigyoshaMeishoKana" LIKE  #{調査委託先カナ名称} || '%'
                </if>
                <if test="uses委託先カナ名称後方一致">
                    AND DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_jigyoshaMeishoKana" LIKE '%' || #{調査委託先カナ名称}
                </if>
                <if test="uses委託先カナ名称完全一致">
                    AND DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_jigyoshaMeishoKana" = #{調査委託先カナ名称}
                </if>
                <if test="uses委託先カナ名称部分一致">
                    AND DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_jigyoshaMeishoKana" LIKE '%' || #{調査委託先カナ名称} || '%'
                </if>
                
            </if>
             <if test="uses調査員コードFrom">
                AND DbT5913ChosainJoho."dbT5913ChosainJoho_ninteiChosainCode" <![CDATA[>=]]> #{調査員コードFrom}
            </if>
             <if test="uses調査員コードTo">
                AND DbT5913ChosainJoho."dbT5913ChosainJoho_ninteiChosainCode" <![CDATA[<=]]> #{調査員コードTo}
            </if>
            <if test="uses調査員氏名">
                <if test="uses調査員氏名前方一致">
                    AND DbT5913ChosainJoho."dbT5913ChosainJoho_chosainShimei" LIKE  #{調査員氏名} || '%'
                </if>
                <if test="uses調査員氏名後方一致">
                    AND DbT5913ChosainJoho."dbT5913ChosainJoho_chosainShimei" LIKE '%' || #{調査員氏名}
                </if>
                <if test="uses調査員氏名完全一致">
                    AND DbT5913ChosainJoho."dbT5913ChosainJoho_chosainShimei" = #{調査員氏名}
                </if>
                <if test="uses調査員氏名部分一致">
                    AND DbT5913ChosainJoho."dbT5913ChosainJoho_chosainShimei" LIKE '%' || #{調査員氏名} || '%'
                </if>
            </if>
            <if test="uses調査員カナ氏名">
                <if test="uses調査員カナ氏名前方一致">
                    AND DbT5913ChosainJoho."dbT5913ChosainJoho_chosainKanaShimei" LIKE  #{調査員カナ氏名} || '%'
                </if>
                <if test="uses調査員カナ氏名後方一致">
                    AND DbT5913ChosainJoho."dbT5913ChosainJoho_chosainKanaShimei" LIKE '%' || #{調査員カナ氏名}
                </if>
                <if test="uses調査員カナ氏名完全一致">
                    AND DbT5913ChosainJoho."dbT5913ChosainJoho_chosainKanaShimei" = #{調査員カナ氏名}
                </if>
                <if test="uses調査員カナ氏名部分一致">
                    AND DbT5913ChosainJoho."dbT5913ChosainJoho_chosainKanaShimei" LIKE '%' || #{調査員カナ氏名} || '%'
                </if>
            </if>
             <if test="uses地区コード">
                AND DbT5913ChosainJoho."dbT5913ChosainJoho_chikuCode" = #{地区コード}
            </if>
            <if test="市町村識別ID利用Flag">
                AND DbT7051KoseiShichosonMaster."dbT7051KoseiShichosonMaster_shichosonShokibetsuID" NOT IN (
                        SELECT "shichosonShokibetsuID"
                        FROM rgdb."DbT7051KoseiShichosonMaster"
                        WHERE  "shichosonCode"=(
                                                SELECT "shichosonCode"  FROM rgdb."DbT7051KoseiShichosonMaster"
                                                WHERE "shichosonShokibetsuID" = #{市町村識別ID}
                                                )
                        AND "shichosonShokibetsuID" <![CDATA[<>]]> #{市町村識別ID}
                        )
            </if>
        </where>
        ORDER BY
        DbT5913ChosainJoho."dbT5913ChosainJoho_shichosonCode",
        DbT5913ChosainJoho."dbT5913ChosainJoho_ninteiChosaItakusakiCode",
        DbT5913ChosainJoho."dbT5913ChosainJoho_ninteiChosainCode"
        <if test="usesSaidaiHyojiKensu">
                LIMIT #{saidaiHyojiKensu}
        </if>
       
    </select>
     <select resultOrdered="true" id="selectChosainJohoList"  
        parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.ninteichosainmaster.NinteiChosainMasterMapperParameter" 
        resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5913ChosainJohoMapper.ResultMap_DbT5913ChosainJohoEntity"  fetchSize="500" >
        SELECT
        DbT5913ChosainJoho.*
        FROM
        (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5913ChosainJohoMapper.noDeleted_DbT5913ChosainJoho" />) AS DbT5913ChosainJoho
        INNER JOIN
        (<include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT7051KoseiShichosonMasterMapper.noDeleted_DbT7051KoseiShichosonMaster" />) AS DbT7051KoseiShichosonMaster
        ON
        DbT5913ChosainJoho."dbT5913ChosainJoho_shichosonCode"  =  DbT7051KoseiShichosonMaster."dbT7051KoseiShichosonMaster_shichosonCode" 
        INNER JOIN
        (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5910NinteichosaItakusakiJohoMapper.noDeleted_DbT5910NinteichosaItakusakiJoho" />) AS DbT5910NinteichosaItakusakiJoho
        ON
        DbT5913ChosainJoho."dbT5913ChosainJoho_shichosonCode" = DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_shichosonCode" 
        AND DbT5913ChosainJoho."dbT5913ChosainJoho_ninteiChosaItakusakiCode" = DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_ninteichosaItakusakiCode" 
        <where>
            <if test="状況フラグ">
                AND DbT5913ChosainJoho."dbT5913ChosainJoho_jokyoFlag" = TRUE
            </if>
            <if test="!状況フラグ">
                AND DbT5913ChosainJoho."dbT5913ChosainJoho_jokyoFlag" = FALSE
            </if>
            <if test="uses市町村コード">
                AND DbT5913ChosainJoho."dbT5913ChosainJoho_shichosonCode" = #{市町村コード}
            </if>
            <if test="uses調査委託先コードFrom">
                AND DbT5913ChosainJoho."dbT5913ChosainJoho_ninteiChosaItakusakiCode" <![CDATA[>=]]> #{調査委託先コードFrom}
            </if>
            <if test="uses調査委託先コードTo">
                AND DbT5913ChosainJoho."dbT5913ChosainJoho_ninteiChosaItakusakiCode" <![CDATA[<=]]> #{調査委託先コードTo}
            </if>
            <if test="uses調査委託先名称">
                <if test="uses委託先名称前方一致">
                    AND DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_jigyoshaMeisho" LIKE #{調査委託先名称} || '%'
                </if>
                <if test="uses委託先名称後方一致">
                    AND DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_jigyoshaMeisho" LIKE '%' || #{調査委託先名称}
                </if>
                <if test="uses委託先名称完全一致">
                    AND DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_jigyoshaMeisho" = #{調査委託先名称}
                </if>
                <if test="uses委託先名称部分一致">
                    AND DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_jigyoshaMeisho" LIKE '%' || #{調査委託先名称} || '%'
                </if>
            </if>
            <if test="uses調査委託先カナ名称">
                <if test="uses委託先カナ名称前方一致">
                    AND DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_jigyoshaMeishoKana" LIKE  #{調査委託先カナ名称} || '%'
                </if>
                <if test="uses委託先カナ名称後方一致">
                    AND DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_jigyoshaMeishoKana" LIKE '%' || #{調査委託先カナ名称}
                </if>
                <if test="uses委託先カナ名称完全一致">
                    AND DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_jigyoshaMeishoKana" = #{調査委託先カナ名称}
                </if>
                <if test="uses委託先カナ名称部分一致">
                    AND DbT5910NinteichosaItakusakiJoho."dbT5910NinteichosaItakusakiJoho_jigyoshaMeishoKana" LIKE '%' || #{調査委託先カナ名称} || '%'
                </if>
                
            </if>
             <if test="uses調査員コードFrom">
                AND DbT5913ChosainJoho."dbT5913ChosainJoho_ninteiChosainCode" <![CDATA[>=]]> #{調査員コードFrom}
            </if>
             <if test="uses調査員コードTo">
                AND DbT5913ChosainJoho."dbT5913ChosainJoho_ninteiChosainCode" <![CDATA[<=]]> #{調査員コードTo}
            </if>
            <if test="uses調査員氏名">
                <if test="uses調査員氏名前方一致">
                    AND DbT5913ChosainJoho."dbT5913ChosainJoho_chosainShimei" LIKE  #{調査員氏名} || '%'
                </if>
                <if test="uses調査員氏名後方一致">
                    AND DbT5913ChosainJoho."dbT5913ChosainJoho_chosainShimei" LIKE '%' || #{調査員氏名}
                </if>
                <if test="uses調査員氏名完全一致">
                    AND DbT5913ChosainJoho."dbT5913ChosainJoho_chosainShimei" = #{調査員氏名}
                </if>
                <if test="uses調査員氏名部分一致">
                    AND DbT5913ChosainJoho."dbT5913ChosainJoho_chosainShimei" LIKE '%' || #{調査員氏名} || '%'
                </if>
            </if>
            <if test="uses調査員カナ氏名">
                <if test="uses調査員カナ氏名前方一致">
                    AND DbT5913ChosainJoho."dbT5913ChosainJoho_chosainKanaShimei" LIKE  #{調査員カナ氏名} || '%'
                </if>
                <if test="uses調査員カナ氏名後方一致">
                    AND DbT5913ChosainJoho."dbT5913ChosainJoho_chosainKanaShimei" LIKE '%' || #{調査員カナ氏名}
                </if>
                <if test="uses調査員カナ氏名完全一致">
                    AND DbT5913ChosainJoho."dbT5913ChosainJoho_chosainKanaShimei" = #{調査員カナ氏名}
                </if>
                <if test="uses調査員カナ氏名部分一致">
                    AND DbT5913ChosainJoho."dbT5913ChosainJoho_chosainKanaShimei" LIKE '%' || #{調査員カナ氏名} || '%'
                </if>
            </if>
            <if test="uses地区コード">
                AND DbT5913ChosainJoho."dbT5913ChosainJoho_chikuCode" = #{地区コード}
            </if>
            <if test="市町村識別ID利用Flag">
                AND DbT7051KoseiShichosonMaster."dbT7051KoseiShichosonMaster_shichosonShokibetsuID" NOT IN (
                        SELECT "shichosonShokibetsuID"
                        FROM rgdb."DbT7051KoseiShichosonMaster"
                        WHERE  "shichosonCode"=(
                                                SELECT "shichosonCode"  FROM rgdb."DbT7051KoseiShichosonMaster"
                                                WHERE "shichosonShokibetsuID" = #{市町村識別ID}
                                                )
                        AND "shichosonShokibetsuID" <![CDATA[<>]]> #{市町村識別ID}
                        )
            </if>
        </where>
        ORDER BY
           DbT5913ChosainJoho."dbT5913ChosainJoho_shichosonCode",
           DbT5913ChosainJoho."dbT5913ChosainJoho_ninteiChosaItakusakiCode",
           DbT5913ChosainJoho."dbT5913ChosainJoho_ninteiChosainCode"
         <if test="usesSaidaiHyojiKensu">
                LIMIT #{saidaiHyojiKensu}
         </if>
    </select>
    <!-- TODO RelateEntityの形に合わせてマッピング定義を修正してください。 -->
    <resultMap id="resultMap_NinteiChosainMasterEntity" type="jp.co.ndensan.reams.db.dbe.entity.db.relate.ninteichosainmaster.NinteiChosainMasterRelateEntity" autoMapping="true">
        <result property="shichosonCode" column="dbT5913ChosainJoho_shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <result property="ninteiChosainNo" column="dbT5913ChosainJoho_ninteiChosainCode" typeHandler="jp.co.ndensan.reams.db.dbz.entity.typehandlers.ChosainCodeTypeHandler"/>
        <result property="chosainShimei" column="dbT5913ChosainJoho_chosainShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="chosainKanaShimei" column="dbT5913ChosainJoho_chosainKanaShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="seibetsu" column="dbT5913ChosainJoho_seibetsu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="chosainShikaku" column="dbT5913ChosainJoho_chosainShikaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="chikuCode" column="dbT5913ChosainJoho_chikuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="chosaKanoNinzuPerMonth" column="dbT5913ChosainJoho_chosaKanoNinzuPerMonth" />
        <result property="yubinNo" column="dbT5913ChosainJoho_yubinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler"/>
        <result property="jusho" column="dbT5913ChosainJoho_jusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaJushoTypeHandler"/>
        <result property="telNo" column="dbT5913ChosainJoho_telNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.TelNoTypeHandler"/>
        <result property="faxNo" column="dbT5913ChosainJoho_faxNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.TelNoTypeHandler"/>
        <result property="jokyoFlag" column="dbT5913ChosainJoho_jokyoFlag" />
        <result property="ninteichosaItakusakiCode" column="dbT5910NinteichosaItakusakiJoho_ninteichosaItakusakiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="jigyoshaMeisho" column="dbT5910NinteichosaItakusakiJoho_jigyoshaMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shichosonMeisho" column="dbT7051KoseiShichosonMaster_shichosonMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shozokuKikanName" column="dbT5913ChosainJoho_shozokuKikanName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>

</mapper>
