<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： 認定調査報酬照会のマッピング用XMLです。 -->
<!--@reamsid_L DBE-1940-010 jinjue-->
<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.relate.ninteichosahoshushokai.INinteiChosaHoshuShokaiRelateMapper">
                   
    <select id="get報酬実績データ情報" resultMap="resultMap_NinteiChosaHoshuShokaiRelateEntity" 
            parameterType="jp.co.ndensan.reams.db.dbe.definition.batchprm.ninteichosahoshushokai.NinteiChosaHoshuShokaiMapperParameter" fetchSize="500" resultOrdered="true">
         <if test="batchFlag">  WITH t1 as	( </if> 
            SELECT                      T5601."ninteichosaItakusakiCode",													
					T5910."jigyoshaMeisho",											
					T5913."ninteiChosainCode",													
					T5913."chosainShimei",													
					T5201."ninteichosaIraiYMD",													
					T5202."ninteichosaJisshiYMD",												
					T5202."ninteichosaJuryoYMD",													
					T5201."ninteichosaIraiKubunCode",													
					T5101."shoKisaiHokenshaNo",													
					T5101."hihokenshaNo",													
					T5101."hihokenshaName",											
					T5202."ninteiChosaKubunCode",													
					T5202."chosaJisshiBashoCode",													
					T5601."chosaItakuryo",
                                        T5601."shinseishoKanriNo",
        				T5601."ninteichosaIraiRirekiNo"									
		FROM		rgdb."DbT5601NinteiChosaHoshuJissekiJoho" AS  T5601													
		INNER JOIN	rgdb."DbT5101NinteiShinseiJoho" AS  T5101													
		ON			T5101."shinseishoKanriNo"=T5601."shinseishoKanriNo"													
		AND			T5101."shoriJotaiKubun" IN (#{通常区分},#{延期区分})												
		AND			T5101."logicalDeletedFlag"=False													
		INNER JOIN	rgdb."DbT5105NinteiKanryoJoho" AS  T5105													
		ON			T5105."shinseishoKanriNo"=T5601."shinseishoKanriNo"													
		AND			T5105."ninteiShinseiJohoTorokuKanryoYMD" IS NOT NULL		
		AND			T5105."ninteichosaIraiKanryoYMD" IS NOT NULL													
		AND			T5105."ninteichosaKanryoYMD" IS NOT NULL													
		AND			T5105."ninteiShinsakaiWariateKanryoYMD" IS NULL													
		AND			T5105."ninteiShinsakaiKanryoYMD" IS NULL													
		AND			T5105."centerSoshinYMD" IS NULL													
		INNER JOIN	rgdb."DbT5201NinteichosaIraiJoho" AS T5201													
		ON			T5201."shinseishoKanriNo"=T5601."shinseishoKanriNo"													
		AND			T5201."ninteichosaIraiRirekiNo"=T5601."ninteichosaIraiRirekiNo"													
		AND			T5201."logicalDeletedFlag"=False													
		INNER JOIN	rgdb."DbT5202NinteichosahyoGaikyoChosa" AS  T5202													
		ON			T5202."shinseishoKanriNo"=T5601."shinseishoKanriNo"													
		AND			T5202."ninteichosaRirekiNo"=T5601."ninteichosaIraiRirekiNo"													
		AND			T5202."gaikyoChosaTextImageKubun"=#{テキストイメージ区分}												
		INNER JOIN	rgdb."DbT7051KoseiShichosonMaster" AS  T7051													
		ON			T7051."shoKisaiHokenshaNo"=T5101."shoKisaiHokenshaNo"													
		INNER JOIN	rgdb."DbT5910NinteichosaItakusakiJoho" AS  T5910													
		ON			T5910."shichosonCode"=T7051."shichosonCode"													
		AND			T5910."ninteichosaItakusakiCode"=T5601."ninteichosaItakusakiCode"													
		INNER JOIN	rgdb."DbT5913ChosainJoho" AS  T5913													
		ON			T5913."shichosonCode"=T7051."shichosonCode"													
		AND			T5913."ninteiChosaItakusakiCode"=T5601."ninteichosaItakusakiCode"													
		AND			T5913."ninteiChosainCode"=T5601."ninteichosainCode"													
		WHERE	 1=1
                
                     AND #{調査依頼日開始} <![CDATA[<=]]>T5201."ninteichosaIraiYMD"
                     AND T5201."ninteichosaIraiYMD" <![CDATA[<=]]>#{調査依頼日終了}
                 <if test="batchFlag">
                      AND
                     <foreach collection="ninteiChosa" item="nintei" open="(" separator="OR" close=")">
                    (T5601."ninteichosaItakusakiCode"=#{nintei.認定調査委託先コード}												
                     AND T5601."ninteichosainCode"=#{nintei.認定調査員コード}												
                     AND T5601."shinseishoKanriNo"=#{nintei.申請書管理番号}												
                     AND T5601."ninteichosaIraiRirekiNo"=#{nintei.認定調査依頼履歴番号})
                     </foreach>	 			
                 </if>									
		ORDER BY                T5601."ninteichosaItakusakiCode",													
					T5913."ninteiChosainCode",													
					T5201."ninteichosaIraiYMD",													
					T5101."hihokenshaNo"													
		<if test="件数Flag">  LIMIT #{最大表示件数}	 </if> 
                <if test="batchFlag">) SELECT A.*, B.*, C.*,D.*,E.*,F.*,H.*
                                        FROM t1 as A,
                    (SELECT COUNT(1) AS zaitakusho FROM t1 AS B WHERE B."ninteiChosaKubunCode"<![CDATA[=]]>'0' AND B."chosaJisshiBashoCode"<![CDATA[=]]>'1') as B
                    ,(SELECT COUNT(1) AS zaitakuzai FROM t1 AS B WHERE B."ninteiChosaKubunCode"<![CDATA[=]]>'1' AND B."chosaJisshiBashoCode"<![CDATA[=]]>'1') as C
                    ,(SELECT COUNT(1) AS shisetsusho FROM t1 AS B WHERE B."ninteiChosaKubunCode"<![CDATA[=]]>'0' AND B."chosaJisshiBashoCode"<![CDATA[<>]]>'1') as D
                    ,(SELECT COUNT(1) AS shisetsusai FROM t1 AS B WHERE B."ninteiChosaKubunCode"<![CDATA[=]]>'1' AND B."chosaJisshiBashoCode"<![CDATA[<>]]>'1') as E
                    ,(SELECT SUM(B."chosaItakuryo") AS itakuryogokei FROM t1 AS B ) as F
                   ,(SELECT 
					SUM(
					CASE 
					 H.count%25
					WHEN 0 THEN H.count/25
					ELSE H.count/25 + 1
					END) AS count
					FROM
					(SELECT COUNT(1) AS count FROM t1 as B group by  B."ninteichosaItakusakiCode") as H)H
              
                </if>
    </select>
    <resultMap id="resultMap_NinteiChosaHoshuShokaiRelateEntity" type="jp.co.ndensan.reams.db.dbe.entity.db.relate.ninteichosahoshushokai.NinteiChosaHoshuShokaiRelateEntity" autoMapping="true">
        <result property="認定調査委託先コード" column="ninteichosaItakusakiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="事業者名称" column="jigyoshaMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="認定調査員コード" column="ninteiChosainCode"  typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="調査員氏名" column="chosainShimei"  typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="認定調査依頼年月日" column="ninteichosaIraiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="認定調査実施年月日" column="ninteichosaJisshiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="認定調査受領年月日" column="ninteichosaJuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="認定調査依頼区分コード" column="ninteichosaIraiKubunCode"  typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="証記載保険者番号" column="shoKisaiHokenshaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="被保険者番号" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="被保険者氏名" column="hihokenshaName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler" />
        <result property="認定調査区分コード" column="ninteiChosaKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="認定調査実施場所コード" column="chosaJisshiBashoCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler" />
        <result property="認定調査委託料" column="chosaItakuryo"/>
        <result property="認定調査依頼履歴番号" column="ninteichosaIraiRirekiNo" />
        <result property="申請書管理番号" column="shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
        <result property="件数" column="count" />
        <result property="在宅初回" column="zaitakusho" />
        <result property="在宅再調査" column="zaitakuzai" />
        <result property="施設初回" column="shisetsusho" />
        <result property="施設再調査" column="shisetsusai" />
        <result property="委託料合計" column="itakuryogokei" />
        
    </resultMap>
</mapper>
