<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- どのマッパーインターフェースと対応するかを指定する -->
<!-- @reamsid_L DBE-0170-010 wangkun -->

<mapper namespace="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.relate.shinsakaikekkatoroku.IShinsakaiKekkaTorokuMapper">
    <select id="getヘッドエリア内容検索" resultMap="resultMap_ShinsakaiKekkaTorokuRelateEntity"
            parameterType="jp.co.ndensan.reams.uz.uza.lang.RString"  fetchSize="500">
        SELECT
        '第' || DbT5501ShinsakaiKaisaiYoteiJoho."shinsakaiKaisaiNo" || '回審査会' AS "shinsakaiKaisaiMei"
        ,DbT5591GogitaiJoho."gogitaiMei" AS "gogitaiMei"
        ,DbT5501ShinsakaiKaisaiYoteiJoho."shinsakaiWariateZumiNinzu"AS "shinsakaiWariateZumiNinzu"
        ,DbT5511ShinsakaiKaisaiKekkaJoho."shinsakaiJisshiNinzu" AS "shinsakaiJisshiNinzu"
        ,DbT5501ShinsakaiKaisaiYoteiJoho."ShinsakaiShinchokuJokyo" AS "ShinsakaiShinchokuJokyo"
        ,DbT5592ShinsakaiKaisaiBashoJoho."shinsakaiKaisaiBashoName" AS "shinsakaiKaisaiBashoName"
        ,DbT5501ShinsakaiKaisaiYoteiJoho."shinsakaiKaisaiYoteiBashoCode" AS "shinsakaiKaisaiYoteiBashoCode"
        ,DbT5511ShinsakaiKaisaiKekkaJoho."shinsakaiKaisaiYMD" AS "shinsakaiKaisaiYMD"
        ,DbT5511ShinsakaiKaisaiKekkaJoho."shinsakaiKaishiTime" AS "shinsakaiKaishiTime"
        ,DbT5511ShinsakaiKaisaiKekkaJoho."shinsakaiShuryoTime" AS "shinsakaiShuryoTime"
        ,DbT5591GogitaiJoho."gogitaiSeishinkaSonzaiFlag" AS "gogitaiSeishinkaSonzaiFlag"
        FROM
        rgdb."DbT5501ShinsakaiKaisaiYoteiJoho"  DbT5501ShinsakaiKaisaiYoteiJoho
        LEFT JOIN  rgdb."DbT5511ShinsakaiKaisaiKekkaJoho" DbT5511ShinsakaiKaisaiKekkaJoho
        ON DbT5511ShinsakaiKaisaiKekkaJoho."shinsakaiKaisaiNo" = DbT5501ShinsakaiKaisaiYoteiJoho."shinsakaiKaisaiNo"
        INNER JOIN rgdb."DbT5591GogitaiJoho" DbT5591GogitaiJoho
        ON DbT5591GogitaiJoho."gogitaiNo" = DbT5501ShinsakaiKaisaiYoteiJoho."gogitaiNo"
        INNER JOIN rgdb."DbT5592ShinsakaiKaisaiBashoJoho" DbT5592ShinsakaiKaisaiBashoJoho
        ON DbT5592ShinsakaiKaisaiBashoJoho."shinsakaiKaisaiBashoCode" = DbT5501ShinsakaiKaisaiYoteiJoho."shinsakaiKaisaiYoteiBashoCode"
        WHERE
        TRIM(DbT5501ShinsakaiKaisaiYoteiJoho."shinsakaiKaisaiNo") =TRIM(#{開催番号})
    </select>
    
    <resultMap id="resultMap_ShinsakaiKekkaTorokuRelateEntity" type="jp.co.ndensan.reams.db.dbe.entity.db.relate.shinsakaikekkatoroku.ShinsakaiKekkaTorokuRelateEntity" autoMapping="true">
        <result property="開催番号" column="shinsakaiKaisaiMei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="合議体名称" column="gogitaiMei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="介護認定審査会割当済み人数" column="shinsakaiWariateZumiNinzu"/>
        <result property="介護認定審査会実施人数" column="shinsakaiJisshiNinzu"/>
        <result property="進捗状況" column="ShinsakaiShinchokuJokyo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="介護認定審査会開催場所名称" column="shinsakaiKaisaiBashoName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="地区コード" column="shinsakaiKaisaiYoteiBashoCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="開催日" column="shinsakaiKaisaiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="開催開始時間" column="shinsakaiKaishiTime" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="開催終了時間" column="shinsakaiShuryoTime" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="合議体精神科医存在フラグ" column="gogitaiSeishinkaSonzaiFlag"/>
    </resultMap>

    <select id="get審査会委員一覧検索" resultMap="resultMap_ShinsakaiKekkaTorokuIChiRanRelateEntity"
            parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatis.param.shinsakaikekkatoroku.ShinsakaiKekkaTorokuParameter"   fetchSize="500">
        SELECT
             DbT5502ShinsakaiWariateJoho."shinsakaiOrder"  AS "shinsakaiOrder"
            ,DbT5101NinteiShinseiJoho."shoKisaiHokenshaNo" AS "shoKisaiHokenshaNo"
            ,DbT7051KoseiShichosonMaster."shichosonMeisho" AS "shichosonMeisho"
            ,DbT5101NinteiShinseiJoho."hihokenshaNo" AS "hihokenshaNo"
            ,DbT5101NinteiShinseiJoho."hihokenshaName" AS "hihokenshaName"
            ,DbT5101NinteiShinseiJoho."hihokenshaKubunCode" AS "hihokenshaKubunCode"
            ,DbT5101NinteiShinseiJoho."ninteiShinseiShinseijiKubunCode" AS "ninteiShinseiShinseijiKubunCode"
            ,DbT5101NinteiShinseiJoho."ninteiShinseiHoreiKubunCode" AS "ninteiShinseiHoreiKubunCode"
            ,DbT5101NinteiShinseiJoho."ninteiShinseiYMD" AS "ninteiShinseiYMD"
            ,DbT5101NinteiShinseiJoho."seinengappiYMD" AS "seinengappiYMD"
            ,DbT5101NinteiShinseiJoho."zenkaiYukoKikanEnd" AS "zenkaiYukoKikanEnd"
            ,TB."ichijiHanteiKekkaCode"  AS "zenichijiHanteiKekkaCode"
            ,DbT5116IchijiHanteiKekkaJoho."ichijiHanteiKekkaCode" AS "ichijiHanteiKekkaCode"
            ,DbT5102NinteiKekkaJoho."nijiHanteiYokaigoJotaiKubunCode"  AS "nijiHanteiYokaigoJotaiKubunCode"
            ,DbT5502ShinsakaiWariateJoho."hanteiKekkaCode"  AS "hanteiKekkaCode"
            ,DbT5102NinteiKekkaJoho."nijiHanteiYMD"  AS "nijiHanteiYMD"
            ,DbT5101NinteiShinseiJoho."nigoTokuteiShippeiCode" AS "nigoTokuteiShippeiCode"
            ,DbT5102NinteiKekkaJoho."yokaigoJotaizoReiCode"  AS "yokaigoJotaizoReiCode"
            ,DbT5102NinteiKekkaJoho."nijiHanteiNinteiYukoKaishiYMD"  AS "nijiHanteiNinteiYukoKaishiYMD"
            ,DbT5102NinteiKekkaJoho."nijiHanteiNinteiYukoShuryoYMD"  AS "nijiHanteiNinteiYukoShuryoYMD"
            ,DbT5102NinteiKekkaJoho."nijiHanteiNinteiYukoKikan"  AS "nijiHanteiNinteiYukoKikan"
            ,DbT5102NinteiKekkaJoho."shinsakaiMemo"  AS "shinsakaiMemo"
            ,DbT5102NinteiKekkaJoho."shinsakaiIken"  AS "shinsakaiIken"
            ,DbT5102NinteiKekkaJoho."ichijiHanteiKekkaHenkoRiyu"  AS "ichijiHanteiKekkaHenkoRiyu"
            ,DbT5102NinteiKekkaJoho."ninteishinsakaiIkenShurui"  AS "ninteishinsakaiIkenShurui"
            ,DbT5101NinteiShinseiJoho."shinseishoKanriNo"  AS "shinseishoKanriNo"
        FROM
            rgdb."DbT5502ShinsakaiWariateJoho" DbT5502ShinsakaiWariateJoho
        INNER JOIN 
            rgdb."DbT5101NinteiShinseiJoho" DbT5101NinteiShinseiJoho
        ON 
            DbT5101NinteiShinseiJoho."shinseishoKanriNo" = DbT5502ShinsakaiWariateJoho."shinseishoKanriNo"
         AND  
            DbT5101NinteiShinseiJoho."shoriJotaiKubun" IN (#{処理状態区分_通常},#{処理状態区分_延期}})
         AND
            DbT5101NinteiShinseiJoho."logicalDeletedFlag" = false
        INNER JOIN 
            rgdb."DbT5105NinteiKanryoJoho"  DbT5105NinteiKanryoJoho
        ON 
            DbT5105NinteiKanryoJoho."shinseishoKanriNo" = DbT5502ShinsakaiWariateJoho."shinseishoKanriNo"
            AND DbT5105NinteiKanryoJoho."ninteiShinseiJohoTorokuKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."ninteichosaIraiKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."ninteichosaKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."ikenshoSakuseiIraiKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."ikenshoTorokuKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."ichijiHanteiKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."ninteiShinsakaiWariateKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."ninteiShinsakaiKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."centerSoshinYMD" IS NOT NULL
        INNER JOIN 
            rgdb."DbT7051KoseiShichosonMaster" DbT7051KoseiShichosonMaster
        ON 
            DbT7051KoseiShichosonMaster."shoKisaiHokenshaNo" = DbT5101NinteiShinseiJoho."shoKisaiHokenshaNo"
        INNER JOIN 
            rgdb."DbT5116IchijiHanteiKekkaJoho" DbT5116IchijiHanteiKekkaJoho
        ON 
            DbT5116IchijiHanteiKekkaJoho."shinseishoKanriNo" = DbT5502ShinsakaiWariateJoho."shinseishoKanriNo"
        LEFT JOIN
            rgdb."DbT5102NinteiKekkaJoho" DbT5102NinteiKekkaJoho
        ON
            DbT5102NinteiKekkaJoho."shinseishoKanriNo" = DbT5502ShinsakaiWariateJoho."shinseishoKanriNo"
        LEFT JOIN
            ( SELECT
                    DbT5116."ichijiHanteiKekkaCode" AS "ichijiHanteiKekkaCode"
                    ,DbT5502."shinseishoKanriNo" AS "shinseishoKanriNo"
                FROM 
                    rgdb."DbT5502ShinsakaiWariateJoho"  DbT5502
                INNER 
                    JOIN rgdb."DbT5121ShinseiRirekiJoho" DbT5121
                ON
                    DbT5121."shinseishoKanriNo" = DbT5502."shinseishoKanriNo"
                LEFT JOIN
                    rgdb."DbT5116IchijiHanteiKekkaJoho" DbT5116
                ON
                    DbT5116."shinseishoKanriNo" = DbT5121."zenkaiShinseishoKanriNo" 
            ) AS  TB 
        ON  
            TB."shinseishoKanriNo" = DbT5502ShinsakaiWariateJoho."shinseishoKanriNo"
        WHERE
            TRIM(DbT5502ShinsakaiWariateJoho."shinsakaiKaisaiNo") = TRIM(#{開催番号})
        ORDER BY 
            DbT5502ShinsakaiWariateJoho."shinsakaiOrder"
    </select>
    
    <resultMap id="resultMap_ShinsakaiKekkaTorokuIChiRanRelateEntity" type="jp.co.ndensan.reams.db.dbe.entity.db.relate.shinsakaikekkatoroku.ShinsakaiKekkaTorokuIChiRanRelateEntity" autoMapping="true">
        <result property="介護認定審査会審査順" column="shinsakaiOrder"/>
        <result property="証記載保険者番号" column="shoKisaiHokenshaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="市町村名称" column="shichosonMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="被保険者番号" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="被保険者氏名" column="hihokenshaName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="被保険者区分コード" column="hihokenshaKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="申請区分_申請時_コード" column="ninteiShinseiShinseijiKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="申請区分_法令_コード" column="ninteiShinseiHoreiKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="認定申請年月日" column="ninteiShinseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="生年月日" column="seinengappiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="前回認定有効期間_終了" column="zenkaiYukoKikanEnd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="前回一次判定" column="zenichijiHanteiKekkaCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="要介護認定一次判定結果コード" column="ichijiHanteiKekkaCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="二次判定要介護状態区分コード" column="nijiHanteiYokaigoJotaiKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="判定結果コード" column="hanteiKekkaCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="二次判定年月日" column="nijiHanteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="_２号特定疾病コード" column="nigoTokuteiShippeiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="要介護状態像例コード" column="yokaigoJotaizoReiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="二次判定認定有効開始年月日" column="nijiHanteiNinteiYukoKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="二次判定認定有効終了年月日" column="nijiHanteiNinteiYukoShuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="二次判定認定有効期間" column="nijiHanteiNinteiYukoKikan"/>
        <result property="審査会メモ" column="shinsakaiMemo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="介護認定審査会意見" column="shinsakaiIken" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="一次判定結果変更理由" column="ichijiHanteiKekkaHenkoRiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="審査会意見種類" column="ninteishinsakaiIkenShurui" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="申請書管理番号" column="shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
    </resultMap>

    <select id="get審査会委員一覧更新_1"
            parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatis.param.shinsakaikekkatoroku.ShinsakaiKekkaTorokuParameter"
            resultMap="resultMap_NinteiShinseiJoho" fetchSize="500">
        SELECT
            DbT5101NinteiShinseiJoho.*
            ,DbT5102NinteiKekkaJoho.*
            ,DbT5105NinteiKanryoJoho.*
        FROM
        (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5502ShinsakaiWariateJohoMapper.noDeleted_DbT5502ShinsakaiWariateJoho" />) AS DbT5502ShinsakaiWariateJoho
        INNER JOIN
        (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5101NinteiShinseiJohoMapper.noDeleted_DbT5101NinteiShinseiJoho" />) AS DbT5101NinteiShinseiJoho
        ON DbT5101NinteiShinseiJoho."dbT5101NinteiShinseiJoho_shinseishoKanriNo" = DbT5502ShinsakaiWariateJoho."dbT5502ShinsakaiWariateJoho_shinseishoKanriNo"
         AND  
            DbT5101NinteiShinseiJoho."dbT5101NinteiShinseiJoho_shoriJotaiKubun" IN (#{処理状態区分_通常},#{処理状態区分_延期}})
         AND
            DbT5101NinteiShinseiJoho."dbT5101NinteiShinseiJoho_logicalDeletedFlag" = false
        INNER JOIN
        (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5105NinteiKanryoJohoMapper.noDeleted_DbT5105NinteiKanryoJoho" />) AS DbT5105NinteiKanryoJoho
        ON DbT5105NinteiKanryoJoho."dbT5105NinteiKanryoJoho_shinseishoKanriNo" = DbT5502ShinsakaiWariateJoho."dbT5502ShinsakaiWariateJoho_shinseishoKanriNo"
            AND DbT5105NinteiKanryoJoho."dbT5105NinteiKanryoJoho_ninteiShinseiJohoTorokuKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."dbT5105NinteiKanryoJoho_ninteichosaIraiKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."dbT5105NinteiKanryoJoho_ninteichosaKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."dbT5105NinteiKanryoJoho_ikenshoSakuseiIraiKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."dbT5105NinteiKanryoJoho_ikenshoTorokuKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."dbT5105NinteiKanryoJoho_ichijiHanteiKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."dbT5105NinteiKanryoJoho_ninteiShinsakaiWariateKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."dbT5105NinteiKanryoJoho_ninteiShinsakaiKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."dbT5105NinteiKanryoJoho_centerSoshinYMD" IS NOT NULL
        INNER JOIN
            rgdb."DbT7051KoseiShichosonMaster" DbT7051KoseiShichosonMaster
        ON 
            DbT7051KoseiShichosonMaster."shoKisaiHokenshaNo" = DbT5101NinteiShinseiJoho."shoKisaiHokenshaNo"
        INNER JOIN 
            (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5116IchijiHanteiKekkaJohoMapper.noDeleted_DbT5116IchijiHanteiKekkaJoho" />) AS DbT5116IchijiHanteiKekkaJoho
        ON
            DbT5116IchijiHanteiKekkaJoho."dbT5116IchijiHanteiKekkaJoho_shinseishoKanriNo" = DbT5502ShinsakaiWariateJoho."dbT5502ShinsakaiWariateJoho_shinseishoKanriNo"
        LEFT JOIN
               (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5102NinteiKekkaJohoMapper.noDeleted_DbT5102NinteiKekkaJoho" />) AS DbT5102NinteiKekkaJoho
        ON
               DbT5102NinteiKekkaJoho."dbT5102NinteiKekkaJoho_shinseishoKanriNo" = DbT5502ShinsakaiWariateJoho."dbT5502ShinsakaiWariateJoho_shinseishoKanriNo"
        LEFT JOIN
               ( SELECT 
                     DbT5116."dbT5116IchijiHanteiKekkaJoho_ichijiHanteiKekkaCode" AS "ichijiHanteiKekkaCode"
                    ,DbT5502."dbT5502ShinsakaiWariateJoho_shinseishoKanriNo" AS "shinseishoKanriNo"
                  FROM 
                    (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5502ShinsakaiWariateJohoMapper.noDeleted_DbT5502ShinsakaiWariateJoho" />) AS DbT5502
                  INNER JOIN
                    (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5121ShinseiRirekiJohoMapper.noDeleted_DbT5121ShinseiRirekiJoho" />) AS DbT5121
                  ON
                    DbT5121."dbT5121ShinseiRirekiJoho_shinseishoKanriNo" = DbT5502."dbT5502ShinsakaiWariateJoho_shinseishoKanriNo"
                  LEFT JOIN
                    (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5121ShinseiRirekiJohoMapper.noDeleted_DbT5121ShinseiRirekiJoho" />) AS DbT5116
                  ON
                    DbT5116."dbT5116IchijiHanteiKekkaJoho_shinseishoKanriNo" = DbT5121."dbT5121ShinseiRirekiJoho_zenkaiShinseishoKanriNo"
               ) AS TB
        ON
            TB."shinseishoKanriNo" = DbT5502."dbT5502ShinsakaiWariateJoho_shinseishoKanriNo"
        <where>
            TRIM(DbT5501ShinsakaiKaisaiYoteiJoho."dbT5501ShinsakaiKaisaiYoteiJoho_shinsakaiKaisaiNo") = TRIM(#{開催番号})
        </where>
       ORDER BY
            DbT5502ShinsakaiWariateJoho."dbT5502ShinsakaiWariateJoho_shinsakaiOrder"
    </select>
    
    <resultMap id="resultMap_NinteiShinseiJoho" type="jp.co.ndensan.reams.db.dbe.entity.db.relate.ninteishinseijoho.ninteishinseijoho.NinteiShinseiJohoRelateEntity" autoMapping="true">
        <id  column="dbT5501ShinsakaiKaisaiYoteiJoho_shinsakaiKaisaiNo"/>
        <association property="要介護認定申請情報Entity" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5101NinteiShinseiJohoMapper.ResultMap_DbT5101NinteiShinseiJohoEntity"/>
        <collection property="要介護認定結果情報Entity" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5102NinteiKekkaJohoMapper.ResultMap_DbT5102NinteiKekkaJohoEntity" />
        <collection property="要介護認定完了情報Entity" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5105NinteiKanryoJohoMapper.ResultMap_DbT5105NinteiKanryoJohoEntity"/>
    </resultMap>

   <select id="get審査会委員一覧情報更新_2"
            parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatis.param.shinsakaikekkatoroku.ShinsakaiKekkaTorokuParameter"
            resultMap="resultMap_YoteiJohoEntity" fetchSize="500">
        SELECT
            DbT5502ShinsakaiWariateJoho.*
        FROM
        (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5502ShinsakaiWariateJohoMapper.noDeleted_DbT5502ShinsakaiWariateJoho" />) AS DbT5502ShinsakaiWariateJoho
        INNER JOIN
        (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5101NinteiShinseiJohoMapper.noDeleted_DbT5101NinteiShinseiJoho" />) AS DbT5101NinteiShinseiJoho
        ON DbT5101NinteiShinseiJoho."dbT5101NinteiShinseiJoho_shinseishoKanriNo" = DbT5502ShinsakaiWariateJoho."dbT5502ShinsakaiWariateJoho_shinseishoKanriNo"
         AND  
            DbT5101NinteiShinseiJoho."dbT5101NinteiShinseiJoho_shoriJotaiKubun" = TRIM(#{処理区分})
         AND
            DbT5101NinteiShinseiJoho."dbT5101NinteiShinseiJoho_logicalDeletedFlag" = false
        INNER JOIN
        (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5105NinteiKanryoJohoMapper.noDeleted_DbT5105NinteiKanryoJoho" />) AS DbT5105NinteiKanryoJoho
        ON DbT5105NinteiKanryoJoho."dbT5105NinteiKanryoJoho_shinseishoKanriNo" = DbT5502ShinsakaiWariateJoho."dbT5502ShinsakaiWariateJoho_shinseishoKanriNo"
            AND DbT5105NinteiKanryoJoho."dbT5105NinteiKanryoJoho_ninteiShinseiJohoTorokuKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."dbT5105NinteiKanryoJoho_ninteichosaIraiKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."dbT5105NinteiKanryoJoho_ninteichosaKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."dbT5105NinteiKanryoJoho_ikenshoSakuseiIraiKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."dbT5105NinteiKanryoJoho_ikenshoTorokuKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."dbT5105NinteiKanryoJoho_ichijiHanteiKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."dbT5105NinteiKanryoJoho_ninteiShinsakaiWariateKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."dbT5105NinteiKanryoJoho_ninteiShinsakaiKanryoYMD" IS NOT NULL
            AND DbT5105NinteiKanryoJoho."dbT5105NinteiKanryoJoho_centerSoshinYMD" IS NOT NULL
        INNER JOIN
            rgdb."DbT7051KoseiShichosonMaster" DbT7051KoseiShichosonMaster
        ON 
            DbT7051KoseiShichosonMaster."shoKisaiHokenshaNo" = DbT5101NinteiShinseiJoho."shoKisaiHokenshaNo"
        INNER JOIN 
            (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5116IchijiHanteiKekkaJohoMapper.noDeleted_DbT5116IchijiHanteiKekkaJoho" />) AS DbT5116IchijiHanteiKekkaJoho
        ON
            DbT5116IchijiHanteiKekkaJoho."dbT5116IchijiHanteiKekkaJoho_shinseishoKanriNo" = DbT5502ShinsakaiWariateJoho."dbT5502ShinsakaiWariateJoho_shinseishoKanriNo"
        LEFT JOIN
               (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5102NinteiKekkaJohoMapper.noDeleted_DbT5102NinteiKekkaJoho" />) AS DbT5102NinteiKekkaJoho
        ON
               DbT5102NinteiKekkaJoho."dbT5102NinteiKekkaJoho_shinseishoKanriNo" = DbT5502ShinsakaiWariateJoho."dbT5502ShinsakaiWariateJoho_shinseishoKanriNo"
        LEFT JOIN
               ( SELECT 
                     DbT5116."dbT5116IchijiHanteiKekkaJoho_ichijiHanteiKekkaCode" AS "ichijiHanteiKekkaCode"
                    ,DbT5502."dbT5502ShinsakaiWariateJoho_shinseishoKanriNo" AS "shinseishoKanriNo"
                  FROM 
                    (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5502ShinsakaiWariateJohoMapper.noDeleted_DbT5502ShinsakaiWariateJoho" />) AS DbT5502
                  INNER JOIN
                    (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5121ShinseiRirekiJohoMapper.noDeleted_DbT5121ShinseiRirekiJoho" />) AS DbT5121
                  ON
                    DbT5121."dbT5121ShinseiRirekiJoho_shinseishoKanriNo" = DbT5502."dbT5502ShinsakaiWariateJoho_shinseishoKanriNo"
                  LEFT JOIN
                    (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5121ShinseiRirekiJohoMapper.noDeleted_DbT5121ShinseiRirekiJoho" />) AS DbT5116
                  ON
                    DbT5116."dbT5116IchijiHanteiKekkaJoho_shinseishoKanriNo" = DbT5121."dbT5121ShinseiRirekiJoho_zenkaiShinseishoKanriNo"
               ) AS TB
        ON
            TB."shinseishoKanriNo" = DbT5502."dbT5502ShinsakaiWariateJoho_shinseishoKanriNo"
        <where>
            TRIM(DbT5501ShinsakaiKaisaiYoteiJoho."dbT5501ShinsakaiKaisaiYoteiJoho_shinsakaiKaisaiNo") = TRIM(#{開催番号})
        </where>
       ORDER BY
            DbT5502ShinsakaiWariateJoho."dbT5502ShinsakaiWariateJoho_shinsakaiOrder"
    </select>
    
    <resultMap id="resultMap_YoteiJohoEntity" type="jp.co.ndensan.reams.db.dbe.entity.db.relate.shinsakai.shinsakaikaisaiyoteijoho.ShinsakaiKaisaiYoteiJohoRelateEntity" autoMapping="true">
        <collection property="介護認定審査会割当情報RelateEntity" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5502ShinsakaiWariateJohoMapper.noDeleted_DbT5502ShinsakaiWariateJoho"/>
    </resultMap>

    <select id="get連番" resultType="int" parameterType="jp.co.ndensan.reams.uz.uza.lang.RString" fetchSize="500">
        SELECT
        COALESCE(MAX(DbT5512ShinsakaiOnseiJoho."renban"), 0) AS "renban"
        FROM
        rgdb."DbT5512ShinsakaiOnseiJoho" DbT5512ShinsakaiOnseiJoho
        WHERE
        DbT5512ShinsakaiOnseiJoho."shinsakaiKaisaiNo" = TRIM(#{開催番号})
    </select>
</mapper>
