<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBD-4342-020 wangjie2 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.relate.gemmenjokyo.IGemmenJokyoMapper">
    <resultMap id="resultMap_NursingCareInformationCodeEntity" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.common.NursingCareInformationCodeEntity" autoMapping="true">
        <result property="申請状況区分" column="申請状況区分" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="受給申請年月日" column="受給申請年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="受給申請事由" column="受給申請事由" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler" />
        <result property="旧措置者フラグ" column="旧措置者フラグ" typeHandler="org.apache.ibatis.type.BooleanTypeHandler" />
        <result property="認定有効期間開始年月日" column="認定有効期間開始年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="認定有効期間終了年月日" column="認定有効期間終了年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="認定年月日" column="認定年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="厚労省IF識別コード" column="厚労省IF識別コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler" />
        <result property="要介護認定状態区分コード" column="要介護認定状態区分コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler" />
    </resultMap>
    <resultMap id="resultMap_FutanGendogakuNinteiEntity" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.gemmengengaku.futangendogakunintei.FutanGendogakuNinteiEntity" autoMapping="true">
        <id property="介護保険負担限度額認定Entity.hihokenshaNo" column="dbT4018KaigohFutanGengkNint_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="介護保険負担限度額認定Entity.rirekiNo" column="dbT4018KaigohFutanGengkNint_rirekiNo" />
        <association property="介護保険負担限度額認定Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4018KaigoHokenFutanGendogakuNinteiMapper.ResultMap_DbT4018KaigoHokenFutanGendogakuNinteiEntity"/>
        <collection property="減免減額申請Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4010GemmenGengakuShinseiMapper.ResultMap_DbT4010GemmenGengakuShinseiEntity"/>
    </resultMap>
    <resultMap id="resultMap_RiyoshaFutangakuGengakuEntity" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.gemmengengaku.riyoshafutangengaku.RiyoshaFutangakuGengakuEntity" autoMapping="true">
        <id property="利用者負担額減額Entity.hihokenshaNo" column="dbT4014RiyoshaFutangakuGengaku_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="利用者負担額減額Entity.rirekiNo" column="dbT4014RiyoshaFutangakuGengaku_rirekiNo" />
        <association property="利用者負担額減額Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4014RiyoshaFutangakuGengakuMapper.ResultMap_DbT4014RiyoshaFutangakuGengakuEntity"/>
        <collection property="減免減額申請Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4010GemmenGengakuShinseiMapper.ResultMap_DbT4010GemmenGengakuShinseiEntity"/>
    </resultMap>
    <resultMap id="resultMap_ShafukuRiyoshaFutanKeigenEntity" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.gemmengengaku.shafukukeigen.ShafukuRiyoshaFutanKeigenEntity" autoMapping="true">
        <id property="社会福祉法人等利用者負担軽減Entity.hihokenshaNo" column="dbT4017ShakaiFukushiHojinRiyoshaFutanKeigen_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="社会福祉法人等利用者負担軽減Entity.rirekiNo" column="dbT4017ShakaiFukushiHojinRiyoshaFutanKeigen_rirekiNo" />
        <association property="社会福祉法人等利用者負担軽減Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4017ShakaiFukushiHojinRiyoshaFutanKeigenMapper.ResultMap_DbT4017ShakaiFukushiHojinRiyoshaFutanKeigenEntity"/>
        <collection property="減免減額申請Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4010GemmenGengakuShinseiMapper.ResultMap_DbT4010GemmenGengakuShinseiEntity"/>
    </resultMap>
    <resultMap id="resultMap_HomonKaigoRiyoshaFutangakuGengakuEntity" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.gemmengengaku.homonkaigogengaku.HomonKaigoRiyoshaFutangakuGengakuEntity" autoMapping="true">
        <id property="訪問介護利用者負担額減額Entity.hihokenshaNo" column="dbT4016HomonKaigoRiyoshaFutangakuGengaku_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="訪問介護利用者負担額減額Entity.rirekiNo" column="dbT4016HomonKaigoRiyoshaFutangakuGengaku_rirekiNo" />
        <association property="訪問介護利用者負担額減額Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4016HomonKaigoRiyoshaFutangakuGengakuMapper.ResultMap_DbT4016HomonKaigoRiyoshaFutangakuGengakuEntity"/>
        <collection property="減免減額申請Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4010GemmenGengakuShinseiMapper.ResultMap_DbT4010GemmenGengakuShinseiEntity"/>
    </resultMap>
    <resultMap id="resultMap_TokubetsuchiikiKasanGemmenEntity" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.gemmengengaku.tokubetsuchikikasangemmen.TokubetsuchiikiKasanGemmenEntity" autoMapping="true">
        <id property="特別地域加算減免Entity.hihokenshaNo" column="dbT4020TokubetsuchiikiKasanGemmen_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="特別地域加算減免Entity.rirekiNo" column="dbT4020TokubetsuchiikiKasanGemmen_rirekiNo" />
        <association property="特別地域加算減免Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4020TokubetsuchiikiKasanGemmenMapper.ResultMap_DbT4020TokubetsuchiikiKasanGemmenEntity"/>
        <collection property="減免減額申請Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4010GemmenGengakuShinseiMapper.ResultMap_DbT4010GemmenGengakuShinseiEntity"/>
    </resultMap>
    <select id="get要介護認定情報"
            resultMap="resultMap_NursingCareInformationCodeEntity"
            parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.gemmenjokyo.GemmenJokyoParameter"  fetchSize="500" resultOrdered="true">
        SELECT A."shinseiJokyoKubun" AS "申請状況区分",
        A."jukyuShinseiYMD" AS "受給申請年月日",
        A."jukyuShinseiJiyu" AS "受給申請事由",
        A."kyuSochishaFlag" AS "旧措置者フラグ",
        A."ninteiYukoKikanKaishiYMD" AS "認定有効期間開始年月日",
        A."ninteiYukoKikanShuryoYMD" AS "認定有効期間終了年月日",
        A."ninteiYMD" AS "認定年月日",
        B."koroshoIfShikibetsuCode" AS "厚労省IF識別コード",
        A."yokaigoJotaiKubunCode" AS "要介護認定状態区分コード"
        FROM rgdb."DbV4001JukyushaDaicho" A
        INNER JOIN  rgdb."DbT4101NinteiShinseiJoho" B
        ON A."shinseishoKanriNo" = B."shinseishoKanriNo"
        WHERE A."hihokenshaNo" = #{被保険者番号}
    </select>
    <select id="get介護保険負担限度額認定の情報"
            resultMap="resultMap_FutanGendogakuNinteiEntity"
            parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.gemmenjokyo.GemmenJokyoParameter"  fetchSize="500" resultOrdered="true">
        SELECT *
        FROM (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4018KaigoHokenFutanGendogakuNinteiMapper.noDeleted_DbT4018KaigoHokenFutanGendogakuNintei" />) AS A
        LEFT JOIN (SELECT *
                   FROM (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4010GemmenGengakuShinseiMapper.noDeleted_DbT4010GemmenGengakuShinsei" />) AS B
                   WHERE B."dbT4010GemmenGengakuShinsei_gemmenGengakuShurui" = #{減免減額種類コード}) AS C
             ON A."dbT4018KaigohFutanGengkNint_hihokenshaNo" = C."dbT4010GemmenGengakuShinsei_hihokenshaNo"
                AND A."dbT4018KaigohFutanGengkNint_rirekiNo" = C."dbT4010GemmenGengakuShinsei_shinseiRirekiNo"
        WHERE A."dbT4018KaigohFutanGengkNint_hihokenshaNo" = #{被保険者番号}
        ORDER BY A."dbT4018KaigohFutanGengkNint_rirekiNo" DESC
        LIMIT 1
    </select>
    <select id="get利用者負担額減額の情報"
            resultMap="resultMap_RiyoshaFutangakuGengakuEntity"
            parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.gemmenjokyo.GemmenJokyoParameter"  fetchSize="500" resultOrdered="true">
        SELECT *
        FROM (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4014RiyoshaFutangakuGengakuMapper.noDeleted_DbT4014RiyoshaFutangakuGengaku" />) AS A
        LEFT JOIN (SELECT *
                   FROM (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4010GemmenGengakuShinseiMapper.noDeleted_DbT4010GemmenGengakuShinsei" />) AS B
                   WHERE B."dbT4010GemmenGengakuShinsei_gemmenGengakuShurui" = #{減免減額種類コード}) AS C
             ON A."dbT4014RiyoshaFutangakuGengaku_hihokenshaNo" = C."dbT4010GemmenGengakuShinsei_hihokenshaNo"
                AND A."dbT4014RiyoshaFutangakuGengaku_rirekiNo" = C."dbT4010GemmenGengakuShinsei_shinseiRirekiNo"
        WHERE A."dbT4014RiyoshaFutangakuGengaku_hihokenshaNo" = #{被保険者番号}
        ORDER BY A."dbT4014RiyoshaFutangakuGengaku_rirekiNo" DESC
        LIMIT 1
    </select>
    <select id="get訪問介護利用者負担額減額の情報"
            resultMap="resultMap_HomonKaigoRiyoshaFutangakuGengakuEntity"
            parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.gemmenjokyo.GemmenJokyoParameter"  fetchSize="500" resultOrdered="true">
        SELECT *
        FROM (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4016HomonKaigoRiyoshaFutangakuGengakuMapper.noDeleted_DbT4016HomonKaigoRiyoshaFutangakuGengaku" />) AS A
        LEFT JOIN (SELECT *
                   FROM (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4010GemmenGengakuShinseiMapper.noDeleted_DbT4010GemmenGengakuShinsei" />) AS B
                   WHERE B."dbT4010GemmenGengakuShinsei_gemmenGengakuShurui" = #{減免減額種類コード}) AS C
             ON A."dbT4016HomonKaigoRiyoshaFutangakuGengaku_hihokenshaNo" = C."dbT4010GemmenGengakuShinsei_hihokenshaNo"
                AND A."dbT4016HomonKaigoRiyoshaFutangakuGengaku_rirekiNo" = C."dbT4010GemmenGengakuShinsei_shinseiRirekiNo"
        WHERE A."dbT4016HomonKaigoRiyoshaFutangakuGengaku_hihokenshaNo" = #{被保険者番号}
        ORDER BY A."dbT4016HomonKaigoRiyoshaFutangakuGengaku_rirekiNo" DESC
        LIMIT 1
    </select>
    <select id="get社会福祉法人等利用者負担軽減の情報"
            resultMap="resultMap_ShafukuRiyoshaFutanKeigenEntity"
            parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.gemmenjokyo.GemmenJokyoParameter"  fetchSize="500" resultOrdered="true">
        SELECT *
        FROM (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4017ShakaiFukushiHojinRiyoshaFutanKeigenMapper.noDeleted_DbT4017ShakaiFukushiHojinRiyoshaFutanKeigen" />) AS A
        LEFT JOIN (SELECT *
                   FROM (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4010GemmenGengakuShinseiMapper.noDeleted_DbT4010GemmenGengakuShinsei" />) AS B
                   WHERE B."dbT4010GemmenGengakuShinsei_gemmenGengakuShurui" = #{減免減額種類コード}) AS C
             ON A."dbT4017ShakaiFukushiHojinRiyoshaFutanKeigen_hihokenshaNo" = C."dbT4010GemmenGengakuShinsei_hihokenshaNo"
                AND A."dbT4017ShakaiFukushiHojinRiyoshaFutanKeigen_rirekiNo" = C."dbT4010GemmenGengakuShinsei_shinseiRirekiNo"
        WHERE A."dbT4017ShakaiFukushiHojinRiyoshaFutanKeigen_hihokenshaNo" = #{被保険者番号}
        ORDER BY A."dbT4017ShakaiFukushiHojinRiyoshaFutanKeigen_rirekiNo" DESC
        LIMIT 1
    </select>
    <select id="get特別地域加算減免の情報"
            resultMap="resultMap_TokubetsuchiikiKasanGemmenEntity"
            parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.gemmenjokyo.GemmenJokyoParameter"  fetchSize="500" resultOrdered="true">
        SELECT *
        FROM (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4020TokubetsuchiikiKasanGemmenMapper.noDeleted_DbT4020TokubetsuchiikiKasanGemmen" />) AS A
        LEFT JOIN (SELECT *
                   FROM (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4010GemmenGengakuShinseiMapper.noDeleted_DbT4010GemmenGengakuShinsei" />) AS B
                   WHERE B."dbT4010GemmenGengakuShinsei_gemmenGengakuShurui" = #{減免減額種類コード}) AS C
             ON A."dbT4020TokubetsuchiikiKasanGemmen_hihokenshaNo" = C."dbT4010GemmenGengakuShinsei_hihokenshaNo"
                AND A."dbT4020TokubetsuchiikiKasanGemmen_rirekiNo" = C."dbT4010GemmenGengakuShinsei_shinseiRirekiNo"
        WHERE A."dbT4020TokubetsuchiikiKasanGemmen_hihokenshaNo" = #{被保険者番号}
        ORDER BY A."dbT4020TokubetsuchiikiKasanGemmen_rirekiNo" DESC
        LIMIT 1
    </select>
    <select id="get老齢年金情報"
            resultType="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT7006RoreiFukushiNenkinJukyushaEntity"
            parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.gemmenjokyo.GemmenJokyoParameter"  fetchSize="500" resultOrdered="true">
        SELECT *
        FROM rgdb."DbT7006RoreiFukushiNenkinJukyusha" A
        WHERE A."shikibetsuCode" = #{識別コード}
        AND A."jukyuKaishiYMD" <![CDATA[<=]]> #{システム日付}
        AND #{システム日付} <![CDATA[<=]]> (CASE WHEN A."jukyuHaishiYMD" IN(NULL,'') THEN '99999999'
        ELSE A."jukyuHaishiYMD" END)
        ORDER BY A."jukyuKaishiYMD" DESC
        LIMIT 1
    </select>
    <select id="get支払方法変更情報"
            resultType="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT4021ShiharaiHohoHenkoEntity"
            parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.gemmenjokyo.GemmenJokyoParameter"  fetchSize="500" resultOrdered="true">
        SELECT *
        FROM rgdb."DbT4021ShiharaiHohoHenko" A
        WHERE A."hihokenshaNo" = #{被保険者番号}
        AND NOT EXISTS(SELECT 1 FROM rgdb."DbT4021ShiharaiHohoHenko" B
        WHERE A."hihokenshaNo" = B."hihokenshaNo"
        AND A."kanriKubun" = B."kanriKubun"
        AND A."rirekiNo" <![CDATA[<]]> B."rirekiNo"
        )
    </select>
    <select id="get利用者負担割合明細"
            resultType="jp.co.ndensan.reams.db.dbd.entity.db.basic.DbT3114RiyoshaFutanWariaiMeisaiEntity"
            parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.gemmenjokyo.GemmenJokyoParameter"  fetchSize="500" resultOrdered="true">
        SELECT *
        FROM rgdb."DbT3114RiyoshaFutanWariaiMeisai" A
        WHERE A."hihokenshaNo" = #{被保険者番号}
        AND NOT EXISTS(SELECT 1
        FROM rgdb."DbT3114RiyoshaFutanWariaiMeisai" B
        WHERE A."hihokenshaNo" = B."hihokenshaNo"
        AND A."nendo" = B."nendo"
        AND A."rirekiNo" <![CDATA[<]]> B."rirekiNo")
        AND A."yukoKaishiYMD" <![CDATA[<=]]> #{システム日付}
        AND A."yukoShuryoYMD" <![CDATA[>=]]> #{システム日付}
        AND A."logicalDeletedFlag" = FALSE
    </select>
</mapper>
