<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： 高額サービス費支給（不支給）決定通知書作成する用マッピング用XMLです。 -->
<!-- @reamsid_L DBC-2000-030 xicongwang -->

<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.kogakukaigoservice.IKogakuKaigoServicehiShikyuKetteiTsuchishoMapper">
                    
<!--    <select id="select高額サービス情報"
            resultMap="resultMap_KetteiTsuchishoInfoTempResult"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.kogakukaigoservicehishikyuketteitsuchisho.KogakukaigoKetteiTsuchishoInfoTempParameter" 
            fetchSize="500" resultOrdered="true">
            SELECT 
                支給申請."hihokenshaNo" as "被保険者番号",
                支給申請."serviceTeikyoYM" as "サービス提供年月",
                支給申請."rirekiNo" as "履歴番号",
                支給申請."shoKisaiHokenshaNo" as "証記載保険者番号",
                支給申請."uketsukeYMD" as "受付年月日",
                支給申請."shiharaiHohoKubunCode" as "支払方法区分コード",
                支給申請."shiharaiBasho" as "支払場所",
                支給申請."shiharaiKaishiYMD" as "支払期間開始年月日",
                支給申請."shiharaiShuryoYMD" as "支払期間終了年月日",
                支給申請."shiharaiKaishiTime" as "支払窓口開始時間",
                支給申請."shiharaiShuryoTime" as "支払窓口終了期間",
                支給判定結果."ketteiYMD" as "決定年月日",
                支給審査決定."tsuchishoNo" as "決定通知No",
                支給判定結果."fushikyuRiyu" as "不支給理由",
                支給判定結果."shikyuKubunCode" as "支給結果",
                支給判定結果."shikyuKingaku" as "支払金額",
                支給判定結果."shikyuKingakuCode" as "支払金額内訳_利用者分",
                支給判定結果."shinsaHohoKubun" as "審査方法区分",
                支給判定結果."honninShiharaiGaku" as "本人支払額",
                SUB給付対象者合計."jidoShokanTaishoFlag" as "自動償還対象フラグ",
                支給審査決定."shikyuKubunCode" as "支給区分コード",
                支給審査決定."kogakuShikyuGaku" as "高額支給額",
                koza."uaT0310Koza_kinyuKikanCode" as "金融機関コード",
                koza."uaT0302KinyuKikan_name" as "金融機関名称",
                koza."uaT0310Koza_kinyuKikanShitenCode" as "支店コード",
                koza."uaT0303KinyuKikanShiten_name" as "支店名称",
                koza."uaT0310Koza_yokinShubetsu" as "預金種別",
                koza."uaT0301YokinShubetsuPattern_yokinShubetsuRyakusho" as "預金種別名称",
                koza."uaT0310Koza_kozaNo" as "口座番号",
                koza."uaT0310Koza_kozaMeigininShikibetsuCode" as "口座名義人漢字",
                koza."uaT0310Koza_shuryoYMD" as "口座終了年月日",
                koza."uaT0310Koza_tsuchoNo" as "通帳番号",
                SUB被保険者台帳管理."shikakuSoshitsuYMD" as "資格喪失年月日",
                SUB被保険者台帳管理."shikibetsuCode" as "識別コード",
                SUB被保険者台帳管理."shikakuSoshitsuJiyuCode" as "資格喪失事由コード",
                SUB受給者台帳."yokaigoJotaiKubunCode" as "要介護認定状態区分コード",
                SUB受給者台帳."ninteiYukoKikanKaishiYMD" as "認定有効期間開始年月日",
                SUB受給者台帳."ninteiYukoKikanShuryoYMD" as "認定有効期間終了年月日",
                <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.columns_ShikibetsuTaisho"/>,
                <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt250FindAtesakiMapper.columns_Atesaki"/>
            FROM 
                rgdb."DbT3056KogakuShikyuShinsei" AS 支給申請
            LEFT JOIN
                rgdb."DbT3057KogakuShikyuHanteiKekka" AS 支給判定結果
                ON 支給申請."hihokenshaNo" = 支給判定結果."hihokenshaNo"
                AND 支給申請."serviceTeikyoYM" = 支給判定結果."serviceTeikyoYM"
                AND 支給申請."shoKisaiHokenshaNo" = 支給判定結果."shoKisaiHokenshaNo"
                AND 支給申請."rirekiNo" = 支給判定結果."rirekiNo"
            LEFT JOIN
                rgdb."DbT3058KogakuShikyuShinsaKettei" AS 支給審査決定
                ON 支給判定結果."hihokenshaNo" = 支給審査決定."hihokenshaNo"
                AND 支給判定結果."serviceTeikyoYM" = 支給審査決定."serviceTeikyoYM"
                AND 支給判定結果."shoKisaiHokenshaNo" = 支給審査決定."shoKisaiHokenshaNo"
                AND SUBSTRING(支給判定結果."ketteiYMD",1,4) = 支給審査決定."ketteishaUketoriYM"
            LEFT JOIN
                (
                 SELECT *
                 FROM rgdb."DbT3055KogakuKyufuTaishoshaGokei" dbt3055
                 WHERE NOT (EXISTS (SELECT 'X'
                                    FROM rgdb."DbT3055KogakuKyufuTaishoshaGokei" dbt3055KogakuKyufuTaishoshaGokei
                                    WHERE dbt3055KogakuKyufuTaishoshaGokei."hihokenshaNo" = dbt3055."hihokenshaNo"
                                    AND dbt3055KogakuKyufuTaishoshaGokei."serviceTeikyoYM" = dbt3055."serviceTeikyoYM"
                                    AND dbt3055."rirekiNo" < dbt3055KogakuKyufuTaishoshaGokei."rirekiNo"))
                 ) AS SUB給付対象者合計
                 ON 支給判定結果."hihokenshaNo" = SUB給付対象者合計."hihokenshaNo"
                 AND 支給判定結果."serviceTeikyoYM" = SUB給付対象者合計."serviceTeikyoYM"
            LEFT JOIN 
                (<include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IKozaRelateMapper.kozaSearch" />) AS koza
                 ON koza."uaT0310Koza_kozaId" = 支給申請."kozaID"   
            LEFT JOIN
                (
                 SELECT *
                   FROM ( SELECT *,
                          row_number() OVER (PARTITION BY t1001."hihokenshaNo" ORDER BY t1001."idoYMD" DESC, t1001."edaNo" DESC) AS rrkno
                          FROM rgdb."DbT1001HihokenshaDaicho" t1001
                          WHERE t1001."logicalDeletedFlag" = false) iv
                  WHERE iv.rrkno = 1
                 ) AS SUB被保険者台帳管理
                 ON 支給申請."hihokenshaNo" = SUB被保険者台帳管理."hihokenshaNo"
            LEFT JOIN
                (
                 SELECT *
                   FROM ( SELECT *,
                          row_number() OVER (PARTITION BY t4001."hihokenshaNo",t4001."shichosonCode" ORDER BY t4001."rirekiNo" DESC, t4001.edaban DESC) AS rrkno
                          FROM rgdb."DbT4001JukyushaDaicho" t4001
                          WHERE t4001."logicalDeletedFlag" = false) iv
                  WHERE iv.rrkno = 1
                 ) AS SUB受給者台帳
                 ON 支給申請."hihokenshaNo" = SUB受給者台帳."hihokenshaNo" 
                 AND SUB被保険者台帳管理."shichosonCode" = SUB受給者台帳."shichosonCode" 
            LEFT JOIN 
               rgua."UaFt200FindShikibetsuTaisho"('','',true,'DB',FALSE,'','','','','','','','','','','',true,
                   '','','','','','','',true,'','','','','','','','','','','',true,true,true,true,true,true,true,true,true,true,
                   true,'','','','','','','','',true,'','',true,true,true,'','','','','','','','','','','','','','','','','','','{}') AS "ShikibetsuTaisho"
              ON "ShikibetsuTaisho"."shikibetsuCode" = SUB被保険者台帳管理."shikibetsuCode"
            LEFT JOIN
             rgua."UaFt250FindAtesaki"('DB','DBC','','false','','','true','true','false','false','') AS "Atesaki"
              ON "Atesaki"."shikibetsuCode" = SUB被保険者台帳管理."shikibetsuCode"
            WHERE 1 = 1
            <if test="抽出モード == 1">              
                AND 支給申請."uketsukeYMD" <![CDATA[>=]]> #{抽出条件日付From}
                AND 支給申請."uketsukeYMD" <![CDATA[<=]]> #{抽出条件日付To}
            </if>
            <if test="抽出モード == 2">              
                AND 支給判定結果."ketteiYMD" <![CDATA[>=]]> #{抽出条件日付From}
                AND 支給判定結果."ketteiYMD" <![CDATA[<=]]> #{抽出条件日付From}
            </if>       
            <if test="抽出モード == 3">              
                AND 支給審査決定."ketteishaUketoriYM" = #{決定者受付年月}
            </if>   
            <if test="印書 == 1">              
                AND 支給判定結果."ketteiTsuchishoSakuseiYMD" <![CDATA[<>]]> ''
                AND 支給判定結果."ketteiTsuchishoSakuseiYMD" IS NOT NULL
            </if> 
            <if test="印書 == 3">              
                AND 支給判定結果."ketteiTsuchishoSakuseiYMD" = ''
            </if> 
            <if test="高額自動償還 == 2">              
                AND SUB給付対象者合計."jidoShokanTaishoFlag" = true
            </if> 
            <if test="高額自動償還 == 3">              
                AND SUB給付対象者合計."jidoShokanTaishoFlag" = false
            </if> 
            AND ((支給判定結果."ketteiYMD" <![CDATA[<>]]> ''
                  AND 支給判定結果."shinsaHohoKubun" = '2')
                 OR(支給判定結果."ketteiYMD" <![CDATA[<>]]> ''
                  AND 支給判定結果."ketteiYMD" IS NOT NULL
                  AND 支給判定結果."shinsaHohoKubun"" = '1'
                  AND 支給審査決定."ketteishaUketoriYM" <![CDATA[<>]]> ''
                  AND 支給審査決定."ketteishaUketoriYM" IS NOT NULL))
    </select>
        
    <resultMap id="resultMap_KetteiTsuchishoInfoTempResult" autoMapping="true"
               type="jp.co.ndensan.reams.db.dbc.entity.db.relate.servicehishikyuketteitsuchisho.KetteiTsuchishoInfoTempResultEntity">
       <result property="被保険者番号" column="被保険者番号" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler" />
       <result property="サービス提供年月" column="サービス提供年月" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler" />
       <result property="履歴番号" column="履歴番号" />
       <result property="証記載保険者番号" column="証記載保険者番号" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HokenshaNoTypeHandler" />
       <result property="受付年月日" column="受付年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
       <result property="支払方法区分コード" column="支払方法区分コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
       <result property="支払場所" column="支払場所" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
       <result property="支払期間開始年月日" column="支払期間開始年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
       <result property="支払期間終了年月日" column="支払期間終了年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
       <result property="支払窓口開始時間" column="支払窓口開始時間" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
       <result property="支払窓口終了期間" column="支払窓口終了期間" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
       <result property="決定年月日" column="決定年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
       <result property="決定通知No" column="決定通知No" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
       <result property="不支給理由" column="不支給理由" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
       <result property="支給結果" column="支給結果" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
       <result property="支払金額" column="支払金額" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
       <result property="支払金額内訳_利用者分" column="支払金額内訳_利用者分" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
       <result property="審査方法区分" column="審査方法区分" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
       <result property="本人支払額" column="本人支払額" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
       <result property="自動償還対象フラグ" column="自動償還対象フラグ" />
       <result property="支給区分コード" column="支給区分コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
       <result property="高額支給額" column="高額支給額" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
       <result property="金融機関コード" column="金融機関コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.KinyuKikanCodeTypeHandler" />
       <result property="金融機関名称" column="金融機関名称" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
       <result property="支店コード" column="支店コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.KinyuKikanShitenCodeTypeHandler" />
       <result property="支店名称" column="支店名称" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
       <result property="預金種別" column="預金種別" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
       <result property="預金種別名称" column="預金種別名称" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
       <result property="口座番号" column="口座番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
       <result property="口座名義人漢字" column="口座名義人漢字" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler" />
       <result property="口座終了年月日" column="口座終了年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
       <result property="通帳番号" column="通帳番号" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
       <result property="資格喪失年月日" column="資格喪失年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
       <result property="識別コード" column="識別コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler" />
       <result property="資格喪失事由コード" column="資格喪失事由コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
       <result property="要介護認定状態区分コード" column="要介護認定状態区分コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler" />
       <result property="認定有効期間開始年月日" column="認定有効期間開始年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
       <result property="認定有効期間終了年月日" column="認定有効期間終了年月日" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
       <association property="宛名" resultMap="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.UaFt200FindShikibetsuTaishoEntity"/>
       <association property="宛先" resultMap="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt250FindAtesakiMapper.resultAtesakiEntity"/>
    </resultMap>  -->
</mapper>