<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--@reamsid_L DBC-4640-080 liuxiaoyu-->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.taishosetaiinido.ITaishoSetaiinIdoMapper">
 <select resultOrdered="true" id="select基準収入額適用管理"
         resultType="jp.co.ndensan.reams.db.dbc.entity.db.relate.taishosetaiinido.TaishoSetaiinIdoEntity"
         parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.taishosetaiinido.TaishoSetaiinIdoMybatisParameter">
         SELECT A."hihokenshaNo",
                A."shinseishoSakuseiSetaiKijunYMD",
                A."rirekiNo"
         FROM
          (SELECT B."hihokenshaNo" AS "hihokenshaNo",
                  B."shinseishoSakuseiSetaiKijunYMD" AS "shinseishoSakuseiSetaiKijunYMD",
                  B."rirekiNo" AS "rirekiNo",
                  row_number() OVER (PARTITION BY B."hihokenshaNo"
                             ORDER BY B."rirekiNo" DESC) AS rirekiNo
           FROM rgdb."DbT3116KijunShunyugakuTekiyoKanri" AS B
           WHERE B."setaiCode" = #{世帯コード}
             AND B."nendo" = #{処理年度}) AS A
</select>

 <select resultOrdered="true" id="select管理マスタ"
         resultType="jp.co.ndensan.reams.db.dbc.entity.db.relate.taishosetaiinido.TaishoSetaiinIdoEntity"
         parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.taishosetaiinido.TaishoSetaiinIdoMybatisParameter">
         SELECT A."hihokenshaNo",
                A."shinseishoSakuseiSetaiKijunYMD",
                A."rirekiNo"
         FROM
          (SELECT B."hihokenshaNo" AS "hihokenshaNo",
                  B."shinseishoSakuseiSetaiKijunYMD" AS "shinseishoSakuseiSetaiKijunYMD",
                  B."rirekiNo" AS "rirekiNo",
                  row_number() OVER (PARTITION BY B."hihokenshaNo"
                             ORDER BY B."rirekiNo" DESC) AS row_number
           FROM rgdb."DbT3116KijunShunyugakuTekiyoKanri" AS B
           WHERE B."setaiCode" = #{世帯コード}
             AND B."nendo" = #{処理年度}) AS A
</select>

<select resultOrdered="true" id="対象世帯員クラスTempに更新"  
             resultMap="resultMap_TaishoSetaiinEntity"  fetchSize="500">
         SELECT 
           T1.*
         FROM
          "TaishoSetaiin"  AS T1
         ORDER BY
               T1."shotaiCode",T1."jukyuKubun",T1."hihokenshaNo"
</select>

<select resultOrdered="true" id="select基準収入額適用管理マスタ"
         resultType="jp.co.ndensan.reams.db.dbc.entity.db.relate.taishosetaiinido.KijunShunyugakuTekiyoKanriEntity"
         parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.taishosetaiinido.TaishoSetaiinIdoMybatisParameter">
    SELECT 
        C."insertDantaiCd",
        C."insertTimestamp",
        C."insertReamsLoginId",
        C."insertContextId",
        C."isDeleted",
        C."updateCount",
        C."lastUpdateTimestamp",
        C."lastUpdateReamsLoginId",
        C."setaiCode",
        C."nendo",
        C."rirekiNo",
        C."hihokenshaNo",
        C."kotekiNenkinShunyugaku",
        C."kyuyoShunyugaku",
        C."sonotaShunyugaku",
        C."santeiKijungaku",
        C."tekiyoKaishiYMD",
        C."shinseiYMD",
        C."ketteiYMD",
        C."shinseishoSakuseiYMD",
        C."shinseishoSakuseiSetaiKijunYMD",
        C."ketteiTsuchishoHakkoYMD",
        C."atesakiInjiTaishoshaFlag",
        C."nenshoFuyokojoUnder16Ninzu",
        C."nenshoFuyokojoOver16Ninzu",
        C."setaiinSoShunyugaku",
        C."setainushiFlag",
        C."kazeiShotokugaku",
        C."kazeiShotokugakuKojogo",
        C."shikibetsuCode"
    FROM
        (SELECT A.*,
               B."shotaiCode" AS 世帯コード,
               B."shikibetsuCode"
        FROM rgdb."DbT3116KijunShunyugakuTekiyoKanri" AS A
        LEFT OUTER JOIN "TaishoSetaiin"  AS B
            ON B."shotaiCode" = A."setaiCode"
        WHERE A."nendo" = #{処理年度}) AS C
</select>

<resultMap id="resultMap_TaishoSetaiinEntity" type="jp.co.ndensan.reams.db.dbc.entity.csv.kijunsyunyunenji.TaishoSetaiinEntity" autoMapping="true">
        <id property="shotaiCode" column="shotaiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="hihokenshaNo" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="shikibetsuCode" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="shoriNendo" column="shoriNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearTypeHandler"/>
        <result property="setaikazeiKubun" column="setaikazeiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kazeiShotokuKubun" column="kazeiShotokuKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="soushuu" column="soushuu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="message" column="message" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shuturyokuUmu" column="shuturyokuUmu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="nennshouLess16Num" column="nennshouLess16Num" />
        <result property="nennshouLess16_18Num" column="nennshouLess16_18Num" />
        <result property="rannkuShichosonCode" column="rannkuShichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shotaikijunDay" column="shotaikijunDay" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shotaikijunDay2" column="shotaikijunDay2" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="koushinnNo" column="koushinnNo"/>
        <result property="innjiGirisiamojiKubun" column="innjiGirisiamojiKubun"/>
        <result property="shichosonCode" column="shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="jushochiTokureiFlag" column="jushochiTokureiFlag" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kazeiKubun" column="kazeiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kazeiShotokuGaku" column="kazeiShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="kazeiShotokuGakuAfter" column="kazeiShotokuGakuAfter" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="nenkinShunyuGaku" column="nenkinShunyuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="sonotanoGoukeiShotokuKingakuGoukei" column="sonotanoGoukeiShotokuKingakuGoukei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="hennshuuZokugaraCode" column="hennshuuZokugaraCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="atenaDateDhubetsu_1231" column="atenaDateDhubetsu_1231" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="atenaDateDhubetsu_kijunDay" column="atenaDateDhubetsu_kijunDay" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hihokenshaName" column="hihokenshaName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hihokenshaKana" column="hihokenshaKana" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="sex" column="sex" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>  
        <result property="seinengappiYMD" column="seinengappiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="age" column="age" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hihokennshaKubun" column="hihokennshaKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="jukyuKubun" column="jukyuKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="nijiHanteiYokaigoJotaiKubunCode" column="nijiHanteiYokaigoJotaiKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="ninteiYukoKikanKaishiYMD" column="ninteiYukoKikanKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ninteiYukoKikanShuryoYMD" column="ninteiYukoKikanShuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="tekiyoKaishiYMD" column="tekiyoKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="tekiyoShuryoYMD" column="tekiyoShuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="atenaInnjiKubun" column="atenaInnjiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shinnseishoJuusho" column="shinnseishoJuusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/> 
        <result property="rennrakusaki" column="rennrakusaki" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="oshiraseRennrakusaki" column="oshiraseRennrakusaki" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/> 
    </resultMap>
</mapper>
