<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--@reamsid_L DBC-4640-080 liuxiaoyu-->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.taishosetaiinido.ITaishoSetaiinIdoMapper">
 <select resultOrdered="true" id="select基準収入額適用管理"
         resultType="jp.co.ndensan.reams.db.dbc.entity.db.relate.taishosetaiinido.TaishoSetaiinIdoEntity"
         parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.taishosetaiinido.TaishoSetaiinIdoMybatisParameter">
    SELECT A."hihokenshaNo",
           A."shinseishoSakuseiSetaiKijunYMD",
           A."rirekiNo"
    FROM (SELECT B."hihokenshaNo" as "hihokenshaNo",
                 B."shinseishoSakuseiSetaiKijunYMD" as "shinseishoSakuseiSetaiKijunYMD",
                 B."rirekiNo" as "rirekiNo"
          ROW_NUMBER() OVER (PARTITION BY DbT3116KijunShunyugakuTekiyoKanri."hihokenshaNo" OVDER BY DbT3116."rirekiNo" DESC) As rirekiNo
          FROM rgdb."DbT3116KijunShunyugakuTekiyoKanriEntity" As B
          WHERE  B."setaiCode" =  #{世帯コード}
                 B."nendo" = #{処理年度}
   )             AS  A
   
</select>
</mapper>
