<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBD-1510-020 x_xuliang -->
<!-- 被保険者ｶﾅ氏名と被保険者漢字氏名は空白の処理 -->

<mapper namespace="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.relate.yokaigoninteikekkarenkeidetatorikomi.IShimeiWaKuhakuNoShoriMapper">
    <select id="get空白の処理"
            resultType="jp.co.ndensan.reams.db.dbd.entity.db.relate.dbd492001.ShimeiWaKuhakuNoShoriEntity" 
            fetchSize="500" resultOrdered="true">
        SELECT A."hihokenshaKana",
        A."hihokenshaName",
        A."shoKisaiHokenshaNo",
        A."hihokenshaNo",
        A."ninteiShinseiYMD",
        A."ninteiShinseiShinseijiKubunCode"
        FROM rgdb."DbT4101NinteiShinseiJoho" AS A
        INNER JOIN "FairudetaIchijiTeburuTemp" AS B
        ON A."shoKisaiHokenshaNo" = B."hokenshabango"
        AND A."hihokenshaNo" = B."hihokenjabango"
        AND A."ninteiShinseiYMD" = B."ninteishinseibi"
        AND A."ninteiShinseiShinseijiKubunCode" = B."shinseikubunshinseiji"
        WHERE B."hihokenjakanashimei" IS NULL
        AND B."hihokenjakanjishimei" IS NULL
    </select>
</mapper>