<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--@reamsid_L DBD-2030-020 x_miaocl-->
<mapper namespace="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.relate.koshinoshirasetsuchi.IKoshinOshiraseTsuchiMapper">
    <resultMap id="resultMap_get帳票出力用情報取得" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.dbd511002.KoshinOshiraseTsuchiUpdateEntity" autoMapping="true">
        <id column="dbT4101NinteiShinseiJoho_shinseishoKanriNo"/>
        <id column="dbV4001JukyushaDaicho_shichosonCode" />
        <id column="dbV4001JukyushaDaicho_hihokenshaNo"/>
        <id column="dbV4001JukyushaDaicho_rirekiNo" />
        <id column="dbV4001JukyushaDaicho_edaban" />
        <id column="dbV4001JukyushaDaicho_jukyuShinseiJiyu" />
        <id column="dbT7051KoseiShichosonMaster_shichosonShokibetsuID" />
        <id column="dbT4910NinteichosaItakusakiJoho_shichosonCode" />
        <id column="dbT4910NinteichosaItakusakiJoho_ninteichosaItakusakiCode" />
        <id column="dbT7060KaigoJigyosha_jigyoshaNo" />
        <id column="dbT7060KaigoJigyosha_yukoKaishiYMD" />
        <id column="keisangoJohoTemp_choteiNendo" />
        <id column="keisangoJohoTemp_fukaNendo" />
        <id column="keisangoJohoTemp_tsuchishoNo" />
        <id column="ShikibetsuTaisho_shikibetsuCode" />
        <id column="ShikibetsuTaisho_rirekiNo" />
        <association property="dbt4101Entity" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4101NinteiShinseiJohoMapper.ResultMap_DbT4101NinteiShinseiJohoEntity" />
        <association property="dbV4001JukyushaDaicho" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbV4001JukyushaDaichoMapper.ResultMap_DbV4001JukyushaDaichoEntity" />
        <association property="dbT7051KoseiShichosonMaster" resultMap="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT7051KoseiShichosonMasterMapper.ResultMap_DbT7051KoseiShichosonMasterEntity" />
        <association property="dbT4910NinteichosaItakusakiJoho" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4910NinteichosaItakusakiJohoMapper.ResultMap_DbT4910NinteichosaItakusakiJohoEntity" />
        <association property="dbT7060KaigoJigyosha" resultMap="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT7060KaigoJigyoshaMapper.ResultMap_DbT7060KaigoJigyoshaEntity" />
        <association property="宛名" resultMap="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.UaFt200FindShikibetsuTaishoEntity"/>
        <association property="宛先" resultMap="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt250FindAtesakiMapper.resultAtesakiEntity"/>
    </resultMap>
    <select resultOrdered="true" id="get帳票出力用情報取得"  
            resultMap="resultMap_get帳票出力用情報取得" 
            parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.dbd511002.KoshinOshiraseTsuchiMyBatisParameter" fetchSize="500">
        WITH master AS (
          SELECT
          DbT4101NinteiShinseiJoho.*,
          受給者台帳Newest.*,
          構成市町村マスタ.*,
          認定調査委託先情報.*,
          介護事業者.*
          FROM
          (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4101NinteiShinseiJohoMapper.noDeleted_DbT4101NinteiShinseiJoho" />) AS DbT4101NinteiShinseiJoho
          INNER JOIN 
          (<include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT7051KoseiShichosonMasterMapper.noDeleted_DbT7051KoseiShichosonMaster" />) AS 構成市町村マスタ
          ON 
          DbT4101NinteiShinseiJoho."dbT4101NinteiShinseiJoho_shoKisaiHokenshaNo" = 構成市町村マスタ."dbT7051KoseiShichosonMaster_shoKisaiHokenshaNo"
          INNER JOIN 
          (SELECT
           <include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbV4001JukyushaDaichoMapper.allColumns_DbV4001JukyushaDaicho" />
           FROM
           rgdb."DbV4001JukyushaDaicho") AS 受給者台帳Newest
          ON 
          DbT4101NinteiShinseiJoho."dbT4101NinteiShinseiJoho_shinseishoKanriNo" = 受給者台帳Newest."dbV4001JukyushaDaicho_shinseishoKanriNo"
          LEFT JOIN 
          (<include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT4910NinteichosaItakusakiJohoMapper.noDeleted_DbT4910NinteichosaItakusakiJoho" />) AS 認定調査委託先情報
          ON 
          DbT4101NinteiShinseiJoho."dbT4101NinteiShinseiJoho_ninteiChosaItakusakiCode" = 認定調査委託先情報."dbT4910NinteichosaItakusakiJoho_ninteichosaItakusakiCode"
          AND 構成市町村マスタ."dbT7051KoseiShichosonMaster_shichosonCode" = 認定調査委託先情報."dbT4910NinteichosaItakusakiJoho_shichosonCode"
          AND 認定調査委託先情報."dbT4910NinteichosaItakusakiJoho_jokyoFlag" = True
          LEFT JOIN 
          (<include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT7060KaigoJigyoshaMapper.noDeleted_DbT7060KaigoJigyosha" />) AS 介護事業者
          ON 
          DbT4101NinteiShinseiJoho."dbT4101NinteiShinseiJoho_nyushoShisetsuCode" = 介護事業者."dbT7060KaigoJigyosha_jigyoshaNo"
          AND NOT EXISTS (SELECT 1
            FROM rgdb."DbT7060KaigoJigyosha" AS A
            WHERE 介護事業者."dbT7060KaigoJigyosha_jigyoshaNo" = A."jigyoshaNo"
            AND 介護事業者."dbT7060KaigoJigyosha_yukoKaishiYMD" &lt; A."yukoKaishiYMD"
          )
          WHERE
          DbT4101NinteiShinseiJoho."dbT4101NinteiShinseiJoho_shinseishoKanriNo" IN
          <foreach item="申請書管理番号リスト" index="index" collection="申請書管理番号リスト" open="(" separator="," close=")">
              #{申請書管理番号リスト}
          </foreach>
          AND 受給者台帳Newest."dbV4001JukyushaDaicho_ninteiYukoKikanShuryoYMD" <![CDATA[>=]]> #{抽出対象期間_開始}
          AND 受給者台帳Newest."dbV4001JukyushaDaicho_ninteiYukoKikanShuryoYMD" <![CDATA[<=]]> #{抽出対象期間_終了}
          AND DbT4101NinteiShinseiJoho."dbT4101NinteiShinseiJoho_logicalDeletedFlag" = False
        )
        SELECT
        master.*,
        <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.columns_ShikibetsuTaisho" />
        FROM
          master
        LEFT OUTER JOIN rgua."UaFt200FindShikibetsuTaisho"('','',FALSE,'DB',FALSE,'','','','','','','','','','','',true,
        '','','','','','','',true,'','','','','','','','','','','',true,true,true,true,true,true,true,true,true,true,
        true,'','','','','','','','',true,'','',true,true,true,'','','','','','','','','','','','','','','','','','',
          ( 
           SELECT
             ARRAY_AGG(CAST ("dbT4101NinteiShinseiJoho_shikibetsuCode" AS TEXT))
           FROM 
             master
           ) 
         ) AS "ShikibetsuTaisho"							
         ON master."dbT4101NinteiShinseiJoho_shikibetsuCode" = "ShikibetsuTaisho"."shikibetsuCode"
         LEFT JOIN rgua."UaFt250FindAtesaki"('DB','DBB','','true','','','true','true','true','true','') AS "Atesaki"
         ON "Atesaki"."shikibetsuCode" = "ShikibetsuTaisho"."shikibetsuCode"					
        <if test="出力順 != null and !出力順.isEmpty()">
            ${出力順}
        </if>
    </select>
</mapper>
             