<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBD-3730-030 wangjie2 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.relate.gemmengengaku.homonkaigogemmen.IHomonKaigoRiryoshaFutangakuGengakuMapper">
    <select id="get訪問介護利用者負担額減額の情報List"
            resultMap="resultMap_HomonKaigoRiyoshaFutangakuGengakuEntity" 
            parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.gemmengengaku.shakaifukushihojinkeigen.ShakaiFukushiHojinKeigenParameter"
            fetchSize="500" resultOrdered="true">
        SELECT 
        A.*,
        B.*
        FROM (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4016HomonKaigoRiyoshaFutangakuGengakuMapper.noDeleted_DbT4016HomonKaigoRiyoshaFutangakuGengaku" />) AS A
             LEFT JOIN (<include refid="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4010GemmenGengakuShinseiMapper.noDeleted_DbT4010GemmenGengakuShinsei" />) AS B
                  ON A."dbT4016HomonKaigoRiyoshaFutangakuGengaku_hihokenshaNo" = B."dbT4010GemmenGengakuShinsei_hihokenshaNo"
                  AND A."dbT4016HomonKaigoRiyoshaFutangakuGengaku_shoKisaiHokenshaNo" = B."dbT4010GemmenGengakuShinsei_shoKisaiHokenshaNo"
                  AND A."dbT4016HomonKaigoRiyoshaFutangakuGengaku_rirekiNo" = B."dbT4010GemmenGengakuShinsei_shinseiRirekiNo"
                  AND B."dbT4010GemmenGengakuShinsei_gemmenGengakuShurui" = #{減免減額種類コード}
        WHERE A."dbT4016HomonKaigoRiyoshaFutangakuGengaku_hihokenshaNo" = #{被保険者番号}
        ORDER BY A."dbT4016HomonKaigoRiyoshaFutangakuGengaku_tekiyoKaishiYMD" DESC,
             A."dbT4016HomonKaigoRiyoshaFutangakuGengaku_ketteiKubun"
    </select>
    <!-- TODO RelateEntityの形に合わせてマッピング定義を修正してください。 -->
    <resultMap id="resultMap_HomonKaigoRiyoshaFutangakuGengakuEntity" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.gemmengengaku.homonkaigogengaku.HomonKaigoRiyoshaFutangakuGengakuEntity" autoMapping="true">
       <id property="訪問介護利用者負担額減額Entity.shoKisaiHokenshaNo" column="dbT4016HomonKaigoRiyoshaFutangakuGengaku_shoKisaiHokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShoKisaiHokenshaNoTypeHandler"/>
        <id property="訪問介護利用者負担額減額Entity.hihokenshaNo" column="dbT4016HomonKaigoRiyoshaFutangakuGengaku_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <id property="訪問介護利用者負担額減額Entity.rirekiNo" column="dbT4016HomonKaigoRiyoshaFutangakuGengaku_rirekiNo" />
        <association property="訪問介護利用者負担額減額Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4016HomonKaigoRiyoshaFutangakuGengakuMapper.ResultMap_DbT4016HomonKaigoRiyoshaFutangakuGengakuEntity"/>
        <collection property="減免減額申請Entity" resultMap="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.basic.IDbT4010GemmenGengakuShinseiMapper.ResultMap_DbT4010GemmenGengakuShinseiEntity"/>
    </resultMap>
</mapper>