<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- どのマッパーインターフェースと対応するかを指定する -->

<mapper namespace="jp.co.ndensan.reams.db.dba.persistence.mapper.tennyuhoryutokuteijushoichiran.TennyuHoryuTokuteiJushoIchiranMapper">
    <select id="get転出保留対象者情報の取得処理" resultMap="resultMap_TennyuTenshutsuHoryuEntity"  fetchSize="500">
        SELECT
        DbT1011TenshutsuHoryuTaishosha."shikibetsuCode" AS "shikibetsuCode"
        ,(SELECT DbT1001HihokenshaDaicho."hihokenshaNo"
        FROM  rgdb."DbT1001HihokenshaDaicho" DbT1001HihokenshaDaicho
        WHERE DbT1001HihokenshaDaicho."shikibetsuCode" =  DbT1011TenshutsuHoryuTaishosha."shikibetsuCode"
        AND DbT1001HihokenshaDaicho."isDeleted" = False
        ORDER BY DbT1001HihokenshaDaicho."idoYMD" DESC
        ,DbT1001HihokenshaDaicho."edaNo" DESC LIMIT 1) AS  "hihokenshaNo"
        ,DbT1011TenshutsuHoryuTaishosha."rirekiNo" AS "rirekiNo"
        ,DbT1011TenshutsuHoryuTaishosha."shichosonCode" AS "shichosonCode"
        ,DbT1011TenshutsuHoryuTaishosha."juminShubetsuCode" AS "juminShubetsuCode"
        ,DbT1011TenshutsuHoryuTaishosha."atenaShimei" AS "atenaShimei"
        ,DbT1011TenshutsuHoryuTaishosha."atenaKanaShimei"AS "atenaKanaShimei""
        ,DbT1011TenshutsuHoryuTaishosha."seinengappiYMD" AS "seinengappiYMD"
        ,DbT1011TenshutsuHoryuTaishosha."seibetsuCode" AS "seibetsuCode"
        ,DbT1011TenshutsuHoryuTaishosha."idoJiyuCode" AS "idoJiyuCode"
        ,DbT1011TenshutsuHoryuTaishosha."tenshutsuYoteiIdoYMD" AS "tenshutsuYoteiIdoYMD"
        ,DbT1011TenshutsuHoryuTaishosha."tenshutsuKakuteiIdoYMD" AS "tenshutsuKakuteiIdoYMD"
        ,DbT1011TenshutsuHoryuTaishosha."tenshutsuYoteiJusho" AS "tenshutsuYoteiJusho"
        FROM  rgdb."DbT1011TenshutsuHoryuTaishosha" DbT1011TenshutsuHoryuTaishosha
    </select>
    <resultMap id="resultMap_TennyuTenshutsuHoryuEntity" type="jp.co.ndensan.reams.db.dba.entity.db.tennyutenshutsuhoryutaishosha.ShikakuShutokuJogaishaKanriEntity" autoMapping="true">
        <result property="shikibetsuCode" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="hihokenshaNo" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="rirekiNo" column="rirekiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="shichosonCode" column="shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <result property="juminShubetsuCode" column="juminShubetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="atenaShimei" column="atenaShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="atenaKanaShimei" column="atenaKanaShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaKanaMeishoTypeHandler"/>
        <result property="seinengappiYMD" column="seinengappiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="seibetsuCode" column="seibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="idoJiyuCode" column="idoJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="tenshutsuYoteiIdoYMD" column="tenshutsuYoteiIdoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="tenshutsuKakuteiIdoYMD" column="tenshutsuKakuteiIdoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="tenshutsuYoteiJusho" column="tenshutsuYoteiJusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaJushoTypeHandler"/>
    </resultMap>

    <select id="get転入保留対象者情報の取得処理" resultMap="resultMap_HoryuEntity"  fetchSize="500">
        ELECT
        DbT1010TennyushutsuHoryuTaishosha."shikibetsuCode" AS "shikibetsuCode"
        ,(SELECT DbT1001HihokenshaDaicho."hihokenshaNo"
        FROM  rgdb."DbT1001HihokenshaDaicho" DbT1001HihokenshaDaicho
        WHERE DbT1001HihokenshaDaicho."shikibetsuCode" =  DbT1011TenshutsuHoryuTaishosha."shikibetsuCode"
        AND DbT1001HihokenshaDaicho."isDeleted" = False
        ORDER BY DbT1001HihokenshaDaicho."idoYMD" DESC
        ,DbT1001HihokenshaDaicho."edaNo" DESC LIMIT 1) AS "hihokenshaNo"
        ,DbT1010TennyushutsuHoryuTaishosha."rirekiNo" AS "rirekiNo"
        ,DbT1010TennyushutsuHoryuTaishosha."shichosonCode" AS "shichosonCode"
        ,DbT1010TennyushutsuHoryuTaishosha."juminShubetsuCode" AS "juminShubetsuCode"
        ,DbT1010TennyushutsuHoryuTaishosha."atenaShimei" AS "atenaShimei"
        ,DbT1010TennyushutsuHoryuTaishosha."atenaKanaShimei"AS "atenaKanaShimei"
        ,DbT1010TennyushutsuHoryuTaishosha."seinengappiYMD" AS "seinengappiYMD"
        ,DbT1010TennyushutsuHoryuTaishosha."seibetsuCode" AS "seibetsuCode"
        ,DbT1010TennyushutsuHoryuTaishosha."idoJiyuCode" AS "idoJiyuCode"
        ,DbT1010TennyushutsuHoryuTaishosha."torokuIdoYMD" AS "torokuIdoYMD"
        ,DbT1010TennyushutsuHoryuTaishosha."tenshutsuYoteiJusho" AS "tenshutsuYoteiJusho"
        FROM rgdb."DbT1010TennyushutsuHoryuTaishosha" DbT1010TennyushutsuHoryuTaishosha
        WHERE
        NOT EXISTS ( SELECT * FROM rgdb."DbT7051KoseiShichosonMaster"  WHERE DbT7051KoseiShichosonMaster."shichosonCode" = DbT1010TennyushutsuHoryuTaishosha.)
    </select>
    <resultMap id="resultMap_HoryuEntity" type="jp.co.ndensan.reams.db.dba.entity.db.shikakushutokujogaishakanri.ShikakuShutokuJogaishaKanriEntity" autoMapping="true">
        <result property="shikibetsuCode" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="hihokenshaNo" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="rirekiNo" column="rirekiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="shichosonCode" column="shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <result property="juminShubetsuCode" column="juminShubetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="atenaShimei" column="atenaShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="atenaKanaShimei" column="atenaKanaShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaKanaMeishoTypeHandler"/>
        <result property="seinengappiYMD" column="seinengappiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="seibetsuCode" column="seibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="idoJiyuCode" column="idoJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="torokuIdoYMD" column="torokuIdoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="tenshutsuYoteiJusho" column="tenshutsuYoteiJusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaJushoTypeHandler"/>
    </resultMap>
    <select id="get広域保留対象者情報の取得処理" resultMap="resultMap_TennyuEntity"  fetchSize="500">
        ELECT
        DbT1010TennyushutsuHoryuTaishosha."shikibetsuCode" AS "shikibetsuCode"
        ,(SELECT DbT1001HihokenshaDaicho."hihokenshaNo"
        FROM  rgdb."DbT1001HihokenshaDaicho" DbT1001HihokenshaDaicho
        WHERE DbT1001HihokenshaDaicho."shikibetsuCode" =  DbT1011TenshutsuHoryuTaishosha."shikibetsuCode"
        AND DbT1001HihokenshaDaicho."isDeleted" = False
        ORDER BY DbT1001HihokenshaDaicho."idoYMD" DESC
        ,DbT1001HihokenshaDaicho."edaNo" DESC LIMIT 1) AS "hihokenshaNo"
        ,DbT1010TennyushutsuHoryuTaishosha."rirekiNo" AS "rirekiNo"
        ,DbT1010TennyushutsuHoryuTaishosha."shichosonCode" AS "shichosonCode"
        ,DbT1010TennyushutsuHoryuTaishosha."juminShubetsuCode" AS "juminShubetsuCode"
        ,DbT1010TennyushutsuHoryuTaishosha."atenaShimei" AS "atenaShimei"
        ,DbT1010TennyushutsuHoryuTaishosha."atenaKanaShimei"AS "atenaKanaShimei"
        ,DbT1010TennyushutsuHoryuTaishosha."seinengappiYMD" AS "seinengappiYMD"
        ,DbT1010TennyushutsuHoryuTaishosha."seibetsuCode" AS "seibetsuCode"
        ,DbT1010TennyushutsuHoryuTaishosha."idoJiyuCode" AS "idoJiyuCode"
        ,DbT1010TennyushutsuHoryuTaishosha."torokuIdoYMD" AS "torokuIdoYMD"
        ,DbT1010TennyushutsuHoryuTaishosha."tenshutsuYoteiJusho" AS "tenshutsuYoteiJusho"
        FROM rgdb."DbT1010TennyushutsuHoryuTaishosha" DbT1010TennyushutsuHoryuTaishosha
        WHERE
        EXISTS ( SELECT * FROM rgdb."DbT7051KoseiShichosonMaster"  WHERE DbT7051KoseiShichosonMaster."shichosonCode" = DbT1010TennyushutsuHoryuTaishosha.)
        <resultMap id="resultMap_TennyuEntity" type="jp.co.ndensan.reams.db.dba.entity.db.shikakushutokujogaishakanri.ShikakuShutokuJogaishaKanriEntity" autoMapping="true">
            <result property="shikibetsuCode" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
            <result property="hihokenshaNo" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
            <result property="rirekiNo" column="rirekiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
            <result property="shichosonCode" column="shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
            <result property="juminShubetsuCode" column="juminShubetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
            <result property="atenaShimei" column="atenaShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
            <result property="atenaKanaShimei" column="atenaKanaShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaKanaMeishoTypeHandler"/>
            <result property="seinengappiYMD" column="seinengappiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
            <result property="seibetsuCode" column="seibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
            <result property="idoJiyuCode" column="idoJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
            <result property="torokuIdoYMD" column="torokuIdoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
            <result property="tenshutsuYoteiJusho" column="tenshutsuYoteiJusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaJushoTypeHandler"/>
        </resultMap>
</mapper>
