<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBC-2820-010 sunhui -->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.sogojigyohisaishinsaketteihokenshain.ISogojigyohiSaishinsaKetteiHokenshaInMapper">
    <select id="get帳票出力対象データ"
                resultMap="resultMap_SogojigyohiSaishinsaKetteiHokenshaInEntity" 
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.sogojigyohisaishinsaketteihokenshain.SogojigyohiSaishinsaDoIchiranhyoSakuseiMyBatisParameter"  fetchSize="500" resultOrdered="true">
        SELECT 
        <include refid="allColumns_SogojigyohiSaishinsaKetteiHokenshaIn" />
        FROM "DbWT3063SaishinsaKetteiShukei" AS DbWT3063 
        INNER JOIN "DbWT3064SaishinsaKetteiMeisai" AS DbWT3064 
        ON DbWT3063."hdrRirekiNo" = DbWT3064."rirekiNo"
        INNER JOIN "DbWT0001Hihokensha" AS DbWT0001 
        ON DbWT3064."renban" = DbWT0001."meisaiRenban"
        ${出力順}
    </select>
    
    <resultMap id="resultMap_SogojigyohiSaishinsaKetteiHokenshaInEntity"
                type="jp.co.ndensan.reams.db.dbc.entity.db.relate.sogojigyohisaishinsaketteihokenshain.SogojigyohiSaishinsaKetteiHokenshaInEntity"
                autoMapping="true">
        <result property="国保連合会名" column="dbwt3063_kokuhoRengokaiName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="審査委員会名" column="dbwt3063_sinsaiinkaiName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>  
        <result property="証記載保険者番号" column="dbwt3063_hdrShoHokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShoKisaiHokenshaNoTypeHandler"/>        
        <result property="証記載保険者名" column="dbwt3063_hdrShoHokenshaMei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>     
        <result property="取扱年月" column="dbwt3064_toriatsukaiYm" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>     
        <result property="事業者番号" column="dbwt3064_jigyoshoNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.JigyoshaNoTypeHandler"/>     
        <result property="事業者名" column="dbwt3064_jigyoshoMei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="被保険者番号" column="dbwt0001_hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="被保険者氏名" column="dbwt0001_orgHihokenshaShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="サービス提供年月" column="dbwt3064_serviceTeikyoYm" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler"/>
        <result property="サービス種類コード" column="dbwt3064_serviceShuruiCode" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ServiceShuruiCodeTypeHandler"/>
        <result property="サービス種類名" column="dbwt3064_serviceShuruiName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="申立事由コード" column="dbwt3064_kagomoushitateJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="申立事由" column="dbwt3064_kagomoushitateJiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="当初請求単位数" column="dbwt3064_toshoSeikyuTanisu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="原審単位数" column="dbwt3064_genshinSeikyuTanisu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="決定単位数" column="dbwt3064_ketteiTanisu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="調整単位数" column="dbwt3064_choseiTanisu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="保険者負担額" column="dbwt3064_hokenshaFutangaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="総合事業費_決定_件数" column="dbwt3063_kaigoKyufuhiKetteiKensu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="総合事業費_決定_単位数" column="dbwt3063_kaigoKyufuhiKetteiTanisu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="総合事業費_決定_負担額" column="dbwt3063_kaigoKyufuhiKetteiFutangaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="総合事業費_調整_件数" column="dbwt3063_kaigoKyufuhiChoseiKensu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="総合事業費_調整_単位数" column="dbwt3063_kaigoKyufuhiChoseiTanisu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="総合事業費_調整_負担額" column="dbwt3063_kaigoKyufuhiChoseiFutangaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="識別コード" column="dbwt0001_shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="履歴番号" column="dbwt3063_hdrRirekiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="郵便番号" column="dbwt0001_yubinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler"/>
        <result property="町域コード" column="dbwt0001_choikiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ChoikiCodeTypeHandler"/>
        <result property="行政区コード" column="dbwt0001_gyoseikuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="氏名５０音カナ" column="dbwt0001_shimei50onKana" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="保険者番号" column="dbwt3063_hokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HokenshaNoTypeHandler"/>        
        <result property="保険者名" column="dbwt3063_hokenshaName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>     
    </resultMap>
    
    <sql id="allColumns_SogojigyohiSaishinsaKetteiHokenshaIn">
        DbWT3063."kokuhoRengokaiName" AS dbwt3063_kokuhoRengokaiName,
        DbWT3063."sinsaiinkaiName" AS dbwt3063_sinsaiinkaiName,
        DbWT3063."hdrShoHokenshaNo" AS dbwt3063_hdrShoHokenshaNo,
        DbWT3063."hdrShoHokenshaMei" AS dbwt3063_hdrShoHokenshaMei,
        DbWT3064."toriatsukaiYm" AS dbwt3064_toriatsukaiYm,
        DbWT3064."jigyoshoNo" AS dbwt3064_jigyoshoNo,
        DbWT3064."jigyoshoMei" AS dbwt3064_jigyoshoMei,
        DbWT0001."hihokenshaNo" AS dbwt0001_hihokenshaNo,
        DbWT0001."orgHihokenshaShimei" AS dbwt0001_orgHihokenshaShimei,
        DbWT3064."serviceTeikyoYm" AS dbwt3064_serviceTeikyoYm,
        DbWT3064."serviceShuruiCode" AS dbwt3064_serviceShuruiCode,
        DbWT3064."serviceShuruiName" AS dbwt3064_serviceShuruiName,
        DbWT3064."kagomoushitateJiyuCode" AS dbwt3064_kagomoushitateJiyuCode,
        DbWT3064."kagomoushitateJiyu" AS dbwt3064_kagomoushitateJiyu,
        DbWT3064."toshoSeikyuTanisu" AS dbwt3064_toshoSeikyuTanisu,
        DbWT3064."genshinSeikyuTanisu" AS dbwt3064_genshinSeikyuTanisu,
        DbWT3064."ketteiTanisu" AS dbwt3064_ketteiTanisu,
        DbWT3064."choseiTanisu" AS dbwt3064_choseiTanisu,
        DbWT3064."hokenshaFutangaku" AS dbwt3064_hokenshaFutangaku,
        DbWT3063."kaigoKyufuhiKetteiKensu" AS dbwt3063_kaigoKyufuhiKetteiKensu,
        DbWT3063."kaigoKyufuhiKetteiTanisu" AS dbwt3063_kaigoKyufuhiKetteiTanisu,
        DbWT3063."kaigoKyufuhiKetteiFutangaku" AS dbwt3063_kaigoKyufuhiKetteiFutangaku,
        DbWT3063."kaigoKyufuhiChoseiKensu" AS dbwt3063_kaigoKyufuhiChoseiKensu,
        DbWT3063."kaigoKyufuhiChoseiTanisu" AS dbwt3063_kaigoKyufuhiChoseiTanisu,
        DbWT3063."kaigoKyufuhiChoseiFutangaku" AS dbwt3063_kaigoKyufuhiChoseiFutangaku,
        DbWT0001."shikibetsuCode" AS dbwt0001_shikibetsuCode,
        DbWT3063."hdrRirekiNo" AS dbwt3063_hdrRirekiNo,
        DbWT0001."yubinNo" AS dbwt0001_yubinNo,
        DbWT0001."choikiCode" AS dbwt0001_choikiCode,
        DbWT0001."gyoseikuCode" AS dbwt0001_gyoseikuCode,
        DbWT0001."shimei50onKana" AS dbwt0001_shimei50onKana,
        DbWT3063."hokenshaNo" AS dbwt3063_hokenshaNo,
        DbWT3063."hokenshaMei" AS dbwt3063_hokenshaMei
    </sql>
</mapper>
