<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： 主治医意見書作成依頼のマッピング用XMLです。 -->
<!--@reamsid_L DBE-0050-010 zuotao-->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.relate.shujiiikenshosakuseiirai.IShujiiIkenshoSakuseiIraiMapper">

    <select resultOrdered="true" id="get割付済み申請者情報" resultMap="result_WaritsukeShinseishaJoho"
            parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.shujiiikenshosakuseiirai.ShujiiIkenshoSakuseiIraiParameter"
            fetchSize="500">
        SELECT
            "DbT5101NinteiShinseiJoho"."koroshoIfShikibetsuCode"
          , "DbT5101NinteiShinseiJoho"."hihokenshaNo"
          , "DbT5101NinteiShinseiJoho"."hihokenshaName"
          , "DbT5101NinteiShinseiJoho"."seibetsu"
          , "DbT5101NinteiShinseiJoho"."ninteiShinseiYMD"
          , "DbT5101NinteiShinseiJoho"."ninteiShinseiShinseijiKubunCode" AS "ninteiShinseiKubunCode"
          , "DbT5301ShujiiIkenshoIraiJoho"."ikenshoIraiKubun"
          , "DbT5101NinteiShinseiJoho"."jusho"
          , "DbT5101NinteiShinseiJoho"."hihokenshaKana"
          , "DbT5101NinteiShinseiJoho"."seinengappiYMD"
          , "DbT5101NinteiShinseiJoho"."yubinNo"
          , "DbT5101NinteiShinseiJoho"."telNo"
          , "DbT5101NinteiShinseiJoho"."ninteiShinseiYMD" AS "ninteiShinseiYMDKoShin"
          , "DbT5101NinteiShinseiJoho"."zenkaiNinteiYMD"
          , "DbT5101NinteiShinseiJoho"."zenYokaigoKubunCode"
          , "DbT5101NinteiShinseiJoho"."age"
          , "DbT5301ShujiiIkenshoIraiJoho"."ikenshoSakuseiIraiYMD"
          , "DbT5301ShujiiIkenshoIraiJoho"."ikenshoSakuseiKigenYMD"
          , "DbT5301ShujiiIkenshoIraiJoho"."iraishoShutsuryokuYMD"
          , "DbT5301ShujiiIkenshoIraiJoho"."seikyushoShutsuryokuYMD"
          , "DbT5301ShujiiIkenshoIraiJoho"."sakuseiryoSeikyuKubun"
          , "DbT5911ShujiiIryoKikanJoho"."iryoKikanMeisho"
          , "DbT5912ShujiiJoho"."shujiiName"
          , "DbT5911ShujiiIryoKikanJoho_pre"."iryoKikanMeisho" AS "Temp_iryoKikanMeisho"
          , "DbT5912ShujiiJoho_pre"."shujiiName" AS "Temp_shujiiName"
          , "DbT5101NinteiShinseiJoho"."shinseishoKanriNo"
          , "DbT5101NinteiShinseiJoho"."shoKisaiHokenshaNo" AS "hokenshaNo"
          , "DbT5101NinteiShinseiJoho"."shichosonCode"
          , "DbT5301ShujiiIkenshoIraiJoho"."ikenshoIraiRirekiNo" AS "ikenshoIraiRirekiNo"
          , <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5105NinteiKanryoJohoMapper.allColumns_DbT5105NinteiKanryoJoho" />
          , <include refid="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5301ShujiiIkenshoIraiJohoMapper.allColumns_DbT5301ShujiiIkenshoIraiJoho" />
        FROM
        (
            SELECT
                *
            FROM
                rgdb."DbT5101NinteiShinseiJoho" AS dbt5101
            WHERE
                 dbt5101."shichosonCode" = #{市町村コード}
             AND dbt5101."shoKisaiHokenshaNo" = #{証記載保険者番号}
             <if test="uses支所コード">
                AND dbt5101."shishoCode" = #{支所コード}
             </if>
             AND dbt5101."shoriJotaiKubun" IN ('0', '3')
             AND dbt5101."logicalDeletedFlag" = FALSE
        ) AS "DbT5101NinteiShinseiJoho"
        INNER JOIN
            rgdb."DbT5105NinteiKanryoJoho" AS "DbT5105NinteiKanryoJoho"
          ON "DbT5105NinteiKanryoJoho"."shinseishoKanriNo" = "DbT5101NinteiShinseiJoho"."shinseishoKanriNo"
         AND "DbT5105NinteiKanryoJoho"."ninteiShinseiJohoTorokuKanryoYMD" IS NOT NULL
         AND "DbT5105NinteiKanryoJoho"."shinseishoKanriNo" IN (
            SELECT DISTINCT
                CASE
                    WHEN DbT5302."shinseishoKanriNo" IS NULL THEN DbT5101."shinseishoKanriNo"
                    ELSE ''
                END
            FROM
                rgdb."DbT5101NinteiShinseiJoho" DbT5101
            LEFT JOIN
                rgdb."DbT5302ShujiiIkenshoJoho" DbT5302
              ON DbT5101."shinseishoKanriNo" = DbT5302."shinseishoKanriNo"
         )
        INNER JOIN
            rgdb."DbT5301ShujiiIkenshoIraiJoho" AS "DbT5301ShujiiIkenshoIraiJoho"
          ON "DbT5301ShujiiIkenshoIraiJoho"."shinseishoKanriNo" = "DbT5101NinteiShinseiJoho"."shinseishoKanriNo"
         AND "DbT5301ShujiiIkenshoIraiJoho"."logicalDeletedFlag" = FALSE
         AND NOT EXISTS (
            SELECT *
            FROM
                rgdb."DbT5301ShujiiIkenshoIraiJoho" AS DbT5301
            WHERE
                 DbT5301."shinseishoKanriNo" = "DbT5301ShujiiIkenshoIraiJoho"."shinseishoKanriNo"
             AND DbT5301."logicalDeletedFlag" = "DbT5301ShujiiIkenshoIraiJoho"."logicalDeletedFlag"
             AND DbT5301."ikenshoIraiRirekiNo" <![CDATA[>]]> "DbT5301ShujiiIkenshoIraiJoho"."ikenshoIraiRirekiNo"
         )
         AND "DbT5301ShujiiIkenshoIraiJoho"."shujiiIryokikanCode" = #{主治医医療機関コード}
         AND "DbT5301ShujiiIkenshoIraiJoho"."shujiiCode" = #{主治医コード}
        LEFT JOIN
            rgdb."DbT5911ShujiiIryoKikanJoho" AS "DbT5911ShujiiIryoKikanJoho"
          ON "DbT5911ShujiiIryoKikanJoho"."shichosonCode" = "DbT5101NinteiShinseiJoho"."shichosonCode"
         AND "DbT5911ShujiiIryoKikanJoho"."shujiiIryokikanCode" = "DbT5301ShujiiIkenshoIraiJoho"."shujiiIryokikanCode"
        LEFT JOIN
            rgdb."DbT5912ShujiiJoho" AS "DbT5912ShujiiJoho"
          ON "DbT5912ShujiiJoho"."shichosonCode" = "DbT5101NinteiShinseiJoho"."shichosonCode"
         AND "DbT5912ShujiiJoho"."shujiiIryokikanCode" = "DbT5301ShujiiIkenshoIraiJoho"."shujiiIryokikanCode"
         AND "DbT5912ShujiiJoho"."shujiiCode" = "DbT5301ShujiiIkenshoIraiJoho"."shujiiCode"
        LEFT JOIN
            rgdb."DbT5121ShinseiRirekiJoho" AS "DbT5121ShinseiRirekiJoho"
          ON "DbT5121ShinseiRirekiJoho"."shinseishoKanriNo" = "DbT5101NinteiShinseiJoho"."shinseishoKanriNo"
        LEFT JOIN
            rgdb."DbT5101NinteiShinseiJoho" AS "DbT5101NinteiShinseiJoho_pre"
          ON "DbT5101NinteiShinseiJoho_pre"."shinseishoKanriNo" = "DbT5121ShinseiRirekiJoho"."zenkaiShinseishoKanriNo"
        LEFT JOIN
            rgdb."DbT5301ShujiiIkenshoIraiJoho" AS "DbT5301ShujiiIkenshoIraiJoho_pre"
          ON "DbT5301ShujiiIkenshoIraiJoho_pre"."shinseishoKanriNo" = "DbT5101NinteiShinseiJoho_pre"."shinseishoKanriNo"
         AND "DbT5301ShujiiIkenshoIraiJoho_pre"."logicalDeletedFlag" = FALSE
         AND NOT EXISTS (
            SELECT *
            FROM
               rgdb."DbT5301ShujiiIkenshoIraiJoho" AS DbT5301Pre
            WHERE
                 DbT5301Pre."shinseishoKanriNo" = "DbT5301ShujiiIkenshoIraiJoho_pre"."shinseishoKanriNo"
             AND DbT5301Pre."logicalDeletedFlag" = "DbT5301ShujiiIkenshoIraiJoho_pre"."logicalDeletedFlag"
             AND DbT5301Pre."ikenshoIraiRirekiNo" <![CDATA[>]]> "DbT5301ShujiiIkenshoIraiJoho_pre"."ikenshoIraiRirekiNo"
        )
        LEFT JOIN
            rgdb."DbT5302ShujiiIkenshoJoho" AS DbT5302Pre
          ON DbT5302Pre."shinseishoKanriNo" = "DbT5301ShujiiIkenshoIraiJoho_pre"."shinseishoKanriNo"
         AND DbT5302Pre."ikenshoIraiRirekiNo" = "DbT5301ShujiiIkenshoIraiJoho_pre"."ikenshoIraiRirekiNo"
        LEFT JOIN
            rgdb."DbT5911ShujiiIryoKikanJoho" AS "DbT5911ShujiiIryoKikanJoho_pre"
          ON "DbT5911ShujiiIryoKikanJoho_pre"."shichosonCode" = "DbT5101NinteiShinseiJoho_pre"."shichosonCode"
         AND "DbT5911ShujiiIryoKikanJoho_pre"."shujiiIryokikanCode" = DbT5302Pre."shujiiIryoKikanCode"
        LEFT JOIN
            rgdb."DbT5912ShujiiJoho" AS "DbT5912ShujiiJoho_pre"
         ON "DbT5912ShujiiJoho_pre"."shichosonCode" = "DbT5101NinteiShinseiJoho_pre"."shichosonCode"
         AND "DbT5912ShujiiJoho_pre"."shujiiIryokikanCode" = DbT5302Pre."shujiiIryoKikanCode"
         AND "DbT5912ShujiiJoho_pre"."shujiiCode" = DbT5302Pre."shujiiCode"
        ORDER BY
              "DbT5101NinteiShinseiJoho"."shujiiIryokikanCode"
            , "DbT5301ShujiiIkenshoIraiJoho"."iraishoShutsuryokuYMD"
            , "DbT5101NinteiShinseiJoho"."ninteiShinseiYMD"
            , "DbT5101NinteiShinseiJoho"."hihokenshaKana"
    </select>

    <resultMap id="result_WaritsukeShinseishaJoho" type="jp.co.ndensan.reams.db.dbe.entity.db.relate.shujiiikenshosakuseiirai.WaritsukeEntity">
        <result property="koroshoIfShikibetsuCode" column="koroshoIfShikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="hihokenshaNo" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hihokenshaName" column="hihokenshaName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="seibetsu" column="seibetsu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="ninteiShinseiYMD" column="ninteiShinseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ninteiShinseiKubunCode" column="ninteiShinseiKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="ikenshoIraiKubun" column="ikenshoIraiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="jusho" column="jusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaJushoTypeHandler"/>
        <result property="hihokenshaKana" column="hihokenshaKana" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaKanaMeishoTypeHandler"/>
        <result property="seinengappiYMD" column="seinengappiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="yubinNo" column="yubinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler"/>
        <result property="telNo" column="telNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.TelNoTypeHandler"/>
        <result property="ninteiShinseiYMDKoShin" column="ninteiShinseiYMDKoShin" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="zenkaiNinteiYMD" column="zenkaiNinteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="zenYokaigoKubunCode" column="zenYokaigoKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="age" column="age"/>
        <result property="ikenshoSakuseiIraiYMD" column="ikenshoSakuseiIraiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ikenshoSakuseiKigenYMD" column="ikenshoSakuseiKigenYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="iraishoShutsuryokuYMD" column="iraishoShutsuryokuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ikenshoShutsuryokuYMD" column="ikenshoShutsuryokuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="seikyushoShutsuryokuYMD" column="seikyushoShutsuryokuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="sakuseiryoSeikyuKubun" column="sakuseiryoSeikyuKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="iryoKikanMeisho" column="iryoKikanMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shujiiName" column="shujiiName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="temp_iryoKikanMeisho" column="Temp_iryoKikanMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="temp_shujiiName" column="Temp_shujiiName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="shinseishoKanriNo" column="shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hokenshaNo" column="hokenshaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shichosonCode" column="shichosonCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="ikenshoIraiRirekiNo" column="ikenshoIraiRirekiNo" />
        <association property="ninteiKanryoJohoEntity" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5105NinteiKanryoJohoMapper.ResultMap_DbT5105NinteiKanryoJohoEntity"/>
        <association property="shujiiIkenshoIraiJohoEntity" resultMap="jp.co.ndensan.reams.db.dbz.persistence.db.mapper.basic.IDbT5301ShujiiIkenshoIraiJohoMapper.ResultMap_DbT5301ShujiiIkenshoIraiJohoEntity"/>
    </resultMap>

    <select resultOrdered="true" id="get未割付申請者情報" resultMap="result_MiwaritsukeShinseishaJoho"
            parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.shujiiikenshosakuseiirai.ShujiiIkenshoSakuseiIraiParameter"
            fetchSize="500">
        SELECT
            dbt5101."koroshoIfShikibetsuCode" AS "koroshoIfShikibetsuCode"
            , dbt5101."hihokenshaNo" AS "hihokenshaNo"
            , dbt5101."hihokenshaName" AS "hihokenshaName"
            , dbt5101."seibetsu" AS "seibetsu"
            , dbt5101."ninteiShinseiYMD" AS "ninteiShinseiYMD"
            , dbt5101."ninteiShinseiShinseijiKubunCode" AS "ninteiShinseiKubunCode"
            , CASE
                WHEN EXISTS (
                    SELECT *
                    FROM
                        rgdb."DbT5502ShinsakaiWariateJoho" T5502
                    WHERE
                        T5502."shinseishoKanriNo" = dbt5101."shinseishoKanriNo"
                     AND T5502."hanteiKekkaCode" IN
                        <foreach collection="判定結果コードs_再調査" item="code" open="("
                                 separator=","
                                 close=")">
                            #{code}
                        </foreach>
                ) THEN '3'
                WHEN dbt5301."shinseishoKanriNo" IS NOT NULL THEN '2'
                ELSE '1'
               END AS "ikenshoIraiKubun"
            , dbt5101."jusho" AS "jusho"
            , dbt5911shujii."iryoKikanMeisho" AS iryoKikanMeisho
            , dbt5912shujii."shujiiName" AS shujiiName
            , dbt5911zenkai."iryoKikanMeisho" AS temp_iryoKikanMeisho
            , dbt5912zenkai."shujiiName" AS temp_shujiiName
            , dbt5101."shinseishoKanriNo" AS "shinseishoKanriNo"
            , dbt5301."ikenshoIraiRirekiNo" AS "ikenshoIraiRirekiNo"
            , dbt5101."shoKisaiHokenshaNo" AS "hokenshaNo"
        FROM
        (
            SELECT
                *
            FROM
                rgdb."DbT5101NinteiShinseiJoho" dbt5101a
            WHERE
                 dbt5101a."shichosonCode" = #{市町村コード}
             AND dbt5101a."shoKisaiHokenshaNo" = #{証記載保険者番号}
             AND dbt5101a."shoriJotaiKubun" IN ('0', '3')
             AND dbt5101a."ninteiShinseiShinseijiKubunCode" NOT IN ('5', '6', 'A', 'B')
             AND dbt5101a."logicalDeletedFlag" = FALSE
        ) AS dbt5101
        LEFT JOIN
            rgdb."DbT5301ShujiiIkenshoIraiJoho" AS DbT5301
          ON DbT5301."shinseishoKanriNo" = DbT5101."shinseishoKanriNo"
         AND NOT EXISTS (
            SELECT *
            FROM
                rgdb."DbT5301ShujiiIkenshoIraiJoho" AS DbT5301b
            WHERE
                 DbT5301b."shinseishoKanriNo" = DbT5301."shinseishoKanriNo"
             AND DbT5301b."ikenshoIraiRirekiNo" <![CDATA[>]]> DbT5301."ikenshoIraiRirekiNo"
         )
        INNER JOIN
            rgdb."DbT5105NinteiKanryoJoho" AS dbt5105
          ON dbt5101."shinseishoKanriNo" = dbt5105."shinseishoKanriNo"
         AND dbt5105."ninteiShinseiJohoTorokuKanryoYMD" IS NOT NULL
         AND dbt5105."ikenshoSakuseiIraiKanryoYMD" IS NULL
        LEFT JOIN
            rgdb."DbT5911ShujiiIryoKikanJoho" AS dbt5911shujii
          ON dbt5911shujii."shichosonCode" = dbt5101."shichosonCode"
         AND dbt5911shujii."shujiiIryokikanCode" = dbt5101."shujiiIryokikanCode"
        LEFT JOIN
            rgdb."DbT5912ShujiiJoho" AS dbt5912shujii
          ON dbt5912shujii."shichosonCode" = dbt5101."shichosonCode"
         AND dbt5912shujii."shujiiIryokikanCode" = dbt5101."shujiiIryokikanCode"
         AND dbt5912shujii."shujiiCode" = dbt5101."shujiiCode"
        INNER JOIN
            rgdb."DbT5121ShinseiRirekiJoho" AS dbt5121shinsei
          ON dbt5121shinsei."shinseishoKanriNo" = dbt5101."shinseishoKanriNo"
        LEFT JOIN
            rgdb."DbT5101NinteiShinseiJoho" AS dbt5101zenkai
          ON dbt5101zenkai."shinseishoKanriNo" = dbt5121shinsei."zenkaiShinseishoKanriNo"
        LEFT JOIN
            rgdb."DbT5301ShujiiIkenshoIraiJoho" AS DbT5301zenkai
          ON DbT5301zenkai."shinseishoKanriNo" = dbt5101zenkai."shinseishoKanriNo"
         AND DbT5301zenkai."logicalDeletedFlag" = FALSE
         AND NOT EXISTS (
            SELECT *
            FROM
               rgdb."DbT5301ShujiiIkenshoIraiJoho" AS DbT5301zenkaiB
            WHERE
                 DbT5301zenkaiB."shinseishoKanriNo" = DbT5301zenkai."shinseishoKanriNo"
             AND DbT5301zenkaiB."logicalDeletedFlag" = DbT5301zenkai."logicalDeletedFlag"
             AND DbT5301zenkaiB."ikenshoIraiRirekiNo" <![CDATA[>]]> DbT5301zenkai."ikenshoIraiRirekiNo"
        )
        LEFT JOIN
            rgdb."DbT5302ShujiiIkenshoJoho" AS DbT5302zenkai
          ON DbT5302zenkai."shinseishoKanriNo" = DbT5301zenkai."shinseishoKanriNo"
         AND DbT5302zenkai."ikenshoIraiRirekiNo" = DbT5301zenkai."ikenshoIraiRirekiNo"
        LEFT JOIN
            rgdb."DbT5911ShujiiIryoKikanJoho" AS dbt5911zenkai
          ON dbt5911zenkai."shujiiIryokikanCode" = DbT5302zenkai."shujiiIryoKikanCode"
         AND dbt5911zenkai."shichosonCode" = dbt5101zenkai."shichosonCode"
        LEFT JOIN
            rgdb."DbT5912ShujiiJoho" AS dbt5912zenkai
          ON dbt5912zenkai."shujiiIryokikanCode" = DbT5302zenkai."shujiiIryoKikanCode"
         AND dbt5912zenkai."shichosonCode" = dbt5101zenkai."shichosonCode"
         AND dbt5912zenkai."shujiiCode" = DbT5302zenkai."shujiiCode"
        WHERE
            dbt5301."shinseishoKanriNo" IS NULL
         OR dbt5301."logicalDeletedFlag" = TRUE
        ORDER BY
            dbt5101."chosaKubun"
          , dbt5101."ninteiShinseiYMD"
          , dbt5101."hihokenshaKana"
    </select>

    <resultMap id="result_MiwaritsukeShinseishaJoho" type="jp.co.ndensan.reams.db.dbe.entity.db.relate.shujiiikenshosakuseiirai.WaritsukeEntity">
        <result property="koroshoIfShikibetsuCode" column="koroshoIfShikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="hihokenshaNo" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hihokenshaName" column="hihokenshaName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="seibetsu" column="seibetsu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="ninteiShinseiYMD" column="ninteiShinseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ninteiShinseiKubunCode" column="ninteiShinseiShinseijiKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="ikenshoIraiKubun" column="ikenshoIraiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="jusho" column="jusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaJushoTypeHandler"/>
        <result property="iryoKikanMeisho" column="iryoKikanMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shujiiName" column="shujiiName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="temp_iryoKikanMeisho" column="Temp_iryoKikanMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="temp_shujiiName" column="Temp_shujiiName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="shinseishoKanriNo" column="shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="ikenshoIraiRirekiNo" column="ikenshoIraiRirekiNo" />
        <result property="shujiiIryokikanCode" column="shujiiIryokikanCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shujiiCode" column="shujiiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="hokenshaNo" column="hokenshaNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>

    <select resultOrdered="true" id="get宛名情報" resultMap="resultMap_ShujiiIraiAtena"
            parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatisprm.shujiiikenshosakuseiirai.ShujiiIraiAtenaJohoParameter"
            fetchSize="500">
        SELECT
        DbT5911."iryoKikanMeisho" AS "atenaKikanMeisho"
        ,DbT5911."yubinNo" AS "atenaYubinNo"
        ,DbT5911."jusho" AS "atenaJusho"
        ,DbT5912."shujiiName" AS "atenaShimei"
        FROM
        rgdb."DbT5912ShujiiJoho" AS DbT5912
        LEFT JOIN rgdb."DbT5911ShujiiIryoKikanJoho" AS DbT5911
        ON DbT5912."shichosonCode" = DbT5911."shichosonCode"
        AND DbT5912."shujiiIryokikanCode"= DbT5911."shujiiIryokikanCode"
        WHERE
        DbT5912."shujiiIryokikanCode" = #{shujiiIryokikanCode}
        AND DbT5912."shujiiCode" = #{shujiiCode}
        AND DbT5912."shichosonCode"= #{shichosonCode}
        limit 1
    </select>

    <resultMap id="resultMap_ShujiiIraiAtena" type="jp.co.ndensan.reams.db.dbe.entity.db.relate.shujiiikenshosakuseiirai.ShujiiIraiAtenaJohoRelateEntity" autoMapping="true">
        <result property="atenaKikanMeisho" column="atenaKikanMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="atenaYubinNo" column="atenaYubinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler"/>
        <result property="atenaJusho" column="atenaJusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaJushoTypeHandler"/>
        <result property="atenaShimei" column="atenaShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
    </resultMap>
</mapper>
