<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBD-3610-050 jinge -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.relate.kyufugengakulist.IKyufuGengakuHaakuListTaishoTokuteiMapper">

    <select id="get対象者把握情報" 
            resultType="jp.co.ndensan.reams.db.dbd.entity.db.relate.kyufugengakulist.KyufuGengakuHaakuListTaishoTokuteiEntity"
            resultOrdered="true" fetchSize="500"
            parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.dbdbt32003.KyufuGengakuHaakuListTaishoTokuteiMybatisParameter">
        SELECT
        DISTINCT 
        "ShunoJokyoTemp"."tmp_hihokenshaNo" AS "hihokenshaNo"
        FROM
        "ShunoJokyoTemp"
        WHERE
        #{基準日} <![CDATA[<]]> TO_DATE("ShunoJokyoTemp"."tmp_jikoKisanYMD", 'YYYYMMDD') + interval '2 year'
        AND "ShunoJokyoTemp"."tmp_minoKannoKubun" = '3'
        <if test="is時効起算日登録者のみ">
            AND EXISTS(
            SELECT 
            DISTINCT A."tmp_hihokenshaNo" AS 時効起算日登録者
            FROM
            "ShunoJokyoTemp" AS A
            INNER JOIN(
            SELECT *
            FROM rgdb."DbT4023JikoKisambiKanri" AS 時効起算日管理_明細
            WHERE
            NOT EXISTS(
            SELECT 1
            FROM
            rgdb."DbT4023JikoKisambiKanri" AS 時効起算日管理temp
            WHERE
            時効起算日管理_明細."hihokenshaNo" = 時効起算日管理temp."hihokenshaNo" AND
            時効起算日管理_明細."choteiNendo" = 時効起算日管理temp."choteiNendo" AND
            時効起算日管理_明細."fukaNendo" = 時効起算日管理temp."fukaNendo" AND
            時効起算日管理_明細."tokucho_FuchoKubun" = 時効起算日管理temp."tokucho_FuchoKubun" AND
            時効起算日管理_明細."tsuchishoNo" = 時効起算日管理temp."tsuchishoNo" AND
            時効起算日管理_明細."shuno_Ki_Tsuki" = 時効起算日管理temp."shuno_Ki_Tsuki" AND
            時効起算日管理_明細."rirekiNo" <![CDATA[<]]> 時効起算日管理temp."rirekiNo" 
            )
            AND 時効起算日管理_明細."logicalDeletedFlag" = FALSE
            ) AS 時効起算日管理
            ON A."tmp_hihokenshaNo" = 時効起算日管理."hihokenshaNo"
            AND A."tmp_choteiNendo" = 時効起算日管理."choteiNendo"
            AND A."tmp_fukaNendo" = 時効起算日管理."fukaNendo"
            AND A."tmp_tsuchishoNo" = 時効起算日管理."tsuchishoNo"
            AND A."tmp_kibetsu" = 時効起算日管理."shuno_Ki_Tsuki"
            AND A."tmp_tokucho_FuchoKubun" = 時効起算日管理."tokucho_FuchoKubun"
            )
        </if>
        <if test="is時効起算日登録者以外"> 
            AND NOT EXISTS(
            SELECT 
            DISTINCT A."tmp_hihokenshaNo" AS 時効起算日登録者
            FROM
            "ShunoJokyoTemp" AS A
            INNER JOIN(
            SELECT *
            FROM rgdb."DbT4023JikoKisambiKanri" AS 時効起算日管理_明細
            WHERE
            NOT EXISTS(
            SELECT 1
            FROM
            rgdb."DbT4023JikoKisambiKanri" AS 時効起算日管理temp
            WHERE
            時効起算日管理_明細."hihokenshaNo" = 時効起算日管理temp."hihokenshaNo" AND
            時効起算日管理_明細."choteiNendo" = 時効起算日管理temp."choteiNendo" AND
            時効起算日管理_明細."fukaNendo" = 時効起算日管理temp."fukaNendo" AND
            時効起算日管理_明細."tokucho_FuchoKubun" = 時効起算日管理temp."tokucho_FuchoKubun" AND
            時効起算日管理_明細."tsuchishoNo" = 時効起算日管理temp."tsuchishoNo" AND
            時効起算日管理_明細."shuno_Ki_Tsuki" = 時効起算日管理temp."shuno_Ki_Tsuki" AND
            時効起算日管理_明細."rirekiNo" <![CDATA[<]]> 時効起算日管理temp."rirekiNo" 
            )
            AND 時効起算日管理_明細."logicalDeletedFlag" = FALSE
            ) AS 時効起算日管理
            ON A."tmp_hihokenshaNo" = 時効起算日管理."hihokenshaNo"
            AND A."tmp_choteiNendo" = 時効起算日管理."choteiNendo"
            AND A."tmp_fukaNendo" = 時効起算日管理."fukaNendo"
            AND A."tmp_tsuchishoNo" = 時効起算日管理."tsuchishoNo"
            AND cast(A."tmp_kibetsu" AS "char") = 時効起算日管理."shuno_Ki_Tsuki" 
            AND A."tmp_tokucho_FuchoKubun" = 時効起算日管理."tokucho_FuchoKubun"
            )
        </if>
        <if test="is被保険者全員以外">
            <if test="is受給認定申請中者チェックオン">
                INNER JOIN rgdb."DbV4001JukyushaDaicho"
                ON "shinseiJokyoKubun" = '0'
            </if>
            <if test="is受給認定日抽出チェックオン">
                INNER JOIN rgdb."DbV4001JukyushaDaicho"
                ON #{受給認定日抽出の開始} <![CDATA[<=]]> "ninteiYMD"
                AND "ninteiYMD" <![CDATA[<=]]>#{受給認定日抽出の終了}
            </if>
            <if test="is認定有効終了日抽出チェックオン">
                INNER JOIN rgdb."DbV4001JukyushaDaicho"
                ON #{認定有効終了日抽出の開始} <![CDATA[<=]]> "ninteiYukoKikanShuryoYMD"
                AND "ninteiYukoKikanShuryoYMD" <![CDATA[<=]]> #{認定有効終日抽出の終了} 	
            </if>
        </if>
        <if test="is保険料完納者も出力チェックオン">
            UNION
            SELECT
            A."tmp_hihokenshaNo"
            FROM
            "ShunoJokyoTemp" AS A
            WHERE NOT EXISTS(
            SELECT 1
            FROM "ShunoJokyoTemp" AS B
            WHERE B."hihokenshaNo" = A."tmp_hihokenshaNo"
            AND B."minoKannoKubun" = '3'
            )	   
        </if>
    </select>
</mapper>