<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L DBD-3610-050 jinge -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.relate.kyufugengakulist.IShunoJokyoHaakuMapper">
    <resultMap id="ResultMap_ShunoTainoJokyoHaakuEntity" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.kyufugengakulist.ShunoTainoJokyoHaakuEntity" autoMapping="true">
    <result property="hihokenshaNo" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
    <result property="shikibetsuCode" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
    <result property="hihokenshaShimeiKana" column="hihokenshaShimeiKana" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaKanaMeishoTypeHandler"/>
    <result property="hihokenshaShimei" column="hihokenshaShimei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
    <result property="setaiCode" column="setaiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.SetaiCodeTypeHandler"/>
    <result property="gyoseikuCode" column="gyoseikuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.GyoseikuCodeTypeHandler"/>
    <result property="gyoseikuName" column="gyoseikuName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    <result property="jushoCode" column="jushoCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ZenkokuJushoCodeTypeHandler"/>
    <result property="yubinNo" column="yubinNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.YubinNoTypeHandler"/>
    <result property="jusho" column="jusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaJushoTypeHandler"/>
    <result property="shikakuShutokuYMD" column="shikakuShutokuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
    <result property="shikakuSoshitsuYMD" column="shikakuSoshitsuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
    <result property="shikakuSoshitsuJiyuCode" column="shikakuSoshitsuJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    <result property="hihokennshaKubunCode" column="hihokennshaKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    <result property="koikinaiJushochiTokureiFlag" column="koikinaiJushochiTokureiFlag" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    <result property="seihoFlag" column="seihoFlag" typeHandler="org.apache.ibatis.type.BooleanTypeHandler"/>
    <result property="koroshoIfShikibetsuCode" column="koroshoIfShikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
    <result property="yokaigoJotaiKubunCode" column="yokaigoJotaiKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
    <result property="ninteiYukoKikanKaishiYMD" column="ninteiYukoKikanKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
    <result property="ninteiYukoKikanShuryoYMD" column="ninteiYukoKikanShuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
    <result property="ninteiYMD" column="ninteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
    <result property="shiseityuFlag" column="shiseityuFlag" typeHandler="org.apache.ibatis.type.BooleanTypeHandler"/>
    <result property="jukyuShinseiYMD" column="jukyuShinseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
    <result property="choteiNendo" column="choteiNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RYearTypeHandler"/>
    <result property="fukaNendo" column="fukaNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RYearTypeHandler"/>
    <result property="tokucho_FuchoKubun" column="tokucho_FuchoKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    <result property="tsuchishoNo" column="tsuchishoNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.TsuchishoNoTypeHandler"/>
    <result property="kibetsu" column="kibetsu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    <result property="choteigaku" column="choteigaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
    <result property="shunyugaku" column="shunyugaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
    <result property="minogaku" column="minogaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
    <result property="shunyuYMD" column="shunyuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTypeHandler"/>
    <result property="tokusokujoHakkoYMD" column="tokusokujoHakkoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTypeHandler"/>
    <result property="jikoKisanYMD" column="jikoKisanYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
    <result property="jikoKisanJiyu" column="jikoKisanJiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    <result property="minoKannoKubun" column="minoKannoKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    <result property="jikoKubun" column="jikoKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    <result property="hihokenshaNo2" column="hihokenshaNo2" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
    
    </resultMap>
    <select id="get収納滞納状況把握情報" 
            resultMap="ResultMap_ShunoTainoJokyoHaakuEntity"
            resultOrdered="true" fetchSize="500">
   SELECT
         収納状況一時テーブル."hihokenshaNo" AS hihokenshaNo,
	 収納状況一時テーブル."shikibetsuCode",
	 収納状況一時テーブル."hihokenshaShimeiKana",
	 収納状況一時テーブル."hihokenshaShimei",
	 収納状況一時テーブル."setaiCode",
	 収納状況一時テーブル."gyoseikuCode",
	 収納状況一時テーブル."gyoseikuName",
	 収納状況一時テーブル."jushoCode",
	 収納状況一時テーブル."yubinNo",
	 収納状況一時テーブル."jusho",
	 収納状況一時テーブル."shikakuShutokuYMD",
	 収納状況一時テーブル."shikakuSoshitsuYMD",
	 収納状況一時テーブル."shikakuSoshitsuJiyuCode",
	 収納状況一時テーブル."hihokennshaKubunCode", 
	 収納状況一時テーブル."koikinaiJushochiTokureiFlag",
	 収納状況一時テーブル."seihoFlag",
	 収納状況一時テーブル."koroshoIfShikibetsuCode",
	 収納状況一時テーブル."yokaigoJotaiKubunCode",
	 収納状況一時テーブル."ninteiYukoKikanKaishiYMD",
	 収納状況一時テーブル."ninteiYukoKikanShuryoYMD",
	 収納状況一時テーブル."ninteiYMD",
	 収納状況一時テーブル."shiseityuFlag",
	 収納状況一時テーブル."jukyuShinseiYMD",
	 収納状況一時テーブル."choteiNendo",
	 収納状況一時テーブル."fukaNendo",
	 収納状況一時テーブル."tokucho_FuchoKubun",
	 収納状況一時テーブル."tsuchishoNo",
	 収納状況一時テーブル."kibetsu",
	 収納状況一時テーブル."choteigaku",
	 収納状況一時テーブル."shunyugaku",
	 収納状況一時テーブル."minogaku",
	 収納状況一時テーブル."shunyuYMD",
	 収納状況一時テーブル."tokusokujoHakkoYMD",
	 収納状況一時テーブル."jikoKisanYMD",
	 収納状況一時テーブル."jikoKisanJiyu",
	 収納状況一時テーブル."minoKannoKubun",
	 収納状況一時テーブル."jikoKubun",
	 対象者情報一時テーブル."hihokenshaNo" AS hihokenshaNo2,
	 支払方法変更滞納.*
   FROM
     "ShunoJokyoTemp" AS 収納状況一時テーブル
   INNER JOIN "TaishoshaJohoTemp" AS 対象者情報一時テーブル
   ON 収納状況一時テーブル."hihokenshaNo" = 対象者情報一時テーブル."hihokenshaNo"
   LEFT JOIN rgdb."DbT4022ShiharaiHohoHenkoTaino" AS 支払方法変更滞納
   ON 収納状況一時テーブル."hihokenshaNo" = 支払方法変更滞納."hihokenshaNo"
   AND 収納状況一時テーブル."choteiNendo" = 支払方法変更滞納."choteiNendo"
   AND 収納状況一時テーブル."fukaNendo" = 支払方法変更滞納."fukaNendo"
   AND 収納状況一時テーブル."tsuchishoNo" = 支払方法変更滞納."tsuchishoNo"
   AND 収納状況一時テーブル."kibetsu" = 支払方法変更滞納."shuno_Ki_Tsuki"
   AND 収納状況一時テーブル."tokucho_FuchoKubun" = 支払方法変更滞納."Tokucho_fuchoKubun"  	   
    </select>
</mapper>