<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT5304ShujiiIkenshoIkenItemMapper">

    <sql id="allColumns_DbT5304ShujiiIkenshoIkenItem">
        "DbT5304ShujiiIkenshoIkenItem"."shinseishoKanriNo" as "dbT5304ShujiiIkenshoIkenItem_shinseishoKanriNo",
        "DbT5304ShujiiIkenshoIkenItem"."ikenshoIraiRirekiNo" as "dbT5304ShujiiIkenshoIkenItem_ikenshoIraiRirekiNo",
        "DbT5304ShujiiIkenshoIkenItem"."remban" as "dbT5304ShujiiIkenshoIkenItem_remban",
        "DbT5304ShujiiIkenshoIkenItem"."insertDantaiCd" as "dbT5304ShujiiIkenshoIkenItem_insertDantaiCd",
        "DbT5304ShujiiIkenshoIkenItem"."insertTimestamp" as "dbT5304ShujiiIkenshoIkenItem_insertTimestamp",
        "DbT5304ShujiiIkenshoIkenItem"."insertReamsLoginId" as "dbT5304ShujiiIkenshoIkenItem_insertReamsLoginId",
        "DbT5304ShujiiIkenshoIkenItem"."insertContextId" as "dbT5304ShujiiIkenshoIkenItem_insertContextId",
        "DbT5304ShujiiIkenshoIkenItem"."isDeleted" as "dbT5304ShujiiIkenshoIkenItem_isDeleted",
        "DbT5304ShujiiIkenshoIkenItem"."updateCount" as "dbT5304ShujiiIkenshoIkenItem_updateCount",
        "DbT5304ShujiiIkenshoIkenItem"."lastUpdateTimestamp" as "dbT5304ShujiiIkenshoIkenItem_lastUpdateTimestamp",
        "DbT5304ShujiiIkenshoIkenItem"."lastUpdateReamsLoginId" as "dbT5304ShujiiIkenshoIkenItem_lastUpdateReamsLoginId",
        "DbT5304ShujiiIkenshoIkenItem"."koroshoIfShikibetsuCode" as "dbT5304ShujiiIkenshoIkenItem_koroshoIfShikibetsuCode",
        "DbT5304ShujiiIkenshoIkenItem"."ikenItem" as "dbT5304ShujiiIkenshoIkenItem_ikenItem"
    </sql>
    
    <!--テーブルDbT5304ShujiiIkenshoIkenItemの項目をDbT5304ShujiiIkenshoIkenItemEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT5304ShujiiIkenshoIkenItemEntity" type="jp.co.ndensan.reams.db.dbz.entity.db.basic.DbT5304ShujiiIkenshoIkenItemEntity" autoMapping="true">
        <id property="shinseishoKanriNo" column="dbT5304ShujiiIkenshoIkenItem_shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
        <id property="ikenshoIraiRirekiNo" column="dbT5304ShujiiIkenshoIkenItem_ikenshoIraiRirekiNo" />
        <id property="remban" column="dbT5304ShujiiIkenshoIkenItem_remban" />
        <result property="insertDantaiCd" column="dbT5304ShujiiIkenshoIkenItem_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT5304ShujiiIkenshoIkenItem_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT5304ShujiiIkenshoIkenItem_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT5304ShujiiIkenshoIkenItem_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT5304ShujiiIkenshoIkenItem_isDeleted" />
        <result property="updateCount" column="dbT5304ShujiiIkenshoIkenItem_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT5304ShujiiIkenshoIkenItem_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT5304ShujiiIkenshoIkenItem_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="koroshoIfShikibetsuCode" column="dbT5304ShujiiIkenshoIkenItem_koroshoIfShikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="ikenItem" column="dbT5304ShujiiIkenshoIkenItem_ikenItem" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>

    <select id="select主治医意見書" resultMap="ResultMap_DbT5304ShujiiIkenshoIkenItemEntity"
            parameterType="jp.co.ndensan.reams.uz.uza.lang.RString" fetchSize="500" resultOrdered="true">
        SELECT
        <include refid="allColumns_DbT5304ShujiiIkenshoIkenItem" />
        FROM
        rgdb."DbT5304ShujiiIkenshoIkenItem"
        WHERE "DbT5304ShujiiIkenshoIkenItem"."shinseishoKanriNo" = #{申請書管理番号}
        AND "DbT5304ShujiiIkenshoIkenItem"."ikenshoIraiRirekiNo" =  #{依頼履歴番号}
</select>

</mapper>