<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT5129TennyuShiboマスタとエンティティのマッピング用XMLです。 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT5129TennyuShiboMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT5129TennyuShibo">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT5129TennyuShiboMapper.allColumns_DbT5129TennyuShibo" />
     FROM
         rgdb."DbT5129TennyuShibo"
     WHERE
         rgdb."DbT5129TennyuShibo"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT5129TennyuShibo">
         "DbT5129TennyuShibo"."shinseishoKanriNo" as "dbT5129TennyuShibo_shinseishoKanriNo",
         "DbT5129TennyuShibo"."insertDantaiCd" as "dbT5129TennyuShibo_insertDantaiCd",
         "DbT5129TennyuShibo"."insertTimestamp" as "dbT5129TennyuShibo_insertTimestamp",
         "DbT5129TennyuShibo"."insertReamsLoginId" as "dbT5129TennyuShibo_insertReamsLoginId",
         "DbT5129TennyuShibo"."insertContextId" as "dbT5129TennyuShibo_insertContextId",
         "DbT5129TennyuShibo"."isDeleted" as "dbT5129TennyuShibo_isDeleted",
         "DbT5129TennyuShibo"."updateCount" as "dbT5129TennyuShibo_updateCount",
         "DbT5129TennyuShibo"."lastUpdateTimestamp" as "dbT5129TennyuShibo_lastUpdateTimestamp",
         "DbT5129TennyuShibo"."lastUpdateReamsLoginId" as "dbT5129TennyuShibo_lastUpdateReamsLoginId",
         "DbT5129TennyuShibo"."nijiHanteiYMD" as "dbT5129TennyuShibo_nijiHanteiYMD",
         "DbT5129TennyuShibo"."nijiHanteiYokaigoJotaiKubunCode" as "dbT5129TennyuShibo_nijiHanteiYokaigoJotaiKubunCode",
         "DbT5129TennyuShibo"."nijiHanteiNinteiYukoKikan" as "dbT5129TennyuShibo_nijiHanteiNinteiYukoKikan",
         "DbT5129TennyuShibo"."nijiHanteiNinteiYukoKaishiYMD" as "dbT5129TennyuShibo_nijiHanteiNinteiYukoKaishiYMD",
         "DbT5129TennyuShibo"."nijiHanteiNinteiYukoShuryoYMD" as "dbT5129TennyuShibo_nijiHanteiNinteiYukoShuryoYMD",
         "DbT5129TennyuShibo"."shinsakaiKaisaiNo" as "dbT5129TennyuShibo_shinsakaiKaisaiNo",
         "DbT5129TennyuShibo"."shinsakaiIken" as "dbT5129TennyuShibo_shinsakaiIken",
         "DbT5129TennyuShibo"."yokaigoJotaizoReiCode" as "dbT5129TennyuShibo_yokaigoJotaizoReiCode",
         "DbT5129TennyuShibo"."ninteishinsakaiIkenShurui" as "dbT5129TennyuShibo_ninteishinsakaiIkenShurui",
         "DbT5129TennyuShibo"."shinsakaiMemo" as "dbT5129TennyuShibo_shinsakaiMemo",
         "DbT5129TennyuShibo"."nijiHanteiKekkaInputHoho" as "dbT5129TennyuShibo_nijiHanteiKekkaInputHoho"
    </sql>


    <!--テーブルDbT5129TennyuShiboの項目をDbT5129TennyuShiboEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT5129TennyuShiboEntity" type="jp.co.ndensan.reams.db.dbe.entity.db.basic.DbT5129TennyuShiboEntity" autoMapping="true">
        <id property="shinseishoKanriNo" column="dbT5129TennyuShibo_shinseishoKanriNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ShinseishoKanriNoTypeHandler"/>
        <result property="insertDantaiCd" column="dbT5129TennyuShibo_insertDantaiCd" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertTimestamp" column="dbT5129TennyuShibo_insertTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="insertReamsLoginId" column="dbT5129TennyuShibo_insertReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="insertContextId" column="dbT5129TennyuShibo_insertContextId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.UUIDTypeHandler"/>
        <result property="isDeleted" column="dbT5129TennyuShibo_isDeleted" />
        <result property="updateCount" column="dbT5129TennyuShibo_updateCount" />
        <result property="lastUpdateTimestamp" column="dbT5129TennyuShibo_lastUpdateTimestamp" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RDateTimeTypeHandler"/>
        <result property="lastUpdateReamsLoginId" column="dbT5129TennyuShibo_lastUpdateReamsLoginId" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="nijiHanteiYMD" column="dbT5129TennyuShibo_nijiHanteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="nijiHanteiYokaigoJotaiKubunCode" column="dbT5129TennyuShibo_nijiHanteiYokaigoJotaiKubunCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="nijiHanteiNinteiYukoKikan" column="dbT5129TennyuShibo_nijiHanteiNinteiYukoKikan" />
        <result property="nijiHanteiNinteiYukoKaishiYMD" column="dbT5129TennyuShibo_nijiHanteiNinteiYukoKaishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="nijiHanteiNinteiYukoShuryoYMD" column="dbT5129TennyuShibo_nijiHanteiNinteiYukoShuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shinsakaiKaisaiNo" column="dbT5129TennyuShibo_shinsakaiKaisaiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shinsakaiIken" column="dbT5129TennyuShibo_shinsakaiIken" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="ichijiHnateiKekkaHenkoRiyu" column="dbT5129TennyuShibo_ichijiHnateiKekkaHenkoRiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="yokaigoJotaizoReiCode" column="dbT5129TennyuShibo_yokaigoJotaizoReiCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="ninteishinsakaiIkenShurui" column="dbT5129TennyuShibo_ninteishinsakaiIkenShurui" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shinsakaiMemo" column="dbT5129TennyuShibo_shinsakaiMemo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="nijiHanteiKekkaInputHoho" column="dbT5129TennyuShibo_nijiHanteiKekkaInputHoho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="niniHanteiKekkaInputYMD" column="dbT5129TennyuShibo_niniHanteiKekkaInputYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
    </resultMap>
    <select id="getEntity" resultMap="ResultMap_DbT5129TennyuShiboEntity">
        SELECT
        <include refid="allColumns_DbT5129TennyuShibo"/>
        FROM
        rgdb."DbT5129TennyuShibo"
    </select>
</mapper>
