<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： DbT7010NinteichosaItakusakiJohoマスタとエンティティのマッピング用XMLです。 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT7010NinteichosaItakusakiJohoMapper">
    
    <!-- 概要： 削除されたデータ以外を全件取得するSQLです。 -->
    <sql id="noDeleted_DbT7010NinteichosaItakusakiJoho">
     SELECT
         <include refid="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT7010NinteichosaItakusakiJohoMapper.allColumns_DbT7010NinteichosaItakusakiJoho" />
     FROM
         rgdb."DbT7010NinteichosaItakusakiJoho"
     WHERE
         rgdb."DbT7010NinteichosaItakusakiJoho"."isDeleted" = FALSE
    </sql>

    <sql id="allColumns_DbT7010NinteichosaItakusakiJoho">
         "DbT7010NinteichosaItakusakiJoho"."市町村コード" as "dbT7010NinteichosaItakusakiJoho_市町村コード",
         "DbT7010NinteichosaItakusakiJoho"."介護事業者番号" as "dbT7010NinteichosaItakusakiJoho_介護事業者番号",
         "DbT7010NinteichosaItakusakiJoho"."事業者番号" as "dbT7010NinteichosaItakusakiJoho_事業者番号",
         "DbT7010NinteichosaItakusakiJoho"."介護事業者状況" as "dbT7010NinteichosaItakusakiJoho_介護事業者状況",
         "DbT7010NinteichosaItakusakiJoho"."調査委託区分" as "dbT7010NinteichosaItakusakiJoho_調査委託区分",
         "DbT7010NinteichosaItakusakiJoho"."割付定員" as "dbT7010NinteichosaItakusakiJoho_割付定員",
         "DbT7010NinteichosaItakusakiJoho"."割付地区" as "dbT7010NinteichosaItakusakiJoho_割付地区",
         "DbT7010NinteichosaItakusakiJoho"."機関の区分" as "dbT7010NinteichosaItakusakiJoho_機関の区分"
    </sql>


    <!--テーブルDbT7010NinteichosaItakusakiJohoの項目をDbT7010NinteichosaItakusakiJohoEntityの項目にマッピングします。-->
    <resultMap id="ResultMap_DbT7010NinteichosaItakusakiJohoEntity" type="jp.co.ndensan.reams.db.dbe.entity.db.basic.DbT7010NinteichosaItakusakiJohoEntity" autoMapping="true">
        <id property="市町村コード" column="dbT7010NinteichosaItakusakiJoho_市町村コード" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.LasdecCodeTypeHandler"/>
        <id property="介護事業者番号" column="dbT7010NinteichosaItakusakiJoho_介護事業者番号" typeHandler="jp.co.ndensan.reams.db.dbe.entity.typehandlers.KaigoJigyoshaNoTypeHandler"/>
        <result property="事業者番号" column="dbT7010NinteichosaItakusakiJoho_事業者番号" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.JigyoshaNoTypeHandler"/>
        <result property="介護事業者状況" column="dbT7010NinteichosaItakusakiJoho_介護事業者状況" />
        <result property="調査委託区分" column="dbT7010NinteichosaItakusakiJoho_調査委託区分" />
        <result property="割付定員" column="dbT7010NinteichosaItakusakiJoho_割付定員" />
        <result property="割付地区" column="dbT7010NinteichosaItakusakiJoho_割付地区" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="機関の区分" column="dbT7010NinteichosaItakusakiJoho_機関の区分" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
   <select id="getEntity" resultMap="ResultMap_DbT7010NinteichosaItakusakiJohoEntity">
        SELECT
        <include refid="allColumns_DbT7010NinteichosaItakusakiJoho"/>
        FROM
        rgdb."DbT7010NinteichosaItakusakiJoho"
    </select>
</mapper>
