<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--@reamsid_L DBC-2850-030 zuotao-->
<mapper namespace="jp.co.ndensan.reams.db.dbc.persistence.db.mapper.relate.kaishuriyushoshikyuketteitsuchishosakusei.IKaishuriyushoShikyuKetteitsuchishoSakuseiMapper">
    <resultMap id= "ResultMap_住宅改修理由書作成手数料請求" type="jp.co.ndensan.reams.db.dbc.entity.db.relate.kaishuriyushoshikyuketteitsuchisho.KaishuriyushoShikyuKetteitsuchishoEntity"
               autoMapping="true">
        <result property="shikibetsuCode" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="riyushoSakuseiSeikyuKingaku" column="riyushoSakuseiSeikyuKingaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler"/>
        <result property="jutakuKaishuJigyoshaMeisho" column="jutakuKaishuJigyoshaMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="kaishuNaiyo_kasho_Kibo" column="kaishuNaiyo_kasho_Kibo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kaishuTaishoJutakuJusho" column="kaishuTaishoJutakuJusho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="riyushoSakuseiYMD" column="riyushoSakuseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="hihokenshaNo" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler"/>
        <result property="riyushoSakuseiUketsukeYMD" column="riyushoSakuseiUketsukeYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="tesuryoShiharaiYoteiYMD" column="tesuryoShiharaiYoteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="fushikyuRiyu" column="fushikyuRiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shikyu_FushikyuKetteiYMD" column="shikyu_FushikyuKetteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shikyu_FushikyuKubun" column="shikyu_FushikyuKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="riyushoSakuseiJigyoshaNo" column="riyushoSakuseiJigyoshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.JigyoshaNoTypeHandler"/>
        <result property="shoKisaiHokenshaNo" column="shoKisaiHokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HokenshaNoTypeHandler"/>
        <result property="jutakuKaishuJushoShozaisha" column="jutakuKaishuJushoShozaisha" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="serviceCode" column="serviceCode" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.ServiceCodeTypeHandler"/>
        <result property="jutakuKaishuChakkoYMD" column="jutakuKaishuChakkoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="riyushoSakuseishaMei" column="riyushoSakuseishaMei" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.AtenaMeishoTypeHandler"/>
        <result property="riyushoSakuseishaMeiKana" column="riyushoSakuseishaMeiKana" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="riyushoSakuseiShinseiYMD" column="riyushoSakuseiShinseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shukeiNo" column="shukeiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shukeiFlag" column="shukeiFlag" />
        <association property="dbT7060Entity"
                       resultMap="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT7060KaigoJigyoshaMapper.ResultMap_DbT7060KaigoJigyoshaEntity"/>
        <association property="psmEntity" resultMap="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.UaFt200FindShikibetsuTaishoEntity"/>
    </resultMap>
    <select id="get住宅改修理由書作成手数料請求" resultOrdered="true" resultMap="ResultMap_住宅改修理由書作成手数料請求"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.dbc100020.KaishuriyushoShikyuKetteitsuchishoParameter"  fetchSize="500">
        SELECT
        被保険者台帳管理."shikibetsuCode" as "shikibetsuCode",
        "DbT3094"."riyushoSakuseiJigyoshaNo" AS "riyushoSakuseiJigyoshaNo"
        ,"DbT3095JutakuKaishuRiyushoTesuryoMeisai"."riyushoSakuseiUketsukeYMD" AS "riyushoSakuseiUketsukeYMD"
        ,"DbT3094"."tesuryoShiharaiYoteiYMD" AS "tesuryoShiharaiYoteiYMD"
        ,"DbT3094"."shikyu_FushikyuKetteiYMD" AS "shikyu_FushikyuKetteiYMD"
        ,"DbT3094"."shikyu_FushikyuKubun" AS "shikyu_FushikyuKubun"
        ,"DbT3095JutakuKaishuRiyushoTesuryoMeisai"."riyushoSakuseiYMD" AS "riyushoSakuseiYMD"
        ,"DbT3095JutakuKaishuRiyushoTesuryoMeisai"."kaishuTaishoJutakuJusho" AS "kaishuTaishoJutakuJusho"
        ,"DbT3095JutakuKaishuRiyushoTesuryoMeisai"."kaishuNaiyo_kasho_Kibo" AS "kaishuNaiyo_kasho_Kibo"
        ,"DbT3096JutakuKaishuRiyushoTesuryoShukei"."jutakuKaishuJigyoshaMeisho" AS "jutakuKaishuJigyoshaMeisho"
        ,"DbT3096JutakuKaishuRiyushoTesuryoShukei"."riyushoSakuseiSeikyuKingaku" AS "riyushoSakuseiSeikyuKingaku"
        ,"DbT3095JutakuKaishuRiyushoTesuryoMeisai"."hihokenshaNo" AS "hihokenshaNo"
        ,"DbT3094"."fushikyuRiyu" AS "fushikyuRiyu"
        ,"DbT3096JutakuKaishuRiyushoTesuryoShukei"."shoKisaiHokenshaNo" AS "shoKisaiHokenshaNo"
        ,"DbT3095JutakuKaishuRiyushoTesuryoMeisai"."serviceCode" as "serviceCode"
        ,"DbT3095JutakuKaishuRiyushoTesuryoMeisai"."jutakuKaishuChakkoYMD" AS "jutakuKaishuChakkoYMD"
        ,"DbT3095JutakuKaishuRiyushoTesuryoMeisai"."jutakuKaishuJushoShozaisha" AS "jutakuKaishuJushoShozaisha"
        ,"DbT3095JutakuKaishuRiyushoTesuryoMeisai"."riyushoSakuseishaMei" AS "riyushoSakuseishaMei"
        ,"DbT3095JutakuKaishuRiyushoTesuryoMeisai"."riyushoSakuseishaMeiKana" AS "riyushoSakuseishaMeiKana"
        ,"DbT3095JutakuKaishuRiyushoTesuryoMeisai"."riyushoSakuseiShinseiYMD" AS "riyushoSakuseiShinseiYMD"
        ,"DbT3095JutakuKaishuRiyushoTesuryoMeisai"."shukeiNo" AS "shukeiNo"
        ,"DbT3095JutakuKaishuRiyushoTesuryoMeisai"."TaishogaiFlag" AS "shukeiFlag"
        ,<include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT7060KaigoJigyoshaMapper.allColumns_DbT7060KaigoJigyosha"/>
        ,<include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.columns_ShikibetsuTaisho" />
        FROM
        <include refid="共通条件" />
    </select>
    <sql id="共通条件">
        (
        SELECT
        "DbT3094JutakuKaishuRiyushoTesuryoKettei"."riyushoSakuseiJigyoshaNo",
        "DbT3094JutakuKaishuRiyushoTesuryoKettei"."rirekiNo",
        "DbT3094JutakuKaishuRiyushoTesuryoKettei"."insertDantaiCd",
        "DbT3094JutakuKaishuRiyushoTesuryoKettei"."insertTimestamp",
        "DbT3094JutakuKaishuRiyushoTesuryoKettei"."insertReamsLoginId",
        "DbT3094JutakuKaishuRiyushoTesuryoKettei"."insertContextId" ,
        "DbT3094JutakuKaishuRiyushoTesuryoKettei"."isDeleted",
        "DbT3094JutakuKaishuRiyushoTesuryoKettei"."updateCount",
        "DbT3094JutakuKaishuRiyushoTesuryoKettei"."lastUpdateTimestamp",
        "DbT3094JutakuKaishuRiyushoTesuryoKettei"."lastUpdateReamsLoginId",
        "DbT3094JutakuKaishuRiyushoTesuryoKettei"."shikyu_FushikyuKetteiYMD",
        "DbT3094JutakuKaishuRiyushoTesuryoKettei"."shikyu_FushikyuKubun",
        "DbT3094JutakuKaishuRiyushoTesuryoKettei"."fushikyuRiyu",
        "DbT3094JutakuKaishuRiyushoTesuryoKettei"."tesuryoShiharaiYoteiYMD",
        "DbT3094JutakuKaishuRiyushoTesuryoKettei"."shukeiNo",
        "DbT3094JutakuKaishuRiyushoTesuryoKettei"."ketteiTsuchiSakuseiYMD" ,
        "DbT3094JutakuKaishuRiyushoTesuryoKettei"."furikomiTsuchiSakuseiYMD"
        FROM
        rgdb."DbT3094JutakuKaishuRiyushoTesuryoKettei" AS "DbT3094JutakuKaishuRiyushoTesuryoKettei"
        WHERE
        "DbT3094JutakuKaishuRiyushoTesuryoKettei"."ketteiTsuchiSakuseiYMD" is NULL
        AND #{決定開始日} <![CDATA[<=]]> "DbT3094JutakuKaishuRiyushoTesuryoKettei"."shikyu_FushikyuKetteiYMD"
        AND "DbT3094JutakuKaishuRiyushoTesuryoKettei"."shikyu_FushikyuKetteiYMD" <![CDATA[<=]]> #{決定終了日}
        <if test = "指定事業者のみフラグ">
            AND "DbT3094JutakuKaishuRiyushoTesuryoKettei"."riyushoSakuseiJigyoshaNo" = #{事業者コード}
        </if>
        ) AS "DbT3094"
        INNER JOIN rgdb."DbT3096JutakuKaishuRiyushoTesuryoShukei" AS  "DbT3096JutakuKaishuRiyushoTesuryoShukei"
        ON "DbT3094"."riyushoSakuseiJigyoshaNo" = "DbT3096JutakuKaishuRiyushoTesuryoShukei"."riyushoSakuseiJigyoshaNo"
        AND "DbT3094"."shukeiNo" = "DbT3096JutakuKaishuRiyushoTesuryoShukei"."shukeiNo"
        AND "DbT3096JutakuKaishuRiyushoTesuryoShukei"."isDeleted" = False
        INNER JOIN rgdb."DbT3095JutakuKaishuRiyushoTesuryoMeisai" AS "DbT3095JutakuKaishuRiyushoTesuryoMeisai"
        ON "DbT3094"."riyushoSakuseiJigyoshaNo" = "DbT3095JutakuKaishuRiyushoTesuryoMeisai"."riyushoSakuseiJigyoshaNo"
        AND "DbT3094"."shukeiNo" = "DbT3095JutakuKaishuRiyushoTesuryoMeisai"."shukeiNo"
        AND "DbT3095JutakuKaishuRiyushoTesuryoMeisai"."TaishogaiFlag" =False
        AND "DbT3095JutakuKaishuRiyushoTesuryoMeisai"."isDeleted" = False
        INNER JOIN rgdb."DbT1001HihokenshaDaicho" AS 被保険者台帳管理
        ON 被保険者台帳管理."hihokenshaNo" = "DbT3095JutakuKaishuRiyushoTesuryoMeisai"."hihokenshaNo"
        LEFT JOIN <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.tableName_PsmShikibetsuTaisho" />
        AS <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.as_ShikibetsuTaisho" />
        ON 被保険者台帳管理."shikibetsuCode" = <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.as_ShikibetsuTaisho" />."shikibetsuCode"
        LEFT JOIN rgdb."DbT7060KaigoJigyosha" AS "DbT7060KaigoJigyosha"
        ON  "DbT3094"."riyushoSakuseiJigyoshaNo"="DbT7060KaigoJigyosha"."jigyoshaNo"
        AND  "DbT7060KaigoJigyosha"."yukoShuryoYMD" is NULL
        ORDER BY  "DbT3094"."riyushoSakuseiJigyoshaNo" ASC,
        "DbT3094"."shikyu_FushikyuKetteiYMD" ASC,
        <if test="出力順 != null and !出力順.isEmpty()">
            ${出力順},
        </if>
        "DbT3095JutakuKaishuRiyushoTesuryoMeisai"."hihokenshaNo" ASC
    </sql>
    <select id="get住宅改修理由書作成手数料請求決定" resultOrdered="true" resultMap="ResultMap_DbT3094JutakuKaishuRiyushoTesuryoKetteiEntity"
            parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.dbc100020.KaishuriyushoShikyuKetteitsuchishoParameter"  fetchSize="500">
        SELECT
        DISTINCT
        "DbT3095JutakuKaishuRiyushoTesuryoMeisai"."hihokenshaNo",
        "DbT3094"."riyushoSakuseiJigyoshaNo" as "riyushoSakuseiJigyoshaNo",
        "DbT3094"."rirekiNo" as "rirekiNo",
        "DbT3094"."isDeleted" as "isDeleted",
        "DbT3094"."shikyu_FushikyuKetteiYMD" as "shikyu_FushikyuKetteiYMD",
        "DbT3094"."shikyu_FushikyuKubun" as "shikyu_FushikyuKubun",
        "DbT3094"."fushikyuRiyu" as "fushikyuRiyu",
        "DbT3094"."tesuryoShiharaiYoteiYMD" as "tesuryoShiharaiYoteiYMD",
        "DbT3094"."ketteiTsuchiSakuseiYMD" as "ketteiTsuchiSakuseiYMD",
        "DbT3094"."shukeiNo" as "dbT3094_shukeiNo",
        "DbT3094"."furikomiTsuchiSakuseiYMD" as "furikomiTsuchiSakuseiYMD"
        FROM
        <include refid="共通条件" />
    </select>
    <sql id="allColumns_DbT3094JutakuKaishuRiyushoTesuryoKettei">
        "DbT3094"."riyushoSakuseiJigyoshaNo" as "riyushoSakuseiJigyoshaNo",
        "DbT3094"."rirekiNo" as "rirekiNo",
        "DbT3094"."isDeleted" as "isDeleted",
        "DbT3094"."shikyu_FushikyuKetteiYMD" as "shikyu_FushikyuKetteiYMD",
        "DbT3094"."shikyu_FushikyuKubun" as "shikyu_FushikyuKubun",
        "DbT3094"."fushikyuRiyu" as "fushikyuRiyu",
        "DbT3094"."tesuryoShiharaiYoteiYMD" as "tesuryoShiharaiYoteiYMD",
        "DbT3094"."ketteiTsuchiSakuseiYMD" as "ketteiTsuchiSakuseiYMD",
        "DbT3094"."shukeiNo" as "dbT3094_shukeiNo",
        "DbT3094"."furikomiTsuchiSakuseiYMD" as "furikomiTsuchiSakuseiYMD"
    </sql>
    <resultMap id="ResultMap_DbT3094JutakuKaishuRiyushoTesuryoKetteiEntity" type="jp.co.ndensan.reams.db.dbc.entity.db.basic.DbT3094JutakuKaishuRiyushoTesuryoKetteiEntity" autoMapping="true">
        <id property="riyushoSakuseiJigyoshaNo" column="riyushoSakuseiJigyoshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.JigyoshaNoTypeHandler"/>
        <id property="rirekiNo" column="rirekiNo" />
        <result property="isDeleted" column="isDeleted" />
        <result property="shikyu_FushikyuKetteiYMD" column="shikyu_FushikyuKetteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shikyu_FushikyuKubun" column="shikyu_FushikyuKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="fushikyuRiyu" column="fushikyuRiyu" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="shukeiNo" column="dbT3094_shukeiNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="tesuryoShiharaiYoteiYMD" column="tesuryoShiharaiYoteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="ketteiTsuchiSakuseiYMD" column="ketteiTsuchiSakuseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="furikomiTsuchiSakuseiYMD" column="furikomiTsuchiSakuseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
    </resultMap>
    <select id="select処理日付管理"    resultMap="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT7022ShoriDateKanriMapper.ResultMap_DbT7022ShoriDateKanriEntity"
             parameterType="jp.co.ndensan.reams.db.dbc.definition.mybatisprm.dbc100020.KaishuriyushoShikyuKetteitsuchishoParameter" fetchSize="500" resultOrdered="true">
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbx.persistence.db.mapper.basic.IDbT7022ShoriDateKanriMapper.allColumns_DbT7022ShoriDateKanri" />
        FROM
        rgdb."DbT7022ShoriDateKanri" AS "DbT7022ShoriDateKanri"
        WHERE
        "DbT7022ShoriDateKanri"."subGyomuCode" = #{サブ業務コード}
        AND "DbT7022ShoriDateKanri"."shichosonCode" = #{市町村コード}
        AND "DbT7022ShoriDateKanri"."shoriName" = #{処理名}
        AND "DbT7022ShoriDateKanri"."shoriEdaban" = #{処理枝番}
        AND "DbT7022ShoriDateKanri"."nendo" = #{年度}
        AND "DbT7022ShoriDateKanri"."nendoNaiRenban" = #{年度内連番}
    </select>
</mapper>