<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--@reamsid_L DBD-3710-090 liuwei2-->
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<mapper namespace="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.relate.gemmenGengakuTaishoShaHanteiYoukonSakusei.ISetaiinHaakuJohoMapper">

    <select id="get世帯員把握情報"
            parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.gemmenGengakuTaishoShaHanteiYoukonSakusei.GemmenGengakuTaishoShaHanteiYoukonSakuseiMyBatisParameter"
            resultMap="RseultMap_SetaiinHaakuJohoEntity" fetchSize="500">
        SELECT
        被保険者."hihokenshaNo" AS "hihokenshaNo",
        被保険者."shikibetsuCode" AS "shikibetsuCode",
        被保険者."kijunYMD" AS "kijunYMD",
        被保険者."jushochiTokureiFlag" AS "jushochiTokureiFlag",
        MAX(当初所得引出."nendo") AS "shotokuNendo"
        FROM
        (
        SELECT A."hihokenshaNo",
        A."shikibetsuCode",
        A."jushochiTokureiFlag",
        (CASE WHEN A."koikinaiTokureiSochimotoShichosonCode" IS NULL THEN A."shichosonCode"
        WHEN A."koikinaiTokureiSochimotoShichosonCode" = '' THEN A."shichosonCode"
        ELSE  A."shichosonCode"
        END)AS "shichosonCode",
        B."kijunYMD"
        FROM rgdb."DbV1001HihokenshaDaicho" A
        INNER JOIN "gemmenGengakuTaishoShaHanteiYoukonSakuseiTaishoShaTemp" B
        ON A."hihokenshaNo" = B."hihokenshaNo"
        )AS 被保険者
        LEFT JOIN
        (
        SELECT C."shichosonCode",
        C."nendo",
        C."kijunTimestamp"
        FROM rgdb."DbT7022ShoriDateKanri" C
        WHERE C."subGyomuCode" = #{DBB介護賦課}
        AND C."shoriName" = '当初所得引出'
        AND C."shoriEdaban" = '0001'
        AND C."nendoNaiRenban" = '0001'
        ) AS 当初所得引出
        ON 被保険者."shichosonCode" = 当初所得引出."shichosonCode"
        AND 当初所得引出."kijunTimestamp" <![CDATA[<=]]> "kijunYMD"
        GROUP BY
        "hihokenshaNo",
        "shikibetsuCode",
        "kijunYMD",
        "jushochiTokureiFlag"
    </select>
    <resultMap id="RseultMap_SetaiinHaakuJohoEntity" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.gemmenGengakuTaishoShaHanteiYoukonSakusei.SetaiinHaakuJohoEntity" autoMapping="true">
        <result property="被保険者番号" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler" />
        <result property="識別コード" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler" />
        <result property="基準年月日" column="kijunYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="住所地特例フラグ" column="jushochiTokureiFlag" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="所得年度" column="shotokuNendo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleYearMonthTypeHandler" />
    </resultMap>
</mapper>
