<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--@reamsid_L DBD-3710-090 liuwei2-->
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<mapper namespace="jp.co.ndensan.reams.db.dbd.persistence.db.mapper.relate.gemmenGengakuTaishoShaHanteiYoukonSakusei.ITaishouJohoMapper">
    <select id="get対象情報"
            parameterType="jp.co.ndensan.reams.db.dbd.definition.mybatisprm.gemmenGengakuTaishoShaHanteiYoukonSakusei.GemmenGengakuTaishoShaHanteiYoukonSakuseiMyBatisParameter"
            resultMap="RseultMap_TaishouJohoEntity" fetchSize="500">
        SELECT
        A."hihokenshaNo",
        B."shikibetsuCode",
        B."honninKubun",
        B."kazeiKubun",
        B."nenkiniShunyuGaku",
        B."gokeiShotokuGaku",
        B."kazeiShotokuGaku",
        E."hikazeinenkinkannangaku",
        C."shikibetsuCode" AS "shikibetsuCode_RoreiFukushiNenkinJukyusha",
        D."shikibetsuCode" AS "shikibetsuCode_SeikatsuHogoJukyusha",
        A."kijunYMD"
        FROM  "gemmenGengakuTaishoShaHanteiYoukonSakuseiTaishoShaTemp" A
        INNER JOIN "TmpSetaiShotoku" B
        ON  B."hihokenshaNo" = A."hihokenshaNo"
        LEFT JOIN rgur."UrT0508SeikatsuHogoJukyusha" C
        ON C."shikibetsuCode" = B."shikibetsuCode"
        AND C."gyomuCode" = #{介護保険}
        AND C."jukyuKaishiYMD" <![CDATA[!=]]> A."kijunYMD"
        AND A."kijunYMD" <![CDATA[!=]]> C."jukyuHaishiYMD"
        LEFT JOIN rgdb."DbT7006RoreiFukushiNenkinJukyusha" D
        ON D."shikibetsuCode" = B."shikibetsuCode"
        AND D."jukyuKaishiYMD" <![CDATA[!=]]> A."kijunYMD"
        AND A."kijunYMD" <![CDATA[!=]]> D."jukyuHaishiYMD"
        LEFT JOIN
        (
        SELECT
        X."hihokenshano",
        SUM(to_number(X."dtkingaku1",'99999999999')) AS "hikazeinenkinkannangaku"
        FROM (
        SELECT
        Y."hihokenshano",
        Y."dtkingaku1",
        row_number() over(partition by Y."dtnenkinhokenshacode","genkisonenkinno",substring(Y."dtnenkincode",1,3) ORDER BY Y."dtsakuseiymd" DESC) AS 最大順
        FROM rgdb."DbT4037HikazeNenkinTaishosha" Y
        WHERE Y."dttaishoy" = #{年度}
        )AS X
        WHERE 最大順 = '1'
        GROUP BY
        X."hihokenshano"
        )AS E
        ON E."hihokenshano" = A."hihokenshaNo"
        ORDER BY
        A."hihokenshaNo",
        B."honninKubun"
    </select>

    <resultMap id="RseultMap_TaishouJohoEntity" type="jp.co.ndensan.reams.db.dbd.entity.db.relate.gemmenGengakuTaishoShaHanteiYoukonSakusei.TaishouJohoEntity" autoMapping="true">
        <result property="被保険者番号" column="hihokenshaNo" typeHandler="jp.co.ndensan.reams.db.dbx.entity.typehandlers.HihokenshaNoTypeHandler" />
        <result property="識別コード" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler" />
        <result property="本人区分" column="honninKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="課税区分_住民税減免前" column="kazeiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="年金収入額" column="nenkiniShunyuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="合計所得金額" column="gokeiShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="非課税年金勘案額" column="hikazeinenkinkannangaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="識別コード_生活保護受給者" column="shikibetsuCode_SeikatsuHogoJukyusha" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler" />
        <result property="識別コード_老齢福祉年金受給者" column="shikibetsuCode_RoreiFukushiNenkinJukyusha" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler" />
        <result property="基準日" column="kijunYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="課税所得額" column="kazeiShotokuGaku" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
    </resultMap>
</mapper>
