<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 概要： 介護認定審査会委員情報のマッピング用XMLです。 -->

<!-- どのマッパーインターフェースと対応するかを指定する -->
<mapper namespace="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.relate.shinsakaiiinjoho.IShinsakaiIinJohoMapper">

    
    <select id="getShinsakaiIinJohoEntity"
            resultMap="resultMap_ShinsakaiIinJohoEntity"
            parameterType="jp.co.ndensan.reams.db.dbe.definition.mybatis.param.shinsakaiiinjoho.ShinsakaiIinJohoMapperParameter" fetchSize="500">
        SELECT
        dbT5594ShinsakaiIinJoho.*,
        dbT5595KaigoNinteiShinsakaiIinShozokuKikanJoho.*
        FROM
        (
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT5594ShinsakaiIinJohoMapper.allColumns_DbT5594ShinsakaiIinJoho"/>
        FROM
        rgdb."DbT5594ShinsakaiIinJoho"
        WHERE
        "shinsakaiIinCode"=#{shinsakaiIinCode}
        ) AS dbT5594ShinsakaiIinJoho
        LEFT JOIN
        (
        SELECT
        <include refid="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT5595KaigoNinteiShinsakaiIinShozokuKikanJohoMapper.allColumns_DbT5595KaigoNinteiShinsakaiIinShozokuKikanJoho"/>
        FROM
        rgdb."DbT5595KaigoNinteiShinsakaiIinShozokuKikanJoho"
        )AS dbT5595KaigoNinteiShinsakaiIinShozokuKikanJoho
        ON
        dbT5594ShinsakaiIinJoho."dbT5594ShinsakaiIinJoho_shinsakaiIinCode"=dbT5595KaigoNinteiShinsakaiIinShozokuKikanJoho."dbT5595KaigoNinteiShinsakaiIinShozokuKikanJoho_shinsakaiIinCode"
        ;
    </select>

    <resultMap id="resultMap_ShinsakaiIinJohoEntity" type="jp.co.ndensan.reams.db.dbe.entity.db.relate.shinsakaiiinjoho.shinsakaiiinjoho.ShinsakaiIinJohoEntity" autoMapping="true">
        <id property="介護認定審査会委員情報Entity.shinsakaiIinCode" column="dbT5594ShinsakaiIinJoho_shinsakaiIinCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
       
        <association property="介護認定審査会委員情報Entity" 
                     resultMap="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT5594ShinsakaiIinJohoMapper.ResultMap_DbT5594ShinsakaiIinJohoEntity"/>
        <collection property="介護認定審査会委員所属機関情報Entity" 
                    resultMap="jp.co.ndensan.reams.db.dbe.persistence.db.mapper.basic.IDbT5595KaigoNinteiShinsakaiIinShozokuKikanJohoMapper.ResultMap_DbT5595KaigoNinteiShinsakaiIinShozokuKikanJohoEntity">
        </collection>
    </resultMap>

</mapper>
